{{ form_start(form, {'attr': {'role': 'form'}}) }}
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Name</label>
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The name of the page.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>URL</label>
                {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The URL that will lead to the page.</span>
            </div>
        </div>
    </div>
</div>
<button type="submit" class="btn btn-success btn-lg">{{ button_label|default('Save Page') }}</button>
<hr />
{{ form_end(form) }}
