{{ form_start(form, {'attr': {'role': 'form'}}) }}
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Name</label>
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The title of this course.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Instrument</label>
                {{ form_widget(form.instrument, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Instrument that is taught in this course.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Photograph</label>
                {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">An image that describes the course.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Type</label>
                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Type of course - group or individual?.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Teachers</label>
                {{ form_widget(form.teachers, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The teachers that teach this course.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Package</label>
                {{ form_widget(form.package, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The package price for this course.</span>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label>Description</label>
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">A detailed description of the course.</span>
            </div>
        </div>
        <div class="col-lg-12">
            <button class="btn mb-1 btn-primary">{{ button_label|default('Save Course') }}</button>
            {{ form_row(form._token) }}
        </div>
    </div>
</div>
