{% extends 'adm_base.html.twig' %}

{% block title %}List Courses{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
{% set thisPage = app.request.pathInfo %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">List Courses</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('course_new') }}" class="dropdown-item">create New</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">List Courses</h4>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Image</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for course in courses %}
                            <tr>
                                <td>{{ course.name }}</td>
                                <td>{{ course.description|striptags|slice(0,50) }}</td>
                                <td>{{ course.image }}</td>
                                <td>
                                    <a class="btn btn-sm mb-1 btn-primary" href="{{ path('course_show', {'id': course.id}) }}">show</a>
                                    <a class="btn btn-sm mb-1 btn-primary" href="{{ path('course_edit', {'id': course.id}) }}">edit</a>
                                    <a class="btn btn-sm mb-1 btn-info" href="{{ path('crop_resize_replace', {'thisId': course.id, 'entity': 'course', 'toPage': thisPage, 'url': course.image ~ '@770x458'}) }}">resize photo</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ path('course_new') }}">Create new</a>
                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}


{% endblock %}