{% extends 'adm_base.html.twig' %}

{% block title %}View {{course.name}}{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">{{course.name}}</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">View</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('course_index') }}" class="dropdown-item">Back to list</a>
                            {{ include('course/_delete_form.html.twig') }}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">view {{course.name}}</h4>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ course.id }}</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{ course.name }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ course.description|slice(0,100)|raw }}</td>
                            </tr>
                            <tr>
                                <th>Teachers</th>
                                <td>{% for teacher in course.teachers %}
                                    {{ teacher }}, 
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Image</th>
                                <td>{{ course.image }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <a href="{{ path('course_index') }}">back to list</a>

                    <a href="{{ path('course_edit', {'id': course.id}) }}">edit</a>

                    {{ include('course/_delete_form.html.twig') }}
                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}


{% endblock %}