{% extends 'adm_base.html.twig' %}
{% block title %}Edit schedules{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/schedule/jquery.schedule.css')}}">
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                    View schedules
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    {# <li class="nav-item">
                        <a class="nav-link active" href="{{path('teacher_schooltime_calendar_view', {'teacher_id': teacher.id })}}">Schedule</a>
                    </li> #}
                    {% if is_granted('ROLE_TEACHER') or is_granted('ROLE_ADMIN') %}
                    <li role="presentation" class="active">
                        <a href="{{ path('teacher_schooltime_calendar_edit', {'teacher_id': teacher.id}) }}">Edit schedule</a>
                    </li>
                    {% endif %}
                    <li role="presentation">
                        <a href="{{path( app.user.usertype ~ '_session_calendar', {'teacher_id': teacher.id })}}">Calendar</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li role="presentation">
                        <a href="{{ path('session_new', {'teacher_id': teacher.id }) }}">Create new session</a>
                    </li>
                    {% endif %}
                </ul>     
                
                <div id="schedule"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{# add new schooltime #}


{% block javascripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="{{asset('assets/js/sidebar.js')}}"></script>
    <script src="{{asset('assets/schedule/jquery.schedule.js')}}"></script>

    <script>
        // Full options
        $('#schedule').jqs({
            mode: 'read',
            data: [
                {% for period in periods %}
                {
                    "day": {{period.jsdaycode}},
                    "periods": [
                        ["{{period.beginAt|date('H:i')}}", "{{period.endAt|date('H:i')}}"]
                    ]
                },
                {% endfor %}
            ],
        });
    </script>
{% endblock %}