{% extends 'adm_base.html.twig' %}
{% block title %}Edit schedules{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/schedule/jquery.schedule.css')}}">
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Calendar</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">{{teacher.fullname}} Teacher Schedule</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-box">
                            <div class="dropdown float-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="{{path(app.user.usertype ~ '_session_calendar', {'teacher_id': teacher.id})}}" class="dropdown-item">Back to Calendar</a>
                                </div>
                            </div>
                            <div id="schedule"></div>
                        </div>
                    </div> <!-- end col -->
                </div>  <!-- end row -->

            </div>
            <!-- end col-12 -->
        </div> <!-- end row -->
        
    </div> <!-- container-fluid -->

{% endblock %}
{# add new schooltime #}


{% block javascripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="{{asset('assets/schedule/jquery.schedule.js')}}"></script>

    <script>
        // Full options
    $(function () {
                    
            var mytitle; 
            var latestIndex;
            
            $('#schedule').jqs({
                mode: 'edit',
                data: [
                    {% for period in periods %}
                    {
                        "day": {{period.jsdaycode}},
                        "periods": [
                            {
                                "start": "{{period.beginAt|date('H:i')}}",
                                "end": "{{period.endAt|date('H:i')}}",
                                "title":"{{period.title}}",
                            }                            
                        ]
                    },
                    {% endfor %}
                ],            
                onAddPeriod: function () {
                    console.log('period added');
                    var data = $('#schedule').jqs('export');

                    $.ajax({
                        url:'{{ (path('add_schedule')) }}',
                        type: "POST",
                        dataType: "json",
                        data: {
                            "data": data,
                            "teacher_id": "{{teacher.id}}",
                        },
                        async: true,
                        success: function (data)
                        {
                            console.log(data);
                            latestIndex = data;
                            $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Session ' + data + ' added successfully', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                            
                        },
                        error: function (xhr, status, error) {
                            console.log('error: ' + error);
                            $.notify({ icon: 'glyphicon glyphicon-danger-sign', title: 'Notification:', message: 'Something is wrong. Make sure you select an area where there is no existing period.', },{ element: 'body', type: "danger", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                        }
                    });

                },
                onRemovePeriod: function (period, jqs) {

                    if(period[0].title == ""){
                        mytitle = latestIndex + '-' + period[0].textContent.replace(/ /g,'');
                    } else {
                        mytitle = period[0].title;
                    }
                    
                    console.log('title: ' + mytitle);
                    
                    $.ajax({
                        url:'{{ (path('remove_schedule')) }}',
                        type: "POST",
                        dataType: "json",
                        data: {
                            "title": mytitle,
                        },
                        async: true,
                        success: function (data)
                        {
                            console.log(data);
                            $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Session removed successfully', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                        },
                        error: function (xhr, status, error) {
                            console.log('error: ' + error);
                            $.notify({ icon: 'glyphicon glyphicon-danger-sign', title: 'Notification:', message: 'Something is wrong. Reloading the page.', },{ element: 'body', type: "danger", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                            location.reload();
                            return false;
                        }
                    });

                },
            });
    });
    </script>
{% endblock %}