{% extends 'adm_base.html.twig' %}
{% block title %}Add schedules{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/timepicker/css/timepicker.css')}}" />
    <link rel="stylesheet" href="{{asset('assets/schedule/jquery.schedule.css')}}">
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Edit Schedule</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                            <li class="breadcrumb-item active">Edit schedule</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-6">
                <div class="text-center card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>          
                        
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('school_time_index') }}" class="dropdown-item">Back to list</a>
                            {{ include('school_time/_delete_form.html.twig') }}
                        </div>
                    </div>

                    {{ include('school_time/_form.html.twig', {'button_label': 'Update'}) }}
                </div>

            </div> <!-- end col -->

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="{{asset('assets/schedule/jquery.schedule.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/timepicker/js/timepicker.js')}}"></script>
    <script type="text/javascript">
        $(function () {
    
            $('#school_time_beginAt').timepicker();
    
        });
        $(function () {
    
            $('#school_time_endAt').timepicker();
    
        });
    </script>

{% endblock %}
