{% extends 'adm_base.html.twig' %}
{% block title %}Edit schedules{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/schedule/jquery.schedule.css')}}">
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                SchoolTime index
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>BeginAt</th>
                                <th>EndAt</th>
                                <th>Day</th>
                                {% if app.user.usertype == 'admin' %}
                                <th>Teacher</th>
                                {% endif %}
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for school_time in school_times %}
                            <tr>
                                <td>{{ school_time.id }}</td>
                                <td>{{ school_time.beginAt ? school_time.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ school_time.endAt ? school_time.endAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ school_time.day ? school_time.day|date('Y-m-d') : '' }}</td>
                                {% if app.user.usertype == 'admin' %}
                                <td>{{school_time.teacher.fullname}}</td>
                                {% endif %}
                                <td>
                                    <a href="{{ path('school_time_show', {'id': school_time.id}) }}">show</a>
                                    <a href="{{ path('school_time_edit', {'id': school_time.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {# <br /><br /><br /><a href="{{ path('school_time_new') }}">Create new</a> #}
                </div>
                
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
    <!-- /. ROW  -->

{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}

{% endblock %}
