<form method="post" action="{{ path('instrument_grade_delete', {'id': instrument_grade.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ instrument_grade.id) }}">
    <button class="btn mb-1 btn-danger">Delete</button>
</form>
