{% extends 'base.html.twig' %}

{% block title %}Edit InstrumentGrade{% endblock %}

{% block body %}
    <h1>Edit InstrumentGrade</h1>

    {{ include('instrument_grade/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('instrument_grade_index') }}">back to list</a>

    {{ include('instrument_grade/_delete_form.html.twig') }}
{% endblock %}
