{% extends 'base.html.twig' %}

{% block title %}InstrumentGrade index{% endblock %}

{% block body %}
    <h1>InstrumentGrade index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for instrument_grade in instrument_grades %}
            <tr>
                <td>{{ instrument_grade.id }}</td>
                <td>{{ instrument_grade.name }}</td>
                <td>
                    <a href="{{ path('instrument_grade_show', {'id': instrument_grade.id}) }}">show</a>
                    <a href="{{ path('instrument_grade_edit', {'id': instrument_grade.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('instrument_grade_new') }}">Create new</a>
{% endblock %}
