<form method="post" action="{{ path('blog_category_delete', {'id': blog_category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blog_category.id) }}">
    <button class="btn danger">Delete</button>
</form>
