{{ form_start(form, {'attr': {'role': 'form'}}) }}
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Name</label>
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Title of the article.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Slug</label>
                {{ form_widget(form.slug, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">URL friendly title eg. with dashes instead of spaces.</span>
            </div>
        </div>

    </div>
</div>
<button type="submit" class="btn btn-success btn-lg">{{ button_label|default('Save Category') }}</button>
<hr />
{{ form_end(form) }}