{% extends 'adm_base.html.twig' %}

{% block title %}List Blog Categories{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">List Blog Categories</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('blog_category_new') }}" class="dropdown-item">Create New</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">List Blog Categories</h4>


                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Slug</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for blog_category in blog_categories %}
                            <tr>
                                <td>{{ blog_category.id }}</td>
                                <td>{{ blog_category.name }}</td>
                                <td>{{ blog_category.slug }}</td>
                                <td>
                                    <a href="{{ path('blog_category_show', {'id': blog_category.id}) }}">show</a>
                                    <a href="{{ path('blog_category_edit', {'id': blog_category.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ path('blog_category_new') }}">Create new</a>
                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}


{% endblock %}