{% extends 'adm_base.html.twig' %}

{% block title %}Show Configuration{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Show Configuration</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Show</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('blog_category_index') }}">Back to list</a>
                            <a href="{{ path('blog_category_edit', {'id': blog_category.id}) }}" class="dropdown-item">edit</a>
                            {{ include('blog_category/_delete_form.html.twig') }}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Show Configuration</h4>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ blog_category.id }}</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{ blog_category.name }}</td>
                            </tr>
                            <tr>
                                <th>Slug</th>
                                <td>{{ blog_category.slug }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}


{% endblock %}