<form method="post" action="{{ path('notes_delete', {'id': note.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note.id) }}">
    <button class="btn mb-1 btn-danger">Delete</button>
</form>
