{% extends 'adm_base.html.twig' %}

{% block title %}Notes List{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
{# 0736991179 Shopit #}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Added Notes for {{student}}</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Notes</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            {% if app.user.usertype == "teacher" %}
                            <a href="{{ path('teacher_student_attendance') }}" class="dropdown-item">Back to attendance</a>
                            {% endif %}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">List of all notes</h4>


                        <table class="table">
                            <thead>
                                <tr>
                                    <th>CreatedOn</th>
                                    <th>Message</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for note in notes %}
                                <tr>
                                    <td>{{ note.createdOn ? note.createdOn|date("jS M Y \\a\\t g:i a") : '' }}</td>
                                    <td>{{ note.message }}</td>
                                    <td>
                                        <a href="{{ path('notes_show', {'id': note.id}) }}">show</a>
                                        <a href="{{ path('notes_edit', {'id': note.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if app.user.usertype == "teacher" %}
                        <a href="{{ path('teacher_student_attendance') }}">Back to attendance</a>
                        {% endif %}
                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('.datatable').DataTable();
        } );
    </script>

{% endblock %}
