{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block body %}
    <h1>Notes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ note.id }}</td>
            </tr>
            <tr>
                <th>CreatedOn</th>
                <td>{{ note.createdOn ? note.createdOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ note.message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('notes_index') }}">back to list</a>

    <a href="{{ path('notes_edit', {'id': note.id}) }}">edit</a>

    {{ include('notes/_delete_form.html.twig') }}
{% endblock %}
