<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Log in to Cheza music school portal" name="description" />
    <meta content="Maestrojosiah" name="author" />
    <title>Login to Cheza Music School Portal</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{asset('adm/assets/images/favicon.ico')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{asset('reg/css/bootstrap.min.css')}}">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{{asset('reg/css/fontawesome-all.min.css')}}">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{{asset('reg/font/flaticon.css')}}">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{asset('reg/style.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/loader.css')}}">
    <style>
        .fxt-template-layout33 .fxt-heading-content:before {
          content: "";
          border-radius: 0 100px 100px 0;
          position: absolute;
          z-index: -1;
          height: 100%;
          width: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url("{{asset('reg/img/figure/bg33-1.jpg')}}");
          top: 0;
          left: 0;
        }

    </style>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="preloader" class="preloader">
        <div class='inner'>
            <div class='line1'></div>
            <div class='line2'></div>
            <div class='line3'></div>
        </div>
    </div>
    <section class="fxt-template-animation fxt-template-layout33">
        <div class="fxt-content-wrap">
            <div class="fxt-heading-content">
                <div class="fxt-inner-wrap fxt-transformX-R-50 fxt-transition-delay-3">
                    <div class="fxt-transformX-R-50 fxt-transition-delay-10" style="text-align:center">
                        <a href="{{path('default')}}" class="fxt-logo"><img src="{{ asset('adm/assets/images/transparent-light-logo.png') }}" alt="Logo"></a>
                    </div>
                    <div class="fxt-transformX-R-50 fxt-transition-delay-10">
                        <div class="fxt-middle-content">
                            <div class="fxt-sub-title">Welcome!</div>
                            <h1 class="fxt-main-title">Glad to see you again.</h1>
                            <p class="fxt-description">Quality is at the heart of what we do.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fxt-form-content">
                <div class="fxt-main-form">
                    <div class="fxt-inner-wrap fxt-opacity fxt-transition-delay-13">
                        <h2 class="fxt-page-title">Login</h2>
                            <form method="post">

                                <div class="form-group mb-3">
                                    <label for="login">Email address</label>
                                    <input value="{{ last_username }}" name="email" class="form-control" type="email" id="login" required="" placeholder="Enter your email">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="password">Password</label>
                                    <input class="form-control" type="password" name="password" required="" id="password" placeholder="Enter your password">
                                </div>

                                <div class="form-group mb-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="_remember_me" class="custom-control-input" id="checkbox-signin" checked>
                                        <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                                    </div>
                                </div>

                                <div class="form-group mb-0 text-center">
                                    <button id="login-button" class="btn btn-primary btn-block" type="submit"> Log In </button>
                                </div>

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >            

                            </form>
                        <div id="fxt-login-option" class="fxt-login-option">
                    <div class="fxt-transformX-R-50 fxt-transition-delay-10">
                        <div class="col-12 text-center">
                            <a class="underlineHover" href="{{path('app_forgot_password_request')}}">Forgot Password?</a> |
                            <a class="underlineHover" href="{{path('app_register', {'usertype': 'teacher'})}}">Teacher sign up</a> |
                            <a class="underlineHover" href="{{path('app_register', {'usertype': 'student'})}}">Student sign up</a> |
                            <a class="underlineHover" href="{{path('app_register', {'usertype': 'admin'})}}">Admin</a> 
                            <br /><a class="underlineHover" href="{{path('default')}}">Back to homepage</a> 
                        </div> <!-- end col -->
                    </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="preloader">
            <div id="loader"></div>
        </div>

    </section>
    <!-- jquery-->
    <script src="{{asset('reg/js/jquery-3.5.0.min.js')}}"></script>
    <!-- Bootstrap js -->
    <script src="{{asset('reg/js/bootstrap.min.js')}}"></script>
    <!-- Imagesloaded js -->
    <script src="{{asset('reg/js/imagesloaded.pkgd.min.js')}}"></script>
    <!-- Validator js -->
    <script src="{{asset('reg/js/validator.min.js')}}"></script>
    <!-- Custom Js -->
    <script src="{{asset('reg/js/main.js')}}"></script>
    <script>
    </script>
    <script>
        $("#login-button").click(function(){
            $("#preloader").fadeIn(250);
        });
    </script>

</body>

</html>
