{% extends 'adm_base.html.twig' %}
{% block title %}Attendance{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- third party css -->
    <link href="{{asset('adm/assets/libs/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/responsive.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/buttons.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/select.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <!-- third party css end -->
    <style>
        td,th{
            padding:2px!important;
        }

        .card-margin {
            margin-bottom: 1.875rem;
        }

        .card {
            border: 0;
            box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
            -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
            -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
            -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
        }
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #ffffff;
            background-clip: border-box;
            border: 1px solid #e6e4e9;
            border-radius: 8px;
        }

        .card .card-header.no-border {
            border: 0;
        }
        .widget-49-meeting-action .btn {
          margin-bottom:3px;
        }
        .card .card-header {
            background: none;
            padding: 0 0.9375rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            min-height: 50px;
        }
        .card-header:first-child {
            border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
        }

        .widget-49 .widget-49-title-wrapper {
          display: flex;
          align-items: center;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-primary {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: #edf1fc;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
          color: #4e73e5;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
          color: #4e73e5;
          line-height: 1;
          font-size: 1rem;
          text-transform: uppercase;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: #fcfcfd;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-day {
          color: #777;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-month {
          color: #777;
          line-height: 1;
          font-size: 1rem;
          text-transform: uppercase;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-success {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: #e8faf8;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-day {
          color: #17d1bd;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-month {
          color: #17d1bd;
          line-height: 1;
          font-size: 1rem;
          text-transform: uppercase;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-info {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: #ebf7ff;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
          color: #36afff;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
          color: #36afff;
          line-height: 1;
          font-size: 1rem;
          text-transform: uppercase;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-warning {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: floralwhite;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-day {
          color: #FFC868;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-month {
          color: #FFC868;
          line-height: 1;
          font-size: 1rem;
          text-transform: uppercase;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-danger {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: #feeeef;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
          color: #F95062;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-month {
          color: #F95062;
          line-height: 1;
          font-size: 1rem;
          text-transform: uppercase;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-light {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: #fefeff;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
          color: #f7f9fa;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-month {
          color: #f7f9fa;
          line-height: 1;
          font-size: 1rem;
          text-transform: uppercase;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-dark {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: #ebedee;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
          color: #394856;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
          color: #394856;
          line-height: 1;
          font-size: 1rem;
          text-transform: uppercase;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-base {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: #f0fafb;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
          color: #68CBD7;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
          color: #68CBD7;
          line-height: 1;
          font-size: 1rem;
          text-transform: uppercase;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
          display: flex;
          flex-direction: column;
          margin-left: 1rem;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
          color: #3c4142;
          font-size: 14px;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
          color: #B1BAC5;
          font-size: 13px;
        }

        .widget-49 .widget-49-meeting-points {
          font-weight: 400;
          font-size: 13px;
          margin-top: .5rem;
        }

        .widget-49 .widget-49-meeting-points .widget-49-meeting-item {
          display: list-item;
          color: #727686;
        }

        .widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
          margin-left: .5rem;
        }

        .widget-49 .widget-49-meeting-action {
          text-align: left;
        }

        .widget-49 .widget-49-meeting-action a {
          text-transform: uppercase;
        }        
        .notes {
            background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
            background-image: -moz-linear-gradient(left, white 10px, transparent 10px), -moz-linear-gradient(right, white 10px, transparent 10px), -moz-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
            background-image: -ms-linear-gradient(left, white 10px, transparent 10px), -ms-linear-gradient(right, white 10px, transparent 10px), -ms-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
            background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
            background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
            background-size: 100% 100%, 100% 100%, 100% 31px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            line-height: 31px;
            font-family: Arial, Helvetica, Sans-serif;
            padding: 8px;
        }

        .notes:focus {
            outline: none;
        }
    </style>
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Attendance</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Student</a></li>
                            <li class="breadcrumb-item active">Attendance Register</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
    
        <!-- end page title -->
        <div class="row">
            <div class="col-xl-12">
            </div><!-- end col -->
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="mt-0 header-title" style="float:left;margin-right:10px;">Your Attendance</h4>
                    <a class="btn btn-sm mb-1 btn-primary" href="{{path(app.user.usertype ~ '_session_calendar')}}">Calendar</a>
                    <a class="btn btn-sm mb-1 btn-primary" href="{{path(app.user.usertype ~ '-dashboard')}}">Dashboard</a>
                          <div class="row">

                            {# for those that do not have today #}

                            {% for uig in userInstrumentGrades %}
                            {% set total_fee = uig.sessions|first.package.price %}
                            {% set feeperlesson = total_fee / uig.sessions|first.package.noOfSessions %}
                            {% set paid_amt = uig.payment %}
                            {% set balance = total_fee - paid_amt %}
                            {# {% set uigForInvoice = [] %}     #}
                                {% if uig.sessions|first.package.duration == '60 Minutes' %} {% set color = 'success' %} {% elseif uig.sessions|first.package.duration == '45 Minutes' %} {% set color = 'primary' %} {% elseif uig.sessions|first.package.duration == '30 Minutes' %} {% set color = 'secondary' %}{% else %} {% set color = 'success' %} {% endif %}
                                {% set sess = uig.sessions|filter( session => session.done == false ) %}
                                {% set datadays = "" %}
                                {% for s in uig.sessions|filter( session => session.invoiced != true ) %}{% set datadays = datadays ~ s.startingOn|date('dmY')%}{% endfor %}
                                {% if "now"|date('dmY') in datadays and sess|length > 0  %}
                                <div class="col-lg-4 col-md-6">
                                    <div class="card card-margin">
                                        <div class="card-header border-top border-success rounded-lg">
                                            <h5 class="card-title"><span><a style="">{{uig.sessions|first.teacher}}</a></span></h5>
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="widget-49">
                                                <div class="widget-49-title-wrapper">
                                                    <div class="widget-49-date-{{color}}">
                                                        <span class="widget-49-date-day">{{uig.sessions|first.startingOn|date('d')}}</span>
                                                        <span class="widget-49-date-month">{{uig.sessions|first.startingOn|date('M')}}</span>
                                                    </div>
                                                    <div class="widget-49-meeting-info">
                                                        <span class="widget-49-pro-title">{{uig}}</span>
                                                        {#<span class="widget-49-pro-title">{{uig.grade.name}} {{uig.instrument.name}}</span>#}
                                                        {% for k, day in days %}
                                                            {% if uig.id in k %}
                                                                <span class="widget-49-meeting-time">{{day}} Hrs</span>
                                                            {% endif %}
                                                        {% endfor %}
                                                        
                                                    </div>
                                                </div>
                                                <hr />
                                                <form id="note-{{uig.id}}">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlTextarea1">Notes (<span id="noteslength-{{uig.id}}">{{uig.notes|length}}</span>) <small>Last note: <span id="lastnotedate-{{uig.id}}"> {{ uig.notes is defined and uig.notes|length > 0 ? uig.notes|last.createdOn|date('jS M Y') : ''}}</span></small></label>
                                                        {# <textarea name="note_for_{{uig.id}}" class="form-control notes" id="note_for_{{uig.id}}" rows="3"></textarea> #}
                                                    </div>
                                                    <input type="hidden" name="uig_id" value="{{uig.id}}" />
                                                    <div class="widget-49-meeting-action">
                                                        <button type="button" id="viewnotes-{{uig.id}}" class="btn btn-xs btn-info">View Notes</button>
                                                        {# <a style="text-transform: capitalize" href="{{path('notes_index', {'uig': uig.id})}}" id="managenotes-{{uig.id}}" class="btn btn-xs btn-info">Manage</a>
                                                        <button type="button" id="savenote-{{uig.id}}" class="btn btn-xs btn-primary">Save Note</button> #}
                                                        {# <a style="text-transform: capitalize" href="{{path('assignment_new', {'student_id': uig.studentUserData.student.id, 'teacher_id': teacher.id})}}" class="btn btn-xs btn-secondary">+ Assignment</a> #}
                                                        {# <a style="text-transform: capitalize" href="{{path('assignment_index_student', {'student_id': uig.studentUserData.student.id})}}" class="btn btn-xs btn-secondary">Assignments</a> #}
                                                        <a href="{{ path('lesson_plan_index', {'uig_id': uig.id}) }}" class="dropdown-item">Lesson Plans</a>
                                                        {# <button type="button" id="sessionsfor-{{uig.id}}" style="text-transform: capitalize" class="btn btn-xs btn-success">+ Lesson Plan</button> #}
                                                    </div>
                                                </form>
                                                <hr />
{# 7Sx98QZmbtSKBD3qsSY5xYjqc promo code  #}
                                                {% set bal = paid_amt %}
                                                <div class="row">
                                                {% for session in uig.sessions %}
                                                    <div class="col-lg-3 col-md-6 col-sm-6 border border-white btn btn-outline btn-{{ bal >= feeperlesson == true ? 'primary' : 'secondary' }}" style="padding:2px;{{session.startingOn|date('d/m/Y') == "now"|date('d/m/Y') ? 'background-color: #5cb85c' : ''}}" id="entry-{{uig.id}}-{{session.id}}"><small>{{session.startingOn|date('M jS')}} &nbsp;<br /> <i class="{{ session.done == true ? 'fa fa-check text-light' : 'fa fa-close text-warning'}}"></i> </small></div>
                                                {% set bal = bal - feeperlesson %}
                                                {% endfor %}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                
                            {% endfor %}

                            {# for those that do not have today #}

                            {% for uig in userInstrumentGrades %}
                            {% set total_fee = uig.sessions|first.package.price %}
                            {% set feeperlesson = total_fee / uig.sessions|first.package.noOfSessions %}
                            {% set paid_amt = uig.payment %}
                            {% set balance = total_fee - paid_amt %}
                            {# {% set uigForInvoice = [] %}     #}
                                {% if uig.sessions|first.package.duration == '60 Minutes' %} {% set color = 'success' %} {% elseif uig.sessions|first.package.duration == '45 Minutes' %} {% set color = 'primary' %} {% elseif uig.sessions|first.package.duration == '30 Minutes' %} {% set color = 'secondary' %}{% else %} {% set color = 'success' %} {% endif %}
                                {% set sess = uig.sessions|filter( session => session.done == false ) %}
                                {% set datadays = "" %}
                                {% for s in uig.sessions|filter( session => session.invoiced != true ) %}{% set datadays = datadays ~ s.startingOn|date('dmY')%}{% endfor %}
                                {% if "now"|date('dmY') not in datadays and sess|length > 0  %}
                                <div class="col-lg-4 col-md-6">
                                    <div class="card card-margin">
                                        <div class="card-header no-border">
                                            <h5 class="card-title"><span><a style="">{{uig.sessions|first.teacher}}</a></span></h5>
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="widget-49">
                                                <div class="widget-49-title-wrapper">
                                                    <div class="widget-49-date-{{color}}">
                                                        <span class="widget-49-date-day">{{uig.sessions|first.startingOn|date('d')}}</span>
                                                        <span class="widget-49-date-month">{{uig.sessions|first.startingOn|date('M')}}</span>
                                                    </div>
                                                    <div class="widget-49-meeting-info">
                                                        <span class="widget-49-pro-title">{{uig}}</span>
                                                        {#<span class="widget-49-pro-title">{{uig.grade.name}} {{uig.instrument.name}}</span>#}
                                                        {% for k, day in days %}
                                                            {% if uig.id in k %}
                                                                <span class="widget-49-meeting-time">{{day}} Hrs</span>
                                                            {% endif %}
                                                        {% endfor %}
                                                        
                                                    </div>
                                                </div>
                                                <hr />
                                                <form id="note-{{uig.id}}">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlTextarea1">Notes (<span id="noteslength-{{uig.id}}">{{uig.notes|length}}</span>) <small>Last note: <span id="lastnotedate-{{uig.id}}"> {{ uig.notes is defined and uig.notes|length > 0 ? uig.notes|last.createdOn|date('jS M Y') : ''}}</span></small></label>
                                                        {# <textarea name="note_for_{{uig.id}}" class="form-control notes" id="note_for_{{uig.id}}" rows="3"></textarea> #}
                                                    </div>
                                                    <input type="hidden" name="uig_id" value="{{uig.id}}" />                                                    
                                                    <div class="widget-49-meeting-action">
                                                        <button type="button" id="viewnotes-{{uig.id}}" class="btn btn-xs btn-info">View Notes</button>
                                                        {# <a style="text-transform: capitalize" href="{{path('notes_index', {'uig': uig.id})}}" id="managenotes-{{uig.id}}" class="btn btn-xs btn-info">Manage</a>
                                                        <button type="button" id="savenote-{{uig.id}}" class="btn btn-xs btn-primary">Save Note</button> #}
                                                        {# <a style="text-transform: capitalize" href="{{path('assignment_new', {'student_id': uig.studentUserData.student.id, 'teacher_id': teacher.id})}}" class="btn btn-xs btn-secondary">+ Assignment</a> #}
                                                        {# <a style="text-transform: capitalize" href="{{path('assignment_index_student', {'student_id': uig.studentUserData.student.id})}}" class="btn btn-xs btn-secondary">Assignments</a> #}
                                                        <a style="text-transform: capitalize"  href="{{ path('lesson_plan_index', {'uig_id': uig.id}) }}" class="btn btn-xs btn-secondary">Lesson Plans</a>
                                                    </div>
                                                </form>
                                                <hr />
                                                {% set bal = paid_amt %}
                                                <div class="row">
                                                {% for session in uig.sessions %}
                                                      <div class="col-lg-3 col-md-6 col-sm-6 border border-white btn btn-outline btn-{{ bal >= feeperlesson == true ? 'primary' : 'secondary' }}" style="padding:2px;{{session.startingOn|date('d/m/Y') == "now"|date('d/m/Y') ? 'background-color: #dff0d8;color:black' : ''}}" id="entry-{{uig.id}}-{{session.id}}"><small>{{session.startingOn|date('M jS')}} &nbsp;<br /> <i class="{{ session.done == true ? 'fa fa-check text-success' : 'fa fa-close text-warning'}}"></i> </small></div>
                                                {% set bal = bal - feeperlesson %}
                                                {% endfor %}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                
                            {% endfor %}
                            
                            {# For those that are past #}
                            
                            <h3 style="display:block; width:100%">Past Attendance Records</h3><br />
                            {% for uig in userInstrumentGrades %}
                            {% set total_fee = uig.sessions|first.package.price %}
                            {% set feeperlesson = total_fee / uig.sessions|first.package.noOfSessions %}
                            {% set paid_amt = uig.payment %}
                            {% set balance = total_fee - paid_amt %}
                            {# {% set uigForInvoice = [] %}     #}
                                {% if uig.sessions|first.package.duration == '60 Minutes' %} {% set color = 'success' %} {% elseif uig.sessions|first.package.duration == '45 Minutes' %} {% set color = 'primary' %} {% elseif uig.sessions|first.package.duration == '30 Minutes' %} {% set color = 'secondary' %}{% else %} {% set color = 'success' %} {% endif %}
                                {% set sess = uig.sessions|filter( session => session.done == true ) %}
                                {% set datadays = "" %}
                                {% for s in uig.sessions|filter( session => session.invoiced != true ) %}{% set datadays = datadays ~ s.startingOn|date('dmY')%}{% endfor %}
                                {% if "now"|date('dmY') not in datadays and sess|length > 0  %}
                                <div class="col-lg-4 col-md-6">
                                    <div class="card card-margin">
                                        <div class="card-header no-border">
                                            <h5 class="card-title"><span><a style="">{{uig.sessions|first.teacher}}</a></span></h5>
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="widget-49">
                                                <div class="widget-49-title-wrapper">
                                                    <div class="widget-49-date-{{color}}">
                                                        <span class="widget-49-date-day">{{uig.sessions|first.startingOn|date('d')}}</span>
                                                        <span class="widget-49-date-month">{{uig.sessions|first.startingOn|date('M')}}</span>
                                                    </div>
                                                    <div class="widget-49-meeting-info">
                                                        <span class="widget-49-pro-title">{{uig}}</span>
                                                        {#<span class="widget-49-pro-title">{{uig.grade.name}} {{uig.instrument.name}}</span>#}
                                                        {% for k, day in days %}
                                                            {% if uig.id in k %}
                                                                <span class="widget-49-meeting-time">{{day}} Hrs</span>
                                                            {% endif %}
                                                        {% endfor %}
                                                        
                                                    </div>
                                                </div>
                                                <hr />
                                                <form id="note-{{uig.id}}">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlTextarea1">Notes (<span id="noteslength-{{uig.id}}">{{uig.notes|length}}</span>) <small>Last note: <span id="lastnotedate-{{uig.id}}"> {{ uig.notes is defined and uig.notes|length > 0 ? uig.notes|last.createdOn|date('jS M Y') : ''}}</span></small></label>
                                                        {# <textarea name="note_for_{{uig.id}}" class="form-control notes" id="note_for_{{uig.id}}" rows="3"></textarea> #}
                                                    </div>
                                                    <input type="hidden" name="uig_id" value="{{uig.id}}" />                                                    
                                                    <div class="widget-49-meeting-action">
                                                        <button type="button" id="viewnotes-{{uig.id}}" class="btn btn-xs btn-info">View Notes</button>
                                                        {# <a style="text-transform: capitalize" href="{{path('notes_index', {'uig': uig.id})}}" id="managenotes-{{uig.id}}" class="btn btn-xs btn-info">Manage</a>
                                                        <button type="button" id="savenote-{{uig.id}}" class="btn btn-xs btn-primary">Save Note</button> #}
                                                        {# <a style="text-transform: capitalize" href="{{path('assignment_new', {'student_id': uig.studentUserData.student.id, 'teacher_id': teacher.id})}}" class="btn btn-xs btn-secondary">+ Assignment</a> #}
                                                        {# <a style="text-transform: capitalize" href="{{path('assignment_index_student', {'student_id': uig.studentUserData.student.id})}}" class="btn btn-xs btn-secondary">Assignments</a> #}
                                                        <a style="text-transform: capitalize"  href="{{ path('lesson_plan_index', {'uig_id': uig.id}) }}" class="btn btn-xs btn-secondary">Lesson Plans</a>
                                                    </div>
                                                </form>
                                                <hr />
                                                {% set bal = paid_amt %}
                                                <div class="row">
                                                {% for session in uig.sessions %}
                                                      <div class="col-lg-3 col-md-6 col-sm-6 border border-white btn btn-outline btn-{{ bal >= feeperlesson == true ? 'primary' : 'secondary' }}" style="padding:2px;{{session.startingOn|date('d/m/Y') == "now"|date('d/m/Y') ? 'background-color: #dff0d8;color:black' : ''}}" id="entry-{{uig.id}}-{{session.id}}"><small>{{session.startingOn|date('M jS')}} &nbsp;<br /> <i class="{{ session.done == true ? 'fa fa-check text-success' : 'fa fa-close text-warning'}}"></i> </small></div>
                                                {% set bal = bal - feeperlesson %}
                                                {% endfor %}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                
                            {% endfor %}
                            
                          </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- Modal -->
        <div class="modal fade" id="view_all_notes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notes for <span id="student"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="view_notes">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
                
    </div> <!-- container-fluid -->
        
{% endblock %}
{% block javascripts %}
    <script src="{{asset('adm/assets/libs/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.bootstrap4.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.flash.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.print.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.keyTable.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.select.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/vfs_fonts.js') }}"></script>
    <!-- Datatables init -->
    <script src="{{asset('adm/assets/js/pages/datatables.init.js') }}"></script>

	<script>
      $(document).on('click', '[id^="viewnotes-"]', function(){


            var id = jQuery(this).attr("id").split("-")[1];
          
	  		    var form = document.getElementById("note-"+id);

            $.ajax({
                url:'/view/student/notes',
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType: "json",
                data: new FormData(form),
                async: true,
                    success: function (data)
                    {
                        $('#view_all_notes').modal('show')
                        console.log(data.message);
                        $("#view_notes").html(data.message);
                        $("#student").text(data.uig);
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
            });

	  });
	</script>

{% endblock %}