{% extends 'adm_base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/fullcalendar/css/core/main.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/fullcalendar/css/daygrid/main.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/fullcalendar/css/timegrid/main.min.css')}}">
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Calendar</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Student</a></li>
                            <li class="breadcrumb-item active">{{student.fullname}} Calendar</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">

                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path(app.user.usertype ~ '_session_calendar')}}" class="dropdown-item">Your Calendar</a>
                            <!-- item-->
                            <a href="javascript:void(0);" id="pdf" class="btn btn-primary btn-block">PDF</a>
                            <!-- item-->
                            <a href="javascript:void(0);" id="png"  class="btn btn-primary btn-block">PNG</a>
                        </div>
                    </div>

                    <div class="mt-3" id="calendar-holder"></div>
                </div>

            </div>
            <!-- end col-12 -->
        </div> <!-- end row -->
        
    </div> <!-- container-fluid -->

{% endblock %}


{% block javascripts %}
    <script src="{{asset('assets/fullcalendar/js/core/main.min.js')}}"></script>
    <script src="{{asset('assets/fullcalendar/js/interaction/main.min.js')}}"></script>
    <script src="{{asset('assets/fullcalendar/js/daygrid/main.min.js')}}"></script>
    <script src="{{asset('assets/fullcalendar/js/timegrid/main.min.js')}}"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');
            var myVar;

            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'dayGridMonth',
                editable: false,
                firstDay: 1,
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({"calendar-id": "student-calendar"})
                        },
                        failure: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
                events: [
                    {
                        title: 'My Event',
                        start: '2021-01-01',
                        popup: {
                            title: 'This is the title',
                            descri: 'This is the description',
                        }
                    }
                    // more events here
                    ],
                    eventMouseEnter: function(info) {

                        function myFunction() {
                            myVar = setTimeout(function(){ 
                                var tis = info.el;
                                var event = info.event;
                                console.log(tis.attributes['class']);
                                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: event.title, url: event.url },{delay: 5000, element: '.top-navbar', type: "success", newest_on_top: false, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                                
                            }, 1500);
                        }
                        myFunction();

                    },
                    eventMouseLeave: function(info) {
                        clearTimeout(myVar);
                    },
            });
            calendar.render();
        });
    </script>
{% endblock %}