{% extends 'adm_base.html.twig' %}

{% block title %}Student dashboard{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/sidebar.css')}}">
<style>
    .icon {
        font-size: 20px; 
        margin-right: 1rem!important;
        margin-left: 1rem!important;
    }
    h3 {
        font-size:2em!important;
    }
</style>
{% endblock %}

{% block body %}
 {% set bal = 0 %}
{% set prev_bal = 0 %}
{% set uigs = [] %}
{% for payment in payments %}
{% set uigs = uigs|merge([payment.uig.id]) %}
{% set bal = payment.type == "inv" ? bal + payment.amount : bal - payment.amount %}
{% if loop.index == payments|length - 1%}{% set prev_bal = payment.balance %}{% endif %}
{% endfor %}


    <!-- Start Content-->
    <div class="container-fluid">


        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Assignments</h4>
                    <a href="{{path('assignment_index_student', {'student_id': student.id})}}" class="btn btn-primary btn-sm">See all Assignments</a>
                    <a href="{{path('payonline', {'student_id': student.id})}}" class="btn btn-info btn-sm">PAY ONLINE</a>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Student</a></li>
                            <li class="breadcrumb-item active">Assignments</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
        <div class="row">

            {% for assignment in assignments %}

            {% if assignment.assessment == 'excellent' %}
            {% set color = 'success' %}
            {% elseif assignment.assessment == 'good' %}
            {% set color = 'primary' %}
            {% elseif assignment.assessment == 'fair' %}
            {% set color = 'warning' %}
            {% else %}
            {% set color = 'danger' %}
            {% endif %}

            <div class="col-xl-6 col-md-6 col-sm-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('assignment_index_student', {'student_id': assignments|first.student.id})}}" class="dropdown-item">All Assignments</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Added on {{assignment.addedOn|date('jS M Y \\a\\t h:ia')}}</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-secondary badge-pill float-left mt-3">{% if loop.index == 1 %} Here's your last assignment {% else %} Past assignment {% endif %} <i class="fa fa-hand-point-down"></i> </span>
                            <span class="badge badge-{{color}} badge-pill float-left mt-3">{{ assignment.assessment == 'later' ? 'Not assessed' : 'Teacher\'s assessment: ' ~ assignment.assessment|upper}} </span>

                            <hr /><hr />
                            <div style="text-align:left">{{assignment.assignment|raw}}</div>
                            <div style="text-align:left">{% if assignment.attachment|length > 0 %}<i class="fa fa-paperclip text-success"></i> <b>Attachment: </b><a class="btn btn-sm mb-1 btn-info" href="/attachments/{{assignment.attachment.file}}"> Download {{assignment.attachment}} </a> {% else %} No Attachments {% endif %}</div>
                            <h2 class="font-weight-normal mb-1 text-primary" id="practice_counter"> {{assignment.practiceSessions|length}} </h2>
                            <p class="text-muted text-{{color}} mb-3">Practice sessions for this assignment</p>
                        </div>
                        <div class="progress progress-bar-alt-success progress-sm">
                            <div class="progress-bar bg-success" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%;">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                        <br />
                        {% if loop.index == 1 %} <button id="doneToday-{{assignment.id}}" {% if loop.index == 1 %} {% if practicedToday|length > 0 %} class="btn btn-lg btn-success" disabled {% endif %}{% endif %} class='btn btn-lg btn-{{color}}' > {{practicedToday|length > 0 ? 'You' : 'I'}} have practiced today</button> {% endif %}

                    </div>
                </div>

            </div><!-- end col -->
            {% endfor %}

        </div>
        <!-- end row -->

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Dashboard</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Student</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-xl-3 col-md-6" style="cursor:pointer" id="goto-payonline">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a id="payonline-goto" href="{{path('payonline', {'student_id': student.id})}}" class="dropdown-item">Make Payment</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Pay Online</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-success badge-pill float-left mt-3">M-Pesa</span>
                            <h2 class="font-weight-normal mb-1"> {{bal}} </h2>
                            <p class="text-muted mb-3">Online MPesa Payment</p>
                        </div>
                        <div class="progress progress-bar-alt-success progress-sm">
                            <div class="progress-bar bg-success" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%;">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            <div class="col-xl-3 col-md-6" style="cursor:pointer" id="goto-calendar">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a id="calendar-goto" href="{{path(app.user.usertype ~ '_session_calendar')}}" class="dropdown-item">Your Timetable</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Timetable</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-success badge-pill float-left mt-3">Calendar</span>
                            <h2 class="font-weight-normal mb-1"> {{lessonsThisWeek|length}} </h2>
                            <p class="text-muted mb-3">Lessons in a week</p>
                        </div>
                        <div class="progress progress-bar-alt-success progress-sm">
                            <div class="progress-bar bg-success" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%;">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            <div class="col-xl-3 col-md-6" style="cursor:pointer" id="goto-sessions">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a id="sessions-goto" href="{{path('student-students-list')}}" class="dropdown-item">Your sessions</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Sessions</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-success badge-pill float-left mt-3">List </span>
                            <h2 class="font-weight-normal mb-1"> {{lessonsThisWeek|length}} </h2>
                            <p class="text-muted mb-3">Sessions in a week</p>
                        </div>
                        <div class="progress progress-bar-alt-success progress-sm">
                            <div class="progress-bar bg-success" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%;">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            <div class="col-xl-3 col-md-6" style="cursor:pointer" id="goto-fees">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a id="fees-goto" href="{{path('student-uigs')}}" class="dropdown-item">Fee Statement</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Statement</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-pink badge-pill float-left mt-3">{{bal > 0 ? 'Not cleared' : 'Cleared'}}</span>
                            <h2 class="font-weight-normal mb-1"> {{bal}} </h2>
                            <p class="text-muted mb-3">Fees Balance</p>
                        </div>
                        <div class="progress progress-bar-alt-pink progress-sm">
                            <div class="progress-bar bg-pink" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%;">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            <div class="col-xl-3 col-md-6" style="cursor:pointer" id="goto-attendance">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a id="attendance-goto" href="{{path('student_attendance', {'student_id': app.user.id})}}" class="dropdown-item">Attendance Register</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Attendance</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-success badge-pill float-left mt-3">Lesson plans</span>
                            <h2 class="font-weight-normal mb-1"> {{mysessions|filter( sess => sess.done == true)|length}}/{{mysessions|length}} </h2>
                            <p class="text-muted mb-3">Lessons Attended</p>
                        </div>
                        <div class="progress progress-bar-alt-success progress-sm">
                            <div class="progress-bar bg-success" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%;">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            {% for session in uniqSessions %}
            <div class="col-xl-3 col-md-6" style="cursor:pointer" id="goto-reports{{session.id}}">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a id="reports{{session.id}}-goto" href="{{path('reporting_index', {'teacher_id': session.teacher.id })}}" class="dropdown-item">Your Reports</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Reports</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-pink badge-pill float-left mt-3">Download / Print </span>
                            <h2 class="font-weight-normal mb-1"> {{session.teacher.teacherReports|filter(report => report.user == session.student)|length}} </h2>
                            <p class="text-muted mb-3">{{session.teacher}}</p>
                        </div>
                        <div class="progress progress-bar-alt-pink progress-sm">
                            <div class="progress-bar bg-pink" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%;">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->
            {% endfor %}

        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->




{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/sidebar.js')}}"></script>
    <script>

        $(document).on('click', '[id^="doneToday-"]', function(){

            var assignmentId = jQuery(this).attr("id").split("-")[1];
            $(this).removeClass('btn-danger');
            $(this).addClass('btn-success');
            $(this).html('You have practiced today');
            $("#practice_counter").text(parseInt($("#practice_counter").text()) + 1);
            $(this).prop('disabled', true);

            $.ajax({
                url:'{{ (path('done_practice_today')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "assignmentId": assignmentId,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });


    </script>
    <script>

    $(document).ready(function() {
        $('[id^="goto-"]').click( function () {
            var a_id = jQuery(this).attr("id").split("-")[1];
            var href = $('#'+a_id+'-goto').prop('href');
            window.location.href=href;
        })
    });


    </script>    
{% endblock %}