{% extends 'adm_base.html.twig' %}

{% block title %}Payments{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/datepicker/css/bootstrap-datepicker.standalone.min.css')}}">
   <!-- DataTables CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
   <!-- DataTables Responsive CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
{% endblock %}

{% block body %}

{% set bal = 0 %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Admin</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                            <li class="breadcrumb-item active">Statement for {{student}}</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
        
        <div class="row">
            <div class="col-xl-12">
                <table class="table card-box" id="datatable">
                    <thead>
                        <tr>
                            <th>Payment Date</th>
                            <th>Amount</th>
                            <th>Transaction</th>
                            <th>Instrument</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set prev_bal = 0 %}
                    {% set uigs = [] %}
                    {% for payment in payments %}
                    {% set uigs = uigs|merge([payment.uig.id]) %}
                    {% set bal = payment.type == "inv" ? bal + payment.amount : bal - payment.amount %}
                    {% if loop.index == payments|length - 1%}{% set prev_bal = payment.balance %}{% endif %}
                        <tr>
                            <td>{{payment.doneOn|date('Y-m-d')}}</td>
                            <td>{{payment.amount}}</td>
                            <td>{{payment.type == "inv" ? "Invoice" : "Payment" }}</td>
                            <td>{{payment.uig.instrument}} {{payment.uig.grade}}</td>
                            <td>{{bal}}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div><!-- end col -->
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
   <!-- DataTables JS -->
   <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
   <!-- DataTables Responsive JS -->
   <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#datatable').DataTable({
                "order": [[ 0, "asc" ]],
                "pageLength": 100,
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.childRowImmediate
                    }
                }

            });

        } );
    </script>

{% endblock %}
