{% extends 'adm_base.html.twig' %}

{% block title %}Your Active Sessions{% endblock %}
{% block stylesheets %}
    <link href="{{asset('adm/assets/libs/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/responsive.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/buttons.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/select.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <style>
        .btn-group {
        display: flex;
        }
    </style>
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Your Sessions</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Student</a></li>
                            <li class="breadcrumb-item active">Active Sessions List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card-box">

                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            {# <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'user-student'})}}" class="dropdown-item">Export Email list XLSX [All]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'phoneactiveuser-student'})}}" class="dropdown-item">Export Phone List XLSX [Active]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'pdf', 'entity': 'user-student'})}}" class="dropdown-item">PDF</a> #}
                        </div>
                    </div>

                    <table id="responsive-datatable" class="table table-striped table-bordered dt-responsive">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Course</th>
                                <th>Teacher</th>
                                <th>Balance</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for uig in uigs %}
                        {% if uig.studentUserData.student is defined %}
                        {% set feesToPay = uig.sessions|first.package.costPerLesson * uig.sessions|length %}
                        {% set balance = uig.payments and uig.payments|length > 0 ? uig.payments|last.balance : feesToPay %}
                            <tr>
                                {% if uig.siblingname %}
                                    <td class="text-primary">{{ uig.siblingname }}</td>
                                {% else %}
                                    <td>{{ uig.studentUserData.student == null ? 'NULL' : uig.studentUserData.student.fullname }}</td>
                                {% endif %}
                                <td>{{ uig.instrument.name }}</td>
                                <td>{{ uig.sessions|first.teacher.fullname }}</td>
                                <td id="balance-{{uig.id}}">{{ balance }}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Actions">
                                        {% if uig.sessions|length > 0 %}<a href="{{ path('session_show', {'id': uig.sessions|first.id}) }}" class="btn btn-sm mb-1 btn-info" style="white-space: nowrap;" >Details</a>{% endif %}
                                        <a href="{{path('print_form', {'uig_id': uig.id})}}" style="white-space: nowrap;" class="btn btn-sm mb-1 btn-primary" id="print-form" >Form</a>
                                        <a href="{{path('assignment_index', {'student_id': uig.studentUserData.student.id, 'teacher_id': uig.sessions|first.teacher.id })}}" class="btn btn-sm mb-1 btn-info" style="white-space: nowrap;" >Assignments</a>
                                        <a href="{{path('student_attendance', {'student_id': uig.studentUserData.student.id})}}" class="btn btn-sm mb-1 btn-info" style="white-space: nowrap;" >Attendance</a>
                                        {% if uig.uigGroups|length > 0 %}<a href="{{path('uig_group_index', {'user_id': uig.sessions|first.student.id })}}" class="btn btn-sm mb-1 btn-info" style="white-space: nowrap;" >Members</a>{% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->



{% endblock %}
{% block javascripts %}
    <script src="{{asset('adm/assets/libs/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.bootstrap4.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.flash.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.print.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.keyTable.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.select.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/vfs_fonts.js') }}"></script>
    <!-- Datatables init -->
    <script src="{{asset('adm/assets/js/pages/datatables.init.js') }}"></script>
{% endblock %}
