{% extends 'base.html.twig' %}

{% block title %}Package{% endblock %}

{% block body %}
    <h1>Package</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ package.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ package.price }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ package.duration }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ package.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('package_index') }}">back to list</a>

    <a href="{{ path('package_edit', {'id': package.id}) }}">edit</a>

    {{ include('package/_delete_form.html.twig') }}
{% endblock %}
