									<ul id="menu_main" class="menu_main_nav">
										<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="{{path('default')}}">Home</a>
										</li>
										{# <li class="menu-item menu-item-has-children"><a href="#">Blog</a> #}
											{# <ul class="sub-menu">
												<li class="menu-item"><a href="shop.html">Shop</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="#">Classic</a></li>
														<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
																<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
															</ul>
														</li>
														<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="portfcolio-2-columns.html">Portfolio 2 columns</a></li>
																<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
															</ul>
														</li>
													</ul>
												</li> #} 
												{# <li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
												<li class="menu-item"><a href="typography.html">Typography</a></li>
												<li class="menu-item"><a href="404.html">Page 404</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="customization.html">Customization</a></li>
														<li class="menu-item"><a href="support.html">Support</a></li>
														<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
													</ul>
												</li>
											</ul> #}
										{# </li> #}
										<li class="menu-item menu-item-has-children"><a href="{{path('about')}}">About</a>
											{# <ul class="sub-menu">
												<li class="menu-item"><a href="about.html">About style 1</a></li>
												<li class="menu-item"><a href="about-style-2/{{path('default')}}">About style 2</a></li>
											</ul> #}
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="{{path('flash_card_start')}}">Sight Reading Flash Cards</a></li>
												{#<li class="menu-item"><a href="masonry.html">Masonry</a></li>#}
												{#<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>#}
											</ul>
										</li>
										
										{# <li class="menu-item menu-item-has-children"><a href="{{path('classes')}}">Classes</a>
										</li> #}
										<li class="menu-item menu-item-has-children"><a href="{{path('public_post_index')}}">Blog</a>
										</li>
										<li class="menu-item"><a href="{{path('contacts')}}">Contact</a></li>
										{% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
										<li class="nav-item"><a href="{{path(app.user.usertype ~ '-dashboard')}}">Dashboard</a></li>
										{% else %}
										<li class="nav-item"><a class="nav-link" href="{{path('app_login')}} ">sign in</a></li>
										{% endif %}
										<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
									</ul>
