                <!--START menu responsive-->
                <div class="nicdark_navigation_3_sidebar_content nicdark_padding_40 nicdark_box_sizing_border_box nicdark_overflow_hidden nicdark_overflow_y_auto nicdark_transition_all_08_ease nicdark_bg_green nicdark_height_100_percentage nicdark_position_fixed nicdark_width_300 nicdark_right_300_negative nicdark_z_index_9">
                    <img alt="" width="25" class="nicdark_close_navigation_3_sidebar_content nicdark_cursor_pointer nicdark_right_20 nicdark_top_20 nicdark_position_absolute" src="{{ asset('education/img/icons/icon-close-white.svg') }}">
                    <div class="nicdark_navigation_3_sidebar">
                        <ul>
                            <li>
                                <a href="index.html">HOME</a>
                                <ul class="nicdark_sub_menu">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                    <li><a href="index-5.html">Home 5</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="courses.html">COURSES</a>
                                <ul class="nicdark_sub_menu">
                                    <li><a href="courses.html">Archive</a></li>
                                    <li><a href="single-course.html">Single Course</a></li>
                                    <li>
                                        <a href="account.html">User Pages</a>
                                        <ul class="nicdark_sub_menu">
                                            <li><a href="account.html">My Account</a></li>
                                            <li><a href="compare.html">Compare</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="courses.html">Shop</a>
                                        <ul class="nicdark_sub_menu">
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="thankyou.html">Thank You</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="teachers.html">TEACHERS</a>
                                <ul class="nicdark_sub_menu">
                                    <li><a href="teachers.html">Archive</a></li>
                                    <li><a href="single-teacher.html">Single Teacher</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">PAGES</a>
                                <ul class="nicdark_sub_menu">
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="single-course.html">Single Course</a></li>
                                    <li><a href="single-teacher.html">Single Teacher</a></li>
                                    <li><a href="contact-1.html">Contact</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="blog-standard.html">BLOG</a>
                                <ul class="nicdark_sub_menu">
                                    <li><a href="blog-standard.html">Archive Standard</a></li>
                                    <li><a href="blog-masonry.html">Archive Masonry</a></li>
                                    <li><a href="single.html">Post Right Sidebar</a></li>
                                    <li><a href="single-full-width.html">Post Full Width</a></li>
                                    <li><a href="single-left-sidebar.html">Post Left Sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact-1.html">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--END menu responsive-->
                <div class="nicdark_section">
                    <div class="nicdark_section nicdark_bg_orange">
                        <!--start nicdark_container-->
                        <div class="nicdark_container nicdark_clearfix">
                            <div class="grid grid_6 nicdark_padding_botttom_10 nicdark_padding_top_10 nicdark_text_align_center_responsive">
                                <div class="nicdark_navigation_top_header_3">
                                    <ul style="line-height: 16px!important;">
                                        <li>
                                            <img alt="" class="nicdark_margin_right_10 " width="15" src="{{ asset('education/img/icons/icon-world-white.svg') }}">
                                            <a class=" nicdark_line_height_18 nicdark_color_white" href="#">LANGUAGES</a>
                                            <ul class="nicdark_sub_menu">
                                                <li><a href="#">English</a></li>
                                                <li><a href="#">Russian</a></li>
                                                <li><a href="#">Italian</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <img alt="" class="nicdark_margin_right_10" width="15" src="{{ asset('education/img/icons/icon-share-white.svg') }}">
                                            <a class=" nicdark_line_height_18 nicdark_color_white" href="#">OUR SOCIAL</a>
                                            <ul class="nicdark_sub_menu">
                                                <li><a target="_blank" href="https://www.facebook.com/chezamusicschool">Facebook</a></li>
                                                <li><a target="_blank" href="https://twitter.com/chezamusicschool">Twitter</a></li>
                                                <li><a target="_blank" href="https://www.instagram.com/chezamusicschool/">Instagram</a></li>
                                            </ul>
                                            <a target="_blank" href="https://www.facebook.com/chezamusicschool"><img alt="" class="nicdark_margin_left_10  nicdark_margin_top_2 nicdark_display_none_all_responsive" width="12" src="{{ asset('education/img/icons/icon-facebook-white.svg') }}"></a>
                                            <a target="_blank" href="https://twitter.com/chezamusicschool"><img alt="" class="nicdark_margin_left_10  nicdark_margin_top_2 nicdark_display_none_all_responsive" width="12" src="{{ asset('education/img/icons/icon-twitter-white.svg') }}"></a>
                                            <a target="_blank" href="https://www.instagram.com/chezamusicschool/"><img alt="" class="nicdark_margin_left_10  nicdark_margin_top_2 nicdark_display_none_all_responsive" width="12" src="{{ asset('education/img/icons/icon-instagram-white.svg') }}"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="grid grid_6 nicdark_text_align_right nicdark_border_top_1_solid_orangedark_responsive nicdark_text_align_center_responsive nicdark_padding_botttom_10 nicdark_padding_top_10">
                                <div class="nicdark_navigation_top_header_3">
                                    <ul style="line-height: 16px!important;">
                                        <li>
                                            <img alt="" class="nicdark_margin_right_10 nicdark_float_left" width="15" src="{{ asset('education/img/icons/icon-user-white.svg') }}">
                                            <a class="nicdark_color_white" href="{{path('app_login')}}">LOGIN</a>
                                        </li>
                                        <li>
                                            <img alt="" class="nicdark_margin_right_10 nicdark_float_left" width="15" src="{{ asset('education/img/icons/icon-login-white.svg') }}">
                                            <a class="nicdark_color_white" href="{{path('app_register', {'usertype': 'student'})}}">REGISTER</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--end container-->
                    </div>
                </div>
                <div class="nicdark_section nicdark_position_relative ">
                    <div class="nicdark_section nicdark_bg_white">
                        <!--start nicdark_container-->
                        <div class="nicdark_container nicdark_clearfix nicdark_position_relative">
                            <div class="grid grid_12 nicdark_display_none_all_responsive">
                                <div class="nicdark_section nicdark_height_10"></div>
                                <!--LOGO-->
                                <a href="index.html"><img alt="" class="nicdark_position_absolute nicdark_left_15 nicdark_top_20" width="170" src="{{ asset('education/img/logos/cheza_logo_long_dark.png') }}"></a>
                                <!--right icons menu-->
                                <div class="nicdark_float_right nicdark_width_100  nicdark_position_relative nicdark_height_25 nicdark_display_none_all_responsive">
                                    <a href="cart.html">
                                    <img alt="" class="nicdark_opacity_05_hover nicdark_transition_all_08_ease nicdark_position_absolute nicdark_top_3_negative nicdark_left_0 nicdark_margin_left_20" width="25" src="{{ asset('education/img/icons/icon-cart-grey.svg') }}">
                                    </a>
                                    <a class="nicdark_bg_orange nicdark_color_white nicdark_padding_5 nicdark_border_radius_100_percentage nicdark_font_size_8 nicdark_line_height_5 nicdark_position_absolute nicdark_left_0 nicdark_top_10_negative nicdark_margin_left_40" href="#">2</a>
                                    <a class="nicdark_navigation_3_open_search_content" href="#"><img alt="" class="nicdark_opacity_05_hover nicdark_transition_all_08_ease nicdark_position_absolute nicdark_top_3_negative nicdark_right_0" width="25" src="{{ asset('education/img/icons/icon-search-grey.svg') }}"></a>
                                </div>
                                <!--right icons menu-->
                                <div class="nicdark_navigation_3 nicdark_text_align_right nicdark_float_right nicdark_display_none_all_responsive">
                                    <ul>
                                        <li>
                                            <a href="{{path('index')}}">HOME</a>
                                        </li>
                                        <li>
                                            <a href="courses.html">COURSES</a>
                                            <ul class="nicdark_sub_menu">
                                                <li><a href="courses.html">Archive</a></li>
                                                <li><a href="single-course.html">Single Course</a></li>
                                                <li>
                                                    <a href="account.html">User Pages</a>
                                                    <ul class="nicdark_sub_menu">
                                                        <li><a href="account.html">My Account</a></li>
                                                        <li><a href="compare.html">Compare</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="courses.html">Shop</a>
                                                    <ul class="nicdark_sub_menu">
                                                        <li><a href="cart.html">Cart</a></li>
                                                        <li><a href="checkout.html">Checkout</a></li>
                                                        <li><a href="thankyou.html">Thank You</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="teachers.html">TEACHERS</a>
                                            <ul class="nicdark_sub_menu">
                                                <li><a href="teachers.html">Archive</a></li>
                                                <li><a href="single-teacher.html">Single Teacher</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">PAGES</a>
                                            <ul class="nicdark_sub_menu">
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="single-course.html">Single Course</a></li>
                                                <li><a href="single-teacher.html">Single Teacher</a></li>
                                                <li><a href="contact-1.html">Contact</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="blog-standard.html">BLOG</a>
                                            <ul class="nicdark_sub_menu">
                                                <li><a href="blog-standard.html">Archive Standard</a></li>
                                                <li><a href="blog-masonry.html">Archive Masonry</a></li>
                                                <li><a href="single.html">Post Right Sidebar</a></li>
                                                <li><a href="single-full-width.html">Post Full Width</a></li>
                                                <li><a href="single-left-sidebar.html">Post Left Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="contact-1.html">CONTACT</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="nicdark_section nicdark_height_10"></div>
                            </div>
                            <!--RESPONSIVE-->
                            <div class="nicdark_width_50_percentage nicdark_text_align_center_all_iphone nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">
                                <div class="nicdark_section nicdark_height_20"></div>
                                <a href="index.html"><img alt="" width="170" class="" src="{{ asset('education/img/logos/cheza_logo_long_dark.png') }}"></a>   
                            </div>
                            <div class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">
                                <div class="nicdark_section nicdark_height_20"></div>
                                <div class="nicdark_float_right nicdark_width_100_percentage nicdark_text_align_right nicdark_text_align_center_all_iphone">
                                    <a class="nicdark_open_navigation_3_sidebar_content" href="#">
                                    <img alt="" class="nicdark_margin_right_20" width="25" src="{{ asset('education/img/icons/icon-menu-grey.svg') }}">
                                    </a>
                                    <div class="nicdark_position_relative nicdark_display_inline_block">
                                        <a href="cart.html"><img alt="" width="25" src="{{ asset('education/img/icons/icon-cart-grey.svg') }}"></a> 
                                        <a class="nicdark_bg_orange nicdark_color_white nicdark_padding_5 nicdark_border_radius_100_percentage nicdark_font_size_8 nicdark_line_height_5 nicdark_position_absolute nicdark_left_0 nicdark_top_10_negative nicdark_margin_left_20" href="#">2</a>
                                    </div>
                                    <img alt="" class="nicdark_margin_left_20 nicdark_navigation_3_open_search_content" width="25" src="{{ asset('education/img/icons/icon-search-grey.svg') }}"> 
                                </div>
                                <div class="nicdark_section nicdark_height_20"></div>
                            </div>
                            <!--RESPONSIVE-->
                        </div>
                        <!--end container-->
                    </div>
                </div>
