                <div class="nicdark_section nicdark_background_size_cover nicdark_background_position_center" style="background-image:url({{ asset('education/img/parallax/img2.jpg') }});">
                    <div class="nicdark_section nicdark_bg_greydark_alpha_gradient_5">
                        <div class="nicdark_section nicdark_height_250"></div>
                        <!--start nicdark_container-->
                        <div class="nicdark_container nicdark_clearfix ">
                            <div class="grid grid_12 nicdark_text_align_center">
                                <strong class="nicdark_color_white nicdark_font_size_70 nicdark_font_size_40_all_iphone nicdark_line_height_40_all_iphone nicdark_first_font">In-home music lessons</strong>
                                <div class="nicdark_section nicdark_height_30"></div>
                                <h3 class="nicdark_color_white nicdark_second_font">Quality is at the heart of what we do.</h3>
                                <div class="nicdark_section nicdark_height_60"></div>
                                <div class="nicdark_section">
                                  <form method="get" action="{{path('app_register', {'usertype': 'student'})}}">
                                    <div class="nicdark_section">
                                        <div class="nicdark_width_100_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left nicdark_position_relative">
                                            <select name="instrument" class="nicdark_border_radius_3 nicdark_placeholder_color_white nicdark_color_white nicdark_font_size_20  nicdark_border_width_2 nicdark_background_none" style="width:300px;height:45px;float:none!important;border-radius:5px;" placeholder="Keyword">
                                                <optgroup label="Instruments">
                                                    {% for ins in data.instruments %}
                                                        <option value="{{ins.id}}">{{ins.name}}</option>
                                                    {% endfor %}
                                                </optgroup>
                                                <optgroup label="Courses">
                                                    {% for ins in data.courses %}
                                                        <option value="{{ins.id}}">{{ins.name}}</option>
                                                    {% endfor %}                                    
                                                </optgroup>
                                                <optgroup label="Group Classes ">
                                                    {% for ins in data.traditional %}
                                                        <option value="{{ins.id}}">{{ins.name}}</option>
                                                    {% endfor %}
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="nicdark_section nicdark_height_40"></div>
                                    <div class="nicdark_section">
                                        <div class="nicdark_width_100_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left nicdark_position_relative">
                                            <button type="submit" class="nicdark_background_none_hover nicdark_color_white_hover nicdark_border_2_solid_white_hover nicdark_border_2_solid_green nicdark_transition_all_08_ease nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_10_20 nicdark_border_radius_3 ">BOOK NOW</button>   
                                        </div>
                                    </div>
                                  </form>
                                </div>
                                <div class="nicdark_section nicdark_height_150"></div>
                                <div class="nicdark_section">
                                    <div class=" nicdark_margin_10 nicdark_bg_greydark_alpha_4 nicdark_display_inline_block nicdark_border_radius_100_percentage nicdark_padding_20 nicdark_width_33 nicdark_height_33">
                                        <a class="nicdark_tooltip_jquery" title="Violin Course" href="{{path('app_register', {'usertype': 'student', 'instrument': 3})}}"><img alt="" class="" width="33" src="{{ asset('education/img/icons/violin.png') }}"></a>
                                    </div>
                                    <div class="nicdark_margin_10 nicdark_bg_greydark_alpha_4 nicdark_display_inline_block nicdark_border_radius_100_percentage nicdark_padding_20 nicdark_width_33 nicdark_height_33">
                                        <a class="nicdark_tooltip_jquery" title="Piano Course" href="{{path('app_register', {'usertype': 'student', 'instrument': 1})}}"><img alt="" class="" width="33" src="{{ asset('education/img/icons/piano.png') }}"></a>
                                    </div>
                                    <div class="nicdark_margin_10 nicdark_bg_greydark_alpha_4 nicdark_display_inline_block nicdark_border_radius_100_percentage nicdark_padding_20 nicdark_width_33 nicdark_height_33">
                                        <a class="nicdark_tooltip_jquery" title="Guitar Course" href="{{path('app_register', {'usertype': 'student', 'instrument': 2})}}"><img alt="" class="" width="33" src="{{ asset('education/img/icons/guitar.png') }}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end container-->
                        <div class="nicdark_section nicdark_height_20"></div>
                    </div>
                </div>
