<header class="top_panel_wrap top_panel_style_6 scheme_original">
	<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_over">
		<div class="top_panel_middle">
			<div class="content_wrap">
				<div class="contact_logo">
					<div class="logo">
						<a href="{{path('default')}}"><img src="{{asset('adm/assets/images/cheza_logo.jpg')}}" class="logo_main" alt="" width="169" height="43" style="width:169px!important;height:48px!important;"><img src="{{asset('adm/assets/images/cheza_logo.jpg')}}" class="logo_fixed" alt="" width="169" height="43" style="width:169px!important;height:48px!important;"></a>
					</div>
				</div>
				<div class="menu_main_wrap">
					<nav class="menu_main_nav_area">
						{% include ('templates/dt_nav_links.html.twig') %}
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="header_mobile">
	<div class="wrap">
		<div class="menu_button icon-menu"></div>
		<div class="logo">
			<a href="{{path('default')}}"><img src="{{asset('adm/assets/images/cheza_logo.jpg')}}" class="logo_main" alt="" width="169" height="43" style="width:169px!important;height:48px!important;"></a>
		</div>
	</div>
	<div class="side_wrap">
		<div class="close">Close</div>
		<div class="panel_top">
			<nav class="menu_main_nav_area">
				{% include ('templates/phone_nav_links.html.twig') %}
			</nav>
		</div>
		<div class="panel_bottom">
		</div>
	</div>
	<div class="mask"></div>
</div>
