        <section class="clean-faq dark pt-5">
            <ul class="nav flex-column shadow d-flex sidebar mobile-hid">
                <li class="nav-item logo-holder">
                    <div class="text-center text-white logo py-4 mx-4"><a class="text-white text-decoration-none" id="title" href="#"><strong>{{app.request.pathInfo|split('/')[1]|capitalize}}</strong></a><a class="text-white float-right" id="sidebarToggleHolder" href="#"><i class="icon ion-android-menu" id="sidebarToggle"></i></a></div>
                </li>
                {% if app.user %}
                <li class="nav-item"><a class="nav-link active text-left text-white py-1 px-0" href="{{path(app.user.usertype ~ '-dashboard')}}"><i class="icon ion-ios-speedometer"></i><span class="text-nowrap mx-2">Dashboard</span></a></li>
                <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="{{path(app.user.usertype)}}"><i class="icon ion-android-person"></i><span class="text-nowrap mx-2">Profile</span></a></li>
                {% if app.user.usertype == 'admin' %}<li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="{{path('session_index')}}"><i class="icon icon-calendar"></i><span class="text-nowrap mx-2">Sessions</span></a></li>{% endif %}
                {% endif %}
                {% if app.user.usertype == 'admin' %}
                    <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="{{path('admin-teachers-list')}}"><i class="icon ion-android-person"></i><span class="text-nowrap mx-2">Teachers</span></a></li>
                    <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="{{path('admin-students-list')}}"><i class="icon ion-android-person"></i><span class="text-nowrap mx-2">Students</span></a></li>
                {% else %}
                {% if app.user.usertype != 'student' %}
                    <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="{{path('teacher_schooltime_calendar_edit', {'teacher_id': app.user.id })}}"><i class="icon icon-clock"></i><span class="text-nowrap mx-2">Edit Schedule</span></a></li>                
                {% endif %}
                {% if app.user.usertype == 'teacher' %}
                    <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="{{path(app.user.usertype ~ '_student_attendance')}}"><i class="icon icon-calendar"></i><span class="text-nowrap mx-2">Attendance</span></a></li>
                {% endif %}
                    <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="{{path(app.user.usertype ~ '_session_calendar')}}"><i class="icon icon-calendar"></i><span class="text-nowrap mx-2">Calendar</span></a></li>
                {% endif %}      
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link text-left text-white py-1 px-0 position-relative" data-toggle="dropdown" aria-expanded="false" href="#"><i class="icon ion-settings"></i><span class="text-nowrap mx-2">Settings</span><i class="icon ion-android-arrow-dropdown float-none float-lg-right fa-sm"></i></a>
                    <div class="dropdown-menu border-0 animated fadeIn"><a class="dropdown-item text-white" href="#"><span>Change password</span></a><a class="dropdown-item text-white" href="#"><span>Change email</span></a><a class="dropdown-item text-white" href="#"><span>More</span></a></div>
                </li>
                <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="{{path('app_logout')}}"><i class="icon ion-log-out"></i><i class="fa fa-caret-right d-none position-absolute"></i><span class="text-nowrap mx-2">Sign out</span></a></li>
            </ul>
        </section>
