			<section class="slider_wrap slider_fullwide slider_engine_revo slider_alias_slider_melody">
				<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
					<div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
						<ul>
							<li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide"
											data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<img src="{{asset('publicsite/images/slider1.jpg')}}" alt="" title="slider1" width="1920" height="787" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<div class="tp-caption BigWhiteText   tp-resizeme" id="slide-1-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="-35" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
												data-transform_out="opacity:0;s:300;" data-mask_in="x:0px;y:0px;" data-start="500" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 5; white-space: nowrap;">Music for Everyone </div>
								<div class="tp-caption SmallWhiteText   tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="" data-y="center" data-voffset="26" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
												data-transform_out="opacity:0;s:300;" data-mask_in="x:0px;y:0px;" data-start="3240" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">Kids and adults </div>
								<div class="tp-caption MelodyButton rev-btn " id="slide-1-layer-3" data-x="center" data-hoffset="" data-y="center" data-voffset="98" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
												data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(92, 200, 191, 1.00);" data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="3510" data-splitin="none" data-splitout="none" data-responsive_offset="on"
												data-responsive="off" style="z-index: 7; white-space: nowrap;text-transform:uppercase;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a style="color:#333;" href="{{path('app_register', {'usertype': 'student'})}}">Start Learning</a> </div>
							</li>
							<li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide"
											data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<img src="{{asset('publicsite/images/slider2.jpg')}}" alt="" title="slider2" width="1920" height="787" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<div class="tp-caption BigWhiteText   tp-resizeme" id="slide-2-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="-35" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
												data-transform_out="opacity:0;s:300;" data-mask_in="x:0px;y:0px;" data-start="500" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 5; white-space: nowrap;">Learn with Convenience </div>
								<div class="tp-caption SmallWhiteText   tp-resizeme" id="slide-2-layer-2" data-x="center" data-hoffset="" data-y="center" data-voffset="26" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
												data-transform_out="opacity:0;s:300;" data-mask_in="x:0px;y:0px;" data-start="3240" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">Quality home lessons </div>
								<div class="tp-caption MelodyButton rev-btn " id="slide-2-layer-3" data-x="center" data-hoffset="" data-y="center" data-voffset="98" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
												data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(92, 200, 191, 1.00);" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="3510" data-splitin="none"
												data-splitout="none" data-responsive_offset="on" data-responsive="off" style="z-index: 7; white-space: nowrap;text-transform:uppercase;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a style="color:#333;" href="{{path('app_register', {'usertype': 'student'})}}">Start Learning</a> </div>
							</li>
							<li data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide"
											data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<img src="{{asset('publicsite/images/slider3.jpg')}}" alt="" title="slider3" width="1920" height="787" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<div class="tp-caption BigWhiteText   tp-resizeme" id="slide-3-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="-35" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:{-250,250};y:{-150,150};rX:{-90,90};rY:{-90,90};rZ:{-360,360};sX:0;sY:0;opacity:0;s:2000;e:Power4.easeInOut;"
												data-transform_out="opacity:0;s:300;" data-start="500" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.1" style="z-index: 5; white-space: nowrap;">Start With a Note </div>
								<div class="tp-caption SmallWhiteText   tp-resizeme" id="slide-3-layer-2" data-x="center" data-hoffset="" data-y="center" data-voffset="26" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
												data-transform_out="opacity:0;s:300;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="3240" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">Classical & contemporary </div>
								<div class="tp-caption MelodyButton rev-btn " id="slide-3-layer-3" data-x="center" data-hoffset="" data-y="center" data-voffset="98" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
												data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(92, 200, 191, 1.00);" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="3510" data-splitin="none"
												data-splitout="none" data-responsive_offset="on" data-responsive="off" style="z-index: 7; white-space: nowrap;text-transform:uppercase;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a style="color:#333;" href="{{path('app_register', {'usertype': 'student'})}}">Start Learning</a> </div>
							</li>
						</ul>
						<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
					</div>
				</div>
			</section>
