        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('default')}}"><i class="fa fa-gear"></i> <strong><small>{% if app.user %}{{app.user.usertype|upper}}{% endif %}</small></strong></a>
                {# <ul class="nav navbar-top-links navbar-right">
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="{{path(app.user.usertype)}}"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="{{path('settings')}}"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                            <li><a href="{{path('app_logout')}}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                            {% else %}
                            <li><a href="{{path('app_login')}}"><i class="fa fa-sign-out fa-fw"></i> Sign in</a></li>
                            {% endif %}
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul> #}
            </div>

        </nav>
