        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
		<div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    {# <li>
                        <a class="{{app.request.get('_route') == app.user.usertype ~ '-dashboard' ? 'active-menu' }}" href="{{path(app.user.usertype ~ '-dashboard')}}"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li> #}
                    {# <li>
                        <a class="{{app.request.get('_route') == app.user.usertype ? 'active-menu' }}" href="{{path(app.user.usertype)}}"><i class="fa fa-user"></i> Profile</a>
                    </li> #}
					{# <li>
                        {% if app.user.usertype == 'admin' %}<a class="{{app.request.get('_route') == 'session_index' ? 'active-menu' }}" href="{{path('session_index')}}"><i class="fa fa-bar-chart-o"></i> Sessions</a>{% endif %}
                    </li> #}
                        {# {% if is_granted('IS_AUTHENTICATED_REMEMBERED')and app.user.usertype == 'admin' %}
                        <li>
                            <a class="{{app.request.get('_route') == 'admin-teachers-list' ? 'active-menu' }}" href="{{path('admin-teachers-list')}}"><i class="fa fa-users"></i> Teachers</a>
                        </li>
                        <li>
                            <a class="{{app.request.get('_route') == 'admin-students-list' ? 'active-menu' }}" href="{{path('admin-students-list')}}"><i class="fa fa-users"></i> Students</a>
                        </li>
                        {% endif %} #}
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED')and app.user.usertype == 'teacher' %}
                        {# <li>
                            <a class="{{app.request.get('_route') == 'teacher_schooltime_calendar_edit' ? 'active-menu' }}" href="{{path('teacher_schooltime_calendar_edit', {'teacher_id': app.user.id })}}"><i class="fa fa-pencil-square-o"></i> Edit Schedule</a>
                        </li> #}
                        {# <li>
                            <a class="{{app.request.get('_route') == app.user.usertype ~ '_session_calendar' ? 'active-menu' }}" href="{{path(app.user.usertype ~ '_session_calendar')}}"><i class="fa fa-calendar"></i> Calendar</a>
                        </li> #}
                        {# <li>
                            <a class="{{app.request.get('_route') == 'teacher-students-list' ? 'active-menu' }}" href="{{path('teacher-students-list')}}"><i class="fa fa-users"></i> Students</a>
                        </li> #}
                        {# <li>
                            <a class="{{app.request.get('_route') == app.user.usertype ~ '_student_attendance' ? 'active-menu' }}" href="{{path(app.user.usertype ~ '_student_attendance')}}"><i class="fa fa-book"></i> Attendance</a>
                        </li> #}
                        {# <li>
                            <a class="{{app.request.get('_route') == app.user.usertype ~ 'settings_new' ? 'active-menu' }}" href="{{path('settings_new')}}"><i class="fa fa-gear"></i> Settings</a>
                        </li> #}
                        {% endif %}
                    
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED')and app.user.usertype == 'student' %}
                        <li>
                            <a class="{{app.request.get('_route') == app.user.usertype ~ '_session_calendar' ? 'active-menu' }}" href="{{path(app.user.usertype ~ '_session_calendar')}}"><i class="fa fa-calendar"></i> Calendar</a>
                        </li>
                        <li>
                            <a class="{{app.request.get('_route') == app.user.usertype ~ 'settings_new' ? 'active-menu' }}" href="{{path('settings_new')}}"><i class="fa fa-gear"></i> Settings</a>
                        </li>
                        {% endif %}
                    
                    <li>
                        <a href="{{path('app_logout')}}"><i class="fa fa-sign-out"></i> Sign out </a>
                    </li>

                    {# <li>
                        <a class="active-menu" href="empty.html"><i class="fa fa-fw fa-file"></i> Empty Page</a>
                    </li> #}
                </ul>

            </div>

        </nav>
