{% extends 'base.html.twig' %}
{% block title %}Register | Cheza Music School{% endblock %}

{% block stylesheets %}
<meta name="robots" content="noindex">
<script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
<script src="https://apis.google.com/js/platform.js"></script>
<style>
input, label, select, textarea, .nicdark_datepicker {
    color: #000!important;
}
</style>
{% endblock %}

{% block page %}
{% if data.usertype == 'student' %}
{% set activity = "Book Lessons" %}
{% elseif data.usertype == 'teacher' %}
{% set activity = "Create Teacher Account" %}
{% elseif data.usertype == 'admin' %}
{% set activity = "Create Admin Account" %}
{% endif %}
<div class="page">
    {{ include('tmp/header.html.twig', {'page': 'Home', 'subpage': 'Registration', 'pagetitle': activity}) }}
    <div class="nicdark_section">
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">
            <div class="grid grid_8">
                <div class="nicdark_section nicdark_bg_white nicdark_border_1_solid_grey">
                    <div class="nicdark_section nicdark_padding_20 nicdark_box_sizing_border_box nicdark_bg_grey nicdark_border_bottom_1_solid_grey nicdark_text_align_center">
                        <h3 class=""><strong>{{activity}} Now</strong></h3>
                    </div>
                    <div class="nicdark_section nicdark_padding_10 nicdark_box_sizing_border_box">
                        {{ form_start(registrationForm, {'attr': {'id': 'registration_form'}}) }}

                        {% if errors|length > 0 %}
                        <h3>The form has the following errors</h3>
                        <ul>
                        {% for error in errors %}
                            <li style="color:red">{{ error.message }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                        {% if data.usertype == "student" %}
                        <div class="nicdark_section">
                            <div class="nicdark_width_100_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                <select name="instrument" id="instrument"  class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_right_width_0 nicdark_border_left_width_0">
                                    <option value="14" selected>Select Instrument</option>
                                    <optgroup label="Instruments">
                                        {% for ins in data.instruments %}
                                            <option value="{{ins.id}}">{{ins.name}}</option>
                                        {% endfor %}
                                    </optgroup>
                                    <optgroup label="Courses">
                                        {% for ins in data.courses %}
                                            <option value="{{ins.id}}">{{ins.name}}</option>
                                        {% endfor %}                                    
                                    </optgroup>
                                    <optgroup label="Group classes ">
                                        {% for ins in data.traditional %}
                                            <option value="{{ins.id}}">{{ins.name}}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="nicdark_section">
                            <div class="nicdark_width_100_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                <select id="grade" name="grade" class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_right_width_0 nicdark_border_left_width_0">
                                    {% for grade in data.instrumentGrades %}
                                        <option value="{{grade.id}}">{{grade.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endif %}
                        <div class="nicdark_section">
                            <div class="nicdark_width_100_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                {{ form_widget(registrationForm.fullname, {'attr': {'class': 'nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_right_width_0 nicdark_border_left_width_0', 'placeholder': 'Enter your name *', 'autocomplete': 'off', 'required': 'required'}}) }}
                            </div>
                        </div>
                        <div class="nicdark_section">
                            <div class="nicdark_width_100_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                <input type="text"  name="phone" class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_right_width_0 nicdark_border_left_width_0" id="phone" required="required" placeholder="Safaricom number *" autocomplete='off'>
                            </div>
                        </div>
                        <div class="nicdark_section">
                            <div class="nicdark_width_100_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                {{ form_widget(registrationForm.email, {'attr': {'class': 'nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_right_width_0 nicdark_border_left_width_0', 'placeholder': 'Enter your Email *', 'autocomplete': 'off', 'required': 'required'}}) }}
                            </div>
                        </div>
                        <div class="nicdark_section">
                            <div class="nicdark_width_100_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_right_width_0 nicdark_border_left_width_0', 'placeholder': 'Create a password *', 'autocomplete': 'off', 'required': 'required'}}) }}
                            </div>
                        </div>
                        <div class="nicdark_section">
                            <div class="nicdark_width_100_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_right_width_0 nicdark_border_left_width_0', 'placeholder': 'Repeat password *', 'autocomplete': 'off', 'required': 'required'}}) }}
                            </div>
                        </div>
                        <input type="number" name="myusername" placeholder="Username" class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_right_width_0 nicdark_border_left_width_0">
                        <div class="nicdark_section nicdark_height_20"></div>
                        <div class="nicdark_section">
                            <div class=" nicdark_float_left">
                                
                                <label for="registration_form_agreeTerms" class="ps-4">{{ form_widget(registrationForm.agreeTerms, {'attr': {'style': 'width:auto;', 'placeholder': 'Enter your name *', 'autocomplete': 'off', 'required': 'required', 'checked': 'checked'}}) }} I agree with <a href="https://chezamusicschool.co.ke/dV" target="_blank">Terms and Conditions</a></label>
                            </div>
                        </div>
                        <div class="nicdark_section nicdark_height_20"></div>

                        <div class="nicdark_section">
                            <div class="nicdark_width_100_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                <button type="submit" class="nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_width_100_percentage nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_10_20 nicdark_border_radius_3" id="registration_button">Register</button>
                            </div>
                        </div>
                        <div class="nicdark_section nicdark_height_50"></div>

                        <a href="{{path('app_login')}}">Login instead</a>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>

                <div id="fxt-login-option" class="fxt-login-option">
                </div>
                <div id="preloader">
                    <div id="loader"></div>
                </div>
                {# {{include('sidebar_right')}} #}
            </div>
            <div class="grid grid_4">
                <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                    <table class="nicdark_section">
                        <tbody>
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_20 "><img alt="" class="" width="40" src="img/icons/icon-email-grey.svg"></td>
                                <td class="nicdark_padding_20 ">
                                    <h4 class=" nicdark_text_align_right">Email: info@chezamusicschool.co.ke</h4>
                                </td>
                            </tr>
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_20"><img alt="" class="" width="40" src="img/icons/icon-mobile-grey.svg"></td>
                                <td class="nicdark_padding_20">
                                    <h4 class=" nicdark_text_align_right">Phone: 0711 832 933</h4>
                                </td>
                            </tr>
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_20 "><img alt="" class="" width="40" src="img/icons/icon-skype-grey.svg"></td>
                                <td class="nicdark_padding_20 ">
                                    <h4 class=" nicdark_text_align_right">Facebook: fb.me/chezamusicschool</h4>
                                </td>
                            </tr>
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_20 "><img alt="" class="" width="40" src="img/icons/icon-link-grey.svg"></td>
                                <td class="nicdark_padding_20 ">
                                    <h4 class=" nicdark_text_align_right">Web: www.chezamusicschool.co.ke</h4>
                                </td>
                            </tr>
                            <tr>
                                <td class="nicdark_padding_20 "><img alt="" class="" width="40" src="img/icons/icon-pin-grey.svg"></td>
                                <td class="nicdark_padding_20 ">
                                    <h4 class=" nicdark_text_align_right">Location: Nairobi</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="nicdark_section nicdark_height_50"></div>
            </div>

        </div>
        <!--end container-->
    </div>
{# {{ include('eventPaymentModal', {'eventId': blog.id, 'eventName': blog.title }) }} #}
{{ include('tmp/footer.html.twig') }}

</div>

    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>

{% endblock %}    

{% block javascripts %}

    <script>
	{% if query == "" %}
	{% else %}
    $( document ).ready(function() {
        $("#instrument").val("{{query}}").prop('multiple', false);
    });
	{% endif %}
    $( document ).ready(function() {
        $("#infoModal").modal('show');
        console.log('loaded');
    });
    </script>
    <script>

        $("#registration_button").click(function(){

            var form = document.getElementById("registration_form");
            var form_data = $( form ).serializeArray();

            var valid = validateForm(form_data);
            console.log('valid: ' + valid);
            if(valid){
                $("#preloader").fadeIn(250);
            }
        });

    
    </script>

{% endblock %}
