<form style="display:inline;" method="post" action="{{ path('user_instrument_grade_delete', {'id': user_instrument_grade.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item? This will delete all payment records for this student too.');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_instrument_grade.id) }}">
    <button class="btn btn-block btn-danger">DELETE ALL</button>
</form>
