{% extends 'base.html.twig' %}

{% block title %}Edit UserInstrumentGrade{% endblock %}

{% block body %}
    <h1>Edit UserInstrumentGrade</h1>

    {{ include('user_instrument_grade/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_instrument_grade_index') }}">back to list</a>

    {{ include('user_instrument_grade/_delete_form.html.twig') }}
{% endblock %}
