{% extends 'base.html.twig' %}

{% block title %}UserInstrumentGrade index{% endblock %}

{% block body %}
    <h1>UserInstrumentGrade index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_instrument_grade in user_instrument_grades %}
            <tr>
                <td>{{ user_instrument_grade.id }}</td>
                <td>
                    <a href="{{ path('user_instrument_grade_show', {'id': user_instrument_grade.id}) }}">show</a>
                    <a href="{{ path('user_instrument_grade_edit', {'id': user_instrument_grade.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_instrument_grade_new') }}">Create new</a>
{% endblock %}
