{% extends 'adm_base.html.twig' %}

{% block title %}Sessions{% endblock %}
{% block stylesheets %}
            <!-- third party css -->
        <link href="{{asset('adm/assets/libs/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{asset('adm/assets/libs/datatables/responsive.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{asset('adm/assets/libs/datatables/buttons.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{asset('adm/assets/libs/datatables/select.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
        <!-- third party css end -->

{% endblock %}

{% block body %}



    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Datatables</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                            <li class="breadcrumb-item active">Datatables</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

                    

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('admin_session_calendar', {'teacher_id': user_instrument_grade.sessions|first.teacher.id })}}" class="dropdown-item">Calendar</a>
                            <!-- item-->
                            <a href="{{ path('session_show', {'id': user_instrument_grade.sessions|first.id}) }}" class="dropdown-item">Student Details</a>
                            <!-- item-->
                            <a href="{{ path('admin-payments-list', {'uig_id': user_instrument_grade.id}) }}" class="dropdown-item">Payments</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'session-for-' ~ user_instrument_grade.id })}}" class="dropdown-item">Export EXCEL</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'pdf', 'entity': 'session-for-' ~ user_instrument_grade.id})}}" class="dropdown-item">Export PDF</a>
                            <!-- item-->
                            {{ include('user_instrument_grade/_delete_form.html.twig') }}
                        </div>
                    </div>
                    <h4 class="mt-0 header-title">Sessions for {{user_instrument_grade}}
                    <span class="text-muted font-14 mb-3">
                    {% set sessionscount = user_instrument_grade.sessions|length %}
                    {% set total_fee = user_instrument_grade.sessions|first.package.price / user_instrument_grade.sessions|first.package.noOfSessions * sessionscount %}
                    {% set feeperlesson = total_fee / sessionscount %}
                    {% set paid_amt = 0 %}
                    {% for payment in user_instrument_grade.payments|filter( payment => payment.type == 'pmt' ) %}
                        {% set paid_amt = paid_amt + payment.amount %}
                    {% endfor %}
                    {% set balance = total_fee - paid_amt %}
                    
                    
                    <strong> | Fee balance : {{ balance <= 0 ? 'cleared' : balance }}</strong>

                    </span></h4>
                        <form action="{{path('delete_selected_sessions')}}" method="POST">

                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>Date (Y-m-d)</th>
                                    <th>Begin at</th>
                                    <th>End at</th>
                                    <th>Cleared</th>
                                    <th>Attended</th>
                                    <th>Invoiced</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                    {% set bal = paid_amt %}
                                    {% for session in user_instrument_grade.sessions %}
                                        <tr>
                                            <td>{{ session.startingOn|date('Y-m-d') }}</td>
                                            <td>{{ session.beginAt ? session.beginAt|date('g:i A') : '' }}</td>
                                            <td>{{ session.endAt ? session.endAt|date('g:i A') : '' }}</td>
                                            <td>{{ bal >= feeperlesson == true ? 'Cleared' : 'Not cleared' }}</td>
                                            <td>{{ session.done == true ? 'Attended' : 'Not attended' }}</td>
                                            <td>{{ session.invoiced == true ? 'Invoiced' : 'Not invoiced' }}</td>
                                            <td>
                                                <a href="{{path('session_show', {'id': session.id})}}" class="btn btn-sm mb-1 btn-info">View</a>
                                                {% if session.invoiced == true %}
                                                <a href="{{path('mark_as_not_invoiced', {'session_id': session.id})}}" class="btn btn-sm mb-1 btn-info">Not Invoiced</a>
                                                {% else %}
                                                <a href="{{path('mark_as_invoiced', {'session_id': session.id})}}" class="btn btn-sm mb-1 btn-info">Invoiced</a>
                                                {% endif %}
                                                {% if session.done == true %}
                                                <a href="{{path('mark_as_not_attended', {'session_id': session.id})}}" class="btn btn-sm mb-1 btn-info">Not Attended</a>
                                                {% else %}
                                                <a href="{{path('mark_as_attended', {'session_id': session.id})}}" class="btn btn-sm mb-1 btn-info">Attended</a>
                                                {% endif %}
                                                <a id="deleteSess-{{session.id}}" onclick="return confirm('Are you sure you want to delete session for {{session.startingOn|date('jS F Y')}}?');" href="{{path('session_delete_one', {'session_id': session.id})}}" class="btn btn-sm mb-1 btn-info">Delete</a>
                                                <input type="checkbox" name="item[]" value="check-{{session.id}}" style="width:20px;height:20px;" >
                                            </td>
                                        </tr>
                                    {% set bal = bal - feeperlesson %}
                                    {% else %}
                                        <tr>
                                            <td colspan="4">no records found</td>
                                        </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                        <button class="btn mb-1 btn-warning" type="submit" style="border-bottom:10px" onclick="return confirm('Are you sure you want to delete several sessions?');">Delete Selected</button>
                        <button id="addSession" type="button" class="btn mb-1 btn-info" style="display:inline" data-toggle="modal" data-target="#newSessionModal">Add Session</button>                                                                
                    </form>

                </div>
            </div>
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->

    {% set last_session = user_instrument_grade.sessions|last %}
    <!-- Modal -->
    <div id="newSessionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">New Session</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" method="post" action="{{path('add_one_session')}}">
            <input type="hidden" name="teacher_id" id="teacher_id" value="{{last_session.teacher.id}}">
            <input type="hidden" name="student_id" id="student_id" value="{{last_session.student.id}}">
            <input type="hidden" name="package_id" id="package_id" value="{{last_session.package.id}}">
            <input type="hidden" name="uig_id" id="uig_id" value="{{user_instrument_grade.id}}">
            <div class="form-group">
                <label class="control-label col-sm-2" for="no_of_sessions">Number Of Sessions:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="no_of_sessions" id="no_of_sessions" placeholder="Number Of Sessions">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="starting_on">Date:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="starting_on" id="starting_on" placeholder="Date" value="{{last_session.startingOn|date('d-m-Y')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="starts_at">Starting time:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="starts_at" id="starts_at" placeholder="Starting time" value="{{last_session.beginAt|date('Y-m-d H:i:s')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="ends_at">Ending time:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="ends_at" id="ends_at" placeholder="Ending time" value="{{last_session.endAt|date('Y-m-d H:i:s')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="paid">Paid?</label>
                <div class="col-sm-10">
                <select class="form-control" name="paid" id="paid">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="cleared">Cleared?</label>
                <div class="col-sm-10">
                <select class="form-control" name="cleared" id="cleared">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="done">Done?</label>
                <div class="col-sm-10">
                <select class="form-control" name="done" id="done">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="invoiced">Invoiced?</label>
                <div class="col-sm-10">
                <select class="form-control" name="invoiced" id="invoiced">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="save-session" class="btn mb-1 btn-primary">Save</button>
                </div>
            </div>
            </form> 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn mb-1 btn-primary" data-dismiss="modal">Close</button>
        </div>
        </div>

    </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{asset('adm/assets/libs/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.bootstrap4.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.flash.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.print.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.keyTable.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.select.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/vfs_fonts.js') }}"></script>
    <!-- Datatables init -->
    <script src="{{asset('adm/assets/js/pages/datatables.init.js') }}"></script>

    <script>
        $(document).ready( function () {
            $('.datatable').DataTable();
        } );
    </script>
    <script>
        $('[id^="deleteSess-"]').click( function () {
            var sessId = jQuery(this).attr("id").split("-")[1];
            console.log("#deleteSess-"+ sessId);
            $("#deleteSess-"+ sessId).hide();
        });
    </script>

{% endblock %}
