<div class="tab-pane" role="tabpanel" id="tab-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Attachments</h3>
                <a style="margin-top:5px;" href="{{path('attachment_new')}}" class="btn mb-1 btn-info">Add Attachment</a>
                <br />
            </div>
            <div class="panel-body">
                <div id="maindiv">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Document Name</th>
                                    <th>file path</th>
                                    <th>Manage</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for attachment in attachments %}
                                <tr class="odd gradeX">
                                    <td>{{attachment.filename}}</td>
                                    <td><a href="/attachments/{{attachment.file}}">{{ attachment.file }}</a></td>
                                    <td>
                                        <a href="{{ path('attachment_show', {'id': attachment.id}) }}" class="btn btn-info btn-sm">View</a>
                                        <a href="{{ path('attachment_edit', {'id': attachment.id}) }}" class="btn btn-info btn-sm">Edit</a>
                                        {{ include('attachment/_delete_form.html.twig') }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">No attachments</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

</div>
