<div class="tab-pane active" role="tabpanel" id="tab-1">
    <div class="card-box">
        <div class="panel-heading">
            <h3 class="panel-title">Create New Message</h3>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group"><label class="control-label">Search User</label>
                <input id="search" class="form-control" type="search">
                </div>
                <ul class="" id="entitiesNav">
                </ul>
                <div class="form-group"><label class="control-label">Phone Number</label><input id="phone" class="form-control" type="text"></div>
                <div class="form-group"><label class="control-label">Email Address</label><input id="email" class="form-control" type="email"></div>
                <div class="form-group"><label class="control-label">Subject</label><input value="{{template is not null ? template.title : 'From Cheza Communication Department'}}" id="subject" class="form-control" type="text"></div>
                <div class="form-group">
                    <label class="control-label">Message</label>
                    <span id="remaining" style="font-size:0.7em; font-style:italic;">160 characters remaining</span>
                    <span id="messages" style="font-size:0.7em; font-style:italic;">1 message(s)</span>
                    <textarea id="message" rows="5" class="form-control">{{template is not null ? template.message}}</textarea>
                </div>
                <div class="form-group">
                    <label class="control-label" for="attachment">Attachment:</label>
                    <div>
                        <select class="form-control" id="attachment" name="attachment">
                            <option value="">No Attachment</option>
                            {% for attachment in attachments %}
                                <option {{template is not null and template.attachment is not null and template.attachment.id == attachment.id ? 'selected' : ''}} value="{{attachment.id}}">{{attachment.filename}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>             
            </form>
            <div class="row">
                <div class="col-md-2">
                    <div><input id="to-send-sms" type="checkbox" checked="">SMS</div>
                </div>
                <div class="col-md-2">
                    <div><input id="to-send-email" type="checkbox" checked="">EMAIL</div>
                </div>
            </div>
            <button id="sendnow" class="btn mb-1 btn-primary" type="button">Send Message Now</button>
        </div>
    </div>
</div>
