<div class="tab-pane" role="tabpanel" id="tab-2">

    <div class="row">
            <button type="button" class="btn mb-1 btn-primary" data-toggle="modal" data-target="#templateModal">
              New Template
            </button>
            <div style="clear:both; width:100%;"></div>
            {% for template in templates %}
            
                <div class="col-md-4 card-{{template.type}}" id="tmplt-{{template.id}}" >
                    <div class="card">
                        <h5 class="card-header">{{template.title}}</h5>
                        <div class="card-body">
                        <button type="button" class="close" id="deletetemplate-{{template.id}}">&times;</button>
                            {# <h5 class="card-title">Special title treatment</h5> #}
                            <p class="card-text">{{ template.message|length > 80 ? template.message|striptags|slice(0, 80) ~ '...' : template.message|striptags }}.</p>
                            <div class="btn-group" role="group">
                                <a class="btn btn-sm mb-1 btn-info" id="edittemplate-{{template.id}}" href="{{path('edit_template_page', {'template_id': template.id})}}">Edit</a>
                                <a class="btn btn-sm mb-1 btn-primary" id="singlemessagefromtemplate-{{template.id}}" href="{{path('admin-communications', {'template_id': template.id})}}">Send Single</a>
                                <button class="btn btn-sm btn-success" id="bulkmessagefromtemplate-{{template.id}}">Send Bulk</a>
                                {% if template.attachment is not null %}
                                    <button class="btn btn-sm mb-1 btn-info" title="{{template.attachment.filename }}"><i class="fa fa-link"></i></button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>


            {% else %}
                <p>No templates created</p>
            {% endfor %}


    </div>
    <!-- end row -->

</div>
