<form method="post" action="{{ path('short_url_delete', {'id': short_url.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ short_url.id) }}">
    <button class="btn mb-1 btn-danger">Delete</button>
</form>
