{{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="form-group">
    {{ form_label(form.purpose) }}
    {{ form_widget(form.purpose, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
    {{ form_label(form.url) }}
    {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
    {{ form_label(form.user) }}
    {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
    {{ form_label(form.short) }}
    {{ form_widget(form.short, {'attr': {'class': 'form-control', 'value': 'auto'}}) }}
    </div>
    <div class="form-group">
    <input type="text" name="digit" class="form-control" id="digit" readonly >
    </div>
    <button class="btn mb-1 btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
