{% extends 'adm_base.html.twig' %}

{% block title %}Short URL List{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Short URL list</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Short URLs</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
    

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('short_url_new') }}" class="dropdown-item">Create new short Url</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">List Short URLs</h4>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Purpose</th>
                                    <th>Url</th>
                                    <th>user</th>
                                    <th>Short</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for short_url in short_urls %}
                                <tr>
                                    <td>{{ short_url.id }}</td>
                                    <td>{{ short_url.purpose }}</td>
                                    <td>{{ short_url.url }}</td>
                                    <td>{{ short_url.user }}</td>
                                    <td>https://chez.co.ke/{{ short_url.short }}</td>
                                    <td>
                                        <a href="{{ path('short_url_show', {'id': short_url.id}) }}">show</a>
                                        <a href="{{ path('short_url_edit', {'id': short_url.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <a href="{{ path('short_url_new') }}">Create new</a>
                    </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}
{% endblock %}
