{% extends 'adm_base.html.twig' %}

{% block title %}New Short URL{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Create new ShortUrl</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Short URL</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
    

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('short_url_index') }}" class="dropdown-item">Short Url List</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">New Short URL</h4>

                    {{ include('short_url/_form.html.twig') }}
                    <a href="{{ path('short_url_index') }}">back to list</a>

                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
<script>

$("#short_url_short").keyup(function() {
    var minlength = 1;
    var that = this;
    var value = $(this).val();
    var digit = $("#digit").val();
    if (value.length >= minlength ) {

    console.log(value);
    //var short = $("#short_url_short").val();

    $.ajax({
        url:"{{ (path('reversefromshort')) }}",
        type: "POST",
        dataType: "json",
        data: {
            "short": value,
            "digit": digit,
        },
        async: true,
        success: function (data)
        {
            console.log(data);
            $("#digit").val(data);
        },
        error: function (xhr, status, error) {
            console.log('error');
        }
    });

    }

})
</script>

{% endblock %}