{% extends 'adm_base.html.twig' %}

{% block title %}New Short URL{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Show ShortUrl</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Short URL</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
    

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('short_url_index') }}" class="dropdown-item">Short Url</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Show Short URL</h4>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ short_url.id }}</td>
                                </tr>
                                <tr>
                                    <th>Purpose</th>
                                    <td>{{ short_url.purpose }}</td>
                                </tr>
                                <tr>
                                    <th>Url</th>
                                    <td>{{ short_url.url }}</td>
                                </tr>
                                <tr>
                                    <th>User</th>
                                    <td>{{ short_url.user }}</td>
                                </tr>
                                <tr>
                                    <th>Digit</th>
                                    <td>{{ short_url.digit }}</td>
                                </tr>
                                <tr>
                                    <th>Short</th>
                                    <td>{{ short_url.short }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <a href="{{ path('short_url_index') }}">back to list</a>

                        <a href="{{ path('short_url_edit', {'id': short_url.id}) }}">edit</a>

                        {{ include('short_url/_delete_form.html.twig') }}
                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}
{% endblock %}
