<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Password Reset Email Sent</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{asset('adm/assets/images/favicon.ico') }}">

        <!-- Bootstrap Css -->
        <link href="{{asset('adm/assets/css/bootstrap.min.css') }}" id="bootstrap-stylesheet" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{{asset('adm/assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{{asset('adm/assets/css/app.min.css') }}" id="app-stylesheet" rel="stylesheet" type="text/css" />

    </head>

    <body class="authentication-bg">

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="text-center">
                            <a href="{{path('default')}}" class="logo">
                                <img src="{{asset('adm/assets/images/cheza_logo.png')}}" alt="" height="22" class="logo-light mx-auto">
                               <img src="{{asset('adm/assets/images/cheza_logo.png')}}" alt="" height="22" class="logo-dark mx-auto">
                            </a>
                            <p class="text-muted mt-2 mb-4">Reset your password</p>
                        </div>
                        <div class="card text-center">

                            <div class="card-body p-4">
                                
                                <div class="mb-4">
                                    <h4 class="text-uppercase mt-0">Enter your new password</h4>
                                </div>
                                <img src="{{asset('adm/assets/images/mail_confirm.png') }}" alt="img" width="86" class="mx-auto d-block" />

                                    {% for flashError in app.flashes('reset_password_error') %}
                                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                                    {% endfor %}
                                    {{ form_start(resetForm) }}
                                    <fieldset>
                                        <span class="help-block">
                                        Now create a password that you will use to access your account
                                        <br>
                                        Use a password that you can remember, but don't use a simple password.
                                        </span>
                                        <div class="form-group input-group">
                                            {{ form_widget(resetForm.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Your password', 'required': 'required' }}) }}
                                            <div class="input-group-append">
                                                <span class="input-group-text">*</span>
                                            </div>
                                        </div>
                                        <div class="form-group input-group">
                                            {{ form_widget(resetForm.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Repeat password', 'required': 'required' }}) }}
                                            <div class="input-group-append">
                                                <span class="input-group-text">*</span>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block" id="btn">
                                        Continue
                                        </button>
                                    </fieldset>
                                    {{ form_end(resetForm) }}

                                <a href="{{path('app_login')}}" class="btn btn-block btn-pink waves-effect waves-light mt-3">Login Page</a>

                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->
    

        <!-- Vendor js -->
        <script src="{{asset('adm/assets/js/vendor.min.js') }}"></script>

        <!-- App js -->
        <script src="{{asset('adm/assets/js/app.min.js') }}"></script>
        
    </body>
</html>



