{% extends 'adm_base.html.twig' %}
{% block title %}{{teacher.fullname}} Calendar {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/fullcalendar/css/core/main.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/fullcalendar/css/daygrid/main.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/fullcalendar/css/timegrid/main.min.css')}}">
    <style>
        .fc-event {
            background-color: #d2d5e1;
        }
    </style>
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Calendar</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Teacher</a></li>
                            <li class="breadcrumb-item active">{{teacher.fullname}} Calendar</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">

                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            {% if is_granted('ROLE_TEACHER') or is_granted('ROLE_ADMIN') %}
                            <!-- item-->
                            <a href="{{ path('teacher_schooltime_calendar_edit', {'teacher_id': teacher.id}) }}" class="dropdown-item">Edit Schedule</a>
                            {% endif %}
                            <!-- item-->
                            <a href="{{path( app.user.usertype ~ '_session_calendar', {'teacher_id': teacher.id })}}" class="dropdown-item">Calendar</a>
                            <!-- item-->
                            <a href="javascript:void(0);" id="pdf" class="btn btn-primary btn-block">PDF</a>
                            <!-- item-->
                            <a href="javascript:void(0);" id="png"  class="btn btn-primary btn-block">PNG</a>
                        </div>
                    </div>

                    <div class="mt-3" id="calendar-holder"></div>
                </div>

            </div>
            <!-- end col-12 -->
        </div> <!-- end row -->
        
    </div> <!-- container-fluid -->

    
{% endblock %}


{% block javascripts %}
    <script src="{{asset('assets/fullcalendar/js/core/main.min.js')}}"></script>
    <script src="{{asset('assets/fullcalendar/js/interaction/main.min.js')}}"></script>
    <script src="{{asset('assets/fullcalendar/js/daygrid/main.min.js')}}"></script>
    <script src="{{asset('assets/fullcalendar/js/timegrid/main.min.js')}}"></script>

    {% set settingsArr = [] %}
    {% set settingsWV = [] %}
    {% set defaultView = "" %}
    {% for uSetting in app.user.userSettings %}
        {% set settingsArr = settingsArr|merge([uSetting.setting.description ~ '-' ~ uSetting.value]) %}
        {% set settingsWV = settingsArr|merge([uSetting.setting.description]) %}
    {% endfor %}

    {% if app.user.userSettings is empty %}
        {% set defaultView = "timeGridWeek" %}
    {% endif %}
    {% if 'default_view-timeGridWeek' in settingsArr %}
        {% set defaultView = "timeGridWeek" %}
    {% endif %}
    {% if 'default_view-timeGridDay' in settingsArr %}
        {% set defaultView = "timeGridDay" %}
    {% endif %}
    {% if 'default_view-dayGridMonth' in settingsArr %}
        {% set defaultView = "dayGridMonth" %}
    {% endif %}
    {% if 'default_view' not in settingsWV %}
        {% set defaultView = "timeGridWeek" %}
    {% endif %}

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');
            var myVar;

            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: '{{defaultView}}',
                editable: true,
                firstDay: 1,
                slotDuration: '00:30:00',
                snapDuration: '00:05:00',
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({"calendar-id": "teacher-calendar"})
                        },
                        failure: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
                events: [
                    {% for schedule in schedules %}
                    {
                        start: '{{ "now" | date_modify( schedule.day ~ ' this week') | date('Y-m-d') ~ 'T' ~ schedule.beginAt|date('H:i:s') }}',
                        end: '{{ "now" | date_modify( schedule.day ~ ' this week') | date('Y-m-d') ~ 'T' ~ schedule.endAt|date('H:i:s') }}',
                        rendering: 'background',
                        title: "{{schedule}}",
                    },
                    {% endfor %}
                    // more events here
                    ],
                    eventMouseEnter: function(info) {

                        function myFunction() {
                            myVar = setTimeout(function(){ 
                                var tis = info.el;
                                var event = info.event;
                                console.log(tis.attributes['class']);
                                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: event.title, url: event.url },{delay: 5000, element: '.top-navbar', type: "success", newest_on_top: false, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                                
                            }, 1500);
                        }
                        myFunction();

                    },
                    eventMouseLeave: function(info) {
                        clearTimeout(myVar);
                    },
                    eventDrop: function(info) {
                        console.log('finished dragging');
                        console.log(info.event.url);

                        if (!confirm(info.event.title + " was dropped on " + info.event.start.toISOString() + " Are you sure about this change?")) {
                            info.revert();
                        } else {
                            var dateDropped = info.event.start.toISOString();
                            var d = new Date(dateDropped);
                            var year = d.getUTCFullYear();
                            var month = d.getUTCMonth();
                            var date = d.getUTCDate();
                            var hour = d.getUTCHours();
                            var minute = d.getUTCMinutes();
                            var url = info.event.url;

                            $.ajax({
                                url:'{{ (path('calendar_change_date')) }}',
                                type: "POST",
                                dataType: "json",
                                data: {
                                    "dateDropped": dateDropped,
                                    "year": year,
                                    "month": month,
                                    "date": date,
                                    "hour": hour,
                                    "minute": minute,
                                    "url": url,
                                },
                                async: true,
                                success: function (data)
                                {
                                    console.log(data);
                                },
                                error: function (xhr, status, error) {
                                    console.log('error');
                                }
                            });

                        }
                    },
                    //dateClick: function(info) {

                        //var ISOdate = info.dateStr;
                        //var dateClicked = ISOdate.split("T")[0];
                       // var timeClicked = ISOdate.split("T")[1].slice(0,-4);
                        //console.log('dateclicked: ' );
                        //console.log(dateClicked);
                       // console.log('timeclicked: ');
                       // console.log(timeClicked);
                        //change the day's background color just for fun
                       // info.dayEl.style.backgroundColor = 'red';
                       // console.log(info);
                        //var tr = $("tr").find("[data-time='06:00:00']"); 
                        //var tr = $("tr[data-time='06:00:00']");
                        //var $tr = $('table').find('tr').filter(function() {
                       //     return $(this).data('time') == '06:00:00';
                        //});
                        //console.log($tr);
                       // $tr.css('background-color','#EE178C');
                        
                   // },

            });
            calendar.render();
        });
    </script>
{% endblock %}