{% extends 'adm_base.html.twig' %}

{% block title %}{{teacher.fullname}} Profile{% endblock %}
{% block stylesheets %}
<style>
    .icon {
        font-size: 20px; 
        margin-right: 1rem!important;
        margin-left: 1rem!important;
    }
    .image_area {
        position: relative;
    }

    .img {
        display: block;
        max-width: 100%;
    }

    .preview {
        overflow: hidden;
        width: 160px; 
        height: 160px;
        margin: 10px;
        border: 1px solid red;
    }

    .modal-lg{
        max-width: 1000px !important;
    }

    .overlay {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
        height: 0;
        transition: .5s ease;
        width: 100%;
    }

    .image_area:hover .overlay {
        height: 50%;
        cursor: pointer;
    }

    .text {
        color: #333;
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
</style>

{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Profile</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Teacher</a></li>
                            <li class="breadcrumb-item active">Profile</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-sm-8">
                <div class="bg-picture card-box">
                    <div class="profile-info-name">
                        <div class="image_area text-center float-left">
                            <form method="post" class="avatar-xl img-thumbnail mr-3">
                                <label for="upload_image">
                                    <img class="img" src="{{ teacher.photo is not null ? teacher.photo : asset('img/profile/person.png') }}" id="uploaded_image" class="img-responsive img-circle rounded-circle" />
                                    <div class="overlay">
                                        <div class="text">Change Image</div>
                                    </div>
                                    <input type="file" name="image" class="image" id="upload_image" style="display:none" />
                                </label>
                            </form>
                        </div>
                        <div class="profile-info-detail overflow-hidden">
                            <h4 class="m-0">{{teacher.fullname}}</h4>
                            <p class="text-muted"><i>Music Teacher</i></p>

                            <form id="saveacademic" class="form-horizontal" role="form">
                                <div class="form-group row">
                                    <label for="branch" class="col-sm-3 col-form-label">Branch</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="branch" name="branch">
                                            <option value="main" selected >Main</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lessonmode" class="col-sm-3 col-form-label">Mode of Lessons</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="lessonmode" name="lessonmode">
                                            <option value="onlinephysical" {{ teacher.teacherdata.lessonmode == 'onlinephysical' ? 'selected' : '' }}>Both Physical and Online</option>
                                            <option value="physical" {{ teacher.teacherdata.lessonmode == 'physical' ? 'selected' : '' }}>Physical</option>
                                            <option value="online" {{ teacher.teacherdata.lessonmode == 'online' ? 'selected' : '' }}>Online</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lessonmode" class="col-sm-3 col-form-label">Your Resume URL [optional]</label>
                                    <div class="col-sm-9">
                                        <div class="alert alert-info">You can visit <a target="_blank" href="https://muske.co.ke/register/choose-theme">Music services kenya</a> to create your resume.</div>
                                        <input class="form-control" type="text" placeholder="muske.co.ke/yourusername" name="resumelnk" value="{{teacher.teacherdata.resumelnk}}">
                                    </div>
                                </div>
                                <input type="hidden" name="user_id" id="user_id" value="{{teacher.id}}">
                                <div class="form-group mb-0 justify-content-end row">
                                    <div class="col-sm-9">
                                        <button id="saveacademicsubmit" type="button" class="btn btn-info waves-effect waves-light">Save Basic Settings</button>
                                    </div>
                                </div>
                            </form>
                                    
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--/ meta -->


                <!-- Form row -->
                <div class="card-box">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title">Teacher Bio Settings</h4>

                            <form id="savebio">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="fullname" class="col-form-label">Full Name</label>
                                        <input class="form-control" id="fullname" type="text" placeholder="Full Name" name="fullname" value="{{teacher.fullname}}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="email" class="col-form-label">Email Address</label>
                                        <input class="form-control" id="email" type="email" placeholder="user@example.com" name="email" value="{{teacher.email}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputAddress" class="col-form-label">Phone Number</label>
                                        <input class="form-control" type="text" placeholder="Phone number" id="phone" name="phone" value="{{teacher.teacherdata.phone}}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="sex" class="col-form-label">Gender</label>
                                        <select class="form-control" id="sex" name="sex">
                                            <option>Click to change</option>
                                            <option value="male" {{ teacher.teacherdata.sex == "male" ? 'selected' : '' }}>Male</option>
                                            <option value="female" {{ teacher.teacherdata.sex == 'female' ? 'selected' : '' }}>Female</option>
                                        </select>
                                    </div>
                                </div>
                                <input type="hidden" name="user_id" id="user_id" value="{{teacher.id}}">
                                <button id="savebiosubmit" class="btn btn-primary btn-sm" type="button">Save Bio Settings</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end row -->        
                <!-- Form row -->
                <div class="card-box">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title">About</h4>

                            <form id="saveabout_form">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="about" class="col-form-label">About You</label>
                                        <textarea id="about" rows="5" name="about" class="form-control">{{teacher.teacherdata.about}}</textarea>
                                    </div>
                                </div>
                                <button id="saveabout" class="btn btn-primary btn-sm" type="button">Save About Info</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end row -->        
                <!-- Form row -->
                <div class="card-box">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title">Conditions</h4>

                            <form id="saveconditions_form">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="conditions" class="col-form-label">Conditions for your lessons</label>
                                        <textarea id="conditions" rows="5" name="conditions" class="form-control">{{teacher.teacherdata.conditions}}</textarea>
                                    </div>
                                </div>
                                <button id="saveconditions" class="btn btn-primary btn-sm" type="button">Save Conditions</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end row -->        
                <!-- Card box -->
                <div class="card-box">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title">Next of Kin Details</h4>
                            <form id="savenextofkin">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="kinfullname" class="col-form-label">Full Name</label>
                                        <input class="form-control" id="kinfullname" type="text" placeholder="Full Name" name="kinfullname" value="{{teacher.teacherdata.nextofkinname}}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="kinemail" class="col-form-label">Email Address</label>
                                        <input class="form-control" id="kinemail" type="email" placeholder="user@example.com" name="kinemail" value="{{teacher.teacherdata.nextofkinemail}}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4" class="col-form-label">Phone Number</label>
                                        <input class="form-control" type="text" placeholder="Phone number" id="kinphone" name="kinphone" value="{{teacher.teacherdata.nextofkinphonenum}}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4" class="col-form-label">Relationship</label>
                                        <select class="form-control" id="age" name="kinrship">
                                            <option value="parent" {{ teacher.teacherdata.nextofkinrship == 'parent' ? 'selected' : '' }}>Parent</option>
                                            <option value="spouse" {{ teacher.teacherdata.nextofkinrship == 'spouse' ? 'selected' : '' }}>Spouse</option>
                                            <option value="sponsor" {{ teacher.teacherdata.nextofkinrship == 'sponsor' ? 'selected' : '' }}>Sponsor</option>
                                            <option value="other" {{ teacher.teacherdata.nextofkinrship == 'other' ? 'selected' : '' }}>Other</option>
                                        </select>
                                    </div>
                                    <input type="hidden" name="user_id" id="user_id" value="{{teacher.id}}">
                                </div>
                                <div class="form-group"><button id="savenextofkinsubmit" class="btn btn-primary btn-sm" type="button">Save&nbsp;NOK&nbsp;Settings</button></div>
                            </form>
                        </div>
                    </div>
                
                </div>
                <!-- end row -->        

            </div>

            <div class="col-sm-4">

                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Add Instruments (optional)</h4>

                        <div class="alert alert-success fade show mb-0">
                            <h4 class="alert-heading">You currently teach:</h4>
                            <p>
                            <span id="instruments-list">
                            {% for teacher_instrument in teacher.teacherdata.userInstruments %}
                                {# <strong>{{teacher_instrument.instrument.name}} {{teacher_instrument.grade.name}} {{loop.last ? ' ' : ', '}}</strong> #}
                                    <button type="button" id="uigid-{{teacher_instrument.id}}" class="btn btn-secondary waves-effect waves-light mr-1 mb-1 mt-1">
                                        {{teacher_instrument.instrument.name}} up to {{teacher_instrument.grade.name}}&nbsp;&nbsp;&nbsp;
                                        {% if teacher_instrument.sessions|length > 0 %}{% else %}
                                        <span id="delete-{{teacher_instrument.id}}" class="badge badge-danger">x</span>
                                        {% endif %}
                                    </button>                                                    
                            {% endfor %}.
                            </span><br />
                            You can add an instrument below when need be.
                            </p>
                        </div>
                        <!-- Form row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title">Add Instrument</h4>

                                    <form id="saveinstrument">
                                        <div class="form-group">
                                            <label for="instrument" class="col-form-label">Instrument</label>
                                            <select class="form-control" name="instrument" id="instrument" data-toggle="tooltip" data-bs-tooltip="" required="">
                                                <optgroup label="Instruments">
                                                    {% for ins in data.instruments %}
                                                        <option value="{{ins.id}}">{{ins.name}}</option>
                                                    {% endfor %}
                                                </optgroup>
                                                <optgroup label="Courses">
                                                    {% for ins in data.courses %}
                                                        <option value="{{ins.id}}">{{ins.name}}</option>
                                                    {% endfor %}                                    
                                                </optgroup>
                                                <optgroup label="Group classes ">
                                                    {% for ins in data.traditional %}
                                                        <option value="{{ins.id}}">{{ins.name}}</option>
                                                    {% endfor %}
                                                </optgroup>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="grade" class="col-form-label">Level</label>
                                            <select class="form-control" id="grade" name="grade">
                                                {% for grade in data.instrumentGrades %}
                                                    <option value="{{grade.id}}">{{grade.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <input type="hidden" name="user_id" id="user_id" value="{{teacher.id}}">
                                        <button id="saveinstrumentsubmit" class="btn btn-primary btn-sm" type="button">Add&nbsp;Instrument</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->        

                </div>


            </div>
        </div>        
        
    </div> <!-- container-fluid -->



    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Crop Image Before Upload</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="img-container">
                        <div class="row">
                            <div class="col-md-8">
                                <img src="" id="sample_image" />
                            </div>
                            <div class="col-md-4">
                                <div class="preview"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="crop" class="btn mb-1 btn-primary">Save picture</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>			

{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/sidebar.js')}}"></script>
        <link rel="stylesheet" href="{{ asset('assets/css/dropzone.css') }}" />
        <link href="{{ asset('assets/css/cropper.css') }}" rel="stylesheet"/>
        <script src="{{ asset('assets/js/dropzone.js') }}"></script>
        <script src="{{ asset('assets/js/cropper.js') }}"></script>
        <script>
            
            $(document).on('click', '[id^="delete-"]', function(){
                var id = jQuery(this).attr("id").split("-")[1];
                $.ajax({
                    url:'{{ (path('removeinstrument')) }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "uigid": id,
                    },
                    async: true,
                    success: function (data)
                    {
                        $('#uigid-'+id).remove();
                        console.log(data);
                        $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: "Instrument deleted successfully" },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });

            })
        </script>

        <script>

        $(document).ready(function(){

            var $modal = $('#modal');

            var image = document.getElementById('sample_image');

            var cropper;

            var thisfiletype;

            var teacher_id = {{teacher.id}};

            $('#upload_image').change(function(event){
                var files = event.target.files;
                thisfiletype = files[0].type;
                console.log('thisfiletype');
                console.log(thisfiletype);
                var done = function(url){
                    image.src = url;
                    $modal.modal('show');
                };

                if(files && files.length > 0)
                {
                    reader = new FileReader();
                    reader.onload = function(event)
                    {
                        done(reader.result);
                    };
                    reader.readAsDataURL(files[0]);
                }
            });

            $modal.on('shown.bs.modal', function() {
                console.log('shown');
                console.log(image);
                console.log(thisfiletype);
                console.log(cropper);
                cropper = new Cropper(image, {
                    aspectRatio: 1,
                    viewMode: 1,
                    preview:'.preview'
                });
                console.log('cropper1');
                console.log(cropper);
            }).on('hidden.bs.modal', function(){
                cropper.destroy();
                cropper = null;
            });

            $('#crop').click(function(){
                console.log('cropper2');
                console.log(cropper);

                if(thisfiletype == 'image/jpeg'){

                    canvas = cropper.getCroppedCanvas({
                        width:400,
                        height:400,
                        fillColor: '#fff',
                        imageSmoothingEnabled: true,
                        imageSmoothingQuality: 'high',  
                    }).toDataURL('image/jpeg', 1);

                } else {

                    canvas = cropper.getCroppedCanvas({
                        width:400,
                        height:400,
                        fillColor: '#fff',
                        imageSmoothingEnabled: true,
                        imageSmoothingQuality: 'high',  
                    }).toDataURL('image/png', 1);

                }

                $.ajax({
                    url:"{{path('save_profile_picture')}}",
                    method:'POST',
                    data:{image:canvas, thisfiletype, teacher_id},
                    success:function(data)
                    {
                        $modal.modal('hide');
                        console.log(data);
                        $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Photo changed successfully', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                        $('#uploaded_image').attr('src', data);
                    }
                });

            });
            
        });
        </script>
	<script>
	  $(document).on('click', '#savebiosubmit', function(){

	  		var form = document.getElementById("savebio");
            var form_data = $( form ).serializeArray();
            var valid = validateForm(form_data);
            console.log('valid: ' + valid);
            if(valid){
                $.ajax({
                url:'/save/user/bio',
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType: "json",
                data: new FormData(form),
                async: true,
                success: function (data)
                {
                    $("#results").html(data);
                    console.log(data);
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Bio settings saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
	         });

            } else {
                $.notify({ icon: 'glyphicon glyphicon-warning-sign', title: 'Notification:', message: 'Please fill in all the fields', },{ element: 'body', type: "warning", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            }
	  });
	</script>
	<script>
	  $(document).on('click', '#savenextofkinsubmit', function(){

	  		var form = document.getElementById("savenextofkin");
            var form_data = $( form ).serializeArray();
            var valid = validateForm(form_data);
            console.log('valid: ' + valid);
            if(valid){
                $.ajax({
                url:'/save/user/nextofkin',
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType: "json",
                data: new FormData(form),
                async: true,
                success: function (data)
                {
                    $("#results").html(data);
                    console.log(data);
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Next of kin settings saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
	         });

            } else {
                $.notify({ icon: 'glyphicon glyphicon-warning-sign', title: 'Notification:', message: 'Please fill in all the fields', },{ element: 'body', type: "warning", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            }
	  });
	</script>
	<script>
	  $(document).on('click', '#saveacademicsubmit', function(){

	  		var form = document.getElementById("saveacademic");
            var form_data = $( form ).serializeArray();
            
            $.ajax({
            url:'/save/user/academic',
            type: "POST",
            contentType:false,
            processData:false,
            cache:false,
            dataType: "json",
            data: new FormData(form),
            async: true,
            success: function (data)
            {
                $("#results").html(data);
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Academic settings saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
            });

	  });
	</script>
	<script>
	  $(document).on('click', '#saveinstrumentsubmit', function(){

	  		var form = document.getElementById("saveinstrument");
            var form_data = $( form ).serializeArray();
            var valid = validateForm(form_data);
            console.log('valid: ' + valid);
            if(valid){
                $.ajax({
                url:'/add/user/instrument',
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType: "json",
                data: new FormData(form),
                async: true,
                success: function (data)
                {
                    $("#results").html(data);
                    console.log(data);
                    $("#instruments-list").append(data);
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Instrument added successfully', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
	         });

            } else {
                $.notify({ icon: 'glyphicon glyphicon-warning-sign', title: 'Notification:', message: 'Please fill in all the fields', },{ element: 'body', type: "warning", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            }
	  });
	</script>

    <script>
	  $('#saveabout').click(function() {
        
        // var msg = $("#msg").val();
        var about = CKEDITOR.instances['about'].getData();

        $.ajax({
            url:"{{ (path('save_about')) }}",
            type: "POST",
            dataType: "json",
            data: {
                "about": about,
                "teacher_id": {{teacher.id}},
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'About info saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	  });
	</script>

    <script>
	  $('#saveconditions').click(function() {
        
        // var msg = $("#msg").val();
        var conditions = CKEDITOR.instances['conditions'].getData();

        $.ajax({
            url:"{{ (path('save_conditions')) }}",
            type: "POST",
            dataType: "json",
            data: {
                "conditions": conditions,
                "teacher_id": {{teacher.id}},
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Conditions saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	  });
	</script>

    <script type="text/javascript">
            var CKEDITOR_BASEPATH = "/bundles/fosckeditor/";
    </script>
    <script type="text/javascript" src="/bundles/fosckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        if (CKEDITOR.instances["message", "about", "msg", "conditions"]) { 
            CKEDITOR.instances["message", "about", "msg", "conditions"].destroy(true); 
            delete CKEDITOR.instances["message", "about", "msg", "conditions"]; 
        }
        var fos_ckeditor_about = CKEDITOR.replace("about", {
            "toolbar":[["Bold"],["Italic"],["Underline"],["NumberedList"],["BulletedList"],["Blockquote"],["JustifyLeft"],["JustifyCenter"],["JustifyRight"],["Link"],["Image"],["Format"]],
            "uiColor":"#ffffff",
            "language":"en",
            "versionCheck": false
        });
        var fos_ckeditor_conditions = CKEDITOR.replace("conditions", {
            "toolbar":[["Bold"],["Italic"],["Underline"],["NumberedList"],["BulletedList"],["Blockquote"],["JustifyLeft"],["JustifyCenter"],["JustifyRight"],["Link"],["Image"],["Format"]],
            "uiColor":"#ffffff",
            "language":"en",
            "versionCheck": false
        });
        fos_ckeditor_about.on('change', function() { fos_ckeditor_about.updateElement(); });
        fos_ckeditor_conditions.on('change', function() { fos_ckeditor_conditions.updateElement(); });
    </script>

{% endblock %}