{% extends 'basic.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        table { table-layout: fixed; }
        th { width: 7.69%; min-height:80px;}
        td { width: 7.69%; min-height:80px; }
        thead th { min-height:60px; }
        .btn-primary {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
            cursor: pointer;
        }
        .btn-danger {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
            cursor: pointer;
        }
        .btn {
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    </style>
{% endblock %}

{% block body %}
 {% block navbar %}{% endblock %}
   {# {% set nonEmptyUigs = [] %} #}
    <main class="page">
        <div class="container">
            <div class="row">
                <div class="alert alert-info" style="text-align:center;">
                    {% if inv > 1 %}
                        <button type="button" id="submitInvoice" class="btn mb-1 btn-primary">Submit Invoice</button>
                    {% else %}
                    <p>You have got nothing to send for now. </p>
                    {% endif %}
                    <a href="{{path('teacher_student_attendance')}}" class="btn mb-1 btn-danger">Back</a>                    
                </div>
            </div>
        </div>
        {# {% set neu = [] %}
        {% for k, n in nonEmptyUigs %} 
            {% set nf = n|first %}
            {% set neu = neu|merge({(nf|split('-')[1]~'-'~k~':'~n|length ~':'~ n|first):n|first}) %}
        {% endfor %} #}
    </main>
    {% if inv > 1 %}
    <style>
            /* Housekeeping */
            html{
                font:0.75em/1.5 sans-serif;
                color:#333;
                background-color:#fff;
                padding:1em;
            }

            /* Tables */
            table{
                width:80%;
                margin-bottom:1em;
                border-collapse: collapse;
                margin:auto;
            }
            th{
                font-weight:bold;
                background-color:#ddd;
            }
            .bold{
                font-weight:bold;
                background-color:#ddd;
            }
            th,
            td{
                padding:0.5em;
                border:1px solid #ccc;
            }
            .name {
                width:40%;
            }

    </style>
    <table>
        
        <thead>
            <tr>
                <th class="name" colspan="7">Cheza Music School</th>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td>NAME</th>
                <td class="name" colspan="6">{{teacher.fullname|upper}} - {{teacher.teacherdata.phone | format_phone}}</th>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <th></th>
                <th class="name">NAME OF STUDENT</th>
                <th>Sessions</th>
                <th>Percentage</th>
                <th>Student Invoice</th>
                <th>Income</th>
            </tr>
        </thead>
        <tbody>
        {% for index, data in invoiceData %}
            {% set totalPrice = data.noOfSessions * data.sessions[0].pricePerSession %}
            {% set totalCommission = data.noOfSessions * data.sessions[0].sessionCommission %}
            <tr>
                <td>{{ index + 1 }}</td>
                <td>{{ data.studentName }}</td>
                <td>{{ data.noOfSessions }}</td>
                <td>{{ (data.sessions[0].uigPercentage * 100) }}% {%  if data.sessions[0].uigPercentage == 0.7 %} (cap 1500) {% endif %} </td>
                <td>{{ totalPrice }}</td>
                <td>{{ totalCommission }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td class="bold" colspan="5">GROSS PAY (70%)</td>
                <td class="bold">{{inv}}</td>
            </tr>
            <tr>
                <td colspan="6"></td>
            </tr>
            <tr>
                <td colspan="5">LESS WITHHOLDING TAX</td>
                <td>{% if inv > 24000 %}{% set tax = 0.05 * inv %}{% else %}{% set tax = 0 %}{% endif %}{{tax}}</td>
            </tr>
            <tr>
                <td colspan="6"></td>
            </tr>
            <tr>
                <td class="bold" colspan="6">DEDUCTIONS</td>
            </tr>
            <tr>
                <td class="bold"></td>
                <td class="bold" colspan="3">Details</td>
                <td class="bold">Date added</td>
                <td class="bold">Amount</td>
            </tr>
            {% for deduction in teacher.teacherdata.deductions %}
            <tr>
                <td>{{loop.index}}</td>
                <td colspan="3">{{deduction.description}}</td>
                <td>{{deduction.addedOn|date('Y-m-d')}}</td>
                <td>{{deduction.toDeduct}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"></td>
                <td>TOTAL</td>
                <td></td>
                <td>{{ded}}</td>
            </tr>
            <tr>
                <td class="bold" colspan="5">NET PAY</td>
                <td class="bold">{{inv - (tax + ded)}}</td>
            </tr>
            <tr>
                <td></td>
                <td class="name">Prepared by: _________________________________</td>
                <td></td>
                <td colspan="3">Signature: ____________________________</td>
            </tr>
            <tr>
                <td></td>
                <td class="name">Authorised by: _________________________________</td>
                <td></td>
                <td colspan="3">Signature: ____________________________</td>
            </tr>
            <tr>
                <td colspan="6">Please note that 70% commissions are capped at 1,500.</td>
            </tr>
            
        </tbody>
    </table>
    {% endif %}
{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
<script>
  $('#submitInvoice').click(function () {
    // Show notification: Please wait
    $.notify(
      {
        icon: 'glyphicon glyphicon-info-sign',
        title: 'Notification:',
        message: 'Please wait...',
      },
      {
        element: '#confirmSendInvoice',
        type: 'info',
        newest_on_top: true,
        placement: { from: 'top', align: 'center' },
        offset: 20,
        spacing: 10,
      }
    );

    // Prepare data for submission
    const neu = [];
    {% for k, n in nonEmptyUigs %}
      neu.push("{{ k }}:{{ n|length }}:{{ n|first }}");
    {% endfor %}

    // Send AJAX request
    $.ajax({
      url: '{{ path("submit_invoice") }}', // Endpoint for submission
      type: 'POST',
      dataType: 'json',
      data: {
        nonEmptyUigs: JSON.stringify(neu), // Data sent to the server
        teacher_id: {{ teacher.id }},
      },
      success: function (response) {
        // Show success notification
        console.log(response);
        $.notify(
          {
            icon: 'glyphicon glyphicon-success-sign',
            title: 'Success:',
            message: 'Invoice sent successfully!' + response,
          },
          {
            element: 'body',
            type: 'success',
            newest_on_top: true,
            placement: { from: 'top', align: 'center' },
            offset: 20,
            spacing: 10,
          }
        );

        // Redirect to attendance page
        //window.location.href = '/teacher/attendance';
      },
      error: function (xhr, status, error) {
        console.error(error);

        // Show error notification
        $.notify(
          {
            icon: 'glyphicon glyphicon-warning-sign',
            title: 'Error:',
            message: 'Something went wrong. Please try again: ' + error,
          },
          {
            element: 'body',
            type: 'danger',
            newest_on_top: true,
            placement: { from: 'top', align: 'center' },
            offset: 20,
            spacing: 10,
          }
        );
      },
    });
  });
</script>

{% endblock %}