{% extends 'adm_base.html.twig' %}

{% block title %}Students{% endblock %}
{% block stylesheets %}
   <!-- DataTables CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
   <!-- DataTables Responsive CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Students List</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Teacher</a></li>
                            <li class="breadcrumb-item active">
                                Students {{ app.user.usertype == 'admin' ? 'for ' ~ teacher.fullname }}
                                {# {% if app.user.usertype == 'admin' %}
                                    <br /><button type="button" class="btn mb-1 btn-info">Send all reports</button>
                                {% endif %}                             #}
                            </li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">All Students</h4>
                    
                    <div class="row">

                        <div class="col-xl-12">

                              {% for termName, term in terms %}
                                <div class="tab-pane {{ currentTerm == termName ? 'active'}}" role="tabpanel" id="term{{loop.index}}">
                                    <div class="card-box panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">{{termName}} Students</h3>
                                        </div>
                                        <div class="panel-body">
                                            <table id="datatable-{{termName|replace({' ': '-'})}}" class="datatable table-striped mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Full Name</th>
                                                        <th>Package</th>
                                                        <th>Phone Number</th>
                                                        <th>Term</th>
                                                        <th>Email</th>
                                                        <th>actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for key, session in term %}
                                                {# {% if session.startingOn|date('Y') == "now"|date('Y') %} #}
                                                {% if session.userInstrumentGrade.siblingname != "" %}{% set uig = session.userInstrumentGrade.siblingname %}{% else %}{% set uig = session.student.fullname %}{% endif %}
                                                
                                                    <tr>
                                                        <th>{{loop.index}}</th>
                                                        <th>
                                                        <a href="{{path('session_show', {'id': session.id})}}">{{session.userInstrumentGrade}}</a>
                                                        </th>
                                                        <th>{{session.package.name}}</th>
                                                        <th>{{session.student.studentdata.phone}}</th>
                                                        <th>{{termName}} {{session.startingOn|date('Y')}}</th>
                                                        <th>{{session.student.email}}</th>
                                                        <th>
                                                        {% if currentTerm == termName %}
                                                            {# <a href="{{path('report_new', {'session_id': session.id })}}" style="white-space: nowrap;" class="btn btn-sm btn-{{session.userInstrumentGrade.reports|length > 0 ? 'success' : 'primary'}}" id="print-form" >Reports</i></a> #}
                                                            <a href="{{path('reporting_new', {'name': uig, 'age': session.student.studentdata.age, 'term': 'Edit this and input the term', 's': session.student.studentdata.sex, 't': session.teacher.id, 'u': session.student.id, 'instrument': session.userInstrumentGrade.instrument.name })}}" style="white-space: nowrap;" class="btn btn-sm mb-1 btn-success" id="print-form" >New Report</i></a>
                                                            <a href="{{path('app_simple_report_new', {'name': uig, 't': session.teacher.id, 'u': session.student.id, 'instrument': session.userInstrumentGrade.instrument.name })}}" style="white-space: nowrap;" class="btn btn-sm mb-1 btn-primary" id="print-form" >New Simple Report</i></a>
                                                            <a href="{{path('assignment_index', {'student_id': session.student.id, 'teacher_id': session.teacher.id })}}" class="btn btn-sm mb-1 btn-info" style="white-space: nowrap;" >Assignments ({{session.student.assignments|filter(assignment => assignment.teacher == session.teacher)|length}})</a>
                                                        {% endif %}
                                                        </th>
                                                    </tr>
                                                {# {% endif %} #}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                              {% endfor %}
                                <div class="tab-pane {{ currentTerm == 'Past' ? 'active'}}" role="tabpanel" id="past">
                                    <div class="card-box panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Past Students</h3>
                                        </div>
                                        <div class="panel-body">
                                            <table class="table" id="datatable" class="display" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Full Name</th>
                                                        <th>Package</th>
                                                        <th>Phone Number</th>
                                                        <th>Email</th>
                                                        <th>actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for key, session in sessions %}
                                                {% if key|split('-')[1] == 'Past' %}
                                                    <tr>
                                                        <th>{{loop.index}}</th>
                                                        <th>
                                                        {% if app.user.usertype == 'admin' %}
                                                        <a href="{{path('session_show', {'id': session.id})}}">{{session.userInstrumentGrade}}</a>
                                                        {% else %}
                                                        {{session.userInstrumentGrade}}
                                                        {% endif %}
                                                        </th>
                                                        <th>{{session.package.name}}</th>
                                                        <th>{{session.student.studentdata.phone}}</th>
                                                        <th>{{session.student.email}}</th>
                                                        <th>
                                                            <a href="{{path('report_new', {'session_id': session.id })}}" style="white-space: nowrap;" class="btn btn-sm btn-{{session.userInstrumentGrade.reports|length > 0 ? 'success' : 'primary'}}" id="print-form" >Manage Reports</i></a>
                                                            {% if app.user.usertype == 'admin' and session.userInstrumentGrade.id not in sentreports and session.userInstrumentGrade.id in reports %}
                                                                <button id="send_report-{{session.userInstrumentGrade.reports|last.id}}" type="button" class="btn btn-sm mb-1 btn-info" style="white-space: nowrap;" >Send Report</button>                    
                                                            {% elseif app.user.usertype == 'teacher' %}
                                                                <a href="{{path('session_show', {'id': session.id})}}" class="btn btn-sm mb-1 btn-info" style="white-space: nowrap;" >Edit Details</i></a>
                                                            {% endif %}
                                                            <a href="{{path('assignment_index', {'teacher_id': teacher.id, 'student_id': student.id} , {'student_id': session.student.id })}}" class="btn btn-sm mb-1 btn-info" style="white-space: nowrap;" >Assignments ({{session.student.assignments|filter(assignment => assignment.teacher == session.teacher)|length}})</i></a>
                                                        </th>
                                                    </tr>
                                                {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                        </div><!-- end col -->

                    </div>
                    <!-- end row -->

                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block javascripts %}
   <!-- DataTables JS -->
   <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
   <!-- DataTables Responsive JS -->
   <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
   <script type="text/javascript">
     $(document).ready(function() {
       $('#datatable').DataTable({
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate
                }
            }

       });
     });
   </script>

   <script type="text/javascript">
     $(document).ready(function() {
       $('#datatable-Term-1').DataTable({
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate
                }
            }

       });
     });
   </script>

   <script type="text/javascript">
     $(document).ready(function() {
       $('#datatable-Term-2').DataTable({
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate
                }
            }

       });
     });
   </script>

   <script type="text/javascript">
     $(document).ready(function() {
       $('#datatable-Term-3').DataTable({
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate
                }
            }

       });
     });
   </script>

    <script>
        
        $('[id^="send_report-"]').click( function () {

            var id = jQuery(this).attr("id").split("-")[1];

            $.ajax({
                url:'{{ (path('send_report')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "report_id": id,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    //location.reload();
                    $("#send_report-"+id).hide();
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Sent!:', message: 'The report has been sent to '+data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
{% endblock %}