<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Invoice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        /* Housekeeping */
        html{
            font:0.75em/1.5 sans-serif;
            color:#333;
            background-color:#fff;
            padding:1em;
        }

        /* Tables */
        table{
            width:80%;
            margin-bottom:1em;
            border-collapse: collapse;
            margin:auto;
        }
        th{
            font-weight:bold;
            background-color:#ddd;
        }
        .bold{
            font-weight:bold;
            background-color:#ddd;
        }
        th,
        td{
            padding:0.5em;
            border:1px solid #ccc;
        }
        .name {
            width:40%;
        }

    </style>
</head>
<body>
{{dump(ded)}}
    <table>
        
        <thead>
            <tr>
                <th class="name" colspan="7">Cheza Music School</th>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td>NAME</th>
                <td class="name" colspan="6">{{teacher.fullname|upper}}</th>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <th></th>
                <th class="name">NAME OF STUDENT</th>
                <th>30 Mins</th>
                <th>45 Mins</th>
                <th>60 Mins</th>
                <th>Student Invoice</th>
                <th>70%</th>
            </tr>
        </thead>
        <tbody>
        
        {% for uig in userInstrumentGrades %}
        {% set duration = uig.sessions|first.package.duration %}
        {% set price = uig.sessions|first.package.price / uig.sessions|first.package.noOfSessions %}
        {% set percentage = null == teacher.teacherdata.percentage ? 0.700 : teacher.teacherdata.percentage %}
        {% if null == uig.sessions|first.userInstrumentGrade.percentage %}
            {# do nothing #}
        {% else %}
            {% set percentage = uig.sessions|first.userInstrumentGrade.percentage %}
        {% endif %}
        {% set sixtwopointfive = (uig.sessions|first.package.price / uig.sessions|first.package.noOfSessions) * percentage %}
            <tr>
                <td>{{loop.index}}</td>
                <td class="name">{{uig.studentUserData.student}}</td>
                <td>{{ uig.sessions|filter( session => session.done == true and session.package.duration == '30 Minutes' )|length }}</td>
                <td>{{ uig.sessions|filter( session => session.done == true and session.package.duration == '45 Minutes' )|length }}</td>
                <td>{{ uig.sessions|filter( session => session.done == true and session.package.duration == '60 Minutes' )|length }}</td>
                <td>{{ uig.sessions|filter( session => session.done == true and session.package.duration == duration )|length * price}}</td>
                <td>{{ uig.sessions|filter( session => session.done == true and session.package.duration == duration )|length * sixtwopointfive}}</td>
            </tr>
        {% endfor %}
            <tr>
                <td class="bold" colspan="6">GROSS PAY (70%)</td>
                <td class="bold">{{inv}}</td>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td colspan="6">LESS WITHHOLDING TAX</td>
                <td>{% if inv > 21000 %}{% set tax = 0.05 * inv %}{% else %}{% set tax = 0 %}{% endif %}{{tax}}</td>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td class="bold" colspan="7">DEDUCTIONS</td>{# make table #}
            </tr>
            <tr>
                <td class="bold"></td>
                <td class="bold" colspan="4">Details</td>
                <td class="bold">Date added</td>
                <td class="bold">Amount</td>
            </tr>
            {% for deduction in teacher.teacherdata.deductions %}
            <tr>
                <td>{{loop.index}}</td>
                <td colspan="4">{{deduction.description}}</td>
                <td>{{deduction.addedOn|date('Y-m-d')}}</td>
                <td>{{deduction.toDeduct}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4"></td>
                <td>TOTAL</td>
                <td></td>
                <td>{{ded}}</td>
            </tr>
            <tr>
                <td class="bold" colspan="6">NET PAY</td>
                <td class="bold">{{inv - (tax + ded)}}</td>
            </tr>
            <tr>
                <td></td>
                <td class="name">Prepared by: _________________________________</td>
                <td></td>
                <td colspan="3">Signature: ____________________________</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="name">Authorised by: _________________________________</td>
                <td></td>
                <td colspan="3">Signature: ____________________________</td>
                <td></td>
            </tr>
            
        </tbody>
    </table>
</body>
</html>


