<form class="btn mb-1 btn-danger" style="padding:0px; margin:0px!important;" method="post" action="{{ path('instrument_delete', {'id': instrument.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ instrument.id) }}">
    <button class="btn" style="margin:0px!important;">Delete</button>
</form>
