{% extends 'base.html.twig' %}

{% block title %}Instrument index{% endblock %}

{% block body %}

    <main class="service-page">
        <section class="clean-block clean-services dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">All instruments and courses</h2>
                    <p>Learn more about the courses and instruments that are taught at Cheza Music School.</p>
                    {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('instrument_new') }}">Create new</a>{% endif %}
                </div>
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab" href="#instruments">Instruments</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#courses">Courses</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#traditional">Group Classes</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="instruments">
                            <p class="mt-3">Western instruments.</p>
                            <div class="row">
                                {% for instrument in data.instruments %}
                                <div class="col-md-6 col-lg-4">
                                    <div class="card"><img class="card-img-top w-100 d-block" src="{{asset(instrument.image)}}">
                                        <div class="card-body">
                                            <h4 class="card-title">{{instrument.name}}</h4><span>{{instrument.availability}}</span>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-primary btn-sm" href="{{ path('instrument_show', {'id': instrument.id}) }}">Learn More</a>
                                            <form method="get" style="display:inline;" action="{{path('app_register', {'usertype': 'student'})}}">
                                                <input type="hidden" name="instrument" value="{{instrument.id}}">
                                                <button class="btn btn-primary btn-sm" style="margin:0px;" type="submit">Enroll today</button>
                                            </form>                                            
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <a class="btn btn-outline-primary btn-sm" href="{{ path('instrument_edit', {'id': instrument.id}) }}">Edit</a>
                                            {% endif %}                                            
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="courses">
                            <p class="mt-3">Courses.</p>
                            <div class="row">
                                {% for course in data.courses %}
                                <div class="col-md-6 col-lg-4">
                                    <div class="card"><img class="card-img-top w-100 d-block" src="{{asset(course.image)}}">
                                        <div class="card-body">
                                            <h4 class="card-title">{{course.name}}</h4><span>{{course.availability}}</span>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-primary btn-sm" href="{{ path('instrument_show', {'id': course.id}) }}">Learn More</a>
                                            <form method="get" style="display:inline;" action="{{path('app_register', {'usertype': 'student'})}}">
                                                <input type="hidden" name="instrument" value="{{course.id}}">
                                                <button class="btn mb-1 btn-primary" type="submit"><i class="icon-check"></i>Enroll today</button>
                                            </form>                                            
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <a class="btn btn-outline-primary btn-sm" href="{{ path('instrument_edit', {'id': course.id}) }}">Edit</a>
                                            {% endif %}                                            
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="traditional">
                            <p class="mt-3">Group class - short courses.</p>
                             <div class="row">
                                {% for traditional in data.traditional %}
                                <div class="col-md-6 col-lg-4">
                                    <div class="card"><img class="card-img-top w-100 d-block" src="{{asset(traditional.image)}}">
                                        <div class="card-body">
                                            <h4 class="card-title">{{traditional.name}}</h4><span>{{traditional.availability}}</span>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-primary btn-sm" href="{{ path('instrument_show', {'id': traditional.id}) }}">Learn More</a>
                                            <form method="get" style="display:inline;" action="{{path('app_register', {'usertype': 'student'})}}">
                                                <input type="hidden" name="instrument" value="{{traditional.id}}">
                                                <button class="btn mb-1 btn-primary" type="submit"><i class="icon-check"></i>Enroll today</button>
                                            </form>                                            
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <a class="btn btn-outline-primary btn-sm" href="{{ path('instrument_edit', {'id': traditional.id}) }}">Edit</a>
                                            {% endif %}                                            
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


{% include 'templates/footer.html.twig' %}

 
{% endblock %}
