{% extends 'base.html.twig' %}

{% block title %}New Instrument{% endblock %}

{% block body %}

    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">New Instrument</h2>
                </div>
                {{ include('instrument/_form.html.twig') }}
            </div>
            <a href="{{ path('instrument_index') }}">back to list</a>
        </section>
    </main>

        

{% include 'templates/footer.html.twig' %}


{% endblock %}
