{% extends 'base.html.twig' %}

{% block title %}{{instrument.name}} - Cheza Music School{% endblock %}

{% block body %}
    <main class="product-page">
        <section class="clean-block clean-product dark">
            <div class="container">
                <div class="block-heading">
                    <p>Welcome to Cheza Music School. We're glad you are taking your time to see what we offer.</p>
                </div>
                <div class="block-content">
                    <div class="product-info">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="gallery">
                                    
                                    <img class="img-fluid d-block mx-auto" src="{{asset(instrument.image)}}">
                                   
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info">
                                    <h3>{{instrument.name}} lessons</h3>
                                    <div class="price">
                                        <p>
                                        {% if instrument.availability == 'online-only' %}
                                            Online lessons only
                                        {% elseif instrument.availability == 'offline-only' %}
                                            Home lessons only
                                        {% elseif instrument.availability == 'available' %}
                                            Online and Physical lessons available
                                        {% endif %}
                                        </p>
                                        <h5>Kes 30,000 per term (1 hr sessions)</h5>
                                    </div>
                                    <form method="get" action="{{path('app_register', {'usertype': 'student'})}}">
                                        <input type="hidden" name="instrument" value="{{instrument.id}}">
                                        <button class="btn mb-1 btn-primary" type="submit"><i class="icon-check"></i>Enroll today</button>
                                    </form>
                                    
                                    <div class="summary">
                                        <p>{{instrument.description}}</p>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="btn mb-1 btn-primary" href="{{ path('instrument_index') }}">back to list</a>

                                            <a class="btn mb-1 btn-info" href="{{ path('instrument_edit', {'id': instrument.id}) }}">edit</a>

                                            {{ include('instrument/_delete_form.html.twig') }}
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% include 'templates/footer.html.twig' %}

{% endblock %}
