{% extends 'base_flash.html.twig' %}

{% block title %}{{instrument}} {{exercise}} in {{key.name}} {% if key.name == 'Mixed' %} Keys {% else %} {{key.mode}} {% endif %} - Start Now{% endblock %}
{% block meta_description %}<meta name="description" content="Choose a level for {{instrument}} {{ exercise }} flashcards. Enhance learning with engaging flash cards for teachers and students.">{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/loader.css')}}">
    
{% endblock %}

{% block body %}
<section class="highlight-clean">
    <div class="container">
        {# <div class="intro">
            <h2 class="text-center">{{instrument}} {{exercise}} in {{key.name}} {{key.mode}} - Which Level?</h2>
            <p class="text-center">
                There are {{levels|length}} difficulty levels. Select a difficulty level from the options below. </p>
        </div> #}
        <div id="crumbs">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
            <a class="btn btn-primary btn-sm" href="{{ path('level_new') }}">Create new</a>
            {% endif %}
            <h1>{{instrument}} {{exercise}} in {{key.name}} {% if key.name == 'Mixed' %} Keys {% else %} {{key.mode}} {% endif %} - Which Level?</h1>
            <a class="btn btn-sm mb-1 btn-info" style="display:inline!important" href="{{path('flash_card_start')}}">Instruments</a>
            <a class="btn btn-sm mb-1 btn-info" style="display:inline!important" href="{{path('exercise_index_updated', {'instrument': instrument.name})}}">Exercise</a>
            <a class="btn btn-sm mb-1 btn-info" style="display:inline!important" href="{{path('my_key_index_updated', {'instrument': instrument.name, 'exercise': exercise.type})}}"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Key</a>
            <a class="btn btn-sm mb-1 btn-info" style="display:inline!important" href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i> Level </a>
                
        </div>                
        <div class="buttons">
            {% for level in levels %}
            {% set len = exercise.flashCards|filter( flashCard => flashCard.level == level and flashCard.mykey == key)|length %}
            {% if len > 0 %}

                <h2 style="font-size:1.2em;font-weight:500;margin-bottom:0!important;"><a  href="{{path('flash_card_index_updated', {'instrument': instrument.name, 'exercise': exercise.type, 'key': key.name, 'level': level.name })}}" class="btn mb-1 btn-primary" >{{level.name}} ({{len}} Cards)</a></h2>
            
            {% endif %}
            {% endfor %}
        </div>

    </div>
</section>

    <div id="preloader">
        <div id="loader"></div>
    </div>

{% endblock %}
{% block javascripts %}

    <script>
        $("#downloadpdf").click(function(){
            $("#preloader").fadeIn(250);
        });
    </script>

{% endblock %}