{% extends 'base_flash.html.twig' %}

{% block title %}Level index{% endblock %}

{% block body %}
    <section class="highlight-clean">
        <div class="container">
            <section class="highlight-clean">
                <div class="container">
                    <div class="intro">
                        <p class="text-center"><a href="{{ path('level_new') }}">Create new</a></p>
                        <h2 class="text-center">List of Levels </h2>
                        <p class="text-center">A list of all added levels. </p>
                    </div>
                </div>
            </section>
            <div class="container">
                <h1>Level index</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for level in levels %}
                        <tr>
                            <td>{{ level.id }}</td>
                            <td>{{ level.name }}</td>
                            <td>
                                <a href="{{ path('level_show', {'id': level.id}) }}">show</a>
                                <a href="{{ path('level_edit', {'id': level.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        
        </div>
    </section>

{% endblock %}

