{% extends 'base_flash.html.twig' %}

{% block title %}New Level{% endblock %}

{% block body %}
<section class="highlight-clean">
    <div class="container">
        <h1>Create new Level</h1>

        {{ include('level/_form.html.twig') }}
    
        <a href="{{ path('level_list') }}">back to list</a>
        </div>
</section>
{% endblock %}
