{% extends 'base_flash.html.twig' %}

{% block title %}Level{% endblock %}

{% block body %}
    <h1>Level</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ level.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ level.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('level_list') }}">back to list</a>

    <a href="{{ path('level_edit', {'id': level.id}) }}">edit</a>

    {{ include('level/_delete_form.html.twig') }}
{% endblock %}
