{% extends 'base.html.twig' %}

{% block title %}Edit Deductions{% endblock %}

{% block body %}
    <h1>Edit Deductions</h1>

    {{ include('deductions/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('deductions_index') }}">back to list</a>

    {{ include('deductions/_delete_form.html.twig') }}
{% endblock %}
