{% extends 'base.html.twig' %}

{% block title %}Deductions index{% endblock %}

{% block body %}
    <h1>Deductions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Amount</th>
                <th>AddedOn</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deduction in deductions %}
            <tr>
                <td>{{ deduction.id }}</td>
                <td>{{ deduction.description }}</td>
                <td>{{ deduction.amount }}</td>
                <td>{{ deduction.addedOn ? deduction.addedOn|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('deductions_show', {'id': deduction.id}) }}">show</a>
                    <a href="{{ path('deductions_edit', {'id': deduction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('deductions_new') }}">Create new</a>
{% endblock %}
