{% extends 'base.html.twig' %}

{% block title %}New Deductions{% endblock %}

{% block body %}
    <h1>Create new Deductions</h1>

    {{ include('deductions/_form.html.twig') }}

    <a href="{{ path('deductions_index') }}">back to list</a>
{% endblock %}
