{% extends 'base.html.twig' %}

{% block title %}Deductions{% endblock %}

{% block body %}
    <h1>Deductions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ deduction.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ deduction.description }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ deduction.amount }}</td>
            </tr>
            <tr>
                <th>AddedOn</th>
                <td>{{ deduction.addedOn ? deduction.addedOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('deductions_index') }}">back to list</a>

    <a href="{{ path('deductions_edit', {'id': deduction.id}) }}">edit</a>

    {{ include('deductions/_delete_form.html.twig') }}
{% endblock %}
