            <header id="topnav">

                <!-- Topbar Start -->
                <div class="navbar-custom">
                    <div class="container-fluid">
                        <ul class="list-unstyled topnav-menu float-right mb-0">

                            <li class="dropdown notification-list">
                                <!-- Mobile menu toggle-->
                                <a class="navbar-toggle nav-link">
                                    <div class="lines">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <!-- End mobile menu toggle-->
                            </li>

                            <li class="d-none d-sm-block">
                                <form class="app-search">
                                    <div class="app-search-box">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search...">
                                            <div class="input-group-append">
                                                <button class="btn" type="submit">
                                                    <i class="fe-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </li>
    
                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="fe-bell noti-icon"></i>
                                </a>
                            </li>

                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <img src="{{ app.user is defined and app.user is not null and app.user.photo is not null ? app.user.photo : asset('img/profile/person.png') }}" alt="user-image" class="rounded-circle">
                                    <span class="pro-user-name ml-1">
                                        {{app.user.fullname}} <i class="mdi mdi-chevron-down"></i> 
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                    <!-- item-->
                                    <div class="dropdown-header noti-title">
                                        <h6 class="text-overflow m-0">Welcome !</h6>
                                    </div>

                                    <!-- item-->
                                    <a href="{{path(app.user.usertype)}}" class="dropdown-item notify-item">
                                        <i class="fe-user"></i>
                                        <span>My Profile</span>
                                    </a>

                                    <!-- item-->
                                    <a href="{{path('settings_new')}}" class="dropdown-item notify-item">
                                        <i class="fe-settings"></i>
                                        <span>Settings</span>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="fe-lock"></i>
                                        <span>Lock Screen</span>
                                    </a>

                                    <div class="dropdown-divider"></div>

                                    <!-- item-->
                                    <a href="{{path('app_logout')}}" class="dropdown-item notify-item">
                                        <i class="fe-log-out"></i>
                                        <span>Logout</span>
                                    </a>

                                </div>
                            </li>

                            <li class="dropdown notification-list">
                                <a href="{{path('settings_new')}}" class="nav-link right-bar-toggle waves-effect">
                                    <i class="fe-settings noti-icon"></i>
                                </a>
                            </li>

                        </ul>

                        <!-- LOGO -->
                        <div class="logo-box">
                            <a href="{{path('default')}}" class="logo logo-light">
                                <span class="logo-lg">
                                    <img src="{{asset('adm/assets/images/cheza_logo.jpg')}}" alt="" height="32">
                                </span>
                                <span class="logo-sm">
                                    <img src="{{asset('adm/assets/images/cheza_logo_sm.jpg')}}" alt="" height="48">
                                </span>
                            </a>
                            <a href="{{path('default')}}" class="logo logo-dark">
                                <span class="logo-lg">
                                    <img src="{{asset('adm/assets/images/cheza_logo.jpg')}}" alt="" height="32">
                                </span>
                                <span class="logo-sm">
                                    <img src="{{asset('adm/assets/images/cheza_logo_sm.jpg')}}" alt="" height="48">
                                </span>
                            </a>
                        </div>

                        <div class="clearfix"></div>
                    </div> <!-- end container-fluid-->
                </div>
                <!-- end Topbar -->

                <div class="topbar-menu">
                    <div class="container-fluid">
                        <div id="navigation">
                            <!-- Navigation Menu-->
                            <ul class="navigation-menu">

                                <li class="has-submenu">
                                    <a href="{{path(app.user.usertype ~ '-dashboard')}}"><i class="mdi mdi-view-dashboard"></i>Dashboard</a>
                                </li>

                                <li class="has-submenu">
                                    <a href="{{path(app.user.usertype)}}"> <i class="mdi mdi-invert-colors"></i>Profile  <div class="arrow-down"></div></a>
                                    <ul class="submenu megamenu">
                                        <li>
                                            <ul>
                                                <li>
                                                    <a href="{{path(app.user.usertype)}}">Your Profile</a>
                                                </li>
                                                <li>
                                                    <a href="{{path('settings_new')}}">Your Settings</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED')and (app.user.usertype == 'teacher' or app.user.usertype == 'student') %}
                                <li class="has-submenu">
                                    <a href="{{path(app.user.usertype ~ '_session_calendar')}}"> <i class="mdi mdi-lifebuoy"></i>Calendar <div class="arrow-down"></div></a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="{{path(app.user.usertype ~ '_session_calendar')}}">Your Calendar</a>
                                        </li>
                                        <li>
                                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED')and app.user.usertype == 'teacher' %}
                                            <a href="{{path('teacher_schooltime_calendar_edit', {'teacher_id': app.user.id })}}">Edit Your Schedule</a>
                                            {% endif %}
                                        </li>
                                        <li>
                                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.usertype == 'teacher' %}
                                            <a href="{{path(app.user.usertype ~ '_student_attendance')}}">Attendance</a>
                                            {% else %}
                                            <a href="{{path('student_attendance', {'student_id': app.user.id})}}">Attendance</a>
                                            {% endif %}
                                        </li>
                
                                    </ul>
                                </li>
                                {% endif %}
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED')and (app.user.usertype == 'teacher' or app.user.usertype == 'admin') %}
                                <li class="has-submenu">
                                    <a href="#"> <i class="mdi mdi-chart-donut-variant"></i>Students <div class="arrow-down"></div></a>
                                    <ul class="submenu">
                                        <li>
                                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED')and app.user.usertype == 'admin' %}
                                            <a href="{{path('admin-students-list')}}">Students List</a>
                                            {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED')and app.user.usertype == 'teacher' %}
                                            <a href="{{path('teacher-students-list')}}">Students List</a>
                                            {% endif %}
                                        </li>
                                        <li>
                                            <a href="{{path('assign_access_roles')}}">Permissions</a>
                                        </li>
                                        <li>
                                            <a href="{{path('show_balances')}}">Balances</a>
                                        </li>
                                    </ul>
                                </li>
                                {% endif %}

                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED')and app.user.usertype == 'admin' %}
                                <li class="has-submenu">
                                    <a href="{{path('admin-teachers-list')}}"> <i class="mdi mdi-chart-donut-variant"></i>Teachers <div class="arrow-down"></div></a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="{{path('admin-teachers-list')}}">Teachers List</a>
                                        </li>
                                        <li>
                                            <a href="{{path('teacher_sinvoices_sum')}}">Teacher's Unsent Invoices</a>
                                        </li>
                                        <li>
                                            <a href="{{path('app_teacher_invoice')}}">Teacher's Sent Invoices</a>
                                        </li>
                                        <li>
                                            <a href="{{path('assign_access_roles')}}">Permissions</a>
                                        </li>
                                        <li>
                                            <a href="{{path('admin_full_calendar')}}">Full Calendar</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="has-submenu">
                                    <a href="#"> <i class="mdi mdi-cards-outline"></i>Messaging <div class="arrow-down"></div></a>
                                    <ul class="submenu megamenu">
                                        <li>
                                            <ul>
                                                <li>
                                                    <a href="{{path('admin-communications')}}">Communications</a>
                                                </li>
                                                <li>
                                                    <a href="{{path('admin-communications')}}#tab-3">Bulk messaging</a>
                                                </li>
                                                <li>
                                                    <a href="{{path('admin-communications')}}#tab-6">Quick messaging</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#"> <i class="mdi mdi-cards-outline"></i>Blog <div class="arrow-down"></div></a>
                                    <ul class="submenu megamenu">
                                        <li>
                                            <ul>
                                                <li>
                                                    <a href="{{path('blog_new')}}">New Article</a>
                                                </li>
                                                <li>
                                                    <a href="{{path('blog_index')}}">Articles List</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                {% endif %}

                                <li class="has-submenu">
                                    <a href="#"> <i class="mdi mdi-card-bulleted-settings-outline"></i>More <div class="arrow-down"></div></a>
                                    <ul class="submenu">
                                        <li>
                                            {% if app.user.usertype == 'admin' %}<a href="{{path('session_index')}}">Sessions</a>{% endif %}
                                            {% if app.user.usertype == 'admin' %}<a href="{{path('short_url_new')}}">URL Shortener</a>{% endif %}
                                            {% if app.user.usertype == 'admin' %}<a href="{{path('w_shop_index')}}">Workshops</a>{% endif %}
                                            {% if app.user.usertype == 'admin' %}<a href="{{path('letter_new')}}">New Letter</a>{% endif %}
                                            {% if app.user.usertype == 'admin' %}<a href="{{path('letter_index')}}">Letters List</a>{% endif %}
                                            {% if app.user.usertype == 'admin' %}<a href="{{path('lesson_index')}}">Lessons List</a>{% endif %}
                                            {% if app.user.usertype == 'admin' %}<a href="{{path('test_index')}}">Test List</a>{% endif %}
                                            {% if app.user.usertype == 'admin' %}<a href="{{path('quiz_index')}}">Quiz List</a>{% endif %}
                                            {% if app.user.usertype == 'admin' %}<a href="{{path('choice_index')}}">Choices List</a>{% endif %}
                                            <a href="{{path('flash_card_start')}}">Flash Cards</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#"> <i class="mdi mdi-card-bulleted-settings-outline"></i>Configuration <div class="arrow-down"></div></a>
                                    <ul class="submenu">
                                        <li>                        
                                            {% if app.user.usertype == 'admin' %}<a href="{{ path('configuration_edit', {'id': 1}) }}">Edit</a>{% endif %}
                                            {% if app.user.usertype == 'admin' %}<a href="{{ path('navigation_index') }}">Navigation</a>{% endif %}
                                            {% if app.user.usertype == 'admin' %}<a href="{{ path('page_index') }}">Pages</a>{% endif %}
                                            {% if app.user.usertype == 'admin' %}<a href="{{ path('section_index') }}">Sections</a>{% endif %}
                                            {% if app.user.usertype == 'admin' %}<a href="{{ path('web_photos_index') }}">Photos</a>{% endif %}
                                            {% if app.user.usertype == 'admin' %}<a href="{{ path('blog_index') }}">Blog</a>{% endif %}
                                            {# {% if app.user.usertype == 'admin' %}<a href="{{ path('blog_category_index') }}">Blog Category</a>{% endif %} #}
                                            {# {% if app.user.usertype == 'admin' %}<a href="{{ path('directors_index') }}">Directors</a>{% endif %} #}
                                            {% if app.user.usertype == 'admin' %}<a href="{{ path('course_index') }}">Course</a>{% endif %}
                                            {% if app.user.usertype == 'admin' %}<a href="{{ path('photo_upload') }}">Upload Image</a>{% endif %}
                                            <a href="{{path('flash_card_start')}}">Flash Cards</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                            <!-- End navigation menu -->

                            <div class="clearfix"></div>
                        </div>
                        <!-- end #navigation -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end navbar-custom -->

            </header>
