            <div class="sidebar widget_area scheme_original" role="complementary">
                <div class="sidebar_inner widget_area_inner">
                    <aside id="categories-2" class="widget_number_1 widget widget_categories">
                        <h5 class="widget_title">Categories</h5>
                        <ul>
                            <li class="cat-item cat-item-6"><a href="#">Chamber ensembles</a></li>
                            <li class="cat-item cat-item-5"><a href="#">Jazz ensembles</a></li>
                            <li class="cat-item cat-item-7"><a href="#">Music technology</a></li>
                            <li class="cat-item cat-item-4"><a href="#">Musicianship</a></li>
                            <li class="cat-item cat-item-8"><a href="#">Piano classes</a></li>
                            <li class="cat-item cat-item-3"><a href="#">Voice</a></li>
                        </ul>
                    </aside><aside id="chezaschool_widget_recent_posts-2" class="widget_number_2 widget widget_recent_posts">
                        <h5 class="widget_title">Recent posts</h5>
                        {% for post in posts %}
                        <article class="post_item with_thumb {% if loop.index == 1 %} first {% endif %}">
                            <div class="widget_area_top">
                                <div class="post_thumb"><img class="wp-post-image" width="75" height="75" alt="{{post.title}}" src="{{asset('dist/assets/images/' ~ post.image )}}"></div>
                                <div class="post_content">
                                    <h6 class="post_title"><a href="{{path('default')}}">{{post.title}}</a></h6>
                                </div>
                                <div class="post_info"><span class="post_info_item post_info_posted"><a href="{{path('default')}}" class="post_info_date">May 5, 2016</a></span><span class="post_info_item post_info_counters"><a href="{{path('default')}}#comments" class="post_counters_item post_counters_comments icon-comment"><span class="post_counters_number">3</span></a>
                                    </span>
                                </div>
                            </div>
                            <div class="widget_area_bottom"></div>
                        </article>
                        {% endfor %}
                    </aside>
                    {# <aside id="calendar-2" class="widget_number_3 widget widget_calendar">
                        <h5 class="widget_title">Calendar</h5>
                        <div id="calendar_wrap" class="calendar_wrap">
                            <table id="wp-calendar-47452144" class="wp-calendar">
                                <thead>
                                    <tr>
                                        <th class="month_prev">
                                            <a href="#" data-type="post" data-year="2016" data-month="04" data-letter="1" title="View posts for April 2016"></a>
                                        </th>
                                        <th class="month_cur" colspan="5"><a href="{{path('default')}}" title="View posts for May 2016">May <span>2016</span></a></th>
                                        <th class="month_next">&nbsp;</th>
                                    </tr>
                                    <tr>
                                        <th class="weekday" scope="col" title="Monday">M</th>
                                        <th class="weekday" scope="col" title="Tuesday">T</th>
                                        <th class="weekday" scope="col" title="Wednesday">W</th>
                                        <th class="weekday" scope="col" title="Thursday">T</th>
                                        <th class="weekday" scope="col" title="Friday">F</th>
                                        <th class="weekday" scope="col" title="Saturday">S</th>
                                        <th class="weekday" scope="col" title="Sunday">S</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="6" class="pad"><span class="day_wrap">&nbsp;</span></td>
                                        <td class="day"><span class="day_wrap">1</span></td>
                                    </tr>
                                    <tr>
                                        <td class="day"><span class="day_wrap">2</span></td>
                                        <td class="day"><span class="day_wrap">3</span></td>
                                        <td class="day"><span class="day_wrap">4</span></td>
                                        <td class="day"><a class="day_wrap" href="{{path('default')}}" title="5 items">5</a></td>
                                        <td class="day"><span class="day_wrap">6</span></td>
                                        <td class="day"><span class="day_wrap">7</span></td>
                                        <td class="day"><span class="day_wrap">8</span></td>
                                    </tr>
                                    <tr>
                                        <td class="day"><span class="day_wrap">9</span></td>
                                        <td class="day"><span class="day_wrap">10</span></td>
                                        <td class="day"><span class="day_wrap">11</span></td>
                                        <td class="day"><span class="day_wrap">12</span></td>
                                        <td class="day"><span class="day_wrap">13</span></td>
                                        <td class="day"><span class="day_wrap">14</span></td>
                                        <td class="day"><span class="day_wrap">15</span></td>
                                    </tr>
                                    <tr>
                                        <td class="day"><span class="day_wrap">16</span></td>
                                        <td class="day"><span class="day_wrap">17</span></td>
                                        <td class="day"><span class="day_wrap">18</span></td>
                                        <td class="day"><span class="day_wrap">19</span></td>
                                        <td class="day"><span class="day_wrap">20</span></td>
                                        <td class="day"><span class="day_wrap">21</span></td>
                                        <td class="day"><span class="day_wrap">22</span></td>
                                    </tr>
                                    <tr>
                                        <td class="day"><span class="day_wrap">23</span></td>
                                        <td class="day"><span class="day_wrap">24</span></td>
                                        <td class="day"><span class="day_wrap">25</span></td>
                                        <td class="day"><span class="day_wrap">26</span></td>
                                        <td class="day"><span class="day_wrap">27</span></td>
                                        <td class="day"><span class="day_wrap">28</span></td>
                                        <td class="day"><span class="day_wrap">29</span></td>
                                    </tr>
                                    <tr>
                                        <td class="day"><span class="day_wrap">30</span></td>
                                        <td class="day"><span class="day_wrap">31</span></td>
                                        <td class="pad" colspan="5"><span class="day_wrap">&nbsp;</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </aside>
                    <aside id="null-instagram-feed-2" class="widget_number_4 widget null-instagram-feed">
                        <h5 class="widget_title">Instagram</h5>
                        <ul class="instagram-pics instagram-size-large">
                            <li class="">
                                <a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13129870_1728198570761597_1172591156_ne228.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
                            </li>
                            <li class="">
                                <a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13150775_1018598524889774_1388242671_nb27f.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
                            </li>
                            <li class="">
                                <a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13129145_1720399108173000_2090809450_nbf68.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
                            </li>
                            <li class="">
                                <a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13116786_1144877578876477_266188708_n0d6d.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
                            </li>
                            <li class="">
                                <a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13129660_660889660715453_1695863233_n5713.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
                            </li>
                            <li class="">
                                <a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13116553_603325526502238_1571230446_n46e6.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
                            </li>
                        </ul>
                    </aside>
                    <aside id="search-2" class="widget_number_5 widget widget_search">
                        <form role="search" method="get" class="search_form" action="#"><input type="text" class="search_field" placeholder="SEARCH &hellip;" value="" name="s" title="Search for:" /><button type="submit" class="search_button icon-search" href="#"></button></form>
                    </aside>
                    <aside id="archives-2" class="widget_number_6 widget widget_archive">
                        <h5 class="widget_title">Archive</h5>
                        <ul>
                            <li><a href='#'>May 2016</a></li>
                            <li><a href='#'>April 2016</a></li>
                            <li><a href='#'>March 2016</a></li>
                            <li><a href='#'>February 2016</a></li>
                            <li><a href='#'>January 2016</a></li>
                        </ul>
                    </aside>
                    <aside id="meta-2" class="widget_number_7 widget widget_meta">
                        <h5 class="widget_title">Meta</h5>
                        <ul>
                            <li><a href="#">Log in</a></li>
                            <li><a href="#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                            <li><a href="#">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                            <li><a href="#" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
                        </ul>
                    </aside>
                    <aside id="chezaschool_widget_recent_reviews-2" class="widget_number_8 widget widget_recent_reviews">
                        <h5 class="widget_title">Rating</h5>
                        <div class="recent_reviews">
                            <article class="post_item with_thumb first">
                                <div class="widget_area_top">
                                    <div class="post_thumb"><img class="wp-post-image" width="75" height="75" alt="Festival of Flutes" src="images/image-3-75x75.jpg"></div>
                                    <div class="post_content">
                                        <h6 class="post_title"><a href="single-post.html">Festival of Flutes</a></h6>
                                        <div class="post_rating reviews_summary blog_reviews">
                                            <div class="criteria_summary criteria_row">
                                                <div class="reviews_stars reviews_style_stars" data-mark="2.5">
                                                    <div class="reviews_stars_wrap">
                                                        <div class="reviews_stars_bg"><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span></div>
                                                        <div class="reviews_stars_hover" style="width:50%"><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span></div>
                                                    </div>
                                                    <div class="reviews_value">2.5</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget_area_bottom">
                                    <div class="post_info"></div>
                                </div>
                            </article>
                            <article class="post_item with_thumb">
                                <div class="widget_area_top">
                                    <div class="post_thumb"><img class="wp-post-image" width="75" height="75" alt="Viola and Composition departments collaborate" src="images/image-8-75x75.jpg"></div>
                                    <div class="post_content">
                                        <h6 class="post_title"><a href="single-post.html">Viola and Composition departments collaborate</a></h6>
                                        <div class="post_rating reviews_summary blog_reviews">
                                            <div class="criteria_summary criteria_row">
                                                <div class="reviews_stars reviews_style_stars" data-mark="3.8">
                                                    <div class="reviews_stars_wrap">
                                                        <div class="reviews_stars_bg"><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span></div>
                                                        <div class="reviews_stars_hover" style="width:76%"><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span></div>
                                                    </div>
                                                    <div class="reviews_value">3.8</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget_area_bottom">
                                    <div class="post_info"></div>
                                </div>
                            </article>
                        </div>
                    </aside>
                    <aside id="rss-2" class="widget_number_9 widget widget_rss">
                        <h5 class="widget_title"><a class="rsswidget" href="#"><img class="rss-widget-icon" style="border:0" width="14" height="14" src="wp-includes/images/rss.png" alt="RSS"/></a> <a class="rsswidget" href="http://www.reuters.com/">RSS Feed</a></h5>
                        <ul>
                            <li><a class='rsswidget' href='#'>Angelina Jolie slams Trump travel ban, calls for &#039;compassionate America&#039;</a> <span class="rss-date">February 3, 2017</span></li>
                            <li><a class='rsswidget' href='#'>Parents of Canadian &#039;Sharkwater&#039; filmmaker have hope for missing son</a> <span class="rss-date">February 2, 2017</span></li>
                        </ul>
                    </aside> #}
                </div>
            </div>
