{% extends 'adm_base.html.twig' %}

{% block title %}List of letters{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Letters</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active"> Letters</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('attachment_new') }}" class="dropdown-item">List</a>
                            <!-- item-->
                            <a href="{{ path('admin-communications') }}" class="dropdown-item">Back to communications</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">All Letters</h4>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Text</th>
                                <th>CreatedOn</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for letter in letters %}
                            <tr>
                                <td>{{ letter.id }}</td>
                                <td>{{ letter.text|raw }}</td>
                                <td>{{ letter.createdOn ? letter.createdOn|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    {# <a href="{{ path('letter_show', {'id': letter.id}) }}">show</a> #}
                                    <a class="btn btn-sm mb-1 btn-primary" href="{{ path('letter_edit', {'id': letter.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ path('letter_new') }}">Create new</a>
                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}