{% extends 'base.html.twig' %}

{% block title %}Letter{% endblock %}

{% block body %}
    <h1>Letter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ letter.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ letter.text }}</td>
            </tr>
            <tr>
                <th>CreatedOn</th>
                <td>{{ letter.createdOn ? letter.createdOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('letter_index') }}">back to list</a>

    <a href="{{ path('letter_edit', {'id': letter.id}) }}">edit</a>

    {{ include('letter/_delete_form.html.twig') }}
{% endblock %}
