{% extends 'adm_base.html.twig' %}

{% block title %}Edit {{section.name}}|{{section.page}}{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Edit {{section.name}}|{{section.page}}</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('section_index') }}" class="dropdown-item">Back to list</a>
                            {{ include('section/_delete_form.html.twig') }}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Edit Section</h4>

                    {{ include('section/_form.html.twig', {'button_label': 'Update'}) }}

                    <a href="{{ path('section_index') }}">back to list</a>

                    {{ include('section/_delete_form.html.twig') }}
                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>

    <script src="{{ asset('site/js/jquery.highlighttextarea.js') }}"></script>    

<script>
$(document).ready(function (e) {

    var w = getTextWithinTags($("#section_typography").val());
    console.log('here');
    console.log(w);
    $('#section_typography').highlightTextarea({
        words: w,
        caseSensitive: false  
    });
});
</script>

<script>
  function getTexts() {

    var arr = [];
    $(".content_spans .edt").each(function(index, elem){
        arr.push($(this).text().trim());
    });
    return arr;
    

  }

function getAllText() {
    var array = [];

    $(".content_spans *").each(function(index, elem) {
        var txt = $(this).text().replace(/\s+/g, " ");
        array.push(txt);
    })
    //var elements = document.body.getElementsByTagName("*");
//
    //for(var i = 0; i < elements.length; i++) {
    //   var current = elements[i];
    //    if(current.children.length === 0 && current.textContent.replace(/ |\n/g,'') !== '') {
    //       array.push(current.textContent);
    //    }
    //}     
    return array;
}

function getTextWithinTags(string){

    var array = [];
    var doc = new DOMParser().parseFromString(string, "text/html"); 
    elements = doc.getElementsByTagName("*");
    for(var i = 0; i < elements.length; i++) {
        var current = elements[i];
        if(current.children.length === 0 && current.textContent.replace(/ |\n/g,'') !== '') {
            // Check the element has no children && that it is not empty
            array.push(current.textContent);
        }
    } 
    return array;
}

</script>
{% endblock %}