{% extends 'adm_base.html.twig' %}

{% block title %}Sections{% endblock %}
{% block stylesheets %}
    <style>
        .btn-group {
        display: flex;
        }
        {% if page_id is defined and page_id != "" %}
        .table-dragable>tbody .grabable {
        cursor: grab;
        user-select: none
        }

        .table-dragable>tbody>tr.grabbed {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        }

        .table-dragable>tbody>tr.grabbed:active {
        user-input: none;
        }

        .table-dragable>tbody>tr.grabbed:active * {
        user-input: none;
        cursor: grabbing !important;
        }
        {% endif %}
    </style>
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Sections</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box" style="min-height:500px;">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('section_new') }}" class="dropdown-item">Create new</a>   
                            <a href="{{ path('section_index') }}" class="dropdown-item">All</a>
                            {% for page in pages %}
                            <a href="{{ path('section_index', {'page': page.id }) }}" class="dropdown-item">{{page}}</a>
                            {% endfor %}
                            <button type="button" id="saveOrder" class="dropdown-item">Save </button>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Sections</h4>

                    <table id="tableGrabable" class="table table-dragable" >
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Page</th>
                                <th>Position</th>
                                <th>Visible</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for section in sections %}
                            <tr id="section-{{section.id}}" class="grabable">
                                <td>{{ section.name }}</td>
                                <td>{{ section.page }}</td>
                                <td>{{ section.position }}</td>
                                <td>{{ section.visible ? 'Yes' : 'No' }}</td>
                                <td>
                                    <a href="{{ path('section_show', {'id': section.id}) }}">show</a>
                                    <a href="{{ path('section_edit', {'id': section.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <input type="hidden" id="newOrder" value="">
                    <a href="{{ path('section_new') }}">Create new</a>

                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}
{% if page_id is defined and page_id != "" %}
<script>
$('.table-dragable tbody .grabable').mousedown(function (e) {

    var tr = $(e.target).closest('tr'), sy = e.pageY, drag;

    if ($(e.target).is('tr')) tr = $(e.target);

    var index = tr.index();

    $(tr).addClass('grabbed');

    function move (e) {

        if (!drag && Math.abs(e.pageY - sy) < 10) return;
        drag = true;

        tr.siblings().each(function() {

            var s = $(this), i = s.index(), y = s.offset().top;

            if (e.pageY >= y && e.pageY < y + s.outerHeight()) {
                if (i < tr.index()) s.insertAfter(tr);
                else s.insertBefore(tr);
                return false;
            }

        });
    }

    function up (e) {
        
        var id = tr.attr("id").split("-")[1];
        // console.log(id);
        // console.log(tr.index());

        if (drag && index != tr.index()) {
            drag = false;
        }

        $(document).unbind('mousemove', move).unbind('mouseup', up);
        $(tr).removeClass('grabbed');
    }

    $(document).mousemove(move).mouseup(up);

    });
</script>
<script>

$("#saveOrder").click(function() {

// ----- Retrieve the li items inside our sortable list
    var items = $("#tableGrabable .grabable");

    var linkIDs = [items.size()];
    var index = 0;
    // ----- Iterate through each li, extracting the ID embedded as an attribute
    items.each(
        function(intIndex) {
            linkIDs[index] = $(this).attr("id");
            index++;
        });

    //$get("<%=txtExampleItemsOrder.ClientID %>").value = linkIDs.join(",");
    $("#newOrder").val(linkIDs.join(","));
    // console.log($("#newOrder").val());

    $.ajax({
        url:"{{path('save_section_list_order')}}",
        type: "POST",
        dataType: "json",
        data: {
            "new_order": $("#newOrder").val(),
            "page_id": "{{page_id}}",
        },
        async: true,
        success: function (data)
        {
            //console.log(data);
            $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
        },
        error: function (xhr, status, error) {
            console.log(error);
        }
    });

})


</script>
{% endif %}
{% endblock %}