{% extends 'adm_base.html.twig' %}

{% block title %}{{section.name|title}}{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">{{section.name|title}}</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('section_index') }}" class="dropdown-item">Back to list</a>
                            {{ include('section/_delete_form.html.twig') }}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">{{section.name|title}}</h4>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ section.id }}</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{ section.name }}</td>
                            </tr>
                            <tr>
                                <th>Position</th>
                                <td>{{ section.position }}</td>
                            </tr>
                            <tr>
                                <th>Typography</th>
                                <td>{{ section.typography }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <a href="{{ path('section_index') }}">back to list</a>

                    <a href="{{ path('section_edit', {'id': section.id}) }}">edit</a>

                    {{ include('section/_delete_form.html.twig') }}

                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}