{{ form_start(form, {'attr': {'id': 'choice-form'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-success" id="save-and-continue">Save and Continue</button>
    <button class="btn btn-primary" type="submit">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}