{% extends 'adm_base.html.twig' %}

{% block title %}Choices Listing{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Choices</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Choices</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('choice_new') }}" class="dropdown-item">List</a>
                            <!-- item-->
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Choice List</h1>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Content</th>
                                    <th>RefLetter</th>
                                    <th>Image</th>
                                    <th>IsCorrect</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for choice in choices %}
                                <tr>
                                    <td>{{ choice.id }}</td>
                                    <td>{{ choice.content }}</td>
                                    <td>{{ choice.refLetter }}</td>
                                    <td>{{ choice.image }}</td>
                                    <td>{{ choice.isCorrect ? 'Yes' : 'No' }}</td>
                                    <td>
                                        <a href="{{ path('choice_show', {'id': choice.id}) }}">show</a>
                                        <a href="{{ path('choice_edit', {'id': choice.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid --> 

{% endblock %}
