{% extends 'adm_base.html.twig' %}

{% block title %}New Choice{% endblock %}

{% block body %}
    <h1>Create new Choice</h1>


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">New Choice</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">+ Choice {{quiz.choices|length}}</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('choice_new') }}" class="dropdown-item">Create new</a>
                            <!-- item-->
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Create new Choice</h1>
                    <div>{{quiz.content | raw}} <img src="/quizfiles/images/{{ quiz.image }}" style="max-width:150px;"></div>
                    {{ include('choice/_form.html.twig') }}

                    <a href="{{ path('choice_index') }}">back to list</a>
                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid --> 

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.getElementById('save-and-continue').addEventListener('click', function (event) {
            event.preventDefault();

            var form = document.getElementById('choice-form');
            var formData = new FormData(form);

            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Clear form fields
                    form.reset();

                    // Optionally display a success message
                    alert('Choice saved successfully! You can add another choice.');
                } else {
                    // Optionally display error messages
                    alert('Failed to save choice. Please check the form and try again.' + data.errors);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            });
        });
    </script>
{% endblock %}
