{% extends 'base.html.twig' %}

{% block title %}Choice{% endblock %}

{% block body %}
    <h1>Choice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ choice.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ choice.content }}</td>
            </tr>
            <tr>
                <th>RefLetter</th>
                <td>{{ choice.refLetter }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ choice.image }}</td>
            </tr>
            <tr>
                <th>IsCorrect</th>
                <td>{{ choice.isCorrect ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('choice_index') }}">back to list</a>

    <a href="{{ path('choice_edit', {'id': choice.id}) }}">edit</a>

    {{ include('choice/_delete_form.html.twig') }}
{% endblock %}
