{% extends 'base_flash.html.twig' %}

{% block title %}Flashcards exercises for {{instrument}} - Cheza Music School{% endblock %}
{% block meta_description %}<meta name="description" content="Find Cheza Music Schools' flash cards for {{instrument}} practice and teaching. Enhance learning with engaging flash cards for teachers and students.">{% endblock %}
{% block stylesheets %}
<style>

.imagesized{
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
 }
.card-img-top {
    height: 200px; /* Set your desired fixed height */
    object-fit: cover; /* Ensure the image covers the entire area while maintaining aspect ratio */
}

 </style>
{% endblock %}
{% block body %}
    <section class="highlight-clean">
        <div class="container">
            {# <section class="highlight-clean">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center">Exercises for {{instrument}}</h2>
                        <p class="text-center"> There are {{exercises|length}} exercises for you. Select an exercise from below. </p>
                    </div>
                </div>
            </section> #}
            <div id="crumbs">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                <a class="btn btn-primary btn-sm" href="{{ path('exercise_new') }}">Create new</a>
                {% endif %}            
                <h1>Exercises for {{instrument}}</h1>
                <p class="text-center">Choose the exercise that you'd like to do</p>
                <a class="btn btn-sm mb-1 btn-info" style="display:inline!important"  href="{{path('flash_card_start')}}">Instruments</a>
                <a class="btn btn-sm mb-1 btn-info" style="display:inline!important"  href="#">Exercise</a>
            </div>                    
            <div class="container mt-3">
                <div class="row">
                    {% for exercise in exercises %}
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-4">
                        <a href="{{path('my_key_index_updated', {'instrument': instrument.name, 'exercise': exercise.type})}}">
                            <img src="{{asset("cards/" ~ exercise.flashCards[0].image)}}" class="card-img-top" alt="{{ instrument.name ~ ' ' ~ exercise.type }} 1">
                        </a>
                        <div class="card-body">
                            <h2 style="font-size:1.2em;font-weight:500" class="card-title">{{ exercise.type }}</h2>
                            <a href="{{path('my_key_index_updated', {'instrument': instrument.name, 'exercise': exercise.type})}}" class="btn mb-1 btn-primary">{{exercise.flashCards|length}} Cards</a>
                        </div>
                    </div>
                </div>
                    {% endfor %}
                </div>

            </div>
        
        </div>
    </section>

{% endblock %}
