{% extends 'base_flash.html.twig' %}

{% block title %}Exercise index{% endblock %}

{% block body %}
    <section class="highlight-clean">
        <div class="container">
            <section class="highlight-clean">
                <div class="container">
                    <div class="intro">
                        <p class="text-center"><a href="{{ path('exercise_new') }}">Create new</a></p>
                        <h2 class="text-center">List of Exercises </h2>
                        <p class="text-center">A list of all added exercises. </p>
                    </div>
                </div>
            </section>
            <div class="container">
                <h1>Exercise index</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Type</th>
                            <th>Instrument</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for exercise in exercises %}
                        <tr>
                            <td>{{ exercise.id }}</td>
                            <td>{{ exercise.type }}</td>
                            <td>{{ exercise.instrument }}</td>
                            <td>
                                <a href="{{ path('exercise_show', {'id': exercise.id}) }}">show</a>
                                <a href="{{ path('exercise_edit', {'id': exercise.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        
        </div>
    </section>


{% endblock %}

