{% extends 'base_flash.html.twig' %}

{% block title %}New Exercise{% endblock %}

{% block body %}
    <h1>Create new Exercise</h1>

    {{ include('exercise/_form.html.twig') }}

    <a href="{{ path('exercise_list') }}">back to list</a>
{% endblock %}
