{% extends 'base_flash.html.twig' %}

{% block title %}Exercise{% endblock %}

{% block body %}
    <h1>Exercise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exercise.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ exercise.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('exercise_list') }}">back to list</a>

    <a href="{{ path('exercise_edit', {'id': exercise.id}) }}">edit</a>

    {{ include('exercise/_delete_form.html.twig') }}
{% endblock %}
