{% extends 'base.html.twig' %}

{% block title %}
    Page Not Found
{% endblock %}
{% block stylesheets %}
<style>
    /* public/css/custom.css */

    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        color: #333;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 600px;
        margin: 5rem auto;
        padding: 2rem;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    h1 {
        font-size: 2rem;
        color: #0056b3;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.5;
        color: #666;
    }

    a {
        text-decoration: none;
        color: #0056b3;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }

    a.btn {
        display: inline-block;
        padding: 0.8rem 1.5rem;
        margin-top: 1rem;
        color: #fff;
        background-color: #0056b3;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    a.btn:hover {
        background-color: #004494;
    }

    img {
        max-width: 150px;
        margin-bottom: 1.5rem;
    }

    .text-muted {
        color: #888;
        font-size: 0.9rem;
    }

</style>

{% endblock %}

{% block page %}
<div class="container">
    <!-- Logo -->
    <div>
        <img src="https://chezamusicschool.co.ke/config/cheza-logo-long-dark-62d95ed09819b.png" alt="Site Logo" class="img-fluid" style="max-width: 200px;">
    </div>

    <!-- Header -->
    <h1>Oops! Page Not Found</h1>
    <p>The page you're looking for doesn't exist or might have been moved.</p>

    <!-- Navigation Options -->
    <div>
        <a href="{{ path('default') }}" class="btn btn-primary btn-lg">Go to Homepage</a>
    </div>

    <!-- Help Section -->
    <div class="text-muted">
        <p>Need help? Contact us at 
            <a href="mailto:info@chez.co.ke">info@chez.co.ke</a> 
            or call <a href="tel:+254711832933">0711 832 933</a>.
        </p>
    </div>
</div>
{% endblock %}
