{% extends 'base.html.twig' %}
{% block title %}About Us | Cheza Music School{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block page %}
    <div class="page">
    
      {# {{ include('header_global') }} #}

      {{rendered|raw}}
      
      {# {{ include('pricing') }} #}
      {# {{ include('footer_global') }} #}

    </div>
    
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>

{% endblock %}    

{% block javascripts %}

{% endblock %}
