<!doctype html>
<html class="no-js" lang="">

<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-173VZKLXDM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-173VZKLXDM');
</script> 
    
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{wshop.title}} {{wshop.eventType}}</title>
    <meta name="description" content="{{wshop.description}}.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
	<link rel="icon" href="{{asset('favicon.ico')}}" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{asset('activity/css/bootstrap.min.css')}}">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{{asset('activity/css/fontawesome-all.min.css')}}">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{{asset('activity/font/flaticon.css')}}">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{asset('activity/style.css')}}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
        .main-text {
            font-size:1.2em;
            font-weight: medium;
        }
    </style>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="preloader" class="preloader">
        <div class='inner'>
            <div class='line1'></div>
            <div class='line2'></div>
            <div class='line3'></div>
        </div>
    </div>
    <div id="wrapper" class="wrapper">
        <div class="fxt-template-animation fxt-template-layout4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-12 fxt-bg-wrap">
                        <div class="fxt-bg-img" data-bg-image="{{asset(wshop.photo) }}">
                            <div class="fxt-header">
                                <div class="fxt-transformY-50 fxt-transition-delay-1">
                                    <a href="/" class="fxt-logo"><img src="{{asset('activity/img/cheza_logo.jpg') }}" alt="Logo"></a>
                                </div>
                                <div class="fxt-transformY-50 fxt-transition-delay-2">
                                    <h1>Welcome To {{wshop.title}} {{wshop.eventType}}</h1>
                                </div>
                                <div class="fxt-transformY-50 fxt-transition-delay-3">
                                    <p class="main-text">{{wshop.description|nl2br}}.<a href="tel:+254711832933" class="btn btn-sm mb-1 btn-info">CALL US</a></p>
                                    <p>Scheduled for / Starting on {{wshop.happensOn|date('jS M Y')}}.</p>
                                    <p>{{wshop.pricing}}</p>
                                    <p><a class="btn mb-1 btn-primary" href="{{wshop.document}}">Download Flyer</a></p>
                                    <p><a class="btn mb-1 btn-primary" href="{{wshop.link}}">Learn More about {{wshop.title}} {{wshop.eventType}}</a></p>
                                    <h4 style="color:white;background-color:black;padding:5px;">Fill out the form to register</h4>
                                </div>
                            </div>
                            <ul class="fxt-socials">
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 fxt-bg-color">
                        <div class="fxt-content">
                            <div class="fxt-form">
                            {% if wshop.deadline|date('U') > "now"|date('U') %}
                                <form method="POST" action="{{path('register_for_activity')}}">
                                    <div class="form-group">
                                        <label for="f_name" class="input-label">First Name</label>
                                        <input type="text" id="f_name" class="form-control" name="f_name" placeholder="First Name" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="l_name" class="input-label">Last Name</label>
                                        <input type="text" id="l_name" class="form-control" name="l_name" placeholder="Last Name" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class="input-label">Contact Phone Number</label>
                                        <input type="text" id="phone" class="form-control" name="phone" placeholder="Contact Phone Number" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="input-label">Contact Email Address</label>
                                        <input type="email" id="email" class="form-control" name="email" placeholder="demo@gmail.com" required="required">
                                    </div>
                                    {{wshop.extrahtml|raw}}
                                    {{wshop.comment|raw}}
                                    <div class="form-group">
                                        <textarea id="comment" class="form-control" name="comment" placeholder="Write your answer here" required="required"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="fxt-checkbox-area">
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                                <label for="checkbox1">I agree with the <a href="https://chez.co.ke/dV">terms and conditions</a></label>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="wshop_id" id="wshop_id" value="{{wshop.id}}">
                                    <div class="form-group">
                                        <div class="g-recaptcha" data-sitekey="{{captcha_key}}"></div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="fxt-btn-fill">Register</button>
                                    </div>
                                </form>
                            {% else %}
                            <p>Deadline for registration was {{wshop.deadline|date('jS M Y')}}</p>
                            {% endif %}
                            </div>
                            <div class="fxt-footer">
                                <p>{{wshop.slogan}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jquery-->
    <script src="{{asset('activity/js/jquery-3.5.0.min.js')}}"></script>
    <!-- Bootstrap js -->
    <script src="{{asset('activity/js/bootstrap.min.js')}}"></script>
    <!-- Imagesloaded js -->
    <script src="{{asset('activity/js/imagesloaded.pkgd.min.js')}}"></script>
    <!-- Validator js -->
    <script src="{{asset('activity/js/validator.min.js')}}"></script>
    <!-- Custom Js -->
    <script src="{{asset('activity/js/main.js')}}"></script>

</body>

</html>