<!DOCTYPE html>
<html lang="en" >

<head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    
    <title>Conveniently access Cheza Music School's events and other links</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cheza Music School user-friendly webpage with an array of convenient links to our events, informative pages, and resources on our website. Explore now for a seamless journey!">   
    <meta name="keywords" content="Website, Events, Pages, Links">
    <meta name="author" content="Josiah Birai">    
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        body {
        	width: 100wh;
        	height: 90vh;
        	color: #fff;
        	background: linear-gradient(-45deg, #703600, #2177c6, #4c7272, #555756);
        	background-size: 400% 400%;
        	-webkit-animation: Gradient 15s ease infinite;
        	-moz-animation: Gradient 15s ease infinite;
        	animation: Gradient 15s ease infinite;
        }
        
        @-webkit-keyframes Gradient {
        	0% {
        		background-position: 0% 50%
        	}
        	50% {
        		background-position: 100% 50%
        	}
        	100% {
        		background-position: 0% 50%
        	}
        }
        
        @-moz-keyframes Gradient {
        	0% {
        		background-position: 0% 50%
        	}
        	50% {
        		background-position: 100% 50%
        	}
        	100% {
        		background-position: 0% 50%
        	}
        }
        
        @keyframes Gradient {
        	0% {
        		background-position: 0% 50%
        	}
        	50% {
        		background-position: 100% 50%
        	}
        	100% {
        		background-position: 0% 50%
        	}
        }
        
        h6 {
        	font-family: 'Open Sans';
        	font-weight: 300;
        	text-align: center;
        	position: absolute;
        	top: 45%;
        	right: 0;
        	left: 0;
        }
        
        h2 {
        	font-family: 'Open Sans';
        	font-weight: 300;
        	font-size: 1.2rem;
        }
        
        h1 {
        	font-family: 'Open Sans';
        	font-weight: 300;
        	font-size: 2rem;
        }
        
        .shake {
        	animation: shake-animation 4.72s ease infinite;
        	transform-origin: 50% 50%;
          }
          .element {
        	margin: 0 auto;
        	width: 150px;
        	height: 150px;
        	background: red;
          }
          @keyframes shake-animation {
        	 0% { transform:translate(0,0) }
        	1.78571% { transform:translate(5px,0) }
        	3.57143% { transform:translate(0,0) }
        	5.35714% { transform:translate(5px,0) }
        	7.14286% { transform:translate(0,0) }
        	8.92857% { transform:translate(5px,0) }
        	10.71429% { transform:translate(0,0) }
        	100% { transform:translate(0,0) }
          }
        
          .backdrop {
        	  -moz-box-shadow: 0px 6px 5px #111; 
        	  -webkit-box-shadow: 0px 6px 5px #111; 
        	  box-shadow: 0px 2px 10px #111; 
        	  -moz-border-radius:190px; 
        	  -webkit-border-radius:190px; 
        	  border-radius:190px;
          }
        
          .linktree {
        	  width: 120px;
        	  height: 120px;
        	  background-image: url("https://chezamusicschool.co.ke/img/chezanewlogowhite.jpg");
        	  background-size: cover;
        	  background-repeat: no-repeat;
        	  background-position: 50% 50%;
          }
    </style>
</head>

<body>
        <!-- Alpha.ly Version 0.1 | Development Version -->
    <div class="container">
    <div class="col-xs-12">
            <div class="text-center" style="padding-top: 30px; padding-bottom: 30px;">
                <img class="backdrop linktree">
                <h1 style="color: #ffffff; padding-top: 20px;">Cheza Music School - Convenience Links</h1>
                <h2>Quality is at the heart of what we do</h2>
            </div>
    </div>
    </div>


    <div class="container">
    <div class="col-xs-12">
            <div class="text-center">
                <div style="padding-bottom: 30px;">
                    <button onclick="location.href='https://chez.co.ke/ctw24'" type="button" class="btn btn-outline-light shake" style="width: 80%; padding-top:10px; padding-bottom:10px; font-weight: 600;">Cheza Annual Teacher Workshop Registration</button>
                </div>
                <div style="padding-bottom: 30px;">
                    <button onclick="location.href='https://chezamusicschool.co.ke/blog/cheza-holiday-music-camp-december-2023/9'" type="button" class="btn btn-outline-light" style="width: 80%; padding-top:10px; padding-bottom:10px; font-weight: 800;">Info About The Music Camp</button>
                </div>
                <div style="padding-bottom: 30px;">
                    <button onclick="location.href='https://chez.co.ke/cmcdoc'" type="button" class="btn btn-outline-light" style="width: 80%; padding-top:10px; padding-bottom:10px; font-weight: 800;">Cheza Music Camp Documentary</button>
                </div>
                <div style="padding-bottom: 30px;">
                    <button onclick="location.href='https://chezamusicschool.co.ke/about/cheza/classes'" type="button" class="btn btn-outline-light" style="width: 80%; padding-top:10px; padding-bottom:10px; font-weight: 800;">Our Courses</button>
                </div>
                <div style="padding-bottom: 30px;">
                    <button onclick="location.href='https://instagram.com/chezamusicschool'" type="button" class="btn btn-outline-light" style="width: 80%; padding-top:10px; padding-bottom:10px; font-weight: 600;">Instagram</button>
                </div>
                <div style="padding-bottom: 30px;">
                    <button onclick="location.href='https://youtube.com/@chezamusicschool'" type="button" class="btn btn-outline-light" style="width: 80%; padding-top:10px; padding-bottom:10px; font-weight: 600;">Our Youtube</button>
                </div>
            </div>
    </div>
    </div>

        <div class="text-center">
            <a href="https://www.ordermerch.net/" style="color: #34312f;" target="_blank">powered by OrderMerch</a>
        </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- This pre-lander was created by Brandon Nilsson -->
    <!-- You're welcome to edit, reproduce and change this template as long as original contributation stays present on the website at all times.  -->
</body>

</html>