{% extends 'base.html.twig' %}
{% block title %}Classes | Cheza Music School{% endblock %}
{% block schema %}
    <script type="application/ld+json">
    {
      "@context":"https://schema.org",
      "@type":"ItemList",
      "itemListElement":[
        {% for course in global_vars['courses'] %}
        {
          "@type":"ListItem",
          "position":{{loop.index}},
          "url":"https://chezamusicschool.co.ke/course/view/details/{{course.instrument.name}}/{{course.id}}"
        }{% if loop.index < global_vars['courses']|length %},{% endif %}
        {% endfor %}
      ]
    }
    </script>
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block page %}
    <div class="page">

      {{rendered|raw}}

    </div>
    
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>

{% endblock %}    

{% block javascripts %}

{% endblock %}
