{% extends 'base.html.twig' %}
{% block title %}{{course.name}}{% endblock %}
{% block meta_description %}<meta name="description" content="{{ course.description|striptags|replace({'&nbsp;': ' '})|slice(0,160) }}">{% endblock %}
{% block schema %}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Course",
    "name": "{{course.instrument.name}} Course",
    "description": "{{course.description|striptags}}",
    "provider": {
        "@type": "Organization",
        "name": "Cheza Music School",
        "url": "https://chezamusicschool.co.ke"
    },
    "image": [
        "https://chezamusicschool.co.ke/education/images/{{course.image}}"
    ],
    "offers": [
        {
            "@type": "Offer",
            "category": "Paid",
            "priceCurrency": "KSh",
            "price": 2500
        }
    ],
    "hasCourseInstance": [
        {
            "@type": "CourseInstance",
            "courseMode": "Onsite",
            "location": "In-Home",
            "courseSchedule": {
                "@type": "Schedule",
                "duration": "PT1H",
                "repeatCount": 12,
                "repeatFrequency": "Weekly"
            }
        }
    ]
}
</script>
{% endblock %}
{% block stylesheets %}
<style>

    p, ul, ol {
        font-size:21px!important;
        line-height: 32px;   /* within paragraph */
        margin-bottom: 30px; /* between paragraphs */        
        color:#6c6c6c;
    }
    h2, h3 {
        line-height: 32px;
        margin-bottom: 30px!important;
        font-weight: 600;
    }
    
    ul {
      padding: 0;
      margin: 0;
    }
    
    ol {
        padding: 0;
        margin: 0;
    }
    
      blockquote {
        background-color: #f9f9f9;
        border-left: 10px solid #4CAF50;
        padding: 15px;
        margin: 20px 0;
      }
      
      blockquote p {
        font-size: 18px;
        line-height: 1.5;
      }
    
      blockquote a {
        color: #4CAF50;
        font-weight: bold;
        text-decoration: none;
      }
        
</style>

{% endblock %}

{% block page %}
    <div class="page">

      {# {{ include('tmp/header.html.twig', {'page': 'Home', 'subpage': 'Courses', 'pagetitle': 'Learn ' ~ course.name }) }} #}
      {{ include('tmp/header_extended.html.twig', {'page': 'Home', 'subpage': 'Teachers', 'pagetitle': course.name, 'addon': 'courseinfo' }) }}

        <div class="nicdark_section">
            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">
                <div class="nicdark_width_66_percentage nicdark_width_100_percentage_ipad_port nicdark_width_100_percentage_all_iphone nicdark_float_left">
                    <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                        <h2>Personalized {{course.instrument.name | title }} Instruction at Your Convenience</h2>
                        <div class="nicdark_section nicdark_height_20"></div>
                        {# {% for teacher in course.teachers %}
                        <div class="nicdark_width_25_percentage nicdark_width_50_percentage_all_iphone nicdark_float_left">
                            <div class="nicdark_display_table nicdark_float_left">
                                <div class="nicdark_display_table_cell nicdark_vertical_align_middle">
                                    <a href="{{ path('teacher_page', {'name': teacher.fullname, 'id': teacher.id } ) }}">
                                        <img alt="" class="nicdark_margin_right_10 nicdark_border_radius_100_percentage" width="40" src="{{ teacher.photo is not null ? teacher.photo : '/img/profile/person.png' }}">
                                    </a>
                                </div>
                                <div class="nicdark_display_table_cell nicdark_vertical_align_middle">
                                    <p class="nicdark_font_size_13">Teacher</p>
                                    <div class="nicdark_section nicdark_height_5"></div>
                                    <h5 class=""><a href="{{ path('teacher_page', {'name': teacher.fullname, 'id': teacher.id } ) }}">{{teacher.fullname|split(' ')[0]|title}}</a></h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %} #}
                        <div class="nicdark_width_25_percentage nicdark_width_50_percentage_all_iphone nicdark_float_left">
                            <div class="nicdark_section nicdark_height_5"></div>
                            <div class="nicdark_display_table nicdark_float_left">
                                <div class="nicdark_display_table_cell nicdark_vertical_align_middle">
                                    <img alt="" class="nicdark_margin_right_10" width="30" src="/education/img/icons/icon-category-grey.svg">
                                </div>
                                <div class="nicdark_display_table_cell nicdark_vertical_align_middle">
                                    <p class="nicdark_font_size_13">Category</p>
                                    <div class="nicdark_section nicdark_height_5"></div>
                                    <h5 class="">{{course.type == 'group' ? 'Group Lessons' : 'Individual'}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="nicdark_width_50_percentage nicdark_display_none_all_iphone nicdark_float_right">
                            <div class="nicdark_section nicdark_height_5"></div>
                            <div class="nicdark_section nicdark_height_5"></div>
                            <div class="nicdark_display_table nicdark_float_right">
                                <a href="#"><img alt="" class="" width="30" src="/education/img/icons/icon-print-grey.svg"></a>
                            </div>
                        </div>
                        <div class="nicdark_section nicdark_height_20"></div>
                        <div class="nicdark_section nicdark_position_relative">
                            <img alt="" class="nicdark_section" src="/education/images/{{course.image}}">
                            <div class="nicdark_bg_greydark_alpha_gradient nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_20 nicdark_box_sizing_border_box">
                                <div class="nicdark_position_absolute nicdark_bottom_20">
                                    <a class="nicdark_display_inline_block nicdark_font_size_13 nicdark_color_white nicdark_border_1_solid_white nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_margin_right_20" href="javascript:void(0)" data-toggle="modal" data-target="#bookLessonsModal">BOOK NOW</a>
                                     <a class="nicdark_display_inline_block nicdark_font_size_13 nicdark_color_white nicdark_border_1_solid_white nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 " href="tel:+254711832933">CALL US</a> 
                                </div>
                            </div>
                        </div>
                        <div class="nicdark_section nicdark_height_40"></div>
                        <div class="nicdark_section">
                            <!--START tab-->
                            <div class="nicdark_tabs">
                                <ul class="nicdark_list_style_none nicdark_margin_0 nicdark_padding_0 nicdark_section nicdark_border_bottom_2_solid_grey">
                                    <li class="nicdark_display_inline_block">
                                        <h4><a class="nicdark_outline_0 nicdark_padding_20 nicdark_display_inline_block nicdark_first_font nicdark_color_greydark" href="#tabs-1">Descriptions</a></h4>
                                    </li>
                                    <li class="nicdark_display_inline_block">
                                        <h4><a class="nicdark_outline_0 nicdark_padding_20 nicdark_display_inline_block nicdark_first_font nicdark_color_greydark" href="#tabs-3">Teachers</a></h4>
                                    </li>
                                </ul>
                                <div class="nicdark_section nicdark_height_40"></div>
                                <div class="nicdark_section" id="tabs-1">
                                    <h3><strong>Course Description</strong></h3><br/>
                                    <button type="button" class="nicdark_background_none_hover nicdark_color_white_hover nicdark_border_2_solid_white_hover nicdark_border_2_solid_green nicdark_transition_all_08_ease nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_10_20 nicdark_border_radius_3 " data-toggle="modal" data-target="#videoModal">Watch Testimonials (1 min Video)</button>                                        
                                    <div class="nicdark_section nicdark_height_20"></div>
                                    <p>{{course.description|raw}}</p>
                                    <div class="nicdark_section nicdark_height_40"></div>
                                    <a href="tel:+254711832933" class="nicdark_background_none_hover nicdark_color_white_hover nicdark_border_2_solid_white_hover nicdark_border_2_solid_green nicdark_transition_all_08_ease nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_10_20 nicdark_border_radius_3 ">CALL US</a>                                        
                                    <div class="nicdark_section nicdark_height_50"></div>
                                    <!--start tag-->
                                    <div class="nicdark_section">
                                        <a class="nicdark_display_inline_block nicdark_padding_8 nicdark_first_font nicdark_margin_right_10 nicdark_color_greydark nicdark_padding_left_0" href="#">Tag :</a>
                                        <a class="nicdark_display_inline_block nicdark_font_size_13 nicdark_border_1_solid_grey nicdark_padding_8 nicdark_border_radius_3 nicdark_margin_10" href="#"># {{course.name}}</a>
                                        <a class="nicdark_display_inline_block nicdark_font_size_13 nicdark_border_1_solid_grey nicdark_padding_8 nicdark_border_radius_3 nicdark_margin_10" href="#"># {{course.instrument.name}}</a>
                                        <a class="nicdark_display_inline_block nicdark_font_size_13 nicdark_border_1_solid_grey nicdark_padding_8 nicdark_border_radius_3 nicdark_margin_10" href="#">Cheza Music School</a>
                                    </div>
                                    <!--end tag-->
                                    <div class="nicdark_section nicdark_height_30"></div>
                                    <!--start social-->
                                    <div class="nicdark_section">
                                        <a href="{{ global_vars('configData') ? global_vars('configData').facebookId}}"><img alt="" width="40" class="nicdark_margin_right_10" src="/education/img/icons/icon-facebook-color.svg"></a>
                                        <a href="{{ global_vars('configData') ? global_vars('configData').twitterId}}"><img alt="" width="40" class="nicdark_margin_right_10" src="/education/img/icons/icon-twitter-color.svg"></a>
                                        <a href="{{ global_vars('configData') ? global_vars('configData').instagramId}}"><img alt="" width="40" class="nicdark_margin_right_10" src="/education/img/icons/icon-instagram-grey.svg"></a>
                                    </div>
                                    <!--end-->
                                </div>

                                <div class="nicdark_section" id="tabs-3">
                                    <h3><strong>Our Teachers</strong></h3>
                                    <div class="nicdark_section nicdark_height_30"></div>
                                    <div class="nicdark_section">
                                    {% for teacher in course.teachers %}
                                        <!--START teacher-->
                                        <div class="nicdark_section nicdark_border_top_1_solid_grey nicdark_padding_40_20 nicdark_box_sizing_border_box">
                                            <div class="nicdark_display_table nicdark_float_left">
                                                <div class="nicdark_display_table_cell nicdark_vertical_align_middle">
                                                    <a href="{{ path('teacher_page', {'name': teacher.fullname, 'id': teacher.id } ) }}"><img alt="" class="nicdark_width_50_all_iphone nicdark_margin_right_20 nicdark_border_radius_100_percentage " width="100" src="{{ teacher.photo is not null ? teacher.photo : '/img/profile/person.png' }}"></a>
                                                </div>
                                                <div class="nicdark_display_table_cell nicdark_vertical_align_middle">
                                                    <h3 class=""><a href="{{ path('teacher_page', {'name': teacher.fullname, 'id': teacher.id } ) }}"><strong>{{teacher.fullname|title}}</strong></a></h3>
                                                    <div class="nicdark_section nicdark_height_5"></div>
                                                    <h5 class="nicdark_color_grey">{{course.name|title}} Teacher</h5>
                                                    <div class="nicdark_section nicdark_height_20"></div>
                                                    <div class="nicdark_section">
                                                    {% for course in teacher.courses %} 
                                                        <a href="{{ path('course_public_show', {'name': course.instrument.name, 'id': course.id } ) }}">
                                                            <img alt="" width="25" class="nicdark_margin_right_10" src="{{course.instrument.image}}">
                                                        </a> 
                                                    {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="nicdark_section nicdark_height_20" style="clear:both;float:none;"></div>
                                            <p class="nicdark_section">{{teacher.teacherdata.about|striptags|slice(0,300)}}... </p>
                                        </div>
                                        <!--END teacher-->
                                      {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!--END tab-->
                        </div>
                    </div>
                    <div class="nicdark_section nicdark_height_50"></div>
                </div>
                <div class="nicdark_width_33_percentage nicdark_width_100_percentage_ipad_port nicdark_width_100_percentage_all_iphone nicdark_float_left">
                    <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                        <div class="nicdark_section nicdark_height_60"></div>
                        <!--calendar-->
                        <div class="nicdark_section nicdark_border_1_solid_grey">
                            <div class="nicdark_section nicdark_padding_10 nicdark_box_sizing_border_box nicdark_bg_grey nicdark_border_top_1_solid_grey">
                                <div class="nicdark_width_50_percentage nicdark_float_left nicdark_padding_10 nicdark_box_sizing_border_box">
                                    <a class="nicdark_display_inline_block nicdark_text_align_center nicdark_width_100_percentage nicdark_box_sizing_border_box nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_10_20 nicdark_border_radius_3 " href="javascript:void(0)" data-toggle="modal" data-target="#bookLessonsModal">BOOK NOW</a>
                                </div>
                                <div class="nicdark_width_50_percentage nicdark_float_left nicdark_text_align_right nicdark_padding_10 nicdark_box_sizing_border_box">
                                    <a class="nicdark_display_inline_block nicdark_text_align_center nicdark_width_100_percentage nicdark_box_sizing_border_box nicdark_color_white nicdark_bg_orange nicdark_first_font nicdark_padding_10_20 nicdark_border_radius_3 " href="tel:+254711832933">CALL US</a>
                                </div>
                            </div>
                        </div>
                        <!--calendar-->
                        <div class="nicdark_section nicdark_height_13"></div>
                        <table class="nicdark_section">
                            <tbody>
                                <tr class="nicdark_border_bottom_2_solid_grey">
                                    <td class="nicdark_padding_20 "><img alt="" class="" width="40" src="/education/img/icons/icon-availability.svg"></td>
                                    <td class="nicdark_padding_20 ">
                                        <h4 class=" nicdark_text_align_right">Slots Available</h4>
                                    </td>
                                </tr>
                                <tr class="nicdark_border_bottom_2_solid_grey">
                                    <td class="nicdark_padding_20"><img alt="" class="" width="40" src="/education/img/icons/icon-level.svg"></td>
                                    <td class="nicdark_padding_20">
                                        <h4 class=" nicdark_text_align_right">Level: Any</h4>
                                    </td>
                                </tr>
                                <tr  class="nicdark_border_bottom_2_solid_grey">
                                    <td class="nicdark_padding_20 "><img alt="" class="" width="40" src="/education/img/icons/icon-clock-grey.svg"></td>
                                    <td class="nicdark_padding_20 ">
                                        <h4 class=" nicdark_text_align_right">Duration: 12 Weeks</h4>
                                    </td>
                                </tr>
                                <tr  class="nicdark_border_bottom_2_solid_grey">
                                    <td class="nicdark_padding_20 "><img alt="" class="" width="40" src="/education/img/icons/icon-pin-grey.svg"></td>
                                    <td class="nicdark_padding_20 ">
                                        <h4 class=" nicdark_text_align_right">Frequency: 1 lesson / week</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nicdark_padding_20 "><img alt="" class="" width="40" src="/education/img/icons/icon-card-grey.svg"></td>
                                    <td class="nicdark_padding_20 ">
                                        <h4 class=" nicdark_text_align_right">Price: KSh 2,500</h4>
                                        <h4 class=" nicdark_text_align_right">Outside Nairobi: KSh 2,800</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="nicdark_section nicdark_height_20"></div>
                        {{include('contact-mini-form')}}
                    </div>
                    <div class="nicdark_section nicdark_height_50"></div>
                </div>
            </div>
            <!--end container-->
        </div>
        <!--START related products-->
        <div class="nicdark_section nicdark_border_top_1_solid_grey">
            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">
                <div class="nicdark_section nicdark_height_50"></div>
                <div class="grid grid_12">
                    <h2><strong>Other Courses</strong></h2>
                </div>
                <div class="nicdark_width_100_percentage">
                {% for c in global_vars['vars']['courses']|filter( c => c.name != course.name ) %}
                    <!--START preview-->
                    <div class="nicdark_width_33_percentage nicdark_width_100_percentage_ipad_port nicdark_width_100_percentage_all_iphone nicdark_float_left">
                        <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                            <!--start preview-->
                            <div class="nicdark_section nicdark_border_1_solid_grey">
                                <!--image-->
                                <div class="nicdark_section nicdark_position_relative">
                                    <img alt="" class="nicdark_section" src="/education/images/{{c.image}}">
                                    <div class="nicdark_bg_greydark_alpha_gradient_2 nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_20 nicdark_box_sizing_border_box">
                                        <a class="nicdark_tooltip_jquery nicdark_position_absolute nicdark_right_0" title="Add To Favorities" href="#">
                                        <img alt="" class="nicdark_margin_right_60" width="25" src="/education/img/icons/icon-heart-white.svg">
                                        </a>
                                        <a class="nicdark_tooltip_jquery nicdark_position_absolute nicdark_right_0" title="Add To Compare" href="#">
                                        <img alt="" class="nicdark_margin_right_20 nicdark_right_0" width="25" src="/education/img/icons/icon-compare-white.svg">
                                        </a>
                                        <div class="nicdark_position_absolute nicdark_bottom_20">
                                            <div class="nicdark_display_table nicdark_float_left">
                                                <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle" width="20" src="/education/img/icons/icon-calendar.svg">
                                                <p class=" nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_13">{{course.type == 'group' ? 'Group Lessons' : 'Individual'}}</p>
                                                <img alt="" class="nicdark_margin_right_10 nicdark_margin_left_20 nicdark_display_table_cell nicdark_vertical_align_middle" width="20" src="/education/img/icons/icon-clock.svg">
                                                <p class="nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_13">12 Sessions / term</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--image-->
                                <div class="nicdark_section nicdark_padding_20 nicdark_box_sizing_border_box nicdark_bg_white">
                                    <h3><a class="nicdark_color_greydark nicdark_first_font" href="{{ path('course_public_show', {'name': c.instrument.name, 'id': c.id } ) }}">{{c.name|title}}</a></h3>
                                    <div class="nicdark_section nicdark_height_20"></div>
                                    <p><a class="" href="{{ path('course_public_show', {'name': c.instrument.name, 'id': c.id } ) }}">{{c.description|striptags|slice(0, 150)}}...</a></p>
                                </div>
                                <div class="nicdark_section nicdark_padding_20 nicdark_box_sizing_border_box nicdark_bg_grey nicdark_border_top_1_solid_grey">
                                    <div class="nicdark_width_33_percentage nicdark_display_none_all_responsive nicdark_width_50_percentage_responsive nicdark_float_left">
                                        <div class="nicdark_display_table nicdark_float_left">
                                            <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle nicdark_border_radius_100_percentage" width="25" src="/img/profile/person.png">
                                            <p class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_15"><a href="https://chezamusicschool.co.ke/about/cheza/classes">{{course.type == 'group' ? 'Group Lessons' : 'Individual'}}</a></p>
                                        </div>
                                    </div>
                                    <div class="nicdark_width_33_percentage nicdark_width_50_percentage_responsive nicdark_float_left">
                                    </div>
                                    <div class="nicdark_width_33_percentage nicdark_width_50_percentage_responsive nicdark_float_left nicdark_text_align_right">
                                        <a class="nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="{{ path('course_public_show', {'name': c.instrument.name, 'id': c.id } ) }}">OPEN</a>
                                    </div>
                                </div>
                            </div>
                            <!--start preview-->
                        </div>
                    </div>
                    <!--END preview-->
                {% endfor %}
                </div>
                <div class="nicdark_section nicdark_height_50"></div>
            </div>
            <!--end container-->
        </div>
        <!--END related products-->


      {{ include('tmp/footer.html.twig') }}
      
    </div>
    
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>

{% endblock %}    

{% block javascripts %}

<div class="modal fade" id="videoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="videoModalLabel">Cheza Music Testimonials</h5>
      </div>
      <div class="modal-body">
        <iframe width="100%" style="min-height:315px" src="https://youtube.com/embed/7WRVQ2RI6yw?si=XBtfLcWgt_7sdBcO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a href="tel:+254711832933" class="nicdark_background_none_hover nicdark_color_white_hover nicdark_border_2_solid_white_hover nicdark_border_2_solid_green nicdark_transition_all_08_ease nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_10_20 nicdark_border_radius_3 ">CALL US</a>                                        
      </div>
      <div class="modal-footer">
        <button id="" type="button" style="color: #0f5132;background-color: #d1e7dd;" class="btn btn-primary hidden">Book Lessons Now</button>
      </div>
    </div>
  </div>
</div>        
<script type="text/javascript">
    $(window).on('load', function() {
        // $('#videoModal').modal('show');
    });
</script>
{% endblock %}
