{% extends 'adm_base.html.twig' %}

{% block title %}Crop from url{% endblock %}
{% block stylesheets %}
<style>
/* Limit image width to avoid overflow the container */
img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

#canvas {
  height: 600px;
  width: 600px;
  background-color: #ffffff;
  cursor: default;
  border: 1px solid black;
}
</style>

{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Crop From URL</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Cropper</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Crop from URL</h4>


                    <p>
                    <!-- Below are a series of inputs which allow file selection and interaction with the cropper api -->
                            <input type="file" name="image" id="fileInput" accept="image/*" />
                            <img id="image" src="{{ asset('site/images/aa.jpg') }}" />
                            <input type="button" id="btnCrop" value="Crop" />
                            <input type="button" id="btnRestore" value="Restore" />
                    </p>
                    <div>
                    <canvas id="canvas">
                        Your browser does not support the HTML5 canvas element.
                    </canvas>

                    <div id="result"></div>

                    <br />
                    <br />
                    <hr />

                </div>
                
                <!-- Global Mailform Output-->
                <div class="snackbars" id="form-output-global"></div>

                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}

{% block javascripts %}

<link rel="stylesheet" href="{{ asset('assets/css/dropzone.css') }}" />
<link href="{{ asset('assets/css/cropper.css') }}" rel="stylesheet"/>
<script src="{{ asset('assets/js/dropzone.js') }}"></script>
<script src="{{ asset('assets/js/cropper.js') }}"></script>
<script>
  function getBase64Image(img, ext) {
    var canvas = document.createElement("canvas");
    canvas.width = img.width;
    canvas.height = img.height;
    var ctx = canvas.getContext("2d");
    ctx.drawImage(img, 0, 0);
    var dataURL = canvas.toDataURL("image/"+ext, 0.7);
    return dataURL;
  }
</script>
<script>

var canvas  = $("#canvas"),
    context = canvas.get(0).getContext("2d"),
    $result = $('#result');

$(document).ready(function(){

      var readyImage = $('#image').attr('src');
      var thisfiletype = readyImage.split('.').pop();
      if(thisfiletype == 'jpg'){ thisfiletype = 'jpeg'; }      
      console.log(thisfiletype);
      console.log(readyImage);

    $('#btnCrop').click(function() {
        // Get a string base 64 data url
      var croppedImageDataURL = getBase64Image(document.getElementById("image"), thisfiletype);
      console.log(croppedImageDataURL);

        $result.append( $('<img>').attr('src', croppedImageDataURL) );
        var thisfiletype = "img/" + thisfiletype;
        $.ajax({
            url:"{{path('save_profile_picture')}}",
            method:'POST',
            data:{image:croppedImageDataURL, thisfiletype},
            success:function(data)
            {
                //$modal.modal('hide');
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Photo changed successfully', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                $('#uploaded_image').attr('src', data);
            }
        });

    });

});

</script>
{% endblock %}
		
