{# redirected here after uploading photo to resize then replace #}
{% extends 'adm_base.html.twig' %}

{% block title %}Crop from url{% endblock %}
{% block stylesheets %}
<style>
/* Limit image width to avoid overflow the container */
img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

</style>

{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Crop From URL</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Cropper</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Crop from URL</h4>


                    <div class="row">
                        <div class="col-md-12">
                            <!-- Advanced Tables -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Resize Image
                                </div>
                                <div class="panel-body">
                                    {# {{dump(photo)}} #}
                                    <p>
                                    <!-- Below are a series of inputs which allow file selection and interaction with the cropper api -->
                                        <input type="file" name="imageUpload" id="fileInput" accept="image/*" />
                                        <img id="image" src="{{ photo.url }}" />
                                        <input class="btn mb-1 btn-primary" type="button" id="btnCrop" value="Crop" />
                                    </p>
                                    <br />
                                    <br />
                                    <hr />
                        
                                </div>
                            </div>
                            <!--End Advanced Tables -->
                        </div>
                    </div>
                        <!-- /. ROW  -->

                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}

{% block javascripts %}
        {# <script src="{{ asset('assets/js/jquery.min.js' ) }}"></script> #}

<link rel="stylesheet" href="{{ asset('assets/css/dropzone.css') }}" />
<link href="{{ asset('assets/css/cropper.css') }}" rel="stylesheet"/>
<script src="{{ asset('assets/js/dropzone.js') }}"></script>
<script src="{{ asset('assets/js/cropper.js') }}"></script>
<script>
</script>

<script>
$(document).ready(function(){

    var cropper;
    var img = document.getElementById("image");
    var toPage = "{{app.request.query.all['toPage']}}";

    cropper = new Cropper(img, {
        //aspectRatio: 1,
        viewMode: 0,
        preview:'.preview',
        data:{ //define cropbox size
            width: {{photo.placement|split("x")[0]}},
            height: {{photo.placement|split("x")[1]}},
        },
    });
    var readyImage = $('#image').attr('src');
    var thisfiletype = readyImage.split('.').pop();
    if(thisfiletype == 'jpg'){ thisfiletype = 'jpeg'; }      

    $('#btnCrop').click(function() {

      // Get a string base 64 data url
      if(thisfiletype == 'jpeg'){
          var croppedImageDataURL = cropper.getCroppedCanvas({
                    width:{{photo.placement|split("x")[0]}},
                    height:{{photo.placement|split("x")[1]}},
                    fillColor: '#fff',
                    imageSmoothingEnabled: true,
                    imageSmoothingQuality: 'high',  
                }).toDataURL('image/jpeg', 1) ;
      } else {
          var croppedImageDataURL = cropper.getCroppedCanvas({
                    width:{{photo.placement|split("x")[0]}},
                    height:{{photo.placement|split("x")[1]}},
                    fillColor: '#fff',
                    imageSmoothingEnabled: true,
                    imageSmoothingQuality: 'high',                    
                }).toDataURL('image/png', 1) ;
      }
      //$result.append( $('<img>').attr('src', croppedImageDataURL) );
      thisfiletype = "img/" + thisfiletype;
      $.ajax({
          url:"{{path('upload_resized_photo', {'photo_id': photo.id })}}",
          method:'POST',
          data:{image:croppedImageDataURL, thisfiletype, toPage},
          success:function(data)
          {
              //$modal.modal('hide');
              console.log(data);
              $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Photo changed successfully', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
              $('#uploaded_image').attr('src', data);
              window.location.href = data.url;

          }
      });

    });      

});

</script>
{% endblock %}
		
