{# redirected here after uploading photo to resize then replace #}
{% extends 'adm_base.html.twig' %}

{% block title %}Crop and Replace{% endblock %}
{% block stylesheets %}
<style>
/* Limit image width to avoid overflow the container */
img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

</style>

{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Crop and Replace</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Cropper</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Crop and Replace</h4>

                    {% set uri = url|split("@")[0] %}
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Advanced Tables -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Resize Image
                                </div>
                                <div class="panel-body">
                                    <p>
                                    <!-- Below are a series of inputs which allow file selection and interaction with the cropper api -->
                                        Choose a different picture
                                        <input type="file" name="image" id="fileInput" accept="image/*" />
                                        <br />
                                        <hr />
                                        Or crop the existing
                                        <img id="image" src="/education/images/{{ uri }}" /><br /><hr/>
                                        <input class="btn btn-primary btn-lg" type="button" id="btnCrop" value="Crop" />
                                    </p>
                                    <br />
                                    <br />
                                    <hr />
                        
                                </div>
                            </div>
                            <!--End Advanced Tables -->
                        </div>
                    </div>
                    <!-- /. ROW  -->
                    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Replace image and upload</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="img-container">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <img src="" id="sample_image" />
                                        </div>
                                        <div class="col-md-4">
                                            <div class="preview"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="crop" class="btn mb-1 btn-primary">Save picture</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                    </div>			

                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}

{% block javascripts %}
{% set dimensions = url|split("@")[1] %}
{% set uri = url|split("@")[0] %}
        {# <script src="{{ asset('assets/js/jquery.min.js' ) }}"></script> #}

<link rel="stylesheet" href="{{ asset('assets/css/dropzone.css') }}" />
<link href="{{ asset('assets/css/cropper.css') }}" rel="stylesheet"/>
<script src="{{ asset('assets/js/dropzone.js') }}"></script>
<script src="{{ asset('assets/js/cropper.js') }}"></script>
<script>
</script>

<script>
$(document).ready(function(){

    var cropper;
    var img = document.getElementById("image");
    var toPage = "{{app.request.query.all['toPage']}}";
    var entity = "{{app.request.query.all['entity']}}";
    var thisId = "{{app.request.query.all['thisId']}}";

    cropper = new Cropper(img, {
        //aspectRatio: 1,
        viewMode: 0,
        preview:'.preview',
        data:{ //define cropbox size
            width: {{dimensions|split("x")[0]}},
            height: {{dimensions|split("x")[1]}},
        },
    });
    var readyImage = $('#image').attr('src');
    var thisfiletype = readyImage.split('.').pop();
    if(thisfiletype == 'jpg'){ thisfiletype = 'jpeg'; }      

    $('#btnCrop').click(function() {

      // Get a string base 64 data url
      if(thisfiletype == 'jpeg'){
          var croppedImageDataURL = cropper.getCroppedCanvas({
                    width:{{dimensions|split("x")[0]}},
                    height:{{dimensions|split("x")[1]}},
                    fillColor: '#fff',
                    imageSmoothingEnabled: true,
                    imageSmoothingQuality: 'high',  
                }).toDataURL('image/jpeg', 1) ;
      } else {
          var croppedImageDataURL = cropper.getCroppedCanvas({
                    width:{{dimensions|split("x")[0]}},
                    height:{{dimensions|split("x")[1]}},
                    fillColor: '#fff',
                    imageSmoothingEnabled: true,
                    imageSmoothingQuality: 'high',                    
                }).toDataURL('image/png', 1) ;
      }
      //$result.append( $('<img>').attr('src', croppedImageDataURL) );
      thisfiletype = "img/" + thisfiletype;
      $.ajax({
          url:"{{path('resize_crop_and_overwrite', {'url': uri })}}",
          method:'POST',
          data:{image:croppedImageDataURL, thisfiletype, toPage, entity, thisId},
          success:function(data)
          {
              //$modal.modal('hide');
              console.log(data);
              $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Photo changed successfully', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
              $('#uploaded_image').attr('src', data);
              window.location.href = data.url;

          }
      });

    });      

});

</script> 
<script>

$(document).ready(function(){

    var $modal = $('#modal');

    var image = document.getElementById('sample_image');

    var cropper;
    var toPage = "{{app.request.query.all['toPage']}}";
    var entity = "{{app.request.query.all['entity']}}";
    var thisId = "{{app.request.query.all['thisId']}}";

    var thisfiletype;

    $('#fileInput').change(function(event){
        var files = event.target.files;
        thisfiletype = files[0].type;
        console.log('thisfiletype');
        console.log(thisfiletype);
        var done = function(url){
            image.src = url;
            $modal.modal('show');
        };

        if(files && files.length > 0)
        {
            reader = new FileReader();
            reader.onload = function(event)
            {
                done(reader.result);
            };
            reader.readAsDataURL(files[0]);
        }
    });

    $modal.on('shown.bs.modal', function() {
        console.log('shown');
        console.log(image);
        console.log(thisfiletype);
        console.log(cropper);
        cropper = new Cropper(image, {
            data:{ //define cropbox size
                width: {{dimensions|split("x")[0]}},
                height: {{dimensions|split("x")[1]}},
            },
            viewMode: 0,
            preview:'.preview'
        });
        console.log('cropper1');
        console.log(cropper);
    }).on('hidden.bs.modal', function(){
        cropper.destroy();
        cropper = null;
    });

    $('#crop').click(function(){
        console.log('cropper2');
        console.log(cropper);

        if(thisfiletype == 'image/jpeg'){

            canvas = cropper.getCroppedCanvas({
                width:{{dimensions|split("x")[0]}},
                height:{{dimensions|split("x")[1]}},
                fillColor: '#fff',
                imageSmoothingEnabled: true,
                imageSmoothingQuality: 'high',  
            }).toDataURL('image/jpeg', 1);

        } else {

            canvas = cropper.getCroppedCanvas({
                width:{{dimensions|split("x")[0]}},
                height:{{dimensions|split("x")[1]}},
                fillColor: '#fff',
                imageSmoothingEnabled: true,
                imageSmoothingQuality: 'high',  
            }).toDataURL('image/png', 1);

        }

        $.ajax({
            url:"{{path('resize_crop_and_overwrite', {'url': uri })}}",
            method:'POST',
            data:{image:canvas, thisfiletype, toPage, entity, thisId},
            success:function(data)
            {
                $modal.modal('hide');
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Photo changed successfully', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                $('#uploaded_image').attr('src', data);
                window.location.href = data.url;
            }
        });

    });
    
});
</script>

{% endblock %}
		
