{% extends 'base.html.twig' %}
{% block title %}Cheza Music School{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block page %}
    <div class="page">

      {{rendered|raw}}

    </div>
    
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>

{% endblock %}    

{% block javascripts %}

{% endblock %}