{% extends 'base.html.twig' %}
{% block title %}In-Home Music Lessons for Kids, Adults, ABRSM Exams Nairobi{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block page %}
    <div class="page">

      {{rendered|raw}}

    </div>
    
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>

{% endblock %}    

{% block javascripts %}

{#<div class="modal fade" id="videoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">#}
{#  <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">#}
{#    <div class="modal-content">#}
{#      <div class="modal-header">#}
{#        <h5 class="modal-title" id="videoModalLabel">Cheza Music Camp Documentary</h5>#}
{#      </div>#}
{#      <div class="modal-body">#}
{#        <iframe width="100%" style="min-height:315px" src="https://www.youtube.com/embed/YtWtoYMLMFU?si=bBxdFC7jQnYIGlmd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>#}
{#      </div>#}
{#      <div class="modal-footer">#}
{#        <button id="" type="button" style="color: #0f5132;background-color: #d1e7dd;" class="btn btn-primary hidden">Book Lessons Now</button>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>        #}
{#<script type="text/javascript">#}
{#    $(window).on('load', function() {#}
         {#$('#videoModal').modal('show');#}
{#    });#}
{#</script>#}
{% endblock %}