{% extends 'base.html.twig' %}
{% block title %}News | Cheza Music School{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block page %}
    <div class="page">

      {# {{ include('header_global') }}

      {{ include('address_global') }} #}

      {{rendered|raw}}
      {# {{ include('contacts') }}

      {{ include('footer_global') }} #}

    </div>
    
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>

{% endblock %}    

{% block javascripts %}

{% endblock %}
