{% extends 'base.html.twig' %}
{% block title %}{{ global_vars['vars']['student'] }} - Pay | Cheza Music School{% endblock %}
{% block stylesheets %}
<meta name="robots" content="noindex, nofollow">
   <!-- DataTables CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
   <!-- DataTables Responsive CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">

{% endblock %}
{% block page %}
<div class="page">
    {{ include('tmp/header.html.twig', {'page': 'Home', 'subpage': 'Pay', 'pagetitle': global_vars['vars']['student'] ~ ' - Pay'}) }}
    <div class="nicdark_section">
        <!--start nicdark_container-->
        <div style="position:relative;" class="nicdark_container nicdark_clearfix">
            <div style="height:50px;"></div>
            <div class="grid grid_8" style="display:flex;flex-wrap:wrap;">
                {% set uigArr = global_vars['vars']['uigArr'] %}
                {% for uig in uigArr %}
                {% if uig.studentUserData.student is defined and uig.payments and uig.payments|length > 0 %}
                {% set feesToPay = uig.sessions|first.package.costPerLesson * uig.sessions|length %}
                {% set balance = uig.payments and uig.payments|length > 0 ? uig.payments|last.balance : feesToPay %}
                {% if balance > 0 %}
                <div class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_float_left">
                    <h4 class="text-primary">{{ uig }}</h4>
                    <hr>
                    <form id="feePaymentForm" style="padding:10px;">
                        <div style="margin-bottom:3rem">
                            <label for="phoneToChargeFee" class="col-form-label">Safaricom Phone Number:</label>
                            <input type="text" class="form-control" id="phoneToChargeFee" value="{{ uig.studentUserData.phone }}" name="phoneToChargeFee" placeholder="0722xxxxxx" aria-describedby="phoneHelp">
                        </div>
                        <div style="margin-bottom:3rem">
                            <label for="amountToPayFee{{uig.id}}" class="col-form-label">Amount to pay: (Editable)</label>
                            <input type="text" class="form-control" id="amountToPayFee{{uig.id}}" value={{balance}} name="amountToPayFee{{uig.id}}" placeholder="Amount to Pay" aria-describedby="amtHelp">
                        </div>
                        <input type="hidden" name="request_id{{uig.id}}" id="request_id{{uig.id}}" value="nil" >     
                        <button style="margin-bottom:2rem" type="button" id="pay_{{uig.id}}" class="pay btn btn-lg btn-block btn-primary">Pay Now</button>
                    </form>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
                <div class="nicdark_width_100_percentage nicdark_width_100_percentage_all_iphone nicdark_float_left">
                    {% set bal = 0 %}
                    {% set active = [] %}
                    {% set payments = global_vars['vars']['payments'] %}
                    {% set student = global_vars['vars']['student'] %}
                    <table class="table card-box" id="datatable">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Transaction</th>
                                <th>Instrument</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set prev_bal = 0 %}
                            {% set uigs = [] %}
                            {% set total_rows = payments|length %}
                            {% for payment in payments %}
                                {% if payment.amount > 0 %}
                                    {% set uigs = uigs|merge([payment.uig ~ ': ' ~ payment.balance]) %}
                                    {% set bal = payment.type == "inv" ? bal + payment.amount : bal - payment.amount %}
                                    {% if loop.index == payments|length - 1 %}{% set prev_bal = payment.balance %}{% endif %}
                                    {% if loop.index > total_rows - 10 %}
                                        <tr>
                                            <td>{{ payment.doneOn|date('Y-m-d') }}</td>
                                            <td>{{ payment.amount }}</td>
                                            <td>{{ payment.type == "inv" ? "Invoice" : "Payment" }}</td>
                                            <td>{{ payment.uig }}</td>
                                            <td>{{ bal }}{% if bal <= 0 and payment.amount > 0 %}{% set uigs = [] %}{% endif %}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <tr>
                                    <td colspan="4">no records found</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th>Total Balance</th>
                                <th>-</th>
                                <th>-</th>
                                <th>-</th>
                                <th>{{ bal }}</th>
                            </tr>
                        </tbody>
                    </table>
                    <div style="position:absolute;top:10px;left:10px;">
                        <h4>Total Balance {{bal}} {% if bal < 1 %} - You have cleared your fees {% endif %}</h4>
                    </div>
                </div>
                <div style="position:relative;" class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_float_left">
                </div>
                <div class="nicdark_section nicdark_height_50"></div>
                <input type="hidden" id="currentPaymentUig" value="">
            </div>
            {{include('sidebar_right')}}
        </div>
        <!--end container-->
    </div>
    {{ include('tmp/footer.html.twig') }}
    {% block reg_modal %}{% endblock %}
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
{% endblock %}    
{% block javascripts %}
    <!-- jQuery -->
    
    <!-- DataTables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <!-- DataTables Responsive JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#datatable').DataTable({
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.childRowImmediate
                    }
                }

            });

        } );
    </script>

{% set student = global_vars['vars']['student'] %}
<script>
    function showSimpleAlert(message, duration, icon = 'success'){
        return Swal.fire({
            position: 'center',
            icon: icon,
            title: message,
            showConfirmButton: false,
            timer: duration
        })
    }
    
    
$(document).on('click', '[id^="pay_"]', function() {

    var uigId = jQuery(this).attr("id").split("_")[1];
    var amount = $("#amountToPayFee"+uigId).val();

    Swal.fire({
    title: 'Are you sure you want to pay KSh ' + amount + '?' ,
    text: "Thank you for making this payment!",
    icon: 'info',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    allowOutsideClick: false,
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, pay!'
    }).then((result) => {
    if (result.isConfirmed) {
        
        
        var number = $("#phoneToChargeFee").val();
        var feeName = "{{student}}";
        $("#currentPaymentUig").val(uigId);

        console.log("amount: " + amount);
        var userexists = $("#userexists").val();
        var reference;
        reference = "Fee-" + uigId;

        var description = "Payment for " + feeName;
        var form = document.getElementById("feePaymentForm");
        var form_data = $(form).serializeArray();

        // console.log(form_data);
        var valid = validateForm(form_data);
        console.log('valid: ' + valid);
        if (valid) {

            $.ajax({
                url: "/make/online/payment/push",
                type: "POST",
                dataType: "json",
                data: {
                    "number": number,
                    "amount": amount,
                    "reference": reference,
                    "description": description,
                },
                async: true,
                success: function(data) {
                    console.log(data);
                    if (data.status == 'pending') {
                        var uigid = $("#currentPaymentUig").val();
                        $("#request_id" + uigid).val(data.response);
                        // showSimpleAlert('Payment in process. Check Your Phone and enter your MPESA PIN then click "CLICK TO CONFIRM" below to validate', 20000);
                        $("#payNow").fadeOut(1000);
                        Swal.fire({
                            title: 'Payment In Process',
                            text: "Check your phone and enter your MPESA pin. Wait for confirmation message from M-Pesa then continue.",
                            icon: 'success',
                            showCancelButton: true,
                            allowOutsideClick: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'I have done that!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                var request_id = $("#request_id" + uigid).val();
                                console.log('now checking status of ' + request_id);
                                $.ajax({
                                    url: "/pmt/stk_push/check/status",
                                    type: "POST",
                                    dataType: "json",
                                    data: {
                                        "request_id": request_id,
                                        "purpose": feeName,
                                    },
                                    async: true,
                                    success: function(data) {
                                        console.log(data);
                                        if (data.status == 'success') {
                                            showSimpleAlert('Everything is ok. You have paid the fee successfully.', 5000);

                                            var uigid = $("#currentPaymentUig").val();

                                            $.ajax({
                                                url: "{{ (path('add_payment')) }}",
                                                type: "POST",
                                                dataType: "json",
                                                data: {
                                                    "uigid": uigid,
                                                    "amount": data.response.split(":")[1],
                                                    "receipt_number": "{{'now'|date('m-d-y')}}" + uigid,
                                                },
                                                async: true,
                                                success: function(data) {
                                                    console.log(data);
                                                    location.reload();
                                                },
                                                error: function(xhr, status, error) {
                                                    console.log(error);
                                                }
                                            });

                                        } else {
                                            Swal.fire({
                                                title: 'Try again',
                                                text: "Wait for your confirmation message from M-Pesa and try agin!",
                                                icon: 'info',
                                                showCancelButton: true,
                                                confirmButtonColor: '#3085d6',
                                                cancelButtonColor: '#d33',
                                                allowOutsideClick: false,
                                                confirmButtonText: 'I have done that!'
                                            }).then((result) => {
                                                if (result.isConfirmed) {
                                                    var form = document.getElementById("feePaymentForm");
                                                    var form_data = $(form).serializeArray();
                                                    var uigid = $("#currentPaymentUig").val();
                                                    var request_id = $("#request_id" + uigid).val();
                                                    var feeName = "{{student}}";
                                                    console.log('now checking status of ' + request_id);
                                                    // console.log(form_data);
                                                    var valid = validateForm(form_data);
                                                    console.log('valid: ' + valid);
                                                    if (valid) {

                                                        $.ajax({
                                                            url: "/pmt/stk_push/check/status",
                                                            type: "POST",
                                                            dataType: "json",
                                                            data: {
                                                                "request_id": request_id,
                                                                "purpose": feeName,
                                                            },
                                                            async: true,
                                                            success: function(data) {
                                                                console.log(data);
                                                                if (data.status == 'success') {
                                                                    showSimpleAlert('Everything is ok. You have paid the fee successfully.', 5000);

                                                                    var uigid = $("#currentPaymentUig").val();

                                                                    $.ajax({
                                                                        url: "{{ (path('add_payment')) }}",
                                                                        type: "POST",
                                                                        dataType: "json",
                                                                        data: {
                                                                            "uigid": uigid,
                                                                            "amount": data.response.split(":")[1],
                                                                            "receipt_number": "{{'now'|date('m-d-y')}}" + uigid,
                                                                        },
                                                                        async: true,
                                                                        success: function(data) {
                                                                            console.log(data);
                                                                            location.reload();
                                                                        },
                                                                        error: function(xhr, status, error) {
                                                                            console.log(error);
                                                                        }
                                                                    });

                                                                } else {

                                                                }
                                                            },
                                                            error: function(xhr, status, error) {
                                                                console.log(error);
                                                                showSimpleAlert(error, 5000, 'info');
                                                            }
                                                        });

                                                    } else {
                                                        console.log('failed');
                                                        showSimpleAlert('Payment failed. Please check your balance.', 5000)

                                                    }

                                                }
                                            })


                                        }
                                    },
                                    error: function(xhr, status, error) {
                                        console.log(error);
                                        showSimpleAlert(error, 5000, 'info');
                                    }
                                });


                            }
                        })
                    } else {
                        showSimpleAlert('Failed. Something is not right. Check your phone number again.', 5000, 'info')
                    }
                },
                error: function(xhr, status, error) {
                    console.log(error);
                    showSimpleAlert(error, 5000, 'info');
                }
            });

        } else {

            showSimpleAlert('Please fill in all the required fields.', 5000, 'info');

        }



    }// end if for confirm
    })    


})

</script>
{% endblock %}
