{% extends 'base.html.twig' %}
{% block title %} Pay for Event | Cheza Music School{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block page %}
{% set eventName = global_vars['vars']['eventName'] %}
<div class="page">
    {{ include('tmp/header.html.twig', {'page': 'Home', 'subpage': 'Event', 'pagetitle': 'Pay for ' ~ global_vars['vars']['eventName'] }) }}
    <div class="nicdark_section">
        <!--start nicdark_container-->
        <div style="position:relative;" class="nicdark_container nicdark_clearfix">
            <div style="height:50px;"></div>
            <div class="grid grid_8" style="display:flex;flex-wrap:wrap;">
                <div class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_float_left">
                    <h4 class="text-primary">Pay for {{eventName}}</h4>
                    <hr>
                    <form id="eventPaymentForm" style="padding:10px;">
                        <div style="margin-bottom:3rem">
                            <label for="phoneToChargeFee" class="col-form-label">Safaricom Phone Number:</label>
                            <input type="text" class="form-control" id="phoneToChargeFee" value="" name="phoneToChargeFee" placeholder="0722xxxxxx" aria-describedby="phoneHelp">
                        </div>
                        <div style="margin-bottom:3rem">
                            <label for="amountToPayEvent" class="col-form-label">Amount to pay:</label>
                            <input type="text" class="form-control" id="amountToPayEvent" value="" name="amountToPayEvent" placeholder="Amount to Pay" aria-describedby="amtHelp">
                        </div>
                        <input type="hidden" name="request_id" id="request_id" value="nil" >     
                        <button style="margin-bottom:2rem" type="button" id="pay" class="pay btn btn-lg btn-block btn-primary">Pay Now</button>
                    </form>
                </div>
                <div class="nicdark_width_100_percentage nicdark_width_100_percentage_all_iphone nicdark_float_left">
                </div>
                <div style="position:relative;" class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_float_left">
                </div>
                <div class="nicdark_section nicdark_height_50"></div>
                <input type="hidden" id="currentPaymentEvent" value="">
            </div>
            {{include('sidebar_right')}}
        </div>
        <!--end container-->
    </div>
    {{ include('tmp/footer.html.twig') }}
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
{% endblock %}    
{% block javascripts %}
{% set eventName = global_vars['vars']['eventName'] %}

<script>
    function showSimpleAlert(message, duration, icon = 'success'){
        return Swal.fire({
            position: 'center',
            icon: icon,
            title: message,
            showConfirmButton: false,
            timer: duration
        })
    }
    
    
$(document).on('click', '[id="pay"]', function() {

    var amount = $("#amountToPayEvent").val();

    Swal.fire({
    title: 'Are you sure you want to pay KSh ' + amount + '?' ,
    text: "Thank you for making this payment!",
    icon: 'info',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    allowOutsideClick: false,
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, pay!'
    }).then((result) => {
    if (result.isConfirmed) {
        
        
        var number = $("#phoneToChargeFee").val();
        var eventName = "{{eventName}}";
        $("#currentPaymentEvent").val("{{eventName}}");

        console.log("amount: " + amount);
        var userexists = $("#userexists").val();
        var reference;
        reference = "Event-" + eventName;

        var description = "Payment for " + eventName;
        var form = document.getElementById("eventPaymentForm");
        var form_data = $(form).serializeArray();

        // console.log(form_data);
        var valid = validateForm(form_data);
        console.log('valid: ' + valid);
        if (valid) {

            $.ajax({
                url: "/make/online/payment/push",
                type: "POST",
                dataType: "json",
                data: {
                    "number": number,
                    "amount": amount,
                    "reference": reference,
                    "description": description,
                },
                async: true,
                success: function(data) {
                    console.log(data);
                    if (data.status == 'pending') {
                        $("#request_id").val(data.response);
                        // showSimpleAlert('Payment in process. Check Your Phone and enter your MPESA PIN then click "CLICK TO CONFIRM" below to validate', 20000);
                        $("#payNow").fadeOut(1000);
                        Swal.fire({
                            title: 'Payment In Process',
                            text: "Check your phone and enter your MPESA pin. Wait for confirmation message from M-Pesa then continue.",
                            icon: 'success',
                            showCancelButton: true,
                            allowOutsideClick: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'I have done that!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                var request_id = $("#request_id").val();
                                console.log('now checking status of ' + request_id);
                                $.ajax({
                                    url: "/pmt/stk_push/check/status",
                                    type: "POST",
                                    dataType: "json",
                                    data: {
                                        "request_id": request_id,
                                        "purpose": eventName,
                                    },
                                    async: true,
                                    success: function(data) {
                                        console.log(data);
                                        if (data.status == 'success') {
                                            showSimpleAlert('You have successfully paid for {{eventName}}.', 5000);
                                        } else {
                                            Swal.fire({
                                                title: 'Try again',
                                                text: "Wait for your confirmation message from M-Pesa and try agin!",
                                                icon: 'info',
                                                showCancelButton: true,
                                                confirmButtonColor: '#3085d6',
                                                cancelButtonColor: '#d33',
                                                allowOutsideClick: false,
                                                confirmButtonText: 'I have done that!'
                                            }).then((result) => {
                                                if (result.isConfirmed) {
                                                    var form = document.getElementById("eventPaymentForm");
                                                    var form_data = $(form).serializeArray();
                                                    var request_id = $("#request_id").val();
                                                    var eventName = "{{eventName}}";
                                                    console.log('now checking status of ' + request_id);
                                                    // console.log(form_data);
                                                    var valid = validateForm(form_data);
                                                    console.log('valid: ' + valid);
                                                    if (valid) {

                                                        $.ajax({
                                                            url: "/pmt/stk_push/check/status",
                                                            type: "POST",
                                                            dataType: "json",
                                                            data: {
                                                                "request_id": request_id,
                                                                "purpose": eventName,
                                                            },
                                                            async: true,
                                                            success: function(data) {
                                                                console.log(data);
                                                                if (data.status == 'success') {
                                                                    showSimpleAlert('You have successfully paid for {{eventName}}.', 5000);

                                                                    $.ajax({
                                                                        url: "{{ (path('add_payment')) }}",
                                                                        type: "POST",
                                                                        dataType: "json",
                                                                        data: {
                                                                            "amount": data.response.split(":")[1],
                                                                            "receipt_number": "{{'now'|date('m-d-y')}}" + "{{eventName}}",
                                                                        },
                                                                        async: true,
                                                                        success: function(data) {
                                                                            console.log(data);
                                                                            location.reload();
                                                                        },
                                                                        error: function(xhr, status, error) {
                                                                            console.log(error);
                                                                        }
                                                                    });

                                                                } else {

                                                                }
                                                            },
                                                            error: function(xhr, status, error) {
                                                                console.log(error);
                                                                showSimpleAlert(error, 5000, 'info');
                                                            }
                                                        });

                                                    } else {
                                                        console.log('failed');
                                                        showSimpleAlert('Payment failed. Please check your balance.', 5000)

                                                    }

                                                }
                                            })


                                        }
                                    },
                                    error: function(xhr, status, error) {
                                        console.log(error);
                                        showSimpleAlert(error, 5000, 'info');
                                    }
                                });


                            }
                        })
                    } else {
                        showSimpleAlert('Failed. Something is not right. Check your phone number again.', 5000, 'info')
                    }
                },
                error: function(xhr, status, error) {
                    console.log(error);
                    showSimpleAlert(error, 5000, 'info');
                }
            });

        } else {

            showSimpleAlert('Please fill in all the required fields.', 5000, 'info');

        }



    }// end if for confirm
    })    


})

</script>
{% endblock %}
