<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Payment</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <style>
        body{
            background-color: #ffffff;

        }
        .container{
            width: 600px;
            background-color: #fff;
            padding-top: 100px;
            padding-bottom: 100px;

        }
        .card{
            background-color: #fff;
            width: 300px;
            border-radius: 15px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .name{
            font-size: 15px;
            color: #403f3f;
            font-weight: bold;
        }
        .cross{
            font-size: 11px;
            color: #b0aeb7;
        }
        .pin{
            font-size: 14px;
            color: #b0aeb7;
        }
        .first{
            border-radius: 8px;
            border: 1.5px solid #78b9ff;
            color: #000;
            background-color: #eaf4ff;
        }
        .second{
            border-radius: 8px;
            border: 1px solid #acacb0;
            color: #000;
            background-color: #fff;
        }
        .dot{

        }
        .head{
            color: #137ff3;
            font-size: 12px;
        }
        .dollar{
            font-size: 18px;
            color: #097bf7;
        }
        .amount{
            color: #007bff;
            font-weight: bold;
            font-size: 18px;

        }
        .form-control{
            font-size: 18px;
            font-weight: bold;
            width: 60px;
            height: 28px;

        }
        .back{
            color: #aba4a4;
            font-size: 15px;
            line-height: 73px;
            font-weight: 400;
        }
        .button{
            width: 150px;
            height: 60px;
            border-radius: 8px;
            font-size: 17px;		
        }
    </style>

    </head>

    <body>
    <div class="container d-flex justify-content-center mt-5">
        <div class="card">
            


            <div>
                <div class="d-flex pt-3 pl-3">
                <div><img src="{{asset('img/chezanewlogowhite.jpg')}}" width="80" height="80" /></div>
                <div class="mt-3 pl-2"><span class="name">{{data.fullname}}</span><div><span class="pin ml-2">{{data.regPhone}}</span></div></div>
                </div>


                <div class="py-2  px-3">
                    <div class="first pl-2 d-flex py-2">
                    <div class="form-check">
                    <input type="radio" name="optradio" class="form-check-input mt-3 dot" checked>
                    </div>
                    <div class="border-left pl-2">
                        <span class="head">Total amount paid</span>
                        <div>
                            <span class="dollar">KSh </span>
                            <span class="amount">{{data.amount}}</span>
                        </div>
                        <span class="head">Paid for {{data.instrument}} lessons ( every {{data.weekday}} )</span>

                    </div>

                    </div>
                </div>


                <div class="py-2  px-3">
                    <div class="second pl-2 d-flex py-2">
                        <div class="border-left pl-2">
                            <span class="head">1. Check your phone ({{data.regPhone}}).<br/> 2. Input your MPESA pin. <br/>3. Wait for MPESA confirmation message <br/>4. If payment is NOT successful, top up your MPESA and come back to this page then click "Try Again"  <br/>5. If payment IS successful, click "Final Step" below to have your account updated with your payment</span>
                        </div>

                    </div> 
                </div>	

                    <div class="d-flex justify-content-between px-3 pt-4 pb-3">
                        <form method="post" action="{{path('checkout_submit_payment')}}">
                                            
                            <input type="hidden" name="instrument" id="instrument" value="{{data.instrument}}" >                    
                            <input type="hidden" name="instrument_id" id="instrument_id" value="{{data.instrument_id}}" >                    
                            <input type="hidden" name="weekday" id="weekday" value="{{data.weekday}}" >                    
                            <input type="hidden" name="residence" id="residence" value="{{data.residence}}" >                    
                            <input type="hidden" name="startingdate" id="startingdate" value="{{data.startingdate}}" >                    
                            <input type="hidden" name="regEmail" id="regEmail" value="{{data.regEmail}}" >                    
                            <input type="hidden" name="fullname" id="fullname" value="{{data.fullname}}" >                    
                            <input type="hidden" name="regPhone" id="regPhone" value="{{data.regPhone}}" >                    
                            <input type="hidden" name="message" id="message" value="{{data.message}}" >                    
                            <input type="hidden" name="gender" id="gender" value="{{data.gender}}" >                    
                            <input type="hidden" name="age" id="age" value="{{data.age}}" >                    
                            <input type="hidden" name="parentname" id="parentname" value="{{data.parentname}}" >                    
                            <input type="hidden" name="amount" id="amount" value="{{data.amount}}" >                    
                            <input type="hidden" name="numbertocharge" id="numbertocharge" value="{{data.numbertocharge}}" >                    
                            <input type="hidden" name="userexists" id="userexists" value="" >     
                            <input type="hidden" name="request_id" id="request_id" value="{{request_id}}" >     
                            <input type="hidden" name="teacher_id" id="teacher_id" value="" >     
                            
                            <button type="submit" class="btn mb-1 btn-info">Try Again</button>

                        </form>
                        <form method="post" action="{{path('checkout_complete_payment')}}">
                            <input type="hidden" name="request_id" id="request_id" value="{{request_id}}" >     
                            <input type="hidden" name="status" id="status" value="{{status}}" >
                            <input type="hidden" name="instrument" id="instrument" value="{{data.instrument}}" >                    
                            <input type="hidden" name="instrument_id" id="instrument_id" value="{{data.instrument_id}}" >                    
                            <input type="hidden" name="weekday" id="weekday" value="{{data.weekday}}" >                    
                            <input type="hidden" name="residence" id="residence" value="{{data.residence}}" >                    
                            <input type="hidden" name="startingdate" id="startingdate" value="{{data.startingdate}}" >                    
                            <input type="hidden" name="regEmail" id="regEmail" value="{{data.regEmail}}" >                    
                            <input type="hidden" name="fullname" id="fullname" value="{{data.fullname}}" >                    
                            <input type="hidden" name="regPhone" id="regPhone" value="{{data.regPhone}}" >                    
                            <input type="hidden" name="message" id="message" value="{{data.message}}" >                    
                            <input type="hidden" name="gender" id="gender" value="{{data.gender}}" >                    
                            <input type="hidden" name="age" id="age" value="{{data.age}}" >                    
                            <input type="hidden" name="parentname" id="parentname" value="{{data.parentname}}" >                    
                            <input type="hidden" name="amount" id="amount" value="{{data.amount}}" >                    
                            <input type="hidden" name="numbertocharge" id="numbertocharge" value="{{data.numbertocharge}}" >                    
                            <input type="hidden" name="userexists" id="userexists" value="" >     
                            <input type="hidden" name="request_id" id="request_id" value="{{request_id}}" >     
                            <input type="hidden" name="teacher_id" id="teacher_id" value="" >     

                            <button type="submit" class="btn mb-1 btn-primary">Final Step</button>
                        </form>
                    </div>



            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

