<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>Privacy Policy - Cheza Music School</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Privacy Policy</h1>
        <p class="text-muted text-center">Effective Date: <strong> January 1 2024</strong></p>

        <div class="card mt-4">
            <div class="card-body">
                <p>Cheza Music School respects the privacy of our visitors and users. This Privacy Policy describes the types of information we collect on our website (<a href="https://chezamusicschool.co.ke/" target="_blank">https://chezamusicschool.co.ke/</a>), how we use that information, and your choices regarding the use of that information.</p>

                <h2>Information We Collect</h2>
                <p>We may collect the following information:</p>
                <ul>
                    <li><strong>Information You Provide:</strong> This may include your name, email address, comments, and other information you submit through our website forms, including blog post comments.</li>
                    <li><strong>Log Data:</strong> When you visit our website, our servers may automatically collect information such as your IP address, browser type, referring/exit pages, and date/time stamps.</li>
                    <li><strong>Cookies:</strong> We may use cookies to track user activity on our website and remember preferences (e.g., language preference).</li>
                </ul>

                <h2>Use of Information</h2>
                <p>We may use the information we collect for the following purposes:</p>
                <ul>
                    <li>To personalize your experience on our website, such as remembering your preferences.</li>
                    <li>To improve our website and blog content.</li>
                    <li>To respond to your inquiries and comments.</li>
                    <li>To send you occasional emails about Cheza Music School news, events, and special offers (with your consent).</li>
                    <li>To serve targeted advertising through Google Ads on our blog pages.</li>
                </ul>

                <h2>Google Ads and Third-Party Cookies</h2>
                <p>We use Google Ads to display targeted advertisements on our blog pages. Google Ads uses cookies to track user activity and preferences to deliver ads relevant to your interests. Google may use cookies to serve ads based on your prior visits to our website or other websites.</p>
                <p>You can learn more about Google's advertising practices and how to opt out of personalized advertising by visiting <a href="https://support.google.com/adspolicy/answer/6008942?hl=en" target="_blank">Google's Advertising Policies Help Page</a>.</p>

                <h2>Google Analytics</h2>
                <p>We use Google Analytics to analyze traffic to our website. Google Analytics collects information such as how often users visit our site, what pages they visit, and what other sites they used prior to coming to our site. We use this information to improve our site and provide better services to our users.</p>

                <h2>Your Choices</h2>
                <p>You have choices regarding your information:</p>
                <ul>
                    <li><strong>Cookies:</strong> Most web browsers allow you to control cookies through their settings. You can block, delete, or disable cookies. However, this may limit your use of certain website features.</li>
                    <li><strong>Email Communication:</strong> You can unsubscribe from our email list at any time by clicking the "unsubscribe" link in the footer of our emails.</li>
                    <li><strong>Google Ads:</strong> To opt out of Google's use of cookies, you can visit the <a href="https://adssettings.google.com/authenticated" target="_blank">Google Ads Settings</a> page. Alternatively, you can opt out of third-party vendor use of cookies by visiting the <a href="https://optout.networkadvertising.org/" target="_blank">Network Advertising Initiative opt-out page</a>.</li>
                </ul>

                <h2>Data Security</h2>
                <p>We take reasonable steps to protect the information you provide from unauthorized access, disclosure, alteration, or destruction. However, no internet transmission is completely secure. We cannot guarantee the security of your information.</p>

                <h2>Changes to This Privacy Policy</h2>
                <p>We may update this Privacy Policy from time to time. We will post any changes on this page and update the "Effective Date" at the top of this policy. We encourage you to review this Privacy Policy periodically to stay informed.</p>

                <h2>Contact Us</h2>
                <p>If you have any questions about this Privacy Policy, please contact us at <a href="mailto:info@chezamusicschool.co.ke">info@chezamusicschool.co.ke</a>.</p>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
