{% extends 'base.html.twig' %}
{% block title %}{{teacher.fullname}} | Cheza Music School{% endblock %}

{% block stylesheets %}
<style>
    h3 {
        margin-top:20px!important;
        margin-bottom:15px!important;
    }
    
    h2 {
        margin-top:20px!important;
        margin-bottom:15px!important;
    }
</style>
{% endblock %}

{% block page %}
    <div class="page">
      {% set title = teacher.fullname|split(' ' )[0] %}
      {% if teacher.id == 2 %}
      {% set title = title ~ ' - Online Piano Teacher Nairobi, Kenya' %}
      {% endif %}

      {{ include('tmp/header_extended.html.twig', {'page': 'Home', 'subpage': 'Teachers', 'pagetitle': title, 'addon': 'teacherinfo' }) }}

      <div class="nicdark_section">
          <!--start nicdark_container-->
          <div class="nicdark_container nicdark_clearfix">
              <div class="nicdark_width_66_percentage nicdark_width_100_percentage_responsive nicdark_float_left">
                  <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                      <h2><strong>Biography</strong></h2>
                      <div class="nicdark_section nicdark_height_20"></div>
                      <div class="nicdark_width_100_percentage nicdark_width_100_percentage_all_iphone nicdark_float_left ">
                          <p class="nicdark_padding_10 nicdark_padding_0_all_iphone nicdark_padding_left_0">{{teacher.teacherdata.about|raw}}</p>
                      </div>
                      <div class="nicdark_section nicdark_height_40"></div>
                      <div class="nicdark_section">
                          <!--START tab-->
                          <div class="nicdark_tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
                              <ul class="nicdark_list_style_none nicdark_margin_0 nicdark_padding_0 nicdark_section nicdark_border_bottom_2_solid_grey ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
                                  <li class="nicdark_display_inline_block ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true">
                                      <h4>
                                          <a class="nicdark_outline_0 nicdark_padding_20 nicdark_padding_right_10 nicdark_display_inline_block nicdark_first_font nicdark_color_greydark ui-tabs-anchor" href="#tabs-1"  tabindex="-1" id="ui-id-1">My Courses</a> 
                                          <a class="nicdark_display_inline_block nicdark_bg_grey nicdark_margin_right_20 nicdark_border_1_solid_grey nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="#">{{ teacher.courses|length }}</a>
                                      </h4>
                                  </li>
                                  <li class="nicdark_display_inline_block ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-2" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false">
                                      <h4>
                                          <a class="nicdark_outline_0 nicdark_padding_20 nicdark_padding_right_10 nicdark_display_inline_block nicdark_first_font nicdark_color_greydark ui-tabs-anchor" href="#tabs-2"  tabindex="-1" id="ui-id-2">Blog Posts</a> 
                                          <a class="nicdark_display_inline_block nicdark_bg_grey nicdark_margin_right_20 nicdark_border_1_solid_grey nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="#">{{ teacher.blogs|length}}</a>
                                      </h4>
                                  </li>
                              </ul>
                              <div class="nicdark_section nicdark_height_20"></div>
                              <div class="nicdark_section ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-1" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false" style="display: block;">
                                  <div class="nicdark_section nicdark_box_sizing_border_box nicdark_overflow_hidden nicdark_overflow_x_auto nicdark_cursor_move_responsive">
                                      <table class="nicdark_section">
                                          <thead>
                                              <tr class="nicdark_border_bottom_1_solid_grey">
                                                  <td class="nicdark_padding_20 nicdark_width_20_percentage">
                                                      <h6 class="nicdark_text_transform_uppercase">COURSE</h6>
                                                  </td>
                                                  <td class="nicdark_padding_20 nicdark_width_30_percentage nicdark_display_none_all_iphone">
                                                  </td>
                                                  <td class="nicdark_padding_20 nicdark_width_20_percentage nicdark_display_none_all_iphone">
                                                      <h6 class="nicdark_text_transform_uppercase">RATING</h6>
                                                  </td>
                                                  <td class="nicdark_padding_20 nicdark_width_20_percentage">
                                                      <h6 class="nicdark_text_transform_uppercase">PRICE</h6>
                                                  </td>
                                                  <td class="nicdark_padding_20 nicdark_width_10_percentage">
                                                  </td>
                                              </tr>
                                          </thead>
                                          <tbody>
                                            {% for course in teacher.courses %}
                                              <tr class="nicdark_border_bottom_1_solid_grey">
                                                  <td class="nicdark_padding_20">  
                                                      <img alt="" class="nicdark_section" src="/education/images/{{course.image}}"> 
                                                  </td>
                                                  <td class="nicdark_padding_20">
                                                      <h4><strong>{{course.name}} Course</strong></h4>
                                                  </td>
                                                  <td class="nicdark_padding_20 nicdark_display_none_all_iphone">  
                                                      <img alt="" class="" width="15" src="/education/img/icons/icon-star-full.svg">
                                                      <img alt="" class="" width="15" src="/education/img/icons/icon-star-full.svg">
                                                      <img alt="" class="" width="15" src="/education/img/icons/icon-star-full.svg">
                                                      <img alt="" class="" width="15" src="/education/img/icons/icon-star-half.svg">
                                                      <img alt="" class="nicdark_margin_right_10" width="15" src="/education/img/icons/icon-star.svg">
                                                  </td>
                                                  <td class="nicdark_padding_20 nicdark_display_none_all_iphone">
                                                      <p class="nicdark_color_greydark">KSh 2,500</p>
                                                  </td>
                                                  <td class="nicdark_padding_20">   
                                                      <a class="nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="{{ path('course_public_show', {'name': course.instrument.name, 'id': course.id } ) }}">VIEW</a>
                                                  </td>
                                              </tr>
                                            {% endfor %}
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                              <div class="nicdark_section ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-2" aria-labelledby="ui-id-2" role="tabpanel" aria-hidden="true" style="display: none;">
                                  <div class="nicdark_section">
                                      <!--START attendes-->
                                      <div class="nicdark_section">
                                          {% for blog in teacher.blogs %}
                                          <!--START preview-->
                                          <div class="nicdark_width_25_percentage nicdark_width_50_percentage_all_iphone nicdark_padding_20 nicdark_float_left nicdark_box_sizing_border_box">
                                              <div class="nicdark_section nicdark_box_sizing_border_box">
                                                  <div class="nicdark_section nicdark_position_relative">
                                                      <img alt="" class="nicdark_section" src="/education/images/{{article.image}}">
                                                      <div class="nicdark_bg_greydark_alpha_gradient_3 nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_box_sizing_border_box">
                                                          <div class="nicdark_position_absolute nicdark_bottom_20 nicdark_width_100_percentage nicdark_padding_botttom_0 nicdark_padding_20 nicdark_box_sizing_border_box nicdark_text_align_center">
                                                              <h5 class="nicdark_color_white"><strong>{{blog.title|title}}</strong></h5>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <!--END preview-->
                                          {% endfor %}
                                      </div>
                                      <!--END attendes-->
                                  </div>
                              </div>
                          </div>
                          <!--END tab-->
                          <!--START Dialog-->
                          <!--<div class="nicdark_dialog" title="Basic dialog">
                              <p>This is an animated dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
                              </div>-->
                          <!--<button class="nicdark_dialog_open">Open Dialog</button>-->
                          <!--END Dialog-->
                      </div>
                  </div>
                  <div class="nicdark_section nicdark_height_50"></div>
              </div>
              <div class="nicdark_width_33_percentage nicdark_width_100_percentage_responsive nicdark_float_left">
                  <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                      <table class="nicdark_section">
                          <tbody>
                              <tr class="nicdark_border_bottom_2_solid_grey">
                                  <td class="nicdark_padding_20 "><img alt="" class="" width="40" src="/education/img/icons/icon-email-grey.svg"></td>
                                  <td class="nicdark_padding_20 ">
                                      <h4 class=" nicdark_text_align_right">Email: {{teacher.email}}</h4>
                                  </td>
                              </tr>
                              <tr class="nicdark_border_bottom_2_solid_grey">
                                  <td class="nicdark_padding_20"><img alt="" class="" width="40" src="/education/img/icons/icon-mobile-grey.svg"></td>
                                  <td class="nicdark_padding_20">
                                      <h4 class=" nicdark_text_align_right">Phone: {{teacher.teacherdata.phone}}</h4>
                                  </td>
                              </tr>
                              <tr class="nicdark_border_bottom_2_solid_grey">
                                  <td class="nicdark_padding_20 "><img alt="" class="" width="40" src="/education/img/icons/icon-link-grey.svg"></td>
                                  <td class="nicdark_padding_20 ">
                                      <h4 class=" nicdark_text_align_right">Web: {{teacher.teacherdata.resumelnk}}</h4>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="nicdark_padding_20 "><img alt="" class="" width="40" src="/education/img/icons/icon-pin-grey.svg"></td>
                                  <td class="nicdark_padding_20 ">
                                      <h4 class=" nicdark_text_align_right">Location: Nairobi</h4>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                      <div class="nicdark_section nicdark_height_40"></div>
                      {{include('contact-mini-form')}}
                  </div>
                  <div class="nicdark_section nicdark_height_50"></div>
              </div>
          </div>
          <!--end container-->
      </div>


      {# {{ include('tmp/contacts.html.twig') }} #}
      {{ include('tmp/footer.html.twig') }}
      {{ include('tmp/registration_modal.html.twig', {'global_vars': global_vars['vars']}) }}

    </div>
    
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>

{% endblock %}    

{% block javascripts %}

{% endblock %}
