<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Registration successful</title>
    <meta name="description" content="Thank you">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
	<link rel="icon" href="{{asset('favicon.ico')}}" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{asset('activity/css/bootstrap.min.css')}}">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{{asset('activity/css/fontawesome-all.min.css')}}">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{{asset('activity/font/flaticon.css')}}">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{asset('activity/style.css')}}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>

<body>

    <div class="jumbotron text-center" style="margin-top:10%">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">{{msg|raw}}.</p>
    <hr>
    <p>
        Having trouble? <a href="https://chezamusicschool.co.ke/about/cheza/contact">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="https://chezamusicschool.co.ke" role="button">Continue to homepage</a>
    </p>
    </div>

</body>

</html>