{% extends 'base.html.twig' %}
{% block title %}Online Music theory Quiz ABRSM | Cheza Music School{% endblock %}

{% block stylesheets %}
<style>
    p {
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block page %}
    <div class="page">

      {{ include('tmp/header.html.twig', {'page': 'Home', 'subpage': 'Music Theory Online Quiz', 'pagetitle': "ABRSM Music Theory Online Quiz Grades 1-" ~ grades|length }) }}
        <div class="grid grid_4">




            <div class="nicdark_section nicdark_box_sizing_border_box">
                        
                        <!--start preview-->
                            <div class="nicdark_section ">
                        
                                <!--image-->
                                <div class="nicdark_section nicdark_position_relative">
                                    
                                    <img alt="" class="nicdark_section" src="/img/online_theory_quiz.jpg">

                                    <div class="nicdark_bg_greydark_alpha_gradient nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_20 nicdark_box_sizing_border_box">
                                        <div class="nicdark_position_absolute nicdark_bottom_20">
                                            <h2 class="nicdark_color_white">Learn and Take Quiz For Free</h2>
                                        </div>

                                    </div>

                                </div>
                                <!--image-->


                        <div class="nicdark_section nicdark_box_sizing_border_box">
                        
                            <div class="nicdark_section nicdark_border_1_solid_grey nicdark_padding_20 nicdark_box_sizing_border_box">

                                <table class="nicdark_section">
                                    <tbody>
                                        
                                        <tr class="">
                                            <td class="nicdark_padding_10">  
                                                <h2 class="nicdark_font_size_13 nicdark_text_transform_uppercase"><strong>About Cheza Online Quiz</strong></h2>
                                                <div class="nicdark_section nicdark_height_5"></div>
                                                <p>Are you ready to test your music theory knowledge and improve your skills? Cheza Music School is excited to introduce our comprehensive music theory quiz platform, designed to help you practice and perfect your understanding of music theory concepts. </p>
                                                <p>Our quizzes cover a range of topics from the ABRSM syllabus. From grade 1 basic music theory quizzes to grade 5 advanced music theory quizzes we help you build a solid Music theory foundation. </p>
                                                <p>For those preparing for ABRSM exams, our ABRSM music theory quiz and ABRSM terms and signs quiz are specifically designed to align with the ABRSM syllabus, helping you master all topics including the important terms and signs needed for your exams.</p>
                                                <p>Our music intervals quiz is excellent for sharpening your ability to identify and understand musical intervals grouping of notes, among other topics. Our music theory online quiz allows you to conveniently take quizzes from anywhere, at any time.</p>
                                                <p>Each quiz provides music theory questions and answers, with detailed explanations to help you learn as you go. Additionally, our music theory trivia and music theory trivia questions and answers offer fun and engaging ways to test your knowledge with a mix of challenging and entertaining questions.</p>
                                                <h2>How It Works:</h2>
                                                <ul>
                                                    <li>Choose Your Quiz: Select from a variety of topics and difficulty levels.</li>
                                                    <li>Take the Quiz: Answer a series of questions designed to test your knowledge.</li>
                                                    <li>Immediate Results: See your score as soon as you finish the quiz.</li>
                                                    <li>Receive a Mark Sheet: Get a detailed mark sheet sent directly to your email, perfect for tracking your progress.</li>
                                                </ul>
                                                <p> Start Now</p>

                                            </td>
                                        </tr>

                                    </tbody>
                                </table> 
                            </div>
                            

                        </div>

                        <div class="nicdark_section nicdark_padding_10 nicdark_box_sizing_border_box nicdark_bg_white ">
                            
                            <div class="nicdark_width_50_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left nicdark_text_align_center">
                                <a class="nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_box_sizing_border_box nicdark_width_100_percentage nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="/">BACK HOME</a>
                            </div>  

                            <div class="nicdark_width_50_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left nicdark_text_align_center">
                                <a class="nicdark_display_inline_block nicdark_color_white nicdark_bg_red nicdark_box_sizing_border_box nicdark_width_100_percentage nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="/">BOOK LESSONS</a>
                            </div> 
                            
                        </div>



                    </div>
                            <!--start preview-->

                    </div>

        </div>

        <div class="grid grid_8">
            <div class="nicdark_section">


                <!--START tab-->
                <div class="nicdark_tabs">
                    <ul class="nicdark_list_style_none nicdark_margin_0 nicdark_padding_0 nicdark_section nicdark_border_bottom_2_solid_grey">
                        <li class="nicdark_display_inline_block">
                            <h4>
                                <a class="nicdark_outline_0 nicdark_padding_20 nicdark_padding_right_10 nicdark_display_inline_block nicdark_first_font nicdark_color_greydark" href="#tabs-1">Online Quiz</a> 
                                <a class="nicdark_display_inline_block nicdark_bg_grey nicdark_margin_right_20 nicdark_border_1_solid_grey nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="#">{{lessons|length}}</a>
                            </h4>
                        </li>
                        {# <li class="nicdark_display_inline_block">
                            <h4>
                                <a class="nicdark_outline_0 nicdark_padding_20 nicdark_padding_right_10 nicdark_display_inline_block nicdark_first_font nicdark_color_greydark" href="#tabs-4">Compare</a> 
                                <a class="nicdark_display_inline_block nicdark_bg_grey nicdark_margin_right_20 nicdark_border_1_solid_grey nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="#">3</a>
                            </h4>
                        </li> #}
                    </ul>

                    <div class="nicdark_section nicdark_height_20"></div>

                    <div class="nicdark_section" id="tabs-1">


                        <div class="nicdark_section nicdark_overflow_hidden nicdark_overflow_x_auto nicdark_cursor_move_responsive">
                            <table class="nicdark_section">
                                <thead>
                                    <tr class="nicdark_border_bottom_1_solid_grey">
                                        <td class="nicdark_padding_20 nicdark_width_20_percentage">
                                            <h6 class="nicdark_text_transform_uppercase">Lesson</h6>    
                                        </td>
                                        <td class="nicdark_padding_20 nicdark_width_20_percentage">
                                            <h6 class="nicdark_text_transform_uppercase">Action</h6>    
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for grade in grades %}
                                    <tr class="nicdark_border_bottom_1_solid_grey">
                                        <td class="nicdark_padding_20">  
                                            <p>{{ grade|replace({'-':' '}) }}</p> 
                                        </td>
                                        <td class="nicdark_padding_20">   
                                            <a class="nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="{{ path('abrsm_online_theory_quiz_grade', {'grade': grade }) }}">Go To {{ grade|replace({'-':' '}) }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
            

                    </div>

                    {# <div class="nicdark_section" id="tabs-4">

                        <div class="nicdark_section nicdark_box_sizing_border_box nicdark_overflow_hidden nicdark_overflow_x_auto nicdark_cursor_move_responsive">

                            <table class="nicdark_section">
                                <thead>
                                    <tr class="">
                                        <td class=" nicdark_width_25_percentage">

                                        </td>
                                        <td class=" nicdark_width_55_percentage">   
                                        </td>
                                        <td class=" nicdark_width_15_percentage">  
                                        </td>
                                        <td class=" nicdark_width_5_percentage">   
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="nicdark_border_bottom_2_solid_grey">
                                        <td class="nicdark_padding_20">
                                            <img alt="" class="nicdark_section" src="img/courses/img1.png">   
                                        </td>
                                        <td class="nicdark_padding_20"> 
                                            <h3><strong>Learn Sushi</strong></h3>  
                                        </td>
                                        <td class="nicdark_padding_20">  
                                            <p>$ 50,00</p> 
                                        </td>
                                        <td class="nicdark_padding_20">   
                                            <img alt="" width="15" src="img/icons/icon-remove-red.svg">
                                        </td>
                                    </tr>

                                    <tr class="nicdark_border_bottom_2_solid_grey">
                                        <td class="nicdark_padding_20">
                                            <img alt="" class="nicdark_section" src="img/courses/img2.png">   
                                        </td>
                                        <td class="nicdark_padding_20"> 
                                            <h3><strong>Maccheroni</strong></h3>  
                                        </td>
                                        <td class="nicdark_padding_20">  
                                            <p>$ 20,00</p> 
                                        </td>
                                        <td class="nicdark_padding_20">   
                                            <img alt="" width="15" src="img/icons/icon-remove-red.svg">
                                        </td>
                                    </tr>

                                    <tr class="">
                                        <td class="nicdark_padding_20">
                                            <img alt="" class="nicdark_section" src="img/courses/img3.png">   
                                        </td>
                                        <td class="nicdark_padding_20"> 
                                            <h3><strong>Italian Pizza</strong></h3>  
                                        </td>
                                        <td class="nicdark_padding_20">  
                                            <p>$ 80,00</p> 
                                        </td>
                                        <td class="nicdark_padding_20">   
                                            <img alt="" width="15" src="img/icons/icon-remove-red.svg">
                                        </td>
                                    </tr>


                                </tbody>
                            </table>

                        </div>

                    </div> #}

                </div>
                <!--END tab-->


                <!--START Dialog-->
                <!--<div class="nicdark_dialog" title="Basic dialog">
                    <p>This is an animated dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
                </div>-->

                <!--<button class="nicdark_dialog_open">Open Dialog</button>-->
                <!--END Dialog-->


            </div>

        </div>

      {# {{ include('tmp/contacts.html.twig') }} #}
      {{ include('tmp/footer.html.twig') }}
      {{ include('tmp/registration_modal.html.twig', {'global_vars': global_vars['vars']}) }}

    </div>
    
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>

{% endblock %}    

{% block javascripts %}

{% endblock %}
