{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}
{% block stylesheets %}
<style>

.highlight-clean {
  color: #313437;
  background-color: #fff;
  padding: 50px 0;
}

.highlight-clean p {
  color: #7d8285;
}

.highlight-clean h2 {
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.highlight-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.highlight-clean .buttons {
  text-align: center;
}

.highlight-clean .buttons .btn {
  padding: 16px 32px;
  margin: 6px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none;
  background-color: #ddd;
}

.highlight-clean .buttons .btn:hover {
  opacity: 1;
}

.highlight-clean .buttons .btn:active {
  transform: translateY(1px);
}

.highlight-clean .buttons .btn-primary {
  background-color: #055ada;
  color: #fff;
}


</style>
{% endblock %}
{% block page %}
<section class="highlight-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Welcome {{user.fullname}}!</h2>
			<p class="text-center">We have received your application and we will call you as soon as possible, during working hours. </p>
			<p class="text-center">Meanwhile, you can reach us on WhatsApp or through a call using this number: 0711 832 933.</p>
			<p class="text-center">You may have to wait for account activation before you will be able to use the portal.</p>
        </div>
        <div class="buttons"><a class="btn mb-1 btn-primary" role="button" href="{{path('app_login')}}">Sign in</a><a class="btn btn-light" href="{{path('default')}}">Homepage</a></div>
    </div>
</section>
{% block footer %}{% endblock %}
{% endblock %}



														