{% extends 'adm_base.html.twig' %}

{% block title %}Workshop Registration List{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link href="{{asset('adm/assets/libs/rwd-table/rwd-table.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
{# 0736991179 Shopit #}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Workshop Registration List</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            {# <!-- item-->
                            <a href="{{ path('contact_new') }}" class="dropdown-item">Create new</a>
                            <!-- item-->
                            <a href="{{ path('admin-communications') }}" class="dropdown-item">Back to communications</a> #}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">List of all registered people</h4>
                    <div class="responsive-table-plugin">
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns">
                                <table id="tech-companies-1" class="table table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                            <th>Extra</th>
                                            <th>Comment</th>
                                            <th>Action</th>
                                            <th>Attended?</th>
                                            <th>Feedback?</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for contact in contacts %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ contact.fname }}</td>
                                            <td>{{ contact.lname }}</td>
                                            <td>{{ contact.email }}</td>
                                            <td>{{ contact.phone }}</td>
                                            <td>{{ contact.extra }}</td>
                                            <td>{{ contact.comment }}</td>
                                            <td><button onclick="return confirm('Are you sure you want to delete {{ contact.fname }}?');" id="delete-{{contact.id}}" class="btn mb-1 btn-danger">Delete</button></td>
                                            <td>
                                            <form class="form">
                                                <select class="form-control" id="attended-{{contact.id}}" name="attended-{{contact.id}}">
                                                    <option>Click to select</option>
                                                    <option value="yes" {{contact.attended == 'yes' ? 'selected' : ''}}>Yes</option>
                                                    <option value="no" {{contact.attended == 'no' ? 'selected' : ''}}>No</option>
                                                </select>
                                            </form>
                                            </td>
                                            <td>
                                            {% if contact.feedback|length == 0 %}
                                                <a class="btn mb-1 btn-info" href="{{path('feedback_new', {'contact_id': contact.email ~ '^' ~ contact.id})}}">Add</a>
                                            {% else %}
                                                <a class="btn mb-1 btn-info" href="{{path('feedback_edit', {'id': contact.feedback|first.id })}}">Edit</a>
                                            {% endif %}
                                            <button id="feedback_prompt-{{contact.id}}" class="btn mb-1 btn-primary">Prompt Feedback</button>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}
    <script src="{{asset('adm/assets/libs/rwd-table/rwd-table.min.js') }}"></script>
    <!-- Init js -->
    <script src="{{asset('adm/assets/js/pages/responsive-table.init.js') }}"></script>
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('.datatable').DataTable();
        } );
    </script>
	<script>
      $(document).on('click', '[id^="delete-"]', function(){


            var id = jQuery(this).attr("id").split("-")[1];
          
            $.ajax({
                url:'{{ (path('delete_contact')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "contact_id": id,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });

	  });
	</script>

	<script>
      $(document).on('change', '[id^="attended-"]', function(){


            var id = jQuery(this).attr("id").split("-")[1];
            var attended = $(this).val();
            console.log(attended);
          
            $.ajax({
                url:'{{ (path('update_attended')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "contact_id": id,
                    "attended": attended,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });

	  });
	</script>
    <script>
        
        $('[id^="feedback_prompt-"]').click( function () {

            var id = jQuery(this).attr("id").split("-")[1];

            $.ajax({
                url:'{{ (path('send_feedback_prompt')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "contact_id": id,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    //location.reload();
                    $("#send_report-"+id).hide();
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Sent!:', message: 'The prompt has been sent to '+data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>

{% endblock %}
