<table>
    
{% for contact in contacts %}
    <tr>
        <td>{{ contact.email }}</td>
        <td>{{ contact.fname }} {{ contact.lname }}</td>
        <td>{{ contact.phone }}</td>
    </tr>
{% endfor %}
    
</table>
