{% extends 'base.html.twig' %}

{% block title %}Cheza Music School{% endblock %}

{% block homepage %}
<div class="nicdark_display_table nicdark_transition_all_08_ease nicdark_navigation_3_search_content nicdark_bg_greydark_alpha_9 nicdark_position_fixed nicdark_width_100_percentage nicdark_height_100_percentage nicdark_z_index_1_negative nicdark_opacity_0">
    <!--close-->
    <div class="nicdark_cursor_zoom_out nicdark_navigation_3_close_search_content nicdark_width_100_percentage nicdark_height_100_percentage nicdark_position_absolute nicdark_z_index_1_negative"></div>
    <div class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_text_align_center">
        <div class="nicdark_width_700 nicdark_width_250_all_iphone nicdark_display_inline_block">
            <div class="nicdark_width_80_percentage nicdark_padding_5 nicdark_box_sizing_border_box nicdark_float_left nicdark_position_relative">
                <input class="nicdark_border_width_2 nicdark_background_none nicdark_border_top_width_0 nicdark_border_right_width_0 nicdark_border_left_width_0 nicdark_first_font nicdark_color_white nicdark_placeholder_color_white nicdark_font_size_30 nicdark_line_height_30" type="text" placeholder="Search">
            </div>
            <div class="nicdark_width_20_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left nicdark_position_relative">
                <a class="nicdark_width_55 nicdark_height_55 nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_bg_green nicdark_padding_15 nicdark_border_radius_3 " href="courses.html">
                <img alt="" width="25" src="{{ asset('education/img/icons/icon-search-white.svg') }}">
                </a>   
            </div>
        </div>
    </div>
</div>
<!--END search container-->
{% include 'templates/edu_nav.html.twig' %}
{% include 'templates/edu_header.html.twig' %}
<div class="nicdark_section nicdark_height_50"></div>


<div class="nicdark_section ">
    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">
        <div class="grid grid_12">
            <h1 class="nicdark_font_size_50"><strong>Our Categories</strong></h1>
            <div class="nicdark_section nicdark_height_10"></div>
            <h3 class=" nicdark_color_grey">The Best Courses</h3>
        </div>
        <div class="nicdark_width_25_percentage nicdark_width_100_percentage_responsive nicdark_float_left">
            <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                <!--START preview-->
                <div class="nicdark_section nicdark_position_relative">
                    <img alt="" class="nicdark_section" src="{{ asset('education/img/courses/vertical/vertical-piano.jpg') }}">
                    <a class="nicdark_position_absolute nicdark_right_20 nicdark_top_20 nicdark_display_inline_block nicdark_color_white nicdark_bg_greydark nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="#">15</a>
                    <div class="nicdark_bg_greydark_alpha_gradient_3 nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_30 nicdark_box_sizing_border_box">
                        <div class="nicdark_position_absolute nicdark_bottom_30">
                            <div class="nicdark_display_table nicdark_float_left">
                                <div class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_bg_green nicdark_display_inline_block nicdark_border_radius_100_percentage nicdark_padding_10 nicdark_text_align_center nicdark_width_25 nicdark_height_25">
                                    <img alt="" class="" width="20" src="{{ asset('education/img/icons/icon-fish.svg') }}">
                                </div>
                                <h4 class=" nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_padding_left_10"><a class="nicdark_color_white nicdark_first_font" href="courses.html">Piano Course</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END preview-->
            </div>
        </div>
        <div class="nicdark_width_50_percentage nicdark_width_100_percentage_responsive nicdark_float_left">
            <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                <!--START preview-->
                <div class="nicdark_section nicdark_position_relative">
                    <img alt="" class="nicdark_section" src="{{ asset('education/img/courses/horizontal-violin.jpg') }}">
                    <a class="nicdark_position_absolute nicdark_right_20 nicdark_top_20 nicdark_display_inline_block nicdark_color_white nicdark_bg_greydark nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="#">23</a>
                    <div class="nicdark_bg_greydark_alpha_gradient_3 nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_30 nicdark_box_sizing_border_box">
                        <div class="nicdark_position_absolute nicdark_bottom_30">
                            <div class="nicdark_display_table nicdark_float_left">
                                <div class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_bg_red nicdark_display_inline_block nicdark_border_radius_100_percentage nicdark_padding_10 nicdark_text_align_center nicdark_width_25 nicdark_height_25">
                                    <img alt="" class="" width="20" src="{{ asset('education/img/icons/icon-fish.svg') }}">
                                </div>
                                <h4 class=" nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_padding_left_10"><a class="nicdark_color_white nicdark_first_font" href="courses.html">Violin Course</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END preview-->
            </div>
        </div>
        <div class="nicdark_width_25_percentage nicdark_width_100_percentage_responsive nicdark_float_left">
            <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                <!--START preview-->
                <div class="nicdark_section nicdark_position_relative">
                    <img alt="" class="nicdark_section" src="{{ asset('education/img/courses/vertical/img23.png') }}">
                    <a class="nicdark_position_absolute nicdark_right_20 nicdark_top_20 nicdark_display_inline_block nicdark_color_white nicdark_bg_greydark nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="#">5</a>
                    <div class="nicdark_bg_greydark_alpha_gradient_3 nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_30 nicdark_box_sizing_border_box">
                        <div class="nicdark_position_absolute nicdark_bottom_30">
                            <div class="nicdark_display_table nicdark_float_left">
                                <div class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_bg_orange nicdark_display_inline_block nicdark_border_radius_100_percentage nicdark_padding_10 nicdark_text_align_center nicdark_width_25 nicdark_height_25">
                                    <img alt="" class="" width="20" src="{{ asset('education/img/icons/icon-fish.svg') }}">
                                </div>
                                <h4 class=" nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_padding_left_10"><a class="nicdark_color_white nicdark_first_font" href="courses.html">Vegan Dishes</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END preview-->
            </div>
        </div>
        <div class="nicdark_width_25_percentage nicdark_width_100_percentage_responsive nicdark_float_left">
            <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                <!--START preview-->
                <div class="nicdark_section nicdark_position_relative">
                    <img alt="" class="nicdark_section" src="{{ asset('education/img/courses/vertical/img39.png') }}">
                    <a class="nicdark_position_absolute nicdark_right_20 nicdark_top_20 nicdark_display_inline_block nicdark_color_white nicdark_bg_greydark nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="#">7</a>
                    <div class="nicdark_bg_greydark_alpha_gradient_3 nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_30 nicdark_box_sizing_border_box">
                        <div class="nicdark_position_absolute nicdark_bottom_30">
                            <div class="nicdark_display_table nicdark_float_left">
                                <div class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_bg_orange nicdark_display_inline_block nicdark_border_radius_100_percentage nicdark_padding_10 nicdark_text_align_center nicdark_width_25 nicdark_height_25">
                                    <img alt="" class="" width="20" src="{{ asset('education/img/icons/icon-fish.svg') }}">
                                </div>
                                <h4 class=" nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_padding_left_10"><a class="nicdark_color_white nicdark_first_font" href="courses.html">Asian Sushi</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END preview-->
            </div>
        </div>
        <div class="nicdark_width_25_percentage nicdark_width_100_percentage_responsive nicdark_float_left">
            <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                <!--START preview-->
                <div class="nicdark_section nicdark_position_relative">
                    <img alt="" class="nicdark_section" src="{{ asset('education/img/courses/vertical/img22.png') }}">
                    <a class="nicdark_position_absolute nicdark_right_20 nicdark_top_20 nicdark_display_inline_block nicdark_color_white nicdark_bg_greydark nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="#">11</a>
                    <div class="nicdark_bg_greydark_alpha_gradient_3 nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_30 nicdark_box_sizing_border_box">
                        <div class="nicdark_position_absolute nicdark_bottom_30">
                            <div class="nicdark_display_table nicdark_float_left">
                                <div class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_bg_blue nicdark_display_inline_block nicdark_border_radius_100_percentage nicdark_padding_10 nicdark_text_align_center nicdark_width_25 nicdark_height_25">
                                    <img alt="" class="" width="20" src="{{ asset('education/img/icons/icon-fish.svg') }}">
                                </div>
                                <h4 class=" nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_padding_left_10"><a class="nicdark_color_white nicdark_first_font" href="courses.html">Sandwiches</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END preview-->
            </div>
        </div>
        <div class="nicdark_width_25_percentage nicdark_width_100_percentage_responsive nicdark_float_left">
            <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                <!--START preview-->
                <div class="nicdark_section nicdark_position_relative">
                    <img alt="" class="nicdark_section" src="{{ asset('education/img/courses/vertical/img43.png') }}">
                    <a class="nicdark_position_absolute nicdark_right_20 nicdark_top_20 nicdark_display_inline_block nicdark_color_white nicdark_bg_greydark nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="#">23</a>
                    <div class="nicdark_bg_greydark_alpha_gradient_3 nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_30 nicdark_box_sizing_border_box">
                        <div class="nicdark_position_absolute nicdark_bottom_30">
                            <div class="nicdark_display_table nicdark_float_left">
                                <div class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_bg_green nicdark_display_inline_block nicdark_border_radius_100_percentage nicdark_padding_10 nicdark_text_align_center nicdark_width_25 nicdark_height_25">
                                    <img alt="" class="" width="20" src="{{ asset('education/img/icons/icon-fish.svg') }}">
                                </div>
                                <h4 class=" nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_padding_left_10"><a class="nicdark_color_white nicdark_first_font" href="courses.html">Best Dishes</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END preview-->
            </div>
        </div>
        <div class="nicdark_width_25_percentage nicdark_width_100_percentage_responsive nicdark_float_left">
            <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                <!--START preview-->
                <div class="nicdark_section nicdark_position_relative">
                    <img alt="" class="nicdark_section" src="{{ asset('education/img/courses/vertical/img19.png') }}">
                    <a class="nicdark_position_absolute nicdark_right_20 nicdark_top_20 nicdark_display_inline_block nicdark_color_white nicdark_bg_greydark nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="#">3</a>
                    <div class="nicdark_bg_greydark_alpha_gradient_3 nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_30 nicdark_box_sizing_border_box">
                        <div class="nicdark_position_absolute nicdark_bottom_30">
                            <div class="nicdark_display_table nicdark_float_left">
                                <div class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_bg_red nicdark_display_inline_block nicdark_border_radius_100_percentage nicdark_padding_10 nicdark_text_align_center nicdark_width_25 nicdark_height_25">
                                    <img alt="" class="" width="20" src="{{ asset('education/img/icons/icon-fish.svg') }}">
                                </div>
                                <h4 class=" nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_padding_left_10"><a class="nicdark_color_white nicdark_first_font" href="courses.html">Finger Food</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END preview-->
            </div>
        </div>
    </div>
    <!--end container-->
</div>
<div class="nicdark_section nicdark_height_50"></div>
<div class="nicdark_section nicdark_background_size_cover nicdark_background_position_center_bottom" style="background-image:url({{ asset('education/img/courses/piano-bg-horizontal.jpg') }});">
    <div class="nicdark_section nicdark_bg_greydark_alpha">
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_section nicdark_height_80"></div>
            <div class="grid grid_6 nicdark_position_relative">
                <img alt="" class="nicdark_position_absolute" width="55" src="{{ asset('education/img/icons/icon-check-white.svg') }}">
                <h1 class="nicdark_color_white nicdark_font_size_40 nicdark_padding_left_80 nicdark_line_height_50"><strong><span class="nicdark_border_bottom_4_solid_white">Quality is the heart</span><br> of what we do.</strong></h1>
            </div>
            <div class="nicdark_section nicdark_height_1"></div>
            <div class="grid grid_4 ">
                <div class="nicdark_padding_20">
                    <h1 class="nicdark_font_size_40 nicdark_color_white"><strong><span class="nicdark_color_f1f1f1 nicdark_font_size_25">01.</span> Experience</strong></h1>
                    <div class="nicdark_section nicdark_height_20"></div>
                    <p class="nicdark_color_white">Our teachers are experienced in their respective instruments. We know it takes more than experience to make a good teacher.</p>
                </div>
            </div>
            <div class="grid grid_4 ">
                <div class="nicdark_padding_20">
                    <h1 class="nicdark_font_size_40 nicdark_color_white"><strong><span class="nicdark_color_f1f1f1 nicdark_font_size_25">02.</span> Education</strong></h1>
                    <div class="nicdark_section nicdark_height_20"></div>
                    <p class="nicdark_color_white">Most of our teachers are music graduates. It takes more than talent to make a good teacher. That's why education is our strength .</p>
                </div>
            </div>
            <div class="grid grid_4 ">
                <div class="nicdark_padding_20">
                    <h1 class="nicdark_font_size_40 nicdark_color_white"><strong><span class="nicdark_color_f1f1f1 nicdark_font_size_25">03.</span> Motivated</strong></h1>
                    <div class="nicdark_section nicdark_height_20"></div>
                    <p class="nicdark_color_white">We know the importance of motivation. Our teachers earn 70% of the total payments from their students. They are motivated.</p>
                </div>
            </div>
            <div class="nicdark_section nicdark_height_80"></div>
        </div>
    </div>
</div>
<div class="nicdark_section nicdark_border_top_1_solid_grey">
    <!--START courses-->
    <div class="nicdark_section nicdark_height_50"></div>
    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">
        <div class="grid grid_12">
            <h1 class="nicdark_font_size_50"><strong>Our Courses</strong></h1>
            <div class="nicdark_section nicdark_height_10"></div>
            <h3 class=" nicdark_color_grey">The Best In Our School</h3>
        </div>
        <div class="nicdark_width_100_percentage">
            <!--START preview-->
            <div class="nicdark_width_33_percentage nicdark_width_100_percentage_ipad_port nicdark_width_100_percentage_all_iphone nicdark_float_left">
                <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                    <!--start preview-->
                    <div class="nicdark_section nicdark_border_1_solid_grey">
                        <!--image-->
                        <div class="nicdark_section nicdark_position_relative">
                            <img alt="" class="nicdark_section" src="{{ asset('education/img/courses/sight-singing.png') }}">
                            <div class="nicdark_bg_greydark_alpha_gradient_2 nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_20 nicdark_box_sizing_border_box">
                                <a class="nicdark_tooltip_jquery nicdark_position_absolute nicdark_right_0" title="Add To Favorities" href="account.html#tabs-3">
                                <img alt="" class="nicdark_margin_right_60" width="25" src="{{ asset('education/img/icons/icon-heart-white.svg') }}">
                                </a>
                                <a class="nicdark_tooltip_jquery nicdark_position_absolute nicdark_right_0" title="Add To Compare" href="compare.html">
                                <img alt="" class="nicdark_margin_right_20 nicdark_right_0" width="25" src="{{ asset('education/img/icons/icon-compare-white.svg') }}">
                                </a>
                                <div class="nicdark_position_absolute nicdark_bottom_20">
                                    <div class="nicdark_display_table nicdark_float_left">
                                        <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle" width="20" src="{{ asset('education/img/icons/icon-calendar.svg') }}">
                                        <p class=" nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_13">21/12/2017</p>
                                        <img alt="" class="nicdark_margin_right_10 nicdark_margin_left_20 nicdark_display_table_cell nicdark_vertical_align_middle" width="20" src="{{ asset('education/img/icons/icon-clock.svg') }}">
                                        <p class="nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_13">12 Hours</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--image-->
                        <div class="nicdark_section nicdark_padding_20 nicdark_box_sizing_border_box nicdark_bg_white">
                            <h3><a class="nicdark_color_greydark nicdark_first_font" href="single-course.html">Sight-singing</a></h3>
                            <div class="nicdark_section nicdark_height_20"></div>
                            <p><a class="" href="single-course.html">If you have been in a choir or a musical congregation, you know the beauty of learning how to read written music. This course will help you acquire the skill.</a></p>
                        </div>
                        <div class="nicdark_section nicdark_padding_20 nicdark_box_sizing_border_box nicdark_bg_grey nicdark_border_top_1_solid_grey">
                            <div class="nicdark_width_33_percentage nicdark_display_none_all_responsive nicdark_width_50_percentage_responsive nicdark_float_left">
                                <div class="nicdark_display_table nicdark_float_left">
                                    <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle nicdark_border_radius_100_percentage" width="25" src="{{ asset('education/img/avatar/avatar-chef-1.png') }}">
                                    <p class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_15"><a href="single-teacher.html">John</a></p>
                                </div>
                            </div>
                            <div class="nicdark_width_33_percentage nicdark_width_50_percentage_responsive nicdark_float_left">
                                <div class="nicdark_display_table nicdark_float_left">
                                    <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle" width="23" src="{{ asset('education/img/icons/icon-availability.svg') }}">
                                    <p class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_15"><a href="single-course.html">221 Seats</a></p>
                                </div>
                            </div>
                            <div class="nicdark_width_33_percentage nicdark_width_50_percentage_responsive nicdark_float_left nicdark_text_align_right">
                                <a class="nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="single-course.html">FREE</a>
                            </div>
                        </div>
                    </div>
                    <!--start preview-->
                </div>
            </div>
            <!--END preview-->
            <!--START preview-->
            <div class="nicdark_width_33_percentage nicdark_width_100_percentage_ipad_port nicdark_width_100_percentage_all_iphone nicdark_float_left">
                <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                    <!--start preview-->
                    <div class="nicdark_section nicdark_border_1_solid_grey">
                        <!--image-->
                        <div class="nicdark_section nicdark_position_relative">
                            <img alt="" class="nicdark_section" src="{{ asset('education/img/courses/img2.png') }}">
                            <div class="nicdark_bg_greydark_alpha_gradient_2 nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_20 nicdark_box_sizing_border_box">
                                <a class="nicdark_tooltip_jquery nicdark_position_absolute nicdark_right_0" title="Add To Favorities" href="account.html#tabs-3">
                                <img alt="" class="nicdark_margin_right_60" width="25" src="{{ asset('education/img/icons/icon-heart-white.svg') }}">
                                </a>
                                <a class="nicdark_tooltip_jquery nicdark_position_absolute nicdark_right_0" title="Add To Compare" href="compare.html">
                                <img alt="" class="nicdark_margin_right_20 nicdark_right_0" width="25" src="{{ asset('education/img/icons/icon-compare-white.svg') }}">
                                </a>
                                <div class="nicdark_position_absolute nicdark_bottom_20">
                                    <div class="nicdark_display_table nicdark_float_left">
                                        <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle" width="20" src="{{ asset('education/img/icons/icon-calendar.svg') }}">
                                        <p class=" nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_13">21/12/2017</p>
                                        <img alt="" class="nicdark_margin_right_10 nicdark_margin_left_20 nicdark_display_table_cell nicdark_vertical_align_middle" width="20" src="{{ asset('education/img/icons/icon-clock.svg') }}">
                                        <p class="nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_13">12 Hours</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--image-->
                        <div class="nicdark_section nicdark_padding_20 nicdark_box_sizing_border_box nicdark_bg_white">
                            <h3><a class="nicdark_color_greydark nicdark_first_font" href="single-course.html">Vegan Foods Courses</a></h3>
                            <div class="nicdark_section nicdark_height_20"></div>
                            <p><a class="" href="single-course.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula. Nullam augue augue.</a></p>
                        </div>
                        <div class="nicdark_section nicdark_padding_20 nicdark_box_sizing_border_box nicdark_bg_grey nicdark_border_top_1_solid_grey">
                            <div class="nicdark_width_33_percentage nicdark_display_none_all_responsive nicdark_width_50_percentage_responsive nicdark_float_left">
                                <div class="nicdark_display_table nicdark_float_left">
                                    <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle nicdark_border_radius_100_percentage" width="25" src="{{ asset('education/img/avatar/avatar-chef-3.png') }}">
                                    <p class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_15"><a href="single-teacher.html">Mary</a></p>
                                </div>
                            </div>
                            <div class="nicdark_width_33_percentage nicdark_width_50_percentage_responsive nicdark_float_left">
                                <div class="nicdark_display_table nicdark_float_left">
                                    <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle" width="23" src="{{ asset('education/img/icons/icon-availability.svg') }}">
                                    <p class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_15"><a href="single-course.html">0 Seats</a></p>
                                </div>
                            </div>
                            <div class="nicdark_width_33_percentage nicdark_width_50_percentage_responsive nicdark_float_left nicdark_text_align_right">
                                <a class="nicdark_display_inline_block nicdark_color_white nicdark_bg_red nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="single-course.html">COMPLETED</a>
                            </div>
                        </div>
                    </div>
                    <!--start preview-->
                </div>
            </div>
            <!--END preview-->
            <!--START preview-->
            <div class="nicdark_width_33_percentage nicdark_width_100_percentage_ipad_port nicdark_width_100_percentage_all_iphone nicdark_float_left">
                <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                    <!--start preview-->
                    <div class="nicdark_section nicdark_border_1_solid_grey">
                        <!--image-->
                        <div class="nicdark_section nicdark_position_relative">
                            <img alt="" class="nicdark_section" src="{{ asset('education/img/courses/img4.png') }}">
                            <div class="nicdark_bg_greydark_alpha_gradient_2 nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_20 nicdark_box_sizing_border_box">
                                <a class="nicdark_tooltip_jquery nicdark_position_absolute nicdark_right_0" title="Add To Favorities" href="account.html#tabs-3">
                                <img alt="" class="nicdark_margin_right_60" width="25" src="{{ asset('education/img/icons/icon-heart-white.svg') }}">
                                </a>
                                <a class="nicdark_tooltip_jquery nicdark_position_absolute nicdark_right_0" title="Add To Compare" href="compare.html">
                                <img alt="" class="nicdark_margin_right_20 nicdark_right_0" width="25" src="{{ asset('education/img/icons/icon-compare-white.svg') }}">
                                </a>
                                <div class="nicdark_position_absolute nicdark_bottom_20">
                                    <div class="nicdark_display_table nicdark_float_left">
                                        <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle" width="20" src="{{ asset('education/img/icons/icon-calendar.svg') }}">
                                        <p class=" nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_13">21/12/2017</p>
                                        <img alt="" class="nicdark_margin_right_10 nicdark_margin_left_20 nicdark_display_table_cell nicdark_vertical_align_middle" width="20" src="{{ asset('education/img/icons/icon-clock.svg') }}">
                                        <p class="nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_13">12 Hours</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--image-->
                        <div class="nicdark_section nicdark_padding_20 nicdark_box_sizing_border_box nicdark_bg_white">
                            <h3><a class="nicdark_color_greydark nicdark_first_font" href="single-course.html">Mediterranium Food</a></h3>
                            <div class="nicdark_section nicdark_height_20"></div>
                            <p><a class="" href="single-course.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula. Nullam augue augue.</a></p>
                        </div>
                        <div class="nicdark_section nicdark_padding_20 nicdark_box_sizing_border_box nicdark_bg_grey nicdark_border_top_1_solid_grey">
                            <div class="nicdark_width_33_percentage nicdark_display_none_all_responsive nicdark_width_50_percentage_responsive nicdark_float_left">
                                <div class="nicdark_display_table nicdark_float_left">
                                    <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle nicdark_border_radius_100_percentage" width="25" src="{{ asset('education/img/avatar/avatar-chef-2.png') }}">
                                    <p class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_15"><a href="single-teacher.html">Lisa</a></p>
                                </div>
                            </div>
                            <div class="nicdark_width_33_percentage nicdark_width_50_percentage_responsive nicdark_float_left">
                                <div class="nicdark_display_table nicdark_float_left">
                                    <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle" width="23" src="{{ asset('education/img/icons/icon-availability.svg') }}">
                                    <p class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_15"><a href="single-course.html">221 Seats</a></p>
                                </div>
                            </div>
                            <div class="nicdark_width_33_percentage nicdark_width_50_percentage_responsive nicdark_float_left nicdark_text_align_right">
                                <a class="nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="single-course.html">FREE</a>
                            </div>
                        </div>
                    </div>
                    <!--start preview-->
                </div>
            </div>
            <!--END preview-->
        </div>
    </div>
    <!--end container-->
</div>
<!--END courses-->
<div class="nicdark_section nicdark_height_50"></div>
<div class="nicdark_section nicdark_bg_greydark">
    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">
        <div class="nicdark_section nicdark_height_50"></div>
        <div class="grid grid_12">
            <h1 class="nicdark_font_size_50 nicdark_color_white"><strong>Our Teachers</strong></h1>
            <div class="nicdark_section nicdark_height_10"></div>
            <h3 class=" nicdark_color_grey">Best Chef In Our School</h3>
            <div class="nicdark_section nicdark_height_10"></div>
        </div>
        <div class="grid grid_6">
            <!--START teacher-->
            <div class="nicdark_section">
                <div class="nicdark_float_left nicdark_width_35_percentage nicdark_width_100_percentage_all_iphone">
                    <!--START image-->
                    <div class="nicdark_section nicdark_box_sizing_border_box">
                        <div class="nicdark_section nicdark_position_relative">
                            <img alt="" class="nicdark_section" src="{{ asset('education/img/avatar/avatar-chef-2.png') }}">
                            <div class="nicdark_bg_greydark_alpha_gradient nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_box_sizing_border_box">
                                <div class="nicdark_position_absolute nicdark_bottom_20 nicdark_width_100_percentage nicdark_padding_botttom_0 nicdark_box_sizing_border_box nicdark_text_align_center">
                                    <div class="nicdark_display_inline_block">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-twitter-white.svg') }}">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-pinterest-white.svg') }}">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-linkedin-white.svg') }}">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-google-white.svg') }}">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-instagram-white.svg') }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END image-->
                </div>
                <div class="nicdark_float_left nicdark_width_65_percentage nicdark_width_100_percentage_all_iphone">
                    <div class="nicdark_section nicdark_padding_left_20 nicdark_padding_left_0_all_iphone nicdark_box_sizing_border_box">
                        <h2 class="nicdark_color_white nicdark_margin_top_20_all_iphone"><strong>John Mcallister</strong></h2>
                        <div class="nicdark_section nicdark_height_10"></div>
                        <h6 class="nicdark_text_transform_uppercase nicdark_color_grey nicdark_second_font">Food Teacher</h6>
                        <div class="nicdark_section nicdark_height_20"></div>
                        <p class="nicdark_color_grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula nullam augue.</p>
                        <div class="nicdark_section nicdark_height_10"></div>
                        <a class="nicdark_display_inline_block nicdark_color_grey nicdark_color_greydark_hover nicdark_bg_white_hover nicdark_transition_all_08_ease nicdark_border_1_solid_grey_2 nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="single-teacher.html">KNOW ME</a>
                    </div>
                </div>
            </div>
            <!--END teacher-->
        </div>
        <div class="grid grid_6">
            <!--START teacher-->
            <div class="nicdark_section">
                <div class="nicdark_float_left nicdark_width_35_percentage nicdark_width_100_percentage_all_iphone">
                    <!--START image-->
                    <div class="nicdark_section nicdark_box_sizing_border_box">
                        <div class="nicdark_section nicdark_position_relative">
                            <img alt="" class="nicdark_section" src="{{ asset('education/img/avatar/avatar-chef-3.png') }}">
                            <div class="nicdark_bg_greydark_alpha_gradient nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_box_sizing_border_box">
                                <div class="nicdark_position_absolute nicdark_bottom_20 nicdark_width_100_percentage nicdark_padding_botttom_0 nicdark_box_sizing_border_box nicdark_text_align_center">
                                    <div class="nicdark_display_inline_block">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-twitter-white.svg') }}">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-pinterest-white.svg') }}">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-linkedin-white.svg') }}">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-google-white.svg') }}">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-instagram-white.svg') }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END image-->
                </div>
                <div class="nicdark_float_left nicdark_width_65_percentage nicdark_width_100_percentage_all_iphone">
                    <div class="nicdark_section nicdark_padding_left_20 nicdark_padding_left_0_all_iphone nicdark_box_sizing_border_box">
                        <h2 class="nicdark_color_white nicdark_margin_top_20_all_iphone"><strong>Jane Doe</strong></h2>
                        <div class="nicdark_section nicdark_height_10"></div>
                        <h6 class="nicdark_text_transform_uppercase nicdark_color_grey nicdark_second_font">VEGAN TEACHER</h6>
                        <div class="nicdark_section nicdark_height_20"></div>
                        <p class="nicdark_color_grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula nullam augue.</p>
                        <div class="nicdark_section nicdark_height_10"></div>
                        <a class="nicdark_display_inline_block nicdark_color_grey nicdark_color_greydark_hover nicdark_bg_white_hover nicdark_transition_all_08_ease nicdark_border_1_solid_grey_2 nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="single-teacher.html">KNOW ME</a>
                    </div>
                </div>
            </div>
            <!--END teacher-->
        </div>
        <div class="grid grid_6">
            <!--START teacher-->
            <div class="nicdark_section">
                <div class="nicdark_float_left nicdark_width_35_percentage nicdark_width_100_percentage_all_iphone">
                    <!--START image-->
                    <div class="nicdark_section nicdark_box_sizing_border_box">
                        <div class="nicdark_section nicdark_position_relative">
                            <img alt="" class="nicdark_section" src="{{ asset('education/img/avatar/avatar-chef-4.png') }}">
                            <div class="nicdark_bg_greydark_alpha_gradient nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_box_sizing_border_box">
                                <div class="nicdark_position_absolute nicdark_bottom_20 nicdark_width_100_percentage nicdark_padding_botttom_0 nicdark_box_sizing_border_box nicdark_text_align_center">
                                    <div class="nicdark_display_inline_block">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-twitter-white.svg') }}">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-pinterest-white.svg') }}">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-linkedin-white.svg') }}">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-google-white.svg') }}">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-instagram-white.svg') }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END image-->
                </div>
                <div class="nicdark_float_left nicdark_width_65_percentage nicdark_width_100_percentage_all_iphone">
                    <div class="nicdark_section nicdark_padding_left_20 nicdark_padding_left_0_all_iphone nicdark_box_sizing_border_box">
                        <h2 class="nicdark_color_white nicdark_margin_top_20_all_iphone"><strong>Mary Mgrayan</strong></h2>
                        <div class="nicdark_section nicdark_height_10"></div>
                        <h6 class="nicdark_text_transform_uppercase nicdark_color_grey nicdark_second_font">ITALIAN EXPERT</h6>
                        <div class="nicdark_section nicdark_height_20"></div>
                        <p class="nicdark_color_grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula nullam augue.</p>
                        <div class="nicdark_section nicdark_height_10"></div>
                        <a class="nicdark_display_inline_block nicdark_color_grey nicdark_color_greydark_hover nicdark_bg_white_hover nicdark_transition_all_08_ease nicdark_border_1_solid_grey_2 nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="single-teacher.html">KNOW ME</a>
                    </div>
                </div>
            </div>
            <!--END teacher-->
        </div>
        <div class="grid grid_6">
            <!--START teacher-->
            <div class="nicdark_section">
                <div class="nicdark_float_left nicdark_width_35_percentage nicdark_width_100_percentage_all_iphone">
                    <!--START image-->
                    <div class="nicdark_section nicdark_box_sizing_border_box">
                        <div class="nicdark_section nicdark_position_relative">
                            <img alt="" class="nicdark_section" src="{{ asset('education/img/avatar/avatar-chef-5.png') }}">
                            <div class="nicdark_bg_greydark_alpha_gradient nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_box_sizing_border_box">
                                <div class="nicdark_position_absolute nicdark_bottom_20 nicdark_width_100_percentage nicdark_padding_botttom_0 nicdark_box_sizing_border_box nicdark_text_align_center">
                                    <div class="nicdark_display_inline_block">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-twitter-white.svg') }}">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-pinterest-white.svg') }}">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-linkedin-white.svg') }}">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-google-white.svg') }}">
                                        <img alt="" width="15" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-instagram-white.svg') }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END image-->
                </div>
                <div class="nicdark_float_left nicdark_width_65_percentage nicdark_width_100_percentage_all_iphone">
                    <div class="nicdark_section nicdark_padding_left_20 nicdark_padding_left_0_all_iphone nicdark_box_sizing_border_box">
                        <h2 class="nicdark_color_white nicdark_margin_top_20_all_iphone"><strong>Hanna Sprite</strong></h2>
                        <div class="nicdark_section nicdark_height_10"></div>
                        <h6 class="nicdark_text_transform_uppercase nicdark_color_grey nicdark_second_font">ASIAN TEACHER</h6>
                        <div class="nicdark_section nicdark_height_20"></div>
                        <p class="nicdark_color_grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula nullam augue.</p>
                        <div class="nicdark_section nicdark_height_10"></div>
                        <a class="nicdark_display_inline_block nicdark_color_grey nicdark_color_greydark_hover nicdark_bg_white_hover nicdark_transition_all_08_ease nicdark_border_1_solid_grey_2 nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13" href="single-teacher.html">KNOW ME</a>
                    </div>
                </div>
            </div>
            <!--END teacher-->
        </div>
        <div class="nicdark_section nicdark_height_50"></div>
    </div>
    <!--end container-->
</div>
<div class="nicdark_section nicdark_height_50"></div>
<div class="nicdark_section">
    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">
        <div class="grid grid_12">
            <h1 class="nicdark_font_size_50"><strong>Our Blog</strong></h1>
            <div class="nicdark_section nicdark_height_10"></div>
            <h3 class=" nicdark_color_grey">Follow Our News</h3>
        </div>
        <div class="nicdark_section">
            <!--START masonry-->
            <div class="nicdark_masonry_content">
                <div class="nicdark_masonry_item nicdark_width_33_percentage nicdark_width_100_percentage_responsive">
                    <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                        <div class="nicdark_section nicdark_border_1_solid_grey">
                            <div class="nicdark_section nicdark_position_relative">
                                <a href="single.html"><img alt="" class="nicdark_section" src="{{ asset('education/img/courses/img23.png') }}"></a>
                                <div class="nicdark_bg_greydark_alpha nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_30 nicdark_box_sizing_border_box"></div>
                                <a class="nicdark_position_absolute nicdark_right_20 nicdark_top_20 nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13 nicdark_z_index_9" href="single.html">NEWS</a>
                            </div>
                            <div class="nicdark_section nicdark_padding_30 nicdark_box_sizing_border_box">
                                <h5 class="nicdark_second_font nicdark_color_grey"><a href="single.html">July August 2014</a></h5>
                                <div class="nicdark_section nicdark_height_10"></div>
                                <h2><a class="nicdark_first_font nicdark_color_greydark" href="single.html">New Website</a></h2>
                                <div class="nicdark_section nicdark_height_20"></div>
                                <p><a href="single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula nullam augue.</a></p>
                            </div>
                            <div class="nicdark_section nicdark_padding_20 nicdark_box_sizing_border_box nicdark_border_top_1_solid_grey">
                                <div class="nicdark_width_50_percentage nicdark_float_left">
                                    <div class="nicdark_display_table nicdark_float_left">
                                        <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle nicdark_border_radius_100_percentage" width="25" src="{{ asset('education/img/avatar/avatar-chef-2.png') }}">
                                        <p class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_15">Jane</p>
                                    </div>
                                </div>
                                <div class="nicdark_width_50_percentage nicdark_float_left">
                                    <div class="nicdark_display_table nicdark_float_left">
                                        <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle" width="23" src="{{ asset('education/img/icons/icon-comments.svg') }}">
                                        <p class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_15">Medium Level</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nicdark_masonry_item nicdark_width_33_percentage nicdark_width_100_percentage_responsive ">
                    <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                        <div class="nicdark_section nicdark_bg_green nicdark_text_align_center">
                            <div class="nicdark_section nicdark_padding_50 nicdark_box_sizing_border_box">
                                <h2 class="nicdark_color_white nicdark_line_height_35"><a class="nicdark_color_white nicdark_first_font" href="single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h2>
                                <div class="nicdark_section nicdark_height_20"></div>
                                <div class="nicdark_display_inline_block">
                                    <div class="nicdark_display_table nicdark_float_left">
                                        <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle" width="30" src="{{ asset('education/img/icons/icon-quote-grey-alpha.svg') }}">
                                        <p class="nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle">John Doe</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nicdark_masonry_item nicdark_width_33_percentage nicdark_width_100_percentage_responsive ">
                    <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                        <div class="nicdark_section nicdark_position_relative">
                            <img alt="" class="nicdark_section" src="{{ asset('education/img/blog/img1.png') }}">
                            <a class="nicdark_position_absolute nicdark_right_20 nicdark_top_20 nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13 nicdark_z_index_9" href="single.html">NEWS</a>
                            <div class="nicdark_bg_greydark_alpha_gradient nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_30 nicdark_box_sizing_border_box">
                                <div class="nicdark_position_absolute nicdark_bottom_30">
                                    <h2 class="nicdark_color_white"><a class="nicdark_color_white nicdark_first_font" href="single.html">Vegan Food</a></h2>
                                    <div class="nicdark_section nicdark_height_10"></div>
                                    <div class="nicdark_display_table nicdark_float_left">
                                        <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle" width="20" src="{{ asset('education/img/icons/icon-calendar.svg') }}">
                                        <p class=" nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_13">21/12/2017</p>
                                        <img alt="" class="nicdark_margin_right_10 nicdark_margin_left_20 nicdark_display_table_cell nicdark_vertical_align_middle" width="20" src="{{ asset('education/img/icons/icon-comment.svg') }}">
                                        <p class="nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_13">3 Comments</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nicdark_masonry_item nicdark_width_33_percentage nicdark_width_100_percentage_responsive ">
                    <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                        <div class="nicdark_section nicdark_border_1_solid_grey">
                            <div class="nicdark_section nicdark_position_relative">
                                <img alt="" class="nicdark_section" src="{{ asset('education/img/courses/img12.png') }}">
                                <a class="nicdark_position_absolute nicdark_right_20 nicdark_top_20 nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13 nicdark_z_index_9" href="single.html">NEWS</a>
                            </div>
                            <div class="nicdark_section nicdark_padding_30 nicdark_box_sizing_border_box">
                                <h5 class="nicdark_second_font nicdark_color_grey">July August 2014</h5>
                                <div class="nicdark_section nicdark_height_10"></div>
                                <h2><a class="nicdark_first_font nicdark_color_greydark" href="single.html">Masterchef Casting</a></h2>
                                <div class="nicdark_section nicdark_height_20"></div>
                                <p><a href="single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at porttitor vehicula nullam augue.</a></p>
                            </div>
                            <div class="nicdark_section nicdark_padding_20 nicdark_box_sizing_border_box nicdark_border_top_1_solid_grey">
                                <div class="nicdark_width_50_percentage nicdark_float_left">
                                    <div class="nicdark_display_table nicdark_float_left">
                                        <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle nicdark_border_radius_100_percentage" width="25" src="{{ asset('education/img/avatar/avatar-chef-1.png') }}">
                                        <p class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_15">John Doe</p>
                                    </div>
                                </div>
                                <div class="nicdark_width_50_percentage nicdark_float_left">
                                    <div class="nicdark_display_table nicdark_float_left">
                                        <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle" width="23" src="{{ asset('education/img/icons/icon-comments.svg') }}">
                                        <p class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_15">Medium Level</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nicdark_masonry_item nicdark_width_33_percentage nicdark_width_100_percentage_responsive ">
                    <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                        <div class="nicdark_section nicdark_position_relative">
                            <img alt="" class="nicdark_section" src="{{ asset('education/img/courses/img5.png') }}">
                            <a class="nicdark_position_absolute nicdark_right_20 nicdark_top_20 nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13 nicdark_z_index_9" href="single.html">NEWS</a>
                            <div class="nicdark_bg_greydark_alpha_gradient_3 nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_30 nicdark_box_sizing_border_box">
                                <div class="nicdark_position_absolute nicdark_bottom_30">
                                    <h2 class="nicdark_color_white"><a class="nicdark_color_white nicdark_first_font" href="single.html">Pasta Recipe</a></h2>
                                    <div class="nicdark_section nicdark_height_10"></div>
                                    <div class="nicdark_display_table nicdark_float_left">
                                        <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle" width="20" src="{{ asset('education/img/icons/icon-calendar.svg') }}">
                                        <p class=" nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_13">21/12/2017</p>
                                        <img alt="" class="nicdark_margin_right_10 nicdark_margin_left_20 nicdark_display_table_cell nicdark_vertical_align_middle" width="20" src="{{ asset('education/img/icons/icon-comment.svg') }}">
                                        <p class="nicdark_color_white nicdark_display_table_cell nicdark_vertical_align_middle nicdark_font_size_13">3 Comments</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nicdark_masonry_item nicdark_width_33_percentage nicdark_width_100_percentage_responsive ">
                    <div class="nicdark_section nicdark_padding_15 nicdark_box_sizing_border_box">
                        <div class="nicdark_section nicdark_bg_orange nicdark_text_align_center">
                            <div class="nicdark_section nicdark_padding_50 nicdark_box_sizing_border_box">
                                <div class="nicdark_display_inline_block">
                                    <img alt="" class="nicdark_margin_right_10" width="20" src="{{ asset('education/img/icons/icon-link-white.svg') }}">
                                    <h2 class="nicdark_color_white nicdark_line_height_35 nicdark_display_inline_block"><span class=" nicdark_padding_botttom_5"><a class="nicdark_color_white nicdark_first_font" href="single.html">Check New Events</a></span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END masonry-->
        </div>
    </div>
    <!--end container-->
</div>
<div class="nicdark_section nicdark_height_50"></div>
<div class="nicdark_section">
    <div class="nicdark_section nicdark_bg_grey nicdark_border_top_1_solid_grey">
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_section nicdark_height_30"></div>
            <div class="grid grid_2">
                <img alt="" class="nicdark_width_100_percentage" src="{{ asset('education/img/partner/logo1.png') }}">  
            </div>
            <div class="grid grid_2">
                <img alt="" class="nicdark_width_100_percentage" src="{{ asset('education/img/partner/logo4.png') }}">  
            </div>
            <div class="grid grid_2">
                <img alt="" class="nicdark_width_100_percentage" src="{{ asset('education/img/partner/logo3.png') }}">  
            </div>
            <div class="grid grid_2">
                <img alt="" class="nicdark_width_100_percentage" src="{{ asset('education/img/partner/logo2.png') }}">  
            </div>
            <div class="grid grid_2">
                <img alt="" class="nicdark_width_100_percentage" src="{{ asset('education/img/partner/logo5.png') }}">  
            </div>
            <div class="grid grid_2">
                <img alt="" class="nicdark_width_100_percentage" src="{{ asset('education/img/partner/logo6.png') }}">  
            </div>
            <div class="nicdark_section nicdark_height_30"></div>
        </div>
        <!--end container-->
    </div>
</div>
<div class="nicdark_section nicdark_bg_greydark">
    <div class="nicdark_section nicdark_height_50"></div>
    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">
        <div class="grid grid_12 nicdark_text_align_center">
            <div class="nicdark_section">
                <a href="index.html"><img alt="" width="200" class="" src="{{ asset('education/img/logos/cheza_logo_long_light.png') }}"></a>
            </div>
            <div class="nicdark_section nicdark_height_20"></div>
            <div class="nicdark_display_inline_block">
                <a href="https://www.facebook.com/chezamusicschool"><img alt="" width="40" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-facebook-circle.svg') }}"></a>
                <a href="https://twitter.com/chezamusicschool"><img alt="" width="40" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-twitter-circle.svg') }}"></a>
                <a href="https://www.instagram.com/chezamusicschool"><img alt="" width="40" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-pinterest-circle.svg') }}"></a>
                <a href="#"><img alt="" width="40" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-linkedin-circle.svg') }}"></a>
                <a href="https://www.youtube.com/channel/UCwoQUcXVgt5uUuwfom2-ZkQ"><img alt="" width="40" class="nicdark_margin_right_10" src="{{ asset('education/img/icons/icon-youtube-circle.svg') }}"></a>
            </div>
        </div>
    </div>
    <!--end container-->
    <div class="nicdark_section nicdark_height_50"></div>
</div>
<div class="nicdark_section nicdark_bg_greydark">
    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix nicdark_border_top_1_solid_greydark">
        <div class="grid grid_6 nicdark_text_align_center_responsive">
            <p class="nicdark_color_grey nicdark_font_size_14">© Copyright 2016 CleanThemes.net - Food Laborator Theme</p>
        </div>
        <div class="grid grid_6 nicdark_text_align_right nicdark_text_align_center_responsive nicdark_border_top_1_solid_greydark_responsive nicdark_display_none_all_iphone">
            <div class="nicdark_navigation_copyright">
                <ul>
                    <li>
                        <a href="index.html">HOME</a>
                    </li>
                    <li>
                        <a href="about-us.html">ABOUT US</a>
                    </li>
                    <li>
                        <a href="services.html">SERVICES</a>
                    </li>
                    <li>
                        <a href="contact-1.html">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--end container-->
</div>
{% endblock %}
