{{ form_start(form, {'attr': {'class': 'newassignmentform'}}) }}
    <div class="form-group">
        <label>Description</label>
        {{ form_widget(form.assignment, {'attr': {'class': 'form-control', 'placeholder': 'Description' }}) }}
    </div>
    
    <div class="form-group" {{ modify == false ? 'style="display:none;' : ''}}>
        <label>Assessment</label>
        {{ form_widget(form.assessment, {'attr': {'class': 'form-control', 'placeholder': 'Assessment' }}) }}
    </div>
    <div class="form-group" id="attachment">
        <label>Attachment (optional) <a id="addAttachment"  href="javascript:void(0);" data-toggle="modal" data-target="#attachmentModal" >Add a new attachment</a></label>
        {{ form_widget(form.attachment, {'attr': {'class': 'form-control', 'placeholder': 'Attachment' }}) }}
    </div><br />
    <div class="form-group">
        <label>Reminder time (Hour:Minute) </label>
        {{ form_widget(form.reminder, {'attr': {'class': 'form-control', 'placeholder': 'Reminder' }}) }}
    </div><br />
    <div class="form-group">
        <label>
        {{ form_widget(form.knob, {'attr': {'class': 'form-control', 'style': 'float:left;width:30px;margin-right:30px;margin-top:-10px' }}) }}
        Reminder On/Off 
        </label>
        
    </div><br />
    <button class="btn mb-1 btn-primary">{{ button_label|default('Save') }}</button>
    {% if app.user.usertype == "teacher" %}
    <a href="{{path(app.user.usertype ~ '_student_attendance')}}" class="btn btn-secondary">Back to attendance</a>
    {% endif %}
{{ form_end(form) }}
