{% extends 'adm_base.html.twig' %}

{% block title %}Edit Assignment{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Edit Assignment</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Edit Assignment</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('assignment_index', {'teacher_id': teacher.id, 'student_id': student.id} ) }}" class="dropdown-item">Back to list</a>
                            <!-- item-->
                            {% if app.user.usertype == "teacher" %}
                            <a href="{{path(app.user.usertype ~ '_student_attendance')}}" class="dropdown-item">Back to attendance</a>
                            {% endif %}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Edit Assignment</h4>

                    {{ include('assignment/_form.html.twig', {'button_label': 'Update'}) }}

                    {{ include('assignment/_delete_form.html.twig') }}
                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

    <div class="modal fade" id="attachmentModal" tabindex="-1" role="dialog" aria-labelledby="attachmentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="attachmentModalLabel">Add Attachment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {{ form_start(formAtt, {'attr': {'class': 'form'}}) }}
                <div class="form-group">
                    {{ form_label(formAtt.filename) }}
                    {{ form_widget(formAtt.filename, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(formAtt.file) }}
                    {{ form_widget(formAtt.file, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <button class="btn mb-1 btn-primary">{{ button_label|default('Save') }}</button>
                </div>
                <input type="hidden" value="" id="assignmentDescription" name="assignmentDescription">
            {{ form_end(formAtt) }}
        </div>
        <div class="modal-footer">
        </div>
        </div>
    </div>
    </div>



{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}

<script>
$(document).ready(function() {

    $("#attachment select").val("").change();

    {% set attachmentValue = app.request.query.get('doc') | default('') %}
    {% if attachmentValue == "" %}

    {% else %}
    var attachmentValue = "{{attachmentValue}}";
    $("#assignment_attachment").val(attachmentValue).change();
    var assignmentDescription = readCookie('assignmentDescription');
    CKEDITOR.instances['assignment_assignment'].setData(assignmentDescription);
    eraseCookie('assignmentDescription');
    {% endif %}

});
</script>
<script>
    $("#addAttachment").click( function () {

        var assignmentDescription = CKEDITOR.instances['assignment_assignment'].getData();
        // $("#assignmentDescription").val(assignmentDescription);
        createCookie('assignmentDescription', assignmentDescription, 1);

    });
</script>
<script>
function createCookie(name, value, days) {
    var expires;

    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toGMTString();
    } else {
        expires = "";
    }
    document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
}

function readCookie(name) {
    var nameEQ = encodeURIComponent(name) + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) === ' ')
            c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) === 0)
            return decodeURIComponent(c.substring(nameEQ.length, c.length));
    }
    return null;
}

function eraseCookie(name) {
    createCookie(name, "", -1);
}
</script>

{% endblock %}