{% extends 'adm_base.html.twig' %}

{% block title %}Assignments{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link href="{{asset('adm/assets/libs/rwd-table/rwd-table.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{asset('adm/assets/libs/switchery/switchery.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
{# 0736991179 Shopit #}
    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Added assignments</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">assignments</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        {# westviewacademy17@gmail.com #}
        <!-- end page title -->
        {# 0722669996 #}

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">                            
                            <!-- item-->
                            {% if app.user.usertype == 'admin' or app.user.usertype == 'teacher' %}
                            <a href="{{ path('assignment_new', {'student_id': student.id, 'teacher_id': teacher.id}) }}" class="dropdown-item">Add Assignment</a>
                            {% endif %}
                            {% if app.user.usertype == "teacher" %}
                            <a href="{{path(app.user.usertype ~ '_student_attendance')}}" class="dropdown-item">Back to attendance</a>
                            {% endif %}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">List of all assignments {% if app.user.usertype == 'admin' %} | Teacher: {{teacher.fullname}} {% endif %} | Student: {{student.fullname}}</h4>
                    <div class="responsive-table-plugin">
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns">

                                <table class="table datatable">
                                    <thead>
                                        <tr>
                                            <th>Assignment</th>
                                            <th>Updated On</th>
                                            <th>Student</th>
                                            <th>Assessment</th>
                                            <th>Reminder</th>
                                            <th>Attachment</th>
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for assignment in assignments %}
                                        <tr>
                                            <td>{{ assignment.assignment|slice(0,50)|striptags }}...</td>
                                            <td>{{ assignment.addedOn|date('jS M Y \\a\\t h:ia') }}</td>
                                            <td>{{ assignment.student }}</td>
                                            <td>{{ assignment.assessment }}</td>
                                            <td><span class="remtime">{{ assignment.reminder|date('h:ia') }}</span> &nbsp;- 
                                            <input class="knob" id="knob-{{assignment.id}}" name="knob-{{assignment.id}}" type="checkbox" {{assignment.knob == 1 ? 'checked' : ''}} data-color="#00b19d"/>
                                            {# {{assignment.knob == 1 ? 'On' : 'Off'}} #}
                                            </td>
                                            <td>{% if assignment.attachment|length > 0 %} <a href="/attachments/{{assignment.attachment.file}}"> {{assignment.attachment}} </a> {% else %} none {% endif %}</td>
                                            <td>
                                                <a href="{{ path('assignment_new', {'student_id': assignment.student.id, 'teacher_id': assignment.teacher.id}) }}">new</a> | 
                                                <a href="{{ path('assignment_show', {'id': assignment.id}) }}">show</a> | 
                                                <a href="{{ path('assignment_edit', {'id': assignment.id}) }}">edit</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="4">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="{{asset('adm/assets/libs/rwd-table/rwd-table.min.js') }}"></script>
    <!-- Init js -->
    <script src="{{asset('adm/assets/js/pages/responsive-table.init.js') }}"></script>
    <script src="{{asset('adm/assets/libs/switchery/switchery.min.js') }}"></script>

    <script>
        $(document).ready( function () {
            $('.datatable').DataTable();

            var elems = Array.prototype.slice.call(document.querySelectorAll('.knob'));

            elems.forEach(function(html) {
                var switchery = new Switchery(html, { size: 'small' });
            });

        } );
    </script>

	<script>
      $(document).on('change', '[id^="knob-"]', function(){


            var id = jQuery(this).attr("id").split("-")[1];
            var state = $( this ).is(':checked') ? 'on' : 'off';
            console.log(id + '-' + state);
          
        $.ajax({
            url:"{{ (path('change_assignment_state')) }}",
            type: "POST",
            dataType: "json",
            data: {
                "assignment_id": id,
                "state": state,
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	  });
	</script>

{% endblock %}
