{% extends 'adm_base.html.twig' %}

{% block title %}Show Assignment{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Assignment Details</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">{{assignment.student}}</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                    
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('assignment_index', {'teacher_id': teacher.id, 'student_id': assignment.student.id} ) }}" class="dropdown-item">Assignments list</a>
                            <!-- item-->
                            <a href="{{ path('assignment_edit', {'id': assignment.id}) }}" class="dropdown-item">Edit</a>
                            <!-- item-->
                            {% if app.user.usertype == "teacher" %}
                            <a href="{{path(app.user.usertype ~ '_student_attendance')}}" class="dropdown-item">Back to attendance</a>
                            {% endif %}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">{{assignment.student}} Assignment</h4>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Updated On</th>
                                <td>{{ assignment.addedOn|date('jS M Y \\a\\t h:ia') }}</td>
                            </tr>
                            <tr>
                                <th>Assignment</th>
                                <td>{{ assignment.assignment|raw }}</td>
                            </tr>
                            <tr>
                                <th>Practice days</th>
                                <td>{% for sess in assignment.practiceSessions %} {{sess.doneOn|date('jS M')}}{% else %}none{% endfor %}</td>
                            </tr>
                            <tr>
                                <th>Attachment</th>
                                <td>{% if assignment.attachment|length > 0 %} <a href="/attachments/{{assignment.attachment.file}}"> {{assignment.attachment}} </a> {% else %} none {% endif %}</td>
                            </tr>
                            <tr>
                                <th>Reminder time</th>
                                <td>{{ assignment.reminder|date('h:ia') }} &nbsp;- {{assignment.knob == 1 ? 'On' : 'Off' }}</td>
                            </tr>
                            <tr>
                                <th>Assessment</th>
                                <td>{{ assignment.assessment }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <a href="{{ path('assignment_index', {'teacher_id': teacher.id, 'student_id': assignment.student.id} ) }}">back to list</a> | 

                    <a href="{{ path('assignment_edit', {'id': assignment.id}) }}">edit</a>

                    {{ include('assignment/_delete_form.html.twig') }}

                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}   

{% endblock %}

