{% extends 'adm_base.html.twig' %}

{% block title %}Students{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Students List</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Students List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12 d-flex align-items-stretch">
                <div class="card-box w-100">

                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->

                        </div>
                    </div>
                    <iframe style="width:100%;min-height:800px;" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQDPfvNle8K-CBOlLVpkArdyaaI84uZmeb73V2Ez3VNknvuPHEbhpjwhjuOL913aQ/pubhtml?widget=true&amp;headers=false"></iframe>
                </div>
            </div>
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->
{% endblock %}
