    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="active">
            <a class="" href="{{path('default')}}">
                          <i class="icon_house_alt"></i>
                          <span>Home</span>
                      </a>
          </li>          
            {% for key, menu_item in sidebar_menu %}
                    <li class="sub-menu">
                    {% if menu_item is not iterable %}
                    <a href="{{ path('user_admin_index', {'entity' : menu_item })}}">
                                <i class="icon_id_alt"></i>
                                <span>{{menu_item|capitalize}}</span>
                            </a>
                    {% else %}
                    <a href="javascript:;" class="">
                                <i class="arrow_carrot-2right_alt"></i>
                                <span>{{key|capitalize}}</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                    <ul class="sub">
                    {% for sub_menu in menu_item %}
                    <li>
                    <a class="" href="{{ path('user_admin_index', {'entity' : sub_menu })}}">{{sub_menu|capitalize}}</a>
                    </li>
                    {% endfor %}
                    </ul>

                    {% endif %}
                </li>                
            {% endfor %}
          <li>
            <a class="" href="{{path(app.user.usertype)}}">
                          <i class="icon_profile"></i>
                          <span>Back to Profile</span>
                      </a>
          </li>
          <li>
            <a class="" href="{{path('app_logout')}}">
                          <i class="arrow_right_alt"></i>
                          <span>Sign out</span>
                      </a>
          </li>

        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
