{% extends 'adm_base.html.twig' %}
{% block title %}Balances{% endblock %}
{% block stylesheets %}
   <!-- DataTables CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
   <!-- DataTables Responsive CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    {# <style>
        .btn {
            margin-bottom:5px;
        }
    </style> #}
    <style>
        .btn-group {
        display: flex;
        }
    </style>
{% endblock %}

{% block body %}
{% set total_bal = 0 %}
    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Balances</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Students' Balances</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card-box">

                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            {# <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'user-student'})}}" class="dropdown-item">Export Email list XLSX [All]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'phoneactiveuser-student'})}}" class="dropdown-item">Export Phone List XLSX [Active]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'pdf', 'entity': 'user-student'})}}" class="dropdown-item">PDF</a>
                            <a class="" href="{{path('show_balances')}}">Balances</a> #}
                            <a class="dropdown-item" href="{{path('export_balances')}}">Export PDF</a>

                        </div>
                    </div>

                    <div class="table-responsive">

                        <!-- Button trigger modal -->
                        <table class="table datatable" id="datatable">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Phone Number</th>
                                    <th>Last payment</th>
                                    <th>Date Paid</th>
                                    <th>Doc No</th>
                                    <th>Balance</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for student in students|filter( student => student.studentdata != null and student.payments|length > 0) %}
                                {% set bal = 0 %}
                                <tr>
                                    <td>{{student.fullname}}</td>
                                    <td>{{student.studentdata.phone}}</td>
                                    {% set prev_bal = 0 %}
                                    {% for payment in student.payments %}
                                    {% set bal = payment.type == "inv" ? bal + payment.amount : bal - payment.amount %}
                                            {% if loop.index == student.payments|length and payment.type == 'pmt' %}
                                                {% set prev_bal = payment.amount %}
                                                <td>{{prev_bal|number_format}}</td>
                                                <td>{{payment.doneOn|date("d/m/Y")}}</td>
                                                <td>{{payment.docNumber}}</td>
                                            {% elseif loop.index == student.payments|length and payment.type == "inv" %}
                                                <td>Invoiced</td>
                                                <td>{{payment.docNumber}}</td>
                                                <td>{{payment.doneOn|date("d/m/Y")}}</td>
                                            {% endif %}
                                    {% else %}
                                        <td>N/A</td>
                                    {% endfor %}
                                    <td>{{bal|number_format}}</td>
                                    {% set total_bal = total_bal + bal %}
                                    <td>
                                        {% set user_instrument_grade = student.payments|last.uig %}
                                        <div class="btn-group" role="group">
                                            <a class="btn btn-sm mb-1 btn-info" href="{{ path('admin-payments-list', {'uig_id': student.payments|last.uig.id}) }}" class="btn btn-sm mb-1 btn-info" style="white-space: nowrap;"><i class="fa fa-money"></i>PAYMENTS</a>                       
                                            {{ include('user_instrument_grade/_delete_form_2.html.twig', {'size': 'sm'}) }}
                                        </div>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <table class="table">
                            <tr style="background-color:#333;color:white;">
                                <th style="width:25%">Total Balance</th>
                                <th style="width:25%"></th>
                                <th style="width:25%"></th>
                                <th style="width:25%; text-align:right;">{{total_bal|number_format}}</th>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->



{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}

   <!-- DataTables JS -->
   <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
   <!-- DataTables Responsive JS -->
   <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#datatable').DataTable({
                "order": [[ 0, "asc" ]],
                "pageLength": 100,
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.childRowImmediate
                    }
                }

            });

        } );
    </script>

{% endblock %}
