{% extends 'adm_base.html.twig' %}
{% block title %}{{teacher.fullname}} Calendar {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/fullcalendar/css/core/main.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/fullcalendar/css/daygrid/main.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/fullcalendar/css/timegrid/main.min.css')}}">
    <style>
        .fc-event {
            background-color: #d2d5e1;
        }
        .fc-unthemed td.fc-today {
            background: #fff;
        }
        .fc-view-container {
            position: relative;
            background-color: #fff;
            color: #000;
        }        
        .fc-bgevent {
            background: #8fdf82;
            opacity: 0.8;
        }        
    </style>

{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Calendar</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">{{teacher.fullname}} Calendar</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">

                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            {% if is_granted('ROLE_TEACHER') or is_granted('ROLE_ADMIN') %}
                            <!-- item-->
                            <a href="{{ path('teacher_schooltime_calendar_edit', {'teacher_id': teacher.id}) }}" class="dropdown-item">Edit Schedule</a>
                            {% endif %}
                            <!-- item-->
                            <a href="{{ path('session_new', {'teacher_id': teacher.id }) }}" class="dropdown-item">New Session</a>
                            <!-- item-->
                            <a href="{{path( app.user.usertype ~ '_session_calendar', {'teacher_id': teacher.id })}}" class="dropdown-item">Calendar</a>
                            <!-- item-->
                            <a href="javascript:void(0);" id="pdf" class="btn btn-primary btn-block">PDF</a>
                            <!-- item-->
                            <a href="javascript:void(0);" id="png"  class="btn btn-primary btn-block">PNG</a>
                        </div>
                    </div>

                    <div class="mt-3" id="calendar-holder"></div>
                </div>

            </div>
            <!-- end col-12 -->
        </div> <!-- end row -->
        
    </div> <!-- container-fluid -->


{% endblock %}


{% block javascripts %}
    <script src="{{asset('assets/fullcalendar/js/core/main.min.js')}}"></script>
    <script src="{{asset('assets/fullcalendar/js/interaction/main.min.js')}}"></script>
    <script src="{{asset('assets/fullcalendar/js/daygrid/main.min.js')}}"></script>
    <script src="{{asset('assets/fullcalendar/js/timegrid/main.min.js')}}"></script>
    <script>
        $(document).on('click', '[id="pdf"]', function(){
            
            var pdf = new jsPDF('p', 'pt', 'letter');
            pdf.setFont("helvetica");
            pdf.setFontType("bold");
            pdf.setFontSize(3);
            pdf.addHTML($('#f-cal')[0], function () {
                pdf.save('{{teacher.fullname}}-calendar.pdf');
            });

        })
    </script>
    <script>

    $("#png").click(function() {
        html2canvas($("#f-cal"), {
          onrendered: function(canvas) {
            saveAs(canvas.toDataURL(), 'canvas.png');
          }
        });
      });

      function saveAs(uri, filename) {
        var link = document.createElement('a');
        if (typeof link.download === 'string') {
          link.href = uri;
          link.download = filename;

          //Firefox requires the link to be in the body
          document.body.appendChild(link);

          //simulate click
          link.click();

          //remove the link when done
          document.body.removeChild(link);
        } else {
          window.open(uri);
        }
      }    
    </script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');
            var myVar;

            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'timeGridWeek',
                editable: true,
                slotDuration: '00:30:00',
                snapDuration: '00:05:00',
                firstDay: 1,
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({"calendar-id": "admin-vtr-calendar-{{teacher.id}}"})
                        },
                        failure: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
                events: [
                    {% for schedule in schedules %}
                    {
                        start: '{{ "now" | date_modify( schedule.day ~ ' this week') | date('Y-m-d') ~ 'T' ~ schedule.beginAt|date('H:i:s') }}',
                        end: '{{ "now" | date_modify( schedule.day ~ ' this week') | date('Y-m-d') ~ 'T' ~ schedule.endAt|date('H:i:s') }}',
                        rendering: 'background',
                        title: "{{schedule}}",
                    },
                    {% endfor %}
                    ],
                    eventMouseEnter: function(info) {

                        function myFunction() {
                            myVar = setTimeout(function(){ 
                                var tis = info.el;
                                var event = info.event;
                                console.log(tis.attributes['class']);
                                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: event.title, url: event.url },{delay: 5000, element: '.top-navbar', type: "success", newest_on_top: false, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                                
                            }, 1500);
                        }
                        myFunction();

                    },
                    eventMouseLeave: function(info) {
                        clearTimeout(myVar);
                    },
                    eventDrop: function(info) {
                        console.log('finished dragging');
                        console.log(info.event.url);

                        if (!confirm(info.event.title + " was dropped on " + info.event.start.toISOString() + " Are you sure about this change?")) {
                            info.revert();
                        } else {
                            var dateDropped = info.event.start.toISOString();
                            var d = new Date(dateDropped);
                            var year = d.getUTCFullYear();
                            var month = d.getUTCMonth();
                            var date = d.getUTCDate();
                            var hour = d.getUTCHours();
                            var minute = d.getUTCMinutes();
                            var url = info.event.url;

                            $.ajax({
                                url:'{{ (path('calendar_change_date')) }}',
                                type: "POST",
                                dataType: "json",
                                data: {
                                    "dateDropped": dateDropped,
                                    "year": year,
                                    "month": month,
                                    "date": date,
                                    "hour": hour,
                                    "minute": minute,
                                    "url": url,
                                },
                                async: true,
                                success: function (data)
                                {
                                    console.log(data);
                                },
                                error: function (xhr, status, error) {
                                    console.log('error');
                                }
                            });

                        }
                    },
                    dateClick: function(info) {

                        var ISOdate = info.dateStr;
                        var dateClicked = ISOdate.split("T")[0];
                        var timeClicked = ISOdate.split("T")[1].slice(0,-4);
                        console.log(dateClicked);
                        console.log(timeClicked);
                        window.location.href = "/admin/session/new?teacher_id={{teacher.id}}&date="+dateClicked+"&time="+timeClicked ;
                        //console.log('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                        //console.log('Current view: ' + info.view.type);
                        // change the day's background color just for fun
                        //info.dayEl.style.backgroundColor = 'red';
                    },
            });
            calendar.render();
        });
    </script>

    <script>
        //$(document).on('click', 'body', function(){
        //$(document).on('click', 'td', function(){
            //console.log($(this).data('time'));
            //console.log($(this).attr('class'));    
            //console.log('loading...');
            //var td = this.cellIndex;
            //console.log(td);
            //console.log($(this).offset().top);
        //});   

    </script>
{% endblock %}