{% extends 'adm_base.html.twig' %}

{% block title %}Communications{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{asset('assets/css/styles.css')}}">
<style>
    .icon {
        font-size: 20px; 
        margin-right: 1rem!important;
        margin-left: 1rem!important;
    }
    ul {
        list-style-type:none;
    }
</style>
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Communications</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Communications</li>
                          
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">All Templates</h4>
                    
                    <div class="row">

                        <div class="col-xl-12">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="nav-item">
                                    <a href="#tab-1" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                        <span class="d-none d-sm-block">New Message</span>   
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab-2" data-toggle="tab" aria-expanded="true" class="nav-link">
                                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                        <span class="d-none d-sm-block">Templates</span> 
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab-3" data-toggle="tab" aria-expanded="false" class="nav-link">
                                        <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                        <span class="d-none d-sm-block">Bulk Messaging</span>  
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab-4" data-toggle="tab" aria-expanded="false" class="nav-link">
                                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                                        <span class="d-none d-sm-block">History</span>  
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab-5" data-toggle="tab" aria-expanded="false" class="nav-link">
                                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                                        <span class="d-none d-sm-block">Attachment</span>  
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab-6" data-toggle="tab" aria-expanded="false" class="nav-link">
                                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                                        <span class="d-none d-sm-block">Quick Message</span>  
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                {{ include('tabs/new_message.html.twig') }}
                                {{ include('tabs/templates.html.twig') }}
                                {{ include('tabs/new_bulk.html.twig') }}
                                {{ include('tabs/history.html.twig') }}
                                {{ include('tabs/attachments.html.twig') }}
                                {{ include('tabs/quickmessage.html.twig') }}
                            </div>
                        </div><!-- end col -->

                    </div>
                    <!-- end row -->

                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->

        
    </div> <!-- container-fluid -->



    <div id="logs" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Logs</h4>
                </div>
                <div class="modal-body">
                    <span id="logs-table"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div id="templateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">New Template</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" action="/action_page.php">
            <div class="form-group">
                <label class="control-label col-sm-2" for="title">Title:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="title" placeholder="Template title">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="type">Type:</label>
                <div class="col-sm-10">
                <select type="" class="form-control" id="type">
                    <option value="primary">Primary</option>
                    <option value="success">Success</option>
                    <option value="info">Info</option>
                    <option value="warning">Warning</option>
                    <option value="danger">Danger</option>
                </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="msg">Message:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" id="msg"></textarea>
                </div>
            </div>             
            <div class="form-group">
                <label class="control-label col-sm-2" for="attch">Attachment:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="attch" name="attch">
                        <option value="">No Attachment</option>
                        {% for attachment in attachments %}
                            <option value="{{attachment.id}}">{{attachment.filename}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>             
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <button type="button" id="save-template" class="btn mb-1 btn-primary">Save</button>
                </div>
            </div>
            </form> 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn mb-1 btn-primary" data-dismiss="modal">Close</button>
        </div>
        </div>

    </div>
    </div>

{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('.datatable').DataTable({
                "order": [[ 2, "desc" ]]
            });
        } );
    </script>
    <script>
    $(document).on('click', '[id^="peep-"]', function(){
        var m = $(this).attr("title");
        $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Message:', message: m },{delay: 10000, element: 'body', type: "success", newest_on_top: false, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
    })
    </script>
    <script>
        jQuery(document).ready(function() {

            if (isEmail($("#email").val())){
                $("#to-send-email").prop('checked', true);
                $("#to-send-email").removeAttr("disabled");
            } else {
                $("#to-send-email").prop('checked', false);
                $("#to-send-email").attr("disabled", true);
            }
            if (!$("#phone").val() || $("#phone").val().length < 10 || !isPhoneNumber($("#phone").val()) ){
                $("#to-send-sms").prop('checked', false);
                $("#to-send-sms").attr("disabled", true);
            } else {
                $("#to-send-sms").prop('checked', true);
                $("#to-send-sms").removeAttr("disabled");
            }

            var searchRequest = null;
            $("#search").keyup(function() {

                var minlength = 3;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();

                    searchRequest = $.ajax({
                        url:'{{ (path('ajax_search')) }}',
                        type: "POST",
                        dataType: "json",
                        data: {
                            "q": value,
                        },
                        async: true,
                        success: function(msg){
                            //we need to check if the value is the same
                            if (value==$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key == 'entities') {
                                            if (id != 'error') {
                                                entitySelector.append('<li><span style="cursor:pointer" id="user-'+id+'">'+value+'</span></li>');
                                            } else {
                                                entitySelector.append('<li class="errorLi">'+value+'</li>');
                                            }
                                        }
                                    });
                                });
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                        }
                    });

                }
            });
        });

    </script>
    <script>
        
        $(document).on('click', '[id^="user-"]', function(){
            var id = jQuery(this).attr("id").split("-")[1];
            $.ajax({
                url:"{{ (path('findthisuser')) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "user_id": id,
                },
                async: true,
                success: function (data)
                {
                    $("#phone").val(data.phone);
                    $("#email").val(data.email);
                    $("#search").val(data.fullname);
                    $("#entitiesNav").empty();

                    if (isEmail($("#email").val())){
                        $("#to-send-email").prop('checked', true);
                        $("#to-send-email").removeAttr("disabled");
                    } else {
                        $("#to-send-email").prop('checked', false);
                        $("#to-send-email").attr("disabled", true);
                    }

                    if (!$("#phone").val() || $("#phone").val().length < 10 || !isPhoneNumber($("#phone").val()) ){
                        $("#to-send-sms").prop('checked', false);
                        $("#to-send-sms").attr("disabled", true);
                    } else {
                        $("#to-send-sms").prop('checked', true);
                        $("#to-send-sms").removeAttr("disabled");
                    }

                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });

        })
    </script>

	<script>

    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }    

    function isPhoneNumber(phonenum){
        var regEx = /^[+-]?\d+$/;
        return regEx.test(phonenum);
    }

	$('#sendnow').click(function() {
      
        // var msg = $("#message").val();
        var msg = CKEDITOR.instances['message'].getData();
        var emailad = $("#email").val();
        var subject = $("#subject").val();
        var sent_to = $("#search").val();
        var attachment = $("#attachment").val();
        var to = $("#phone").val();
        var tosendsms = "false";
        var tosendemail = "false";

        if (isEmail(emailad)){
            var email = emailad;
        } else {
            var email = "";
        }

        if(to != "Not provided"){
            var phone = to;
        } else {
            var phone = "";
        }

        if ($('#to-send-sms').is(':checked')) {
            var tosendsms = "true";
        } 

        if ($('#to-send-email').is(':checked')) {
            var tosendemail = "true";
        } 
        
        $.ajax({
            url:"{{ (path('communicate')) }}",
            type: "POST",
            dataType: "json",
            data: {
                "msg": msg,
                "phone_to": phone,
                "mail_to": email,
                "subject": subject,
                "tosendemail": tosendemail,
                "tosendsms": tosendsms,
                "sent_to": sent_to,
                "attachment": attachment,
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                //setTimeout(reloadToHistory, 2000);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
	});

	</script>

    <script>
        $('#qsendnow').click(function() {
            
            var msg = $("#qmessage").val();
            var phone = $("#qphone").val();
            var name = $("#qname").val();

            $.ajax({
                url:"{{ (path('quickmessage')) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "msg": msg,
                    "phone_to": phone,
                    "name": name,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                    setTimeout(reloadToHistory, 2000);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });

    </script>
    <script>
        function reloadToHistory() {
            $('form').each(function() { this.reset() });
            window.location.href = "/admin/communications/sms/email#tab-4";
            location.reload();
        }
    </script>
    <script>
        $('#bulksendnow').click(function() {
            
            var msg = CKEDITOR.instances['bulk-message'].getData();
            var group_id = $('input[name="group_id"]:checked').attr('id');

            $.ajax({
                url:"/communication/bulk/message/send/" + group_id,
                type: "POST",
                dataType: "json",
                data: {
                    "msg": msg,
                    "group_id": group_id,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                    setTimeout(reloadToHistory, 2000);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });

        $(document).ready(function() {
            if (location.hash) {
                $("a[href='" + location.hash + "']").tab("show");
            }
            $(document.body).on("click", "a[data-toggle='tab']", function(event) {
                location.hash = this.getAttribute("href");
            });
        });
        $(window).on("popstate", function() {
            var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
            $("a[href='" + anchor + "']").tab("show");
        });

    </script>

    <script>
        $(document).on('click', '[id^="multi_view-"]', function(){

            var para = jQuery(this).attr("id").split("-")[1];            
            var id = jQuery(this).attr("id").split("-")[2];            

            $.ajax({
                url:"/communication/get/message/log/" + para + "/" + id,
                type: "POST",
                dataType: "json",
                data: {
                    "para": para,
                    "id": id,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    $('#logs').modal('show');   
                    $('#logs-table').html(data);                  
                    //$.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });

    </script>

    <script>
        $(document).on('click', '[id^="single_view-"]', function(){

            var para = jQuery(this).attr("id").split("-")[1];            
            var id = jQuery(this).attr("id").split("-")[2];            

            $.ajax({
                url:"/communication/get/message/log/" + para + "/" + id,
                type: "POST",
                dataType: "json",
                data: {
                    "para": para,
                    "id": id,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    $('#logs').modal('show');   
                    $('#logs-table').html(data);                  
                    //$.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });

    </script>

<script>
	  $('#save-template').click(function() {
        
        // var msg = $("#msg").val();
        var msg = CKEDITOR.instances['msg'].getData();
        var type = $("#type").val();
        var title = $("#title").val();
        var attachment = $("#attch").val();
        var maindiv = $("#maindiv").html();

        $.ajax({
            url:"{{ (path('save_template')) }}",
            type: "POST",
            dataType: "json",
            data: {
                "msg": msg,
                "type": type,
                "title": title,
                "attachment": attachment,
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $('#templateModal').modal('hide');
                $("#maindiv").append(

                    '<div class="panel panel-' + data.type + '" id="tmplt-' + data.id + '" style="width: 33.3%;float: left;">'+
                        '<div class="panel-heading">' +
                            '<button type="button" class="close" id="deletetemplate-' + data.id + '">&times;</button>' +
                            '<h3 class="panel-title">' + data.title + '</h3>' +
                        '</div>' +
                        '<div class="panel-body">' +
                            '<div>' +
                                data.msg.substring(0,80) +
                            '</div>' +
                            '<div class="btn-group" role="group">' +
                                '<button class="btn btn-default" id="edittemplate-' + data.id + '" type="button">Edit</button>' + 
                                '<a class="btn btn-default" id="singlemessagefromtemplate-' + data.id + '" href="/admin/communications/sms/email/' + data.id + '">Send Single</a>' +
                                '<button class="btn btn-default" id="bulkmessagefromtemplate-' + data.id + '">Send Bulk</button>' +
                                '<button class="btn mb-1 btn-info" title="' + data.attachment + '"><i class="fa fa-link"></i></button>' +
                            '</div>' +
                        '</div>' +
                    '</div>'

                );
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: 'Template saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	  });
	</script>
    <script>
        $(document).ready(function() {
            $(document).on('click', '[id^="bulkmessagefromtemplate-"]', function(){

                $('.nav-tabs a[href="#tab-3"]').tab('show');
                var template_id = jQuery(this).attr("id").split("-")[1];

                $.ajax({
                    url:"{{ (path('get_template_message')) }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "template_id": template_id,
                    },
                    async: true,
                    success: function (data)
                    {
                        console.log(data);
                        $("#bulk-message").val(data);
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        return false;                        
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $(document).on('click', '[id^="deletetemplate-"]', function(){

                var template_id = jQuery(this).attr("id").split("-")[1];

                if (!confirm('Are you sure to delete this template?'))
                    return;

                event.preventDefault(); 
                /* code to delete here */
                $.ajax({
                    url:"{{ (path('delete_template')) }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "template_id": template_id,
                    },
                    async: true,
                    success: function (data)
                    {
                        console.log(data);
                        $("#tmplt-"+template_id).hide();
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>

    <script>
        $(document).on('click', '[id^="mention-"]', function(){

            var toMention = jQuery(this).attr("id").split("-")[1];
            var caretPos = document.getElementById("bulk-message").selectionStart;
            var caretEnd = document.getElementById("bulk-message").selectionEnd;
            var textAreaTxt = $("#bulk-message").val();
            var txtToAdd = " #%"+toMention+"%#";
            $("#bulk-message").val(textAreaTxt.substring(0, caretPos) + txtToAdd + textAreaTxt.substring( caretEnd ) );
            $('#bulk-message').focus();
            document.getElementById('bulk-message').selectionStart = caretPos + txtToAdd.length
            document.getElementById('bulk-message').selectionEnd = caretPos + txtToAdd.length
            CKEDITOR.instances['bulk-message'].insertText(txtToAdd);

        });
    </script>
    <script type="text/javascript">
            var CKEDITOR_BASEPATH = "/bundles/fosckeditor/";
    </script>
    <script type="text/javascript" src="/bundles/fosckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        if (CKEDITOR.instances["message", "bulk-message", "msg"]) { 
            CKEDITOR.instances["message", "bulk-message", "msg"].destroy(true); 
            delete CKEDITOR.instances["message", "bulk-message", "msg"]; 
        }
        var fos_ckeditor_instrument_description = CKEDITOR.replace("message", {
            "toolbar":[["Bold"],["Italic"],["Underline"],["NumberedList"],["BulletedList"],["Blockquote"],["JustifyLeft"],["JustifyCenter"],["JustifyRight"],["Link"],["Image"],["Format"]],"uiColor":"#ffffff","language":"en"
        });
        var fos_ckeditor_instrument_description = CKEDITOR.replace("bulk-message", {
            "toolbar":[["Bold"],["Italic"],["Underline"],["NumberedList"],["BulletedList"],["Blockquote"],["JustifyLeft"],["JustifyCenter"],["JustifyRight"],["Link"],["Image"],["Format"]],"uiColor":"#ffffff","language":"en"
        });
        var fos_ckeditor_instrument_description = CKEDITOR.replace("msg", {
            "toolbar":[["Bold"],["Italic"],["Underline"],["NumberedList"],["BulletedList"],["Blockquote"],["JustifyLeft"],["JustifyCenter"],["JustifyRight"],["Link"],["Image"],["Format"]],"uiColor":"#ffffff","language":"en"
        });

        fos_ckeditor_instrument_description.on('change', function() { fos_ckeditor_instrument_description.updateElement(); });

    </script>
    <script>
        $(document).ready(function(){
            
            var $remaining = $('#remaining'),
                $messages = $remaining.next();

            CKEDITOR.instances.message.on('key', function(e) {
                var self = this;

                var chars = self.getData().length,
                    messages = Math.ceil(chars / 160),
                    remaining = messages * 160 - (chars % (messages * 160) || messages * 160);

                $remaining.text(remaining + ' characters remaining');
                $messages.text(messages + ' message(s)');
               
            });

            //$('#message').keyup(function(){
            //});
        });    
    </script>
{% endblock %}