    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Students List</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Students List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card-box">

                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'user-student'})}}" class="dropdown-item">Export Email list XLSX [All]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'phoneactiveuser-student'})}}" class="dropdown-item">Export Phone List XLSX [Active]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'pdf', 'entity': 'user-student'})}}" class="dropdown-item">PDF</a>
                            <a class="dropdown-item" href="{{path('show_balances')}}">Balances</a>

                        </div>
                    </div>
                

                    <div class="table-responsive">
                        {% set uigArr = [] %}
                        {% for payment in student.payments|reverse %}
                            {% set uig = payment.uig %}
                            {% set fullpricePerSession = uig.sessions|first.package.price / 12 %}
                            {% set feesToPay = fullpricePerSession * uig.sessions|length %}
                            {% set balance = uig.payments and uig.payments|length > 0 ? uig.payments|last.balance : feesToPay %}  
                            {% if uig.id not in uigArr %}             
                            {% set uigArr = uigArr|merge([uig.id ]) %}
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ uig.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{ uig }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date Started</th>
                                        <td>{{ uig.sessions|first.startingOn|date('jS M Y') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Instrument</th>
                                        <td>{{ uig.instrument }}</td>
                                    </tr>
                                    <tr>
                                        <th>Teacher</th>
                                        <td>{{ uig.sessions|first.teacher }}</td>
                                    </tr>
                                    <tr>
                                        <th>Phone Number</th>
                                        <td>{{ student.studentData.phone }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ student.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Next Of Kin Phone Number</th>
                                        <td>{{ student.studentData.nextofkinphonenum }}</td>
                                    </tr>
                                    <tr>
                                        <th>Balance</th>
                                        <td>{{ balance }}</td>
                                    </tr>
                                    <tr>
                                        <th>Actions</th>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Actions">
                                                <a target="_blank" class="btn mb-1 btn-info" href="{{ path('session_show', {'id': uig.sessions|first.id}) }}">MORE</a>
                                                <a class="btn btn-sm mb-1 btn-warning" target="_blank" href="{{ path('admin-payments-list', {'uig_id': uig.id}) }}" class="btn btn-sm mb-1 btn-info" style="white-space: nowrap;"><i class="fa fa-money"></i>PAYMENTS</a>
                                                {% if uig.sessions|length > 0 %}<a target="_blank" href="{{path('user_instrument_grade_show', {'id': uig.id})}}" class="btn btn-sm mb-1 btn-info" style="white-space: nowrap;" > ALL SESSIONS</a>{% endif %}
                                                {# <a href="{{path('print_form', {'uig_id': uig.id})}}" style="white-space: nowrap;" class="btn btn-sm mb-1 btn-primary" id="print-form" > DOWNLOAD FORM</a> #}
                                                <a target="_blank" href="{{path('student-edit-admin', {'studentid': uig.studentUserData.student == null ? 1 : uig.studentUserData.student.id})}}" style="white-space: nowrap;" class="btn btn-sm mb-1 btn-info" id="print-form" >EDIT DETAILS</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
                
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>    

