{% extends 'adm_base.html.twig' %}

{% block title %}Payments{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/datepicker/css/bootstrap-datepicker.standalone.min.css')}}">
   <!-- DataTables CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
   <!-- DataTables Responsive CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
{% endblock %}

{% block body %}


        {% set bal = 0 %}

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="page-title">Admin</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                <li class="breadcrumb-item active">Statement for {{student}}</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-xl-12 mb-2">
                    <button type="button" class="btn btn-sm mb-1 btn-primary" data-toggle="modal" data-target="#dateRangeModal">
                        SEND STATEMENT
                    </button>                
                    <button type="button" class="btn btn-sm mb-1 btn-success" data-toggle="modal" style="white-space: nowrap;" data-target="#paymentModal" data-amttopay="{{uig.payments|last.balance}}" data-uigid="{{uig.id}}" data-from="{{uig.studentUserData.student == null ? 'NULL' : uig.studentUserData.student.fullname}}"><i class="fa fa-money"></i> ADD PAYMENT</button>
                    <a class="btn btn-primary btn-sm mb-1" href="{{path('student_details_admin', {'student_id': student.id})}}">BACK TO STUDENT'S INSTRUMENTS</a>
                    <a class="btn btn-primary btn-sm mb-1"  href="{{path('admin-students-list')}}">STUDENTS LIST</a>
                    <a class="btn btn-warning btn-sm mb-1"  id="send_fee_reminder">SEND REMINDER</a>
                    <a class="btn btn-warning btn-sm mb-1" href="{{path( app.user.usertype ~ '_session_calendar', {'teacher_id': uig.sessions|first.teacher.id })}}">CALENDAR</a>
                    <a class="btn btn-info btn-sm mb-1" href="{{path('preview_invoice_user', {'user_id': student.id})}}">USER INVOICE</a>

                </div><!-- end col -->
            </div>
            <!-- end row -->

        <!-- Advanced Tables -->
            <div class="row">
                <div class="col-xl-12">
                  <div class="card-box">
                
                    {% set bal = 0 %}
                    <div class="card-heading">
                        Payments for {{uig}} sessions started on {{uig.sessions|first.startingOn|date("d/m/Y")}}
                    </div>
                    <div class="card-body">

                        <!-- Button trigger modal -->
                        <table class="table" id="datatable">
                            <thead>
                                <tr>
                                    <th>Payment Date</th>
                                    <th>Amount</th>
                                    <th>Transaction</th>
                                    <th>Doc Number</th>
                                    <th>Instrument</th>
                                    <th>Updated</th>
                                    <th>Balance</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% set prev_bal = 0 %}
                            {% set uigs = [] %}
                            {% for payment in uigPayments %}
                            {% set uigs = uigs|merge([payment.uig.id]) %}
                            {% set bal = payment.type == "inv" ? bal + payment.amount : bal - payment.amount %}
                            {% if loop.index == payments|length - 1%}{% set prev_bal = payment.balance %}{% endif %}
                                <tr>
                                    <td>{{payment.doneOn|date('Y-m-d')}}</td>
                                    <td>{{payment.amount}}</td>
                                    <td>{{payment.type == "inv" ? "Invoice" : "Payment" }}</td>
                                    <td>{{payment.docNumber }}</td>
                                    <td>{{payment.uig.instrument}} {{payment.uig.grade}}</td>
                                    <td>{{bal}}</td>
                                    <td>{{payment.balance}}</td>
                                    <td>
                                    
                                    <button type="button" class="btn btn-sm mb-1 btn-primary" data-pmtid="{{payment.id}}" data-toggle="modal" style="white-space: nowrap;" data-target="#editPaymentModal" data-amttoedit="{{payment.amount}}-{{prev_bal}}" data-docno="{{payment.docNumber}}" data-bal="{{payment.balance}}" data-pmtdateymd="{{payment.doneOn|date('Y-m-d')}}" data-pmtdate="{{payment.doneOn|date('jS F Y')}} for {{payment.uig.instrument}}">EDIT</button>                            
                                    <a onclick="return confirm('Are you sure you want to delete payment for {{payment.doneOn|date('jS F Y')}}?');" href="{{path('payment_delete_one', {'payment_id': payment.id})}}" style="white-space: nowrap;" class="btn btn-sm mb-1 btn-info" id="print-form" >DELETE</a>                            
                                    {% if payment.type == "inv" %}
                                        <a href="{{path('preview_invoice', {'payment_id': payment.id})}}" style="white-space: nowrap;" class="btn btn-sm mb-1 btn-primary" id="print-form" >SEND INVOICE</a>
                                        {% else %}
                                            <a href="{{path('preview_receipt', {'payment_id': payment.id})}}" style="white-space: nowrap;" class="btn btn-sm mb-1 btn-success" id="print-form" >SEND RECEIPT</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                  <div class="card-box">

                    {% set historybal = 0 %}
                    <div class="card-heading">
                        Payments history for {{student}} - All payments
                    </div>

                    <div class="card-body">
                        
                        <table class="table" id="datatable2">
                            <thead>
                                <tr>
                                    <th>Payment Date</th>
                                    <th>Amount</th>
                                    <th>Transaction</th>
                                    <th>Doc Number</th>
                                    <th>Instrument</th>
                                    <th>Updated</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% set prev_bal = 0 %}
                            {% set uigs = [] %}
                            {% for payment in payments %}
                            {% set uigs = uigs|merge([payment.uig.id]) %}
                            {% set historybal = payment.type == "inv" ? historybal + payment.amount : historybal - payment.amount %}
                            {% if loop.index == payments|length - 1%}{% set prev_bal = payment.balance %}{% endif %}
                                <tr>
                                    <td>{{payment.doneOn|date('Y-m-d')}}</td>
                                    <td>{{payment.amount}}</td>
                                    <td>{{payment.type == "inv" ? "Invoice" : "Payment" }}</td>
                                    <td>{{payment.docNumber }}</td>
                                    <td>{{payment.uig.instrument}} {{payment.uig.grade}}</td>
                                    <td>{{historybal}}</td>
                                    <td>{{payment.balance}}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                  </div>
                </div>
            </div>
        </div>

            {# <div class="row">
                <div class="col-xl-12">
                    <table class="table card-box" id="datatable">
                        <thead>
                            <tr>
                                <th>Payment Date</th>
                                <th>Amount</th>
                                <th>Transaction</th>
                                <th>Instrument</th>
                                <th>Balance</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% set prev_bal = 0 %}
                        {% set uigs = [] %}
                        {% for payment in payments %}
                        {% set uigs = uigs|merge([payment.uig.id]) %}
                        {% set bal = payment.type == "inv" ? bal + payment.amount : bal - payment.amount %}
                        {% if loop.index == payments|length - 1%}{% set prev_bal = payment.balance %}{% endif %}
                            <tr>
                                <td>{{payment.doneOn|date('Y-m-d')}}</td>
                                <td>{{payment.amount}}</td>
                                <td>{{payment.type == "inv" ? "Invoice" : "Payment" }}</td>
                                <td>{{payment.uig.instrument}} {{payment.uig.grade}}</td>
                                <td>{{bal}}</td>
                                <td>
                                
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-sm mb-1 btn-primary" data-pmtid="{{payment.id}}" data-toggle="modal" style="white-space: nowrap;" data-target="#paymentModal" data-amttoedit="{{payment.amount}}-{{prev_bal}}" data-pmtdate="{{payment.doneOn|date('jS F Y')}} for {{payment.uig.instrument}}">Edit</button>                            
                                    <a onclick="return confirm('Are you sure you want to delete payment for {{payment.doneOn|date('jS F Y')}}?');" href="{{path('payment_delete_one', {'payment_id': payment.id})}}" style="white-space: nowrap;" class="btn btn-sm mb-1 btn-info" id="print-form" >Delete</a>
                                </div>
                                
                                {% if payment.type == "inv" %}
                                    <a href="{{path('preview_invoice', {'payment_id': payment.id})}}" style="white-space: nowrap;" class="btn btn-sm mb-1 btn-primary" id="print-form" >Send Invoice</a>
                                {% else %}
                                    <a href="{{path('preview_receipt', {'payment_id': payment.id})}}" style="white-space: nowrap;" class="btn btn-sm btn-success" id="print-form" >Send Receipt</a>
                                {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- end col -->
            </div> #}
            <!-- end row -->
            
        </div> <!-- container-fluid -->

    <!-- Modal -->
    <!-- Modal -->
    <div class="modal fade" id="dateRangeModal" tabindex="-1" role="dialog" aria-labelledby="dateRangeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="get" action="{{path('preview_statement')}}">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="dateRangeModalLabel">Select Time Range</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="input-group input-daterange">
                <input type="text" name="dateFrom" class="form-control js-datepicker" value="{{'now'|date('Y-m-d')}}">
                <div class="input-group-addon">to</div>
                <input type="text" name="dateTo" class="form-control js-datepicker" value="{{'now'|date('Y-m-d')}}">
            </div>            
        </div>
        <input type="hidden" name="uig" value="{{uigs|join('-')}}" >
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn mb-1 btn-primary">Preview</button>
        </div>
        </div>
    </div>
    </div>

<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalLabel">Payment</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="amount" class="col-form-label">Amount:</label>
            <input type="text" class="form-control amount" id="amount">
            <p id="uigidval" style="display:none;"></p>
          </div>
          <div class="form-group">
            <label for="receipt_number" class="col-form-label">Receipt Number:</label>
            <input type="text" placeholder="Receipt Number" class="form-control receipt_number" id="receipt_number">
          </div>
          <div class="form-group">
            <label for="date_of_payment" class="col-form-label">Date of Payment:</label>
            <input type="text" placeholder="YYYY-MM-DD" class="form-control date_of_payment" value="{{'now'|date('Y-m-d')}}" id="date_of_payment">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn mb-1 btn-primary" id="add_payment">Add Payment</button>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="holder" value="">


<div class="modal fade" id="editPaymentModal" tabindex="-1" role="dialog" aria-labelledby="editPaymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPaymentModalLabel">Edit Payment</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <p id="pmtidval" style="display:none;"></p>        
          <div class="form-group">
            <label for="edtamount" class="col-form-label">Amount:</label>
            <input type="text" class="form-control edtamount" id="edtamount">
          </div>
          <div class="form-group">
            <label for="docNo" class="col-form-label">Document Number:</label>
            <input type="text" class="form-control docNo" id="docNo">
          </div>
          <div class="form-group">
            <label for="date_of_payment_edt" class="col-form-label">Date of Payment:</label>
            <input type="text" placeholder="YYYY-MM-DD" class="form-control date_of_payment_edt" id="date_of_payment_edt">
          </div>
          <div class="form-group">
            <label for="uigBal" class="col-form-label">Balance:</label>
            <input type="text" class="form-control uigBal" id="uigBal">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn mb-1 btn-primary" id="edit_payment">Edit Payment</button>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="edtholder" value="">
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    {% set historybal = 0 %}
    {% set prev_bal = 0 %}
    {% set uigs = [] %}
    {% for payment in payments %}
    {% set uigs = uigs|merge([payment.uig.id]) %}
    {% set historybal = payment.type == "inv" ? historybal + payment.amount : historybal - payment.amount %}
    {% if loop.index == payments|length - 1%}{% set prev_bal = payment.balance %}{% endif %}
    {% endfor %}
   <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
   <!-- DataTables Responsive JS -->
   <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#datatable').DataTable({
                "order": [[ 0, "asc" ]],
                "pageLength": 100,
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.childRowImmediate
                    }
                }

            });

        } );
    </script>
    <script>
        $(document).ready( function () {
            $('#datatable2').DataTable({
                "order": [[ 0, "asc" ]],
                "pageLength": 100,
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.childRowImmediate
                    }
                }

            });

        } );
    </script>

    <script src="{{asset('assets/datepicker/js/bootstrap-datepicker.min.js')}}"></script>
    <script>
        //$('.input-daterange input').each(function() {
        //    $(this).datepicker('clearDates');
        //});        
    </script>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
            $(".js-datepicker").datepicker().datepicker('setDate', new Date());
        });
    </script>
    <script>
        $('#editPaymentModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var pmtid = button.data('pmtid') // Extract info from data-* attributes
            var pmtdate = button.data('pmtdate') // Extract info from data-* attributes
            var pmtdateymd = button.data('pmtdateymd')
            var docNo = button.data('docno') // Extract info from data-* attributes
            var bal = button.data('bal') // Extract info from data-* attributes
            var amttoedit = button.data('amttoedit').split('-')[0] // Extract info from data-* attributes
            var balance = button.data('amttoedit').split('-')[1] // Extract info from data-* attributes
            $("#edtholder").val(balance);
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            console.log('pmtid: ' + pmtid);
            modal.find('.modal-title').text('Edit payment made on ' + pmtdate)
            modal.find('.modal-body p').text(pmtid)
            modal.find('.modal-body .edtamount').val(amttoedit)
            modal.find('.modal-body .docNo').val(docNo)
            modal.find('.modal-body .uigBal').val(bal)
            modal.find('.modal-body .date_of_payment_edt').val(pmtdateymd)
            //$("#edit_payment").prop('disabled', false);
        })
    </script>
    <script>
        $("#edit_payment").click( function () {

            //$("#edit_payment").prop('disabled', true);
            var pmtid = $("#pmtidval").text();
            var amount = $("#edtamount").val();
            var docNo = $("#docNo").val();
            var uigBal = $("#uigBal").val();
            var paymentDate = $("#date_of_payment_edt").val();

            $.ajax({
                url:'{{ (path('edit_payment')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "pmtid": pmtid,
                    "amount": amount,
                    "docNo": docNo,
                    "uigBal": uigBal,
                    "paymentDate": paymentDate,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script>
        $("#send_fee_reminder").click( function () {

            //$("#edit_payment").prop('disabled', true);
            var student_id = "{{uig.studentUserData.student.id}}";
            var uig_id = "{{uig.id}}";
            var balance = "{{historybal}}";

            $.ajax({
                url:'{{ (path('send_message_from_payments_page')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "student_id": student_id,
                    "uig_id": uig_id,
                    "balance": balance,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    $("#send_fee_reminder").removeClass('btn-warning').addClass('btn-success').text('REMINDER SENT!');
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script>
        $('#paymentModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var uigid = button.data('uigid') // Extract info from data-* attributes
            var from = button.data('from') // Extract info from data-* attributes
            var amttopay = button.data('amttopay') // Extract info from data-* attributes
            $("#holder").val(amttopay);
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            console.log('uigid: ' + uigid);
            modal.find('.modal-title').text('Payment from ' + from)
            modal.find('.modal-body p').text(uigid)
            modal.find('.modal-body .amount').val(amttopay)
            //$("#add_payment").prop('disabled', true);
            $("#receipt_number").val("");
        })
    </script>
    <script>
        $("#add_payment").click( function () {

            //$("#add_payment").prop('disabled', true);
            var uigid = $("#uigidval").text();
            var amount = $("#amount").val();
            var receipt_number = $("#receipt_number").val();
            var date_of_payment = $("#date_of_payment").val();
            console.log([uigid, amount, receipt_number, date_of_payment]);

            $.ajax({
                url:'{{ (path('add_payment')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "uigid": uigid,
                    "amount": amount,
                    "receipt_number": receipt_number,
                    "date_of_payment": date_of_payment,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script>
        //$(".amount").on('keyup', function() {
        //    var amount = parseInt($("#amount").val());
        //    var balance = parseInt($('#holder').val());
//
        //    if(amount > balance || !$("#receipt_number").val()){
        //        $("#add_payment").prop('disabled', true);
        //    } else {
        //        $("#add_payment").prop('disabled', false);
        //    }
        //    console.log('greater than? '+ amount > balance);
        //    console.log('empty? '+ $("#receipt_number").val());
        //});
        //$(".receipt_number").on('keyup', function() {
        //    var amount = parseInt($("#amount").val());
        //    var balance = parseInt($('#holder').val());
//
        //    if(amount > balance || !$(this).val()){
        //        $("#add_payment").prop('disabled', true);
        //    } else {
        //        $("#add_payment").prop('disabled', false);
        //    }
        //    console.log('greater than? '+ amount > balance);
        //    console.log('empty? '+ !$(this).val());
        //})
    </script>
{% endblock %}
