{% extends 'adm_base.html.twig' %}
{% block title %}{{student.fullname}} Statement{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">

		body{
			font-size:14px!important;
		}
        .container{
            background-color:#fff;
            padding-top:10px;
            padding-bottom: 10px;
        }

        #logo {
        width: 8cm;
        }

        #logo2 {
        width: 4cm;
        }

        .title {
        background-color: #777!important;
        color: white;
        font-weight: bold;
        padding: 5px 10px;
        }

        .pd-l {
        padding-left: 10px;
        }

        .desc {
        width: 16.66%;
        }

        .hour {
        width: 50%;
        }

        .rate {
        width: 16.66%;
        }

        .amt {
        width: 16.66%;
        }

        td {
        height: 40px!important;
		padding-left: 5px;
        }

        table, th, td {
        border: 1px solid #1d1d1d;
        border-collapse: collapse;
        }

        #last-row {
        border-bottom: 1px solid #1d1d1d;
        }

        .hour.no-b {
        border: none;
        }

        .rate.underlined {
        border: 1px solid #1d1d1d;
        }

        .amt.underlined {
        border: 1px solid #1d1d1d;
        }

        .desc.underlined {
        border: none;
        border-bottom: 1px solid #1d1d1d;
        }

        #finaltext {
        margin-top: 30px;
        }

		.top {
			height: 5cm;
		}

		.mid {
			height: 7cm;
		}

		.container {
			clear: both;
			float: none;
		}

		.col-md-6 {
			float: left;
			width: 50%;
		}
		

    </style>
{% endblock %}

{% block body %}

{% set bal = 0 %}
    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Invoice</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">{{student.fullname}} Statement</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-4">
                {% if app.user.usertype == 'admin' %}
                    <a href="{{path('admin-students-list')}}" class="btn btn-secondary">Cancel</a>
                    <button type="button" id="sendStatement" class="btn mb-1 btn-primary">Send Statement</button>
                {% else %}
                    <a href="{{path('student-uigs')}}" class="btn mb-1 btn-primary">Back</a>
                {% endif %}
            </div><!-- end col -->
        </div>
        <!-- end row -->
        
        <div class="container">
            <div class="row top">
                <div class="col-md-6 top">
                    <img id="logo2" src="{{app.request.getSchemeAndHttpHost()}}/img/chezanewlogowhite.jpg">
                </div>
                <div class="col-md-6 top">
                {# <img id="logo" src="{{app.request.getSchemeAndHttpHost()}}/img/Cheza-Music-School-Logo-S.png"> #}
                    <p class="title">DETAILS</p>
                    <p class="pd-l">DATE: {{"now"|date('d/m/Y')}} </p>
                    <p class="pd-l">STUDENT: {{student.fullname}}</p>
                    <p class="pd-l">AMOUNT DUE: {{currentBalance|number_format(2, '.', ',')}}</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mid">
                <div class="col-md-6 mid">
                    <p class="title">FROM</p>
                    <p class="pd-l">COMPANY: MUSKE MUSICIANS PORTAL LIMITED</p>
                    <p class="pd-l">TRADING NAME: CHEZA MUSIC SCHOOL</p>
                    <p class="pd-l">CITY: NAIROBI</p>
                    <p class="pd-l">PHONE: +254 711 832 933</p>
                    <p class="pd-l">EMAIL: info@chezamusicschool.co.ke&nbsp; info@muske.co.ke</p>
                </div>
                <div class="col-md-6 mid">
                    <p class="title">STATEMENT TO</p>
                    <p class="pd-l">NAME: {{student.fullname}} </p>
                    <p class="pd-l">INSTRUMENTS: {{instruments|join(', ')}}</p>
                    <p class="pd-l">PHONE: {{student.studentdata.phone}}</p>
                    <p class="pd-l">EMAIL: {{student.email}}</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="border-width: 1px;border-color: #1d1d1e;border-top-style: solid;">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="desc">DATE</th>
                                    <th class="hour">TRANSACTION</th>
                                    <th class="rate"><strong>AMOUNT</strong></th>
                                    <th class="amt">BALANCE</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td class="desc">{{lastDayOfPreviousTerm|date('d/m/Y')}}</td>
                                    <td class="hour">Balance C/F</td>
                                    <td class="rate"></td>
                                    <td class="amt">{{balanceCF|number_format(2, '.', ',')}}</td>
                                </tr>
                            {% set bal = balanceCF %}
                            {% for payment in payments %}
                            {% if payment.amount >= 1 %}
                            {% set bal = payment.type == "inv" ? bal + payment.amount : bal - payment.amount %}

                                <tr>
                                    <td class="desc">{{payment.doneOn|date('d/m/Y')}}</td>
                                    <td class="hour">{{payment.type|upper}} Doc No. {{payment.docNumber}} For {{payment.uig.instrument}}</td>
                                    <td class="rate">{{payment.amount|number_format(2, '.', ',')}}</td>
                                    <td class="amt">{{bal|number_format(2, '.', ',')}}</td>
                                </tr>
                            {% endif %}

                            {% endfor %}

                                <tr>
                                    <td class="desc"></td>
                                    <td class="hour"></td>
                                    <td class="rate"></td>
                                    <td class="amt"></td>
                                </tr>
                                <tr id="last-row">
                                    <td class="desc"></td>
                                    <td class="hour"></td>
                                    <td class="rate"></td>
                                    <td class="amt"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Payments can be made through:</p>
                    <p class="text-center">
                        {% if student.shortUrls|length > 0 %} <a href="https://chez.co.ke/{{student.shortUrls|first.short}}">https://chez.co.ke/{{student.shortUrls|first.short}}</a> or {% endif %}
                        MPESA Till No 9810765 (Buy Goods & Services)
                    </p>
                    <p class="text-center">STANBIC BANK - 0100009266474 MUSKE MUSICIANS PORTAL LIMITED, CHIROMO BRANCH</p>
                    <p class="text-center">EQUITY BANK - 1340282436667 MUSKE MUSICIANS PORTAL LIMITED, RIDGEWAYS BRANCH</p>
                    <p class="text-center" id="finaltext">THANK YOU FOR YOUR BUSINESS</p>
                </div>
            </div>
        </div>
        
    </div> <!-- container-fluid -->

    
{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/sidebar.js')}}"></script>
	<script>
	  $('#sendStatement').click(function() {
        $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Please wait...', },{ element: '#confirmSendInvoice', type: "info", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
        var neu = [];
        var dateFrom = "{{app.request.query.get('dateFrom')}}";
        var dateTo = "{{app.request.query.get('dateTo')}}";
        var uig = "{{app.request.query.get('uig')}}";
        $.ajax({
            url:'{{ (path('send_statement')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "dateFrom": dateFrom,
                "dateTo": dateTo,
                "uig": uig,
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: "Statement sent: " + data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                location.reload();
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	  });
	</script>

{% endblock %}