{% extends 'adm_base.html.twig' %}

{% block title %}{{admin.fullname}} Profile{% endblock %}
{% block stylesheets %}
<style>
    .icon {
        font-size: 20px; 
        margin-right: 1rem!important;
        margin-left: 1rem!important;
    }
    .image_area {
        position: relative;
    }

    .img {
        display: block;
        max-width: 100%;
    }

    .preview {
        overflow: hidden;
        width: 160px; 
        height: 160px;
        margin: 10px;
        border: 1px solid red;
    }

    .modal-lg{
        max-width: 1000px !important;
    }

    .overlay {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
        height: 0;
        transition: .5s ease;
        width: 100%;
    }

    .image_area:hover .overlay {
        height: 50%;
        cursor: pointer;
    }

    .text {
        color: #333;
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
</style>

{% endblock %}

{% block body %}



                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="page-title">Profile</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                            <li class="breadcrumb-item active">Profile</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="bg-picture card-box">
                                    <div class="profile-info-name">
                                        <div class="image_area text-center float-left">
                                            <form method="post" class="avatar-xl img-thumbnail mr-3">
                                                <label for="upload_image">
                                                    <img class="img" src="{{ app.user.photo is not null ? app.user.photo : asset('img/profile/person.png') }}" id="uploaded_image" class="img-responsive img-circle rounded-circle" />
                                                    <div class="overlay">
                                                        <div class="text">Change Image</div>
                                                    </div>
                                                    <input type="file" name="image" class="image" id="upload_image" style="display:none" />
                                                </label>
                                            </form>
                                        </div>
                                        <div class="profile-info-detail overflow-hidden">
                                            <h4 class="m-0">{{admin.fullname}}</h4>
                                            <p class="text-muted"><i>Admin</i></p>                                                    
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <!--/ meta -->

                                <!-- Form row -->
                                <div class="card-box">
                                    <div class="col-md-12">
                                        <div class="card-box">
                                            <h4 class="m-t-0 header-title">Admin Bio Settings</h4>

                                            <form id="savebio">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="fullname" class="col-form-label">Full Name</label>
                                                        <input class="form-control" id="fullname" type="text" placeholder="Full Name" name="fullname" value="{{admin.fullname}}">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="email" class="col-form-label">Email Address</label>
                                                        <input class="form-control" id="email" type="email" placeholder="user@example.com" name="email" value="{{admin.email}}">
                                                    </div>
                                                    <input type="hidden" name="user_id" id="user_id" value="{{admin.id}}">
                                                </div>
                                                <button id="savebiosubmit" class="btn btn-primary btn-sm" type="button">Save Bio Settings</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- end row -->        

                            </div>

                        </div>        
                        
                    </div> <!-- container-fluid -->


    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crop Image Before Upload</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row">
                        <div class="col-md-8">
                            <img src="" id="sample_image" />
                        </div>
                        <div class="col-md-4">
                            <div class="preview"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="crop" class="btn mb-1 btn-primary">Save picture</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
    </div>			

{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/sidebar.js')}}"></script>
        <link rel="stylesheet" href="{{ asset('assets/css/dropzone.css') }}" />
        <link href="{{ asset('assets/css/cropper.css') }}" rel="stylesheet"/>
        <script src="{{ asset('assets/js/dropzone.js') }}"></script>
        <script src="{{ asset('assets/js/cropper.js') }}"></script>
        <script>
            
            $(document).on('click', '[id^="delete-"]', function(){
                var id = jQuery(this).attr("id").split("-")[1];
                $.ajax({
                    url:'{{ (path('removeinstrument')) }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "uigid": id,
                    },
                    async: true,
                    success: function (data)
                    {
                        $('#uigid-'+id).remove();
                        console.log(data);
                        $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: "Instrument deleted successfully" },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });

            })
        </script>

        <script>

        $(document).ready(function(){

            var $modal = $('#modal');

            var image = document.getElementById('sample_image');

            var cropper;

            var thisfiletype;

            var teacher_id = {{admin.id}};

            $('#upload_image').change(function(event){
                var files = event.target.files;
                thisfiletype = files[0].type;
                console.log('thisfiletype');
                console.log(thisfiletype);
                var done = function(url){
                    image.src = url;
                    $modal.modal('show');
                };

                if(files && files.length > 0)
                {
                    reader = new FileReader();
                    reader.onload = function(event)
                    {
                        done(reader.result);
                    };
                    reader.readAsDataURL(files[0]);
                }
            });

            $modal.on('shown.bs.modal', function() {
                console.log('shown');
                console.log(image);
                console.log(thisfiletype);
                console.log(cropper);
                cropper = new Cropper(image, {
                    aspectRatio: 1,
                    viewMode: 1,
                    preview:'.preview'
                });
                console.log('cropper1');
                console.log(cropper);
            }).on('hidden.bs.modal', function(){
                cropper.destroy();
                cropper = null;
            });

            $('#crop').click(function(){
                console.log('cropper2');
                console.log(cropper);

                if(thisfiletype == 'image/jpeg'){

                    canvas = cropper.getCroppedCanvas({
                        width:400,
                        height:400,
                        fillColor: '#fff',
                        imageSmoothingEnabled: true,
                        imageSmoothingQuality: 'high',  
                    }).toDataURL('image/jpeg', 1);

                } else {

                    canvas = cropper.getCroppedCanvas({
                        width:400,
                        height:400,
                        fillColor: '#fff',
                        imageSmoothingEnabled: true,
                        imageSmoothingQuality: 'high',  
                    }).toDataURL('image/png', 1);

                }

                $.ajax({
                    url:"{{path('save_profile_picture')}}",
                    method:'POST',
                    data:{image:canvas, thisfiletype, teacher_id},
                    success:function(data)
                    {
                        $modal.modal('hide');
                        console.log(data);
                        $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Photo changed successfully', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                        $('#uploaded_image').attr('src', data);
                    }
                });

            });
            
        });
        </script>
	<script>
	  $(document).on('click', '#savebiosubmit', function(){

	  		var form = document.getElementById("savebio");
            var form_data = $( form ).serializeArray();
            var valid = validateForm(form_data);
            console.log('valid: ' + valid);
            if(valid){
                $.ajax({
                url:'/save/user/bio',
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType: "json",
                data: new FormData(form),
                async: true,
                success: function (data)
                {
                    $("#results").html(data);
                    console.log(data);
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Bio settings saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
	         });

            } else {
                console.log('form not valid');
            }
	  });
	</script>
    
{% endblock %}