{% extends 'adm_base.html.twig' %}

{% block title %}Payments{% endblock %}
{% block stylesheets %}
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="{{asset('assets/datepicker/css/bootstrap-datepicker.standalone.min.css')}}">
{% endblock %}

{% block body %}


        {% set bal = 0 %}

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="page-title">Admin</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                <li class="breadcrumb-item active">Statement for {{student}}</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-xl-12 mb-2">
                    <a class="btn btn-warning btn-sm"  id="send_fee_reminder">SEND REMINDER</a>
                </div><!-- end col -->
            </div>
            <!-- end row -->

            <!-- Advanced Tables -->
            <div class="row">
                <div class="col-xl-6">
                  <div class="card-box">
                
                    {% set bal = 0 %}
                    <div class="card-heading">
                        <h1>Payment Reminder for {{uigName}}</h1>
                    </div>
                    <div class="card-body">

                        <h2>Important: Payment Reminder for Your Planned Music Lesson</h2>
                        <p>Hi {{student}},</p>
                        <div id="email-content">
                            <p>We hope you are enjoying your lessons at Cheza Music School!</p>
                            {% if notif_type == 'last_paid_for' %}
                                <p>Our system is sending this message to kindly remind you that a lesson planned/done by Tr. {{ teacher }}, is the last one that you have paid for {{ uigName }}'s account..</p>
                                <p>We encourage you to prepay for all the remaining sessions, and everything will run smoothly until the end of the term.</p>
                                <p>If you have any questions, contact us at 0711832933</p>
                                <p>Thanks for being part of our musical community!</p>
                                <p>Cheza Music School Team</p>
                                <p>0711832933</p>
                                <p>info@chezamusicschool.co.ke</p>                                
                            {% else %}
                                <p>Our system is sending this message to kindly remind you that a lesson planned/done by Tr. {{ teacher }}, has not yet been paid for.</p>
                                {% if unpaid_sessions|length > 0 %}
                                <p>There are currently <strong>{{ unpaid_lessons }} uncleared lessons </strong> on {{ uigName }}'s account.</p>
                                <table class="table" style="border-collapse: collapse; width: 100%; border: 1px solid #ddd;">
                                    <thead>
                                        <tr>
                                            <th style="border: 1px solid #ddd; padding: 8px; background-color: #f9f9f9;">Lesson Date</th>
                                            <th style="border: 1px solid #ddd; padding: 8px; background-color: #f9f9f9;">Cost</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for lesson in unpaid_sessions %}
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 2px; height:auto!important;">{{ lesson['date']|date('d-m-Y') }}</td>
                                                <td style="border: 1px solid #ddd; padding: 2px; height:auto!important;">{{ lesson['remaining_amount'] }}</td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <th style="border: 1px solid #ddd; padding: 8px; background-color: #f9f9f9;">Total</th>
                                            <th style="border: 1px solid #ddd; padding: 8px;">{{ total_amount }}</th>
                                        </tr>
                                    </tbody>
                                </table>
                                <br/>
                                {% endif %}
                                <p>Prepaying helps us keep your schedule smooth, supports our teachers, and ensures you have uninterrupted learning.</p>
                                <p>Please pay the balance of {{ total_amount }} at your earliest convenience.</p>
                                <p>We also encourage you to prepay for all the remaining sessions, and everything will run smoothly until the end of the term.</p>
                                <p>If you have any questions, contact us at 0711832933</p>
                                <p>Payment details: Till Number 9810765 (MUSKE MUSICIANS PORTAL LIMITED)</p>
                                <p>Thanks for being part of our musical community!</p>
                                <p>Cheza Music School Team</p>
                                <p>0711832933</p>
                                <p>info@chezamusicschool.co.ke</p>
                            {% endif %}
                        </div>

                    </div>
                  </div>
                </div>
            </div>
        </div>
            
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    <script>
        $("#send_fee_reminder").click( function () {

            //$("#edit_payment").prop('disabled', true);
            var student_id = "{{student.id}}";
            var uig_id = "{{uig.id}}";
            var balance = "{{total_amount}}";
            var teacher = "{{teacher}}";
            var email_content = $("#email-content").html();
            var unpaid_lessons = {{unpaid_lessons}};

            $.ajax({
                url:'{{ (path('send_reminder_for_payments')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "student_id": student_id,
                    "uig_id": uig_id,
                    "balance": balance,
                    "email_content": email_content,
                    "teacher": teacher,
                    "unpaid_lessons": unpaid_lessons
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    $("#send_fee_reminder").removeClass('btn-warning').addClass('btn-success').text('REMINDER SENT!');
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>

{% endblock %}
