{% extends 'adm_base.html.twig' %}

{% block title %}Assign roles{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<style>
    .icon {
        font-size: 20px; 
        margin-right: 1rem!important;
        margin-left: 1rem!important;
    }
</style>
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Permissions</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Permissions</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xl-12">
                            <h5 class="mb-3">Assign permissions</h5>
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#students" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                        <span class="d-none d-sm-block">Students</span>            
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#teachers" data-toggle="tab" aria-expanded="true" class="nav-link">
                                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                        <span class="d-none d-sm-block">Teachers</span> 
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#admins" data-toggle="tab" aria-expanded="false" class="nav-link">
                                        <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                        <span class="d-none d-sm-block">Admins</span>    
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="students">
                                    <a class="btn btn-sm mb-1 btn-primary" href="{{path('file_export', {'filetype': 'excel', 'entity': 'user-student'})}}">Excel</a>
                                    <a class="btn btn-sm mb-1 btn-primary" href="{{path('file_export', {'filetype': 'pdf', 'entity': 'user-student'})}}">PDF</a>
                                    <table class="card-box table mt-5 pt-5 datatable">
                                        <thead>
                                            <tr>
                                            <th scope="col">Full name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Activation</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for student in students %}
                                            <tr>
                                            <th scope="row">{{student.fullname}}</th>
                                            <td>{{student.email}}</td>
                                            <td>{{ student.studentdata is not null ? student.studentdata.phone : 'null'}}</td>
                                            <td><a class="btn btn-sm mb-1 btn-primary" href="{{path('add_role', {'usertype': 'student', 'user_id': student.id, 'roletype': 'ROLE_STUDENT' })}}">{% if 'ROLE_STUDENT' in student.roles %} Remove {% else %} Add {% endif %} Student Role</a></td>
                                            <td>
                                            <a class="btn btn-sm btn-{{student.active ? 'danger' : 'success'}}" href="{{path('toggle_activate', {'user_id': student.id })}}">{% if student.active %} Deactivate {% else %} Activate {% endif %} Student</a>
                                            {% if student.active == true %}
                                                <a class="btn mb-1 btn-info" href="{{path('student-edit-admin', {'studentid': student.id})}}">Edit</a>
                                            {% elseif student.active == false %}
                                                <a class="btn mb-1 btn-warning" href="{{path('student_delete', {'student_id': student.id})}}" onclick="return confirm('Are you sure you want to delete {{student.fullname}}?');">Delete</a>
                                            {% endif %}
                                            </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="teachers">
                                    <a class="btn btn-sm mb-1 btn-primary" href="{{path('file_export', {'filetype': 'excel', 'entity': 'user-teacher'})}}">Excel</a>
                                    <a class="btn btn-sm mb-1 btn-primary" href="{{path('file_export', {'filetype': 'pdf', 'entity': 'user-teacher'})}}">PDF</a>
                                    <table class="card-box table mt-5 pt-5 datatable">
                                        <thead>
                                            <tr>
                                            <th scope="col">Full name</th>
                                            <th scope="col">email</th>
                                            <th scope="col">roles</th>
                                            <th scope="col">Manage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for teacher in teachers %}
                                            <tr>
                                            <th scope="row">{{teacher.fullname}}</th>
                                            <td>{{teacher.email}}</td>
                                            <td>{% for role in teacher.roles %} {{role}} {% endfor %}</td>
                                            <td><a class="btn btn-sm mb-1 btn-primary" href="{{path('add_role', {'usertype': 'teacher', 'user_id': teacher.id, 'roletype': 'ROLE_TEACHER' })}}">{% if 'ROLE_TEACHER' in teacher.roles %} Remove {% else %} Add {% endif %} Teacher Role</a></td>
                                            <td><form class="form" method="post" action="/admin/change/teacher/percentage/{{teacher.id}}"><input class="form-control" type="text" value="{{ teacher.teacherdata.percentage == null ? '0.7' : teacher.teacherdata.percentage }}" id="percentage" name="percentage"></form></td>
                                            <td><a class="btn btn-sm btn-{{teacher.active ? 'danger' : 'success'}}" href="{{path('toggle_activate', {'user_id': teacher.id })}}">{% if teacher.active %} Deactivate {% else %} Activate {% endif %} Teacher</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="admins">
                                    <a class="btn btn-sm mb-1 btn-primary" href="{{path('file_export', {'filetype': 'excel', 'entity': 'user-admin'})}}">Excel</a>
                                    <a class="btn btn-sm mb-1 btn-primary" href="{{path('file_export', {'filetype': 'pdf', 'entity': 'user-admin'})}}">PDF</a>
                                    <table class="table mt-5 pt-5">
                                        <thead>
                                            <tr>
                                            <th scope="col">Full name</th>
                                            <th scope="col">email</th>
                                            <th scope="col">roles</th>
                                            <th scope="col">Manage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for admin in admins %}
                                            <tr>
                                            <th scope="row">{{admin.fullname}}</th>
                                            <td>{{admin.email}}</td>
                                            <td>{% for role in admin.roles %} {{role}} {% endfor %}</td>
                                            <td><a class="btn btn-sm mb-1 btn-primary" href="{{path('add_role', {'usertype': 'admin', 'user_id': admin.id, 'roletype': 'ROLE_ADMIN' })}}">{% if 'ROLE_ADMIN' in admin.roles %} Remove {% else %} Add {% endif %} Admin Role</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- end col -->

                    </div>
                    <!-- end row -->

                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->



{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('.datatable').DataTable();
        } );
    </script>
{% endblock %}