{% extends 'adm_base.html.twig' %}

{% block title %}{{ student }}{% endblock %}
{% block stylesheets %}
    <link href="{{asset('adm/assets/libs/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/responsive.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/buttons.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/select.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <style>
        .btn-group {
        display: flex;
        }
    </style>
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Students List</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Students List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card-box">

                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'user-student'})}}" class="dropdown-item">Export Email list XLSX [All]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'phoneactiveuser-student'})}}" class="dropdown-item">Export Phone List XLSX [Active]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'pdf', 'entity': 'user-student'})}}" class="dropdown-item">PDF</a>
                            <a class="dropdown-item" href="{{path('show_balances')}}">Balances</a>

                        </div>
                    </div>
                

                    <div class="table-responsive">
                        {% set uigArr = [] %}
                        {% for payment in student.payments|reverse %}
                            {% set uig = payment.uig %}
                            {% set fullpricePerSession = uig.sessions|first.package.price / 12 %}
                            {% set feesToPay = fullpricePerSession * uig.sessions|length %}
                            {% set balance = uig.payments and uig.payments|length > 0 ? uig.payments|last.balance : feesToPay %}  
                            {% if uig.id not in uigArr %}             
                            {% set uigArr = uigArr|merge([uig.id ]) %}
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ uig.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{ uig }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date Started</th>
                                        <td>{{ uig.sessions|first.startingOn|date('jS M Y') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Instrument</th>
                                        <td>{{ uig.instrument }}</td>
                                    </tr>
                                    <tr>
                                        <th>Teacher</th>
                                        <td>{{ uig.sessions|first.teacher }}</td>
                                    </tr>
                                    <tr>
                                        <th>Phone Number</th>
                                        <td>{{ student.studentData.phone }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ student.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Next Of Kin Phone Number</th>
                                        <td>{{ student.studentData.nextofkinphonenum }}</td>
                                    </tr>
                                    <tr>
                                        <th>Balance</th>
                                        <td>{{ balance }}</td>
                                    </tr>
                                    <tr>
                                        <th>Actions</th>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Actions">
                                                <a class="btn mb-1 btn-info" href="{{ path('session_show', {'id': uig.sessions|first.id}) }}">MORE</a>
                                                <button type="button" class="btn btn-sm mb-1 btn-primary" data-toggle="modal" style="white-space: nowrap;" data-target="#paymentModal" data-amttopay="{{uig.payments|last.balance}}" data-uigid="{{uig.id}}" data-from="{{uig.studentUserData.student == null ? 'NULL' : uig.studentUserData.student.fullname}}"><i class="fa fa-money"></i> ADD PAYMENT</button>
                                                <a class="btn btn-sm mb-1 btn-warning" href="{{ path('admin-payments-list', {'uig_id': uig.id}) }}" class="btn btn-sm mb-1 btn-info" style="white-space: nowrap;"><i class="fa fa-money"></i>PAYMENTS</a>
                                                {% if uig.sessions|length > 0 %}<a href="{{path('user_instrument_grade_show', {'id': uig.id})}}" class="btn btn-sm mb-1 btn-info" style="white-space: nowrap;" > ALL SESSIONS</a>{% endif %}
                                                {# <a href="{{path('print_form', {'uig_id': uig.id})}}" style="white-space: nowrap;" class="btn btn-sm mb-1 btn-primary" id="print-form" > DOWNLOAD FORM</a> #}
                                                <a href="{{path('student-edit-admin', {'studentid': uig.studentUserData.student == null ? 1 : uig.studentUserData.student.id})}}" style="white-space: nowrap;" class="btn btn-sm mb-1 btn-info" id="print-form" >EDIT DETAILS</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
                
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>

<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalLabel">Payment</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="amount" class="col-form-label">Amount:</label>
            <input type="text" class="form-control amount" id="amount">
            <p id="uigidval" style="display:none;"></p>
          </div>
          <div class="form-group">
            <label for="receipt_number" class="col-form-label">Receipt Number:</label>
            <input type="text" placeholder="Receipt Number" class="form-control receipt_number" id="receipt_number">
          </div>
          <div class="form-group">
            <label for="date_of_payment" class="col-form-label">Date of Payment:</label>
            <input type="text" placeholder="YYYY-MM-DD" class="form-control date_of_payment" value="{{'now'|date('Y-m-d')}}" id="date_of_payment">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn mb-1 btn-primary" id="add_payment">Add Payment</button>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="holder" value="">

{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    <script>
        $('#paymentModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var uigid = button.data('uigid') // Extract info from data-* attributes
            var from = button.data('from') // Extract info from data-* attributes
            var amttopay = button.data('amttopay') // Extract info from data-* attributes
            $("#holder").val(amttopay);
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            console.log('uigid: ' + uigid);
            modal.find('.modal-title').text('Payment from ' + from)
            modal.find('.modal-body p').text(uigid)
            modal.find('.modal-body .amount').val(amttopay)
            //$("#add_payment").prop('disabled', true);
            $("#receipt_number").val("");
        })
    </script>
    <script>
        $("#add_payment").click( function () {

            //$("#add_payment").prop('disabled', true);
            var uigid = $("#uigidval").text();
            var amount = $("#amount").val();
            var receipt_number = $("#receipt_number").val();
            var date_of_payment = $("#date_of_payment").val();
            console.log([uigid, amount, receipt_number, date_of_payment]);

            $.ajax({
                url:'{{ (path('add_payment')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "uigid": uigid,
                    "amount": amount,
                    "receipt_number": receipt_number,
                    "date_of_payment": date_of_payment,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script>
        //$(".amount").on('keyup', function() {
        //    var amount = parseInt($("#amount").val());
        //    var balance = parseInt($('#holder').val());
//
        //    if(amount > balance || !$("#receipt_number").val()){
        //        $("#add_payment").prop('disabled', true);
        //    } else {
        //        $("#add_payment").prop('disabled', false);
        //    }
        //    console.log('greater than? '+ amount > balance);
        //    console.log('empty? '+ $("#receipt_number").val());
        //});
        //$(".receipt_number").on('keyup', function() {
        //    var amount = parseInt($("#amount").val());
        //    var balance = parseInt($('#holder').val());
//
        //    if(amount > balance || !$(this).val()){
        //        $("#add_payment").prop('disabled', true);
        //    } else {
        //        $("#add_payment").prop('disabled', false);
        //    }
        //    console.log('greater than? '+ amount > balance);
        //    console.log('empty? '+ !$(this).val());
        //})
    </script>
{% endblock %}
