{% extends 'adm_base.html.twig' %}

{% block title %}Add student{% endblock %}
{% block stylesheets %}
<style>
    .icon {
        font-size: 20px; 
        margin-right: 1rem!important;
        margin-left: 1rem!important;
    }
    .image_area {
        position: relative;
    }

    img {
        display: block;
        max-width: 100%;
    }

    .preview {
        overflow: hidden;
        width: 160px; 
        height: 160px;
        margin: 10px;
        border: 1px solid red;
    }

    .modal-lg{
        max-width: 1000px !important;
    }

    .overlay {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
        height: 0;
        transition: .5s ease;
        width: 100%;
    }

    .image_area:hover .overlay {
        height: 50%;    }

    .text {
        color: #333;
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
</style>

{% endblock %}

{% block body %}





    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">New Student</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Add Student</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <form id="savestudentfrmadmin" action="/save/student/from/admin" method="post">
            <div class="row">
                <div class="col-sm-8">

                    <div class="card-box">
                        <h4 class="m-t-0 header-title">Client's Bio Settings</h4>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="fullname" class="col-form-label">Fullname</label>
                                <input class="form-control" type="text" placeholder="Full Name" name="fullname">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email" class="col-form-label">Email</label>
                                <input class="form-control" type="email" placeholder="user@example.com" name="email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone" class="col-form-label">Phone Number</label>
                                <input class="form-control" type="text" placeholder="Phone number" name="phone">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputZip" class="col-form-label">Gender</label>
                                <select class="form-control" id="sex" name="sex">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="card-box">
                        <h4 class="m-t-0 header-title">Learner's Details</h4>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="sibling_name" class="col-form-label">Fullname</label>
                                <input class="form-control" type="text" placeholder="Full Name" name="sibling_name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="age" class="col-form-label">Age</label>
                                <input class="form-control" type="text" placeholder="Learner's Age"  id="age" name="age">
                            </div>
                        </div>

                    </div>
                    <div class="card-box">
                        <h4 class="m-t-0 header-title">Next of Kin Details</h4>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="kinfullname" class="col-form-label">Fullname</label>
                                <input class="form-control" type="text" placeholder="Full Name" name="kinfullname">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="kinemail" class="col-form-label">Email</label>
                                <input class="form-control" type="email" placeholder="user@example.com" name="kinemail">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone" class="col-form-label">Phone Number</label>
                                <input class="form-control" type="text" placeholder="Phone number" name="kinphone">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="kinrship" class="col-form-label">Relationship</label>
                                <select class="form-control" id="kinrship" name="kinrship">
                                    <option value="parent">Parent</option>
                                    <option value="spouse">Spouse</option>
                                    <option value="sponsor">Sponsor</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="card-box">
                        <h4 class="m-t-0 header-title">Academic Information</h4>

                        <div class="form-group">
                            <label for="branch" class="col-form-label">Branch</label>
                            <select class="form-control" id="branch" name="branch">
                                <option>Click to change</option>
                                <option selected value="main">Main</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2" class="col-form-label">Mode of Lessons</label>
                            <select class="form-control" id="lessonmode" name="lessonmode">
                                <option>Click to change</option>
                                <option value="physical">Physical</option>
                                <option value="online">Online</option>
                            </select>
                        </div>

                    </div>
                </div>
                <!-- end row -->
                

                <div class="col-sm-4">

                    <div class="card-box">

                        <h4 class="header-title mt-0 mb-3">Add Instrument(s)</h4>

                        <div class="form-group">
                        {% for ins in data.instruments %}
                        <div style="width:50%; float:left;">
                            <p>
                                <a class="btn mb-1 btn-primary" data-toggle="collapse" href="#insid-{{ins.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    {{ins.name}}
                                </a>
                            </p>
                            <div class="collapse" id="insid-{{ins.id}}">
                                <div class="panel panel-primary panel-body">
                                    <div class="form-group">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="instrument[{{ins.id}}]" id="ins-{{ins.id}}" value="{{ins.id}}">
                                            <label class="form-check-label" for="ins-{{ins.id}}">{{ins.name}}</label>
                                        </div>
                                        <select class="form-control" id="grade-{{ins.id}}" name="grade[{{ins.id}}]" disabled>
                                            <option value="">Select Grade</option>
                                            {% for grade in data.instrumentGrades %}
                                                <option value="{{grade.id}}">{{grade.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        {% endfor %}
                        {% for ins in data.courses %}
                            <p>
                                <a class="btn mb-1 btn-primary" data-toggle="collapse" href="#insid-{{ins.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    {{ins.name}}
                                </a>
                            </p>
                            <div class="collapse" id="insid-{{ins.id}}">
                                <div class="panel panel-primary panel-body">
                                    <div class="form-group">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="instrument[{{ins.id}}]" id="ins-{{ins.id}}" value="{{ins.id}}">
                                            <label class="form-check-label" for="ins-{{ins.id}}">{{ins.name}}</label>
                                        </div>
                                        <select class="form-control" id="grade-{{ins.id}}" name="grade[{{ins.id}}]" disabled>
                                            <option value="">Select Grade</option>
                                            {% for grade in data.instrumentGrades %}
                                                <option value="{{grade.id}}">{{grade.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>    
                        {% endfor %}
                        {% for ins in data.traditional %}
                            <p>
                                <a class="btn mb-1 btn-primary" data-toggle="collapse" href="#insid-{{ins.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    {{ins.name}}
                                </a>
                            </p>
                            <div class="collapse" id="insid-{{ins.id}}">
                                <div class="panel panel-primary panel-body">
                                    <div class="form-group">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="instrument[{{ins.id}}]" id="ins-{{ins.id}}" value="{{ins.id}}">
                                            <label class="form-check-label" for="ins-{{ins.id}}">{{ins.name}}</label>
                                        </div>
                                        <select class="form-control" id="grade-{{ins.id}}" name="grade[{{ins.id}}]" disabled>
                                            <option value="">Select Grade</option>
                                            {% for grade in data.instrumentGrades %}
                                                <option value="{{grade.id}}">{{grade.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>    
                        {% endfor %}
                        </div>

                    </div>

                </div>
            </div>   
            <div class="row">
                <div class="col-xl-4">
                    <button id="" class="btn btn-success btn-md waves-effect waves-light mb-3" type="submit">Save&nbsp;Student</button>
                </div><!-- end col -->
            </div>

        </form>

    </div> <!-- container-fluid -->

{% endblock %}
{# {% block footer %}{% endblock %} #}
{% block javascripts %}
    <script src="{{asset('assets/js/sidebar.js')}}"></script>
		<link rel="stylesheet" href="https://unpkg.com/dropzone/dist/dropzone.css" />
		<link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet"/>
		<script src="https://unpkg.com/dropzone"></script>
		<script src="https://unpkg.com/cropperjs"></script>
        <script>
        $('[id^="ins-"]').click( function () {

            var id = jQuery(this).attr("id").split("-")[1];
            // console.log(id);
            if($(this).is(':checked')){
                $('#grade-'+id).prop('disabled', false);
            } else {
                $('#grade-'+id).prop('disabled', true);
            }
            // $('#grade-'+id).prop('disabled', (i, v) => !v);


        });
        </script>
	<script>
	  $(document).on('click', '#addstudentsubmit', function(){

	  		var form = document.getElementById("savestudentfrmadmin");
            var form_data = $( form ).serializeArray();
            var valid = validateForm(form_data);
            console.log('valid: ' + valid);
            if(valid){
                $.ajax({
                url:'{{path("savestudentfromadmin")}}',
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType: "json",
                data: new FormData(form),
                async: true,
                success: function (data)
                {
                    console.log(data);
                    window.location.href = "{{path('admin-teachers-list')}}" ;
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
	         });

            } else {
                console.log('form not valid');
            }
	  });
	</script>

    
{% endblock %}