{% extends 'adm_base.html.twig' %}

{% block title %}Edit student details - {{student.fullname}}{% endblock %}
{% block stylesheets %}
<style>
    .icon {
        font-size: 20px; 
        margin-right: 1rem!important;
        margin-left: 1rem!important;
    }
    .image_area {
        position: relative;
    }

    img {
        display: block;
        max-width: 100%;
    }

    .preview {
        overflow: hidden;
        width: 160px; 
        height: 160px;
        margin: 10px;
        border: 1px solid red;
    }

    .modal-lg{
        max-width: 1000px !important;
    }

    .overlay {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
        height: 0;
        transition: .5s ease;
        width: 100%;
    }

    .image_area:hover .overlay {
        height: 50%;    }

    .text {
        color: #333;
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
</style>

{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Edit Student</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">{{student.fullname}} | Edit student details</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
        {% if student is not null %}
        <div class="row">
            <div class="col-xl-4">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success btn-md waves-effect waves-light mb-3" data-toggle="modal" data-target="#exampleModal">
                    Siblings
                </button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success btn-md waves-effect waves-light mb-3" data-toggle="modal" data-target="#newTermModal">
                    Open Student for New Sessions
                </button>
            </div><!-- end col -->
        </div>

        <form id="" method="post" action="/edit/student/from/admin">
            <div class="row">
                <div class="col-sm-8">

                    <div class="card-box">
                        <h4 class="m-t-0 header-title">Learner's Bio Settings</h4>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="fullname" class="col-form-label">Fullname</label>
                                <input class="form-control" type="text" placeholder="Full Name" name="fullname" value="{{student.fullname}}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email" class="col-form-label">Email</label>
                                <input class="form-control" type="email" placeholder="user@example.com" name="email" value="{{student.email}}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone" class="col-form-label">Phone Number</label>
                                <input class="form-control" type="text" placeholder="Phone number" name="phone" value="{{student.studentdata.phone}}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputZip" class="col-form-label">Gender</label>
                                <select class="form-control" id="sex" name="sex">
                                    <option {{student.studentdata.sex == 'male' ? 'selected' : ''}} value="male">Male</option>
                                    <option {{student.studentdata.sex == 'female' ? 'selected' : ''}} value="female">Female</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="card-box">
                        <h4 class="m-t-0 header-title">Learner's Details</h4>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="sibling_name" class="col-form-label">Fullname</label>
                                <input class="form-control" type="text" placeholder="Full Name" value="{{ student.studentdata.userInstruments | last.siblingname | default("not-set") }}" name="sibling_name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="age" class="col-form-label">Age</label>
                                <input class="form-control" type="text" placeholder="Learner's Age" value="{{ student.studentdata.age }}"  id="age" name="age">
                            </div>
                        </div>

                    </div>
                    <div class="card-box">
                        <h4 class="m-t-0 header-title">Next of Kin Details</h4>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="kinfullname" class="col-form-label">Fullname</label>
                                <input class="form-control" type="text" placeholder="Full Name" name="kinfullname" value="{{student.studentdata.nextofkinname|default("not-set")}}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="kinemail" class="col-form-label">Email</label>
                                <input class="form-control" type="email" placeholder="user@example.com" name="kinemail" value="{{student.studentdata.nextofkinemail|default("not-set")}}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone" class="col-form-label">Phone Number</label>
                                <input class="form-control" type="text" placeholder="Phone number" name="kinphone" value="{{student.studentdata.nextofkinphonenum|default("not-set")}}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="kinrship" class="col-form-label">Relationship</label>
                                <select class="form-control" id="kinrship" name="kinrship">
                                    <option {{student.studentdata.nextofkinrship == 'parent' ? 'selected' : ''}} value="parent">Parent</option>
                                    <option {{student.studentdata.nextofkinrship == 'spouse' ? 'selected' : ''}} value="spouse">Spouse</option>
                                    <option {{student.studentdata.nextofkinrship == 'sponsor' ? 'selected' : ''}} value="sponsor">Sponsor</option>
                                    <option {{student.studentdata.nextofkinrship == 'other' ? 'selected' : ''}} value="other">Other</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="card-box">
                        <h4 class="m-t-0 header-title">Academic Information</h4>

                        <div class="form-group">
                            <label for="branch" class="col-form-label">Branch</label>
                            <select class="form-control" id="branch" name="branch">
                                <option>Click to change</option>
                                <option selected value="main">Main</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2" class="col-form-label">Mode of Lessons</label>
                            <select class="form-control" id="lessonmode" name="lessonmode">
                                <option>Click to change</option>
                                <option {{student.studentdata.lessonmode == 'physical' ? 'selected' : ''}} value="physical">Physical</option>
                                <option {{student.studentdata.lessonmode == 'online' ? 'selected' : ''}} value="online">Online</option>
                            </select>
                        </div>

                    </div>
                    <input type="hidden" name="userid" value="{{student.id}}" >
                </div>
                <!-- end row -->
                

                <div class="col-sm-4">

                    <div class="card-box">
                        <div class="dropdown float-right">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                            </div>
                        </div>

                        <h4 class="header-title mt-0 mb-3">Add Instruments</h4>

                        <div class="form-group">
                            {% for ins in data.instruments %}
                            <div style="width:50%; float:left;">
                                <p>
                                    <a class="btn btn-{{ins.id in data.myInstruments ? 'success' : 'primary'}}" data-toggle="collapse" href="#insid-{{ins.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        {{ins.name}}
                                    </a>
                                </p>
                                <div class="collapse" id="insid-{{ins.id}}">
                                    <div class="card panel-body">
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" {{ins.id in data.myInstruments ? 'checked' : ''}} name="instrument[{{ins.id}}]" id="ins-{{ins.id}}" value="{{ins.id}}">
                                                <label class="form-check-label" for="ins-{{ins.id}}">{{ins.name}}</label>
                                            </div>
                                            <select class="form-control" id="grade-{{ins.id}}" name="grade[{{ins.id}}]" {{ins.id in data.myInstruments ? '' : 'disabled'}}>
                                                <option value="">Select Grade</option>
                                                {% for grade in data.instrumentGrades %}
                                                {% set gdins = ins.id ~ '-' ~ grade.id %}
                                                    <option value="{{grade.id}}" {{ gdins in data.myGrades ? 'selected' : '' }}>{{grade.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>   
                            </div> 
                            {% endfor %}
                            {% for ins in data.courses %}
                                <p>
                                    <a class="btn btn-{{ins.id in data.myInstruments ? 'success' : 'primary'}}" data-toggle="collapse" href="#insid-{{ins.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        {{ins.name}}
                                    </a>
                                </p>
                                <div class="collapse" id="insid-{{ins.id}}">
                                    <div class="card panel-body">
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" {{ins.id in data.myInstruments ? 'checked' : ''}} name="instrument[{{ins.id}}]" id="ins-{{ins.id}}" value="{{ins.id}}">
                                                <label class="form-check-label" for="ins-{{ins.id}}">{{ins.name}}</label>
                                            </div>
                                            <select class="form-control" id="grade-{{ins.id}}" name="grade[{{ins.id}}]" {{ins.id in data.myInstruments ? '' : 'disabled'}}>
                                                <option value="">Select Grade</option>
                                                {% for grade in data.instrumentGrades %}
                                                {% set gdins = ins.id ~ '-' ~ grade.id %}
                                                    <option value="{{grade.id}}" {{ gdins in data.myGrades ? 'selected' : '' }}>{{grade.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>    
                            {% endfor %}
                            {% for ins in data.traditional %}
                                <p>
                                    <a class="btn btn-{{ins.id in data.myInstruments ? 'success' : 'primary'}}" data-toggle="collapse" href="#insid-{{ins.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        {{ins.name}}
                                    </a>
                                </p>
                                <div class="collapse" id="insid-{{ins.id}}">
                                    <div class="card panel-body">
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" {{ins.id in data.myInstruments ? 'checked' : ''}} name="instrument[{{ins.id}}]" id="ins-{{ins.id}}" value="{{ins.id}}">
                                                <label class="form-check-label" for="ins-{{ins.id}}">{{ins.name}}</label>
                                            </div>
                                            <select class="form-control" id="grade-{{ins.id}}" name="grade[{{ins.id}}]" {{ins.id in data.myInstruments ? '' : 'disabled'}}>
                                                <option value="">Select Grade</option>
                                                {% for grade in data.instrumentGrades %}
                                                {% set gdins = ins.id ~ '-' ~ grade.id %}
                                                    <option value="{{grade.id}}" {{ gdins in data.myGrades ? 'selected' : '' }}>{{grade.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>    
                            {% endfor %}
                        </div>

                    </div>

                </div>
            </div>   
            <div class="row">
                <div class="col-xl-4">
                    <button id="" class="btn btn-success btn-md waves-effect waves-light mb-3" type="submit">Update&nbsp;Student</button>
                </div><!-- end col -->
            </div>

        </form>
        {% else %}
            <p>Student doesn't exist</p>
        {% endif %}

    </div> <!-- container-fluid -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{student.fullname}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="panel panel-primary mb-3">
                <div class="panel-heading py-3">
                    Add Siblings
                </div>
                <div class="panel-body">
                    <form id="siblingForm">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-info">Siblings under this account: <br />
                                            <span id="instruments-list">
                                            {% for uig_with_sibling in student.studentdata.userInstruments|filter( userInstrument => userInstrument.siblingname|length > 0 )  %}
                                                {# <strong>{{student_instrument.instrument.name}} {{student_instrument.grade.name}} {{loop.last ? ' ' : ', '}}</strong> #}
                                                    <span id="sib-{{uig_with_sibling.id}}">
                                                        <a href="{{ uig_with_sibling.sessions|length > 0 ? path('session_show', {'id': uig_with_sibling.sessions|first.id }) : path('admin-teachers-list') }}" id="uigid-{{uig_with_sibling.id}}" class="btn mb-1 btn-info" style="margin-top:1rem;margin-bottom:1rem;">
                                                            {{uig_with_sibling.siblingname}} {{uig_with_sibling.instrument.name}} {{uig_with_sibling.grade.name}}&nbsp;&nbsp;&nbsp;
                                                        </a>                                                    
                                                        {% if uig_with_sibling.sessions|length > 0 %}{% else %}
                                                        <span style="cursor:pointer" id="delete-{{uig_with_sibling.id}}" class="badge badge-danger">x</span>
                                                        {% endif %}
                                                    </span>
                                            {% endfor %}
                                            </span><br />
                                            After adding a sibling below, Create sessions for (Assign teacher to) the new sibling from a teacher's calendar.                                                
                                        </div>
                                        <div class="form-group">
                                            <label for="grade"><strong>Sibling's name</strong></label>
                                            <input type="text" class="form-control" name="siblingname" id="siblingname" placeholder="Add sibling name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="instrument"><strong>Instrument</strong></label>
                                        <select class="custom-select form-control" name="myinstrument" data-toggle="tooltip" data-bs-tooltip="" required="">
                                            <optgroup label="Instruments">
                                                {% for ins in data.instruments %}
                                                    <option value="{{ins.id}}">{{ins.name}}</option>
                                                {% endfor %}
                                            </optgroup>
                                            <optgroup label="Courses">
                                                {% for ins in data.courses %}
                                                    <option value="{{ins.id}}">{{ins.name}}</option>
                                                {% endfor %}                                    
                                            </optgroup>
                                            <optgroup label="Group classes ">
                                                {% for ins in data.traditional %}
                                                    <option value="{{ins.id}}">{{ins.name}}</option>
                                                {% endfor %}
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"><label for="grade"><strong>Level</strong></label>
                                            <select class="form-control" id="grade" name="mygrade">
                                                {% for grade in data.instrumentGrades %}
                                                    <option value="{{grade.id}}">{{grade.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button id="addsibling" class="btn btn-primary btn-sm" type="button">Add&nbsp;Sibling</button>
                                </div>
                        <input type="hidden" name="userid" value="{{student.id}}" >
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newTermModal" tabindex="-1" role="dialog" aria-labelledby="newTermModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="newTermModal">{{student.fullname}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="panel panel-primary mb-3">
                <div class="panel-heading py-3">
                    Avail Student for More Sessions
                </div>
                <div class="panel-body">
                    <form id="termForm">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-info">Previous Sessions: <br />
                                            <span id="instruments-list">
                                            {% for uig in student.studentdata.userInstruments %}
                                                {# <strong>{{student_instrument.instrument.name}} {{student_instrument.grade.name}} {{loop.last ? ' ' : ', '}}</strong> #}
                                                    <span id="sib-{{uig.id}}">
                                                        <a href="{{ uig.sessions|length > 0 ? path('session_show', {'id': uig.sessions|first.id }) : path('admin-teachers-list') }}" id="uigid-{{uig.id}}" class="btn mb-1 btn-info" style="margin-top:1rem;margin-bottom:1rem;">
                                                            {{uig}}&nbsp;&nbsp;&nbsp;
                                                        </a>                                                    
                                                        {% if uig.sessions|length > 0 %}{% else %}
                                                        <span style="cursor:pointer" id="delete-{{uig.id}}" class="badge badge-danger">x</span>
                                                        {% endif %}
                                                    </span>
                                            {% endfor %}
                                            </span><br />
                                            After opening a student for new sessions, the student will be available for assigning of lessons.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="instrument"><strong>Instrument</strong></label>
                                        <select class="custom-select form-control" name="myinstrument" data-toggle="tooltip" data-bs-tooltip="" required="">
                                            <optgroup label="Instruments">
                                                {% for ins in data.instruments %}
                                                    <option value="{{ins.id}}">{{ins.name}}</option>
                                                {% endfor %}
                                            </optgroup>
                                            <optgroup label="Courses">
                                                {% for ins in data.courses %}
                                                    <option value="{{ins.id}}">{{ins.name}}</option>
                                                {% endfor %}                                    
                                            </optgroup>
                                            <optgroup label="Group classes ">
                                                {% for ins in data.traditional %}
                                                    <option value="{{ins.id}}">{{ins.name}}</option>
                                                {% endfor %}
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"><label for="grade"><strong>Level</strong></label>
                                            <select class="form-control" id="grade" name="mygrade">
                                                {% for grade in data.instrumentGrades %}
                                                    <option value="{{grade.id}}">{{grade.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button id="addterm" class="btn btn-primary btn-sm" type="button">Open</button>
                                </div>
                        <input type="hidden" name="userid" value="{{student.id}}" >
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
{% endblock %}
{# {% block footer %}{% endblock %} #}
{% block javascripts %}
    <script src="{{asset('assets/js/sidebar.js')}}"></script>
		<link rel="stylesheet" href="https://unpkg.com/dropzone/dist/dropzone.css" />
		<link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet"/>
		<script src="https://unpkg.com/dropzone"></script>
		<script src="https://unpkg.com/cropperjs"></script>
        <script>
        $('[id^="ins-"]').click( function () {

            var id = jQuery(this).attr("id").split("-")[1];
            // console.log(id);
            if($(this).is(':checked')){
                $('#grade-'+id).prop('disabled', false);
            } else {
                $('#grade-'+id).prop('disabled', true);
            }
            // $('#grade-'+id).prop('disabled', (i, v) => !v);


        });
        </script>
        <script>
            
            $(document).on('click', '[id^="delete-"]', function(){
                var id = jQuery(this).attr("id").split("-")[1];
                $.ajax({
                    url:'{{ (path('removeinstrument')) }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "uigid": id,
                    },
                    async: true,
                    success: function (data)
                    {
                        $('#uigid-'+id).remove();
                        $('#sib-'+id).remove();
                        console.log(data);
                        $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: "Instrument deleted successfully" },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });

            })
        </script>
	<script>
	  $(document).on('click', '#editstudentsubmit', function(){

	  		var form = document.getElementById("editstudentfrmadmin");
            var form_data = $( form ).serializeArray();
            var valid = validateForm(form_data);
            console.log('valid: ' + valid);
            if(valid){
                $.ajax({
                url:'{{path("editstudentfromadmin")}}',
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType: "json",
                data: new FormData(form),
                async: true,
                success: function (data)
                {
                    console.log(data);
                    window.location.href = "{{path('admin-teachers-list')}}";
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
	         });

            } else {
                console.log('form not valid');
            }
	  });
	</script>

	<script>
	  $(document).on('click', '#addsibling', function(){

	  		var form = document.getElementById("siblingForm");
            var form_data = $( form ).serializeArray();
            var valid = validateForm(form_data);
            console.log('valid: ' + valid);
            if(valid){
                $.ajax({
                url:'{{path("addsiblingfromadmin")}}',
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType: "json",
                data: new FormData(form),
                async: true,
                success: function (data)
                {
                    console.log(data);
                    window.location.href = "{{path('admin-teachers-list')}}";
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
	         });

            } else {
                console.log('form not valid');
            }
	  });
	</script>

	<script>
	  $(document).on('click', '#addterm', function(){

	  		var form = document.getElementById("termForm");
            var form_data = $( form ).serializeArray();
            var valid = validateForm(form_data);
            console.log('valid: ' + valid);
            if(valid){
                $.ajax({
                url:'{{path("addtermfromadmin")}}',
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType: "json",
                data: new FormData(form),
                async: true,
                success: function (data)
                {
                    console.log(data);
                    window.location.href = "{{path('admin-teachers-list')}}";
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
	         });

            } else {
                console.log('form not valid');
            }
	  });
	</script>

    
{% endblock %}