{% extends 'adm_base.html.twig' %}

{% block title %}Students{% endblock %}
{% block stylesheets %}
   <!-- DataTables CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
   <!-- DataTables Responsive CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    <style>
        .btn-group {
        display: flex;
        }
    </style>
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Students List</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Students List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card-box">

                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'user-student'})}}" class="dropdown-item">Export Email list XLSX [All]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'phoneactiveuser-student'})}}" class="dropdown-item">Export Phone List XLSX [Active]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'pdf', 'entity': 'user-student'})}}" class="dropdown-item">PDF</a>
                            <a class="dropdown-item" href="{{path('show_balances')}}">Balances</a>

                        </div>
                    </div>
                    <table class="table" id="datatable" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Full Name</th>
                                <th>Learner Name</th>
                                <th>Email</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                            <tr>
                                <td>{{student.id}}</td>
                                <td>{{student.fullname}}</td>
                                <td>{{ student.studentdata and student.studentdata is not null ? student.studentdata.userInstruments|last : 'N/A'}}</td>
                                <td>{{student.email}}</td>
                                <td>
                                    <button type="button" class="btn mb-1 btn-secondary view-details" data-id="{{ student.id }}">View</button>
                                    <a class="btn mb-1 btn-primary" href="{{path('student_details_admin', {'student_id': student.id})}}">Details</a> 
                                    <a class="btn mb-1 btn-info" href="{{path('preview_invoice_user', {'user_id': student.id})}}">Invoice</a>
                                </td>
                            </tr>
                        {% else %}
                        <p> No records found </p>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->

<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewModalLabel">Student Details</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
        <!-- This will be filled dynamically with AJAX -->
        <div id="viewModalContent">
          Loading details...
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}
{% block javascripts %}
   <!-- DataTables JS -->
   <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
   <!-- DataTables Responsive JS -->
   <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>

   <script type="text/javascript">
     $(document).ready(function() {
       $('#datatable').DataTable({
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate
                }
            }

       });
     });
   </script>
    <script src="{{asset('adm/assets/libs/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/vfs_fonts.js') }}"></script>
    <!-- Datatables init -->

<script>
    $(document).on('click', '.view-details', function () {
        const studentId = $(this).data('id');
        const modalContent = $('#viewModalContent');
        
        // Show loading text
        modalContent.html('Loading details...');
        
        // Send AJAX request
        $.ajax({
            url: '{{ path("fetch_student_details") }}', // Replace with your route name
            method: 'GET',
            data: { id: studentId },
            success: function (response) {
                // Populate the modal content with fetched data
                modalContent.html(response);
                $('#viewModal').modal('show'); // Show the modal
            },
            error: function () {
                modalContent.html('Failed to load details. Please try again.');
            }
        });
    });
</script>

{% endblock %}

