{% extends 'adm_base.html.twig' %}

{% block title %}Teachers' Invoices{% endblock %}
{% block stylesheets %}
    <link href="{{asset('adm/assets/libs/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/responsive.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/buttons.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/select.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <style>
        .btn-group {
        display: flex;
        }
    </style>
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Teachers Invoice List</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Teachers Invoice List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card-box">

                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            {# <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'user-student'})}}" class="dropdown-item">Export Email list XLSX [All]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'phoneactiveuser-student'})}}" class="dropdown-item">Export Phone List XLSX [Active]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'pdf', 'entity': 'user-student'})}}" class="dropdown-item">PDF</a> #}
                        </div>
                    </div>

                    <table id="responsive-datatable" class="table table-striped table-bordered dt-responsive">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th style="text-align:right;">Owed</th>
                                <th style="text-align:right;">actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for name, amount in invList %}
                            <tr>
                                <td>{{ name|split('-')[0] }}</td>
                                <td style="text-align:right;">{{ amount }}</td>
                                <td style="text-align:right;">
                                    <a href="{{path('admin_session_calendar', {'teacher_id': name|split('-')[1] })}}" class="btn btn-primary btn-sm">Calendar</a>
                                    <a href="{{path('admin-teacher-students-list', {'teacher_id': name|split('-')[1] })}}" class="btn btn-primary btn-sm">Reports</a>                                        
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <th>Total</th>
                                <th style="text-align:right;">{{total}}</th>
                                <th>
                                </th>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->
    
{% endblock %}
{% block javascripts %}
    <script src="{{asset('adm/assets/libs/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.bootstrap4.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.flash.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.print.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.keyTable.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.select.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/vfs_fonts.js') }}"></script>
    <!-- Datatables init -->
    <script src="{{asset('adm/assets/js/pages/datatables.init.js') }}"></script>
{% endblock %}
