{% extends 'adm_base.html.twig' %}

{% block title %}Teachers{% endblock %}
{% block stylesheets %}
{# <link rel="stylesheet" href="{{asset('assets/css/card.css')}}"> #}
<style>
{# .parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  }

.child {
  display: flex;
  flex-direction: column;
} #}
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");
html {
  position: relative;
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #324e63;
}

a, a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper {
  width: 100%;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
  padding-top: 100px;
  display: flex;
  background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
  display: flex;
  background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
}
@media screen and (max-width: 768px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
  }
}

.profile-card {
  min-height: 460px;
  margin: auto;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: #fff;
  border-radius: 12px;
  position: relative;
  margin-top:100px;
}
.profile-card.active .profile-card__cnt {
  filter: blur(6px);
}
.profile-card.active .profile-card-message,
.profile-card.active .profile-card__overlay {
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0.1s;
}
.profile-card.active .profile-card-form {
  transform: none;
  transition-delay: 0.1s;
}
.profile-card__img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 5px 50px 0px #6c44fc, 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
}
@media screen and (max-width: 576px) {
  .profile-card__img {
    width: 120px;
    height: 120px;
  }
}
.profile-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-card__cnt {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  transition: all 0.3s;
}
.profile-card__name {
  font-weight: 700;
  font-size: 24px;
  color: #6944ff;
  margin-bottom: 15px;
}
.profile-card__txt {
  font-size: 18px;
  font-weight: 500;
  color: #324e63;
  margin-bottom: 15px;
}
.profile-card__txt strong {
  font-weight: 700;
}
.profile-card-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
.profile-card-loc__icon {
  display: inline-flex;
  font-size: 27px;
  margin-right: 10px;
}
.profile-card-inf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 35px;
}
.profile-card-inf__item {
  padding: 10px 35px;
  min-width: 150px;
}
@media screen and (max-width: 768px) {
  .profile-card-inf__item {
    padding: 10px 20px;
    min-width: 120px;
  }
}
.profile-card-inf__title {
  font-weight: 700;
  font-size: 27px;
  color: #324e63;
}
.profile-card-inf__txt {
  font-weight: 500;
  margin-top: 7px;
}
.profile-card-social {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.profile-card-social__item {
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #405de6;
  box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
  position: relative;
  font-size: 21px;
  flex-shrink: 0;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .profile-card-social__item {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .profile-card-social__item:hover {
    transform: scale(1.2);
  }
}
.profile-card-social__item.facebook {
  background: linear-gradient(45deg, #3b5998, #0078d7);
  box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
}
.profile-card-social__item.twitter {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
}
.profile-card-social__item.instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
}
.profile-card-social__item.behance {
  background: linear-gradient(45deg, #1769ff, #213fca);
  box-shadow: 0px 4px 30px rgba(27, 86, 231, 0.7);
}
.profile-card-social__item.github {
  background: linear-gradient(45deg, #333333, #626b73);
  box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
}
.profile-card-social__item.codepen {
  background: linear-gradient(45deg, #324e63, #414447);
  box-shadow: 0px 4px 30px rgba(55, 75, 90, 0.6);
}
.profile-card-social__item.link {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.6);
}
.profile-card-social .icon-font {
  display: inline-flex;
}
.profile-card-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media screen and (max-width: 576px) {
  .profile-card-ctr {
    flex-wrap: wrap;
  }
}
.profile-card__button {
  background: none;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  margin: 10px 25px;
  padding: 5px 20px;
  border-radius: 20px;
  min-height: 35px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .profile-card__button {
    min-width: 170px;
    margin: 15px 25px;
  }
}
@media screen and (max-width: 576px) {
  .profile-card__button {
    min-width: inherit;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px;
  }
  .profile-card__button:last-child {
    margin-bottom: 0;
  }
}
.profile-card__button:focus {
  outline: none !important;
}
@media screen and (min-width: 768px) {
  .profile-card__button:hover {
    transform: translateY(-5px);
  }
}
.profile-card__button:first-child {
  margin-left: 0;
}
.profile-card__button:last-child {
  margin-right: 0;
}
.profile-card__button.button--blue {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}
.profile-card__button.button--blue:hover {
  box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
}
.profile-card__button.button--orange {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
}
.profile-card__button.button--orange:hover {
  box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
}
.profile-card__button.button--gray {
  box-shadow: none;
  background: #dcdcdc;
  color: #142029;
}
.profile-card-message {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 130px;
  padding-bottom: 100px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.profile-card-form {
  box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 35px;
  transform: scale(0.8);
  position: relative;
  z-index: 3;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .profile-card-form {
    max-width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .profile-card-form {
    padding: 20px;
  }
}
.profile-card-form__bottom {
  justify-content: space-between;
  display: flex;
}
@media screen and (max-width: 576px) {
  .profile-card-form__bottom {
    flex-wrap: wrap;
  }
}
.profile-card textarea {
  width: 100%;
  resize: none;
  height: 210px;
  margin-bottom: 20px;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  padding: 15px 20px;
  color: #324e63;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  outline: none;
  transition: all 0.3s;
}
.profile-card textarea:focus {
  outline: none;
  border-color: #8a979e;
}
.profile-card__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(22, 33, 72, 0.35);
  border-radius: 12px;
  transition: all 0.3s;
}
</style>
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Teachers List</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Teachers List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-4">
                <a class="btn btn-primary btn-md waves-effect waves-light mb-3" href="{{path('file_export', {'filetype': 'pdf', 'entity': 'user-teacher'})}}"><i class="mdi mdi-download"></i>PDF</a>
                <a class="btn btn-primary btn-md waves-effect waves-light mb-3" href="{{path('file_export', {'filetype': 'excel', 'entity': 'user-teacher'})}}"><i class="mdi mdi-download"></i>Excel</a>
            </div><!-- end col -->
        </div>
        <!-- end row -->

        <div class="row">
        {% for teacher in listofteachers %}
            <div class="col-xl-4 col-md-6">        

            <div class="profile-card js-profile-card">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('admin_session_calendar', {'teacher_id': teacher.user.id })}}" class="dropdown-item">Calendar</a>
                            <!-- item-->
                            <a href="{{path('reporting_index', {'teacher_id': teacher.user.id })}}" class="dropdown-item">Reports<span class="badge badge-danger">{{teacher.user.teacherReports|filter( report => report.sent == null)|length}}</span></a>
                            <!-- item-->
                            <a target="_blank" href="{{teacher.user.teacherdata.resumelnk == null ? "#" : teacher.user.teacherdata.resumelnk | external_link[0]}}" class="dropdown-item">Resume link</a>
                        </div>
                    </div>
                <div class="profile-card__img">
                <img src="{{ teacher.user.photo is not null ? teacher.user.photo : asset('img/profile/person.png') }}" alt="profile-image">
                </div>

                <div class="profile-card__cnt js-profile-cnt">

                <div class="profile-card__name"><a href="{{path('teacher_profile_admin', {'teacher_id': teacher.user.id })}}">{{teacher.user.fullname}}</a></div>
                <div class="profile-card__txt">{{teacher.user.teacherdata.phone}}</div>
                <div class="profile-card__txt">{{teacher.user.email}}</div>

                <div class="profile-card-inf">
                    <div class="profile-card-inf__item">
                    <div class="profile-card-inf__title">{{teacher.hourly}}</div>
                    <div class="profile-card-inf__txt">Hourly</div>
                    </div>

                    <div class="profile-card-inf__item">
                    <div class="profile-card-inf__title">{{teacher.fourtyfive}}</div>
                    <div class="profile-card-inf__txt">45 minutes</div>
                    </div>

                    <div class="profile-card-inf__item">
                    <div class="profile-card-inf__title">{{teacher.thirty}}</div>
                    <div class="profile-card-inf__txt">30 minutes</div>
                    </div>
                </div>

                <div class="profile-card-social">

                    {% for teacher_instrument in teacher.user.teacherdata.userInstruments %}
                        <a href="#" class="profile-card-social__item facebook">
                        <span class="icon-font">
                            <img style="width:55px;height:55px" title="{{teacher_instrument.grade.name}}" class="rounded-circle avatar-xl img-thumbnail mb-2" src="{{asset(teacher_instrument.instrument.image)}}" />
                        </span>
                        </a>
                    {% endfor %} 


                </div>

                <div class="profile-card-ctr">
                    <a href="{{path('admin_session_calendar', {'teacher_id': teacher.user.id })}}" class="profile-card__button button--blue">Calendar</a>        
                    {# <a href="{{path('admin-teacher-students-list', {'teacher_id': teacher.user.id })}}" class="profile-card__button button--blue">Reports <span class="badge badge-danger">{{teacher.user.teacherdata.reports|filter( report => report.sent == null)|length}}</span></a>         #}
                    <a href="{{path('reporting_index', {'teacher_id': teacher.user.id })}}" class="profile-card__button button--blue">Reports <span class="badge badge-danger">{{teacher.user.teacherReports|filter( report => report.sent == null)|length}}</span></a>        
                </div>
                    <a href="{{path('admin_student_attendance', {'teacher': teacher.user.id })}}" class="profile-card__button button--blue">Attendance</a>        
                    <a href="{{path('admin-teacher-students-list', {'teacher_id': teacher.user.id })}}" class="profile-card__button button--blue">Students</a>        
                </div>

            </div>

            </div>

        {% endfor %}
        </div>
        <!-- end row -->

        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
<script>

$(document).ready(function(){
  
  $('.searchinput').keyup(function(){
      console.log('searching...');

    var searchtext = $(this).val().toLowerCase();
    if($(this).val().length > 2){
      $(".card").hide();
      $( "div:contains('"+searchtext+"')" ).closest(".card").show();
      $( "div:contains('"+searchtext.toUpperCase()+"')" ).closest(".card").show();;
      $( "div:contains('"+searchtext.toLowerCase()+"')" ).closest(".card").show();;
      $( "div:contains('"+searchtext.substr(0,1).toUpperCase()+searchtext.substr(1)+"')" ).closest(".card").show();;
    } else {
      $(".card").show("slow");
    }
    
    
  });
});

</script>
{% endblock %}            