<!-- Breadcrumbs -->
<section class="breadcrumbs-custom bg-image context-dark" style="background-image: url({{ global_vars['photos']['breadcrump_global'][0].url }});">
    <div class="breadcrumbs-custom-inner">
        <div class="container breadcrumbs-custom-container">
        <div class="breadcrumbs-custom-main">
            <h6 class="breadcrumbs-custom-subtitle title-decorated">{{page}}</h6>
            <h2 class="breadcrumbs-custom-title">{{pagetitle|title}}</h2>
        </div>
        <ul class="breadcrumbs-custom-path">
            <li><a href="{{ path('default') }}">Home</a></li>
            <li><a href="#">{{page}}</a></li>
            <li class="active">{{pagetitle|title}}</li>
        </ul>
        </div>
    </div>
</section>