                        <div class="nicdark_section nicdark_bg_greydark">
                            <div class="nicdark_section nicdark_height_50"></div>
                            <!--start nicdark_container-->
                            <div class="nicdark_container nicdark_clearfix">
                                <div class="grid grid_12 nicdark_text_align_center">
                                    <div class="nicdark_section">
                                        <a href="{{path('default')}}"><img alt="" width="200" class="" src="{{ global_vars('configData') ? '/config/' ~ global_vars('configData').invoiceLogo}}"></a>
                                    </div>
                                    <div class="nicdark_section nicdark_height_20"></div>
                                    <div class="nicdark_display_inline_block">
                                        <a href="{{ global_vars('configData') ? global_vars('configData').facebookId}}"><img alt="" width="40" class="nicdark_margin_right_10" src="/education/img/icons/icon-facebook-circle.svg"></a>
                                        <a href="{{ global_vars('configData') ? global_vars('configData').twitterId}}"><img alt="" width="40" class="nicdark_margin_right_10" src="/education/img/icons/icon-twitter-circle.svg"></a>
                                        <a href="{{ global_vars('configData') ? global_vars('configData').instagramId}}"><img alt="" width="40" class="nicdark_margin_right_10" src="/education/img/icons/icon-instagram-grey.svg"></a>
                                    </div>
                                </div>
                            </div>
                            <!--end container-->
                            <div class="nicdark_section nicdark_height_50"></div>
                        </div>
                        <div class="nicdark_section nicdark_bg_greydark">
                            <!--start nicdark_container-->
                            <div class="nicdark_container nicdark_clearfix nicdark_border_top_1_solid_greydark">
                                <div class="grid grid_6 nicdark_text_align_center_responsive">
                                    <p class="nicdark_color_grey nicdark_font_size_14">© Copyright {{"now"|date("Y")}}<a href="/pages/privacy-policy">Privacy Policy</a> | <a href="https://joeseo.co.ke/" target="_blank">Developer & SEO Services: Josiah Birai (JoeSEO): 0765 356000</a></p>
                                </div>
                                <div class="grid grid_6 nicdark_text_align_right nicdark_text_align_center_responsive nicdark_border_top_1_solid_greydark_responsive nicdark_display_none_all_iphone">
                                    <div class="nicdark_navigation_copyright">
                                        <ul>
                                          {% for navigation in global_vars('navData') %}
                                            <li><a style="font-size:.8em;" href="{{ navigation.link }}">{{navigation.name|upper}}</a></li>
                                          {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--end container-->
                        </div>
