<!--START search container-->
<div class="nicdark_display_table nicdark_transition_all_08_ease nicdark_navigation_2_search_content nicdark_bg_greydark_alpha_9 nicdark_position_fixed nicdark_width_100_percentage nicdark_height_100_percentage nicdark_z_index_1_negative nicdark_opacity_0">
    <!--close-->
    <div class="nicdark_cursor_zoom_out nicdark_navigation_2_close_search_content nicdark_width_100_percentage nicdark_height_100_percentage nicdark_position_absolute nicdark_z_index_1_negative"></div>
    <div class="nicdark_display_table_cell nicdark_vertical_align_middle nicdark_text_align_center">
        <div class="nicdark_width_700 nicdark_width_250_all_iphone nicdark_display_inline_block">
            <div class="nicdark_width_80_percentage nicdark_padding_5 nicdark_box_sizing_border_box nicdark_float_left nicdark_position_relative">
                <input class="nicdark_border_width_2 nicdark_background_none nicdark_border_top_width_0 nicdark_border_right_width_0 nicdark_border_left_width_0 nicdark_first_font nicdark_color_white nicdark_placeholder_color_white nicdark_font_size_30 nicdark_line_height_30" type="text" placeholder="Search">
            </div>
            <div class="nicdark_width_20_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left nicdark_position_relative">
                <a class="nicdark_width_55 nicdark_height_55 nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_bg_green nicdark_padding_15 nicdark_border_radius_3 " href="/about/cheza/classes">
                <img alt="" width="25" src="/education/img/icons/icon-search-white.svg">
                </a>   
            </div>
        </div>
    </div>
</div>
<!--END search container-->
<!--START menu responsive-->
<div class="nicdark_navigation_2_sidebar_content nicdark_padding_40 nicdark_box_sizing_border_box nicdark_overflow_hidden nicdark_overflow_y_auto nicdark_transition_all_08_ease nicdark_bg_green nicdark_height_100_percentage nicdark_position_fixed nicdark_width_300 nicdark_right_300_negative nicdark_z_index_9">
    <img alt="" width="25" class="nicdark_close_navigation_2_sidebar_content nicdark_cursor_pointer nicdark_right_20 nicdark_top_20 nicdark_position_absolute" src="/education/img/icons/icon-close-white.svg">
    <div class="nicdark_navigation_2_sidebar">
        <ul>
            {% for navigation in global_vars('navData') %}
            <li style="display: block!important;" class="{{global_vars('thisUrl')  == navigation.link ? 'active' : 'notactive' }}">
                <a class="{# rd-nav-link #}" href="{{ navigation.link }}">{{navigation.name|upper}}</a>
                {% if navigation.navChildren and navigation.navChildren|length > 0 %}
                <ul class="nicdark_sub_menu">
                    {% for nav in navigation.navChildren %}
                    <li class="{# rd-dropdown-item #}"><a class="{# rd-dropdown-link #}" href="{{nav.link}}">{{nav.name|upper}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<!--END menu responsive-->
<div class="nicdark_section">
    <div class="nicdark_section nicdark_bg_greydark">
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">
            <div class="grid grid_6 nicdark_padding_botttom_10 nicdark_padding_top_10 nicdark_text_align_center_responsive">
                <div class="nicdark_navigation_top_header_2">
                    <ul style="font-size:13px!important;">
                        <li>
                            <img alt="" class="nicdark_margin_right_10 " width="15" src="/education/img/icons/icon-phone-white.svg">
                            <a class=" nicdark_line_height_18 nicdark_color_white" href="tel:+254711832933">{{ global_vars('configData') ? global_vars('configData').telephone}}</a>
                        </li>
                        <li>
                            <img alt="" class="nicdark_margin_right_10" width="15" src="/education/img/icons/icon-share-grey.svg">
                            <a class=" nicdark_line_height_18 nicdark_color_white" href="#">OUR SOCIAL</a>
                            <ul class="nicdark_sub_menu">
                                <li><a target="_blank" href="{{ global_vars('configData') ? global_vars('configData').facebookId}}">Facebook</a></li>
                                <li><a target="_blank" href="{{ global_vars('configData') ? global_vars('configData').twitterId}}">Twitter</a></li>
                                <li><a target="_blank" href="{{ global_vars('configData') ? global_vars('configData').instagramId}}">Instagram</a></li>
                                <li><a href="#">{{ global_vars('configData') ? global_vars('configData').siteEmail}}</a></li>
                            </ul>
                            <a target="_blank" href="{{ global_vars('configData') ? global_vars('configData').facebookId}}"><img alt="" class="nicdark_margin_left_10  nicdark_margin_top_2 nicdark_display_none_all_responsive" width="12" src="/education/img/icons/icon-facebook-grey.svg"></a>
                            <a target="_blank" href="{{ global_vars('configData') ? global_vars('configData').twitterId}}"><img alt="" class="nicdark_margin_left_10  nicdark_margin_top_2 nicdark_display_none_all_responsive" width="12" src="/education/img/icons/icon-twitter-grey.svg"></a>
                            <a target="_blank" href="{{ global_vars('configData') ? global_vars('configData').instagramId}}"><img alt="" class="nicdark_margin_left_10  nicdark_margin_top_2 nicdark_display_none_all_responsive" width="12" src="/education/img/icons/icon-instagram-grey.svg"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid grid_6 nicdark_text_align_right nicdark_border_top_1_solid_greydark_responsive nicdark_text_align_center_responsive nicdark_padding_botttom_10 nicdark_padding_top_10">
                <div class="nicdark_navigation_top_header_2">
                    <ul style="font-size:13px!important;">
                        {% if app.user is defined and app.user is not null %}
                        {% set usertype = app.user.usertype %}
                        <li>
                            <img alt="" class="nicdark_margin_right_10 nicdark_float_left" width="15" src="/education/img/icons/icon-user-grey.svg">
                            <a href="{{path(usertype ~ '-dashboard')}}">DASHBOARD</a>
                        </li>
                        <li>
                            <img alt="" class="nicdark_margin_right_10 nicdark_float_left" width="15" src="/education/img/icons/icon-login-grey.svg">
                            <a href="{{ path('app_logout') }}">LOGOUT</a>
                        </li>
                        {% else %}
                        <li>
                            <img alt="" class="nicdark_margin_right_10 nicdark_float_left" width="15" src="/education/img/icons/icon-user-grey.svg">
                            <a href="{{path('app_register', {'usertype': 'student'})}}">REGISTER</a>
                        </li>
                        <li>
                            <img alt="" class="nicdark_margin_right_10 nicdark_float_left" width="15" src="/education/img/icons/icon-login-grey.svg">
                            <a href="{{ path('app_login') }}">LOGIN</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <!--end container-->
    </div>
</div>
<div class="nicdark_section nicdark_position_relative ">
    <div class="nicdark_section nicdark_position_absolute">
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix nicdark_position_relative">
            <div class="grid grid_12 nicdark_display_none_all_responsive">
                <div class="nicdark_section nicdark_height_10"></div>
                <!--LOGO-->
                <a href="{{ path('default') }}"><img alt="" class="nicdark_position_absolute nicdark_left_15 nicdark_top_20" width="170" src="/config/{{ global_vars('configData').invoiceLogo}}"></a>
                <!--right icons menu-->
                <div class="nicdark_float_right nicdark_width_100  nicdark_position_relative nicdark_height_25 nicdark_display_none_all_responsive">
                    <a href="#">
                    <img alt="" class="nicdark_opacity_05_hover nicdark_transition_all_08_ease nicdark_position_absolute nicdark_top_3_negative nicdark_left_0 nicdark_margin_left_20" width="25" src="/education/img/icons/icon-cart-white.svg">
                    </a>
                    <a class="nicdark_bg_orange nicdark_color_white nicdark_padding_5 nicdark_border_radius_100_percentage nicdark_font_size_8 nicdark_line_height_5 nicdark_position_absolute nicdark_left_0 nicdark_top_10_negative nicdark_margin_left_40" href="#">2</a>
                    <a class="nicdark_navigation_2_open_search_content" href="#"><img alt="" class="nicdark_opacity_05_hover nicdark_transition_all_08_ease nicdark_position_absolute nicdark_top_3_negative nicdark_right_0" width="25" src="/education/img/icons/icon-search-white.svg"></a>
                </div>
                <!--right icons menu-->
                <div class="nicdark_navigation_2 nicdark_text_align_right nicdark_float_right nicdark_display_none_all_responsive">
                    <ul>
                        {% for navigation in global_vars('navData') %}
                        <li class="{{global_vars('thisUrl')  == navigation.link ? 'active' : 'notactive' }}">
                            <a class="{# rd-nav-link #}" href="{{ navigation.link }}">{{navigation.name|upper}}</a>
                            {% if navigation.navChildren and navigation.navChildren|length > 0 %}
                            <ul class="nicdark_sub_menu">
                                {% for nav in navigation.navChildren %}
                                <li class="{# rd-dropdown-item #}"><a class="{# rd-dropdown-link #}" href="{{nav.link}}">{{nav.name|upper}}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="nicdark_section nicdark_height_10"></div>
            </div>
            <!--RESPONSIVE-->
            <div class="nicdark_width_50_percentage nicdark_text_align_center_all_iphone nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">
                <div class="nicdark_section nicdark_height_20"></div>
                <a href="{{ path('default') }}"><img alt="" width="170" class="" src="/config/{{ global_vars('configData').invoiceLogo}}"></a>   
            </div>
            <div class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">
                <div class="nicdark_section nicdark_height_20"></div>
                <div class="nicdark_float_right nicdark_width_100_percentage nicdark_text_align_right nicdark_text_align_center_all_iphone">
                    <a class="nicdark_open_navigation_2_sidebar_content" href="#">
                    <img alt="" class="nicdark_margin_right_20" width="25" src="/education/img/icons/icon-menu-white.svg">
                    </a>
                    <div class="nicdark_position_relative nicdark_display_inline_block">
                        <a href="#"><img alt="" width="25" src="/education/img/icons/icon-cart-white.svg"></a> 
                        <a class="nicdark_bg_orange nicdark_color_white nicdark_padding_5 nicdark_border_radius_100_percentage nicdark_font_size_8 nicdark_line_height_5 nicdark_position_absolute nicdark_left_0 nicdark_top_10_negative nicdark_margin_left_20" href="#">2</a>
                    </div>
                    <img alt="" class="nicdark_margin_left_20 nicdark_navigation_2_open_search_content" width="25" src="/education/img/icons/icon-search-white.svg"> 
                </div>
            </div>
            <!--RESPONSIVE-->
        </div>
        <!--end container-->
    </div>
</div>
{{ include(addon) }}
<div class="nicdark_section nicdark_bg_grey nicdark_border_bottom_1_solid_grey">
    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">
        <div class="grid grid_12">
            <a href="#">{{page|title}}</a>
            <img alt="" class="nicdark_margin_left_10 nicdark_margin_right_10" width="10" src="/education/img/icons/icon-next-grey.svg">
            <a href="#">{{subpage|title}}</a>
        </div>
    </div>
    <!--end container-->
</div>
<div class="nicdark_section nicdark_height_20"></div>
