<!-- Full screen modal -->
<div class="modal fade" id="bookLessonsModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="bookLessonsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" style="position: relative;">
        <h5 class="modal-title" id="bookLessonsModalLabel">Book Lessons</h5>
        <!-- Close button -->
        <button type="button" class="btn-close" data-dismiss="modal" style="position: absolute; top: 10px; right: 10px;" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        <!-- Call-to-Action Buttons -->
        <div class="d-flex justify-content-center mb-4">
          <a href="https://wa.me/254711832933" class="btn me-2" style="margin-bottom:10px; background-color: #25d366; color: white; padding: 10px 20px; font-size: 18px; border-radius: 5px; width: 180px; text-align: center;">
            <i class="fa fa-whatsapp"></i> WhatsApp Us
          </a>
          <a href="tel:0711832933" class="btn" style="margin-bottom:10px; background-color: #ffba00; color: white; padding: 10px 20px; font-size: 18px; border-radius: 5px; width: 180px; text-align: center;">
            <i class="fa fa-phone-alt"></i> Call Us Now
          </a>
        </div>

        <!-- Form Section -->
        <div class="form-section" style="margin: 30px auto; padding: 20px; background-color: #f9f9f9; border-radius: 10px; max-width: 600px;">
          <h2 class="text-center" style="font-size: 30px; margin-bottom: 10px;">Book a Trial Session</h2>
          <p class="text-center" style="font-size: 16px; color: #555;">Start your musical journey with a free trial! Simply fill out the form below:</p>
          {{ include ('modal-mini-form') }}
        </div>

        <!-- Benefits Section -->
        <div class="benefits-section" style="margin: 30px 0; text-align: center;">
          <h3 style="font-size: 28px; margin-bottom: 20px;">Why Choose Cheza Music School?</h3>
          <ul style="list-style: none; padding: 0; font-size: 18px;">
            <li style="margin-bottom: 10px;">🎵 Experienced and passionate instructors</li>
            <li style="margin-bottom: 10px;">🎶 Flexible scheduling to suit your lifestyle</li>
            <li style="margin-bottom: 10px;">🎼 Lessons for all ages and skill levels</li>
            <li style="margin-bottom: 10px;">🎸 Wide range of instruments to learn</li>
          </ul>
        </div>

        <!-- Testimonial Video (YouTube Embed) -->
        <div class="testimonial-section" style="margin-top: 40px;">
          <h3 class="text-center" style="font-size: 28px; margin-bottom: 20px;">What Our Students Say</h3>
          <div style="position:relative; padding-bottom:56.25%; height:0; overflow:hidden; max-width:100%; background:#000;">
            <iframe style="position:absolute; top:0; left:0; width:100%; height:100%;" src="https://www.youtube.com/embed/h3z5KZSy6vc" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="alert alert-danger successDiv mt-3 hidden" id="successDiv" style="color: #0f5132;background-color: #d1e7dd;" role="alert"></div>
      </div>

      <div class="modal-footer">
        <a href="https://chezamusicschool.co.ke/about/cheza/classes" class="btn mb-1 btn-primary" data-dismiss="modal">See All Courses</a>
        <a href="/contacts/for/cheza/music/school" class="btn mb-1 btn-info" data-dismiss="modal">Contacts</a>
      </div>
    </div>
  </div>
</div>
