{% extends 'base.html.twig' %}

{% block title %}Edit TeacherUserData{% endblock %}

{% block body %}
    <h1>Edit TeacherUserData</h1>

    {{ include('teacher_user_data/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('teacher_user_data_index') }}">back to list</a>

    {{ include('teacher_user_data/_delete_form.html.twig') }}
{% endblock %}
