{% extends 'base.html.twig' %}

{% block title %}TeacherUserData index{% endblock %}

{% block body %}
    <h1>TeacherUserData index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Resumelnk</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher_user_datum in teacher_user_datas %}
            <tr>
                <td>{{ teacher_user_datum.id }}</td>
                <td>{{ teacher_user_datum.resumelnk }}</td>
                <td>{{ teacher_user_datum.phone }}</td>
                <td>
                    <a href="{{ path('teacher_user_data_show', {'id': teacher_user_datum.id}) }}">show</a>
                    <a href="{{ path('teacher_user_data_edit', {'id': teacher_user_datum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('teacher_user_data_new') }}">Create new</a>
{% endblock %}
