{% extends 'base.html.twig' %}

{% block title %}New TeacherUserData{% endblock %}

{% block body %}
    <h1>Create new TeacherUserData</h1>

    {{ include('teacher_user_data/_form.html.twig') }}

    <a href="{{ path('teacher_user_data_index') }}">back to list</a>
{% endblock %}
