{% extends 'base.html.twig' %}

{% block title %}TeacherUserData{% endblock %}

{% block body %}
    <h1>TeacherUserData</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ teacher_user_datum.id }}</td>
            </tr>
            <tr>
                <th>Resumelnk</th>
                <td>{{ teacher_user_datum.resumelnk }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ teacher_user_datum.phone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('teacher_user_data_index') }}">back to list</a>

    <a href="{{ path('teacher_user_data_edit', {'id': teacher_user_datum.id}) }}">edit</a>

    {{ include('teacher_user_data/_delete_form.html.twig') }}
{% endblock %}
