<form method="post" action="{{ path('student_user_data_delete', {'id': student_user_datum.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student_user_datum.id) }}">
    <button class="btn mb-1 btn-danger">Delete</button>
</form>
