{% extends 'base.html.twig' %}

{% block title %}Edit StudentUserData{% endblock %}

{% block body %}
    <h1>Edit StudentUserData</h1>

    {{ include('student_user_data/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('student_user_data_index') }}">back to list</a>

    {{ include('student_user_data/_delete_form.html.twig') }}
{% endblock %}
