{% extends 'base.html.twig' %}

{% block title %}StudentUserData index{% endblock %}

{% block body %}
    <h1>StudentUserData index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Regnum</th>
                <th>Lessonmode</th>
                <th>Phone</th>
                <th>Age</th>
                <th>Branch</th>
                <th>Sex</th>
                <th>Nextofkinname</th>
                <th>Nextofkinphonenum</th>
                <th>Nextofkinemail</th>
                <th>Nextofkinrship</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student_user_datum in student_user_datas %}
            <tr>
                <td>{{ student_user_datum.id }}</td>
                <td>{{ student_user_datum.regnum }}</td>
                <td>{{ student_user_datum.lessonmode }}</td>
                <td>{{ student_user_datum.phone }}</td>
                <td>{{ student_user_datum.age }}</td>
                <td>{{ student_user_datum.branch }}</td>
                <td>{{ student_user_datum.sex }}</td>
                <td>{{ student_user_datum.nextofkinname }}</td>
                <td>{{ student_user_datum.nextofkinphonenum }}</td>
                <td>{{ student_user_datum.nextofkinemail }}</td>
                <td>{{ student_user_datum.nextofkinrship }}</td>
                <td>
                    <a href="{{ path('student_user_data_show', {'id': student_user_datum.id}) }}">show</a>
                    <a href="{{ path('student_user_data_edit', {'id': student_user_datum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('student_user_data_new') }}">Create new</a>
{% endblock %}
