{% extends 'base.html.twig' %}

{% block title %}StudentUserData{% endblock %}

{% block body %}
    <h1>StudentUserData</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student_user_datum.id }}</td>
            </tr>
            <tr>
                <th>Regnum</th>
                <td>{{ student_user_datum.regnum }}</td>
            </tr>
            <tr>
                <th>Lessonmode</th>
                <td>{{ student_user_datum.lessonmode }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ student_user_datum.phone }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ student_user_datum.age }}</td>
            </tr>
            <tr>
                <th>Branch</th>
                <td>{{ student_user_datum.branch }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{ student_user_datum.sex }}</td>
            </tr>
            <tr>
                <th>Nextofkinname</th>
                <td>{{ student_user_datum.nextofkinname }}</td>
            </tr>
            <tr>
                <th>Nextofkinphonenum</th>
                <td>{{ student_user_datum.nextofkinphonenum }}</td>
            </tr>
            <tr>
                <th>Nextofkinemail</th>
                <td>{{ student_user_datum.nextofkinemail }}</td>
            </tr>
            <tr>
                <th>Nextofkinrship</th>
                <td>{{ student_user_datum.nextofkinrship }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('student_user_data_index') }}">back to list</a>

    <a href="{{ path('student_user_data_edit', {'id': student_user_datum.id}) }}">edit</a>

    {{ include('student_user_data/_delete_form.html.twig') }}
{% endblock %}
