<form method="post" action="{{ path('member_notes_delete', {'id': member_note.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member_note.id) }}">
    <button class="btn mb-1 btn-danger">Delete</button>
</form>
