{% extends 'adm_base.html.twig' %}

{% block title %}Note Edit{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
{# 0736991179 Shopit #}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Edit note {{note.member.fullname}}</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Note</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('group_member_index', {'uig_group_id': note.member.uigGroup.id }) }}" class="dropdown-item">Back to list</a>
                            <!-- item-->
                            <a href="{{path('student-edit-admin', {'studentid': note.member == null ? 1 : note.member.id})}}" class="dropdown-item">Back to Student Details</a>
                            <span class="dropdown-item">{{ include('member_notes/_delete_form.html.twig') }}</span>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Edit note</h4>



                    {{ include('member_notes/_form.html.twig', {'button_label': 'Update'}) }}

                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->
{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('.datatable').DataTable();
        } );
    </script>

{% endblock %}