{% extends 'adm_base.html.twig' %}

{% block title %}Notes List{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
{# 0736991179 Shopit #}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Added Notes for {{member}}</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Notes</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('group_member_index', {'uig_group_id': uig_group.id }) }}" class="dropdown-item">Back to list</a>
                            <!-- item-->
                            <a href="{{path('student-edit-admin', {'studentid': uig_group.user == null ? 1 : uig_group.user.id})}}" class="dropdown-item">Back to Student Details</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">List of all notes</h4>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>AddedOn</th>
                                <th>Message</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for member_note in member_notes %}
                            <tr>
                                <td>{{ member_note.id }}</td>
                                <td>{{ member_note.addedOn ? member_note.addedOn|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ member_note.message }}</td>
                                <td>
                                    {# <a href="{{ path('member_notes_show', {'id': member_note.id}) }}">show</a> #}
                                    <a href="{{ path('member_notes_edit', {'id': member_note.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ path('group_member_show', {'id': member.id }) }}">Back to member</a>
                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->
{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('.datatable').DataTable();
        } );
    </script>

{% endblock %}