{% extends 'base.html.twig' %}

{% block title %}New MemberNotes{% endblock %}

{% block body %}
    <h1>Create new MemberNotes</h1>

    {{ include('member_notes/_form.html.twig') }}

    <a href="{{ path('member_notes_index') }}">back to list</a>
{% endblock %}
