{% extends 'base.html.twig' %}

{% block title %}MemberNotes{% endblock %}

{% block body %}
    <h1>MemberNotes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member_note.id }}</td>
            </tr>
            <tr>
                <th>AddedOn</th>
                <td>{{ member_note.addedOn ? member_note.addedOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ member_note.message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('member_notes_index') }}">back to list</a>

    <a href="{{ path('member_notes_edit', {'id': member_note.id}) }}">edit</a>

    {{ include('member_notes/_delete_form.html.twig') }}
{% endblock %}
