<style>
input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

input[type=radio] { 
  bottom: 2px; 
} 
</style>
{{ form_start(form, {'attr': {'class': 'myform mt-3', 'id': 'sessionForm'}}) }}
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Starts At</label>
            <div class="input-group">
                {{ form_widget(form.beginAt, {'attr': {'class': 'form-control js-timepicker', 'placeholder': 'Lesson starts at', 'value': seltime is defined ? seltime : "" }}) }}
                <div class="input-group-append">
                    <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
                </div>
            </div><!-- input-group -->
        </div>
        <div class="form-group col-md-4">
            <label>Ends At</label>
            <div class="input-group">
                {{ form_widget(form.endAt, {'attr': {'class': 'form-control js-timepicker', 'placeholder': 'Lesson ends at', 'value': seletime is defined? seletime : "" }}) }}
                <div class="input-group-append">
                    <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
                </div>
            </div><!-- input-group -->
        </div>
        <div class="form-group col-md-4">
            <label>Lesson Starts On</label>
            <div class="input-group">
                {{ form_widget(form.startingOn, {'attr': {'class': 'form-control js-datepicker', 'placeholder': 'Lesson starts on..', 'value': seldate is defined ? seldate : "" }}) }}
                <div class="input-group-append">
                    <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                </div>
            </div><!-- input-group -->
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Number of Sessions</label>
            <div class="input-group">
                {{ form_widget(form.numberofsessions, {'attr': {'class': 'form-control', 'placeholder': 'How many sessions?' }}) }}
                <div class="input-group-append">
                    <span class="input-group-text"><i class="mdi mdi-chart-pie"></i></span>
                </div>
            </div><!-- input-group -->
        </div>
        <div class="form-group col-md-6" style="border-top-left-radius: 0; border-bottom-left-radius: 0;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;">
            <label>Sessions per week</label> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="form-check-input" type="checkbox" name="multiply" id="multiply">
            <label class="form-check-label" for="multiply">Multiply sessions for whole term</label>
            <div class="input-group">
                <div class="form-check form-check-inline" style="float:left; margin-right:5px">
                    <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Sunday" value="sunday">
                    <label class="form-check-label" for="inlineCheckbox-Sunday">Sunday</label>
                </div>
                <div class="form-check form-check-inline" style="float:left; margin-right:5px">
                    <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Monday" value="monday">
                    <label class="form-check-label" for="inlineCheckbox-Monday">Monday</label>
                </div>
                <div class="form-check form-check-inline" style="float:left; margin-right:5px">
                    <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Tuesday" value="tuesday">
                    <label class="form-check-label" for="inlineCheckbox-Tuesday">Tuesday</label>
                </div>
                <div class="form-check form-check-inline" style="float:left; margin-right:5px">
                    <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Wednesday" value="wednesday">
                    <label class="form-check-label" for="inlineCheckbox-Wednesday">Wednesday</label>
                </div>
                <div class="form-check form-check-inline" style="float:left; margin-right:5px">
                    <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Thursday" value="thursday">
                    <label class="form-check-label" for="inlineCheckbox-Thursday">Thursday</label>
                </div>
                <div class="form-check form-check-inline" style="float:left; margin-right:5px">
                    <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Friday" value="friday">
                    <label class="form-check-label" for="inlineCheckbox-Friday">Friday</label>
                </div>
                <div class="form-check form-check-inline" style="float:left; margin-right:5px">
                    <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Saturday" value="saturday">
                    <label class="form-check-label" for="inlineCheckbox-Saturday">Saturday</label>
                </div>
                <div class="form-check form-check-inline" style="float:left; margin-right:5px">
                    <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Sunday" value="sunday">
                    <label class="form-check-label" for="inlineCheckbox-Sunday">Sunday</label>
                </div>
                <div class="form-check form-check-inline" style="float:left; margin-right:5px">
                    <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Monday" value="monday">
                    <label class="form-check-label" for="inlineCheckbox-Monday">Monday</label>
                </div>
                <div class="form-check form-check-inline" style="float:left; margin-right:5px">
                    <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Tuesday" value="tuesday">
                    <label class="form-check-label" for="inlineCheckbox-Tuesday">Tuesday</label>
                </div>
                <div class="form-check form-check-inline" style="float:left; margin-right:5px">
                    <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Wednesday" value="wednesday">
                    <label class="form-check-label" for="inlineCheckbox-Wednesday">Wednesday</label>
                </div>
                <div class="form-check form-check-inline" style="float:left; margin-right:5px">
                    <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Thursday" value="thursday">
                    <label class="form-check-label" for="inlineCheckbox-Thursday">Thursday</label>
                </div>
                <div class="form-check form-check-inline" style="float:left; margin-right:5px">
                    <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Friday" value="friday">
                    <label class="form-check-label" for="inlineCheckbox-Friday">Friday</label>
                </div>
                <div class="form-check form-check-inline" style="float:left; margin-right:5px">
                    <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Saturday" value="saturday">
                    <label class="form-check-label" for="inlineCheckbox-Saturday">Saturday</label>
                </div>

            </div><!-- input-group -->
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Teacher</label>
            <div class="input-group">
                {{ form_widget(form.teacher, {'attr': {'class': 'form-control', 'placeholder': 'Assign a teacher' }}) }}
                <div class="input-group-append">
                    <span class="input-group-text"><i class="mdi mdi-teach"></i></span>
                </div>
            </div><!-- input-group -->
        </div>
        <div class="form-group col-md-6">
            <label>Student</label>
            {% if userInstrumentGradeRepo == 0 %}
            <div class="bg-light form-control">It seems all students have been attended</div>
            <div class="input-group">
                {{ form_widget(form.userinstrumentgrade, {'attr': {'class': 'form-control', 'placeholder': 'Select a student?' }}) }}
                <div class="input-group-append">
                    <span class="input-group-text"><i class="mdi mdi-book-open-page-variant"></i></span>
                </div>
            </div><!-- input-group -->
            {% else %}
            <div class="input-group">
                {{ form_widget(form.userinstrumentgrade, {'attr': {'class': 'form-control', 'placeholder': 'Select a student?' }}) }}
                <div class="input-group-append">
                    <span class="input-group-text"><i class="mdi mdi-book-open-page-variant"></i></span>
                </div>
            </div><!-- input-group -->
            {% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Package</label>
            <div class="input-group">
                {{ form_widget(form.package, {'attr': {'class': 'form-control', 'placeholder': 'Select a package' }}) }}
                <div class="input-group-append">
                    <span class="input-group-text"><i class="mdi mdi-package"></i></span>
                </div>
            </div><!-- input-group -->
        </div>
        <div class="form-group col-md-6">
            <label>Paid Amount</label>
            <div class="input-group">
                {{ form_widget(form.paid, {'attr': {'class': 'form-control', 'placeholder': 'Amount paid' }}) }}
                <div class="input-group-append">
                    <span class="input-group-text"><i class="mdi mdi-cash-multiple"></i></span>
                </div>
            </div><!-- input-group -->
        </div>
    </div>
    <input type="hidden" name="percentage" value="{{ percentage }}">

    <button class="btn btn-primary btn-lg" id="submit_session" type="submit">Save Session</button>


{{ form_end(form) }}
