{% extends 'adm_base.html.twig' %}

{% block title %}Sessions{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Sessions</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Sessions List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
                       
        <div class="row">
            <div class="col-xl-4">
                <a class="btn btn-success btn-md waves-effect waves-light mb-3" href="{{path('file_export', {'filetype': 'excel', 'entity': 'uig'})}}">Excel</a>
                <a class="btn btn-success btn-md waves-effect waves-light mb-3" href="{{path('file_export', {'filetype': 'pdf', 'entity': 'uig'})}}">PDF</a>
            </div><!-- end col -->
        </div>
        <!-- end row -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('session_new') }}" class="dropdown-item">Create new session</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">List of all sessions</h4>

                    <table class="table" id="datatable">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Instrument</th>
                                <th>Teacher</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entry in groupedusers %}
                            <tr>
                                <td id="entrytitle-{{entry.id}}">{{ entry|split("-")[0] }}</td>
                                <td>{{ entry|split("-")[1] }}</td>
                                <td>{{ entry.sessions|first.teacher.fullname }}</td>
                                <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a class="btn btn-sm mb-1 btn-info" href="{{ path('user_instrument_grade_show', {'id': entry.id}) }}">Show Sessions</a>
                                </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#datatable').DataTable();
        } );
    </script>
{% endblock %}
