{% extends 'adm_base.html.twig' %}

{% block title %}{{session.userInstrumentGrade}}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/datepicker/css/bootstrap-datepicker.standalone.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/timepicker/css/timepicker.css')}}" />
    <style>
        h6 {
            font-weight: bolder;
        }
    </style>    
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Student Details</h4>
                    {% set inst = session.userInstrumentGrade.instrument %}
                    {% set grd = session.userInstrumentGrade.grade %}
                    {% if session.userInstrumentGrade.siblingname is defined and session.userInstrumentGrade.siblingname|length > 0 %} {% set stude = session.userInstrumentGrade.siblingname %} {% else %} {% set stude = session.student %} {% endif %}
                    {% set daysKeys = days|keys %}
                    <form id="{{ session.userInstrumentGrade.siblingname is defined and session.userInstrumentGrade.siblingname|length > 0 ? 'siblingForm' : 'termForm' }}" style="display:inline">
                        <input type="hidden" value="{{inst.id}}" name="myinstrument" id="myinstrument" >
                        <input type="hidden" value="{{grd.id}}" name="mygrade" id="mygrade">
                        <input type="hidden" name="userid" value="{{session.student.id}}" >
                        {% if session.userInstrumentGrade.siblingname is defined and session.userInstrumentGrade.siblingname|length > 0 %}
                            <input type="hidden" class="form-control" name="siblingname" id="siblingname" value="{{stude}}">
                            <button id="addsibling" class="btn btn-sm mb-1 btn-primary" type="button">Duplicate</button>
                        {% else %}
                            <button id="addterm" class="btn btn-sm mb-1 btn-primary" type="button">Duplicate</button>
                        {% endif %}
                        {% if app.user is defined and app.user.usertype == 'admin' %}
                        <a class="btn btn-sm btn-success" href="{{path('uig_group_new', {'user_id': session.student.id })}}">Add Group</a>
                        {% endif %}
                        {% if session.student.uigGroups|length > 0 %}
                            <a href="{{path('uig_group_index', {'user_id': session.student.id })}}" class="btn btn-sm btn-secondary">View Groups</a>
                        {% endif %}

                    </form>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Session Details</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="text-center card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path(app.user.usertype ~ '_session_calendar', {'teacher_id': session.teacher.id })}}" class="dropdown-item">Calendar</a>
                            {% if app.user.usertype == 'admin' %}
                            <!-- item-->
                            <a href="{{path('assign_access_roles')}}" class="dropdown-item">Permissions</a>
                            <!-- item-->
                            <a href="{{path('student-edit-admin', {'studentid': session.userInstrumentGrade.studentUserData.student == null ? 1 : session.userInstrumentGrade.studentUserData.student.id})}}" class="dropdown-item">Edit Student Details</a>
                            <!-- item-->
                            <a href="{{ path('admin-payments-list', {'uig_id': session.userInstrumentGrade.id}) }}" class="dropdown-item">Payments</a>
                            <!-- item-->
                            <a href="{{path('print_form', {'uig_id': session.userInstrumentGrade.id})}}" class="dropdown-item">Form</a>
                            {% endif %}
                            <!-- item-->
                            <a id="session_instrument" href="javascript:void(0);" data-toggle="modal" data-target="#instrumentModal" data-sess="{{session.userInstrumentGrade}}" data-session="{{session.userInstrumentGrade.instrument.id}}" data-entry="{{session.userInstrumentGrade.id}}" class="dropdown-item">Edit Instrument</a>
                            <!-- item-->
                            <a id="session_grade" href="javascript:void(0);" data-toggle="modal" data-target="#gradeModal" data-sess="{{session.userInstrumentGrade.grade}}" data-session="{{session.userInstrumentGrade.grade.id}}" data-entry="{{session.userInstrumentGrade.id}}" class="dropdown-item">Edit Grade</a>
                        </div>
                    </div>
                    <div>
                        <img src="{{ session.student.photo is not null ? session.student.photo : asset('img/profile/person.png') }}" class="rounded-circle avatar-xl img-thumbnail mb-3" alt="profile-image">

                        <p class="text-muted font-13 mb-4">
                            {{session.userInstrumentGrade}}<br />
                            {% for day in days %} {{day}}s {{loop.last ? ' ' : ', '}} {% endfor %}
                        </p>

                        <div class="text-left">

                            <p class="text-muted font-13"><strong>Full Name :</strong> <span class="ml-2">{{session.student.fullname}}</span></p>

                            <p class="text-muted font-13"><strong>Mobile :</strong><span class="ml-2">{{session.student.studentdata.phone}}</span></p>

                            <p class="text-muted font-13"><strong>Email :</strong> <span class="ml-2">{{session.student.email}}</span></p>

                        </div>

                        <div class="text-left">
                            <h5>Next of Kin</h5>
                            <p class="text-muted font-13"><strong>Full Name :</strong> <span class="ml-2">{{session.student.studentdata.nextofkinname}}</span></p>

                            <p class="text-muted font-13"><strong>Mobile :</strong><span class="ml-2">{{session.student.studentdata.nextofkinphonenum}}</span></p>

                            <p class="text-muted font-13"><strong>Email :</strong> <span class="ml-2">{{session.student.studentdata.nextofkinemail}}</span></p>

                        </div>

                    </div>

                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card-box">

                    <h4 class="header-title mt-0 mb-3">Organize</h4>

                    <div class="form-check form-check-inline" style="float:left; width: 33.3%; margin-right:5px">
                        <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Sunday" value="sunday" {{ 'Sunday' in days ? 'checked' : '' }}>
                        <label class="form-check-label" for="inlineCheckbox-Sunday">Sunday</label>
                    </div>
                    <div class="form-check form-check-inline" style="float:left; width: 33.3%; margin-right:5px">
                        <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Monday" value="monday" {{ 'Monday' in days ? 'checked' : '' }}>
                        <label class="form-check-label" for="inlineCheckbox-Monday">Monday</label>
                    </div>
                    <div class="form-check form-check-inline" style="float:left; width: 33.3%; margin-right:5px">
                        <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Tuesday" value="tuesday" {{ 'Tuesday' in days ? 'checked' : '' }}>
                        <label class="form-check-label" for="inlineCheckbox-Tuesday">Tuesday</label>
                    </div>
                    <div class="form-check form-check-inline" style="float:left; width: 33.3%; margin-right:5px">
                        <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Wednesday" value="wednesday" {{ 'Wednesday' in days ? 'checked' : '' }}>
                        <label class="form-check-label" for="inlineCheckbox-Wednesday">Wednesday</label>
                    </div>
                    <div class="form-check form-check-inline" style="float:left; width: 33.3%; margin-right:5px">
                        <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Thursday" value="thursday" {{ 'Thursday' in days ? 'checked' : '' }}>
                        <label class="form-check-label" for="inlineCheckbox-Thursday">Thursday</label>
                    </div>
                    <div class="form-check form-check-inline" style="float:left; width: 33.3%; margin-right:5px">
                        <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Friday" value="friday" {{ 'Friday' in days ? 'checked' : '' }}>
                        <label class="form-check-label" for="inlineCheckbox-Friday">Friday</label>
                    </div>
                    <div class="form-check form-check-inline" style="float:left; width: 33.3%; margin-right:5px">
                        <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Saturday" value="saturday" {{ 'Saturday' in days ? 'checked' : '' }}>
                        <label class="form-check-label" for="inlineCheckbox-Saturday">Saturday</label>
                    </div>
                    <div class="form-check form-check-inline" style="float:left; width: 33.3%; margin-right:5px">
                        <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Sunday" value="sunday">
                        <label class="form-check-label" for="inlineCheckbox-Sunday">Sunday</label>
                    </div>
                    <div class="form-check form-check-inline" style="float:left; width: 33.3%; margin-right:5px">
                        <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Monday" value="monday">
                        <label class="form-check-label" for="inlineCheckbox-Monday">Monday</label>
                    </div>
                    <div class="form-check form-check-inline" style="float:left; width: 33.3%; margin-right:5px">
                        <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Tuesday" value="tuesday">
                        <label class="form-check-label" for="inlineCheckbox-Tuesday">Tuesday</label>
                    </div>
                    <div class="form-check form-check-inline" style="float:left; width: 33.3%; margin-right:5px">
                        <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Wednesday" value="wednesday">
                        <label class="form-check-label" for="inlineCheckbox-Wednesday">Wednesday</label>
                    </div>
                    <div class="form-check form-check-inline" style="float:left; width: 33.3%; margin-right:5px">
                        <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Thursday" value="thursday">
                        <label class="form-check-label" for="inlineCheckbox-Thursday">Thursday</label>
                    </div>
                    <div class="form-check form-check-inline" style="float:left; width: 33.3%; margin-right:5px">
                        <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Friday" value="friday">
                        <label class="form-check-label" for="inlineCheckbox-Friday">Friday</label>
                    </div>
                    <div class="form-check form-check-inline" style="float:left; width: 33.3%; margin-right:5px">
                        <input class="form-check-input day" type="checkbox" name="day[]" id="inlineCheckbox-Saturday" value="saturday">
                        <label class="form-check-label" for="inlineCheckbox-Saturday">Saturday</label>
                    </div>
                    <div style="clear:both"></div>
                    <div style="border-top:1px solid #333;" class="mt-3">
                        <label for="startingdate"><strong>Lessons start on</strong></label><br />
                        <input class="js-datepicker form-control" id="startingdate" type="text" value="{{session.userInstrumentGrade.sessions|first.startingOn|date('Y-m-d')}}">&nbsp;&nbsp;&nbsp;
                    </div>
                    <div style="border-top:1px solid #333;">
                        <label for="startingdate"><strong>Half term and Holidays</strong></label><br />
                        <select class="form-control" name="halftermandholidays" id="halftermandholidays">
                            <option value="dont-skip">DO NOT skip halfterm and holidays</option>
                            <option value="skip">Skip halfterm and holidays</option>
                        </select>&nbsp;&nbsp;&nbsp;
                        <br /><br /><button class="btn btn-block btn-primary" id="changeDate" type="button">Organize</button>
                    </div>

                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <h4 class="header-title mt-0 mb-4">Lesson time:</h4>
                    <a class="btn btn-sm mb-1 btn-info" href="{{path('session_times', {'sessid': session.id })}}">Edit Multiple</a>
                    <form>
                        {% for key, day in days %}
                            <h5>{{day|title}}</h5>
                            <input type="text" class="form-control js-timepicker" id="startTime-{{day}}"  value="{{ key ? key|split('-')[0]|date('H:i') : ""}}"> to <input type="text"  class="form-control js-timepicker" id="endTime-{{day}}" value="{{key ? key|split('-')[1]|date('H:i') : ""}}">
                            <input type="hidden" id="startTimeSessDay-{{day}}" value="{{day}}" >
                            <button class="mt-2 btn btn-sm btn-primary" id="changeTime-{{day}}" type="button">Save</button>
                        {% endfor %}
                    </form>
                    <br />
                    {% if session.student.uigGroups|length > 0 %}
                        <a href="{{path('uig_group_index', {'user_id': session.student.id })}}" class="btn btn-secondary">View Groups</a>
                    {% endif %}
                    {% if app.user.usertype == 'admin' %}
                    <h4 class="header-title mt-0 mb-4">Percentage:</h4>
                    <form class="form" method="post" action="/admin/change/uig/percentage/{{session.userInstrumentGrade.id}}">
                        <input class="form-control" type="text" value="{{ session.userInstrumentGrade.percentage == null ? '0.7' : session.userInstrumentGrade.percentage }}" id="percentage" name="percentage">
                    </form>
                    {% endif %}
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a id="session_package" href="javascript:void(0);" data-toggle="modal" data-target="#packageModal" data-sess="{{session.package.name}}" data-session="{{session.package.id}}" data-entry="{{session.userInstrumentGrade.id}}" class="dropdown-item">Edit package</a>
                            <!-- item-->
                            {% if app.user.usertype == 'admin' %}
                                <a href="{{ path('user_instrument_grade_show', {'id': session.userInstrumentGrade.id}) }}" class="dropdown-item">All Sessions</a>
                                <a href="{{ path('lesson_plan_index', {'uig_id': session.userInstrumentGrade.id}) }}" class="dropdown-item">Lesson Plans</a>
                                <a id="siblingnameexisting" href="javascript:void(0);"  data-toggle="modal" data-target="#siblingnameModal" data-sib="{{session.userInstrumentGrade.siblingname}}" data-uig="{{session.userInstrumentGrade.id}}" class="dropdown-item">Edit Sibling Name</a>
                                <a id="session_teacher" href="javascript:void(0);" data-toggle="modal" data-target="#teacherModal" data-sess="{{session.teacher}}" data-session="{{session.teacher.id}}" data-entry="{{session.userInstrumentGrade.id}}" class="dropdown-item">Change Teacher</a>
                            {% endif %}
                            <!-- item-->
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3"><i class="mdi mdi-notification-clear-all mr-1"></i> More Info</h4>

                    <ul class="list-group mb-0 user-list">
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="user float-left mr-3">
                                    <i class="mdi mdi-circle text-muted"></i>
                                </div>
                                <div class="user-desc overflow-hidden">
                                    <h5 class="name mt-0 mb-1">Teacher: </h5>
                                    <span class="desc text-muted font-12 text-truncate d-block">
                                        <p>{{session.teacher.fullname}}</p>
                                        <p>{{session.teacher.teacherdata.phone}}</p>
                                        <p>{{session.teacher.email}}</p>
                                    </span>
                                </div>
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="user float-left mr-3">
                                    <i class="mdi mdi-circle text-muted"></i>
                                </div>
                                <div class="user-desc overflow-hidden">
                                    <h5 class="name mt-0 mb-1">Package</h5>
                                    <span class="desc text-muted font-12 text-truncate d-block">{{session.package.name}} - {{session.package.duration}}</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="user float-left mr-3">
                                    <i class="mdi mdi-circle text-muted"></i>
                                </div>
                                <div class="user-desc overflow-hidden">
                                    <h5 class="name mt-0 mb-1">Term</h5>
                                    {% if session.userInstrumentGrade.term == null %}
                                        {% set termForUig = 'Choose a Term' %}
                                        {% set termId = 'NoId' %}
                                    {% else %}
                                        {% set termForUig = session.userInstrumentGrade.term.termnumber %}
                                        {% set termId = session.userInstrumentGrade.term.id %}
                                    {% endif %}
                                    <span class="desc text-muted font-12 text-truncate d-block">{{termForUig}}</span>
                                <button id="session_term" type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#termModal" data-term="{{termForUig}}" data-termId="{{termId}}" data-entry="{{session.userInstrumentGrade.id}}">edit</button>

                                </div>
                            </a>
                        </li>
                        {% set numofsessions = session.userInstrumentGrade.sessions|length %}
                        {% set feeperlesson = session.package.price / session.package.noOfSessions %}
                        {% set total_fee = numofsessions * feeperlesson %}
                        {% set uig = session.userInstrumentGrade %}
                        {% set balance = uig.payments and uig.payments|length > 0 ? uig.payments|last.balance : total_fee %}

                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="user float-left mr-3">
                                    <i class="mdi mdi-circle text-muted"></i>
                                </div>
                                <div class="user-desc overflow-hidden">
                                    <h5 class="name mt-0 mb-1">Balance</h5>
                                    <span class="desc text-muted font-12 text-truncate d-block">Fee balance : {{ balance <= 0 ? 'cleared' : balance }}</span>
                                </div>
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="user float-left mr-3">
                                    <i class="mdi mdi-circle text-muted"></i>
                                </div>
                                <div class="user-desc overflow-hidden">
                                    <h5 class="name mt-0 mb-1">Sibling</h5>
                                    <span class="desc text-muted font-12 text-truncate d-block">{{session.userInstrumentGrade.siblingname == null or session.userInstrumentGrade.siblingname == "" ? "Not set" : session.userInstrumentGrade.siblingname}}</span>
                                </div>
                            </a>
                        </li>

                        {# <a title="Dear {{session.teacher.fullname}}.Please note you have a new {{session.userInstrumentGrade.instrument.name}} student on {% for key, day in days %}{{day|title}}s from {{ key ? key|split('-')[0]|date('H:i') : ""}} to {{key ? key|split('-')[1]|date('H:i') : ""}}{{loop.last ? ' ' : ', '}}{% endfor %}. First lesson: {{session.userInstrumentGrade.sessions|first.startingOn|date('l, jS F Y')}}. {% if session.userInstrumentGrade.siblingname|length > 0 %} Parent's {% else %} {{session.student.studentdata.sex == 'male' ? 'His' : 'Her'}} {% endif %} name is {{session.student.fullname}} ,tel {{session.student.studentdata.phone}}.Regards."
                                         href="{{path('admin-communications-notify', {'send_to': session.teacher.id, 'session_id': session.id })}}" class="btn mb-1 btn-primary">Send Notification</a> #}
                        {% if app.user.usertype == 'admin' %}
                        <a href="{{path('admin-communications-notify', {'send_to': session.teacher.id, 'session_id': session.id })}}" class="btn mb-1 btn-primary">Notify teacher</a><br /><br />
                        <a href="{{path('admin-communications-notify', {'send_to': session.student.id, 'session_id': session.id })}}" class="btn mb-1 btn-primary">Notify student</a>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->


<div class="modal fade" id="termModal" tabindex="-1" role="dialog" aria-labelledby="termModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="termModalLabel">Edit Term</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="termChange">
            <div class="form-group">
                <label for="name">Change Term</label>
                <select class="custom-select" name="term" id="term" data-bs-toggle="tooltip" data-bs-tooltip="" required="" title="Click to select a different grade">
                    <optgroup label="Terms">
                        {% for term in terms %}
                            <option value="{{term.id}}">{{term.termnumber}}</option>
                        {% endfor %}
                    </optgroup>
                </select>
                <input type="hidden" id="entry_term_id" value="" >
                    
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="changeTerm" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="instrumentModal" tabindex="-1" role="dialog" aria-labelledby="instrumentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="instrumentModalLabel">Edit Instrument</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="instrumentChange">
            <div class="form-group">
                <label for="name">Change Instrument</label>
                <select class="custom-select" name="instrument" id="instrument" data-toggle="tooltip" data-bs-tooltip="" required="" title="Click to select an instrument">
                    <optgroup label="Instruments">
                        {% for ins in data.instruments %}
                            <option value="{{ins.id}}">{{ins.name}}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="Courses">
                        {% for ins in data.courses %}
                            <option value="{{ins.id}}">{{ins.name}}</option>
                        {% endfor %}                                    
                    </optgroup>
                    <optgroup label="Group classes ">
                        {% for ins in data.traditional %}
                            <option value="{{ins.id}}">{{ins.name}}</option>
                        {% endfor %}
                    </optgroup>
                </select>
                <input type="hidden" id="entry_instrument_id" value="" >
                    
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="changeInstrument" class="btn mb-1 btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="gradeModal" tabindex="-1" role="dialog" aria-labelledby="gradeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gradeModalLabel">Edit Grade</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="gradeChange">
            <div class="form-group">
                <label for="name">Change Grade</label>
                <select class="custom-select" name="grade" id="grade" data-toggle="tooltip" data-bs-tooltip="" required="" title="Click to select a different grade">
                    <optgroup label="Grades">
                        {% for grade in grades %}
                            <option value="{{grade.id}}">{{grade.name}}</option>
                        {% endfor %}
                    </optgroup>
                </select>
                <input type="hidden" id="entry_grade_id" value="" >
                    
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="changeGrade" class="btn mb-1 btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="packageModal" tabindex="-1" role="dialog" aria-labelledby="packageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="packageModalLabel">Edit Package</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="packageChange">
            <div class="form-group">
                <label for="name">Change Package</label>
                <select class="custom-select" name="package" id="package" data-toggle="tooltip" data-bs-tooltip="" required="" title="Click to select a different package">
                    <optgroup label="Packages">
                        {% for package in packages %}
                            <option value="{{package.id}}">{{package.name}}</option>
                        {% endfor %}
                    </optgroup>
                </select>
                <input type="hidden" id="entry_package_id" value="" >
                    
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="changePackage" class="btn mb-1 btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="teacherModal" tabindex="-1" role="dialog" aria-labelledby="teacherModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="teacherModalLabel">Change Teacher</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="teacherChange">
            <div class="form-group">
                <label for="name">Change Teacher</label>
                <select class="custom-select" name="teacher" id="teacher" data-toggle="tooltip" data-bs-tooltip="" required="" title="Click to select a different teacher">
                    <optgroup label="Teachers">
                        {% for teacher in teachers %}
                            <option value="{{teacher.id}}">{{teacher}}</option>
                        {% endfor %}
                    </optgroup>
                </select>
                <input type="hidden" id="entry_teacher_id" value="" >
                    
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="changeTeacher" class="btn mb-1 btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="siblingnameModal" tabindex="-1" role="dialog" aria-labelledby="siblingnameModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="siblingnameModalLabel">Edit Sibling Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="siblingnameChange">
            <div class="form-group">
                <input class="form-control" placeholder="Enter Sibling Name" type="text" id="siblingnameNew" value="{{session.userInstrumentGrade.siblingname}}"> 
                <input type="hidden" id="uig_id" value="{{session.userInstrumentGrade.id}}" >
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="changeSiblingname" class="btn mb-1 btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/datepicker/js/bootstrap-datepicker.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/timepicker/js/timepicker.js')}}"></script>
    <script>
        $('#instrumentModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var session = button.data('session') 
        var sess = button.data('sess') 
        var id = button.data('entry') 
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text(sess)
        modal.find('.modal-body select').val(session)
        modal.find('.modal-body input').val(id)
        })
    </script>   
    <script>
        $('#termModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var term = button.data('term') 
        var termId = button.data('termId') 
        var id = button.data('entry') 
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text(term)
        modal.find('.modal-body select').val(termId)
        modal.find('.modal-body input').val(id)
        })
    </script>    

    <script>
        $('#gradeModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var session = button.data('session') 
        var sess = button.data('sess') 
        var id = button.data('entry') 
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text(sess)
        modal.find('.modal-body select').val(session)
        modal.find('.modal-body input').val(id)
        })
    </script>   
    <script>
        $("#changeTerm").click( function () {

            var entryId = $("#entry_term_id").val();
            var newTerm = $("#term").val();
            console.log([entryId, newTerm]);

            $.ajax({
                url:'{{ (path('change_term')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "entryId": entryId,
                    "newTerm": newTerm,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script>
        $('#packageModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var session = button.data('session') 
        var sess = button.data('sess') 
        var id = button.data('entry') 
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text(sess)
        modal.find('.modal-body select').val(session)
        modal.find('.modal-body input').val(id)
        })
    </script>    
    <script>
        $('#teacherModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var session = button.data('session') 
        var sess = button.data('sess') 
        var id = button.data('entry') 
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text(sess)
        modal.find('.modal-body select').val(session)
        modal.find('.modal-body input').val(id)
        })
    </script>    
    <script>
        $("#changeInstrument").click( function () {

            var entryId = $("#entry_instrument_id").val();
            var newInstrument = $("#instrument").val();

            $.ajax({
                url:'{{ (path('change_instrument')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "entryId": entryId,
                    "newInstrument": newInstrument,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script>
        $("#changeGrade").click( function () {

            var entryId = $("#entry_grade_id").val();
            var newGrade = $("#grade").val();

            $.ajax({
                url:'{{ (path('change_grade')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "entryId": entryId,
                    "newGrade": newGrade,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script>
        $("#changePackage").click( function () {

            var entryId = $("#entry_package_id").val();
            var newPackage = $("#package").val();

            $.ajax({
                url:'{{ (path('change_package')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "entryId": entryId,
                    "newPackage": newPackage,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script>
        $("#changeTeacher").click( function () {

            var entryId = $("#entry_teacher_id").val();
            var newTeacher = $("#teacher").val();

            $.ajax({
                url:'{{ (path('change_teacher')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "entryId": entryId,
                    "newTeacher": newTeacher,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script>
        
        $('[id^="changeTime-"]').click( function () {

            var id = jQuery(this).attr("id").split("-")[1];
            var startTime = $("#startTime-"+id).val();
            var endTime = $("#endTime-"+id).val();
            var startTimeSessDay = $("#startTimeSessDay-"+id).val();

            $.ajax({
                url:'{{ (path('change_time')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "startTime": startTime,
                    "startTimeSessDay": startTimeSessDay,
                    "endTime": endTime,
                    "session": "{{session.id}}",
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: "Saved! ", },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script>
        $("#changeDate").click( function () {

            var newdate = $("#startingdate").val();
            var startTime = $("#startTime-{{days|first}}").val();
            var endTime = $("#endTime-{{days|first}}").val();
            var halftermandholidays = $("#halftermandholidays").val();
            var daysLength = {{days|length}};
            var days = $('.day:checked').map(function(){ 
                return this.value; 
            }).get();

            $.ajax({
                url:'{{ (path('change_dates')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "newdate": newdate,
                    "startTime": startTime,
                    "endTime": endTime,
                    "session": "{{session.id}}",
                    "daysLength": daysLength,
                    'days[]': days,
                    'halftermandholidays': halftermandholidays,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: "Saved! ", },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script>
        $("#changeSiblingname").click( function () {

            var siblingname = $("#siblingnameNew").val();
            var uigid = $("#uig_id").val();

            $.ajax({
                url:'{{ (path('change_siblingname')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "siblingname": siblingname,
                    "uigid": uigid,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    $('#siblingnameModal').modal('hide');
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: "Saved! ", },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                    location.reload()
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
        });
    </script>    
    <script type="text/javascript">
        $(function () {
    
            $('.js-timepicker').timepicker();
    
        });
    </script>
    {% if session.userInstrumentGrade.siblingname is defined and session.userInstrumentGrade.siblingname|length > 0 %}
	<script>
	  $(document).on('click', '#addsibling', function(){

	  		var form = document.getElementById("siblingForm");
            var form_data = $( form ).serializeArray();
            var valid = validateForm(form_data);
            console.log('valid: ' + valid);
            if(valid){
                $.ajax({
                url:'{{path("addsiblingfromadmin")}}',
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType: "json",
                data: new FormData(form),
                async: true,
                success: function (data)
                {
                    console.log(data);
                    window.location.href = "/admin/session/new?teacher_id={{session.teacher.id}}&date={{session.startingOn|date('Y-m-d')}}&time={{session.beginAt|date('H:i')}}&percent={{session.userInstrumentGrade.percentage}}&pkg={{session.package.id}}&etime={{session.endAt|date('H:i')}}" ;
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
	         });

            } else {
                console.log('form not valid');
            }
	  });
	</script>
    {% else %}
	<script>
	  $(document).on('click', '#addterm', function(){

	  		var form = document.getElementById("termForm");
            var form_data = $( form ).serializeArray();
            var valid = validateForm(form_data);
            console.log('valid: ' + valid);
            if(valid){
                $.ajax({
                url:'{{path("addtermfromadmin")}}',
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType: "json",
                data: new FormData(form),
                async: true,
                success: function (data)
                {
                    console.log(data);
                    window.location.href = "/admin/session/new?teacher_id={{session.teacher.id}}&date={{session.startingOn|date('Y-m-d')}}&time={{session.beginAt|date('H:i')}}&percent={{session.userInstrumentGrade.percentage}}&pkg={{session.package.id}}&etime={{session.endAt|date('H:i')}}" ;
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
	         });

            } else {
                console.log('form not valid');
            }
	  });
	</script>

    {% endif %}

{% endblock %}