{% extends 'adm_base.html.twig' %}

{% block title %}Session{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/sidebar.css')}}">
    <link rel="stylesheet" href="{{asset('assets/datepicker/css/bootstrap-datepicker.standalone.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/timepicker/css/timepicker.css')}}" />
    <style>
        h6 {
            font-weight: bolder;
        }
        input {
            margin-top:5px;
            margin-bottom:5px;
        }
    </style>    
{% endblock %}

{% block body %}
                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="page-title">Days: {% for day in days %}
                                        {{day|date('l')}}s {{loop.last ? ' ' : ', '}}
                                    {% endfor %}</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Session Dates</a></li>
                                            <li class="breadcrumb-item active">{{session.userInstrumentGrade}}</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            {% for key, day in alldays %}
                            <div class="col-xl-3 col-md-6">
                                <div class="card-box" style="background-color:{{day[2] == 1 ? '#FFFF00' : ''}}">

                                    <h4 class="header-title mt-0 mb-4">Lesson {{loop.index}} {{day[2] == 1 ? '(INVOICED SESSION)'}}</h4>

                                    <form>
                                    <input type="text" class="js-datepicker" id="date-{{key}}" style="width:150px;" value="{{day[0]|date('Y-m-d')}}">
                                    <input type="text" class="js-timepicker" id="startTime-{{key}}" style="width:100px;" value="{{ day[0] ? day[0]|date('H:i') : ""}}"> to <input type="text" style="width:100px;" class="js-timepicker" id="endTime-{{key}}" value="{{day[1] ? day[1]|date('H:i') : ""}}">
                                    <input type="hidden" id="startTimeSessDay-{{key}}" value="{{key}}" >
                                    <button class="btn btn-sm mb-1 btn-primary" id="changeTime-{{key}}" type="button">Save</button>
                                    </form>
                                </div>
                            </div><!-- end col -->
                            {% endfor %}

                        </div>
                        <!-- end row -->
                        
                        
                    </div> <!-- container-fluid -->



<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                    
            </div>
            <div class="panel-body">
                <div class="row">
                    <aside class="col-md-12">
                        <div class="card">
                            <article class="card-group-item">
                                <header class="card-header">
                                    <h6 class="title"></h6>
                                </header>
                                <div class="filter-content">
                                    <div class="card-body">
                                    <p></p>
                                    </div> <!-- card-body.// -->
                                </div>
                            </article> <!-- card-group-item.// -->
                            <article class="card-group-item">
                                <header class="card-header">
                                    <h6 class="title"></h6>
                                </header>
                                <div class="filter-content">
                                    <div class="card-body">
                                        <div></div>
                                    </div> <!-- card-body.// -->
                                </div>
                            </article> <!-- card-group-item.// -->
                        </div> <!-- card.// -->
                    </aside> <!-- col.// -->

                </div> <!-- row.// -->

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
    <!-- /. ROW  -->



        </div>
    </main>

{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/datepicker/js/bootstrap-datepicker.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/timepicker/js/timepicker.js')}}"></script>
    <script>
        
        $('[id^="changeTime-"]').click( function () {

            var id = jQuery(this).attr("id").split("-")[1];
            var sessionDate = $("#date-"+id).val();
            var startTime = $("#startTime-"+id).val();
            var endTime = $("#endTime-"+id).val();

            $.ajax({
                url:'{{ (path('change_times')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "sessionDate": sessionDate,
                    "startTime": startTime,
                    "sessid": id,
                    "endTime": endTime,
                    "session": "{{session.id}}",
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: "Saved! ", },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
    
            $('.js-timepicker').timepicker();
    
        });
    </script>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
        });
    </script>    

{% endblock %}