{% extends 'adm_base.html.twig' %}

{% block title %}Navigation Links{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Navigation Links</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Navigation</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Navigation links</h4>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Link</th>
                                <th>Position</th>
                                <th>HasChildren</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for navigation in navigations %}
                            <tr>
                                <td>{{ navigation.name }}</td>
                                <td>{{ navigation.link }}</td>
                                <td>{{ navigation.position }}</td>
                                <td>
                                    {{ navigation.hasChildren ? 'Yes' : 'No' }}
                                    {% if navigation.hasChildren == true %}
                                    <a href="{{ path('nav_child_new', {'navigation_id': navigation.id}) }}">Add</a>
                                    <a href="{{ path('nav_child_index') }}">List</a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('navigation_show', {'id': navigation.id}) }}">show</a>
                                    <a href="{{ path('navigation_edit', {'id': navigation.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ path('navigation_new') }}">Create new</a>
                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}