{{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="form-group">
    {{ form_label(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
    {{ form_label(form.description) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
    {{ form_label(form.defaultval) }}
    {{ form_widget(form.defaultval, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
    {{ form_label(form.category) }}
    {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
    {{ form_label(form.target_usertype) }}
    {{ form_widget(form.target_usertype, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button class="btn mb-1 btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
