{% extends 'adm_base.html.twig' %}

{% block title %}Settings List{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
{# 0736991179 Shopit #}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Added Settings</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Settings Lists</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('group_new') }}" class="dropdown-item">Create new</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">List of all settings</h4>


                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Description</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Default</th>
                                <th>Tartet Usertype</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for setting in settings %}
                            <tr>
                                <td>{{ setting.id }}</td>
                                <td>{{ setting.description }}</td>
                                <td>{{ setting.name }}</td>
                                <td>{{ setting.category }}</td>
                                <td>{{ setting.defaultval }}</td>
                                <td>{{ setting.targetUsertype }}</td>
                                <td>
                                    <a href="{{ path('settings_show', {'id': setting.id}) }}">show</a>
                                    <a href="{{ path('settings_edit', {'id': setting.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ path('settings_add') }}">Create new</a>

                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
