{% extends 'adm_base.html.twig' %}

{% block title %}Settings{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link href="{{asset('adm/assets/libs/switchery/switchery.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

    {% set settingsArr = [] %}
    {% set settingsWV = [] %}
    {% set defaultView = "" %}
    {% for uSetting in app.user.userSettings %}
        {% set settingsArr = settingsArr|merge([uSetting.setting.description ~ '-' ~ uSetting.value]) %}
        {% set settingsWV = settingsArr|merge([uSetting.setting.description]) %}
    {% endfor %}

    {% if app.user.userSettings is empty %}
        {% set defaultView = "timeGridWeek" %}
    {% endif %}
    {% if 'default_view-timeGridWeek' in settingsArr %}
        {% set defaultView = "timeGridWeek" %}
    {% endif %}
    {% if 'default_view-timeGridDay' in settingsArr %}
        {% set defaultView = "timeGridDay" %}
    {% endif %}
    {% if 'default_view-dayGridMonth' in settingsArr %}
        {% set defaultView = "dayGridMonth" %}
    {% endif %}
    {% if 'default_view' not in settingsWV %}
        {% set defaultView = "timeGridWeek" %}
    {% endif %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Settings Page</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                            <li class="breadcrumb-item active">Settings</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    
                    <div class="row">
                        <div class="col-xl-6">
                            <h5 class="mb-3">Settings</h5>
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#tab-1" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                        <span class="d-none d-sm-block">Notifications</span>            
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab-2" data-toggle="tab" aria-expanded="true" class="nav-link">
                                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                        <span class="d-none d-sm-block">Preferences</span> 
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab-3" data-toggle="tab" aria-expanded="false" class="nav-link">
                                        <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                        <span class="d-none d-sm-block">Cards Settings</span>    
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="tab-1">
                                    <h4 class="panel-title">SMS and Email Preferences</h4>
                                    <ul class="list-group mb-0 user-list">
                                    {% for setting in settings|filter( setting => setting.category == 'notifications' and app.user.usertype in setting.targetUsertype ) %}
                                        <li class="list-group-item">
                                            <span class="user-list-item">
                                                <div class="user avatar-sm float-left mr-3">
                                                    <input id="setting-{{setting.id}}" name="setting-{{setting.id}}" type="checkbox" {{(setting.id in userSettings|keys and userSettings[setting.id].value == 'on') or userSettings[setting.id] is not defined ? 'checked' : ''}} data-plugin="switchery" data-color="#00b19d"/>
                                                </div>
                                                <div class="user-desc">
                                                    <label for="setting-{{setting.id}}" class="name mt-1 mb-0">{{setting.name}}</label>
                                                </div>
                                                {% if (setting.id in userSettings|keys and userSettings[setting.id].value == 'on') or (userSettings[setting.id] is not defined and setting.defaultval == 'true') %}
                                                    <script type=text/javascript>
                                                        document.getElementById("setting-{{setting.id}}").checked = true;
                                                    </script>                                                                                                    
                                                {% else %}
                                                    <script type=text/javascript>
                                                        document.getElementById("setting-{{setting.id}}").checked = false;
                                                    </script>                                                
                                                {% endif %}
                                            </span>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                    <h4 class="panel-title">Bulk Messages (SMS)</h4>
                                    <ul class="list-group mb-0 user-list">
                                    {% for setting in settings|filter( setting => setting.category == 'events_and_important_information' ) %}
                                        <li class="list-group-item">
                                            <span class="user-list-item">
                                                <div class="user avatar-sm float-left mr-3">
                                                    <input id="setting-{{setting.id}}" name="setting-{{setting.id}}" type="checkbox" {{(setting.id in userSettings|keys and userSettings[setting.id].value == 'on') or userSettings[setting.id] is not defined ? 'checked' : ''}} data-plugin="switchery" data-color="#00b19d"/>
                                                </div>
                                                <div class="user-desc">
                                                    <label for="setting-{{setting.id}}" class="name mt-1 mb-0">{{setting.name}}</label>
                                                </div>
                                                {% if (setting.id in userSettings|keys and userSettings[setting.id].value == 'on') or (userSettings[setting.id] is not defined and setting.defaultval == 'true') %}
                                                    <script type=text/javascript>
                                                        document.getElementById("setting-{{setting.id}}").checked = true;
                                                    </script>                                                                                                    
                                                {% else %}
                                                    <script type=text/javascript>
                                                        document.getElementById("setting-{{setting.id}}").checked = false;
                                                    </script>                                                
                                                {% endif %}
                                            </span>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                    <h4 class="panel-title">Personal Messages Preferences</h4>
                                    <ul class="list-group mb-0 user-list">
                                    {% for setting in settings|filter( setting => setting.category == 'personal' ) %}
                                        <li class="list-group-item">
                                            <span class="user-list-item">
                                                <div class="user avatar-sm float-left mr-3">
                                                    <input id="setting-{{setting.id}}" name="setting-{{setting.id}}" type="checkbox" {{(setting.id in userSettings|keys and userSettings[setting.id].value == 'on') or (userSettings[setting.id] is not defined and setting.defaultval == 'true') ? 'checked' : ''}} data-plugin="switchery" data-color="#00b19d"/>
                                                </div>
                                                <div class="user-desc">
                                                    <label for="setting-{{setting.id}}" class="name mt-1 mb-0">{{setting.name}}</label>
                                                </div>
                                                {% if (setting.id in userSettings|keys and userSettings[setting.id].value == 'on') or (userSettings[setting.id] is not defined and setting.defaultval == 'true') %}
                                                    <script type=text/javascript>
                                                        document.getElementById("setting-{{setting.id}}").checked = true;
                                                    </script>                                                                                                    
                                                {% else %}
                                                    <script type=text/javascript>
                                                        document.getElementById("setting-{{setting.id}}").checked = false;
                                                    </script>                                                
                                                {% endif %}
                                            </span>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab-2">
                                    {% for setting in settings|filter( setting => setting.category == 'preferences' and app.user.usertype in setting.targetUsertype ) %}
                                        <div class="form-group">
                                            <select id="preference-{{setting.id}}" class="form-control">
                                                <option value="timeGridWeek" {{ defaultView == "" or defaultView == "timeGridWeek" ? 'selected' : '' }}>Time Grid - Week</option>
                                                <option value="dayGridMonth" {{ defaultView == 'dayGridMonth' ? 'selected' : '' }}>Day Grid - Month</option>
                                                <option value="timeGridDay" {{ defaultView == 'timeGridDay' ? 'selected' : '' }}>Time Grid - Day</option>
                                            </select>
                                        </div>
                                        <button type="button" id="savePref-{{setting.id}}" class="btn mb-1 btn-primary">Save</button>
                                    {% endfor %}
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab-3">
                                    <ul class="list-group mb-0 user-list">
                                    {% for setting in settings|filter( setting => setting.category == 'cards' and 'boolean' in setting.description and app.user.usertype in setting.targetUsertype ) %}
                                        <li class="list-group-item">
                                            <span class="user-list-item">
                                                <div class="user avatar-sm float-left mr-3">
                                                    <input id="setting-{{setting.id}}" name="setting-{{setting.id}}" type="checkbox" {{(setting.id in userSettings|keys and userSettings[setting.id].value == 'on') or (userSettings[setting.id] is not defined and setting.defaultval == 'true') ? 'checked' : ''}} data-plugin="switchery" data-color="#00b19d"/>
                                                </div>
                                                <div class="user-desc">
                                                    <label for="setting-{{setting.id}}" class="name mt-1 mb-0">{{setting.name}}</label>
                                                </div>
                                            </span>
                                        </li>
                                    {% endfor %}
                                    {% for setting in settings|filter( setting => setting.category == 'cards' and 'duration' in setting.description and app.user.usertype in setting.targetUsertype ) %}
                                        <li class="list-group-item">
                                        <div class="form-group">
                                            <label for="preference-{{setting.id}}">{{setting.name}}</label>
                                            <select id="preference-{{setting.id}}" class="form-control">
                                                <option value="5000" {#{ defaultView == "" or defaultView == "timeGridWeek" ? 'selected' : '' }#}>5 Seconds</option>
                                                <option value="10000" {#{ defaultView == 'dayGridMonth' ? 'selected' : '' }#}>10 Seconds</option>
                                                <option value="15000" {#{ defaultView == 'timeGridDay' ? 'selected' : '' }#}>15 Seconds</option>
                                            </select>
                                        </div>
                                        <button type="button" id="savePref-{{setting.id}}" class="btn mb-1 btn-primary">Save</button>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div><!-- end col -->

                    </div>
                    <!-- end row -->

                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="{{asset('adm/assets/libs/switchery/switchery.min.js') }}"></script>
    <script>
        $(document).ready( function () {
            $('.datatable').DataTable();
            $('[data-plugin="switchery"]').each(function(e,t){new Switchery($(this)[0],$(this).data())});
        } );
    </script>
	<script>
	  $(document).on('change', '[id^="setting-"]', function(){

        var settingId = jQuery(this).attr("id").split("-")[1];
        var state = $( this ).is(':checked') ? 'on' : 'off';
        console.log(settingId + '-' + state);

        $.ajax({
            url:"{{ (path('change_setting')) }}",
            type: "POST",
            dataType: "json",
            data: {
                "setting_id": settingId,
                "state": state,
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	  });
	</script>
	<script>
	  $(document).on('click', '[id^="savePref-"]', function(){

        var setting_id = jQuery(this).attr("id").split("-")[1];
        var preference = $("#preference-"+setting_id).val();

        $.ajax({
            url:"{{ (path('save_preference')) }}",
            type: "POST",
            dataType: "json",
            data: {
                "setting_id": setting_id,
                "preference": preference,
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	  });
	</script>

{% endblock %}