{{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="form-group">
        {{ form_label(form.file) }}
        {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button class="btn mb-1 btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
