/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    height: 60px; /* Set the fixed height of the footer here */
    /* background-color: #f5f5f5; */
}
  
  
  /* Custom page CSS
   * Not required for template or sticky footer method.
   * -------------------------------------------------- */
/*   
  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  .container .text-muted {
    margin: 20px 0;
  }
   */