{% extends 'adm_base.html.twig' %}

{% block title %}Sessions{% endblock %}
{% block stylesheets %}
   <!-- DataTables CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
   <!-- DataTables Responsive CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Teachers' Invoices</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Teachers' Invoices</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
                       
        <div class="row">
            <div class="col-xl-4">
                {# <a class="btn btn-success btn-md waves-effect waves-light mb-3" href="{{path('file_export', {'filetype': 'excel', 'entity': 'uig'})}}">Excel</a>
                <a class="btn btn-success btn-md waves-effect waves-light mb-3" href="{{path('file_export', {'filetype': 'pdf', 'entity': 'uig'})}}">PDF</a> #}
            </div><!-- end col -->
        </div>
        <!-- end row -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            {# <a href="{{ path('session_new') }}" class="dropdown-item">Create new session</a> #}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">List of all invices</h4>

                    <table class="table" id="datatable">
                        <thead>
                            <tr>
                                <th>Teacher</th>
                                <th>Amount</th>
                                <th>URL</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for invoice in invoices %}
                            <tr>
                                <td>{{ invoice.teacher }}</td>
                                <td>{{ invoice.amount }}</td>
                                <td><a href="{{invoice.url}}">{{ invoice.url }}</a></td>
                                <td>{{ invoice.dateSubmitted|date('d/m/Y') }}</td>
                                <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a class="btn btn-sm mb-1 btn-info" href="#">Action</a>
                                </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
   <!-- DataTables JS -->
   <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
   <!-- DataTables Responsive JS -->
   <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#datatable').DataTable({
                "order": [[ 0, "asc" ]],
                "pageLength": 100,
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.childRowImmediate
                    }
                }

            });

        } );
    </script>
{% endblock %}
