{{ form_start(form, {'attr': {'role': 'form'}}) }}
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Title</label>
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Title of the article.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Slug</label>
                {{ form_widget(form.slug, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">URL friendly title eg. with dashes instead of spaces.</span>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label>Content</label>
                {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The content of the article.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Category</label>
                {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Which category is this article in?.</span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Published Date</label>
                {{ form_widget(form.published_at.date, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">This will be shown as the publishing date of this article.</span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Published Time</label>
                {{ form_widget(form.published_at.time, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">This will be shown as the publishing time of this article.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Excerpt</label>
                {{ form_widget(form.excerpt, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Text that will show on the article preview.</span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="checkbox">
            {{ form_widget(form.published, {'attr': {'class': 'form-check-input'}}) }}
                <label for="blog_published">
                    Published?
                </label>
                <span class="help-block">Should the article go live?.</span>                
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Image</label>
                {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The image that will show above / with this article.</span>
            </div>
        </div>

    </div>
</div>
<button type="submit" class="btn btn-success btn-lg">{{ button_label|default('Save Blog') }}</button>
<hr />
{{ form_end(form) }}