{% extends 'adm_base.html.twig' %}

{% block title %}Articles{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Articles</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('blog_new') }}" class="dropdown-item">Create New</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Articles</h4>
                    {% set thisPage = app.request.pathInfo %}

                    <div class="table-responsive">
                    
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Excerpt</th>
                                    <th>Published_at</th>
                                    <th>Published</th>
                                    <th>Created_at</th>
                                    <th>Updated_at</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for blog in blogs|reverse %}
                                <tr>
                                    <td>{{ blog.title }}</td>
                                    <td>{{ blog.excerpt }}</td>
                                    <td>{{ blog.publishedAt ? blog.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ blog.published ? 'Yes' : 'No' }}</td>
                                    <td>{{ blog.createdAt ? blog.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ blog.updatedAt ? blog.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>
                                        <a href="{{ path('blog_show', {'id': blog.id}) }}">show</a>
                                        <a href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a>
                                        <a href="{{ path('crop_resize_replace', {'thisId': blog.id, 'entity': 'blog', 'toPage': thisPage, 'url': blog.image ~ '@740x416'}) }}">resize photo</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="10">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    
                    </div>

                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}


{% endblock %}