{% extends 'adm_base.html.twig' %}

{% block title %}New Article{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/timepicker/css/timepicker.css')}}" />
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">New Article</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('blog_index') }}" class="dropdown-item">Back to list</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">New Article</h4>

                    {{ include('blog/_form.html.twig') }}

                    <a href="{{ path('blog_index') }}">back to list</a>
                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}

    <script src="{{asset('assets/datepicker/js/bootstrap-datepicker.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/timepicker/js/timepicker.js')}}"></script>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('#blog_published_at_date').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
        });
    </script>    
    <script type="text/javascript">
        $(function () {
    
            $('#blog_published_at_time').timepicker();
    
        });
    </script>


{% endblock %}