{% extends 'base.html.twig' %}
{% block title %}{{blog.title|title}}{% endblock %}
{% block meta_description %}<meta name="description" content="{{ blog.content|striptags|slice(0,157) }}...">{% endblock %}
{% block stylesheets %}
<script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
<script src="https://apis.google.com/js/platform.js"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4719812743157570"
     crossorigin="anonymous"></script>
<script async src="https://fundingchoicesmessages.google.com/i/pub-4719812743157570?ers=1" nonce="nsZJBRtYGcU0YYkRO3Tc7g"></script><script nonce="nsZJBRtYGcU0YYkRO3Tc7g">(function() {function signalGooglefcPresent() {if (!window.frames['googlefcPresent']) {if (document.body) {const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe);} else {setTimeout(signalGooglefcPresent, 0);}}}signalGooglefcPresent();})();</script>     
<style>
    #blog_article a {
        text-decoration:underline!important;
        color:blue!important;
    }
    p, ul, ol {
        font-size:21px!important;
        line-height: 32px;   /* within paragraph */
        margin-bottom: 30px; /* between paragraphs */        
        color:#6c6c6c;
    }
    h2, h3 {
        line-height: 32px;
        margin-bottom: 30px!important;
        font-weight: 600;
    }

    ul {
      padding: 0;
      margin: 0;
    }
    
    ol {
        padding: 0;
        margin: 0;
    }
    li {
        margin-bottom: 20px;
    }
    
    ol p {
        margin-bottom: 0;
    }    
    blockquote {
    background-color: #f9f9f9;
    border-left: 10px solid #4CAF50;
    padding: 15px;
    margin: 20px 0;
    }
    
    blockquote p {
    font-size: 18px;
    line-height: 1.5;
    }

    blockquote a {
    color: #4CAF50;
    font-weight: bold;
    text-decoration: none;
    }
    
</style>
{% endblock %}

{% block page %}
<div class="page">
    {{ include('tmp/header_extended.html.twig', {'page': 'Blog', 'subpage': blog.category.name|title, 'pagetitle': blog.title, 'addon': 'bloginfo'}) }}
<div class="nicdark_section">
    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">
        <div class="grid grid_8">
            <div class="nicdark_width_100_percentage">
                <p class="nicdark_padding_10 nicdark_padding_0_all_iphone nicdark_padding_left_0"><img src="/education/images/{{blog.image}}" alt="" style="max-width:100%;height:auto;"/></p>
            </div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4719812743157570"
                 crossorigin="anonymous"></script>
            <!-- Blog Display Ad - Cheza -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-4719812743157570"
                 data-ad-slot="8717247519"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>            
            <div class="nicdark_width_100_percentage">
                <p class="nicdark_padding_10 nicdark_padding_0_all_iphone">{{blog.excerpt|nl2br}}.</p>
                {% if blog.category == 'Events' %}{{ include('pay_now', {'eventId': blog.id, 'eventName': blog.title }) }}{% endif %}
                <div class="nicdark_section nicdark_height_10"></div>
            </div>
            <div class="nicdark_width_100_percentage nicdark_float_left">
                <section id="blog_article">{{blog.content|raw}}</section>
                {% if blog.category == 'Events' %}{{ include('pay_now', {'eventId': blog.id, 'eventName': blog.title }) }}{% endif %}
                <div class="nicdark_section nicdark_height_20"></div>
                
                <div class="nicdark_section">
                    <a class="nicdark_display_inline_block nicdark_padding_8 nicdark_first_font nicdark_margin_right_10 nicdark_color_greydark nicdark_padding_left_0" href="#">Tag :</a>
                    <a class="nicdark_display_inline_block nicdark_font_size_13 nicdark_border_1_solid_grey nicdark_padding_8 nicdark_border_radius_3 nicdark_margin_10" href="#"># {{blog.category}}</a>
                    <a class="nicdark_display_inline_block nicdark_font_size_13 nicdark_border_1_solid_grey nicdark_padding_8 nicdark_border_radius_3 nicdark_margin_10" href="#"># Cheza Music School</a>
                </div>
                <div class="nicdark_section nicdark_height_30"></div>
                <div class="nicdark_section">
                    <a href="{{ global_vars('configData') ? global_vars('configData').facebookId}}"><img alt="" width="40" class="nicdark_margin_right_10" src="/education/img/icons/icon-facebook-color.svg"></a>
                    <a href="{{ global_vars('configData') ? global_vars('configData').twitterId}}"><img alt="" width="40" class="nicdark_margin_right_10" src="/education/img/icons/icon-twitter-color.svg"></a>
                    <a href="{{ global_vars('configData') ? global_vars('configData').instagramId}}"><img alt="" width="40" class="nicdark_margin_right_10" src="/education/img/icons/icon-instagram-grey.svg"></a>
                </div>
            </div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4719812743157570"
                 crossorigin="anonymous"></script>
            <!-- Blog Display Ad - Cheza -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-4719812743157570"
                 data-ad-slot="8717247519"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>            
            <div class="nicdark_section nicdark_border_top_1_solid_grey ">
                <div class="nicdark_section nicdark_height_50"></div>
                <h3><strong>{{blog.comments|length}} Comments</strong></h3>
                <div class="nicdark_section nicdark_height_40"></div>

                <section id="comments_box">
                    {% for comment in blog.comments|reverse %}

                    <div id="cm_{{comment.id}}" class="nicdark_section">
                        <div class="nicdark_display_table nicdark_float_left">
                            <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle nicdark_border_radius_100_percentage" width="40" src="{{ comment.user.photo is not null ? comment.user.photo : '/img/profile/person.png' }}">
                            <p class="  nicdark_display_table_cell nicdark_vertical_align_middle "><span class="nicdark_color_greydark nicdark_first_font nicdark_margin_right_20"><strong>{{comment.user.fullname}}</strong></span>{{comment.createdAt|date('M j, Y \\a\\t g:i a')}}</p>
                        </div>
                        <div class="nicdark_section nicdark_height_20"></div>
                        <div class="nicdark_section">
                            <p id="cc_{{comment.id}}">{{comment.content}}</p>
                        </div>
                        <div class="nicdark_section nicdark_height_20"></div>
                        <div class="nicdark_section">
                            <a id="showrbox_{{comment.id}}" href="#box_{{comment.id}}" class="nicdark_display_inline_block nicdark_color_white nicdark_first_font nicdark_bg_green nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13">REPLY</a>
                        </div>
                        <div class="nicdark_section nicdark_height_20"></div>
                        {# replies #}
                        <section id="cr_{{comment.id}}">
                            {% for reply in comment.replies|reverse %}
                            <div class="nicdark_section nicdark_padding_left_25">
                                <div class="nicdark_display_table nicdark_float_left">
                                    <img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle nicdark_border_radius_100_percentage" width="40" src="{{ reply.user.photo is not null ? reply.user.photo : '/img/profile/person.png' }}">
                                    <p class="  nicdark_display_table_cell nicdark_vertical_align_middle "><span class="nicdark_color_greydark nicdark_first_font nicdark_margin_right_20"><strong>{{reply.user.fullname}}</strong></span>{{reply.createdAt|date('M j, Y \\a\\t g:i a')}}</p>
                                </div>
                                <div class="nicdark_section nicdark_height_20"></div>
                                <div class="nicdark_section">
                                    <p>{{reply.content}}</p>
                                </div>
                                <div class="nicdark_section nicdark_height_20"></div>
                            </div>
                            {% endfor %}  
                        </section>    
                        {# reply #}
                        {% if app.user is defined and app.user is not null %}

                        <div class="nicdark_section nicdark_padding_left_25 nicdark_border_top_1_solid_grey " id="box_{{comment.id}}" style="display:none;">
                        <div class="nicdark_section nicdark_height_50"></div>
                        <h3><strong>Leave a Reply</strong></h3>
                        <div class="nicdark_section nicdark_height_40"></div>
                        <div class="nicdark_section nicdark_box_sizing_border_box">
                            <form id="reply_form-{{comment.id}}" class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="">
                                <div class="nicdark_section">
                                    <div class="nicdark_width_100_percentage nicdark_padding_10 nicdark_padding_right_0 nicdark_padding_left_0 nicdark_box_sizing_border_box nicdark_float_left">
                                        <textarea id="reply" name="reply" rows="5" class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0" placeholder="Reply"></textarea>
                                    </div>
                                    <input type="hidden" name="comment_id" value="{{comment.id}}" id="comment_id">
                                </div>
                                <div class="nicdark_section">
                                    <div class="nicdark_width_100_percentage nicdark_padding_10 nicdark_padding_right_0 nicdark_padding_left_0 nicdark_box_sizing_border_box nicdark_float_left">
                                        <button id="post_reply-{{comment.id}}" class="nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box  nicdark_color_white nicdark_bg_orange nicdark_first_font nicdark_padding_10_20 nicdark_border_radius_3 " type="button">SEND REPLY</button>   
                                    </div>
                                </div>
                            </form>
                        </div>

                        {% else %}
                        <p>Log in to reply</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4719812743157570"
                         crossorigin="anonymous"></script>
                    <!-- Blog Display Ad - Cheza -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-4719812743157570"
                         data-ad-slot="8717247519"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>            
                    {% if app.user is defined and app.user is not null %}
                    <div class="nicdark_section nicdark_border_top_1_solid_grey ">
                        <div class="nicdark_section nicdark_height_50"></div>
                        <h3><strong>Leave a Comment</strong></h3>
                        <div class="nicdark_section nicdark_height_40"></div>
                        <form id="comment_form" class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="">
                            <div class="nicdark_section nicdark_box_sizing_border_box">
                                <!--form-->
                                <div class="nicdark_section">
                                    <div class="nicdark_width_100_percentage nicdark_padding_10 nicdark_padding_right_0 nicdark_padding_left_0 nicdark_box_sizing_border_box nicdark_float_left">
                                        <textarea rows="7" id="comment" name="comment" class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0" placeholder="Message"></textarea>
                                    </div>
                                    <input type="hidden" name="blog_id" value="{{blog.id}}" id="post_id">
                                </div>
                                <div class="nicdark_section">
                                    <div class="nicdark_width_100_percentage nicdark_padding_10 nicdark_padding_right_0 nicdark_padding_left_0 nicdark_box_sizing_border_box nicdark_float_left">
                                        <button id="post_comment" type="button" class="nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box  nicdark_color_white nicdark_bg_orange nicdark_first_font nicdark_padding_10_20 nicdark_border_radius_3 ">SEND COMMENT</button>   
                                    </div>
                                </div>
                                <!--form-->
                            </div>
                        </form>
                    </div>
                    {% else %}
                    <p>Log in to comment</p>
                    {% endif %}
                </section>
            </div>


            <div class="nicdark_section nicdark_height_50"></div>
        </div>
        {{include('sidebar_right')}}

    </div>
    <!--end container-->
</div>
{% if blog.category == 'Events' %}
    {{ include('eventPaymentModal', {'eventId': blog.id, 'eventName': blog.title }) }}
{% endif %}
{{ include('tmp/footer.html.twig') }}

</div>

    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>

{% endblock %}    

{% block javascripts %}
    {% if blog.category == 'Events' %}{{ include('eventPaymentScript', {'eventId': blog.id, 'eventName': blog.title }) }}{% endif %}

    <script src="{{asset('assets/js/bootstrap-notify.min.js')}}"></script>        
    <script>
        function validateForm(data){
            var valid = true;
            $.each(data, function(id, obj) {
                // console.log(obj.name);
                if(obj.value === "" && obj.name != 'request_id') {
                    valid = false;
                }
            });   
            return valid;
        }
        
        function showSimpleAlert(message, duration, icon = 'success'){
            return Swal.fire({
                position: 'center',
                icon: icon,
                title: message,
                showConfirmButton: false,
                timer: duration
            })
        }

    </script>
    <script>
	  $(document).on('click', '#post_comment', function(){

	  		var form = document.getElementById("comment_form");
            var form_data = $( form ).serializeArray();

            $.ajax({
            url:'/comment/save/user/comment',
            type: "POST",
            contentType:false,
            processData:false,
            cache:false,
            dataType: "json",
            data: new FormData(form),
            async: true,
            success: function (data)
            {
                $(form)[0].reset();
                console.log(data);
                $("#comments_box").prepend(
                    '<div id="cm_' + data.id + '" class="nicdark_section">' +
                        '<div class="nicdark_display_table nicdark_float_left">' +
                            '<img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle nicdark_border_radius_100_percentage" width="40" src="/img/profile/person.png">' +
                            '<p class="  nicdark_display_table_cell nicdark_vertical_align_middle "><span class="nicdark_color_greydark nicdark_first_font nicdark_margin_right_20"><strong>' + data.name + '</strong></span>' + data.time + '</p>' +
                        '</div>' +
                        '<div class="nicdark_section nicdark_height_20"></div>' +
                        '<div class="nicdark_section">' +
                            '<p id="cc_' + data.id + '">' + data.content + '</p>' +
                        '</div>' +
                        '<div class="nicdark_section nicdark_height_20"></div>' +
                        '<div class="nicdark_section">' +
                            '<a id="showrbox_' + data.id + '" href="#box_' + data.id + '" class="nicdark_display_inline_block nicdark_color_white nicdark_first_font nicdark_bg_green nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13">REPLY</a>' +
                        '</div>' +
                        '<div class="nicdark_section nicdark_height_20"></div>' +
                        '<section id="cr_' + data.id + '"></section>' +
                    '</div>'
                );
                window.location.hash = '#cm_' + data.id;
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: 'Comment Added', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
            });

	  });

    </script>

    <script>
        $(document).on('click', '[id^="post_reply-"]', function(){

            var id = jQuery(this).attr("id").split("-")[1];
	  		var form = document.getElementById("reply_form-"+id);
            var form_data = $( form ).serializeArray();

            $.ajax({
            url:'/comment/reply/save/comment/reply',
            type: "POST",
            contentType:false,
            processData:false,
            cache:false,
            dataType: "json",
            data: new FormData(form),
            async: true,
            success: function (data)
            {
                $(form)[0].reset();
                console.log(data);
                $("#cr_"+id).prepend(
                    '<div class="nicdark_section nicdark_padding_left_25">' +
                        '<div class="nicdark_display_table nicdark_float_left">' +
                            '<img alt="" class="nicdark_margin_right_10 nicdark_display_table_cell nicdark_vertical_align_middle nicdark_border_radius_100_percentage" width="40" src="/img/profile/person.png">' +
                            '<p class="  nicdark_display_table_cell nicdark_vertical_align_middle "><span class="nicdark_color_greydark nicdark_first_font nicdark_margin_right_20"><strong>' + data.name + '</strong></span>' + data.time + '</p>' +
                        '</div>' +
                        '<div class="nicdark_section nicdark_height_20"></div>' +
                        '<div class="nicdark_section">' +
                            '<p>' + data.content + '</p>' +
                        '</div>' +
                        '<div class="nicdark_section nicdark_height_20"></div>' +
                    '</div>'
                );
                window.location.hash = '#cc_' + data.id;
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: 'Reply Added', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
            });

	    });

    </script>

    <script>
        
        $(document).on('click', '[id^="showrbox_"]', function(){
            console.log('clicked');
            var id = jQuery(this).attr("id").split("_")[1];
            $("#box_"+id).toggle();

        })

    </script>

{% endblock %}
