{% extends 'base.html.twig' %}
{% block title %}Contacts | Cheza Music School{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block page %}
    <div class="page">

        {{ include('tmp/header.html.twig') }}
        {{ include('breadcrump_global', {'page': 'blog', 'pagetitle': blog.title}) }}
        
        {{ include('tmp/footer.html.twig') }}

    </div>
    
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>

{% endblock %}    

{% block javascripts %}

{% endblock %}
