{% extends 'adm_base.html.twig' %}

{% block title %}Blog Article{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Blog Article</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('blog_index') }}" class="dropdown-item">Back to list</a>
                            {{ include('blog/_delete_form.html.twig') }}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Blog Article</h4>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ blog.id }}</td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td>{{ blog.title }}</td>
                            </tr>
                            <tr>
                                <th>Slug</th>
                                <td>{{ blog.slug }}</td>
                            </tr>
                            <tr>
                                <th>Image</th>
                                <td>{{ blog.image }}</td>
                            </tr>
                            <tr>
                                <th>Excerpt</th>
                                <td>{{ blog.excerpt }}</td>
                            </tr>
                            <tr>
                                <th>Content</th>
                                <td>{{ blog.content }}</td>
                            </tr>
                            <tr>
                                <th>Published_at</th>
                                <td>{{ blog.publishedAt ? blog.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Published</th>
                                <td>{{ blog.published ? 'Yes' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th>Created_at</th>
                                <td>{{ blog.createdAt ? blog.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Updated_at</th>
                                <td>{{ blog.updatedAt ? blog.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <a href="{{ path('blog_index') }}">back to list</a>

                    <a href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a>

                    {{ include('blog/_delete_form.html.twig') }}
                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}


{% endblock %}