{{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="form-group">
        {{ form_label(form.content) }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.image) }}
        {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.answerMode) }}
        {{ form_widget(form.answerMode, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.lesson) }}
        {{ form_widget(form.lesson, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <button class="btn mb-1 btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
