{% extends 'adm_base.html.twig' %}

{% block title %}List Quiz{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">List Quiz</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">+ Quiz</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('quiz_new') }}" class="dropdown-item">Create new</a>
                            <!-- item-->
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Quiz index</h1>
                    <a style="display:inline;" href="{{ path('quiz_new') }}" class="dropdown-item">+New</a>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Lesson</th>
                                <th>Content</th>
                                <th>Image</th>
                                <th>AnswerMode</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for quiz in quizzes|reverse %}
                            <tr id="{{quiz.id}}">
                                <td>{{ quiz.lesson.name }}</td>
                                <td>{{ quiz.content|raw }}</td>
                                <td>{% if quiz.image is null %} No Image {% else %}<img src="/quizfiles/images/{{ quiz.image }}" style="max-width:150px;">{% endif %}</td>
                                <td>{{ quiz.answerMode }}</td>
                                <td>
                                    <a href="{{ path('quiz_show', {'id': quiz.id, 'lesson': quiz.lesson.id }) }}">show</a>
                                    <a href="{{ path('quiz_edit', {'id': quiz.id, 'lesson': quiz.lesson.id }) }}">edit</a>
                                    <a href="{{ path('choice_new', {'quiz': quiz.id, 'lesson': quiz.lesson.id }) }}">+choice({{quiz.choices|length}})</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    
                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}   

{% endblock %}

