<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{ grade | replace( {'-': ' '} ) | title }} {{lesson.name}} Quiz | {{global_vars('configData') ? global_vars('configData').companyName}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Josiah Birai"> <!--insert your name here-->
    <meta name="keywords" content="{{global_vars('configData') ? global_vars('configData').siteMetaKeywords}}">
    <meta name="description" content="{{global_vars('configData') ? global_vars('configData').siteDescription}}">    
	<link rel="stylesheet" href="{{ asset('quizfiles/assets/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('quizfiles/assets/css/owl.carousel.css') }}">
	<link rel="stylesheet" href="{{ asset('quizfiles/assets/css/animate.min.css') }}">
	<link rel="stylesheet" href="{{ asset('quizfiles/assets/css/fontawesome-all.css') }}">
	<link rel="stylesheet" href="{{ asset('quizfiles/assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('education/css/sweetalert2.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{asset('assets/css/loader.css')}}">
	<style>
		.details-form-area {
		padding-top: 90px;
		}
		.details-form-area .select-option-area:after {
		top: 20px;
		right: 20px;
		width: 30px;
		height: 30px;
		font-weight: 900;
		content: "\f0dd";
		line-height: 25px;
		text-align: center;
		position: absolute;
		border-radius: 100%;
		background-color: #f6f6f6;
		font-family: "Font Awesome 5 Free";
		}
		.details-form-area .date-of-birth:after {
		top: 20px;
		right: 20px;
		width: 30px;
		height: 30px;
		color: #898989;
		content: "\f073";
		font-weight: 900;
		text-align: center;
		line-height: 30px;
		position: absolute;
		border-radius: 100%;
		background-color: #f6f6f6;
		font-family: "Font Awesome 5 Free";
		}
		.details-form-area .gender-select {
		height: 182px !important;
		}
		.details-form-area .gender-select h3 {
		color: #5f5f63;
		font-size: 25px;
		font-weight: 900;
		text-align: center;
		padding: 35px 0px 20px;
		}
		.details-form-area .gender-select label {
		padding-left: 40px;
		}
		.details-form-area .gender-select label input {
		top: 10px;
		width: 35px;
		height: 35px;
		position: relative;
		color: #7650e0;
		border-radius: 100%;
		box-shadow: 0px 1px 29px 0px rgba(1, 1, 1, 0.09);
		}
		.details-form-area .gender-select label span {
		color: #5f5f63;
		font-size: 18px;
		font-weight: 500;
		margin-left: 10px;
		}
		.details-form-area .add-textarea {
		width: 100%;
		height: 175px !important;
		}
		.details-form-area .form-input-inner {
		height: 72px;
		margin-bottom: 40px;
		background-color: #fff;
		box-shadow: 0px 1px 29px 0px rgba(1, 1, 1, 0.09);
		}
		.details-form-area .form-input-inner input,
		.details-form-area .form-input-inner select,
		.details-form-area .form-input-inner textarea {
		width: 100%;
		height: 100%;
		border: none;
		padding-left: 40px;
		border-radius: 5px;
		color: #b7b7b7;
		}
		.details-form-area .form-input-inner input::placeholder,
		.details-form-area .form-input-inner select::placeholder,
		.details-form-area .form-input-inner textarea::placeholder {
		color: #b7b7b7 !important;
		font-size: 14px;
		}
		.details-form-area .form-input-inner textarea {
		width: 100%;
		height: 175px;
		padding-top: 30px;
		}
		.details-form-area .form-input-inner select {
		-webkit-appearance: none;
		}
		.details-form-area .form-input-inner select option {
		color: #b7b7b7;
		font-size: 14px;
		}
		.details-form-area .form-input-inner .icon-bg {
		top: 20px;
		left: -17px;
		width: 33px;
		height: 33px;
		line-height: 33px;
		position: absolute;
		border-radius: 100%;
		background-color: #e4e4e4;
		}
		.details-form-area .form-input-inner .icon-bg i {
		color: #686868;
		font-size: 14px;
		}
		.details-form-area .has-float-label label {
		position: absolute;
		left: 0;
		top: 0;
		cursor: text;
		font-size: 14px;
		opacity: 1;
		color: #fff;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		top: -12px;
		left: 36px;
		z-index: 3;
		border-radius: 5px;
		padding: 5px 10px;
		background: #7650e0;
		line-height: 1;
		}
		.details-form-area .has-float-label label.error {
		left: 50%;
		}
		.details-form-area .has-float-label .form-control::-webkit-input-placeholder {
		opacity: 1;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
		}
		.details-form-area .has-float-label .form-control::-moz-placeholder {
		opacity: 1;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
		}
		.details-form-area .has-float-label .form-control:-ms-input-placeholder {
		opacity: 1;
		-ms-transition: all 0.2s;
		transition: all 0.2s;
		}
		.details-form-area .has-float-label .form-control:-ms-input-placeholder:not(:focus) + * {
		font-size: 150%;
		opacity: 0;
		top: 0.3em;
		background: transparent;
		}
		.details-form-area .has-float-label .form-control::-ms-input-placeholder {
		opacity: 1;
		-webkit-transition: all 0.2s;
		-ms-transition: all 0.2s;
		transition: all 0.2s;
		}
		.details-form-area .has-float-label .form-control::-webkit-input-placeholder {
		opacity: 1;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		color: #5756a2;
		}
		.details-form-area .has-float-label .form-control::-moz-placeholder {
		opacity: 1;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
		color: #5756a2;
		}
		.details-form-area .has-float-label .form-control:-ms-input-placeholder {
		opacity: 1;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		-ms-transition: all 0.2s;
		transition: all 0.2s;
		color: #5756a2;
		}
		.details-form-area .has-float-label .form-control::placeholder {
		opacity: 1;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		color: #5756a2;
		}
		.details-form-area .has-float-label .form-control:focus {
		border: 2px solid #7650e0;
		}
		.details-form-area .has-float-label .form-control:focus::-webkit-input-placeholder {
		color: transparent;
		}
		.details-form-area .has-float-label .form-control:focus:-moz-placeholder {
		color: transparent;
		}
		.details-form-area .has-float-label .form-control:focus::-moz-placeholder {
		color: transparent;
		}
		.details-form-area .has-float-label .form-control:focus:-ms-input-placeholder {
		color: transparent;
		}
		.details-form-area .has-float-label .form-control:-moz-placeholder-shown:not(:focus) + * {
		font-size: 100%;
		opacity: 0;
		top: 0.3em;
		background: transparent;
		}
		.details-form-area .has-float-label .form-control:-ms-input-placeholder:not(:focus) + * {
		font-size: 100%;
		opacity: 0;
		top: 30px;
		left: 40px;
		visibility: hidden;
		background: transparent;
		}
		.details-form-area .has-float-label .form-control:placeholder-shown:not(:focus) + * {
		font-size: 100%;
		opacity: 0;
		top: 30px;
		left: 40px;
		visibility: hidden;
		background: transparent;
		}
		.details-form-area .has-float-label .form-control:focus .form-input-inner .icon-bg {
		background-color: #7650e0 !important;
		}
		.details-form-area .input-filed-innerbox {
		width: 100%;
		margin: 0px 15px;
		}
		.details-form-area .wizard-document-upload {
		width: 100%;
		}
		.details-form-area .wizard-document-upload .custom-file {
		float: right;
		height: 85px;
		width: 710px;
		margin-bottom: 120px;
		}
		.details-form-area .wizard-document-upload .custom-file .icon-bg {
		top: 0;
		z-index: 1;
		background-color: #7650e0;
		}
		.details-form-area .wizard-document-upload .custom-file .icon-bg i {
		color: #fff;
		}
		.details-form-area .wizard-document-upload .custom-file .custom-file-label {
		width: 100%;
		height: 100%;
		left: auto;
		border: none;
		color: #b7b7b7;
		line-height: 75px;
		padding-left: 40px;
		box-shadow: 0px 1px 29px 0px rgba(1, 1, 1, 0.09);
		}
		.details-form-area .wizard-document-upload .custom-file .custom-file-label:after {
		top: 7px;
		right: 7px;
		padding: 0;
		color: #fff;
		height: 72px;
		width: 165px;
		font-size: 20px;
		font-weight: 900;
		line-height: 72px;
		text-align: center;
		font-family: "Poppins";
		background-color: #7650e0;
		}
		.details-form-area .wizard-document-upload .custom-file .file-size-text {
		top: 60px;
		left: 30px;
		width: 100%;
		display: block;
		color: #413f3f;
		font-size: 15px;
		font-weight: 500;
		}
	</style>
	<body>
		<div class="quiz-top-area text-center">
			<h1 style="display:inline;">{{ grade | replace( {'-': ' '} ) | title }} {{lesson.name}} Quiz - ABRSM Syllabus</h1>
			{% if lesson.presentation is not null %}
				<a href="{{ asset('quizfiles/images/' ~ lesson.presentation ) }}">
					<img style="height:30px;width:30px;" src="{{ asset('quizfiles/assets/img/ppticon.jpg') }}">
				</a>
			{% endif %}
			{% if lesson.pdf is not null %}
				<a href="{{ asset('quizfiles/images/' ~ lesson.pdf ) }}">
					<img style="height:30px;width:30px;" src="{{ asset('quizfiles/assets/img/pdficon.jpg') }}">
				</a>
			{% endif %}
			<div class="quiz-countdown text-center ul-li">
				<ul>
					<li class="hours">
						<span class="count-down-number"></span>
						<span class="count-unit">Hours</span>
					</li>

					<li class="minutes">
						<span class="count-down-number"></span>
						<span class="count-unit">Min</span>
					</li>

					<li class="seconds">
						<span class="count-down-number"></span>
						<span class="count-unit">Sec</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrapper position-relative">
			<div class="wizard-content-1 clearfix">
				<div class="steps d-inline-block position-absolute clearfix">
					<ul class="tablist multisteps-form__progress">
						<li class="multisteps-form__progress-btn js-active current"></li>
						<li class="multisteps-form__progress-btn "></li>
						<li class="multisteps-form__progress-btn"></li>
						<li class="multisteps-form__progress-btn"></li>
						<li class="multisteps-form__progress-btn"></li>
					</ul>
				</div>
				<div class="step-inner-content clearfix position-relative">
					<form class="multisteps-form__form" action="{{ path('quiz_form') }}" id="wizard" method="POST">
						<input type="hidden" name="lesson" id="lesson" value="{{lesson.id}}">
						<input type="hidden" name="test" id="test" value="">
						<div class="form-area position-relative">
							<div class="multisteps-form__panel js-active" data-animation="scaleIn">
								<div class="wizard-forms form-step-2">
									<div class="wizard-inner-box">
										<div class="inner-title text-center">
											<h2>Welcome To Music Theory Quiz - Cheza Music School</h2>
											<p>Please enter your details before you begin your test. <strong>Your results will be sent to your email.</strong></p>
										</div>
									</div>
									<div class="details-form-area">
										<div class="row">
											<div class="col-lg-6">
												<div class="form-input-inner position-relative has-float-label">
													<input type="text" id="fullname" name="fullname" placeholder="Full Name" class="form-control" required>
													<label>Full  Name</label>
													<div class="icon-bg text-center">
														<i class="fas fa-user"></i>
													</div>
													
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-input-inner position-relative has-float-label">
													<input type="email" id="email" name="email" placeholder="Email" class="form-control required" required>
													<label>Email</label>
													<div class="icon-bg text-center">
														<i class="fas fa-envelope"></i>
													</div>
												</div>
											</div>
											{#<div class="col-lg-4">#}
											{#	<div class="form-input-inner position-relative has-float-label">#}
											{#		<input type="text" id="phone" name="phone" placeholder="Phone" class="form-control" required>#}
											{#		<label>Phone</label>#}
											{#		<div class="icon-bg text-center">#}
											{#			<i class="fas fa-phone"></i>#}
											{#		</div>#}
											{#	</div>#}
											{#</div>#}
										</div>
									</div>
									<div class="actions clearfix">
										<ul>
											<li><a href="/music/theory/online/quiz/abrsm/"><span class="js-btn-prev" title="ALL TESTS"> All Tests</span></a></li>
											<li><span class="js-btn-next" title="NEXT" id="startOff">Start Test</span></li>
										</ul>
									</div>
									{# <div class="bottom-vector position-absolute">
										<img src="/quizfiles/assets/img/sd1.png" alt="">
									</div> #}
								</div>
							</div>
							{% for quiz in quizzes %}
								{% set percentage = (loop.index / quizzes|length) * 100 %}
								{% if quiz.answerMode == 'text' and quiz.choices|length > 0 and quiz.choices|first.content|length <= 16 %}
								<div class="multisteps-form__panel  {#% if loop.index == 1 %} {% endif %#}" data-animation="fadeIn">
									<div class="wizard-forms clearfix position-relative">
										<div class="quiz-title text-center">
											{% if quiz.content|length > 0 %}<p>{{quiz.content|raw}}</p>{% endif %}
											{% if quiz.image|length > 0 %}<img style="max-height:300px;" src="{{ asset('quizfiles/images/' ~ quiz.image ) }}">{% endif %}
										</div>
										<div class="quiz-option-selector clearfix">
											<ul>
												{% for choice in quiz.choices %}
												<li>
													<label class="start-quiz-item">
														<input type="radio" name="{{quiz.id}}" id="{{choice.id}}" value="{{choice.id}}" class="exp-option-box required" required="required">
														<span class="exp-number text-uppercase">{{choice.refLetter}}</span>
														<span class="exp-label">{{choice.content|raw}}</span>
														<span class="checkmark-border"></span>
													</label>
												</li>
												{% endfor %}
											</ul>
										</div>
										<div class="quiz-progress-area">
											<div class="progress">
												<div class="progress-bar position-relative" style="width: {{ percentage|round }}%">
													<span>Question {{ loop.index }} / {{quizzes|length}} {{ percentage|round }}% complete.</span>
												</div>
											</div>
										</div>
										<div class="actions clearfix">
											<ul>
												{% if loop.index > 1 %}
												<li class=""><span class="js-btn-prev" title="PREV">Previous Question</span></li>
												{% else %}
												<li class="d-none"><span class="js-btn-next next-{{quiz.id}}" title="PREV">Previous Question</span></li>
												{% endif %}
												{% if loop.index == quizzes|length %}
												<li><button class="js-btn-submit"  id="submit_test" type="submit"><span>SUBMIT</span></button></li>
												{% else %}
												<li><span class="js-btn-next next-{{quiz.id}}" title="NEXT">Next Question</span></li>
												{% endif %}
											</ul>
										</div>
									</div>
								</div>
								{% endif %}
								{% if quiz.answerMode == 'imagetext' %}
								<div class="multisteps-form__panel" data-animation="fadeIn">
									<div class="wizard-forms clearfix position-relative">
										<div class="quiz-title text-center">
											{% if quiz.content|length > 0 %}<p>{{quiz.content|raw}}</p>{% endif %}
											{% if quiz.image|length > 0 %}<img style="max-height:300px;" src="{{ asset('quizfiles/images/' ~ quiz.image ) }}">{% endif %}
										</div>
										<div class="quiz-option-selector quiz-option-selector-2 clearfix">
											<ul>
												{% for choice in quiz.choices %}
												<li>
													<label class="start-quiz-item">
														<input type="radio" name="{{quiz.id}}" id="{{choice.id}}" value="{{choice.id}}" class="exp-option-box required" required="required">
														<span class="exp-number text-uppercase"><img src="{{ asset('quizfiles/images/' ~ choice.image ) }}" alt=""></span>
														<span class="exp-label">{{ choice.content|striptags }}</span>
														<span class="checkmark-border"></span>
													</label>
												</li>
												{% endfor %}
											</ul>
										</div>
										<div class="quiz-progress-area">
											<div class="progress">
												<div class="progress-bar position-relative" style="width: {{ percentage|round }}%">
													<span>Question {{ loop.index }} / {{quizzes|length}} {{ percentage|round }}% complete.</span>
												</div>
											</div>
										</div>
										<div class="actions clearfix">
											<ul>
												{% if loop.index > 1 %}
												<li class=""><span class="js-btn-prev" title="PREV">Previous Question</span></li>
												{% else %}
												<li class="d-none"><span class="js-btn-next next-{{quiz.id}}" title="PREV">Previous Question</span></li>
												{% endif %}
												{% if loop.index == quizzes|length %}
												<li><button class="js-btn-submit"  id="submit_test" type="submit"><span>SUBMIT</span></button></li>
												{% else %}
												<li><span class="js-btn-next next-{{quiz.id}}" title="NEXT">Next Question</span></li>
												{% endif %}
											</ul>
										</div>
									</div>
								</div>
								{% endif %}
								{% if quiz.answerMode == 'text' and quiz.choices|length > 0 and quiz.choices|first.content|length > 16 %}
								<div class="multisteps-form__panel" data-animation="fadeIn">
									<div class="wizard-forms">
										<div class="quiz-title text-center">
											{% if quiz.content|length > 0 %}<p>{{quiz.content|raw}}</p>{% endif %}
											{% if quiz.image|length > 0 %}<img style="max-height:300px;" src="{{ asset('quizfiles/images/' ~ quiz.image ) }}">{% endif %}
										</div>
										<div class="quiz-option-selector">
											{% for choice in quiz.choices %}
											<label class="quiz-details-option position-relative">
												<input type="radio" name="{{quiz.id}}" id="{{choice.id}}" value="{{choice.id}}" class="exp-option-box required" required="required">
												<span class="select-area"></span>
												<span>{{ choice.content|raw }}</span>
											</label>
											{% endfor %}
										</div>
										<div class="quiz-progress-area">
											<div class="progress">
												<div class="progress-bar position-relative" style="width: {{ percentage|round }}%">
													<span>Question {{ loop.index }} / {{quizzes|length}} {{ percentage|round }}% complete.</span>
												</div>
											</div>
										</div>
										<div class="actions clearfix">
											<ul>
												{% if loop.index > 1 %}
												<li class=""><span class="js-btn-prev" title="PREV">Previous Question</span></li>
												{% else %}
												<li class="d-none"><span class="js-btn-next next-{{quiz.id}}" title="PREV">Previous Question</span></li>
												{% endif %}
												{% if loop.index == quizzes|length %}
												<li><button class="js-btn-submit" id="submit_test" type="submit"><span>SUBMIT</span></button></li>
												{% else %}
												<li><span class="js-btn-next next-{{quiz.id}}" title="NEXT">Next Question</span></li>
												{% endif %}
											</ul>
										</div>
									</div>
								</div>
								{% endif %}
								{% if quiz.answerMode == 'image' %}
								<div class="multisteps-form__panel" data-animation="fadeIn">
									<div class="wizard-forms">
										<div class="quiz-title text-center">
											{% if quiz.content|length > 0 %}<p>{{quiz.content|raw}}</p>{% endif %}
											{% if quiz.image|length > 0 %}<img style="max-height:300px;" src="{{ asset('quizfiles/images/' ~ quiz.image ) }}">{% endif %}
										</div>
										<div class="quiz-option-selector">
											<div class="row">
												{% for choice in quiz.choices %}
												<div class="col-md-4">
													<label class="quiz-option-area position-relative">
														<input type="radio" name="{{quiz.id}}" id="{{choice.id}}" value="{{choice.id}}" class="exp-option-box required" required="required">
														<span class="quiz-option-img">
															<img src="{{ asset('quizfiles/images/' ~ choice.image ) }}" alt="">
														</span>
														<span class="quiz-option-serial text-center">{{ choice.refLetter }}</span>
														<span class="quiz-option-text">{% if choice.content|length > 0 %} {{ choice.content|striptags }} {% endif %}.</span>
													</label> 
												</div>
												{% endfor %}
											</div>
										</div>
										<div class="quiz-progress-area">
											<div class="progress">
												<div class="progress-bar position-relative" style="width: {{ percentage|round }}%">
													<span>Question {{ loop.index }} / {{quizzes|length}} {{ percentage|round }}% complete.</span>
												</div>
											</div>
										</div>
										<div class="actions clearfix">
											<ul>
												{% if loop.index > 1 %}
												<li class=""><span class="js-btn-prev" title="PREV">Previous Question</span></li>
												{% else %}
												<li class="d-none"><span class="js-btn-next next-{{quiz.id}}" title="PREV">Previous Question</span></li>
												{% endif %}
												{% if loop.index == quizzes|length %}
												<li><button class="js-btn-submit"  id="submit_test" type="submit"><span>SUBMIT</span></button></li>
												{% else %}
												<li><span class="js-btn-next next-{{quiz.id}}" title="NEXT">Next Question</span></li>
												{% endif %}
											</ul>
										</div>
									</div>
								</div>
								{% endif %}
							{% endfor %}
						</div>
					</form>
    {% if app.user is not defined or app.user is null %}
    
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4719812743157570"
            crossorigin="anonymous"></script>
        <!-- F-cards -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4719812743157570"
            data-ad-slot="6524114850"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    {% endif %}

				</div>
			</div>
		</div>
		<div id="preloader">
			<div id="loader"></div>
		</div>


		<script src="{{asset('quizfiles/assets/js/jquery-3.3.1.min.js') }}"></script>
		<script src="{{asset('quizfiles/assets/js/bootstrap.min.js') }}"></script>
		<script src="{{asset('quizfiles/assets/js/popper.min.js') }}"></script>
		<script src="{{asset('quizfiles/assets/js/owl.carousel.min.js') }}"></script>
		<script src="{{asset('quizfiles/assets/js/form-step.js') }}"></script>
		<script src="{{asset('quizfiles/assets/js/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('education/js/sweetalert2.min.js') }}"></script>
		{# <script src="{{asset('quizfiles/assets/js/main.js') }}"></script> #}
		{# <!-- <script src="{{ asset('quizfiles/assets/js/switch.js') }}"></script> --> #}
        <script>
			$(document).ready(function () {
				$(window).on('beforeunload', function(){
					return "Are you sure you want to quit the quiz?";
				});
				$(document).on("submit", "form", function(event){
					$(window).off('beforeunload');
				});
			})			
        </script>
        <script>
			function showAlert(title, message, icon = 'success', duration = '5000', confirm = false){
				return Swal.fire({
					icon: icon,
					title: title,
					text: message,
					showConfirmButton: confirm,
					timer: duration
				})
			}

            (function() {

                "use strict";

                var Wizard = {
                    init: function() {
                        this.Basic.init();  
                    },

                    Basic: {
                        init: function() {

                            this.countDown();
                            
                        },
                        countDown:  function (){
                            if ($('.quiz-countdown').length > 0) {
                                var deadlineDate = new Date('{{timer|date("M j, Y H:i:s")}}').getTime();
                                var countdownHours = document.querySelector('.hours .count-down-number');
                                var countdownMinutes = document.querySelector('.minutes .count-down-number');
                                var countdownSeconds = document.querySelector('.seconds .count-down-number');
                                setInterval(function () {
                                    var currentDate = new Date().getTime();
                                    var distance = deadlineDate - currentDate;
                                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                                    countdownHours.innerHTML = hours;
                                    countdownMinutes.innerHTML = minutes;
                                    countdownSeconds.innerHTML = seconds;
                                }, 1000);

                            };
                        },
                    }
                }
                jQuery(document).ready(function (){
                    Wizard.init();
                });

            })();

        </script>
		<script>
			$(document).ready(function(){

				{% for quiz in quizzes %}

				$('.next-{{quiz.id}}').click( function(e){
					
					if(e.hasOwnProperty('originalEvent')){
						console.log('real click');
						var radioName = '{{quiz.id}}'; // use this if there's a relationship between the element
												// triggering this check and the radio buttons

						if ($('input[name='+ radioName +']:checked').length) {
							// at least one of the radio buttons was checked
							// record score
							var chosen =  $('input[name='+ radioName +']:checked').val();
							var testId = $("#test").val();

							$.ajax({
								url:'{{ (path('record_score')) }}',
								type: "POST",
								dataType: "json",
								data: {
									"quiz_id": '{{quiz.id}}',
									"choice_id": chosen,
									"test": testId,
								},
								async: true,
								success: function (data)
								{
									console.log(data);
								},
								error: function (xhr, status, error) {
									console.log(error);
								}
							});

							return true; // allow whatever action would normally happen to continue
						} else {
							// no radio button was checked
							showAlert("Oops!", "Please select one option", 'warning', '5000', true)
							return false; // stop whatever action would normally happen
						}

					} else {
						console.log('programatic click');
					}
											
				});

				{% endfor %}

				$('#submit_test').click( function() {
					$("#preloader").fadeIn(250);
				})
				$('#startOff').click( function() {

					var lesson = $("#lesson").val();
					var fullname = $("#fullname").val();
					var email = $("#email").val();
				// 	var phone = $("#phone").val();

					if (!fullname || !email) {
						showAlert("Oops!", "Fill out the fields", 'warning', '5000', true)
					} else {
						//if($("#test").val()){
							//showAlert("Keep up!", "Your test is in progress. Keep going...", 'info', '5000', true)
						//} else {

							$.ajax({
								url:'{{ (path('start_test')) }}',
								type: "POST",
								dataType: "json",
								data: {
									"lesson": lesson,
									"fullname": fullname,
									"email": email,
								},
								async: true,
								success: function (data)
								{
									console.log(data);
									$("#test").val(data.test);
									$.each( data.scoreItems, function( key, value ) {										
										$("input[name=" + value.quiz + "][value=" + value.choice + "]").prop("checked",true); // 3 is quiz id 1 is choice id
										$(".next-" + value.quiz ).trigger('click'); // 3 is quiz id
									});
									// for(var i = 0; i < data.scoreCount; i++) {
									// 	$(".js-btn-next").trigger("click");
									// }
									// $("input[name=3][value='1']").prop("checked",true); // 3 is quiz id 1 is choice id
									// $(".next-3").trigger("click"); // 3 is quiz id
								},
								error: function (xhr, status, error) {
									console.log(error);
								}
							});

						// }

					}

				})

			})

            function validateForm(data){
                var valid = true;
                $.each(data, function(id, obj) {
                    if(obj.value === "") {
                        valid = false;
                        showAlert('Oops!', 'Please fill in all the fields.', 'error', 2000);
                        //$.notify({ icon: 'glyphicon glyphicon-warning-sign', title: 'Error:', message: "Please fill in all the fields.", },{ element: 'body', type: "danger", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                    }
                });   
                return valid;         
            }

		</script>
	</body>

	</html>
