<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Quiz Results | {{global_vars('configData') ? global_vars('configData').companyName}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Josiah Birai"> <!--insert your name here-->
    <meta name="keywords" content="{{global_vars('configData') ? global_vars('configData').siteMetaKeywords}}">
    <meta name="description" content="{{global_vars('configData') ? global_vars('configData').siteDescription}}">    
	<link rel="stylesheet" href="{{ asset('quizfiles/assets/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('quizfiles/assets/css/owl.carousel.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="{{ asset('quizfiles/assets/css/animate.min.css') }}">
	<link rel="stylesheet" href="{{ asset('quizfiles/assets/css/fontawesome-all.css') }}">
	<link rel="stylesheet" href="{{ asset('quizfiles/assets/css/style.css') }}">
    <style>
        #table{ 
            display: table; 
            width: 100%;
        }
        .tr{ 
            display: table-row; 
        }
        .td{ 
            display: table-cell; 
        }
    </style>
	<body>
		<div class="quiz-top-area text-center">
			<h1>
                {% if percentage <= 20 %}
                You need to revise!
                {% elseif percentage > 20 and percentage <= 40 %}
                Good attempt!
                {% elseif percentage > 40 and percentage <= 60 %}
                Well done!
                {% elseif percentage > 60 and percentage <= 80 %}
                Very good!
                {% elseif percentage > 80 and percentage <=100 %}
                Excellent!
                {% endif %}
            </h1>
		</div>
		<div class="wrapper position-relative">
			<div class="wizard-content-1 clearfix">
				<div class="step-inner-content clearfix position-relative">
					<div class="form-area position-relative">
							<div class="wizard-forms">
								<div class="quiz-option-selector">
									<div class="thankyou-msg text-center">
										<img src="assets/img/th.png" alt="">
										<h2>You Scored {{percentage}}%</h2>
                                        <div id="table">
                                            {% for quiz in quizzes %}
                                            {% set answer = choices[quiz.id] %}
                                            <div class="tr">
                                                <div class="td">
                                                {% if quiz.content|length > 0 %}
                                                    {{quiz.content|raw}}
                                                {% endif %}
                                                {% if quiz.image|length > 0 %}
                                                    <img style="max-width:50px;" src="/quizfiles/images/{{quiz.image }}">
                                                {% endif %}                                                
                                                </div>
                                                <div class="td" style="position:relative;">
                                                {% if answer.content|length > 0 %}
                                                    <section style="padding-right:55px;padding-bottom:5px;">{{answer.content|raw}}</section>
                                                {% endif %}
                                                {% if answer.image|length > 0 %}
                                                    <section style="padding-right:55px;padding-bottom:5px;"><img style="max-width:50px;" src="/quizfiles/images/{{answer.image}}"></section>
                                                {% endif %}
                                                {% if answer.isCorrect %}
                                                    <img style="max-width:50px;position:absolute;right:0px;top:10px;" src="/quizfiles/assets/img/check.jpg">
                                                {% else %}
                                                    <img style="max-width:50px;position:absolute;right:0px;top:10px;" src="/quizfiles/assets/img/cross.png">
                                                {% endif %}
                                                </div>
                                            </div>
                                            {% if answer.isCorrect == false %}
                                            <div class="tr" style="background-color:green;">
                                                <div class="td">
                                                    <p style="color:white;">Correct answer:</p>
                                                </div>
                                                <div class="td">
                                                {% if correctAnswer[quiz.id].content|length > 0 %}
                                                    <section style="padding-right:55px;padding-bottom:5px;color:white;">{{correctAnswer[quiz.id].content|striptags}}</p></section>
                                                {% endif %}
                                                {% if correctAnswer[quiz.id].image|length > 0 %}
                                                    <section style="padding-right:55px;padding-bottom:5px;"><img style="max-width:50px;" src="/quizfiles/images/{{correctAnswer[quiz.id].image}}"></section>
                                                {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                                
                                            {% endfor %}
                                        </div>          
                                        <a href="{{ path('public_quiz_page', {'grade': lesson.grade, 'slug': lesson.slug }) }}"><button>Take the test again</button></a>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>

		<script src="{{asset('quizfiles/assets/js/jquery-3.3.1.min.js') }}"></script>
		<script src="{{asset('quizfiles/assets/js/bootstrap.min.js') }}"></script>
		<script src="{{asset('quizfiles/assets/js/popper.min.js') }}"></script>
		<script src="{{asset('quizfiles/assets/js/owl.carousel.min.js') }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap') }}-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
		<script src="{{asset('quizfiles/assets/js/form-step.js') }}"></script>
		<script src="{{asset('quizfiles/assets/js/jquery.validate.min.js') }}"></script>
		<script src="{{asset('quizfiles/assets/js/main.js') }}"></script>

	</body>
	</html>
