{% extends 'adm_base.html.twig' %}

{% block title %}Show Quiz{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Show Quiz</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">+ Quiz</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('quiz_new') }}" class="dropdown-item">Create new</a>
                            <!-- item-->
                            <a href="{{ path('quiz_index') }}" class="dropdown-item">back to list</a>

                            <a href="{{ path('quiz_edit', {'id': quiz.id}) }}" class="dropdown-item">edit</a>

                            {{ include('quiz/_delete_form.html.twig') }}

                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Quiz</h1>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Lesson</th>
                                <td>{{ quiz.lesson.name }}</td>
                            </tr>
                            <tr>
                                <th>Content</th>
                                <td>{{ quiz.content }}</td>
                            </tr>
                            <tr>
                                <th>Image</th>
                                <td>{{ quiz.image }}</td>
                            </tr>
                            <tr>
                                <th>AnswerMode</th>
                                <td>{{ quiz.answerMode }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}   

{% endblock %}

