<form style="display:inline" method="post" action="{{ path('lesson_plan_delete', {'id': lesson_plan.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson_plan.id) }}">
    <button class="btn btn-danger btn-inline">Delete</button>
</form>
