{% if session != null %}

    <div id="progressbarwizard">
        <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-3">
            <li class="nav-item" data-target-form="#newStuff">
                <a href="#new_stuff" data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                    <i class="mdi mdi-lightbulb-on-outline me-1"></i>
                    <span class="d-none d-sm-inline">New Stuff</span>
                </a>
            </li>
            <li class="nav-item" data-target-form="#drills">
                <a href="#finger_exercises" data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                    <i class="mdi mdi-run me-1"></i>
                    <span class="d-none d-sm-inline">Workouts</span>
                </a>
            </li>
            <li class="nav-item" data-target-form="#rep">
                <a href="#repertoire" data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                    <i class="mdi mdi-file-music me-1"></i>
                    <span class="d-none d-sm-inline">Repertoire</span>
                </a>
            </li>
            <li class="nav-item" data-target-form="#homework">
                <a href="#assignment" data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                    <i class="mdi mdi-note-outline me-1"></i>
                    <span class="d-none d-sm-inline">Assignment</span>
                </a>
            </li>
            <li class="nav-item" data-target-form="#finish">
                <a href="#finish-2" data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                    <i class="mdi mdi-checkbox-marked-circle-outline me-1"></i>
                    <span class="d-none d-sm-inline">Finish</span>
                </a>
            </li>
        </ul>
    
        <div class="tab-content b-0 mb-0 pt-0">
    
            <div id="bar" class="progress mb-3" style="height: 7px;">
                <div class="bar progress-bar progress-bar-striped progress-bar-animated bg-success"></div>
            </div>
    
            <div class="tab-pane" id="new_stuff">
                <form id="newStuff">
                    <div class="row">
                        <div class="col-12">

                            <div class="alert alert-info" role="alert">
                                <strong>What new things </strong> are you planning to teach {{session.userInstrumentGrade|split('-')[0]}} this week? Just state them. Remember you <i>don't have to use</i> the new stuff right away. You may teach something to be used in a future lesson.
                            </div>

                            <div class="form-group mb-3">
                                <label class="col-md-12 col-form-label" for="new_stuff">State what you'll teach this week. New line for new item.</label>
                                <div class="col-md-12">
                                    <textarea class="form-control" required name="new_stuff" rows="5" id="new_s" placeholder="1. Finger position&#10;2. Posture&#10;3. Simple tune"></textarea>
                                </div>
                            </div>

                        </div> <!-- end col -->
                    </div> <!-- end row -->
                    <ul class="list-inline mb-0 wizard">
                        <li class="previous list-inline-item">
                            <a href="javascript: void(0);" class="btn btn-secondary">Previous</a>
                        </li>
                        <li class="next list-inline-item float-right">
                            <a href="javascript: void(0);" id="save_new_stuff" class="btn btn-secondary">Next</a>
                        </li>
                    </ul>
                </form>
            </div>

            <div class="tab-pane" id="finger_exercises">
                <form id="drills">
            
                <div class="row">
                    <div class="col-12">

                        <div class="alert alert-info" role="alert">
                            <strong>What drills, </strong> (like finger exercises for example) depending on your instrument, do you intend {{session.userInstrumentGrade|split('-')[0]}} to do during this week's warmup?
                        </div>

                        <div class="form-group mb-3">
                            <label class="col-md-12 col-form-label" for="finger_ex">What will the warm up consist of? Mention the drills, each on a new line.</label>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="5" required name="finger_exercises" id="finger_ex" placeholder="1. Scale of C major hands separately&#10;2. Staccato and legato&#10;3. "></textarea>
                            </div>
                        </div>

                    </div> <!-- end col -->
                </div> <!-- end row -->
                <ul class="list-inline mb-0 wizard">
                    <li class="previous list-inline-item">
                        <a href="javascript: void(0);" class="btn btn-secondary">Previous</a>
                    </li>
                    <li class="next list-inline-item float-right">
                        <a href="javascript: void(0);" class="btn btn-secondary">Next</a>
                    </li>
                </ul>
                </form>
            </div>

            <div class="tab-pane" id="repertoire">
                <form id="rep">

                <div class="row">
                    <div class="col-12">

                        <div class="alert alert-info" role="alert">
                            <strong>Repertoire is vital </strong> I'm sure {{session.userInstrumentGrade|split('-')[0]}} wants to be a good performer.
                        </div>

                        <div class="form-group mb-3">
                            <label class="col-md-12 col-form-label" for="previous_pieces">Which 5 (or less) pieces have you done before? Write each title on a new line</label>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="5" required name="previous_pieces" id="previous_pieces" placeholder="1. Mary had a little lamb&#10;2. Itsy bitsy spider&#10;3. "></textarea>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-md-12 col-form-label" for="current_piece"> Which piece will you work on during this session?</label>
                            <div class="col-md-12">
                                <input type="text" id="current_piece" required name="current_piece" class="form-control" placeholder="title of the piece">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-md-12 col-form-label" for="techniques_reinforced"> Which techniques will this piece reinforce?</label>
                            <div class="col-md-12">
                                <input type="text" id="techniques_reinforced" required name="techniques_reinforced" class="form-control" placeholder="e.g Staccato, legato, dynamics">
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label class="col-md-12 col-form-label" for="extend_to_learn">What extend do you intend to go with this piece? Which bars, for example?</label>
                            <div class="col-md-12">
                                <input type="text" id="extend_to_learn" required name="extend_to_learn" class="form-control" placeholder="Write in bar numbers">
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label class="col-md-12 col-form-label" for="print_out">Anything you need to print or prepare?</label>
                            <div class="col-md-12">
                                <input type="text" id="print_out" required name="print_out" class="form-control" placeholder="Which teaching materials will you use this week?">
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
                <ul class="list-inline mb-0 wizard">
                    <li class="previous list-inline-item">
                        <a href="javascript: void(0);" class="btn btn-secondary">Previous</a>
                    </li>
                    <li class="next list-inline-item float-right">
                        <a href="javascript: void(0);" class="btn btn-secondary">Next</a>
                    </li>
                </ul>
                </form>
            </div>

            <div class="tab-pane" id="assignment">
                <form id="homework">

                <div class="row">
                    <div class="col-12">

                        <div class="alert alert-info" role="alert">
                            <strong>What is the assignment </strong> that you'd like to leave with {{session.userInstrumentGrade|split('-')[0]}}?
                        </div>

                        <div class="form-group mb-3">
                            <label class="col-md-12 col-form-label" for="assignment_for_student">Assignment could be scales, repertoire or any skill or technique you'd like {{session.userInstrumentGrade|split('-')[0]}} to better.</label>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="5" required name="assignment_for_student" id="assignment_for_student" placeholder="Work on 'mary had a little lamb' - last 2 phrases"></textarea>
                            </div>
                        </div>

                    </div> <!-- end col -->
                </div> <!-- end row -->
                <ul class="list-inline mb-0 wizard">
                    <li class="previous list-inline-item">
                        <a href="javascript: void(0);" class="btn btn-secondary">Previous</a>
                    </li>
                    <li class="next list-inline-item float-right">
                        <a id="save_lesson_plan" href="javascript: void(0);" class="btn btn-secondary save_lesson_plan">Save & Send</a>
                    </li>
                </ul>
                </form>
            </div>


            <div class="tab-pane" id="finish-2">

                <div id="new_sent_successfully" style="display:none;">
                
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <h2 class="mt-0"><i class="mdi mdi-check-all"></i></h2>
                                <h3 class="mt-0">Thank you ! The lesson plan has been sent to {{session.userInstrumentGrade|split('-')[0]}}. Now make ready your materials</h3>

                                <p class="w-75 mb-2 mx-auto">Now ensure you avail all the material that you will need for the lesson. Could be print-outs, illustrations, colors, etc.</p>
                                <p class="w-75 mb-2 mx-auto">Lesson planning is important for musical instrument lessons because it provides structure, goals, customization, time management, and progress tracking to the learning process.</p>
                            </div>
                        </div> <!-- end col -->
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                
                            </div>
                        </div>

                    </div> <!-- end row -->

                </div><!-- sent successfully -->
                <div id="new_not_sent" style="display:none;">
                
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <h2 class="mt-0"><i class="mdi mdi-close"></i></h2>
                                <h3 class="mt-0">Sorry, the lesson plan has NOT been saved/sent to {{session.userInstrumentGrade|split('-')[0]}}. Here's what you can do:</h3>

                                <p class="w-75 mb-2 mx-auto">Check your internet connection then try resending the lesson plan.</p>
                                <p class="w-75 mb-2 mx-auto">If you're not able to send your lesson plan, please call an admin on 0711832933.</p>
                            </div>
                        </div> <!-- end col -->
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                
                            </div>
                        </div>

                    </div> <!-- end row -->

                </div><!-- new not sent -->                
                <ul class="list-inline mb-0 wizard">
                    <li class="previous list-inline-item">
                        <a href="javascript: void(0);" class="btn btn-secondary">Back</a>
                    </li>
                    <li class="next list-inline-item float-right">
                        <a href="{{path(app.user.usertype ~ '_student_attendance', {'teacher': session.teacher.id})}}" class="btn btn-secondary">Finish</a>
                    </li>
                </ul>

            </div>


        </div> <!-- tab-content -->
    </div> <!-- end #progressbarwizard-->

{% else %}
   
<p>There is no session for this week </p>

{% endif %}

{# 
<body id="parent_div">
    <div class="container" style="background-color: rgb(39, 70, 91);">
        <div class="row" id="top_row">
            <div class="col-md-9">
                <h1 class="text-warning">LESSON PLAN</h1>
                <h5 class="text-white">Tr. {{session.teacher}}</h5>
            </div>
            <div class="col-md-3"><img src="{{asset('img/violin-svgrepo-com.svg')}}" style="width: 100px;height: 100px;float: right;"></div>
        </div>
        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">{{ form_widget(form.addedOn, {'attr': {'class': 'form-control', 'placeholder': 'CLASS DATE'}}) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">{{ form_widget(form.work, {'attr': {'class': 'form-control', 'placeholder': 'WORK TO BE COVERED', 'rows': '5'}}) }}</div>
                <div class="col-md-6"><textarea class="form-control" placeholder="STUDENT/GROUP:" rows="5">{{session.userInstrumentGrade|split('-')[0]}}</textarea></div>
            </div>
            <div class="row">
                <label style="margin-left:10px; color:white;text-transform: uppercase;">Activities:</label>
                <div class="col-md-12">{{ form_widget(form.activities, {'attr': {'class': 'form-control', 'placeholder': 'ACTIVITIES', 'rows': '10'}}) }}</textarea></div>
            </div>
            <div class="row">
                <div class="col-md-6">{{ form_widget(form.assessment, {'attr': {'class': 'form-control', 'placeholder': 'ASSESSMENT', 'rows': '5'}}) }}</textarea></div>
                <div class="col-md-6">{{ form_widget(form.nextlesson, {'attr': {'class': 'form-control', 'placeholder': 'PRIORITIES FOR THE NEXT LESSON', 'rows': '5'}}) }}</textarea></div>
            </div>
            <div class="row" id="bottom_row">
                <div class="col-md-12"><img class="img-fluid" src="{{asset('img/chezanewlogowhitetransparent1.png')}}"></div>
            </div>
            <div class="row" id="bottom_row">
                <div class="col-md-6"><button class="btn btn-warning btn-block">{{ button_label|default('Save Lesson Plan') }}</button></div>
                <div class="col-md-6"><a class="btn btn-primary btn-block" href="{{ path('lesson_plan_index', {'student_id': session.userInstrumentGrade|split('-')[0].id}) }}">Lesson Plans List</a></div>
                
            </div>
        {{ form_end(form) }}
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body> #}


