{% extends 'adm_base.html.twig' %}

{% block title %}Lesson plans{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link href="{{asset('adm/assets/libs/rwd-table/rwd-table.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
{# 0736991179 Shopit #}
    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Lesson plans for {{student}}</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">lesson plans</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">                            
                            <!-- item-->
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">List of all lesson plans for {{student}}</h4>
                    <div class="responsive-table-plugin">
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns">

                                <table class="table datatable">
                                    <thead>
                                        <tr>
                                            <th>Student</th>
                                            <th>Lesson Date</th>
                                            {% if app.user.usertype == 'student' %}
                                            <th>Teacher</th>
                                            {% endif %}
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for lesson_plan in lesson_plans|reverse %}
                                        <tr>
                                            <td>{{lesson_plan.id}} - {{ lesson_plan.session.userInstrumentGrade }}</td>
                                            <td>{{ lesson_plan.addedOn ? lesson_plan.addedOn|date('Y-m-d H:i:s') : '' }}</td>
                                            {% if app.user.usertype == 'student' %}
                                            <th>{{ lesson_plan.session.teacher }}</th>
                                            {% endif %}
                                            <td>
                                                <a class="btn btn-sm mb-1 btn-info" href="{{ path('lesson_plan_show', {'id': lesson_plan.id}) }}">view lesson plan</a>
                                                {% if app.user.usertype != 'student' %}<a class="btn btn-sm mb-1 btn-primary" href="{{ path('lesson_plan_edit', {'id': lesson_plan.id}) }}">edit</a>{% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="7">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="{{asset('adm/assets/libs/rwd-table/rwd-table.min.js') }}"></script>
    <!-- Init js -->
    <script src="{{asset('adm/assets/js/pages/responsive-table.init.js') }}"></script>

    <script>
        $(document).ready( function () {

            $('.datatable').DataTable({
                "order": [[ 1, "desc" ]],
                "pageLength": 100
            });

        } );
    </script>

{% endblock %}
