{% extends 'adm_base.html.twig' %}

{% block title %}New Lesson Plan{% endblock %}
{% block stylesheets %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css">
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">New Lesson Plan</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">+ Lesson Plan</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-9">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('lesson_plan_index', {'uig_id': session.userInstrumentGrade.id}) }}" class="dropdown-item">Back to list</a>
                            <!-- item-->
                            <a href="{{path(app.user.usertype ~ '_student_attendance', {'teacher': session.teacher.id})}}" class="dropdown-item">Back to attendance</a>
                            <a href="{{path('lesson_plan_new_wo_wizard', {'session_id': session.id})}}" class="dropdown-item">Use Editor</a>
                        </div>
                    </div>
                    
                    {% if lessonPlanForThisSession|length > 0 %}
                    <h4 class="header-title mb-3">How was {{session.userInstrumentGrade}}'s lesson?.</h4>
                    {% else %}
                    <h4 class="mt-0 mb-3 header-title">Add a New Lesson Plan for {{session.userInstrumentGrade}}</h4>
                    {% endif %}
                    {% if lessonPlanForThisSession|length > 0 %}
                    <div class="card">
                        <div class="card-body">

                            <div id="progressbarwizard">
                                <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-3">
                                    <li class="nav-item" data-target-form="#assess">
                                        <a href="#assessment" data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                            <i class="mdi mdi-checkbox-marked-outline me-1"></i>
                                            <span class="d-none d-sm-inline">Assessment</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" data-target-form="#nextLesson">
                                        <a href="#priorities" data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                            <i class="mdi mdi-pencil-box-outline me-1"></i>
                                            <span class="d-none d-sm-inline">Plan Ahead</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" data-target-form="#finish">
                                        <a href="#finish-2" data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                            <i class="mdi mdi-checkbox-marked-circle-outline me-1"></i>
                                            <span class="d-none d-sm-inline">Finish</span>
                                        </a>
                                    </li>

                                </ul>
                            
                                <div class="tab-content b-0 mb-0 pt-0">
                            
                                    <div id="bar" class="progress mb-3" style="height: 7px;">
                                        <div class="bar progress-bar progress-bar-striped progress-bar-animated bg-success"></div>
                                    </div>
                            
                                    <div class="tab-pane" id="assessment">
                                        <form id="assess">

                                            <div class="row">
                                                <div class="col-12">

                                                    <div class="alert alert-info" role="alert">
                                                        Did you manage to cover your lesson plan? If yes, explain the achievement. If no, explain the issues.
                                                    </div>

                                                    <div class="form-group mb-3">
                                                        <label class="col-md-12 col-form-label" for="assessment">Did you manage to do everything you planned?.</label>
                                                        <div class="col-md-12">
                                                            <textarea class="form-control" required name="assessment" rows="5" id="assessment_f_s" placeholder="Example: &#10;{{session.userInstrumentGrade}} understood dynamics and could apply loud and quiet in the pieces that we played. He managed to play the C major scale with both hands, contrary motion.">{% if lessonPlanForThisSession|length > 0 %}{{lessonPlanForThisSession.assessment }}{% endif %}</textarea>
                                                        </div>
                                                    </div>

                                                </div> <!-- end col -->
                                            </div> <!-- end row -->
                                            <ul class="list-inline mb-0 wizard">
                                                <li class="previous list-inline-item">
                                                    <a href="javascript: void(0);" class="btn btn-secondary">Previous</a>
                                                </li>
                                                <li class="next list-inline-item float-right">
                                                    <a href="javascript: void(0);" class="btn btn-secondary">Next</a>
                                                </li>
                                            </ul>

                                        </form>

                                    </div>

                                    <div class="tab-pane" id="priorities">
                                        <form id="nextLesson">
                                            <div class="row">
                                                <div class="col-12">

                                                    <div class="alert alert-info" role="alert">
                                                        <strong>What things, </strong> will you prioritize during the next lesson?
                                                    </div>

                                                    <div class="form-group mb-3">
                                                        <label class="col-md-12 col-form-label" for="priorities">Priorities for the next lesson?.</label>
                                                        <div class="col-md-12">
                                                            <textarea class="form-control" required rows="5" name="priorities" id="priorities_f_n_l" placeholder="I will introduce {{session.userInstrumentGrade}} to sight-reading.">{% if lessonPlanForThisSession|length > 0 %}{{lessonPlanForThisSession.nextLesson }}{% endif %}</textarea>
                                                        </div>
                                                    </div>

                                                </div> <!-- end col -->
                                            </div> <!-- end row -->
                                            <ul class="list-inline mb-0 wizard">
                                                <li class="previous list-inline-item">
                                                    <a href="javascript: void(0);" class="btn btn-secondary">Previous</a>
                                                </li>
                                                <li class="next list-inline-item float-right">
                                                    <a id="update_lesson_plan"  href="javascript: void(0);" class="btn btn-secondary update_lesson_plan">Next</a>
                                                </li>
                                            </ul>
                                        </form>

                                    </div>
                                    <div class="tab-pane" id="finish-2">
                                        
                                        <div id="sent_successfully" style="display:none;">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="text-center">
                                                        <h2 class="mt-0"><i class="mdi mdi-check-all"></i></h2>
                                                        <h3 class="mt-0">Thank you ! Your updated lesson plan has been sent.</h3>

                                                        <p class="w-75 mb-2 mx-auto">Lesson planning is important for musical instrument lessons because it provides structure, goals, customization, time management, and progress tracking to the learning process.</p>
                                                    </div>
                                                </div> <!-- end col -->
                                                        <div class="row">
                                                            <div class="col-md-6 offset-md-3">
                                                                
                                                            </div>
                                                        </div>

                                            </div> <!-- end row -->
                                        </div><!-- sent successfully -->
                                        <div id="not_sent" style="display:none;">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="text-center">
                                                        <h2 class="mt-0"><i class="mdi mdi-check-all"></i></h2>
                                                        <h3 class="mt-0">Sorry, the lesson plan was NOT saved/sent. Here's what you can do:.</h3>

                                                        <p class="w-75 mb-2 mx-auto">Check your internet connection then try again.</p>
                                                        <p class="w-75 mb-2 mx-auto">If you are not able to save and send, please call an admin on 0711832933.</p>
                                                    </div>
                                                </div> <!-- end col -->
                                                        <div class="row">
                                                            <div class="col-md-6 offset-md-3">
                                                                
                                                            </div>
                                                        </div>

                                            </div> <!-- end row -->
                                        </div><!--not sent-->
                                        <ul class="list-inline mb-0 wizard">
                                            <li class="previous list-inline-item">
                                                <a href="javascript: void(0);" class="btn btn-secondary">Back</a>
                                            </li>
                                            <li class="next list-inline-item float-right">
                                                <a href="{{path(app.user.usertype ~ '_student_attendance', {'teacher': session.teacher.id})}}" class="btn btn-secondary">Finish</a>
                                            </li>
                                        </ul>

                                    </div>

                                </div> <!-- tab-content -->
                            </div> <!-- end #progressbarwizard-->

                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                    <a class="btn mb-1 btn-primary" href="{{ path('lesson_plan_show', {'id': lessonPlanForThisSession.id}) }}">Show Lesson Plan</a>
                    {% include 'lesson_plan/_delete_form.html.twig' with {'lesson_plan': lessonPlanForThisSession } %}
                    <a href="{{path('pdf_lesson_plan', {'lessonPlanId': lessonPlanForThisSession.id })}}" class="btn btn-warning btn-inline">PDF</a>
                    <a href="{{ path('lesson_plan_edit', {'id': lessonPlanForThisSession.id}) }}" class="btn btn-success btn-inline">Edit</a>
                    {% else %}

                    {{ include('lesson_plan/_form.html.twig') }}

                    {% endif %}


                </div>
            </div>

            <div class="col-md-3">
            
                <div class="card">
                    <div class="card-body">
                        <div class="row mt-4 justify-content-center">
                            <div class="col-md-12">
                                <div class="p-2">
                                    
                                    <div class="accordion custom-accordion" id="accordionExample">
                                    {% for s in sessions|reverse %}
                                        <div class="card mb-2">
                                            <div class="card-header bg-light">
                                                <h5 class="card-title m-0">
                                                    <a href="#" class="text-{% if null == s.lessonPlan %}danger{% else %}success{% endif %}" data-toggle="collapse" data-target="#lessonPlan{{s.id}}" aria-expanded="false" aria-controls="lessonPlan{{s.id}}">
                                                        {{ s.beginAt|date('jS M Y') }}
                                                    </a>
                                                </h5>
                                            </div>

                                            <div id="lessonPlan{{s.id}}" class="collapse" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    {% if null != s.lessonPlan %}
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <th>Work</th>
                                                            </tr>
                                                            <tr>
                                                                <td>{{ s.lessonPlan.work }}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Activities</th>
                                                            </tr>
                                                            <tr>
                                                                <td>{{ s.lessonPlan.activities|raw }}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Assessment</th>
                                                            </tr>
                                                            <tr>
                                                                <td>{{ s.lessonPlan.assessment }}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Nextlesson</th>
                                                            </tr>
                                                            <tr>
                                                                <td>{{ s.lessonPlan.nextlesson }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}

                                    </div>
                                    <!-- accordian end -->

                                </div>
                            </div>
                            <!-- end col -->

                        </div>
                        <!-- end row -->


                    </div>
                </div>

            </div>
        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}   
{% endblock %}
{% block javascripts %}

    <!-- Plugins js-->
    <script src="{{asset('adm/assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js') }}"></script>

    <!-- Init js-->
    <script src="{{asset('adm/assets/js/pages/form-wizard.init.js') }}"></script>

	<script>
	  $(document).on('click', '.save_lesson_plan', function(){

            {% if lessonPlanForThisSession|length > 0 %}
            var modify = {'name': 'modify', 'value': true};
            {% else %}
            var modify = {'name': 'modify', 'value': false};
            {% endif %}
            var sess_id = {{session.id}};
            var session_id = {'name': 'session_id', 'value': sess_id};


	  		var form1 = document.getElementById("newStuff");
	  		var form2 = document.getElementById("drills");
	  		var form3 = document.getElementById("rep");
	  		var form4 = document.getElementById("homework");
            var form1_data = $( form1 ).serializeArray();
            var form2_data = $( form2 ).serializeArray();
            var form3_data = $( form3 ).serializeArray();
            var form4_data = $( form4 ).serializeArray();

            var allInputs = form1_data.concat(form2_data, form3_data, form4_data, modify, session_id);

            const newObj = {};
            allInputs.forEach(obj => {
            newObj[obj.name] = obj.value;
            });

            console.log(newObj);

            // output input values
            // var allInputs = form1Inputs.concat(form2Inputs);
            // console.log(allInputs);
            $.ajax({
                url:'/lesson/plan/ajax/save/new',
                type: "POST",
                dataType: "json",
                data: newObj,
                async: true,
                success: function (data)
                {
                    $("#results").html(data);
                    console.log(data);
                    $("#new_sent_successfully").show();
                    $("#new_sent_successfully").append(data.msg);
                    $("#new_not_sent").hide();
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Lesson Plan Saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    $("#new_not_sent").show();
                    $("#new_sent_successfully").hide();
                }
            });

	  });
	</script>
	<script>
	  $(document).on('click', '.update_lesson_plan', function(){

            {% if lessonPlanForThisSession|length > 0 %}
            var modify = {'name': 'modify', 'value': true};
            {% else %}
            var modify = {'name': 'modify', 'value': false};
            {% endif %}
            var sess_id = {{session.id}};
            var session_id = {'name': 'session_id', 'value': sess_id};


	  		var form1 = document.getElementById("assess");
	  		var form2 = document.getElementById("nextLesson");
            var form1_data = $( form1 ).serializeArray();
            var form2_data = $( form2 ).serializeArray();

            var allInputs = form1_data.concat(form2_data, modify, session_id);

            const newObj = {};
            allInputs.forEach(obj => {
            newObj[obj.name] = obj.value;
            });

            console.log(newObj);

            // output input values
            // var allInputs = form1Inputs.concat(form2Inputs);
            // console.log(allInputs);
            $.ajax({
                url:'/lesson/plan/ajax/save/edit',
                type: "POST",
                dataType: "json",
                data: newObj,
                async: true,
                success: function (data)
                {
                    $("#results").html(data);
                    console.log(data);
                    $("#sent_successfully").show();
                    $("#not_sent").hide();                    
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Lesson Plan Saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    $("#not_sent").show();                    
                    $("#sent_successfully").hide();
                }
            });

	  });
	</script>

    <script>
        
        $('[class^="send_lesson_plan-"]').click( function () {

            var id = jQuery(this).attr("id").split("-")[1];

            $.ajax({
                url:'{{ (path('send_lesson_plan')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "lesson_plan_id": id,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    //location.reload();
                    $("#send_report-"+id).hide();
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Sent!:', message: 'The report has been sent to '+data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>


{% endblock %}