{% extends 'adm_base.html.twig' %}

{% block title %}New Lesson Plan{% endblock %}
{% block stylesheets %}
<style>
    #parent_div {
    width: 21cm;
    }

    .container .row {
    margin-top: 10px;
    }

    textarea {
    }

    ::placeholder {
    font-size: .6em;
    color: black;
    }

    #bottom_row {
    padding-bottom: 50px;
    }

    #top_row {
    padding-top: 50px;
    }

    h3{
        font-size: 1.1em;

    }

 </style>
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">New Lesson Plan</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">New Lesson Plan</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        {% if session != null %}

        <div class="row">

            <div class="col-md-8">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('lesson_plan_index', {'uig_id': session.userInstrumentGrade.id}) }}" class="dropdown-item">Back to list</a>
                            <!-- item-->
                            <a href="{{path(app.user.usertype ~ '_student_attendance', {'teacher': session.teacher.id})}}" class="dropdown-item">Back to attendance</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">New Lesson Plan for {{session.userInstrumentGrade}}</h4>



                    <div class="container-fluid">

                        <div class="row" id="bottom_row">
                            <div class="col-md-6" style="border:none;">
                                <img class="img-fluid logo" src="{{app.request.getSchemeAndHttpHost()}}/education/img/logos/chezanewlogowhitetransparent.png"> 
                            </div>
                            <div class="col-md-6 text-right" style="border:none;">
                                <h4>Tr. {{session.teacher}}</h4>
                            </div>
                        </div>

                    {{ form_start(form) }}

                        <div class="row">
                            <div class="col-md-6" style="margin-bottom:20px;">
                                <h4 class="text-center">Student: {{session.userInstrumentGrade}}</h4>
                            </div>
                            <div class="col-md-6 text-right" style="margin-bottom:20px;">
                                <h4 class="text-center">{{ form_widget(form.addedOn, {'attr': {'class': 'form-control', 'placeholder': 'CLASS DATE'}}) }}</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h4>TECHNICAL / NEW STUFF</h4>
                                <p>{{ form_widget(form.work, {'attr': {'class': 'form-control', 'placeholder': 'Edit this to show the new stuff you are going to teach today', 'rows': '5'}}) }}</p>
                            </div>
                            <div class="col-md-12">
                                <h4>ACTIVITIES</h4>
                                {{ form_widget(form.activities, {'attr': {'class': 'form-control', 'placeholder': 'Edit this to show the various activities you will do for this lesson.', 'rows': '10'}}) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 left height-200">
                                <h4>ASSESSMENT</h4>
                                {{ form_widget(form.assessment, {'attr': {'class': 'form-control', 'placeholder': 'Leave this out for later', 'rows': '5'}}) }}
                            </div>
                            <div class="col-md-6 right height-200">
                                <h4>PRIORITIES FOR NEXT LESSON</h4>
                                {{ form_widget(form.nextlesson, {'attr': {'class': 'form-control', 'placeholder': 'Leave this out for later', 'rows': '5'}}) }}
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <button class="btn btn-success btn-block">{{ button_label|default('Save Lesson Plan') }}</button>
                            </div>
                        </div>
                    </div>
                    
                    {{ form_end(form) }}
                    <div style="margin-top:10px;">
                        <a class="btn mb-1 btn-primary" href="{{ path('lesson_plan_index', {'uig_id': session.userInstrumentGrade.id}) }}">back to list</a>
                        {# <a href="{{path('pdf_lesson_plan', {'lessonPlanId': lesson_plan.id })}}" class="btn btn-warning btn-inline">PDF</a>
                        <button type="button" id="send_lesson_plan-{{lesson_plan.id}}" class="btn btn-info btn-inline">Send</button>
                        {{ include('lesson_plan/_delete_form.html.twig') }} #}
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->

        {% else %}

        <p>There is no session for this week </p>

        {% endif %}
        
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}

    <script>
        
        $('[id^="send_lesson_plan-"]').click( function () {

            var id = jQuery(this).attr("id").split("-")[1];

            $.ajax({
                url:'{{ (path('send_lesson_plan')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "lesson_plan_id": id,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    //location.reload();
                    $("#send_report-"+id).hide();
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Sent!:', message: 'The report has been sent to '+data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>

{% endblock %}


    
   
