{% extends 'adm_base.html.twig' %}

{% block title %}Show Lesson Plan{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Lesson Plan Details</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">{{lesson_plan.student}}</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                    
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('lesson_plan_index', {'uig_id': lesson_plan.session.userInstrumentGrade.id} ) }}" class="dropdown-item">Lesson Plans list</a>
                            <!-- item-->
                            <a href="{{ path('lesson_plan_edit', {'id': lesson_plan.id}) }}" class="dropdown-item">Edit</a>
                            <!-- item-->
                            {% if app.user.usertype == "teacher" %}
                            <a href="{{path(app.user.usertype ~ '_student_attendance')}}" class="dropdown-item">Back to attendance</a>
                            {% endif %}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">{{lesson_plan.student}} Lesson Plan</h4>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>AddedOn</th>
                                <td>{{ lesson_plan.addedOn ? lesson_plan.addedOn|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Work</th>
                                <td>{{ lesson_plan.work | nl2br }}</td>
                            </tr>
                            <tr>
                                <th>Activities</th>
                                <td>{{ lesson_plan.activities|raw|nl2br }}</td>
                            </tr>
                            <tr>
                                <th>Assessment</th>
                                <td>{{ lesson_plan.assessment }}</td>
                            </tr>
                            <tr>
                                <th>Nextlesson</th>
                                <td>{{ lesson_plan.nextlesson }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="margin-top:10px;">
                        <a class="btn mb-1 btn-primary" href="{{ path('lesson_plan_index', {'uig_id': lesson_plan.session.userInstrumentGrade.id}) }}">back to list</a>
                        <a href="{{path('pdf_lesson_plan', {'lessonPlanId': lesson_plan.id })}}" class="btn btn-warning btn-inline">PDF</a>
                        {% if app.user.usertype != 'student' %}<button type="button" id="send_lesson_plan-{{lesson_plan.id}}" class="btn btn-info btn-inline">Send</button>
                        <a href="{{ path('lesson_plan_edit', {'id': lesson_plan.id}) }}" class="btn btn-success btn-inline">Edit</a>
                        {{ include('lesson_plan/_delete_form.html.twig') }}{% endif %}
                    </div>

                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}   

{% endblock %}

{% block javascripts %}

    <script>
        
        $('[id^="send_lesson_plan-"]').click( function () {

            var id = jQuery(this).attr("id").split("-")[1];

            $.ajax({
                url:'{{ (path('send_lesson_plan')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "lesson_plan_id": id,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    //location.reload();
                    $("#send_report-"+id).hide();
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Sent!:', message: 'The report has been sent to '+data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>

{% endblock %}