{% extends 'adm_base.html.twig' %}

{% block title %}Manage List{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Group Details</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">{{group.title}}</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                    
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('group_index') }}" class="dropdown-item">Back to list</a>
                            <!-- item-->
                            <a href="{{ path('group_edit', {'id': group.id}) }}" class="dropdown-item">Edit</a>
                            <!-- item-->
                            <a href="{{ path('admin-communications') }}" class="dropdown-item">Back to communications</a>
                            {{ include('group/_delete_form.html.twig') }}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">{{group.title}} Details</h4>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ group.id }}</td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td>{{ group.title }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}   

{% endblock %}

