{% extends 'adm_base.html.twig' %}

{% block title %}New Contact{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">New Contact</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">New Contact</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('contact_index', {'group_id': group.id}) }}" class="dropdown-item">Back to list</a>
                            <!-- item-->
                            <a href="{{ path('admin-communications') }}" class="dropdown-item">Back to communications</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Create new Contact for {{group.title}}</h4>

                    {{ include('contact/_form.html.twig') }}
                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
<script>
    $( document ).ready(function() {
        $("#contact_contactgroup").val({{group.id}});
    });
    $("#contact_contactgroup").change( function() {
        var value = $("#contact_contactgroup").val();
        window.location.href = "/contact/new/"+value;
    })
</script>
{% endblock %}