{{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="form-group">
        {{form_label(form.name)}}
        {{form_widget(form.name, {'attr': {'class': 'form-control'}})}}
    </div>
    <div class="form-group">
        {{form_label(form.number)}}
        {{form_widget(form.number, {'attr': {'class': 'form-control'}})}}
    </div>
    <div class="form-group">
        <label for="contact_contactgroup">Contact List</label>
        {{form_widget(form.contactgroup, {'attr': {'class': 'form-control'}})}}
    </div>
    <div class="form-group">
        <button class="btn mb-1 btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
