{% extends 'adm_base.html.twig' %}

{% block title %}Edit Contact Details{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Edit Contact
                </div>
                <div class="panel-body">

                    {{ include('contact/_form.html.twig', {'button_label': 'Update'}) }}
                    <br /><br />
                    {{ include('contact/_delete_form.html.twig') }}
                    &nbsp;&nbsp;&nbsp;<a href="{{ path('admin-communications') }}"> << Back to communications </a>
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
{% endblock %}
{% block footer %}   

{% endblock %}
