{% extends 'adm_base.html.twig' %}

{% block title %}Contacts List{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Contacts List for {{group.title}}
                </div>
                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Number</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for contact in contacts %}
                            <tr>
                                <td>{{ contact.id }}</td>
                                <td>{{ contact.name }}</td>
                                <td>{{ contact.number }}</td>
                                <td>
                                    <a class="btn btn-sm mb-1 btn-info" href="{{ path('contact_show', {'id': contact.id}) }}">show</a>
                                    <a class="btn btn-sm mb-1 btn-primary" href="{{ path('contact_edit', {'id': contact.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br /><br />
                    <a href="{{ path('contact_new',{'group_id': 1}) }}">Create new</a>
                    &nbsp;&nbsp;&nbsp;<a href="{{ path('admin-communications') }}"> << Back to communications </a>
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('.datatable').DataTable();
        } );
    </script>

{% endblock %}
