{% extends 'adm_base.html.twig' %}

{% block title %}New Contact{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Create new Contact for {{group.title}}
                </div>
                <div class="panel-body">
                    {{ include('contact/_form.html.twig') }}
                    <br /><br />
                    <a href="{{ path('contact_index', {'group_id': group.id}) }}"> << back to list</a>
                    &nbsp;&nbsp;&nbsp;<a href="{{ path('admin-communications') }}"> << Back to communications </a>
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
<script>
    $( document ).ready(function() {
        $("#contact_contactgroup").val({{group.id}});
    });
    $("#contact_contactgroup").change( function() {
        var value = $("#contact_contactgroup").val();
        window.location.href = "/contact/new/"+value;
    })
</script>
{% endblock %}