{% extends 'adm_base.html.twig' %}

{% block title %}Manage List{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Contact
                </div>
                <div class="panel-body">

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ contact.id }}</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{ contact.name }}</td>
                            </tr>
                            <tr>
                                <th>Number</th>
                                <td>{{ contact.number }}</td>
                            </tr>
                        </tbody>
                    </table>

                    {{ include('contact/_delete_form.html.twig') }}
                    <a class="btn btn-sm mb-1 btn-primary" href="{{ path('contact_edit', {'id': contact.id}) }}">edit</a>
                    &nbsp;&nbsp;&nbsp;<a href="{{ path('admin-communications') }}"> << Back to communications </a>
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
{% endblock %}
{% block footer %}   

{% endblock %}

