<form method="post" action="{{ path('mode_delete', {'id': mode.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mode.id) }}">
    <button class="btn mb-1 btn-danger">Delete</button>
</form>
