{% extends 'base_flash.html.twig' %}

{% block title %}Mode index{% endblock %}

{% block body %}
    <h1>Mode index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mode in modes %}
            <tr>
                <td>{{ mode.id }}</td>
                <td>{{ mode.name }}</td>
                <td>
                    <a href="{{ path('mode_show', {'id': mode.id}) }}">show</a>
                    <a href="{{ path('mode_edit', {'id': mode.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
    <a href="{{ path('mode_new') }}">Create new</a>
    {% endif %}
{% endblock %}
