{% extends 'base_flash.html.twig' %}

{% block title %}Mode{% endblock %}

{% block body %}
    <h1>Mode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mode.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ mode.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mode_list') }}">back to list</a>

    <a href="{{ path('mode_edit', {'id': mode.id}) }}">edit</a>

    {{ include('mode/_delete_form.html.twig') }}
{% endblock %}
