{{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="form-group">
        {{ form_label(form.presentation) }}
        {{ form_widget(form.presentation, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.pdf) }}
        {{ form_widget(form.pdf, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.slug) }}
        {{ form_widget(form.slug, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.grade) }}
        {{ form_widget(form.grade, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.loginRequired) }}
        {{ form_widget(form.loginRequired, {'attr': {'class': ''}}) }}
    </div>
    <div class="form-group">
        <button class="btn mb-1 btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
