{% extends 'adm_base.html.twig' %}

{% block title %}List Lesson{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">List Lesson</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">+ Lesson</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('lesson_new') }}" class="dropdown-item">Create new</a>
                            <!-- item-->
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Lesson index</h1>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Grade</th>
                                <th>Slug</th>
                                <th>Name</th>
                                <th>LoginRequired</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for lesson in lessons %}
                            <tr>
                                <td>{{ lesson.id }}</td>
                                <td>{{ lesson.grade }}</td>
                                <td>{{ lesson.slug }}</td>
                                <td>{{ lesson.name }}</td>
                                <td>{{ lesson.loginRequired ? 'Yes' : 'No' }}</td>
                                <td>
                                    <a class="btn btn-sm mb-1 btn-primary" href="{{ path('lesson_show', {'id': lesson.id}) }}">show</a>
                                    <a class="btn btn-sm btn-secondary" href="{{ path('lesson_edit', {'id': lesson.id}) }}">edit</a>
                                    <a class="btn btn-sm mb-1 btn-info" href="{{ path('quiz_index', {'lesson': lesson.id}) }}">Quizzes</a>
                                    {% if lesson.slug and lesson.slug is not null %}<a class="btn btn-sm btn-success" href="{{ path('public_quiz_page', {'grade': lesson.grade, 'slug': lesson.slug}) }}">public</a>{% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

    
                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}   

{% endblock %}

