{% extends 'adm_base.html.twig' %}

{% block title %}Show Lesson{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Show Lesson</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">+ Lesson</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('lesson_new') }}" class="dropdown-item">Create new</a>
                            <a href="{{ path('lesson_index') }}" class="dropdown-item">back to list</a>

                            <a href="{{ path('lesson_edit', {'id': lesson.id}) }}" class="dropdown-item">edit</a>

                            {{ include('lesson/_delete_form.html.twig') }}

                            <!-- item-->
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Lesson</h1>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ lesson.id }}</td>
                            </tr>
                            <tr>
                                <th>Presentation</th>
                                <td>{{ lesson.presentation }}</td>
                            </tr>
                            <tr>
                                <th>Pdf</th>
                                <td>{{ lesson.pdf }}</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{ lesson.name }}</td>
                            </tr>
                            <tr>
                                <th>LoginRequired</th>
                                <td>{{ lesson.loginRequired ? 'Yes' : 'No' }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}   

{% endblock %}

