<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Comments</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Article Title</td>
        <td>99</td>
    </tr>
</table>
