<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Weekly report {{ 'now'|date('Y-m-d') }}</h1>
                    {{include('emails/_report-table.html.twig')}}        
                </div>
            </div>
        </div>
    </body>
</html>