{% extends 'emails/emailBase.html.twig' %}
{% block content %}
    <hr>
    <spacer size="20"></spacer>
    <row>
        <columns>
            <p>
                What a week {{ author }}! Here's a quick review of what you've been up to on the Space Bar this week
            </p>
        </columns>
    </row>
    <row>
        <columns>
            {{include('emails/_report-table.html.twig')}}        
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <spacer size="20"></spacer>
                <button href="{{ url('homepage') }}">Check on the Space Bar</button>
                <spacer size="20"></spacer>
            </center>
        </columns>
    </row>
{% endblock %}