{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, {{user.fullname}}</h1>
      <p class="lead">{{msg|raw}}</p>
      <callout class="primary">
        <p>Thank you for choosing us. You can reply to this email.</a></p>
      </callout>

    </columns>
  </row>

  {% endblock %}