{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
        <h1>Dear {{user.fullname}},</h1>
        <p class="lead">The system is sending this message to kindly remind you about the remaining balance of KSh {{balance}} for your {{instruments}} course. We greatly appreciate your support and would like to request that you settle this balance at your earliest convenience.</p>
        <p>By settling the balance promptly, you will not only help us ensure that our teachers are paid on time, but also enable us to continue providing you with our exceptional services. However, if you have already set up a payment plan agreement with us, please disregard this message and continue following the agreed-upon terms.</p>
        <p>To make things easier for you, we offer a variety of payment options. You can conveniently pay online by visiting our website at https://chez.co.ke/{{short}}. Alternatively, you can use the Mpesa Till No 9810765 for a hassle-free payment experience.</p>
        <p>If you have any questions or concerns regarding your account, please don't hesitate to reach out to us at 0711 832 933. We are here to assist you and address any queries you may have.</p>
        <p>Thank you for giving prompt attention to this matter. Your continued support is highly valued, and we sincerely appreciate your cooperation. We remain committed to delivering the best possible service to you.</p>        
        <p>
        <br>Best regards,
        <br>Ouma Benjah,
        <br>Finance.;
        
        </p>
        <p>Thank you.</p>

    </columns>
  </row>

  {% endblock %}