{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
        <h1>Hello, {{teacher.fullname}}</h1>
        <p class="lead">You did {{lesson.userInstrumentGrade|split('-')[0]}}'s lesson on {{lesson.beginAt|date('l, jS F Y')}} at {{lesson.beginAt|date('H:i')}} hrs.</p>
        <p>Please update the lesson plan to include assessment and priorities for next lesson.: {{url}}. It's easy and fun!</p>

        <p>Thank you.</p>

    </columns>
  </row>

  {% endblock %}