{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
        <h1>Hi, {{user.fullname}}</h1>
        <p class="lead">Your lessons today are:</p>
        <table>
            {% for session in todayslessons %}
            <tr>
                <td>
                    {{session.beginAt|date('h:i A')}}
                </td>
                <td>
                    {{session.userInstrumentGrade}}
                </td>
            </tr>
            {% endfor %}
        </table>

        <p>Thank you.</p>

    </columns>
  </row>

  {% endblock %}