{% extends 'emails/emailBase.html.twig' %}  

  {% block content %}
  <row>
    <columns>
      
      <h1>Hi, {{ name }}</h1>
      <p class="lead">{{message}}.</p>
      <callout class="primary">
        <p>{{additional_info}}.</p>
      </callout>

    </columns>
  </row>
  {% endblock %}
