{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, {{student.fullname}}</h1>
      <p class="lead">Attached is your invoice dated {{"now"|date('d/m/Y')}}.</p>
      <p>Thank you.</p>

    </columns>
  </row>

  {% endblock %}