{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, Admin</h1>
      <p class="lead">Attached is a submission of invoice from {{teacher.fullname}}.</p>
      <p>Thank you.</p>
      <callout class="primary">
        <p>You can <a href="{{url('admin-teachers-list')}}">access the teachers from here.</a></p>
      </callout>

    </columns>
  </row>

  {% endblock %}