{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, {{lesson_plan.session.teacher}}</h1>
      <p class="lead">Attached below is {{lesson_plan.session.userInstrumentGrade|split('-')[0]}}'s lesson plan for {{lesson_plan.session.beginAt|date('jS M Y')}}.</p>
      <p>Thank you.</p>
      <callout class="primary">
        <p><a href="{{url('app_login')}}">Login to your account.</a></p>
      </callout>

    </columns>
  </row>

  {% endblock %}