{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi Josiah</h1>
      <p class="lead">Couldn't send email to {{notsentto}} because of their notifications settings.</p>
      <p>Thank you.</p>

    </columns>
  </row>

  {% endblock %}