{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, {{student.fullname}}</h1>
      <p class="lead">Your payment of {{amount}} has been well received with thanks.</p>
      {% if newbal > 0 %}
      <p>Your new balance is {{newbal}}</p>
      {% elseif newbal < 0 %}
      <p> We now owe you Kshs {{newbal|abs}}</p>
      {% elseif newbal == 0 %}
      <p> You have now cleared your fees</p>
      {% endif %}
      <callout class="primary">
        <p>You can <a href="{{url('app_login')}}">sign in to your portal using this link.</a></p>
      </callout>

    </columns>
  </row>

  {% endblock %}