{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, {{student.fullname}}</h1>
      <p class="lead">Here is your current assignment added by your teacher on {{added_on}}:</p>
      <p>{{assignment|raw}}.</p>
      <p class="lead">Attached file to print: <a href="https://chezamusicschool.co.ke/attachments/{{attachment.file}}"> {{attachment.filename}} </a></p>
      <p class="lead">Use the link below to inform your teacher that you have done your practice today.</p>
      {% if attachment is not null %}
      {% endif %}
      <callout class="primary">
        <p>Go to your dashboard <a href="{{link_to_dashboard}}">and mark today's practice as done.</a></p>
      </callout>
      <p>Thank you.</p>

    </columns>
  </row>

  {% endblock %}