{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, {{fullname}}</h1>
      <p class="lead">Attached is your report for {{currentTerm}} Year {{"now"|date('Y')}}.</p>
      <p>Thank you.</p>

    </columns>
  </row>

  {% endblock %}