{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, {{fullname}}</h1>
      <p class="lead">You scored {{percentage}}.</p>
      <p>Attached is a detailed score sheet with corrected answers. </p>
      <callout class="primary">
        <p>Thank you for choosing Cheza Music School.</a></p>
      </callout>

    </columns>
  </row>

{% endblock %}