{% extends 'emails/emailBase.html.twig' %}  

  {% block content %}
  <row>
    <columns>
      
      <h1>Hi, {{ f_name }}</h1>
      <p class="lead">Thank you for taking a moment to leave a comment.</p>
      <p class="lead"><a href="https://chezamusicschool.co.ke/{{document}}">Click here to download and open {{document}}.</a></p>
      <p>Quality is at the heart of what we do. That is why we are asking you to share your thoughts on what we can do better.</p>
      <callout class="primary">
        <p>Keep the music on. You'll find our sight-reading cards helpful at <a href="https://chezamusicschool.co.ke/flash/card/start">Our website</a></p>
      </callout>

    </columns>
  </row>
  {% endblock %}
