{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, {{student.fullname|split(" ")[0]}}</h1>
      <p class="lead">Thank you for joining Cheza Music School.</p>
      <p>We have successfully received your application and we are working on it. You will not be able to access your portal until a {{instrument}} teacher is assigned to you, and you have been slotted into the school timetable. <br />
      We will call you back as soon as possible during office hours to plan on how you will begin your lessons, and to determine the best day and time of lessons that will fit with your schedule.</p>
      <callout class="primary">
        <p>Once your portal has been activated, you can log in to your account via <a href="{{url('app_login')}}">this link.</a></p>
      </callout>

    </columns>
  </row>

{% endblock %}