{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, {{student.fullname|split(" ")[0]}}</h1>
      <p class="lead">Thank you for joining Cheza Music School.</p>
      <p>We have successfully received your application and we are working on it. You will not be able to access your portal until an admin activates your account. <br />
      We will call you back as soon as possible during office hours to plan on how we will assess your abilities to work with Cheza Music School.</p>
      <callout class="primary">
        <p>Once your portal has been activated, you can log in to your account via <a href="{{url('app_login')}}">this link.</a></p>
      </callout>

    </columns>
  </row>

{% endblock %}