{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, {{name}}</h1>
      <p class="lead">Your Registration for Music Teacher Workshop that is scheduled for 29th May is successful.</p>
      <p>The workshop will take place at Kenyatta University Music Department at Room 10 from 2pm to 6pm. </p>
      <p>Thank you for your interest in becoming a better teacher. </p>
      <callout class="primary">
        <p>You can <a href="{{url('default')}}">go to our homepage to learn more about us.</a></p>
      </callout>

    </columns>
  </row>

{% endblock %}