<form method="post" action="{{ path('web_photos_delete', {'id': web_photo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ web_photo.id) }}">
    <button class="btn mb-1 btn-danger">Delete</button>
</form>
