{{ form_start(form, {'attr': {'role': 'form'}}) }}
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>URL</label>
                {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Link to the image.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>placement</label>
                {{ form_widget(form.placement, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Is it foreground or background image?.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Alt text</label>
                {{ form_widget(form.alt, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Alternative text for image.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Thumbnail</label>
                {{ form_widget(form.thumbnail, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Link to the thumbnail.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Section</label>
                {{ form_widget(form.section, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The section where the image is found.</span>
            </div>
        </div>
    </div>
</div>
<button type="submit" class="btn btn-success btn-lg">{{ button_label|default('Save Web Photo') }}</button>
<hr />
{{ form_end(form) }}
