{% extends 'adm_base.html.twig' %}

{% block title %}Web Photos{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Web Photos</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">List Web Photos</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('web_photos_new') }}" class="dropdown-item">Create New</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Web Photos</h4>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Url</th>
                                <th>Placement</th>
                                <th>Alt</th>
                                <th>Thumbnail</th>
                                <th>Section</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for web_photo in web_photos %}
                            <tr>
                                <td>{{ web_photo.id }}</td>
                                <td>{{ web_photo.url }}</td>
                                <td>{{ web_photo.placement }}</td>
                                <td>{{ web_photo.alt }}</td>
                                <td>{{ web_photo.thumbnail }}</td>
                                <td>{{ web_photo.section }}</td>
                                <td>
                                    <a href="{{ path('web_photos_show', {'id': web_photo.id}) }}">show</a>
                                    <a href="{{ path('web_photos_edit', {'id': web_photo.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}


{% endblock %}