{% extends 'adm_base.html.twig' %}

{% block title %}{{web_photo.url}}{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">{{web_photo.url}}</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Details</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('web_photos_index') }}" class="dropdown-item">Back to list</a>
                            <a href="{{ path('web_photos_edit', {'id': web_photo.id}) }}" class="dropdown-item">Edit</a>
                            {{ include('web_photos/_delete_form.html.twig') }}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">{{web_photo.url}}</h4>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ web_photo.id }}</td>
                            </tr>
                            <tr>
                                <th>Url</th>
                                <td>{{ web_photo.url }}</td>
                            </tr>
                            <tr>
                                <th>Placement</th>
                                <td>{{ web_photo.placement }}</td>
                            </tr>
                            <tr>
                                <th>Alt</th>
                                <td>{{ web_photo.alt }}</td>
                            </tr>
                            <tr>
                                <th>Thumbnail</th>
                                <td>{{ web_photo.thumbnail }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}


{% endblock %}