{% extends 'base_flash.html.twig' %}

{% block title %}Edit FlashCard{% endblock %}

{% block body %}
    <h1>Edit FlashCard</h1>

    {{ include('flash_card/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('flash_card_list') }}">back to list</a>

    {{ include('flash_card/_delete_form.html.twig') }}
{% endblock %}
