<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Images</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
        footer { position: fixed; bottom: -60px; left: 0px; right: 0px; background-color: lightblue; height: 50px; }
        .custom-slide p {
            font-size: 21px;
        }
        img {
            width: 100%; 
            height: auto;
            max-width: 100%;
        }

    {# p { page-break-after: always; }
    p:last-child { page-break-after: never; } #}
  </style>    
</head>
<body>
    <footer>
        Downloaded from <a href="https://chezamusicschool.co.ke">https://chezamusicschool.co.ke</a>
    </footer>
    <main>
        {% set keymode = "" %}
        {% if key.name == 'Mixed' %} {% set keymode = key.name ~ ' Keys' %} {% else %} {% set keymode = key.name ~ " " ~ key.mode %} {% endif %}
    
        <h1 class="text-center">{{level}} {{instrument}} {{exercise}} in {{key.name}} {{key.mode}}</h1>        
        <div class="custom-slide"><p>{{ level }} {{ instrument }} {{ exercise }} in {{ keymode }} - Improve your {{ instrument }} skills with our {{ level }} {{ instrument }} {{ exercise }} flashcards in {{ keymode }}. Practice {{ instrument }} with these online flashcards and reveal the solution with the "Show answer" button. Perfect for learning {{ instrument }} {{ exercise}}. Available for free, downloadable, and suitable for {{ level }} level learners.<a href="https://chezamusicschool.co.ke/show/{{instrument}}/{{exercise}}/{{key}}/{{level}}">View the cards online</a></p></div>
        {% for card in cards %}
            {# <img style="max-width:100%" src="/home/maestro/projects/cheza/public/cards/{{card.image}}" /> #}
            <img src="{{app.request.getSchemeAndHttpHost()}}/cards/{{card.image}}" />
        {% endfor %}

    </main>
</body>
</html>