{% extends 'base_flash.html.twig' %}
{% block title %}{{level}} {{instrument}} {{exercise}} in {{key.name}} {% if key.name == 'Mixed' %} Keys {% else %} {{key.mode}} {% endif %}{% endblock %}
{% block meta_description %}
{% set keymode = key.name == 'Mixed' ? key.name ~ ' Keys' : key.name ~ ' ' ~ key.mode %}
<meta name="description" content="{% set metaDescription = level ~ ' ' ~ instrument ~ ' ' ~ exercise ~ ' in ' ~ key.name %}{% if key.name == 'Mixed' %}{% set metaDescription = metaDescription ~ ' Keys' %}{% else %}{% set metaDescription = metaDescription ~ ' ' ~ key.mode %}{% endif %}{{ metaDescription }} - Practice {{ instrument }} skills with online flashcards. Reveal answers to improve your {{ exercise }} in {{ keymode}}.">
{% endblock %}
{% block stylesheets %}
<script src="https://apis.google.com/js/platform.js"></script>
<script async src="https://fundingchoicesmessages.google.com/i/pub-4719812743157570?ers=1" nonce="nsZJBRtYGcU0YYkRO3Tc7g"></script>
<script nonce="nsZJBRtYGcU0YYkRO3Tc7g">
    (function() {
        function signalGooglefcPresent() {
            if (!window.frames['googlefcPresent']) {
                if (document.body) {
                    const iframe = document.createElement('iframe'); 
                    iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;';
                    iframe.style.display = 'none';
                    iframe.name = 'googlefcPresent';
                    document.body.appendChild(iframe);
                } else {
                    setTimeout(signalGooglefcPresent, 0);
                }
            }
        }
        signalGooglefcPresent();
    })();
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<style>
    html,
    body {
      position: relative !important;
      height: 100% !important;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height:500px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .answer {
    display: none;
    }

    .ad {
    margin: 10px;
    padding:10px;
    min-height: 500px;
    
    }
</style>
{% endblock %}
{% block body %}
{% set keymode = key.name == 'Mixed' ? key.name ~ ' Keys' : key.name ~ ' ' ~ key.mode %}
<section class="photo-gallery">
    <div class="container mt-3" style="">
        <div class="">
            <a class="btn btn-sm mb-1 btn-info" style="display:inline!important;margin-left:10px;margin-bottom:20px;" href="{{ path('flash_card_start') }}">Instruments</a>
            <a class="btn btn-sm mb-1 btn-info" style="display:inline!important;margin-left:10px;margin-bottom:20px;" href="{{ path('exercise_index_updated', {'instrument': instrument.name}) }}">Exercises</a>
            <a class="btn btn-sm mb-1 btn-info" style="display:inline!important;margin-left:10px;margin-bottom:20px;" href="{{ path('my_key_index_updated', {'instrument': instrument.name, 'exercise': exercise.type}) }}"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Keys</a>
            <a class="btn btn-sm mb-1 btn-info" style="display:inline!important;margin-left:10px;margin-bottom:20px;" href="{{ path('level_index_updated', {'instrument': instrument.name, 'exercise': exercise.type, 'key': key.name}) }}"><i class="fa fa-cart-plus" aria-hidden="true"></i> Levels </a>
        </div>
        <!-- Slider main container -->
        <div class="swiper mt-3">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="card mb-3" style="min-height:500px;">
                        <div class="slide-text">
                            <h1 style="margin:15px;" class="text-center">{{ level }} {{ instrument }} {{ exercise }} in {{ keymode }}</h1>
                            <p style="margin:15px;" class="text-center">Go to next flash card by swiping, clicking on the blue arrow, or use your keyboard left and right arrows.</p>
                            <p style="margin:15px;">{{ level }} {{ instrument }} {{ exercise }} in {{ keymode }} - Improve your {{ instrument }} skills with our {{ level }} {{ instrument }} {{ exercise }} flashcards in {{ keymode }}. Practice {{ instrument }} with these online flashcards and reveal the solution with the "Show answer" button. Perfect for learning {{ instrument }} {{ exercise }}. </p>
                            <h2>What next?</h2>
                            <p style="margin:15px;">Available for free, downloadable, and suitable for {{ level }} level learners.</p>
                            <p style="margin:15px;">Swipe right, click on blue arrow or press your right arrow on your keyboard to start.</p>
                            <h2>Download?</h2>
                            <p style="margin:15px;">Scroll to the bottom of the page and click on "Download PDF" to download the cards in PDF format.</p>
                        </div>
                    </div>
                </div>
                {% for flash_card in flash_cards %}
                    <div class="swiper-slide">
                        <div class="card mb-3">
                            <img class="img img-fluid example-image" src="https://chezamusicschool.co.ke{{ asset('cards/' ~ flash_card.image) }}">
                            <button id="show-answer{{ flash_card.id }}" class="btn mb-1 btn-info" onclick="showAnswer({{ flash_card.id }})">Show Answer</button>
                            <p style="font-size:16px;" id="answer{{ flash_card.id }}" class="answer">{{ flash_card.description }}</p>
                        </div>
                    </div>
                {% else %}
                <div class="container">
                    There are no flash cards for {{ level }} {{ instrument }} {{ exercise }} in {{ key.name }} {{ keymode }}
                </div>
                {% endfor %}
                <!-- Ad Slides -->
            </div>
            <!-- If we need pagination -->
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>

    {% if app.user is not defined or app.user is null %}
    
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4719812743157570"
            crossorigin="anonymous"></script>
        <!-- F-cards -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4719812743157570"
            data-ad-slot="6524114850"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    {% endif %}
    

</section>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<a href="{{ path('flash_card_new') }}">Create new</a>
{% endif %}
<p class="text-center">
    <a class="btn btn-sm mb-1 btn-info mt-3 mb-3" style="display:inline!important;margin-left:10px;margin-bottom:20px;" href="{{path('flashcardimages_updated', {'instrument': instrument.name, 'exercise': exercise.type, 'key': key.name, 'level': level.name})}}" class="btn mb-1 btn-primary">Download PDF</a>
</p>
{% endblock %}
{% block javascripts %}
<script>
    function showAnswer(cardNumber) {
        var answerElement = document.getElementById('answer' + cardNumber);
        answerElement.style.display = 'block';
        $('#show-answer' + cardNumber).hide();
    }
</script>
{% if app.user is defined and app.user is not null %}
<script>
    const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,
    autoHeight: true,
    keyboard: {
        enabled: true,
        onlyInViewport: false,
    },
        
    // Navigation arrows
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
    
    // And if we need scrollbar
    scrollbar: {
        el: '.swiper-scrollbar',
    },
    });

</script>
{% else %}
<script>
    const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,
    autoHeight: true,
    keyboard: {
        enabled: true,
        onlyInViewport: false,
    },
    
    // Navigation arrows
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
    
    // And if we need scrollbar
    scrollbar: {
        el: '.swiper-scrollbar',
    },
    });
    
</script>
{% endif %}
<script>
    $(document).ready(function() {
        $('#firstImage').trigger('click');
    }););

</script>
{% endblock %}
