{% extends 'base_flash.html.twig' %}

{% block title %}Flash Card index{% endblock %}
{% block stylesheets %}
    <style>
 .pagination a {
    margin: 0 5px;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #333;
}
.pagination a.current {
    font-weight: bold;
    text-decoration: underline;
    background-color: #f0f0f0;
    border-color: #888;
}
.pagination a:hover {
    background-color: #ddd;
}


    </style>
{% endblock %}
{% block body %}
    <section class="highlight-clean">
        <div class="container">
            <section class="highlight-clean">
                <div class="container">
                    <div class="intro">
                        <p class="text-center"><a class="btn mb-1 btn-primary" href="{{ path('flash_card_new') }}">Create new</a></p>
                        <h2 class="text-center">List of Flash Cards </h2>
                        <p class="text-center">A list of all added flash_cards. </p>
                    </div>
                </div>
            </section>
            <div class="container">
                <h1>Flash Card index</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            {# <th>Exercise</th>
                            <th>Key</th>
                            <th>Level</th>
                            <th>Instrument</th> #}
                            <th>Image</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for flash_card in flash_cards %}
                        <tr title="{{flash_card.description}}">
                            <td>{{ flash_card.id }}</td>
                            <td>
                                <form method="post">
                                    <textarea rows="5" type="text" id="fc_{{flash_card.id}}" name="fc_{{flash_card.id}}">{{flash_card.description}}</textarea>
                                </form>                            
                            </td>
                            {# <td>{{ flash_card.exercise }}</td>
                            <td>{{ flash_card.mykey }} {{flash_card.mykey.mode}}</td>
                            <td>{{ flash_card.level }}</td>
                            <td>{{ flash_card.exercise.instrument }}</td> #}
                            <td><img style="width:300px" src="https://chezamusicschool.co.ke/cards/{{ flash_card.image }}"></td>
                            <td>
                                <button class="btn mb-1 btn-primary" id="save-{{flash_card.id}}">save</button>
                                <a href="{{ path('flash_card_show', {'id': flash_card.id}) }}">show</a>
                                <a href="{{ path('flash_card_edit', {'id': flash_card.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
    <div class="pagination">
        {% if currentPage > 1 %}
            <a href="{{ path('flash_card_list', {'page': currentPage - 1}) }}">Previous</a>
        {% endif %}

        {% for i in startPage..endPage %}
            <a href="{{ path('flash_card_list', {'page': i}) }}"
               class="{{ i == currentPage ? 'current' : '' }}">{{ i }}</a>
        {% endfor %}

        {% if currentPage < pagesCount %}
            <a href="{{ path('flash_card_list', {'page': currentPage + 1}) }}">Next</a>
        {% endif %}
    </div>

            </div>
        
        </div>
    </section>


    <a href="{{ path('flash_card_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
<script>
    $(document).on('click', '[id^="save-"]', function(){
        var id = jQuery(this).attr("id").split("-")[1];
        var description = $("#fc_" + id).val();
        console.log(id);
        console.log(description);
        $.ajax({
            url:'{{ (path('save_card_description')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "fc_id": id,
                "description": description,
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: data },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

    })

</script>

{% endblock %}