{% extends 'base_flash.html.twig' %}

{% block title %}FlashCard{% endblock %}

{% block body %}
    <h1>FlashCard</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flash_card.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ flash_card.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('flash_card_list') }}">back to list</a>

    <a href="{{ path('flash_card_edit', {'id': flash_card.id}) }}">edit</a>

    {{ include('flash_card/_delete_form.html.twig') }}
{% endblock %}
