{% extends 'base_flash.html.twig' %}

{% block title %}Sight Reading Flash Cards for Musicians | Cheza Music School{% endblock %}

{% block body %}
<section class="highlight-clean">
    <div class="container">
        <h1 style="font-size:1.4em" class="text-center">Sight Reading Flash Cards for Musicians</h1>
        <p class="text-center">Click below to start learning with music flash cards online or print free music flash cards for convenient practice.</p>
        <div class="container">
            <div class="row">
                {% for instrument in instruments %}

                {# <div class="col-md-4">
                    <div class="card mb-4">
                        <a href="cl">
                            <img src="{{asset(instrument.image)}}" class="card-img-top" alt="{{instrument.name}} ({{instrument.exercises|length}} {{instrument.exercises|length > 1 ? 'Exercises' : 'Exercise'}} )">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <a href="{{path('exercise_index_updated', {'instrument': instrument.name})}}" class="btn mb-1 btn-primary">Next</a>
                        </div>
                    </div>
                </div> #}
            <div class="col-md-4">
                <div class="card mb-4 text-center">
                    <div class="card-body">
                        <h2 style="font-size:1.2em;font-weight:500" class="card-title">{{instrument.name}}</h2>
                        <p class="card-text">Total of {{instrument.exercises|length}} {{instrument.exercises|length > 1 ? 'Exercises' : 'Exercise'}}</p>
                        <a href="{{path('exercise_index_updated', {'instrument': instrument.name})}}" class="btn mb-1 btn-primary">View Flashcards</a>
                    </div>
                </div>
            </div>

                {% endfor %}
            </div>
            <p>Learning to sight read music is crucial for mastering any instrument. </p>
            <p>Understanding how the notes on the stave correspond to the notes on your instrument is fundamental. </p>
            <p>To enhance this skill, you can use music flashcards. </p>
            <p>Our tool offers a variety of music flash cards for different instruments, such as piano flash cards, guitar chord flashcards, and music theory flashcards. </p>
            <p>These musical flash cards help you learn notes outside the context of playing music. </p>
            <p>Whether you need beginner piano flash cards, sheet music flash cards, or rhythm flashcards, we have you covered. </p>
            <p>Select an instrument below to access free music flash cards, including music notation flashcards, guitar fretboard flashcards, and piano keyboard flashcards. </p>
            <p>Perfect for practicing music intervals, bass clef notes, and Kodaly rhythm cards. </p>
            <p>We make these flashcards for our teachers and student to use for their teaching and practice</p>
        </div>
    
    </div>
</section>

{% endblock %}
