{{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="form-group">
        {{ form_label(form.examinee) }}
        {{ form_widget(form.examinee, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.phone) }}
        {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.url) }}
        {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.complete) }}
        {{ form_widget(form.complete, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.lesson) }}
        {{ form_widget(form.lesson, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <button class="btn mb-1 btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
