{% extends 'adm_base.html.twig' %}

{% block title %}Show Test{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Show Test</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">+ Test</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('test_new') }}" class="dropdown-item">Create new</a>
                            <!-- item-->
                            <a href="{{ path('test_index') }}" class="dropdown-item">back to list</a>

                            <a href="{{ path('test_edit', {'id': test.id}) }}">edit</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Test</h1>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Lesson</th>
                                <td>{{ test.id }}</td>
                            </tr>
                            <tr>
                                <th>Examinee</th>
                                <td>{{ test.examinee }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ test.email }}</td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>{{ test.phone }}</td>
                            </tr>
                            <tr>
                                <th>Url</th>
                                <td>{{ test.url }}</td>
                            </tr>
                            <tr>
                                <th>Complete</th>
                                <td>{{ test.complete ? 'Yes' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th>Start Time</th>
                                <td>{{ test.beginAt|date('Y-m-d h:i:s') }}</td>
                            </tr>
                            <tr>
                                <th>End Time</th>
                                <td>{{ test.endAt|date('Y-m-d h:i:s') }}</td>
                            </tr>
                        </tbody>
                    </table>

                    {{ include('test/_delete_form.html.twig') }}
                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}   

{% endblock %}

