<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Portal{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Cheza music school portal" name="description" />
        <meta content="Maestrojosiah" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{asset('favicon.ico')}}">

        <!-- Bootstrap Css -->
        <link href="{{ asset('adm/assets/css/bootstrap.min.css') }}" id="bootstrap-stylesheet" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{{ asset('adm/assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{{ asset('adm/assets/css/app.min.css') }}" id="app-stylesheet" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{asset('assets/css/loader.css')}}">
        <script src="{{asset('assets/js/jquery.min.js')}}"></script>

        {% block stylesheets %}{% endblock %}
    </head>

    <body data-layout="horizontal" data-topbar="dark">
            <!-- Begin page -->
        <div id="wrapper">

            <!-- Navigation Bar-->
            {% include 'include/adm_nav.html.twig' %}
            <!-- End Navigation Bar-->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    {% block body %}{% endblock %}

                </div> <!-- content -->

                <!-- Footer Start -->
                {% include 'include/adm_footer.html.twig' %}
                <!-- end Footer -->
                <div id="preloader">
                    <div id="loader"></div>
                </div>

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->
        <!-- javascripts -->
        <!-- Vendor js -->
        <script src="{{ asset('adm/assets/js/vendor.min.js') }}"></script>

        <!-- knob plugin -->
        <script src="{{ asset('adm/assets/libs/jquery-knob/jquery.knob.min.js') }}"></script>

        <!--Morris Chart-->
        {# <script src="{{ asset('adm/assets/libs/morris-js/morris.min.js') }}"></script> #}
        {# <script src="{{ asset('adm/assets/libs/raphael/raphael.min.js') }}"></script> #}

        <!-- Dashboard init js-->
        {# <script src="{{ asset('adm/assets/js/pages/dashboard.init.js') }}"></script> #}

        <script src="{{asset('assets/js/bootstrap-notify.min.js')}}"></script>

        <!-- App js -->
        <script src="{{ asset('adm/assets/js/app.min.js') }}"></script>
        <script>
            function validateForm(data){
                var valid = true;
                $.each(data, function(id, obj) {
                    if(obj.value === "") {
                        valid = false;
                        $.notify({ icon: 'glyphicon glyphicon-warning-sign', title: 'Error:', message: "Please fill in all the fields.", },{ element: 'body', type: "danger", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                    }
                });   
                return valid;         
            }
        </script>
        <script>
            //$('#preloader').bind('ajaxStart', function(){
            //    $(this).show();
            //}).bind('ajaxStop', function(){
            //    $(this).hide();
            //});
            $(document).ajaxSend(function(){
                $("#preloader").fadeIn(250);
            });
            $(document).ajaxComplete(function(){
                $("#preloader").fadeOut(250);
            });            
        </script>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    
                </div>
                <script>

                    $.notify({
                        // options
                        icon: 'glyphicon glyphicon-{{ label }}-sign',
                        title: 'Notification:',
                        message: '{{ message }}',
                    },{
                        // settings
                        element: 'body',
                        type: "{{ label }}",
                        newest_on_top: true,
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        offset: 20,
                        spacing: 10,
                    });

                </script>

            {% endfor %}
        {% endfor %}         
        {% block javascripts %}{% endblock %}
    </body>
</html>
