<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}Flash Cards{% endblock %}</title>
        <meta name="keywords" content="Music flash cards, piano flash cards, guitar flash cards, sight-reading flash cards, chords flash cards">
        {% block meta_description %}<meta name="description" content="Access Cheza Music Schools' flash cards for music practice and teaching. Enhance learning with engaging flash cards for teachers and students.">{% endblock %}
        <link rel="stylesheet" href="{{asset('assets/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{asset('assets/css/Contact-Form-Clean.css') }}">
        <link rel="stylesheet" href="{{asset('assets/css/Highlight-Clean.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
        <link rel="stylesheet" href="{{asset('assets/css/Lightbox-Gallery.css') }}">
        <link rel="stylesheet" href="{{asset('assets/css/Navigation-Clean.css') }}">
        <link rel="stylesheet" href="{{asset('assets/css/styles.css') }}">
        <link rel="stylesheet" href="{{asset('assets/css/breadcrump.css')}}">
        {% block stylesheets %}{% endblock %}
        </head>
    <body>
        
        
        {% block navbar %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{path('flash_card_start')}}">FLASH CARDS HOME</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto topnav">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('flash_card_list')}}">Cards <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('exercise_list')}}">Exercises <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('my_key_list')}}">Keys</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('mode_list')}}">Modes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('level_list')}}">Levels</a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn btn-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More Links
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{path('flash_card_start')}}">Start Over</a>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                            <a class="dropdown-item" href="{{path('app_logout')}}">Logout</a>
                            {% else %}
                            <a class="dropdown-item" href="{{path('app_login')}}">Login</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('default')}}">Home</a>
                            {% if app.user is defined and app.user is not null %}
                            <a class="dropdown-item" href="{{path(app.user.usertype ~ '-dashboard')}}">Dashboard</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
                
    
        </nav>
            

        {% endblock navbar %}
        <main class="page body">
        {% block body %}
            
            
        {% endblock %}
        </main>
        {% block footer %}
            {# {% include 'templates/footer.html.twig' %} #}
        {% endblock footer %}
        <div id="preloader">
            <div id="loader"></div>
        </div>
        <script src="{{asset('assets/js/jquery.min.js')}}"></script>
        <script src="{{asset('assets/js/cropper.js')}}"></script>
        <link rel="stylesheet" href="{{asset('assets/css/cropper.css')}}">
        <script src="{{asset('assets/js/jquery-cropper.js')}}"></script>
        <script src="{{asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
        <script src="{{asset('assets/js/Lightbox-Gallery.js')}}"></script>
        <script src="{{asset('assets/js/bootstrap-notify.min.js')}}"></script>

        <script>
            function validateForm(data){
                var valid = true;
                $.each(data, function(id, obj) {
                    if(obj.value === "") {
                        valid = false;
                        $.notify({ icon: 'glyphicon glyphicon-warning-sign', title: 'Error:', message: "Please fill in all the fields.", },{ element: 'body', type: "danger", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                    }
                });   
                return valid;         
            }
        </script>
        <script>
            //$('#preloader').bind('ajaxStart', function(){
            //    $(this).show();
            //}).bind('ajaxStop', function(){
            //    $(this).hide();
            //});
            $(document).ajaxSend(function(){
                $("#preloader").fadeIn(250);
            });
            $(document).ajaxComplete(function(){
                $("#preloader").fadeOut(250);
            });            
        </script>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    
                </div>
                <script>

                    $.notify({
                        // options
                        icon: 'glyphicon glyphicon-{{ label }}-sign',
                        title: 'Notification:',
                        message: '{{ message }}',
                    },{
                        // settings
                        element: 'body',
                        type: "{{ label }}",
                        newest_on_top: true,
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        offset: 20,
                        spacing: 10,
                    });

                </script>

            {% endfor %}
        {% endfor %}         
        {% block javascripts %}{% endblock %}
    </body>
</html>
