<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<head lang="en">
{# <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-173VZKLXDM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-173VZKLXDM');
</script>  #}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5ZLJZX55');</script>
<!-- End Google Tag Manager -->
    <meta charset="utf-8">  
    
    <title>{% block title %}Cheza Music School{% endblock %}</title> 
    <meta name="author" content="Josiah Birai"> <!--insert your name here-->
    <meta name="keywords" content="{{global_vars('configData') ? global_vars('configData').siteMetaKeywords}}">
    {% block meta_description %}<meta name="description" content="{{global_vars('configData') ? global_vars('configData').siteDescription}}">{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--meta responsive-->
    
    <!--START CSS--> 
    <link rel="stylesheet" href="{{ asset('education/css/nicdark_style.css') }}"> <!--style-->
    <link rel="stylesheet" href="{{asset('assets/css/loader.css')}}">
    <link rel="stylesheet" href="{{ asset('education/css/sweetalert2.min.css') }}" type="text/css" />

    <!--google fonts-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script type='application/ld+json'> 
    {
      "@context": "http://www.schema.org",
      "@type": "ProfessionalService",
      "name": "Cheza Music School",
      "url": "https://chezamusicschool.co.ke/",
      "logo": "https://chezamusicschool.co.ke/img/chezanewlogowhite.jpg",
      "image": "https://chezamusicschool.co.ke/education/images/august-holiday-camp-recital70.jpg",
      "description": "Cheza Music School is committed to ensuring that music education is easily accessible to you. Upon registration, we match you with an experienced music teacher who will provide lessons in the comfort of your home or at a location that suits your schedule.\n\nOur primary objective is to nurture and showcase musical proficiency. Every student enrolled at Cheza Music School is given the opportunity to showcase their musical talents at our end-of-term recitals and concerts. Embark on your musical journey today by commencing your instrumental education with us.",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Freelance",
        "addressLocality": "Nairobi",
        "addressRegion": "Kenya",
        "postalCode": "00100",
        "addressCountry": "Kenya"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "-1.2658783",
        "longitude": "36.8822911"
      },
      "hasMap": "https://www.google.com/maps/place/Cheza+Music+School/@-1.2658783,36.8822911,11z/data=!4m6!3m5!1s0x6b06788ec0ded1fb:0xacb0ff55781c2c9a!8m2!3d-1.2658783!4d36.8822911!16s%2Fg%2F11vc1bxyls?entry=ttu",
      "openingHours": "Mo, Tu, We, Th, Fr 08:00-19:00",
      "contactPoint": {
        "@type": "ContactPoint",
        "contactType": "Phone",
        "telephone": "+254 711 832933"
      },
      "priceRange": "KSh 2500",
      "telephone": "+254 711 832933"      
    }
     </script>
     {% block schema %}{% endblock %}
    <!--[if lt IE 9]>  
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>  
    <![endif]-->  

    <!--FAVICONS-->
    <link rel="shortcut icon" href="{{ asset('education/icons/img/favicon/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('education/icons/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('education/icons/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('education/icons/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('education/icons/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('education/icons/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('education/icons/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('education/icons/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('education/icons/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('education/icons/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('education/icons/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('education/icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('education/icons/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('education/icons/favicon-16x16.png') }}">

    <!--END FAVICONS-->
    <style>
      .sec {
        position: relative;
        min-height: 50px;
      }
      .save-changes-btn {
        position: absolute;
        top:0;
        right:0;
      }
      .attach-bottom {
        position: absolute;
        bottom:0;
        left:0;
        width: 100%;
        z-index: 1000;
      }
      .attach-bottom form {
        z-index: 3000;        
      }
      .swal2-container {
        z-index: 100000!important;
      }
      #left-align{
        width: 50% !important;
        float: left;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;      
      }
      #right-align{
        width: 50% !important;
        float: right;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;      
      }
      .form-text {
        color:#a3a3a3;
        font-size:.8em;
      }
      .mb-3 {
        margin-bottom:1.2rem;
      }
    /* Mobile-specific styles */
    {# @media only screen and (max-width: 767px) { #}
        /* Add styles for mobile devices */
        #mobile-call-button {
            position: fixed;
            bottom: 10px;
            left: 10px;
            z-index: 999; /* Adjust the z-index as needed */
            color: white; /* Change the text color */
            padding:5px;
            border-radius: 50%;
            cursor: pointer;
            /* Add other styles as needed */
        }
        #whatsapp-button {
            position: fixed;
            bottom: 10px;
            right: 10px;
            z-index: 999; /* Adjust the z-index as needed */
            color: white; /* Change the text color */
            padding:5px;
            border-radius: 50%;
            cursor: pointer;
            /* Add other styles as needed */
        }
    {# } #}
    .blockquote {
        background-color: #f9f9f9;
        border-left: 10px solid #4CAF50;
        padding: 15px;
        margin: 20px 0;
    }
    
    .blockquote p {
        font-size: 18px;
        line-height: 1.5;
    }

    .blockquote a {
        color: #4CAF50;
        font-weight: bold;
        text-decoration: none;
    }
    .cheza-support-person__img img {
        width:70px; 
        border-radius:50%;
    }
    .cheza-widget div {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 1.8;
    }
    </style>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}"> <!--style-->
    <link rel="stylesheet" href="{{asset('assets/datepicker/css/bootstrap-datepicker.standalone.min.css')}}">
    {# <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4719812743157570"
     crossorigin="anonymous"></script> #}
    {% block stylesheets %}
    
    {% endblock %}
    
</head>  
    <body id="start_nicdark_framework">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZLJZX55"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->   
        <!--START nicdark_site-->
        <div class="nicdark_site">
            <!--START nicdark_site_fullwidth-->
            <div class="nicdark_site_fullwidth nicdark_site_fullwidth_boxed nicdark_clearfix">
                <!--START search container-->
                {% block page %} 

                {% endblock %}
                <div id="mobile-call-button"><a href="tel:+254711832933"><img src="/call-us.png"></a></div>
                <div id="whatsapp-button"><a href="#"><img src="/whatsapp.png"></a></div>
                <div class="cheza-widget">
                    <!-- Chat Popup -->
                    <div id="chat-popup" class="cheza-widget__body" style="position:fixed; bottom:-300px; right:20px; width:250px; z-index:999; opacity: 0; transition: bottom 0.5s ease, opacity 0.5s ease;">
                        <div class="cheza-widget__body-header" style="background-color:green; padding:10px; text-align:center; position:relative;">
                        <span class="text-light" style="color:white">Cheza Music School</span>
                        </div>
                        <span class="text-light cheza-icon-close cheza-widget-close" onclick="toggleChatPopup()" style="color:grey; position:absolute; top:-10px; right:-10px; cursor:pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" fill="currentColor" style="width:20px;">
                            <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                        </svg>
                        </span>
                        <div class="cheza-support-persons" style="background-color:#f1f1f1; padding:10px;">
                        <div class="cheza-support-person mb-3 mt-2">
                            <div class="cheza-support-person__img" style="display:flex; align-items:center; cursor:pointer;" id="whatsapp-link">
                            <img src="/education/img/josiah.png" alt="Chat With Josiah">
                            <div class="cheza-support-person__meta" style="margin-left:10px;">
                                <div style="color:black;" class="cheza-support-person__name">Chat With</div>
                                <div style="color:black;" class="cheza-support-person__title"><strong>Josiah</strong></div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>

                    <!-- Chat button -->
                    <div class="cheza-widget__trigger" onclick="toggleChatPopup()" style="position:fixed; bottom:20px; right:20px; background-color:green; color:white; border:none; padding:10px; cursor:pointer; z-index:1000;">
                        <span class="cheza-icon-whatsapp" style="vertical-align: middle;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="width:20px;">
                            <path fill="currentColor" d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path>
                        </svg>
                        </span>
                        <span>How can we help?</span>
                    </div>
                </div>

    <script>
    // Toggle the popup
    function toggleChatPopup() {
        var popup = document.getElementById("chat-popup");
        if (popup.style.bottom === "80px") {
        popup.style.bottom = "-300px";
        popup.style.opacity = "0";
        } else {
        popup.style.bottom = "80px";
        popup.style.opacity = "1";
        }
    }

    // Redirect to WhatsApp with prefilled message
    function redirectToWhatsApp() {
        var currentUrl = window.location.href;
        var prefilledMessage = "Hello, I have a question from your website. I'm from this page: " + currentUrl;
        var whatsappNumber = "254711832933";
        var whatsappLink = "https://wa.me/" + whatsappNumber + "?text=" + encodeURIComponent(prefilledMessage);

        window.open(whatsappLink, '_blank');
    }

    // Add event listener for WhatsApp link click
    document.getElementById("whatsapp-link").addEventListener("click", redirectToWhatsApp);

    // Show popup after 10 seconds for desktop users
    setTimeout(function() {
        if (window.innerWidth > 768) { // Desktop
        document.getElementById("chat-popup").style.bottom = "80px";
        document.getElementById("chat-popup").style.opacity = "1";
        }
    }, 10000); // 10 seconds delay

    // Keep chat minimized on mobile until clicked
    if (window.innerWidth <= 768) { // Mobile devices
        document.getElementById("chat-popup").style.bottom = "-300px";
        document.getElementById("chat-popup").style.opacity = "0";
    }
    </script>                
            </div>
        </div>

        <div id="preloader">
            <div id="loader"></div>
        </div>
        
        {# {% if rendered is defined and rendered is not null %} #}
        {% block reg_modal %}
        {% include 'tmp/registration_modal.html.twig' %}
        {% endblock %}

        <!--js-->
        <script src="{{ asset('education/js/nicdark_plugins.js') }}" type="text/javascript"></script>
        <script src="{{ asset('education/js/sweetalert2.min.js') }}"></script>

        {# <script src="{{asset('education/js/jquery-3.6.0.js')}}" type="text/javascript"></script> #}
        <script src="{{ asset('bootstrap/js/bootstrap.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/datepicker/js/bootstrap-datepicker.min.js')}}"></script>
        <script>
            const whatsappNumber = "254711832933"; // Replace with your actual number
            const prefilledMessage = "Hi there, I have a question from your website."; // Optional pre-filled message

            const whatsappButton = document.querySelector('#whatsapp-button');

            whatsappButton.addEventListener('click', function() {
            const url = `https://wa.me/${whatsappNumber}?text=${encodeURIComponent(prefilledMessage)}`;
            window.location.href = url;
            });
        </script>
        <script>
        function showAlert(title, message, icon = 'success', duration = '5000', confirm = false){
            return Swal.fire({
                icon: icon,
                title: title,
                text: message,
                showConfirmButton: confirm,
                timer: duration
            })
        }
        
        function showSimpleAlert(message, duration, icon = 'success'){
            return Swal.fire({
                position: 'center',
                icon: icon,
                title: message,
                showConfirmButton: false,
                timer: duration
            })
        }


        function showHtmlAlert(title, html, icon = 'success',){
            return Swal.fire({
                title: '<strong>' + title + '</strong>',
                icon: 'icon',
                html: html,
                showCloseButton: true,
                showCancelButton: true,
                focusConfirm: false,
            })
        }
        </script>
        <script>
            // form validation (no empty fields except the ones specified)
            function validateForm(data){
                var valid = true;
                var not_checked = ['disabledDays', 'teacherId', 'userexists', 'request_id', 'teacher_id', 'message', 'siblingname'];
                $.each(data, function(id, obj) {
                    // console.log(obj.name);
                    if(obj.value === "" && jQuery.inArray(obj.name, not_checked) == -1) {
                        valid = false;
                    }
                });   
                return valid;
            }

            // when the document is ready...
            $(document).ready(function() {
                // reset all inputs on reload
                //$("#regForm")[0].reset();
                
                // after user has written their email, fill in the details if user exists
                $( "#regEmail" ).focusout(function() {
                    console.log('focused out of email');
                    var emailAddress = $("#regEmail").val();
                    var residenceSelected = $("#residence").children("option").filter(":selected").text().split(" - ")[1];

                    if(!emailAddress){
                    // do nothing
                    } else {

                        $.ajax({
                            url:"/date/check/if/email/exists",
                            type: "POST",
                            dataType: "json",
                            data: {
                                "emailAddress": emailAddress,
                            },
                            async: true,
                            success: function (data)
                            {
                            console.log('data: ');
                            console.log(data);
                            $("#fullname").val(data.fullname);
                            $("#regPhone").val(data.phone);
                            $("#numbertocharge").val(data.phone);
                            $("#gender").val(data.gender);
                            $("#age").val(data.age);
                            $("#pmtdescription").text('This is a minimum down-payment of 1000, part of KSh ' + residenceSelected + ' to book for your slot. You will need to pay at least half of your fees before you begin your lessons.');
                            if(data.phone == '') {
                                $("#userexists").val('notexists');
                            } else {
                                $("#userexists").val(data.id);
                            }
                            },
                            error: function (xhr, status, error) {
                                console.log(error);
                            }
                        });

                    }

                })
                // when focusing out of phone number, if there is number, copy it to mpesa number
                $( "#regPhone" ).focusout(function() {
                    console.log('focused out of phone input');
                    var phonenumber = $("#regPhone").val();

                    if(!phonenumber){
                    // do nothing 
                    } else {

                        $("#numbertocharge").val(phonenumber);

                    }

                })

                // when the modal is closed before registration is complete, send info to admin and potential client
                $('#bookLessonsModal').on('hidden.bs.modal', function (e) {
                    
                    console.log('clicked quit button');
                    var form = document.getElementById("regForm");
                    var form_data = $( form ).serializeArray();
                    // if contacts info are filled, then send info. Otherwise, don't
                    var all_contacts_filled = contactInfosAreFilled();

                    if(all_contacts_filled == true){

                        console.log('all contact info filled');
                        $.ajax({
                            url:'/admin/session/send/info/without/registration',
                            type: "POST",
                            contentType:false,
                            processData:false,
                            cache:false,
                            dataType: "json",
                            data: new FormData(form),
                            async: true,
                            success: function (data)
                            {
                                console.log(data);
                            },
                            error: function (xhr, status, error) {
                                console.log(error);
                                console.log(xhr);
                                console.log(status);
                            }
                        });

                    } else {
                        console.log('info not filled');
                    }

                })
            });

            // function to check if email, name and phone number are filled
            function contactInfosAreFilled(){

                var all_contacts_filled = true;

                console.log($("#regEmail").val());
                console.log($("#fullname").val());
                console.log($("#regPhone").val());

                if (!$("#regEmail").val()) {
                    all_contacts_filled = false
                }
                if (!$("#fullname").val()) {
                    all_contacts_filled = false
                }
                if (!$("#regPhone").val()) {
                    all_contacts_filled = false
                }
                    
                return all_contacts_filled;

            }

            // when potential client clicks on book lessons now button,
            $(document).on('click', '#bookLessonsNow', function(){

                var form = document.getElementById("regForm");
                var form_data = $( form ).serializeArray();
                var valid = validateForm(form_data);
                console.log('valid: ' + valid);
                if(valid){
                    $.ajax({
                    url:'/admin/session/registration/save/from/website',
                    type: "POST",
                    contentType:false,
                    processData:false,
                    cache:false,
                    dataType: "json",
                    data: new FormData(form),
                    async: true,
                    success: function (data)
                    {
                        console.log(data);
                        //$("#regForm")[0].reset();
                        $(".hidden").fadeOut(2000);
                        $("#initialRow").fadeOut(2000);
                        $("#successDiv").html("You have successfully booked lessons from " + data + ". You can now <a class='btn btn-primary' href='/login'>Log in to your account</a> Or go to <a class='btn btn-primary' href='/'>Homepage</a>").fadeIn(5000);
                        $("#bookLessonsNow").fadeOut(500);
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                        console.log(xhr);
                        console.log(status);
                    }
                });

                } else {
                    console.log('form not valid');
                }
            });

            //$(document).ready(function(){

            //$('#showPass').on('click', function(){
            //var passInput=$("#passInput");
            //if(passInput.attr('type')==='password')
            //    {
            //    passInput.attr('type','text');
            //}else{
            //    passInput.attr('type','password');
            //}
            //})
            //})

            // when "try again" button is clicked, check status of payment again
            $("#done").click(function(){

                var form = document.getElementById("regForm");
                var form_data = $( form ).serializeArray();
                var request_id = $("#request_id").val();
                // console.log(form_data);
                var valid = validateForm(form_data);
                console.log('valid: ' + valid);
                if(valid){
                
                    $(".errorDiv").hide();
                    $.ajax({
                        url:"/pmt/stk_push/check/status",
                        type: "POST",
                        dataType: "json",
                        data: {
                            "request_id": request_id,
                        },
                        async: true,
                        success: function (data)
                        {
                            console.log(data);
                            if(data.status == 'success'){
                                $(".goodDiv").text("Payment Successful. You are successfully registered. If you don't receive an email, call 0711832933 for assistance. ").fadeIn(1000);
                                $("#bookLessonsNow").click();
                                $("#bookLessonsNow").fadeIn(500).fadeOut(500).fadeIn(500);
                                showSimpleAlert('Payment Successful. You are successfully registered. If you don\'t receive an email, call 0711832933 for assistance. .', 5000, 'success');
                            } else {
                                showSimpleAlert('Payment failed. Reload the page and try again', 5000, 'error');
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                            $(".goodDiv").hide();
                            $(".errorDiv").text("Technical issues encountered. Call 0711832933").fadeIn(1000);
                            showSimpleAlert('Technical issues encountered. Call 0711832933.', 5000, 'error');
                            $("#done").fadeIn(1000);
                        }
                    });
                
                } else {
                    $(".goodDiv").hide();
                    $(".errorDiv").text("Please fill in all the required fields").fadeIn(1000);
                    showSimpleAlert('Please fill in all the required fields.', 5000, 'error');
                }
                
            })
                

            $("#payNow").click(function(){

                var number = $("#numbertocharge").val();
                var amount = $("#amount").val();
                console.log("amount: " + amount);
                var userexists = $("#userexists").val();
                var reference;
                if(userexists == ''){
                    reference = "FEES";
                } else {
                    reference = "FEES";
                }
                var description = "Online Registration Payment";

                var form = document.getElementById("regForm");
                var form_data = $( form ).serializeArray();
                var request_id = $("#request_id").val();
                // console.log(form_data);
                var valid = validateForm(form_data);
                console.log('valid: ' + valid);

                if(valid){

                    $.ajax({
                        url:"/make/online/payment/push",
                        type: "POST",
                        dataType: "json",
                        data: {
                            "number": number,
                            "amount": amount,
                            "reference": reference,
                            "description": description,
                        },
                        async: true,
                        success: function (data)
                        {
                            console.log(data);
                            if(data.status == 'pending'){
                                $("#request_id").val(data.response);
                                var request_id = $("#request_id").val();
                                // showSimpleAlert('Payment in process. Check Your Phone and enter your MPESA PIN then click "CLICK TO CONFIRM" below to validate', 20000);
                                $(".goodDiv").text("Payment in process. Confirm on your phone then click below to confirm").fadeIn(1000);
                                $("#payNow").fadeOut(1000);
                                Swal.fire({
                                    title: 'Payment In Process',
                                    text: "Check your phone and enter your MPESA pin, Wait for MPesa confirmation message then continue.",
                                    icon: 'success',
                                    showCancelButton: true,
                                    allowOutsideClick: false,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Confirm Payment'
                                }).then((result) => {
                                    if (result.isConfirmed) {

                                        var request_id = $("#request_id").val();
                                        
                                        $(".errorDiv").hide();
                                        $.ajax({
                                            url:"/pmt/stk_push/check/status",
                                            type: "POST",
                                            dataType: "json",
                                            data: {
                                                "request_id": request_id,
                                            },
                                            async: true,
                                            success: function (data)
                                            {
                                                console.log(data);
                                                if(data.status == 'success'){
                                                    $(".goodDiv").text("Payment Successful. You are successfully registered. If you don't receive an email, call 0711832933 for assistance. ").fadeIn(1000);
                                                    $("#bookLessonsNow").click();
                                                    $("#bookLessonsNow").fadeIn(500).fadeOut(500).fadeIn(500);
                                                    showSimpleAlert('Payment Successful. You are successfully registered. If you don\'t receive an email, call 0711832933 for assistance. .', 5000)
                            
                                                } else {
                                                    Swal.fire({
                                                    title: 'Try again',
                                                    text: "Wait for your confirmation message from M-Pesa and try agin!",
                                                    icon: 'info',
                                                    showCancelButton: true,
                                                    allowOutsideClick: false,                                                
                                                    confirmButtonColor: '#3085d6',
                                                    cancelButtonColor: '#d33',
                                                    confirmButtonText: 'Confirm Payment'
                                                    }).then((result) => {
                                                        if (result.isConfirmed) {
                                                            
                                                            var request_id = $("#request_id").val();
                                                            
                                                            $.ajax({
                                                                url:"/pmt/stk_push/check/status",
                                                                type: "POST",
                                                                dataType: "json",
                                                                data: {
                                                                    "request_id": request_id,
                                                                },
                                                                async: true,
                                                                success: function (data)
                                                                {
                                                                    console.log(data);
                                                                    if(data.status == 'success'){
                                                                        showSimpleAlert('Payment Successful. You are successfully registered. If you don\'t receive an email, call 0711832933 for assistance.', 5000);
                                                                    } else {
                                                                        showSimpleAlert('Payment Not successful. Possible reasons: Balance, PIN or delay. Call 0711832933 for assistance', 5000, 'error');
                                                                        $("#done").fadeIn(1000);
                                                                    }
                                                                },
                                                                error: function (xhr, status, error) {
                                                                    console.log(error);
                                                                    showSimpleAlert(error, 5000, 'error')
                                                                }
                                                            });
                                                                                                        
                                                        }
                                                    })                


                                                }

                                            },
                                            error: function (xhr, status, error) {
                                                console.log(error);
                                                $(".goodDiv").hide();
                                                $(".errorDiv").text("Technical issues encountered. Call 0711832933").fadeIn(1000);
                                                showSimpleAlert('Technical issues encountered. Call 0711832933.', 500000, 'info')
                                                $("#done").fadeIn(1000);

                                            }
                                        });
                                    
                                        
                                    }
                                })                
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                        }
                    });

                } else {
                    $(".goodDiv").hide();
                    $(".errorDiv").text("Please fill in all the required fields").fadeIn(1000);
                    showSimpleAlert('Please fill in all the required fields.', 5000, 'info')
                }

            })


            $(document).ready(function (e) {
                        
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,                
            });
            
            $('[id^="imageUploadForm-"]').on('submit', ( function (e) {
                e.preventDefault();
                var formData = new FormData(this);
                var id = jQuery(this).attr("id").split("-")[1];

                $.ajax({
                    type:'POST',
                    url: $(this).attr('action'),
                    data:formData,
                    cache:false,
                    contentType: false,
                    processData: false,
                    success:function(data){
                        console.log(data.url);
                        console.log(data.target);
                        console.log(data.src);
                        console.log(data.msg);
                        $('#thumbnail-'+id).attr('src', data.src);
                        window.setTimeout(function(){
                            window.location.href = data.url;
                        }, 100);
                        // $('#web_img-'+data.imgId).attr('data-slide-bg', data.imgId);

                    },
                    error: function(data){
                        console.log("error");
                        console.log(data);
                    }
                });
            }));

            //$("#ImageBrowse-"+id).on("change", function() {
            $('[id^="ImageBrowse-"]').on('change', ( function () {
                var id = jQuery(this).attr("id").split("-")[1];
                $("#imageUploadForm-"+id).submit();
            }));
            //$("#ImageBrowse-"+id).on("change", function() {
            $('[id^="thumbnail-"]').on('click', ( function () {
                var id = jQuery(this).attr("id").split("-")[1];
                $("#ImageBrowse-"+id).click();
            }));
            });

            // if all 3 basic info is filled
            $(".basicInfo").change( function() {

                console.log('changed');
                var all_filled = threeImportantInfosAreFilled();
                console.log(all_filled);

                var residence = $('#residence').val();
                var instrument = $('#instrument').val();
                var weekday = $('#weekday').val();

                if(all_filled == true){

                    $("#lessontime").val("");
                    $("#startingdate").val("");
                    $('#bookLessonsModal .modal-body').scrollTop(0);
                    // get the section using data
                    var section = "moreDetails";
                    $('#whenToStart').removeClass("hidden");
                    $('#paymentArea').removeClass('hidden');
                    $('#' + section).removeClass("hidden");
                    // get the top of the section
                    var sectionOffset = $('#' + section).offset();
                    //scroll the container
                    $('#bookLessonsModal .modal-body').animate({
                        scrollTop: sectionOffset.top - 100
                    }, "slow");
                        
                }

            });

            // if all 3 basic info is filled
            $("#age").change( function() {

                console.log('age changed');

                var age = $('#age').val();
                console.log(age);
                if(age == 'under18'){

                    $("#ifUnder18").removeClass("hidden");
                        
                } else {
                    $("ifUnder18").addClass("hidden");
                }

            });

            function threeImportantInfosAreFilled(){

                var all_filled = true;

                console.log($("#instrument").val());
                console.log($("#residence").val());
                console.log($("#weekday").val());

                if ($("#instrument").val() == "empty") {
                    all_filled = false
                }
                if ($("#residence").val() == "empty") {
                    all_filled = false
                }
                if ($("#weekday").val() == "empty") {
                    all_filled = false
                }
                    
                return all_filled;

            }

            $(document).on('click', '[id^="book_"]', function(){

                var id = jQuery(this).attr("id").split("-")[1];
                var teacher = jQuery(this).attr("id").split("_")[1];
                var selectVal = $("#option_"+teacher).val();
                var teacherId = $("#teacher_"+teacher).val();
                var weekday = $("#weekday").val();

                console.log(id);
                console.log(teacher);
                console.log(selectVal);
                console.log(weekday);

                $.ajax({
                    url:"/date/get/disabled/days",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "id": id,
                        "weekday": weekday,
                    },
                    async: true,
                    success: function (data)
                    {
                        $("#disabledDays").val(data);
                        $("#lessontime").val(selectVal);
                        $("#teacherId").val(teacherId);
                        $("#available_slots").fadeOut(500);
                        $("#available_slots").empty();

                        $(".hidden").fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500);
                        var disabledDays = $("#disabledDays").val().split(",");
                        console.log(disabledDays);
                        $('.datepicker').datepicker('destroy');
                        $('.datepicker').datepicker({
                            format: 'yyyy-mm-dd',
                            autoclose: true,
                            daysOfWeekDisabled: disabledDays
                        });
                        $('#bookLessonsModal .modal-body').scrollTop(0);
                        // get the section using data
                        var section = "hiddendivs";
                        // get the top of the section
                        var sectionOffset = $('#' + section).offset();
                        //scroll the container
                        $('#bookLessonsModal .modal-body').animate({
                        scrollTop: sectionOffset.top - 100
                        }, "slow");

                        //$.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });

        </script>
        {# {% endif %} #}

        <script>
            //$('#preloader').bind('ajaxStart', function(){
            //    $(this).show();
            //}).bind('ajaxStop', function(){
            //    $(this).hide();
            //});
            $(document).ajaxSend(function(){
                $("#preloader").fadeIn(250);
            });
            $(document).ajaxComplete(function(){
                $("#preloader").fadeOut(250);
            });     
            $(".openPay4EventModal").click(function(){
                var modal = $("#pay4EventModal");
                modal.modal('show');
            })       
        </script>
        <script>
        $(document).ready(function (e) {
          
          $('[id^="imageUploadForm-"]').on('submit', ( function (e) {
              e.preventDefault();
              var formData = new FormData(this);
              var id = jQuery(this).attr("id").split("-")[1];
              console.log(id);
              $.ajax({
                  type:'POST',
                  url: $(this).attr('action'),
                  data:formData,
                  cache:false,
                  contentType: false,
                  processData: false,
                  success:function(data){
                      console.log(data.url);
                      console.log(data.target);
                      console.log(data.src);
                      console.log(data.msg);
                      $('#thumbnail-'+id).attr('src', data.src);
                      window.setTimeout(function(){
                        window.location.href = data.url;
                    }, 100);
                    // $('#web_img-'+data.imgId).attr('data-slide-bg', data.imgId);

                  },
                  error: function(data){
                      console.log("ajax error");
                      console.log(data);
                  }
              });
          }));

          //$("#ImageBrowse-"+id).on("change", function() {
          $('[id^="ImageBrowse-"]').on('change', ( function () {
              var id = jQuery(this).attr("id").split("-")[1];
              $("#imageUploadForm-"+id).submit();
          }));
          //$("#ImageBrowse-"+id).on("change", function() {
          $('[id^="thumbnail-"]').on('click', ( function () {
              var id = jQuery(this).attr("id").split("-")[1];
              $("#ImageBrowse-"+id).click();
          }));
        });

        </script>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    
                </div>
                <script>

                    showAlert('Message', '{{ message}}', '{{ label }}');

                </script>

            {% endfor %}
        {% endfor %}     
        <script>
            $(document).on('click', '#sendContactFormMessage', function(){

            var form = document.getElementById("contactForm");
            var form_data = $( form ).serializeArray();
            var valid = validateForm(form_data);
            console.log('valid: ' + valid);
            if(valid){
                $.ajax({
                url:'/contact/form/send/message',
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType: "json",
                data: new FormData(form),
                async: true,
                success: function (data)
                {
                    console.log(data);
                    Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Your message has been sent successfully',
                    showConfirmButton: false,
                    timer: 5000
                    })
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    console.log(xhr);
                    console.log(status);
                }
            });

            } else {
                console.log('form not valid');
            }
        });

        </script>
        <script>
            $(document).on('click', '#sendModalContactFormMessage', function(){

            var form = document.getElementById("contactFormModal");
            var form_data = $( form ).serializeArray();
            var valid = validateForm(form_data);
            console.log('valid: ' + valid);
            if(valid){
                $.ajax({
                url:'/contact/form/send/message',
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType: "json",
                data: new FormData(form),
                async: true,
                success: function (data)
                {
                    console.log(data);
                    Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Your message has been sent successfully',
                    showConfirmButton: false,
                    timer: 5000
                    })
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    console.log(xhr);
                    console.log(status);
                }
            });

            } else {
                console.log('form not valid');
            }
        });

        </script>
<script>
  let modalShown = false;

  // For Desktop: Detect mouse leaving the top of the screen
  document.addEventListener('mouseleave', function (e) {
    if (e.clientY <= 0 && !modalShown) {
      $('#bookLessonsModal').modal('show');
      modalShown = true; // Show only once
    }
  });

  // For Mobile: Detect visibility change (user switching tabs or exiting)
  document.addEventListener('visibilitychange', function () {
    if (document.visibilityState === 'hidden' && !modalShown) {
      $('#bookLessonsModal').modal('show');
      modalShown = true; // Show only once
    }
  });
</script>



        {#<!--Start of Tawk.to Script-->#}
        {#<script type="text/javascript">#}
        {#var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();#}
        {#(function(){#}
        {#var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];#}
        {#s1.async=true;#}
        {#s1.src='https://embed.tawk.to/570110863a48b09e318ec7fd/default';#}
        {#s1.charset='UTF-8';#}
        {#s1.setAttribute('crossorigin','*');#}
        {#s0.parentNode.insertBefore(s1,s0);#}
        {#})();#}
        {#</script>#}
        {#<!--End of Tawk.to Script-->#}

        {% block javascripts %}{% endblock %}
