<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cheza Music School{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{asset('assets/fonts/ionicons.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/fonts/simple-line-icons.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/smoothproducts.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/Highlight-Clean.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/loader.css')}}">
	<!-- Bootstrap Styles-->
    <link href="{{asset('theme/assets/css/bootstrap.css')}}" rel="stylesheet" />
    <link href="{{asset('assets/css/sticky-footer.css')}}" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="{{asset('theme/assets/css/font-awesome.css')}}" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href="{{asset('theme/assets/css/custom-styles.css')}}" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    {% block stylesheets %}{% endblock %}

</head>
<body>
    <div id="wrapper">
        {% block navbar %}

            {% include 'templates/theme-nav.html.twig' %}

        {% endblock navbar %}
        
        <!--/. NAV TOP  -->
        {% block sidebar %}
            {% include 'templates/theme-sidebar.html.twig' %}
        {% endblock %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
			    
                {% block body %}
                    
                    
                {% endblock %}

                 <!-- /. ROW  -->
				 <footer class="footer"><p>All right reserved. Template by: <a href="https://muske.co.ke/maestrojosiah">Maestro</a></p></footer>
			</div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->

        <div id="preloader">
            <div id="loader"></div>
        </div>

    </div>
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{{asset('theme/assets/js/jquery-1.10.2.js')}}"></script>
      <!-- Bootstrap Js -->
    <script src="{{asset('theme/assets/js/bootstrap.min.js')}}"></script>
    <!-- Metis Menu Js -->
    <script src="{{asset('theme/assets/js/jquery.metisMenu.js')}}"></script>
      <!-- Custom Js -->
    <script src="{{asset('theme/assets/js/custom-scripts.js')}}"></script>
    <script src="{{asset('assets/js/cropper.js')}}"></script>
    <link rel="stylesheet" href="{{asset('assets/css/cropper.css')}}">
    <script src="{{asset('assets/js/jquery-cropper.js')}}"></script>
    <script src="{{asset('assets/js/bs-init.js')}}"></script>
    <script src="{{asset('assets/js/theme.js')}}"></script>
    <script src="{{asset('assets/js/bootstrap-notify.min.js')}}"></script>
    <script src="{{asset('theme/assets/js/jspdf.debug.js')}}"></script>
    <script src="{{asset('theme/assets/js/html2canvas.js')}}"></script>
    {# <script src="{{asset('theme/assets/js/addhtml.js')}}"></script> #}
    <script>
        function validateForm(data){
            var valid = true;
            $.each(data, function(id, obj) {
                if(obj.value === "") {
                    valid = false;
                    $.notify({ icon: 'glyphicon glyphicon-warning-sign', title: 'Error:', message: "Please fill in all the fields.", },{ element: 'body', type: "danger", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                }
            });   
            return valid;         
        }
    </script>
    <script>
        //$('#preloader').bind('ajaxStart', function(){
        //    $(this).show();
        //}).bind('ajaxStop', function(){
        //    $(this).hide();
        //});
        $(document).ajaxSend(function(){
            $("#preloader").fadeIn(250);
        });
        $(document).ajaxComplete(function(){
            $("#preloader").fadeOut(250);
        });            
    </script>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                
            </div>
            <script>

                $.notify({
                    // options
                    icon: 'glyphicon glyphicon-{{ label }}-sign',
                    title: 'Notification:',
                    message: '{{ message }}',
                },{
                    // settings
                    element: 'body',
                    type: "{{ label }}",
                    newest_on_top: true,
                    placement: {
                        from: "top",
                        align: "center"
                    },
                    offset: 20,
                    spacing: 10,
                });

            </script>

        {% endfor %}
    {% endfor %}         
    {% block javascripts %}{% endblock %}

   
</body>
</html>