<!DOCTYPE html>
<html lang="en">
<head>
	{{ sonata is defined and sonata == true ? '' : '<title>' }}{% block title %}{{sonata_seo_title()}}{% endblock %}{{ sonata is defined and sonata == true ? '' : '</title>' }}
    {{ sonata_seo_metadatas() }}
	<link rel="icon" href="{{asset('favicon.ico')}}" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link rel="pingback" href="xmlrpc.html" />
	<link rel='dns-prefetch' href='http://maps.google.com/' />
	<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
	<link rel='dns-prefetch' href='http://s.w.org/' />
	<link rel="alternate" type="application/rss+xml" title=" Cheza Music School &raquo; Feed" href="#" />
	<link rel="alternate" type="application/rss+xml" title=" Cheza Music School &raquo; Comments Feed" href="#" />
	<link rel='stylesheet' id='essential-grid-plugin-settings-css' href="{{asset('merger/essential-grid/css/settings.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='tp-open-sans-css' href='http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700%2C800&amp;ver=4.6.3' type='text/css' media='all' />
	<link rel='stylesheet' id='tp-raleway-css' href='http://fonts.googleapis.com/css?family=Raleway%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&amp;ver=4.6.3' type='text/css' media='all' />
	<link rel='stylesheet' id='tp-droid-serif-css' href='http://fonts.googleapis.com/css?family=Droid+Serif%3A400%2C700&amp;ver=4.6.3' type='text/css' media='all' />
	<link rel='stylesheet' id='rs-plugin-settings-css' href="{{asset('merger/revslider/css/settings.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='wpProQuiz_front_style-css' href="{{asset('merger/sfwd-lms/wp-pro-quiz/css/wpProQuiz_front.min.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='learndash_style-css' href="{{asset('merger/sfwd-lms/assets/style.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-font-google_fonts-style-css' href='http://fonts.googleapis.com/css?family=Lora:300,300italic,400,400italic,700,700italic%7COpen+Sans:300,300italic,400,400italic,700,700italic&amp;subset=latin,latin-ext&amp;rnd=1345236703' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-fontello-style-css' href="{{asset('publicsite/css/fontello/css/fontello.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css' href="{{asset('publicsite/css/style.css')}}" type='text/css' media='all' />
    <link rel="stylesheet" href="{{asset('assets/css/loader.css')}}">
	<link rel='stylesheet' id='chezaschool-animation-style-css' href="{{asset('publicsite/js/vendor/fw/css/core.animation.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-shortcodes-style-css' href="{{asset('publicsite/js/vendor/shortcodes/theme.shortcodes.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-theme-style-css' href="{{asset('publicsite/css/theme.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='sfwd_front_css-css' href="{{asset('merger/sfwd-lms/assets/front.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='sfwd_template_css-css' href="{{asset('merger/sfwd-lms/templates/learndash_template_style.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-magnific-style-css' href="{{asset('publicsite/js/vendor/fw/js/magnific/magnific-popup.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-swiperslider-style-css' href="{{asset('publicsite/js/vendor/fw/js/swiper/swiper.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-messages-style-css' href="{{asset('publicsite/js/vendor/fw/js/core.messages/core.messages.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='themepunchboxextcss-css' href="{{asset('merger/essential-grid/css/lightbox.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-plugin.instagram-widget-style-css' href="{{asset('publicsite/css/plugin.instagram-widget.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-plugin.learndash-style-css' href="{{asset('publicsite/css/plugin.learndash.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css-2' href="{{asset('publicsite/css/custom.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-responsive-style-css' href="{{asset('publicsite/css/responsive.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='mediaelement-css' href="{{asset('publicsite/js/vendor/mediaelement/mediaelementplayer.min.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='wp-mediaelement-css' href="{{asset('publicsite/js/vendor/mediaelement/wp-mediaelement.min.css')}}" type='text/css' media='all' />
    {% block stylesheets %}{% endblock %}

    {% block body %} {% endblock %}

    <script src="{{asset('assets/js/jquery.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/jquery.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/jquery-migrate.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('merger/essential-grid/js/lightbox.js')}}"></script>
	<script type='text/javascript' src="{{asset('merger/essential-grid/js/jquery.themepunch.tools.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('merger/essential-grid/js/jquery.themepunch.essential.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/fw/js/superfish.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/fw/js/jquery.slidemenu.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/fw/js/core.utils.js')}}"></script>
	{# <script type='text/javascript' src="{{asset('publicsite/js/vendor/fw/js/core.init.js')}}"></script> #}
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/theme.init.js')}}"></script>
	<script type='text/javascript' src='http://maps.google.com/maps/api/js?key=AIzaSyBzpci4eemBfbOo2f8ZZbQFHDS9fNTMRc0&amp;rnd=437119213'></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/fw/js/core.googlemap.js')}}"></script>
	{#<script type='text/javascript' src="{{asset('publicsite/js/vendor/shortcodes/theme.shortcodes.js')}}"></script>#}
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/fw/js/magnific/jquery.magnific-popup.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/lib/bower/isotope/dist/isotope.pkgd.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/fw/js/swiper/swiper.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/custom/custom.js')}}"></script>
    <script src="{{asset('assets/js/bootstrap-notify.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/custom/esg-grid-4-1.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/custom/rev_slider_1_1.js')}}"></script>
	<script type='text/javascript' src="{{asset('merger/revslider/js/jquery.themepunch.revolution.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('merger/revslider/js/extensions/revolution.extension.slideanims.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('merger/revslider/js/extensions/revolution.extension.navigation.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('merger/revslider/js/extensions/revolution.extension.layeranimation.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('merger/revslider/js/extensions/revolution.extension.video.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/fw/js/core.init.js')}}"></script>
    <script>
        function validateForm(data){
            var valid = true;
            $.each(data, function(id, obj) {
                if(obj.value === "") {
                    valid = false;
                    $.notify({ icon: 'glyphicon glyphicon-warning-sign', title: 'Error:', message: "Please fill in all the fields.", },{ element: 'body', type: "danger", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                }
            });   
            return valid;         
        }
    </script>
    <script>
        $(document).ajaxSend(function(){
            $("#preloader").fadeIn(250);
        });
        $(document).ajaxComplete(function(){
            $("#preloader").fadeOut(250);
        });            
    </script>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                
            </div>
            <script>

                $.notify({
                    // options
                    icon: 'glyphicon glyphicon-{{ label }}-sign',
                    title: 'Notification:',
                    message: '{{ message }}',
                },{
                    // settings
                    element: 'body',
                    type: "{{ label }}",
                    newest_on_top: true,
                    placement: {
                        from: "top",
                        align: "center"
                    },
                    offset: 20,
                    spacing: 10,
                });

            </script>

        {% endfor %}
    {% endfor %}         
    {% block javascripts %}{% endblock %}

   
</body>
</html>
