{# upload photo to website after cropping.. for use maybe as attachments etc #}
{% extends 'adm_base.html.twig' %}
{% set page_title = "Kenya Conservatoire Of Music" %}

{% block title %}Kenya Conservatoire Of Music{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/dropzone.css') }}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.3/cropper.css" rel="stylesheet"/>

<style>
/* Limit image width to avoid overflow the container */
img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

#canvas {
  width: 600px!important;
  background-color: #ffffff;
  cursor: default;
  /*border: 1px solid black;*/
}

body {
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}

</style>

{% endblock %}

{% block body %}
{% if app.request.query.all['ratio'] is defined and app.request.query.all['ratio'] != "" %}
{% set ratio = app.request.query.all['ratio'] %}
{% else %}
{% set ratio = "NaN" %}
{% endif %}
<div class="row">
    <div class="col-xl-12">
        <!-- Advanced Tables -->
        <div class="card">
            <div class="card-body">

              <p>
              <!-- Below are a series of inputs which allow file selection and interaction with the cropper api -->
                <input type="file" name="image" id="fileInput" accept="image/*" />
                <input class="btn mb-1 btn-primary" type="button" id="btnCrop" value="Crop and Upload" />
                <a class="btn mb-1 btn-info" href="{{ path('photo_upload', {'ratio': '1/1' }) }}">1x1(square)</a>
                <a class="btn mb-1 btn-info" href="{{ path('photo_upload', {'ratio': '16/9' }) }}">16x9</a>
                <a class="btn mb-1 btn-info" href="{{ path('photo_upload', {'ratio': '4/3' }) }}">4x3</a>
                <a class="btn mb-1 btn-info" href="{{ path('photo_upload', {'ratio': '2/3' }) }}">2x3</a>
                <a class="btn mb-1 btn-info" href="{{ path('photo_upload') }}">Free</a>
              </p>
              <canvas id="canvas">
                  Your browser does not support the HTML5 canvas element.
              </canvas>

              <div id="result"></div>

              <br />
              <br />
              <hr />

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Photo URL</th>
      <th>Photo Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for photo in photos %}
    <tr>
      <td>{{photo.user}}</td>
      <td><a href="https://chezamusicschool.co.ke{{photo.url}}" target="_blank">"https://chezamusicschool.co.ke{{photo.url}}</a></td>
      <td>{{photo.name}}</td>
      <td><a href="{{path('photo_delete', {'photo_id': photo.id})}}">Delete</a></td>
    </tr>
  {% endfor %}
    <!-- Add more rows as needed -->
  </tbody>
</table>


{% endblock %}    

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.3/cropper.js"></script>
<script src="{{ asset('assets/js/dropzone.js') }}"></script>
<script src="{{ asset('assets/js/cropper.js') }}"></script>

<script>
{% if app.request.query.all['ratio'] is defined and app.request.query.all['ratio'] != "" %}
{% set ratio = app.request.query.all['ratio'] %}
{% else %}
{% set ratio = "NaN" %}
{% endif %}

  var canvas  = $("#canvas"),
    context = canvas.get(0).getContext("2d"),
    $result = $('#result');
    var ratio = {{ratio}};

$('#fileInput').on( 'change', function(){
    if (this.files && this.files[0]) {
      var thisfiletype = this.files[0].type;
      if ( this.files[0].type.match(/^image\//) ) {
        console.log(this.files[0]);
        var reader = new FileReader();
        reader.onload = function(evt) {
           var img = new Image();
           img.onload = function() {
             context.canvas.height = img.height;
             context.canvas.width  = img.width;
             context.drawImage(img, 0, 0);
             var cropper = canvas.cropper({
               aspectRatio: ratio,
               viewMode: 1,
               //data:{ //define cropbox size
               // width: 1360,
               // height: 760,
               //},               
             });
             $('#btnCrop').click(function() {
                // Get a string base 64 data url
                if(thisfiletype == 'image/jpeg'){
                    var croppedImageDataURL = canvas.cropper('getCroppedCanvas').toDataURL("image/jpeg", 0.7); 
                    // console.log(croppedImageDataURL);
                } else {
                    var croppedImageDataURL = canvas.cropper('getCroppedCanvas').toDataURL("image/png", 0.7);
                    // console.log(croppedImageDataURL);                
                }
                $result.append( $('<img>').attr('src', croppedImageDataURL) );

                $.ajax({
                    url:"{{path('upload_photo_for_future_use')}}",
                    method:'POST',
                    data:{image:croppedImageDataURL, thisfiletype},
                    success:function(data)
                    {
                        //$modal.modal('hide');
                        console.log(data);
                        $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Photo uploaded successfully', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                        $('#uploaded_image').attr('src', data);
                        window.setTimeout(function(){
                          window.location.href = "/{{app.user.usertype}}";
                        }, 000);
                        
                    }
                });
        
             });
             $('#btnRestore').click(function() {
               canvas.cropper('reset');
               $result.empty();
             });
           };
           img.src = evt.target.result;
				};
        reader.readAsDataURL(this.files[0]);
      }
      else {
        alert("Invalid file type! Please select an image file.");
      }
    }
    else {
      alert('No file(s) selected.');
    }
});

</script>
{% endblock %}
		
