<form method="post" action="{{ path('practice_sessions_delete', {'id': practice_session.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ practice_session.id) }}">
    <button class="btn mb-1 btn-danger">Delete</button>
</form>
