{% extends 'base.html.twig' %}

{% block title %}Edit PracticeSessions{% endblock %}

{% block body %}
    <h1>Edit PracticeSessions</h1>

    {{ include('practice_sessions/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('practice_sessions_index') }}">back to list</a>

    {{ include('practice_sessions/_delete_form.html.twig') }}
{% endblock %}
