{% extends 'base.html.twig' %}

{% block title %}PracticeSessions index{% endblock %}

{% block body %}
    <h1>PracticeSessions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DoneOn</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for practice_session in practice_sessions %}
            <tr>
                <td>{{ practice_session.id }}</td>
                <td>{{ practice_session.doneOn ? practice_session.doneOn|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('practice_sessions_show', {'id': practice_session.id}) }}">show</a>
                    <a href="{{ path('practice_sessions_edit', {'id': practice_session.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('practice_sessions_new') }}">Create new</a>
{% endblock %}
