{% extends 'base.html.twig' %}

{% block title %}New PracticeSessions{% endblock %}

{% block body %}
    <h1>Create new PracticeSessions</h1>

    {{ include('practice_sessions/_form.html.twig') }}

    <a href="{{ path('practice_sessions_index') }}">back to list</a>
{% endblock %}
