{% extends 'base.html.twig' %}

{% block title %}PracticeSessions{% endblock %}

{% block body %}
    <h1>PracticeSessions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ practice_session.id }}</td>
            </tr>
            <tr>
                <th>DoneOn</th>
                <td>{{ practice_session.doneOn ? practice_session.doneOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('practice_sessions_index') }}">back to list</a>

    <a href="{{ path('practice_sessions_edit', {'id': practice_session.id}) }}">edit</a>

    {{ include('practice_sessions/_delete_form.html.twig') }}
{% endblock %}
