{{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.content) }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.image) }}
        {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
    </div>
    {% if post.id is not null %}
        <input type="hidden" name="old_file" value="{{post.image}}" >
    {% endif %}
    <button class="btn mb-1 btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
