{% extends 'adm_base.html.twig' %}

{% block title %}New Article{% endblock %}
{% block stylesheets %}
<script src="{{asset('assets/js/jquery.min.js')}}"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{asset('assets/css/styles.css')}}">
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Blog - Create New Article</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Blog</a></li>
                            <li class="breadcrumb-item active">New Article</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('blog_new')}}" class="dropdown-item">New Article</a>
                            <!-- item-->
                            <a href="{{path('blog_index')}}" class="dropdown-item">Articles List</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">New Article</h4>
                    
                    <div class="row">
                        <div class="col-xl-12">

                            {{ include('post/_form.html.twig') }}
                        </div>
                    </div>
                    <!-- end row -->

                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->
        <a href="{{ path('blog_index') }}">back to list</a>

        
    </div> <!-- container-fluid -->


    



{% endblock %}
