{% extends 'public_base.html.twig' %}
{% set nav_type = 'half' %}
{% set sidebar = 'true' %}
{% block stylesheets %}
	<link property="stylesheet" rel='stylesheet' id='chezaschool-prettyphoto-style-css' href="{{asset('publicsite/js/vendor/fw/js/prettyphoto/css/prettyPhoto.css')}}" type='text/css' media='all' />
    <style>
        .post_header h1 {
            font-size: 25px;
            line-height: 25px;
            font-weight: 500;
            margin-bottom: 4px;
        }
        .pagination span a {
            color: #d52121;
        }
        .pagination ul li:first-child {
            margin-left: 0;
        }
        .pagination span {
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background: #f1f1f1;
            border-radius: 3px;
            margin-left: 3px;
        }
        *, ::after, ::before {
            box-sizing: border-box;
        }
    </style>

{% endblock %}
{% block slider %}{% endblock %}

{% block body %}

    <div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
        <div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
            <div class="content_wrap">
                <h1 class="page_title">Articles</h1>
                <div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Blog</span></div>
            </div>
        </div>
    </div>
    <div class="page_content_wrap page_paddings_yes">
        <div class="content_wrap">
            <div class="content">
                <article class="itemscope post_item post_item_single post_featured_default post_format_standard post-243 page type-page hentry">
                    <section class="post_content" itemprop="articleBody">
                        <div class="vc_row wpb_row">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div id="sc_blogger_1923167558" class="sc_blogger layout_excerpt template_excerpt  sc_blogger_horizontal">
                                        {% for post in pagination %}
                                            <div class="post_item post_item_excerpt post_featured_default post_format_standard odd post-203 post type-post format-standard has-post-thumbnail hentry category-jazz-ensembles category-music-technology category-piano-classes tag-kids tag-orchestra tag-private-lessons">
                                                <h1 class="post_title"><a href="{{path('post_show', {'id': post.id, 'title': post.title }) }}">{{post.title|title}}</a></h1>
                                                <div class="post_info">
                                                    <span class="post_info_item post_info_posted"> <a href="{{path('post_show', {'id': post.id, 'title': post.title }) }}" class="post_info_date">{{post.createdAt|date('F jS, Y')}}</a></span>
                                                    <span class="post_info_item post_info_posted_by icon-user-light">by <a href="#" class="post_info_author">{{post.user.fullname}}</a></span>
                                                    <span class="post_info_item post_info_counters"> <a class="post_counters_item post_counters_comments icon-comment" title="Comments - 3" href="{{path('post_show', {'id': post.id, 'title': post.title }) }}#comments"><span class="post_counters_number">{{post.comments|length}} comments</span></a>
                                                    </span>
                                                </div>
                                                <div class="post_featured">
                                                    <div class="post_thumb" data-image="{{asset('dist/assets/images/' ~ post.image )}}" data-title="International Piano Festival">
                                                        <a class="hover_icon hover_icon_link" href="{{path('post_show', {'id': post.id, 'title': post.title }) }}"><img class="wp-post-image" width="770" height="434" alt="International Piano Festival" src="{{asset('dist/assets/images/' ~ post.image )}}"></a>
                                                    </div>
                                                </div>
                                                <div class="post_content clearfix">
                                                    <div class="post_descr">
                                                        <p>{{post.content|slice(0, 200)|raw}}...</p><a href="{{path('post_show', {'id': post.id, 'title': post.title }) }}" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Read more</a> </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <!--blog pagination area start-->
                                        <div class="blog_pagination">
                                            {{ knp_pagination_render(pagination) }}
                                        </div>
                                        <!--blog pagination area end-->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="related_wrap related_wrap_empty"></section>
                </article>
            </div>
            {% include 'include/sidebar.html.twig' %}
        </div>
    </div>

{% endblock %}