{% extends 'public_base.html.twig' %}
{% set nav_type = 'half' %}
{% set sidebar = 'true' %}
{% block stylesheets %}
	<link property="stylesheet" rel='stylesheet' id='chezaschool-prettyphoto-style-css' href="{{asset('publicsite/js/vendor/fw/js/prettyphoto/css/prettyPhoto.css')}}" type='text/css' media='all' />
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
{% endblock %}
{% block slider %}{% endblock %}

{% block body %}

    <div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
        <div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
            <div class="content_wrap">
                <h1 class="page_title">{{post.title}}</h1>
                <div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><a class="breadcrumbs_item cat_post" href="#">Blog</a></div>
            </div>
        </div>
    </div>
    <div class="page_content_wrap page_paddings_yes">
        <div class="content_wrap">
            <div class="content">
                <article class="itemscope post_item post_item_single post_featured_default post_format_standard post-203 post type-post format-standard has-post-thumbnail hentry category-jazz-ensembles category-music-technology category-piano-classes tag-kids tag-orchestra tag-private-lessons">
                    <div class="post_info">
                        <span class="post_info_item post_info_posted"> <a href="{{path('default')}}" class="post_info_date date updated" itemprop="datePublished" content="2016-05-05 12:35:16">{{post.updatedAt|date('F jS, Y')}}</a></span>
                        <span class="post_info_item post_info_posted_by icon-user-light vcard" itemprop="author">by <a href="#" class="post_info_author">{{post.user.fullname}}</a></span>
                        <span class="post_info_item post_info_counters"> <a class="post_counters_item post_counters_comments icon-comment" title="Comments - 3" href="{{path('default')}}#comments"><span class="post_counters_number">0 comments</span></a>
                        </span>
                    </div>
                    <section class="post_featured">
                        <div class="post_thumb" data-image="{{asset('dist/assets/images/' ~ post.image )}}" data-title="{{post.title}}">
                            <a class="hover_icon hover_icon_view" href="{{asset('dist/assets/images/' ~ post.image )}}" title="{{post.title}}"><img class="wp-post-image" width="1170" height="659" alt="{{post.title}}" src="{{asset('dist/assets/images/' ~ post.image )}}" itemprop="image"></a>
                        </div>
                    </section>
                    <section class="post_content" itemprop="articleBody" style="font-family: 'Roboto', sans-serif!important; font-size: 18px!important;">
                        {{post.content|raw}}
                        <div class="post_info post_info_bottom">
                            <span class="post_info_item post_info_tags">Tags: <a class="post_tag_link" href="#">Home Music Lessons</a>, <a class="post_tag_link" href="#">Private Lessons</a>, <a class="post_tag_link" href="#">Cheza Music School</a></span>
                        </div>
                    </section>
                    <div class="post_info post_info_bottom post_info_share post_info_share_horizontal">
                        <div class="sc_socials sc_socials_size_small sc_socials_share sc_socials_dir_horizontal"><span class="share_caption">Share:</span>
                            <div class="sc_socials_item social_item_popup"><a href="#" class="social_icons social_facebook" data-link="#" data-count="facebook"><span class="icon-facebook"></span></a></div>
                            <div class="sc_socials_item social_item_popup"><a href="#" class="social_icons social_twitter" data-link="#" data-count="twitter"><span class="icon-twitter"></span></a></div>
                            <div class="sc_socials_item social_item_popup"><a href="#" class="social_icons social_gplus" data-link="#" data-count="gplus"><span class="icon-gplus"></span></a></div>
                        </div>
                    </div>
                    {% if app.user and app.user != null %}
                    <div class="post_info post_info_bottom post_info_share post_info_share_horizontal">
                        <a class="sc_button sc_button_square sc_button_style_filled sc_button_size_small red" href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

                        {{ include('post/_delete_form.html.twig') }}
                    </div>
                    {% endif %}
                    {# <section class="post_author author vcard" itemprop="author" itemtype="http://schema.org/Person">
                        <div class="post_author_avatar">
                            <a href="#" itemprop="image"><img alt='' src='http://2.gravatar.com/avatar/8979720d3c48d311027d086f6e15c72b?s=78&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/8979720d3c48d311027d086f6e15c72b?s=156&amp;d=mm&amp;r=g 2x' class='avatar avatar-78 photo' height='78'
                                                width='78' /></a>
                        </div>
                        <h6 class="post_author_title">About author <span itemprop="name"><a href="#" class="fn">Mike Newton</a></span></h6>
                        <div class="post_author_info" itemprop="description">
                            Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo condre. Gruitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic tempus. </div>
                    </section> #}
                    <section class="related_wrap related_wrap_empty"></section>
                </article>
                {# <section class="comments_wrap">
                    <div id="comments" class="comments_list_wrap">
                        <h1 class="section_title comments_list_title">{{post.comments|length}} Comments</h1>
                        <ul class="comments_list">
                        {% for comment in post.comments %}
                            <li id="comment-4" class="comment even thread-even depth-1 comment_item">
                                <div class="comment_author_avatar"><img alt='' src='{{asset("img/profile/person.png") }}' srcset='{{asset("img/profile/person.png") }}' class='avatar avatar-78 photo' height='78'
                                                    width='78' /></div>
                                <div class="comment_content">
                                    <div class="comment_info">by <span class="comment_author">{{comment.name}}</span>
                                        <span class="comment_date"><span class="comment_date_label">Posted</span> <span class="comment_date_value">{{comment.createdAt|date('F jS, Y')}}</span></span>
                                        <span class="comment_time">{{comment.createdAt|date('h:i a')}}</span>
                                    </div>
                                    <div class="comment_text_wrap">
                                        <div class="comment_text">
                                            <p>{{comment.content}}</p>
                                        </div>
                                    </div>
                                    <div class="comment_reply"><a rel='nofollow' class='comment-reply-link' id="showrbox_{{comment.id}}" href="#box_{{comment.id}}" aria-label='Reply to {{comment.name}}'>Reply</a></div>
                                </div>
                                <ul class="children">
                                    <li id="box_{{comment.id}}" style="display:none;" class="comment odd alt depth-2 comment_item">
                                        <div class="comments_form">
                                            <div id="respond" class="comment-respond">
                                                <h3 id="reply-title" class="comment-reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="{{path('default')}}#respond" style="display:none;">Cancel reply</a></small></h3>
                                                <form id="reply_form-{{comment.id}}" class="comment-form">
                                                    <p class="comments_notes">Your email address will not be published. Required fields are marked *</p>
                                                    <div class="comments_field comments_message"><label for="comment" class="required">Your Reply</label><textarea id="comment" name="reply" placeholder="Reply *" aria-required="true"></textarea></div>
                                                    <div class="comments_field comments_author"><label for="author" class="required">Name</label><input id="author" name="r_name" type="text" placeholder="Name *" value="{{app.user and app.user != null ? app.user.fullname : '' }}" size="30" aria-required="true" /></div>
                                                    <div class="comments_field comments_email"><label for="email" class="required">Email</label><input id="email" name="r_email" type="text" placeholder="Email *" value="{{app.user and app.user != null ? app.user.email : '' }}" size="30" aria-required="true" /></div>
                                                    <input type="hidden" name="comment_id" value="{{comment.id}}" id="post_id">
                                                    <p class="form-submit">
                                                        <button type="button" id="post_reply-{{comment.id}}" class="submit">Post Reply</button> 
                                                    </p>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <section id="cr_{{comment.id}}">
                                {% for reply in comment.commentReplies %}
                                    <ul class="children">
                                        <li id="comment-5" class="comment odd alt depth-2 comment_item">
                                            <div class="comment_author_avatar"><img alt="" src="{{asset("img/profile/person.png") }}" srcset="{{asset("img/profile/person.png") }}" class="avatar avatar-78 photo" height="78"
                                                                width="78" /></div>
                                            <div class="comment_content">
                                                <div class="comment_info">by <span class="comment_author">{{reply.rName}}</span>
                                                    <span class="comment_date"><span class="comment_date_label">Posted</span> <span class="comment_date_value">{{reply.createdAt|date("F jS, Y")}}</span></span>
                                                    <span class="comment_time">{{reply.createdAt|date("h:i a")}}</span>
                                                </div>
                                                <div class="comment_text_wrap">
                                                    <div class="comment_text">
                                                        <p>{{reply.content}}</p>
                                                    </div>
                                                </div>
                                                <div class="comment_reply"><a rel="nofollow" class="comment-reply-link" aria-label="Reply to Martha Stewart">Reply</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                {% endfor %}
                                </section>
                            </li>
                        {% endfor %}
                        </ul>
                        <div class="comments_pagination"></div>
                    </div>
                    <div class="comments_form_wrap">
                        <h1 class="section_title comments_form_title">Add Comment</h1>
                        <div class="comments_form">
                            <div id="respond" class="comment-respond">
                                <h3 id="reply-title" class="comment-reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="{{path('default')}}#respond" style="display:none;">Cancel reply</a></small></h3>
                                <form id="comment_form" class="comment-form">
                                    <p class="comments_notes">Your email address will not be published. Required fields are marked *</p>
                                    <div class="comments_field comments_message"><label for="comment" class="required">Your Comment</label><textarea id="comment" name="comment" placeholder="Comment *" aria-required="true"></textarea></div>
                                    <div class="comments_field comments_author"><label for="author" class="required">Name</label><input id="author" name="name" type="text" placeholder="Name *" value="{{app.user and app.user != null ? app.user.fullname : '' }}" size="30" aria-required="true" /></div>
                                    <div class="comments_field comments_email"><label for="email" class="required">Email</label><input id="email" name="email" type="text" placeholder="Email *" value="{{app.user and app.user != null ? app.user.email : '' }}" size="30" aria-required="true" /></div>
                                    <input type="hidden" name="post_id" value="{{post.id}}" id="post_id">
                                    <p class="form-submit">
                                        <button type="button" id="post_comment" class="submit">Post Comment</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>

                </section> #}
            </div>
            {% include 'include/sidebar.html.twig' %}
        </div>
    </div>

{% endblock %}

