      <!-- Page Footer-->
      <footer id="contacts" class="section footer-creative footer-creative-2">
        <div class="footer-classic-body section-lg section-inset-4 context-dark">
          <div class="container">
            <div class="row row-40 justify-content-md-between">
              <div class="col-sm-6 col-md-6">
                <!-- RD Google Map-->
                <div class="google-map-location" data-center="9870 St Vincent Place, Glasgow, DC 45 Fr 45." data-styles="[{&quot;featureType&quot;:&quot;water&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#e9e9e9&quot;},{&quot;lightness&quot;:17}]},{&quot;featureType&quot;:&quot;landscape&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#f5f5f5&quot;},{&quot;lightness&quot;:20}]},{&quot;featureType&quot;:&quot;road.highway&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#ffffff&quot;},{&quot;lightness&quot;:17}]},{&quot;featureType&quot;:&quot;road.highway&quot;,&quot;elementType&quot;:&quot;geometry.stroke&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#ffffff&quot;},{&quot;lightness&quot;:29},{&quot;weight&quot;:0.2}]},{&quot;featureType&quot;:&quot;road.arterial&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#ffffff&quot;},{&quot;lightness&quot;:18}]},{&quot;featureType&quot;:&quot;road.local&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#ffffff&quot;},{&quot;lightness&quot;:16}]},{&quot;featureType&quot;:&quot;poi&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#f5f5f5&quot;},{&quot;lightness&quot;:21}]},{&quot;featureType&quot;:&quot;poi.park&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#dedede&quot;},{&quot;lightness&quot;:21}]},{&quot;elementType&quot;:&quot;labels.text.stroke&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;on&quot;},{&quot;color&quot;:&quot;#ffffff&quot;},{&quot;lightness&quot;:16}]},{&quot;elementType&quot;:&quot;labels.text.fill&quot;,&quot;stylers&quot;:[{&quot;saturation&quot;:36},{&quot;color&quot;:&quot;#333333&quot;},{&quot;lightness&quot;:40}]},{&quot;elementType&quot;:&quot;labels.icon&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;transit&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#f2f2f2&quot;},{&quot;lightness&quot;:19}]},{&quot;featureType&quot;:&quot;administrative&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#fefefe&quot;},{&quot;lightness&quot;:20}]},{&quot;featureType&quot;:&quot;administrative&quot;,&quot;elementType&quot;:&quot;geometry.stroke&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#fefefe&quot;},{&quot;lightness&quot;:17},{&quot;weight&quot;:1.2}]}]">
                  <div class="location">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1021294.7136340635!2d36.4816301!3d-0.79684!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f116d97a35b3b%3A0xc91b995b74b01080!2sBaby%20Blossom%20Kenya!5e0!3m2!1sen!2ske!4v1698941411817!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                  <ul class="google-map-loc">
                    <li data-location="9870 St Vincent Place, Glasgow, DC 45 Fr 45." data-description="9870 St Vincent Place, Glasgow" data-icon="{{ asset('site/images/gmap_marker.png') }}" data-icon-active="{{ asset('site/images/gmap_marker_active.png') }}"></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 col-md-5 wow fadeInRight">
                <h3 class="title-style-11">Get In Touch</h3>
                <!-- RD Mailform-->
                <form class="contact-form" data-form-output="form-output-global" data-form-type="contact" method="post" action="{{ path('contact_form') }}">
                  <div class="form-wrap">
                    <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required"/>
                    <label class="form-label" for="contact-name">Your Name</label>
                  </div>
                  <div class="form-wrap">
                    <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required"/>
                    <label class="form-label" for="contact-email">E-mail</label>
                  </div>
                  <div class="form-wrap">
                    <label class="form-label" for="contact-message">Message</label>
                    <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                  </div>
                  <button class="button button-lg button-primary-2 button-zakaria" type="submit">Send</button>
                </form>
              </div>
            </div>
            <div class="row row-40 row-md-50 justify-content-sm-between">
              <div class="col-lg-5 wow fadeInRight">
                <div class="inset-xl-right-55">
                  <h4 class="footer-creative-title">About us</h4>
                  <p>Explore a wide range of music instruments online. Order and pay on delivery. Expert advice on the best instruments for your needs.</p>
                  <div class="group-xl group-middle d-lg-flex justify-content-lg-between" id="partners">
                    <a class="clients-modern" href="#"><img src="{{ asset('site/images/conservatoire.png') }}" alt="chandarana" width="101" height="34"/></a>
                    <a class="clients-modern" href="#"><img src="{{ asset('site/images/muske.png') }}" alt="copia" width="101" height="34"/></a>
                    <a class="clients-modern" href="#"><img src="{{ asset('site/images/chezamusicschool.png') }}" alt="glovo" width="101" height="34"/></a>
                    <a class="clients-modern" href="#"><img src="{{ asset('site/images/gybird.png') }}" alt="goodlife" width="101" height="34"/></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3 wow fadeInRight" data-wow-delay=".1s">
                <h4 class="footer-creative-title">Contacts</h4>
                <ul class="contacts-holly">
                  <li>
                    <div class="contacts-holly-title">Phone</div>
                    <div class="contacts-holly-text"><a href="tel:#">+254 795 168375</a></div>
                  </li>
                  <li>
                    <div class="contacts-holly-title">Address</div>
                    <div class="contacts-holly-text"><a href="#">Home Business<br/>We operate virtually. You order, we deliver</a></div>
                  </li>
                  <li>
                    <div class="contacts-holly-title">E-mail</div>
                    <div class="contacts-holly-text"><a href="mailto:#">njianimusicshop@gmail.com</a></div>
                  </li>
                </ul>
              </div>
              <div class="col-sm-5 col-lg-2 wow fadeInRight" data-wow-delay=".2s">
                <h4 class="footer-creative-title">Menu</h4>
                <ul class="footer-creative-list">
                  <li><a href="{{ path('app_about') }}">About Us</a></li>
                  <li><a href="{{ path('app_faq') }}">FAQ</a></li>
                  <li><a href="{{ path('app_default') }}">Products</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-creative-panel">
          <div class="container">
            <div class="row row-10 align-items-center justify-content-sm-between">
              <div class="col-sm-auto">
                <p class="rights"><span>&copy;&nbsp; </span><span class="c-y">{{"now"|date('Y')}}</span><span>&nbsp;</span><span>Njiani Music Shop</span><span>.&nbsp; All rights reserved.</span><span>&nbsp;</span><a href="/pages/privacy-policy">Privacy Policy</a>. Developed &nbsp;by&nbsp;<a href="tel:+254705285959">Josiah Birai : 0736600033</a></p>
              </div>
              <div class="col-sm-auto">
                <ul class="list-inline list-social list-inline-sm">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-linkedin" href="#"></a></li>
                  <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Get the "Products" link element
    var productsLink = document.getElementById('products-link');

    // Add a click event listener to the "Products" link
    productsLink.addEventListener('click', function() {
      // Get the mobile menu element (replace "mobile-menu" with the actual ID of your mobile menu)
      var mobileMenu = document.getElementById('mobile-menu');
      var mobileMenu2 = document.getElementById('toggle-nav-icon');

      // Check if the mobile menu has the "active" class before removing it
      if (mobileMenu.classList.contains('active')) {
        // Remove the "active" class to hide the mobile menu
        mobileMenu.classList.remove('active');
      }
      if (mobileMenu2.classList.contains('active')) {
        // Remove the "active" class to hide the mobile menu
        mobileMenu2.classList.remove('active');
      }
    });
  });
</script>
