<form method="post" action="{{ path('app_simple_report_delete', {'id': simple_report.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ simple_report.id) }}">
    <button class="btn mb-1 btn-danger">Delete</button>
</form>
