{% extends 'adm_base.html.twig' %}

{% block title %}Edit Simple Report{% endblock %}
{% block stylesheets %}


{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Simple Report {{simple_report.student.fullname}} {{simple_report.term|replace({'_' : ' '})}} {{simple_report.year}}</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Report</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-sm-8">
               
                <!-- Form row -->
                <div class="card-box">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title">{{simple_report.student.fullname}}'s Report</h4>

                            <form id="save_short_report_form">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="short_report" class="col-form-label">Write Report</label>
                                        <textarea id="short_report" required="required" rows="5" name="short_report" class="form-control">{{simple_report.fullreport}}</textarea>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="term" class="col-form-label">Term</label>
                                        <select class="form-control" id="term" name="term">
                                            <option {{simple_report.term == "Term_1" ? 'selected' : '' }} value="Term_1">Term 1</option>
                                            <option {{simple_report.term == "Term_2" ? 'selected' : '' }} value="Term_2">Term 2</option>
                                            <option {{simple_report.term == "Term_3" ? 'selected' : '' }} value="Term_3">Term 3</option>
                                            <option {{simple_report.term == "August_Music_Camp" ? 'selected' : '' }} value="August_Music_Camp">August Music Camp</option>
                                            <option {{simple_report.term == "December_Music_Camp" ? 'selected' : '' }} value="December_Music_Camp">December Music Camp</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="year" class="col-form-label">Year</label>
                                        {% set currentYear = "now"|date("Y") %}   
                                        <select class="form-control" id="year" name="year">
                                            <option {{simple_report.year == currentYear ? 'selected' : '' }} value="{{currentYear}}">{{ currentYear }}</option>
                                            <option {{simple_report.year == currentYear-1 ? 'selected' : '' }} value="{{currentYear-1}}">{{currentYear-1}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="background" class="col-form-label">Background</label>
                                        <select class="form-control" id="background" name="background">
                                            <option value="/assets/img/MusicReportPiano.jpg">Piano Background</option>
                                            <option value="/assets/img/MusicReportGuitar.jpg">Guitar Background</option>
                                            <option value="/assets/img/MusicReportViolin.jpg">Violin Background</option>
                                            <option value="/assets/img/MusicReportDrum.jpg">Drum Background</option>
                                            <option value="/assets/img/MusicReportVoice.jpg">Voice Background</option>
                                        </select>
                                    </div>
                                </div>
                                <button id="save_short_report" class="btn btn-primary btn-sm" type="button">Save Short Report</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end row -->        
            </div>
            <div class="col-sm-4">
               
                <!-- Form row -->
                <div class="card-box">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title">Action</h4>
                            
                            <a class="btn mb-1 btn-info" href="#" onClick="goToReportsList()">Simple Reports List</a>
                            <a class="btn mb-1 btn-info" href="{{path('teacher-students-list')}}">Students List</a>
                            {{ include('simple_report/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
                <!-- end row -->        
            </div>

        </div>        
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/sidebar.js')}}"></script>
        <link rel="stylesheet" href="{{ asset('assets/css/dropzone.css') }}" />
        <link href="{{ asset('assets/css/cropper.css') }}" rel="stylesheet"/>
        <script src="{{ asset('assets/js/dropzone.js') }}"></script>
        <script src="{{ asset('assets/js/cropper.js') }}"></script>

    <script>
	  $('#save_short_report').click(function() {
        
        // var msg = $("#msg").val();
        var short_report = $("#short_report").val();
        var term = $("#term").val();
        var year = $("#year").val();
        var background = $("#background").val();

        $.ajax({
            url:"{{ (path('edit_short_report')) }}",
            type: "POST",
            dataType: "json",
            data: {
                "simple_report_id": {{simple_report.id}},
                "short_report": short_report,
                "teacher_id": {{simple_report.teacher.id}},
                "student_id": {{simple_report.student.id}},
                "background": background,
                "term": term,
                "year": year,
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'short_report info saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	  });
	</script>

    <script>
        function goToReportsList(){
            var term = $("#term").val();
            var year = $("#year").val();
            var user = {{student.id}};
            window.location.href = "/simple/report/for/" + term + "/" + year + "/" + user;
        }
    </script>

    {#<script type="text/javascript">#}
    {#        var CKEDITOR_BASEPATH = "/bundles/fosckeditor/";#}
    {#</script>#}
    {#<script type="text/javascript" src="/bundles/fosckeditor/ckeditor.js"></script>#}
    {#<script type="text/javascript">#}
    {#    if (CKEDITOR.instances["short_report"]) { #}
    {#        CKEDITOR.instances["short_report"].destroy(true); #}
    {#        delete CKEDITOR.instances[ "short_report"]; #}
    {#    }#}
    {#    var fos_ckeditor_short_report = CKEDITOR.replace("short_report", {#}
    {#        "toolbar":[["Bold"],["Italic"],["Underline"],["NumberedList"],["BulletedList"],["Blockquote"],["JustifyLeft"],["JustifyCenter"],["JustifyRight"],["Link"],["Image"],["Format"]],"uiColor":"#ffffff","language":"en"#}
    {#    });#}
    {#    fos_ckeditor_short_report.on('change', function() { fos_ckeditor_short_report.updateElement(); });#}

    {#</script>#}
    
{% endblock %}