{% extends 'adm_base.html.twig' %}

{% block title %}SimpleReport index{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Simple Reports {% if simple_reports|length > 0 %}{{simple_reports[0].student.fullname}} {{simple_reports[0].term|replace({'_' : ' '})}} {{simple_reports[0].year}}{% endif %}</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Reports</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-sm-8">
               
                <!-- Form row -->
                <div class="card-box">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title">Reports</h4>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>User</th>
                                            {# <th>Report</th> #}
                                            <th>Background</th>
                                            <th>AddedOn</th>
                                            <th>Sent</th>
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for simpleReport in simple_reports %}
                                        <tr>
                                            <td>{{ simpleReport.name }}</td>
                                            <td>{{ simpleReport.student }}</td>
                                            {# <td>{{ simpleReport.fullreport|slice(0,50)|raw }}</td> #}
                                            <td>{{ simpleReport.background }}</td>
                                            <td>{{ simpleReport.addedOn ? simpleReport.addedOn|date('Y-m-d H:i:s') : '' }}</td>
                                            <td>{{ simpleReport.sent ? 'Yes' : 'No' }}</td>
                                            <td>
                                                <a href="{{ path('app_simple_report_show', {'id': simpleReport.id}) }}">show</a>
                                                <a href="{{ path('app_simple_report_edit', {'id': simpleReport.id}) }}">edit</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="6">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                
                        </div>
                    </div>
                </div>
                <!-- end row -->        
            </div>
            <div class="col-sm-4">
               
                <!-- Form row -->
                <div class="card-box">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title">Action</h4>
                            
                            <a class="btn mb-1 btn-info" href="{{path('teacher-students-list')}}">Students List</a>
                            {% if simple_reports|length > 0 %}<a class="btn mb-1 btn-info" href="{{path('app_simple_report_list', {'term': simple_reports|first.term, 'year': simple_reports|first.year, 'user': simple_reports|first.student.id} ) }}">PDF</a>{% endif %}
                        </div>
                    </div>
                </div>
                <!-- end row -->        
            </div>

        </div>        
        
    </div> <!-- container-fluid -->


{% endblock %}
