{% extends 'adm_base.html.twig' %}

{% block title %}SimpleReport List{% endblock %}
{% block stylesheets %}
<style>
@font-face {
    font-family: 'Barlow';
    src: url('/assets/barlow/Barlow-Regular.woff2') format('woff2'),
        url('/assets/barlow/Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.report {
    font-family: 'Barlow';
    font-size:1.8em;
    color: white;
    padding:1cm;
}

.report h3 {
    color: white;
    font-size: 1.8em;
}

.report h4 {
    color: white;
    font-size: 1.4em;
}

.with-bg {
  background-size: cover;
  background-repeat: no-repeat;
}
.header-title {
    font-size: 1.2em !important;
}


#pdfDownloader{
  padding:10px;
  background-color:#ffff;
}
div[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;  
}
@page {
  margin: 0;
  size: A4 landscape;
}
@media print {
  .pagebreak { 
    page-break-after: always; 
  } /* page-break-after works, as well */    
  
  div[size="A4"][layout="landscape"] {
      width: 29.7cm;
      height: 21cm;  
  }

  html{
    margin: 0px !important;
  }
  #pdfDownloader {
    display: none !important;
    height: 0;
  }
  #resume{
    margin: 0 !important;
  }
  #resumecv-layout{
    box-shadow: none;
  }
  .to-hide{
    display: none !important;
  }
  header {
      display: none !important;
  }
  footer {
      display:none !important;
  }
.with-bg {
  background-size: cover;
  background-repeat: no-repeat;
}

}

</style>
{% endblock %}

{% block body %}
    {% if student.uigGroups|length > 0 and null != student.photo %}
    {% set src = student.photo %}
    {% set styles = "max-height:150px;display:block;margin:auto;" %}
    {% set institutionName = student.fullname|replace({'/(.*?School).*/': '$1'})|trim %}
    {% else %}
    {% set src = "/education/img/logos/transparent-light-logo.png" %}
    {% set styles = "max-height:150px;display:block;margin:auto;" %}
    {% set institutionName = student.fullname|replace({'/(.*?School).*/': '$1'})|trim %}
    {% endif %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row to-hide">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <button id="pdfDownloader">PRINT PDF</button>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Reports</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <div class="first-page">
            <h1>Reports {% if simple_reports|length > 0 %}{{simple_reports[0].student.fullname}} {{simple_reports[0].term|replace({'_' : ' '})}} {{simple_reports[0].year}}{% endif %}</h1>
        </div>
        <!-- end page title -->
            <div class="pagebreak"> </div>

        <div class="row">
        {% for simpleReport in simple_reports %}
            
            <div class="col-sm-12 with-bg" style="background-image: url('{{simpleReport.background}}');" size="A4" layout="landscape">
               
                <div class="report">

                    <!-- Form row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="" style="text-align:center">
                                <img class="img-fluid logo" style="{{styles}}" src="{{app.request.getSchemeAndHttpHost()}}{{src}}" >
                                <h3 class="m-t-0 header-title">{{simpleReport.student.fullname|replace({'/(.*?School).*/': '$1'})|trim}}</h3>
                                <h4>{{simpleReport.name|title}}</h4>
                                <div class="fullreport">
                                    {{simpleReport.fullreport|raw}}
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    <!-- end row -->        

                </div>
            </div>
            <div class="pagebreak"> </div>
        {% endfor %}

        </div>        
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block javascripts %}

    <script>
    
        $(document).ready(function(){

            function myFunction() {

                var css = '@page { size: landscape; }',
                    head = document.head || document.getElementsByTagName('head')[0],
                    style = document.createElement('style');

                style.type = 'text/css';
                style.media = 'print';

                if (style.styleSheet){
                style.styleSheet.cssText = css;
                } else {
                style.appendChild(document.createTextNode(css));
                }

                head.appendChild(style);
                
                var url = $(location).attr('href');
                window._loadPageLink = url;
                window._token = "";
                console.log('starting...');
                console.log(url);
                console.log(window._load);
                
    
                // $.ajax({
                //     url: window._loadPageLink,
                //     type: 'GET',
                //     async: false,
                //     data: `_token=${window._token}`,
                //     success: function(data) {
                //         if ($.isEmptyObject(data.error)) {
                //             $('body').append(data.html);
                //             $('body').prepend(`<style>${data.css}</style>`);
                //             console.log(data.html);
                //             console.log(data.css);
                //         } else {
                //             alert(data.error);
                //         }
                //     },
                //     error: function(xhr, ajaxOptions, thrownError) {
                //         console.log(xhr);
                //     }
                // });

                window.print();
            }
            document.getElementById("pdfDownloader").addEventListener("click", myFunction);
            

            // window.print();
        
        });


    </script>

{% endblock %}