{% extends 'adm_base.html.twig' %}

{% block title %}SimpleReport index{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Simple Reports {{simple_report.student.fullname}} {{simple_report.term|replace({'_' : ' '})}} {{simple_report.year}}</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Reports</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-sm-8">
               
                <!-- Form row -->
                <div class="card-box">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title">Reports</h4>

                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Id</th>
                                            <td>{{ simple_report.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Fullreport</th>
                                            <td>{{ simple_report.fullreport|raw }}</td>
                                        </tr>
                                        <tr>
                                            <th>Background</th>
                                            <td>{{ simple_report.background }}</td>
                                        </tr>
                                        <tr>
                                            <th>AddedOn</th>
                                            <td>{{ simple_report.addedOn ? simple_report.addedOn|date('Y-m-d H:i:s') : '' }}</td>
                                        </tr>
                                        <tr>
                                            <th>Sent</th>
                                            <td>{{ simple_report.sent ? 'Yes' : 'No' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                                            
                        </div>
                    </div>
                </div>
                <!-- end row -->        
            </div>
            <div class="col-sm-4">
               
                <!-- Form row -->
                <div class="card-box">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title">Action</h4>
                            <a href="{{ path('app_simple_report_index', {'term': simple_report.term, 'year': simple_report.year}) }}">back to list</a>

                            <a href="{{ path('app_simple_report_edit', {'id': simple_report.id}) }}">edit</a>

                            <a class="btn mb-1 btn-info" href="{{path('teacher-students-list')}}">Students List</a>
                            {{ include('simple_report/_delete_form.html.twig') }}                            
                        </div>
                    </div>
                </div>
                <!-- end row -->        
            </div>

        </div>        
        
    </div> <!-- container-fluid -->


{% endblock %}
