<form method="post" action="{{ path('nav_child_delete', {'id': nav_child.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nav_child.id) }}">
    <button class="btn mb-1 btn-danger">Delete</button>
</form>
