{{ form_start(form, {'attr': {'role': 'form'}}) }}
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Navigation Label</label>
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">What people will see so that they will clickk.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Navigation URL</label>
                {{ form_widget(form.link, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The URL where the link will lead to.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Navigation Position</label>
                {{ form_widget(form.position, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The links will be ordered according to their positions.</span>
            </div>
        </div>
    </div>
</div>
<button type="submit" class="btn btn-success btn-lg">{{ button_label|default('Save Navigation Child') }}</button>
<hr />
{{ form_end(form) }}
