{% extends 'adm_base.html.twig' %}

{% block title %}Navigation Links{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <style>
        .btn-group {
        display: flex;
        }
    </style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Navigation Links
            </div>
            <div class="panel-body">
                <div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Link</th>
                                <th>Position</th>
                                <th>Navigation</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for nav_child in nav_children %}
                            <tr>
                                <td>{{ nav_child.name }}</td>
                                <td>{{ nav_child.link }}</td>
                                <td>{{ nav_child.position }}</td>
                                <td>{{ nav_child.navigation.name }}</td>
                                <td>
                                    <a href="{{ path('nav_child_new', {'navigation_id': nav_child.navigation.id}) }}">new</a>
                                    <a href="{{ path('nav_child_show', {'id': nav_child.id}) }}">show</a>
                                    <a href="{{ path('nav_child_edit', {'id': nav_child.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
    <!-- /. ROW  -->
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}


{% endblock %}