{% extends 'adm_base.html.twig' %}

{% block title %}New Navigation Child{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <style>
        .btn-group {
        display: flex;
        }
    </style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                New Navigation Child for {{navigation.name}}
            </div>
            <div class="panel-body">
                <div>

                    {{ include('nav_child/_form.html.twig') }}

                    <a href="{{ path('nav_child_index') }}">back to list</a>

                </div>
                
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
    <!-- /. ROW  -->
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}


{% endblock %}