{% extends 'adm_base.html.twig' %}

{% block title %}New Navigation Child{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <style>
        .btn-group {
        display: flex;
        }
    </style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                 {{nav_child.name}}
            </div>
            <div class="panel-body">
                <div>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td>{{ nav_child.name }}</td>
                            </tr>
                            <tr>
                                <th>Link</th>
                                <td>{{ nav_child.link }}</td>
                            </tr>
                            <tr>
                                <th>Position</th>
                                <td>{{ nav_child.position }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <a href="{{ path('nav_child_index') }}">back to list</a>

                    <a href="{{ path('nav_child_edit', {'id': nav_child.id}) }}">edit</a>

                    {{ include('nav_child/_delete_form.html.twig') }}

                </div>
                
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
    <!-- /. ROW  -->
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}


{% endblock %}