<form method="post" action="{{ path('w_shop_delete', {'id': w_shop.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ w_shop.id) }}">
    <button class="btn mb-1 btn-danger">Delete</button>
</form>
