<div class="panel-body">
{{ form_start(form, {'attr': {'role': 'form'}}) }}
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Title</label>
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Event Title.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Happens On</label>
                {{ form_widget(form.happensOn, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Date of the event.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Event Type</label>
                {{ form_widget(form.eventType, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Which Event is this? Workshop? Registration?.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Deadline</label>
                {{ form_widget(form.deadline, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Last date for registration.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Slogan</label>
                {{ form_widget(form.slogan, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Slogan for marketing.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Cost of Event</label>
                {{ form_widget(form.pricing, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Cost of event.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Photo</label>
                {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">A photo for the event.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Document</label>
                {{ form_widget(form.document, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">For example a flyer.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>External Link</label>
                {{ form_widget(form.link, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Link to more information.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Extra Info</label>
                {{ form_widget(form.extrainfo, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">What kind of extra information do you need?.</span>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>Description</label>
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 5}}) }}
                <span class="help-block">Description of the event.</span>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label>Extra Html</label>
                {{ form_widget(form.extrahtml, {'attr': {'class': 'form-control', 'rows': 10}}) }}
                <span class="help-block">HTML for extra information.</span>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label>Comment Info</label>
                {{ form_widget(form.comment, {'attr': {'class': 'form-control', 'rows': 5}}) }}
                <span class="help-block">Description of question for target audience.</span>
            </div>
        </div>
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>
</div>
<hr />

{{ form_end(form) }}

