{% extends 'adm_base.html.twig' %}

{% block title %}Workshop Registration List{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link href="{{asset('adm/assets/libs/rwd-table/rwd-table.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
{# 0736991179 Shopit #}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Workshop Registration List</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            {# <!-- item-->
                            <a href="{{ path('contact_new') }}" class="dropdown-item">Create new</a>
                            <!-- item-->
                            <a href="{{ path('admin-communications') }}" class="dropdown-item">Back to communications</a> #}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">List of all registered people</h4>
                    <div class="responsive-table-plugin">
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns">

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Event Type</th>
                                            <th>Date</th>
                                            <th>Deadline</th>
                                            <th>Title</th>
                                            <th>Pricing</th>
                                            <th>Link</th>
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for w_shop in w_shops %}
                                        <tr>
                                            <td>{{ w_shop.id }}</td>
                                            <td>{{ w_shop.eventtype }}</td>
                                            <td>{{ w_shop.happensOn ? w_shop.happensOn|date('Y-m-d H:i:s') : '' }}</td>
                                            <td>{{ w_shop.deadline ? w_shop.deadline|date('Y-m-d H:i:s') : '' }}</td>
                                            <td>{{ w_shop.title }}</td>
                                            <td>{{ w_shop.pricing }}</td>
                                            <td>{{ w_shop.link }}</td>
                                            <td>
                                                <a href="{{ path('w_shop_show', {'id': w_shop.id}) }}">show</a>
                                                <a href="{{ path('w_shop_edit', {'id': w_shop.id}) }}">edit</a>
                                                <a href="{{ path('activity', {'wshop_id': w_shop.id, 'wshop_title': w_shop.title }) }}">register</a>
                                                <a href="{{ path('activity_list', {'wshop_id': w_shop.id }) }}">list</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="9">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <a href="{{ path('w_shop_new') }}">Create new</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}
    <script src="{{asset('adm/assets/libs/rwd-table/rwd-table.min.js') }}"></script>
    <!-- Init js -->
    <script src="{{asset('adm/assets/js/pages/responsive-table.init.js') }}"></script>
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('.datatable').DataTable();
        } );
    </script>
	<script>

{% endblock %}