<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Xmee | Login and Register Form Html Templates</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="font/flaticon.css">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="preloader" class="preloader">
        <div class='inner'>
            <div class='line1'></div>
            <div class='line2'></div>
            <div class='line3'></div>
        </div>
    </div>
    <section class="fxt-template-animation fxt-template-layout34" data-bg-image="{{asset('activity/img/elements/bg1.png') }}">
        <div class="fxt-shape">
            <div class="fxt-transformX-L-50 fxt-transition-delay-1">
                <img src="{{asset('activity/img/elements/shape1.png') }}" alt="Shape">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="fxt-column-wrap justify-content-between">
                        <div class="fxt-animated-img">
                            <div class="fxt-transformX-L-50 fxt-transition-delay-10">
                                <img src="{{asset(wshop.photo) }}" alt="Animated Image">
                            </div>
                        </div>
                        <div class="fxt-transformX-L-50 fxt-transition-delay-3">
                            <a href="/" class="fxt-logo"><img src="{{asset('activity/img/cheza_logo.png') }}" alt="Logo"></a>
                        </div>
                        <div class="fxt-transformX-L-50 fxt-transition-delay-5">
                            <div class="fxt-middle-content">
                                <h1 style="background-color: rgba(0, 0, 0, 0.7);border-radius: 30px;padding:20px;color:white;font-size:1.4em;" class="fxt-main-title">{{wshop.title}}</h1>
                                <div style="background-color: rgba(0, 0, 0, 0.7);border-radius: 30px;padding:20px;color:white;" class="fxt-switcher-description1">{{wshop.description}} </div>
                            </div>
                        </div>
                        <div class="fxt-transformX-L-50 fxt-transition-delay-7">
                            <!-- <div class="fxt-qr-code">
                                <p> >> Student motivation</p>
                                <p> >> Performance & sight-reading</p>
                                <p> >> Encouraging practice </p>
                                <p> >> Mastering difficult techniques</p>
                                <p> >> Teaching group classes </p>
                                <p> >> Q&A Session. </p>
                                <p> >> Don't miss.</p>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="fxt-column-wrap justify-content-center">
                        <div class="fxt-form">
                        <h3>{{wshop.pricing}}</h3><a href="{{wshop.link}}">Learn more</a>
                        {% if wshop.deadline|date('U') > "now"|date('U') %}
                            <form method="POST" action="{{path('register_for_workshop')}}">
                                <div class="form-group">
                                    <input type="text" id="f_name" class="form-control" name="f_name" placeholder="First Name" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="l_name" class="form-control" name="l_name" placeholder="Last Name" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="email" id="email" class="form-control" name="email" placeholder="E-mail Address" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="phone" id="phone" class="form-control" name="phone" placeholder="Phone number" required="required">
                                </div>
                                <div class="form-group">
                                    <select name="occupation" id="occupation" class="form-select form-control" aria-label="Default select example">
                                        <option selected>You are...</option>
                                        <option value="music_teacher">A music teacher</option>
                                        <option value="music_student">A music student</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="fxt-checkbox-box">
                                        <input id="checkbox1" type="checkbox">
                                        <label for="checkbox1" class="ps-4">I understand that I'm registering for a workshop that needs my physical attendance </label>
                                    </div>
                                    <input type="hidden" name="wshop_id" id="wshop_id" value="{{wshop.id}}">
                                </div>
                                <div class="form-group">
                                    <div class="g-recaptcha" data-sitekey="{{captcha_key}}"></div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="fxt-btn-fill">Sign Up</button>
                                </div>
                            </form>
                            {% else %}
                            <p>Deadline for registration was {{wshop.deadline|date('jS M Y')}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- jquery-->
    <script src="js/jquery-3.5.0.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Imagesloaded js -->
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <!-- Validator js -->
    <script src="js/validator.min.js"></script>
    <!-- Custom Js -->
    <script src="js/main.js"></script>

</body>

</html>