{% extends 'adm_base.html.twig' %}

{% block title %}Show Event{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Show Event</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Show</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('w_shop_index') }}" class="dropdown-item">Back to list</a>
                            <a href="{{ path('w_shop_edit', {'id': w_shop.id}) }}" class="dropdown-item">Edit</a>
                            {{ include('w_shop/_delete_form.html.twig') }}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Show Event</h4>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ w_shop.id }}</td>
                            </tr>
                            <tr>
                                <th>Event Type</th>
                                <td>{{ w_shop.eventtype }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ w_shop.description }}</td>
                            </tr>
                            <tr>
                                <th>Deadline</th>
                                <td>{{ w_shop.deadline ? w_shop.deadline|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td>{{ w_shop.title }}</td>
                            </tr>
                            <tr>
                                <th>Slogan</th>
                                <td>{{ w_shop.slogan }}</td>
                            </tr>
                            <tr>
                                <th>Pricing</th>
                                <td>{{ w_shop.pricing }}</td>
                            </tr>
                            <tr>
                                <th>Photo</th>
                                <td>{{ w_shop.photo }}</td>
                            </tr>
                            <tr>
                                <th>Document</th>
                                <td>{{ w_shop.document }}</td>
                            </tr>
                            <tr>
                                <th>Link</th>
                                <td>{{ w_shop.link }}</td>
                            </tr>                            <tr>
                                <th>Comment</th>
                                <td>{{ w_shop.comment }}</td>
                            </tr>                            <tr>
                                <th>ExtraInfo</th>
                                <td>{{ w_shop.extrainfo }}</td>
                            </tr>                            <tr>
                                <th>ExtraHtml</th>
                                <td>{{ w_shop.extrahtml }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}
