<form method="post" action="{{ path('my_key_delete', {'id': my_key.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ my_key.id) }}">
    <button class="btn mb-1 btn-danger">Delete</button>
</form>
