{% extends 'base_flash.html.twig' %}

{% block title %}Edit MyKey{% endblock %}

{% block body %}
    <h1>Edit MyKey</h1>

    {{ include('my_key/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('my_key_list') }}">back to list</a>

    {{ include('my_key/_delete_form.html.twig') }}
{% endblock %}
