{% extends 'base_flash.html.twig' %}

{% block title %}{{instrument}} {{exercise}} - Select a Key that you want to master. {% endblock %}
{% block meta_description %}<meta name="description" content="Choose a key for {{instrument}} {{ exercise }} flashcards. Enhance learning with engaging flash cards for teachers and students.">{% endblock %}

{% block body %}
<section class="highlight-clean">
    <div class="container">
        {# <section class="highlight-clean">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">{{instrument}} {{exercise}} - Select a Key</h2>
                    <p class="text-center">Select a Key that you want to master.  </p>
                </div>
            </div>
        </section> #}
        <div id="crumbs">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                <a class="btn btn-primary btn-sm" href="{{ path('my_key_new') }}">Create new</a>
            {% endif %}
            <h1>{{instrument}} {{exercise}} - Select a Key</h1>
            <p class="text-center">Choose a key to begin your {{exercise}} practice</p>
            <a class="btn btn-sm mb-1 btn-info" style="display:inline!important" href="{{path('flash_card_start')}}">Instruments</a>
            <a class="btn btn-sm mb-1 btn-info" style="display:inline!important" href="{{path('exercise_index_updated', {'instrument': instrument.name})}}">Exercise</a>
            <a class="btn btn-sm mb-1 btn-info" style="display:inline!important" href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Key</a>
                
        </div>                
        <div class="container mt-3">
            <div class="row">
                {% if has_mixed == true %}
                    <div class="col-md-3">
                    <a class="btn mb-1 btn-primary" href="{{path('level_index_updated', {'instrument': instrument.name, 'exercise': exercise.type, 'key': mixed_array|first.name})}}">
                       <h2 style="font-size:1.2em;font-weight:500;margin-bottom:0!important;">Mixed Keys ({{ mixed_array|length }} Cards)</h2>
                    </a>
                    </div>
                {% endif %}
                {% for key in my_keys %}
                {% if key.name != "Mixed" %}
                <div class="col-md-3">
                <a class="btn btn-primary mb-3" href="{{path('level_index_updated', {'instrument': instrument.name, 'exercise': exercise.type, 'key': key.name})}}">
                    <h2 style="font-size:1.2em;font-weight:500;margin-bottom:0!important;">{{key.name}} {{key.mode.name}} ({{ exercise.flashCards|filter( flashCard => flashCard.mykey == key)|length }} Cards)</h2>
                </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
            
    </div>
</section>

{% endblock %}
