{% extends 'base_flash.html.twig' %}

{% block title %}My Key index{% endblock %}

{% block body %}
    <section class="highlight-clean">
        <div class="container">
            <section class="highlight-clean">
                <div class="container">
                    <div class="intro">
                        <p class="text-center"><a href="{{ path('my_key_new') }}">Create new</a></p>
                        <h2 class="text-center">List of My Keys </h2>
                        <p class="text-center">A list of all added my_keys. </p>
                    </div>
                </div>
            </section>
            <div class="container">
                <h1>My Key index</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Mode</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for my_key in my_keys %}
                        <tr>
                            <td>{{ my_key.id }}</td>
                            <td>{{ my_key.name }}</td>
                            <td>{{ my_key.mode }}</td>
                            <td>
                                <a href="{{ path('my_key_show', {'id': my_key.id}) }}">show</a>
                                <a href="{{ path('my_key_edit', {'id': my_key.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        
        </div>
    </section>

{% endblock %}

