{% extends 'base_flash.html.twig' %}

{% block title %}New MyKey{% endblock %}

{% block body %}
    <h1>Create new MyKey</h1>

    {{ include('my_key/_form.html.twig') }}

    <a href="{{ path('my_key_list') }}">back to list</a>
{% endblock %}
