{% extends 'base_flash.html.twig' %}

{% block title %}MyKey{% endblock %}

{% block body %}
    <h1>MyKey</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ my_key.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ my_key.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('my_key_list') }}">back to list</a>

    <a href="{{ path('my_key_edit', {'id': my_key.id}) }}">edit</a>

    {{ include('my_key/_delete_form.html.twig') }}
{% endblock %}
