<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>
{% set total_bal = 0 %}

<h1>Balances as at {{"now"|date('d/m/Y')}}</h1>

<table id="customers">
  <tr>
    <th>#</th>
    <th>Full Name</th>
    <th>Phone Number</th>
    <th>Teacher</th>
    <th>Last payment</th>
    <th>Date Paid</th>
    <th>Doc No</th>
    <th>Balance</th>
  </tr>
    {% for student in students|sort((a, b) => a.fullname <=> b.fullname)|filter( student => student.studentdata != null and student.payments|length > 0) %}
        {% set bal = 0 %}
        {% set user_instrument_grade = student.payments|last.uig %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{student.fullname|title}}</td>
            <td>{{student.studentdata.phone}}</td>
            <td>{{user_instrument_grade.sessions|first.teacher|title}}</td>
            {% set prev_bal = 0 %}
            {% for payment in student.payments %}
            {% set bal = payment.type == "inv" ? bal + payment.amount : bal - payment.amount %}
                    {% if loop.index == student.payments|length and payment.type == 'pmt' %}
                        {% set prev_bal = payment.amount %}
                        <td>{{prev_bal|number_format}}</td>
                        <td>{{payment.doneOn|date("d/m/Y")}}</td>
                        <td>{{payment.docNumber}}</td>
                    {% elseif loop.index == student.payments|length and payment.type == "inv" %}
                        <td>Invoiced</td>
                        <td>{{payment.docNumber}}</td>
                        <td>{{payment.doneOn|date("d/m/Y")}}</td>
                    {% endif %}
            {% else %}
                <td>N/A</td>
            {% endfor %}
            <td>{{bal|number_format}}</td>
            {% set total_bal = total_bal + bal %}
        </tr>
    {% endfor %}
    <tr>
        <th></th>
        <th>Total Balance</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>{{total_bal|number_format}}</th>
    </tr>
</table>

</body>
</html>


