<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Report</title>
    <style>

		@media (min-width: 1200px) {
			body {
			width: 21cm;
			height: 29.7cm;
			margin: 30mm 45mm 30mm 45mm;
			padding: 2mm;
			}
		}
		
		#logo {
			width: 10cm;
		}
		
		.top-left-cell {
			width: 6cm;
		}
			
		.bottom-left-cell {
			width: 19cm;
		}
		
		.top-cell {
			border-top: 1px solid #000000;
		}

		#title {
			margin-bottom: -1.27cm;
		}
		
		
		*/:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))}*,::after,::before{box-sizing:border-box}@media (prefers-reduced-motion:no-preference){:root{scroll-behavior:smooth}}body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}h1{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2}h1{font-size:calc(1.375rem + 1.5vw)}@media (min-width:1200px){h1{font-size:2.5rem}}p{margin-top:0;margin-bottom:1rem}img{vertical-align:middle}table{caption-side:bottom;border-collapse:collapse}th{text-align:inherit;text-align:-webkit-match-parent}tbody,td,th,thead,tr{border-color:inherit;border-style:solid;border-width:0}label{display:inline-block}button:focus:not(:focus-visible){outline:0}textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer}::-moz-focus-inner{padding:0;border-style:none}textarea{resize:vertical}::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-fields-wrapper,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-text,::-webkit-datetime-edit-year-field{padding:0}::-webkit-inner-spin-button{height:auto}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-color-swatch-wrapper{padding:0}::file-selector-button{font:inherit}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x)/ -2);margin-left:calc(var(--bs-gutter-x)/ -2)}.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x)/ 2);padding-left:calc(var(--bs-gutter-x)/ 2);margin-top:var(--bs-gutter-y)}.col{flex:1 0 0%}.table{--bs-table-bg:transparent;--bs-table-accent-bg:transparent;--bs-table-striped-color:#212529;--bs-table-striped-bg:rgba(0, 0, 0, 0.05);--bs-table-active-color:#212529;--bs-table-active-bg:rgba(0, 0, 0, 0.1);--bs-table-hover-color:#212529;--bs-table-hover-bg:rgba(0, 0, 0, 0.075);width:100%;margin-bottom:1rem;color:#212529;vertical-align:top;border-color:#dee2e6}.table>:not(caption)>*>*{padding:.5rem .5rem;background-color:var(--bs-table-bg);border-bottom-width:1px;box-shadow:inset 0 0 0 9999px var(--bs-table-accent-bg)}.table>tbody{vertical-align:inherit}.table>thead{vertical-align:bottom}.table>:not(:last-child)>:last-child>*{border-bottom-color:currentColor}.table-bordered>:not(caption)>*{border-width:1px 0}.table-bordered>:not(caption)>*>*{border-width:0 1px}.table-responsive{overflow-x:auto;-webkit-overflow-scrolling:touch}.form-label{margin-bottom:.5rem}.form-control{display:block;width:100%;padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}@media (prefers-reduced-motion:reduce){.form-control{transition:none}}.form-control[type=file]:not(:disabled):not([readonly]){cursor:pointer}.form-control:focus{color:#212529;background-color:#fff;border-color:#86b7fe;outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25)}.form-control::-webkit-date-and-time-value{height:1.5em}.form-control::-moz-placeholder{color:#6c757d;opacity:1}.form-control:disabled{background-color:#e9ecef;opacity:1}.form-control::file-selector-button{padding:.375rem .75rem;margin:-.375rem -.75rem;-webkit-margin-end:.75rem;margin-inline-end:.75rem;color:#212529;background-color:#e9ecef;pointer-events:none;border-color:inherit;border-style:solid;border-width:0;border-inline-end-width:1px;border-radius:0;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}@media (prefers-reduced-motion:reduce){.form-control::file-selector-button{transition:none}}.form-control:hover:not(:disabled):not([readonly])::file-selector-button{background-color:#dde0e3}.form-control::-webkit-file-upload-button{padding:.375rem .75rem;margin:-.375rem -.75rem;-webkit-margin-end:.75rem;margin-inline-end:.75rem;color:#212529;background-color:#e9ecef;pointer-events:none;border-color:inherit;border-style:solid;border-width:0;border-inline-end-width:1px;border-radius:0;-webkit-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}@media (prefers-reduced-motion:reduce){.form-control::-webkit-file-upload-button{-webkit-transition:none;transition:none}}.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button{background-color:#dde0e3}.form-control-sm::file-selector-button{padding:.25rem .5rem;margin:-.25rem -.5rem;-webkit-margin-end:.5rem;margin-inline-end:.5rem}.form-control-lg::file-selector-button{padding:.5rem 1rem;margin:-.5rem -1rem;-webkit-margin-end:1rem;margin-inline-end:1rem}textarea.form-control{min-height:calc(1.5em + .75rem + 2px)}.form-control-color:not(:disabled):not([readonly]){cursor:pointer}.form-floating>.form-control:not(:-moz-placeholder-shown){padding-top:1.625rem;padding-bottom:.625rem}.form-floating>.form-control:not(:-moz-placeholder-shown)~label{opacity:.65;transform:scale(.85) translateY(-.5rem) translateX(.15rem)}.visually-hidden-focusable:not(:focus):not(:focus-within){position:absolute!important;width:1px!important;height:1px!important;padding:0!important;margin:-1px!important;overflow:hidden!important;clip:rect(0,0,0,0)!important;white-space:nowrap!important;border:0!important}.text-end{text-align:right!important}

		table, th, td {
		border: 1px solid #777;
		border-collapse: collapse;
		} 
    </style>
</head>

<body>
    <header>
        <div class="row">
            <div class="col">
                <h1 id="title">Individual Music Report</h1>
            </div>
            <div class="col text-end">
				<img id="logo" src="{{app.request.getSchemeAndHttpHost()}}/adm/assets/images/cheza_logo.jpg" />
				{# <img id="logo" src="/var/www/cheza/public/icons/Cheza-Music-School-Logo-S.png" />				 #}
			</div>
        </div>
    </header>
    <section>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-end"> {{ currentTerm }} Year {{report is defined and report is not empty ? report.addedOn|date('Y') : 'YYYY' }}</th>
                    </tr>
                </thead>
                <tbody class="top-cell">
                    <tr class="top-cell">
                        <td class="top-left-cell">Name of Student</td>
                        <td class="top-right-cell">{{fullname}}</td>
                    </tr>
                    <tr>
                        <td class="top-left-cell">Instrument</td>
                        <td class="top-right-cell">{{report.uig|split("-")[1]}}</td>
                    </tr>
                    <tr>
                        <td class="top-left-cell">Lesson Duration</td>
                        <td class="top-right-cell">{{report.uig.sessions|first.package.name}}</td>
                    </tr>
                    <tr>
                        <td class="top-left-cell">Name of Tutor</td>
                        <td class="top-right-cell">{{report.uig.sessions|first.teacher.fullname}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="top-cell">
                        <td class="bottom-left-cell">Quality of Practice</td>
                        <td class="bottom-right-cell">{{report.practice}}</td>
                    </tr>
                    <tr>
                        <td class="bottom-left-cell">Rhythm</td>
                        <td class="bottom-right-cell">{{report.rhythm}}</td>
                    </tr>
                    <tr>
                        <td class="bottom-left-cell">Dexterity: Skill and ease in using the hands</td>
                        <td class="bottom-right-cell">{{report.dexterity}}</td>
                    </tr>
                    <tr>
                        <td class="bottom-left-cell">Tone: Quality and strength of sound</td>
                        <td class="bottom-right-cell">{{report.tone}}</td>
                    </tr>
                    <tr>
                        <td class="bottom-left-cell">Intonation: Tuning</td>
                        <td class="bottom-right-cell">{{report.intonation}}</td>
                    </tr>
                    <tr>
                        <td class="bottom-left-cell">Music Literacy: Theory and Sight-reading skills</td>
                        <td class="bottom-right-cell">{{report.literacy}}</td>
                    </tr>
                    <tr>
                        <td class="bottom-left-cell">Scales, arpeggios, exercises</td>
                        <td class="bottom-right-cell">{{report.exercises}}</td>
                    </tr>
                    <tr>
                        <td class="bottom-left-cell">Musicianship: Aural Skills, Rhythm, Articulation and Phrasing</td>
                        <td class="bottom-right-cell">{{report.musicianship}}</td>
                    </tr>
                    <tr>
                        <td class="bottom-left-cell">Performance Directions</td>
                        <td class="bottom-right-cell">{{report.perfdirections}}</td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
        </div>
        <form><label class="form-label">Comments</label><textarea class="form-control" rows="7">{{report.comments}}</textarea>
            <p>Key: A- Excellent&nbsp; B- Good&nbsp; C- Satisfactory&nbsp; D-Needs Improvement&nbsp; NA-Not Applicable</p>
        </form>
    </section>
    <p>Thank you for choosing Cheza Music School for your homeschool lessons. Recording progress and reporting are some of the areas we work on to ensure that you can track your progress. We hope you will work on the weak areas, take the teacher's suggestions seriously and work harder. Thank you for your business.<p>
    <p>Director:</p>
</body>

</html>