<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Invoice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        /* Housekeeping */
        html{
            font:0.75em/1.5 sans-serif;
            color:#333;
            background-color:#fff;
            padding:1em;
        }

        /* Tables */
        table{
            width:80%;
            margin-bottom:1em;
            border-collapse: collapse;
            margin:auto;
        }
        th{
            font-weight:bold;
            background-color:#ddd;
        }
        .bold{
            font-weight:bold;
            background-color:#ddd;
        }
        th,
        td{
            padding:0.5em;
            border:1px solid #ccc;
        }
        .name {
            width:40%;
        }

    </style>
</head>
<body>
    <table>
        
        <thead>
            <tr>
                <th class="name" colspan="7">Cheza Music School</th>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td>NAME</th>
                <td class="name" colspan="6">{{teacher.fullname|upper}} - {{teacher.teacherdata.phone | format_phone }}</th>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <th></th>
                <th class="name">NAME OF STUDENT</th>
                <th>Sessions</th>
                <th>Percentage</th>
                <th>Student Invoice</th>
                <th>Income</th>
            </tr>
        </thead>
        <tbody>
        
        {% for index, data in invoiceData %}
            {% set totalPrice = data.noOfSessions * data.sessions[0].pricePerSession %}
            {% set totalCommission = data.noOfSessions * data.sessions[0].sessionCommission %}
            <tr>
                <td>{{ index + 1 }}</td>
                <td>{{ data.studentName }}</td>
                <td>{{ data.noOfSessions }}</td>
                <td>{{ (data.sessions[0].uigPercentage * 100) }}% (cap 1,500)</td>
                <td>{{ totalPrice }}</td>
                <td>{{ totalCommission }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td class="bold" colspan="5">GROSS PAY (70%)</td>
                <td class="bold">{{inv}}</td>
            </tr>
            <tr>
                <td colspan="6"></td>
            </tr>
            <tr>
                <td colspan="5">LESS WITHHOLDING TAX</td>
                <td>{% if inv > 24000 %}{% set tax = 0.05 * inv %}{% else %}{% set tax = 0 %}{% endif %}{{tax}}</td>
            </tr>
            <tr>
                <td colspan="6"></td>
            </tr>
            <tr>
                <td class="bold" colspan="6">DEDUCTIONS</td>{# make table #}
            </tr>
            <tr>
                <td class="bold"></td>
                <td class="bold" colspan="3">Details</td>
                <td class="bold">Date added</td>
                <td class="bold">Amount</td>
            </tr>
            {% for deduction in teacher.teacherdata.deductions %}
            <tr>
                <td>{{loop.index}}</td>
                <td colspan="3">{{deduction.description}}</td>
                <td>{{deduction.addedOn|date('Y-m-d')}}</td>
                <td>{{deduction.toDeduct}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"></td>
                <td>TOTAL</td>
                <td></td>
                <td>{{ded}}</td>
            </tr>
            <tr>
                <td class="bold" colspan="5">NET PAY</td>
                <td class="bold">{{inv - (tax + ded)}}</td>
            </tr>
            <tr>
                <td></td>
                <td class="name">Prepared by: _________________________________</td>
                <td></td>
                <td colspan="3">Signature: ____________________________</td>
            </tr>
            <tr>
                <td></td>
                <td class="name">Authorised by: _________________________________</td>
                <td></td>
                <td colspan="3">Signature: ____________________________</td>
            </tr>
            <tr>
                <td colspan="6">Please note that 70% commissions are capped at 1,500.</td>
            </tr>
            
        </tbody>
    </table>
</body>
</html>


