<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Quiz Results | {{global_vars('configData') ? global_vars('configData').companyName}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Josiah Birai"> <!--insert your name here-->
    <meta name="keywords" content="{{global_vars('configData') ? global_vars('configData').siteMetaKeywords}}">
    <meta name="description" content="{{global_vars('configData') ? global_vars('configData').siteDescription}}">    
	<body>
		<div class="quiz-top-area text-center">
			<h1>
                {% if percentage <= 20 %}
                You need to revise, {{fullname}}!
                {% elseif percentage > 20 and percentage <= 40 %}
                Good attempt, {{fullname}}!
                {% elseif percentage > 40 and percentage <= 60 %}
                Well done, {{fullname}}!
                {% elseif percentage > 60 and percentage <= 80 %}
                Very good, {{fullname}}!
                {% elseif percentage > 80 and percentage <=100 %}
                Excellent job, {{fullname}}!
                {% endif %}
            </h1>
		</div>
		<div class="wrapper position-relative">
            <h2>You Scored {{percentage}}%</h2>
            <table>
                {% for quiz in quizzes %}
                {% set answer = choices[quiz.id] %}
                <tr>
                    <td>
                    {% if quiz.content|length > 0 %}
                        {{quiz.content|raw}}
                    {% endif %}
                    {% if quiz.image|length > 0 %}
                        <img style="max-width:50px;" src="{{app.request.getSchemeAndHttpHost()}}/quizfiles/images/{{quiz.image }}">
                    {% endif %}                                                
                    </td>
                    <td style="position:relative;">
                    {% if answer.content|length > 0 %}
                        <section style="padding-right:55px;padding-bottom:5px;">{{answer.content|raw}}</section>
                    {% endif %}
                    {% if answer.image|length > 0 %}
                        <section style="padding-right:55px;padding-bottom:5px;"><img style="max-width:50px;" src="{{app.request.getSchemeAndHttpHost()}}/quizfiles/images/{{answer.image}}"></section>
                    {% endif %}
                    {% if answer.isCorrect %}
                        <img style="max-width:50px;position:absolute;right:0px;top:10px;" src="{{app.request.getSchemeAndHttpHost()}}/quizfiles/assets/img/check.jpg">
                    {% else %}
                        <img style="max-width:50px;position:absolute;right:0px;top:10px;" src="{{app.request.getSchemeAndHttpHost()}}/quizfiles/assets/img/cross.png">
                    {% endif %}
                    </td>
                </tr>
                {% if answer.isCorrect == false %}
                <tr style="background-color:green;">
                    <td>
                        <p style="color:white;">Correct answer:</p>
                    </td>
                    <td>
                    {% if correctAnswer[quiz.id].content|length > 0 %}
                        <section style="padding-right:55px;padding-bottom:5px;color:white;">{{correctAnswer[quiz.id].content|striptags}}</p></section>
                    {% endif %}
                    {% if correctAnswer[quiz.id].image|length > 0 %}
                        <section style="padding-right:55px;padding-bottom:5px;"><img style="max-width:50px;" src="{{app.request.getSchemeAndHttpHost()}}/quizfiles/images/{{correctAnswer[quiz.id].image}}"></section>
                    {% endif %}
                    </td>
                </tr>
                {% endif %}
                    
                {% endfor %}
            </table>                                        
		</div>

	</body>
	</html>
