<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Invoice</title>
    <style>

      
        @media (min-width: 1200px) {
        body {
            width: 21cm;
            height: 29.7cm;
            margin: 30mm 45mm 30mm 45mm;
            padding: 2mm;
            font-family: sans-serif;
			font-size:10px!important;
        }
        }

		body{
			font-size:14px!important;
		}
        .container{
            background-color:#fff;
            padding-top:10px;
            padding-bottom: 10px;
        }

        #logo {
        width: 8cm;
        }

        #logo2 {
        width: 4cm;
        }

        .title {
        background-color: #777!important;
        color: white;
        font-weight: bold;
        padding: 5px 10px;
        }

		.table {
			width:100%
		}

        .pd-l {
        padding-left: 10px;
        }

        .hour {
        width: 50%;
        }

        .desc {
        width: 16.66%;
        }

        .rate {
        width: 16.66%;
        }

        .amt {
        width: 16.66%;
        }

        td {
        height: 40px!important;
		padding-left: 5px;
        }

        table, th, td {
        border: 1px solid #1d1d1d;
        border-collapse: collapse;
        }

        #last-row {
        border-bottom: 1px solid #1d1d1d;
        }

		.text-center{
			text-align: center;
		}

        .hour.no-b {
        border: none;
        }

        .rate.underlined {
        border: 1px solid #1d1d1d;
        }

        .amt.underlined {
        border: 1px solid #1d1d1d;
        }

        .desc.underlined {
        border: none;
        border-bottom: 1px solid #1d1d1d;
        }

        #finaltext {
        margin-top: 30px;
        }

		.top {
			height: 5cm;
		}

		.mid {
			height: 7cm;
		}

		.container {
			clear: both;
			float: none;
		}

		.col-md-6 {
			float: left;
			width: 50%;
		}
		.col-md-12 {
			width:100%;
		}
		
    </style>
</head>

<body>
	<div class="container">
		<div class="row top">
			<div class="col-md-6 top">
				<img id="logo2" src="{{app.request.getSchemeAndHttpHost()}}/img/chezanewlogowhite.jpg">
			</div>
			<div class="col-md-6 top">
			{# <img id="logo" src="{{app.request.getSchemeAndHttpHost()}}/img/Cheza-Music-School-Logo-S.png"> #}
				<p class="title">DETAILS</p>
				<p class="pd-l">DATE: {{"now"|date('d/m/Y')}} </p>
				<p class="pd-l">STUDENT: {{student.fullname}}</p>
				<p class="pd-l">AMOUNT DUE: {{currentBalance|number_format(2, '.', ',')}}</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row mid">
			<div class="col-md-6 mid">
				<p class="title">FROM</p>
				<p class="pd-l">COMPANY: MUSKE MUSICIANS PORTAL LIMITED</p>
				<p class="pd-l">TRADING NAME: CHEZA MUSIC SCHOOL</p>
				<p class="pd-l">CITY: NAIROBI</p>
				<p class="pd-l">PHONE: +254 711 832 933</p>
				<p class="pd-l">EMAIL: info@chezamusicschool.co.ke&nbsp; info@muske.co.ke</p>
			</div>
			<div class="col-md-6 mid">
				<p class="title">STATEMENT TO</p>
				<p class="pd-l">NAME: {{student.fullname}} </p>
                <p class="pd-l">INSTRUMENTS: {{instruments|join(', ')}}</p>
				<p class="pd-l">PHONE: {{student.studentdata.phone}}</p>
				<p class="pd-l">EMAIL: {{student.email}}</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div style="border-width: 1px;border-color: #1d1d1e;border-top-style: solid;">

					<table class="table table-bordered" width="100">
						<thead>
							<tr>
								<th class="desc">DATE</th>
								<th class="hour">TRANSACTION</th>
								<th class="rate"><strong>AMOUNT</strong></th>
								<th class="amt">BALANCE</th>
							</tr>
						</thead>
						<tbody>

							<tr>
								<td class="desc">{{lastDayOfPreviousTerm|date('d/m/Y')}}</td>
								<td class="hour">Balance C/F</td>
								<td class="rate"></td>
								<td class="amt">{{balanceCF|number_format(2, '.', ',')}}</td>
							</tr>
						{% set bal = balanceCF %}
						{% for payment in payments %}
						{% if payment.amount >= 1 %}
						{% set bal = payment.type == "inv" ? bal + payment.amount : bal - payment.amount %}

							<tr>
								<td class="desc">{{payment.doneOn|date('d/m/Y')}}</td>
								<td class="hour">{{payment.type|upper}} Doc No. {{payment.docNumber}} For {{payment.uig.instrument}}</td>
								<td class="rate">{{payment.amount|number_format(2, '.', ',')}}</td>
								<td class="amt">{{bal|number_format(2, '.', ',')}}</td>
							</tr>
						{% endif %}

						{% endfor %}

							<tr>
								<td class="desc"></td>
								<td class="hour"></td>
								<td class="rate"></td>
								<td class="amt"></td>
							</tr>
							<tr id="last-row">
								<td class="desc"></td>
								<td class="hour"></td>
								<td class="rate"></td>
								<td class="amt"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
		
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="text-center">Payments can be made through:</p>
				<p class="text-center">
					{% if student.shortUrls|length > 0 %} <a href="https://chez.co.ke/{{student.shortUrls|first.short}}">https://chez.co.ke/{{student.shortUrls|first.short}}</a> or {% endif %}
					MPESA Till No 9810765 (Buy Goods & Services)
				</p>
				<p class="text-center">STANBIC BANK - 0100009266474 MUSKE MUSICIANS PORTAL LIMITED, CHIROMO BRANCH</p>
				<p class="text-center">EQUITY BANK - 1340282436667 MUSKE MUSICIANS PORTAL LIMITED, RIDGEWAYS BRANCH</p>
				<p class="text-center" id="finaltext">THANK YOU FOR YOUR BUSINESS</p>
			</div>
		</div>
	</div>

</body>

</html>