<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Receipt</title>
    <style>

      
        @media (min-width: 1200px) {
        body {
            width: 21cm;
            height: 29.7cm;
            margin: 30mm 45mm 30mm 45mm;
            padding: 2mm;
            font-family: sans-serif;
        }
        }

		body{
			font-size:14px!important;
		}

        #logo {
        width: 8cm;
        }

        #logo2 {
        width: 4cm;
        }

        .title {
        background-color: #777!important;
        color: white;
        font-weight: bold;
        padding: 5px 10px;
        }

        .pd-l {
        padding-left: 10px;
        }

        .desc {
        width: 50%;
        }

        .hour {
        width: 16.66%;
        }

        .rate {
        width: 16.66%;
        }

        .amt {
        width: 16.66%;
        }

        td {
        height: 40px!important;
		padding-left: 5px;
        }

        table, th, td {
        border: 1px solid #1d1d1d;
        border-collapse: collapse;
        }

        #last-row {
        border-bottom: 1px solid #1d1d1d;
        }

        .hour.no-b {
        border: none;
        }

        .rate.underlined {
        border: 1px solid #1d1d1d;
        }

        .amt.underlined {
        border: 1px solid #1d1d1d;
        }

        .desc.underlined {
        border: none;
        border-bottom: 1px solid #1d1d1d;
        }

        #finaltext {
        margin-top: 30px;
        }

		.top {
			height: 5cm;
		}

		.mid {
			height: 7cm;
		}

		.container {
			clear: both;
			float: none;
		}

		.col-md-6 {
			float: left;
			width: 50%;
		}

		.table {
			width:100%
		}

    </style>
</head>

<body>
	<div class="container">
		<div class="row top">
			<div class="col-md-6 top">
				<img id="logo2" src="{{app.request.getSchemeAndHttpHost()}}/img/chezanewlogowhite.jpg">
			</div>
			<div class="col-md-6 top">
			{# <img id="logo" src="{{app.request.getSchemeAndHttpHost()}}/img/Cheza-Music-School-Logo-S.png"> #}
				<p class="title">DETAILS</p>
				<p class="pd-l">DATE: {{payment.doneOn|date('d/m/Y')}} | DUE DATE: {{payment.uig.sessions|first.endAt|date('d/m/Y')}}</p>
				<p class="pd-l">RECEIPT NO.: {{payment.docNumber}}</p>
				<p class="pd-l">STUDENT: {{payment.uig}}</p>

			</div>
		</div>
	</div>
	<div class="container">
		<div class="row mid">
			<div class="col-md-6 mid">
				<p class="title">FROM</p>
				<p class="pd-l">COMPANY: MUSKE MUSICIANS PORTAL LIMITED</p>
				<p class="pd-l">TRADING NAME: CHEZA MUSIC SCHOOL</p>
				<p class="pd-l">CITY: NAIROBI</p>
				<p class="pd-l">PHONE: +254 711 832 933</p>
				<p class="pd-l">EMAIL: info@chezamusicschool.co.ke&nbsp; info@muske.co.ke</p>
			</div>
			<div class="col-md-6 mid">
				<p class="title">BILL TO</p>
				<p class="pd-l">COMPANY/NAME: {{payment.user.fullname}} </p>
				<p class="pd-l">INSTRUMENT: {{payment.uig.instrument}} {{payment.uig.grade}}</p>
				<p class="pd-l">PHONE: {{payment.user.studentdata.phone}}</p>
				<p class="pd-l">EMAIL: {{payment.user.email}}</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div style="border-width: 1px;border-color: #1d1d1e;border-top-style: solid;">
					{% set rate = payment.uig.sessions|first.package.price / payment.uig.sessions|first.package.noOfSessions %}
                    {% set noOfSess = payment.amount / rate %}

					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="desc">DESCRIPTION</th>
								<th class="hour">SESSIONS</th>
								<th class="rate"><strong>RATE</strong></th>
								<th class="amt">AMOUNT</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="desc">{{ payment.uig }} sessions with {{payment.uig.sessions|first.teacher}}</td>
								<td class="hour">{{noOfSess|round(1, 'floor')}}</td>
								<td class="rate">{{(rate)|number_format(2, '.', ',')}}</td>
								<td class="amt">{{(rate * noOfSess)|number_format(2, '.', ',')}}</td>
							</tr>
							<tr>
								<td class="desc">
									{% if unpaid_sessions|length > 0 %}
									<table class="table" style="border-collapse: collapse; width: 100%; border: 1px solid #ddd;">
										<thead>
											<tr>
												<th style="border: 1px solid #ddd; padding: 2px; height:auto!important; background-color: #f9f9f9;">{{ unpaid_lessons }} lessons behind payment</th>
												<th style="border: 1px solid #ddd; padding: 2px; height:auto!important; background-color: #f9f9f9;">Cost</th>
											</tr>
										</thead>
										<tbody>
											{% for lesson in unpaid_sessions %}
												<tr>
													<td style="border: 1px solid #ddd; padding: 2px; height:auto!important;">{{ lesson['date']|date('d-m-Y') }}</td>
													<td style="border: 1px solid #ddd; padding: 2px; height:auto!important;">{{ lesson['remaining_amount'] }}</td>
												</tr>
											{% endfor %}
											<tr>
												<th style="border: 1px solid #ddd; padding: 2px; height:auto!important; background-color: #f9f9f9;">Total</th>
												<th style="border: 1px solid #ddd; padding: 2px; height:auto!important;">{{ total_amount }}</th>
											</tr>
											<tr>
												<th colspan="2" style="border: 1px solid #ddd; padding: 2px; height:auto!important; background-color: #f9f9f9;">We encourage prepaying for your convenience</th>
											</tr>
										</tbody>
									</table>
									{% endif %}
								</td>
								<td class="hour"></td>
								<td class="rate"></td>
								<td class="amt"></td>
							</tr>
							<tr>
								<td class="desc underlined">NOTES:</td>
								<td class="hour no-b"></td>
								<td class="rate underlined title">SUB TOTAL</td>
								<td class="amt underlined">{{(payment.amount)|number_format(2, '.', ',')}}</td>
							</tr>
							<tr>
								<td class="desc underlined"></td>
								<td class="hour no-b"></td>
								<td class="rate underlined title">BALANCE</td>
								<td class="amt underlined">{{payment.balance|number_format(2, '.', ',')}}</td>
							</tr>
							<tr>
								<td class="desc underlined"></td>
								<td class="hour no-b"></td>
								<td class="rate underlined title">TOTAL</td>
								<td class="amt underlined">{{(payment.amount)|number_format(2, '.', ',')}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="text-center" id="finaltext">Thank you for your business! It was a pleasure working with you and providing you with music lessons.{% if unpaid_sessions|length > 0 %}<br/>NOTE: Make-up lessons appear here in their original dates.{% else %}
				<a href="https://chez.co.ke/review">Please leave us a review on Google</a>{% endif %}</p>
			</div>
		</div>
	</div>
</body>

</html>