<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Lesson Plan</title>
    <style>

        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
        }

        h1, h2 {
            font-weight: bold;
        }

        .container-fluid {
            margin-top: 10px;
            margin-right:10px;
        }

        .row {
            margin-bottom: 10px;
            clear: both;
        }

        .col-md-4 {
            /*border: 1px solid #ccc;*/
            margin-bottom: 5px!important;
        }

        .col-md-4 h2 {
            font-size: 18px;
        }

        .col-md-6 h2 {
            font-size: 18px;
        }

        .col-md-4 p {
            margin-bottom: 5px;
        }

        .col-md-12 {
            /*border: 1px solid #ccc;*/
            padding: 10px;
        }

        .col-md-6 {
            /*border: 1px solid #ccc;*/
            width: 49%;
            float: left;
        }

        .col-md-12 h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .col-md-12 p {
            margin-bottom: 5px;
        }

        .container {
        width: 100%;
        }

        .left, .right {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        box-sizing: border-box;
        padding-right: 10px;
        }
        .right {
        padding-right: 0;
        }

        .logo {
            width:100%;
        }

        .text-right{
            text-align: right;
        }

        .height-200 {
            height:200px;
        }

        h1,h2{
            text-decoration: underline;
        }

        h4 {
            text-transform: uppercase;
            font-size: 1.1em;

        }

    </style>
</head>
<body>
	<div class="container-fluid">

        <div class="row" id="bottom_row">
            <div class="col-md-6 left" style="border:none;">
                <img class="img-fluid logo" src="{{app.request.getSchemeAndHttpHost()}}/education/img/logos/chezanewlogowhitetransparent.png"> 
            </div>
            <div class="col-md-6 right text-right" style="border:none;">
                <h4>Tr. {{session.teacher}}</h4>
            </div>
        </div>

		<div class="row">
			<div class="col-md-6 left" style=";">
				<h4 class="text-center">Student: {{session.userInstrumentGrade}}</h4>
			</div>
			<div class="col-md-6 right text-right" style=";">
				<h4 class="text-center">{{session.beginAt|date('jS M Y \\a\\t h:ia')}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2>TECHNICAL / NEW STUFF</h2>
				<p>{{lesson_plan.work|nl2br}}</p>
			</div>
			<div class="col-md-4">
				<h2>ACTIVITIES</h2>
                {% if lesson_plan.activities|replace({'<br />': ''}) == lesson_plan.activities %}
                    {{ lesson_plan.activities|raw|nl2br }}
                {% else %}
                    {{ lesson_plan.activities|raw }}
                {% endif %}                
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 left height-200">
				<h2>ASSESSMENT</h2>
				{{lesson_plan.assessment|nl2br}}
			</div>
			<div class="col-md-6 right height-200">
				<h2>PRIORITIES FOR NEXT LESSON</h2>
				{{lesson_plan.nextlesson|nl2br}}
			</div>
		</div>
		{# <div class="row">
			<div class="col-md-12">
				<h2>Assignment</h2>
				<p>___________________________</p>
				<p>___________________________</p>
				<p>___________________________</p>
			</div>
		</div> #}
	</div>
</body>
</html>
