<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Invoice</title>
    <style>

        @media (min-width: 1200px) {
        body {
            width: 21cm;
            height: 29.7cm;
            margin: 30mm 45mm 30mm 45mm;
            padding: 2mm;
            font-family: sans-serif;
        }
        }

		body{
			font-size:14px!important;
		}

        .keep-together {
            page-break-inside: avoid;
        }
        
        .break-before {
            page-break-before: always;
        }
        
        .break-after {
            page-break-after: always;
        }   
        
        #logo {
        width: 8cm;
        }

        #logo2 {
        width: 4cm;
        }

        .title {
        background-color: #777!important;
        color: white;
        font-weight: bold;
        padding: 5px 10px;
        }

        .pd-l {
        padding-left: 10px;
        }

        .desc {
        width: 50%;
        }

        .hour {
        width: 16.66%;
        }

        .rate {
        width: 16.66%;
        }

        .amt {
        width: 16.66%;
        }

        td {
        height: 40px!important;
		padding-left: 5px;
        }

        table, th, td {
        border: 1px solid #1d1d1d;
        border-collapse: collapse;
        }

        #last-row {
        border-bottom: 1px solid #1d1d1d;
        }

        .hour.no-b {
        border: none;
        }

        .rate.underlined {
        border: 1px solid #1d1d1d;
        }

        .amt.underlined {
        border: 1px solid #1d1d1d;
        }

        .desc.underlined {
        border: none;
        border-bottom: 1px solid #1d1d1d;
        }

        #finaltext {
        margin-top: 30px;
        }

		.top {
			height: 5cm;
		}

		.mid {
			height: 7cm;
		}

		.container {
			clear: both;
			float: none;
		}

		.col-md-6 {
			float: left;
			width: 50%;
		}


    </style>
</head>

<body>
	<div class="container">
		<div class="row top">
			<div class="col-md-6 top">
				<img id="logo2" src="{{app.request.getSchemeAndHttpHost()}}/img/chezanewlogowhite.jpg">
			</div>
			<div class="col-md-6 top">
			{# <img id="logo" src="{{app.request.getSchemeAndHttpHost()}}/img/Cheza-Music-School-Logo-S.png"> #}
				<p class="title">DETAILS</p>
				<p class="pd-l">DATE: {{"now"|date('d/m/Y')}} | DUE DATE: {{"now"|date_modify("+1 week")|date('d/m/Y')}}</p>
				<p class="pd-l">INVOICE NO.: {{"now"|date('Ymd')}}{{student.id}}</p>

			</div>
		</div>
	</div>
	<div class="container">
		<div class="row mid">
			<div class="col-md-6 mid">
				<p class="title">FROM</p>
				<p class="pd-l">COMPANY: MUSKE MUSICIANS PORTAL LIMITED</p>
				<p class="pd-l">TRADING NAME: CHEZA MUSIC SCHOOL</p>
				<p class="pd-l">CITY: NAIROBI</p>
				<p class="pd-l">PHONE: +254 711 832 933</p>
				<p class="pd-l">EMAIL: info@chezamusicschool.co.ke&nbsp; info@muske.co.ke</p>
			</div>
			<div class="col-md-6 mid">
				<p class="title">BILL TO</p>
				<p class="pd-l">COMPANY/NAME: {{student}} </p>
				<p class="pd-l">INSTRUMENT(S): {{instruments|join(', ', ' and ') }}</p>
				<p class="pd-l">PHONE: {{student.studentdata.phone}}</p>
				<p class="pd-l">EMAIL: {{student.email}}</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div style="border-width: 1px;border-color: #1d1d1e;border-top-style: solid;">
                    {% for uigsWithBalance in uigsWithBalanceChunked %}
					<table class="table table-bordered {% if loop.index > 1 %} break-before {% endif %}" style="width:100%">
						<thead>
							<tr>
								<th class="desc">DESCRIPTION</th>
								<th class="hour">SESSIONS</th>
								<th class="rate"><strong>RATE</strong></th>
								<th class="amt">BALANCE</th>
							</tr>
						</thead>
						<tbody>
						{% for uig in uigsWithBalance %}
							{% set amount = uig|split('|')[0] %}
							{% set student_name = uig|split('|')[1] %}
							{% set teacher = uig|split('|')[2] %}
							{% set noOfSess = uig|split('|')[3] %}
							{% set rate = uig|split('|')[4] %}

							<tr>
								<td class="desc"><strong>{{student_name}}</strong> sessions with {{teacher}}</td>
								<td class="hour">{{noOfSess}}</td>
								<td class="rate">{{rate|number_format(2, '.', ',')}}</td>
								<td class="amt">{{amount|number_format(2, '.', ',')}}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					{% endfor %}
					<table class="table table-bordered" style="width:100%">
						<tbody>
    						{% for uig in uigsWithNegativeBalance %}
    							{% set amount = uig|split('|')[0] %}
    							{% set student_name = uig|split('|')[1] %}
    							{% set teacher = uig|split('|')[2] %}
    							{% set noOfSess = uig|split('|')[3] %}
    							{% set rate = uig|split('|')[4] %}
    
    							<tr>
    								<td class="desc"><strong>Overpayment</td>
    								<td class="hour">_</td>
    								<td class="rate">_</td>
    								<td class="amt">{{amount|number_format(2, '.', ',')}}</td>
    							</tr>
    						{% endfor %}
						    
							<tr id="last-row">
								<td class="desc"></td>
								<td class="hour"></td>
								<td class="rate"></td>
								<td class="amt"></td>
							</tr>
							<tr>
								<td class="desc underlined">Thank you for your business! It was a pleasure working with you and providing you with music lessons. We hope you are satisfied with the quality of our work and we look forward to working with you again in the future.</td>
								<td class="hour no-b"></td>
								<td class="rate underlined title">SUB TOTAL</td>
								<td class="amt underlined">{{balance|number_format(2, '.', ',')}}</td>
							</tr>
							<tr>
								<td class="desc underlined">Thank you again for choosing us for your musical needs. We truly appreciate your business.</td>
								<td class="hour no-b"></td>
								<td class="rate underlined title">TAX</td>
								<td class="amt underlined">0</td>
							</tr>
							<tr>
								<td class="desc underlined"></td>
								<td class="hour no-b"></td>
								<td class="rate underlined title">TOTAL</td>
								<td class="amt underlined">{{balance|number_format(2, '.', ',')}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="text-center">Payments can be made through:</p>
				<p class="text-center">
					{% if student.shortUrls|length > 0 %} <a href="https://chez.co.ke/{{student.shortUrls|first.short}}">https://chez.co.ke/{{student.shortUrls|first.short}}</a> or {% endif %}
					MPESA Till No 9810765 (Buy Goods & Services)
				</p>
				<p class="text-center">STANBIC BANK - 0100009266474 MUSKE MUSICIANS PORTAL LIMITED, CHIROMO BRANCH</p>
                <p class="text-center">EQUITY BANK - 1340282436667 MUSKE MUSICIANS PORTAL LIMITED, RIDGEWAYS BRANCH</p>
				<p class="text-center" id="finaltext">THANK YOU FOR YOUR BUSINESS</p>
			</div>
		</div>
	</div>
</body>

</html>