/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* The actual CSS start from here */

body, html {
	background: #000 url(../images/assets/dark_wood.png) repeat;
	line-height: 20px;
	font-size: 14px;
	color: #FFF;
	font-family: 'Arial', sans-serif;
	font-weight: normal;
}

#header{
	position: absolute;
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;	
	top: 16px;
	left: 16px;
}
#header h1{
	font-size: 20px;
	text-shadow: 0 0 1px rgba(53,53,53,0.3);		
}
#header h1 span.hilight{
	color: #87CEFF;
}

#transition{
	position: absolute;
	background: url(../images/assets/selection.png) no-repeat;
	width: 360px;
	height: 120px;
	bottom: 6px;
	left: 12px;
}
#transition div#selections{
	display: none;
	position: absolute;
	bottom: 20px;
	left: 12px;
	background: #333;
	padding: 18px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
}
#transition div#toggleImg{
	margin-top: 96px;
	background: url(../images/assets/toggle.png) no-repeat;	
	width: 24px;
	height: 24px;
	cursor: pointer;
}
#transition p{
	font-size: 12px;
}
#transition select{
	font-size: 12px;
	margin-bottom: 12px;
}


#gallery{
	margin: 0 auto;
	text-align: center;
	width: 960px;
}


.thumbContainer{
	position: absolute;
	width: 650px;
	margin-left: 155px;
	bottom: 0px;
	z-index: 1002;
}

.largeContainer{
	width: 960px;
	min-height: 600px;
	background: url(../images/assets/loading.gif) center center no-repeat;	
}
.largeContainer img{
	/*
    max-height: 100%;
    position: relative;
    opacity: 0;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	*/
	position: relative;
	z-index: 1000;
	
}

.largeContainer span.caption{
	font: "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;
	font-size: 14px;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);	
	display: block;
	position: relative;
	margin: 0 auto;
	width: auto;
	padding: 12px;
	color: #FFF;
	opacity: 1;
}
.largeContainer span.caption a, .largeContainer span.caption a:visited{
	color: #FF4242;
}
.largeContainer span.caption a:hover{
	color: #B22222;
}
.closeButton {
	background: url(../images/assets/close.png) no-repeat;
	width: 25px;
	height: 25px;
	position: absolute;
	z-index: 1001;
}


#arrowButton{    
    cursor: pointer;   
	position: fixed;  
	width: 100%;
	z-index: 1003;
}            
#arrowButton .prevArrow{
    background: url(../images/assets/prev.png) no-repeat; 
    width: 40px;
    height: 80px;      
	position: absolute;
	left: 20px;
} 
#arrowButton .nextArrow{                 
    background: url(../images/assets/next.png) no-repeat;
    width: 40px;
    height: 80px;  
	position: absolute; 
	right: 20px;
}           




.holder {
    margin:0 10px 10px 0;
	clear: left;
}
.holder a {
    font-size:12px;
    cursor:pointer;
    margin:0 5px;
    color:#999;
    text-decoration: underline;
}
.holder a:hover {
    background-color:#222;
    color:#fff;
}
.holder a.jp-previous {
	color: #FFF;
    margin-right:15px;
    text-decoration: none;
}
.holder a.jp-next {
	color: #FFF;
    margin-left:15px;
    text-decoration: none;
}
.holder a.jp-current,a.jp-current:hover {
    color:#FF4242;
    font-weight:bold;
}
.holder a.jp-disabled,a.jp-disabled:hover {
    color:#bbb;
    text-decoration: none;
}
.holder a.jp-current,a.jp-current:hover,.holder a.jp-disabled,a.jp-disabled:hover {
    cursor:default;
    background:none;
}
.holder span {
    margin:0 5px;
}


ul#thumbnails { list-style: none; margin: 0px; padding:0px; margin-top: 10px; }
ul#thumbnails li { float: left; margin-right: 10px; margin-bottom: 24px; cursor:pointer; }
ul#thumbnails li img { width: 120px; height: 75px; vertical-align: top; }
ul#thumbnails li.selected { outline: 3px solid #FF4242; }

/*
div#btns{ position: relative; width: 600px; clear: left;}
.prev, .next { width: 29px; height: 29px; position: absolute; cursor: pointer; }
.prev { background-image: url('../img/back.gif'); left: -40px; }
.next { background-image: url('../img/next.gif'); right: -80px; }
*/

.jp-disabled{ display:none; }




.animate1{
   	-webkit-animation-duration: .6s;
	-webkit-animation-delay: .2s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: .6s;
	-moz-animation-delay: .2s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: .6s;
	-ms-animation-delay: .2s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: .6s;
	animation-delay: .2s;
	animation-timing-function: ease;
	animation-fill-mode: both;	          
} 


.animate2{
   	-webkit-animation-duration: .6s;
	-webkit-animation-delay: .4s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: .6s;
	-moz-animation-delay: .4s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: .6s;
	-ms-animation-delay: .4s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: .6s;
	animation-delay: .4s;
	animation-timing-function: ease;
	animation-fill-mode: both;	          
} 

.animate3{
   	-webkit-animation-duration: .6s;
	-webkit-animation-delay: .6s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: .6s;
	-moz-animation-delay: .6s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: .6s;
	-ms-animation-delay: .6s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: .6s;
	animation-delay: .6s;
	animation-timing-function: ease;
	animation-fill-mode: both;	          
}   