<form method="post" action="{{ path('reporting_delete', {'id': reporting.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reporting.id) }}">
    <button class="btn">Delete</button>
</form>
