{% if name is defined and name != null %}

    <div id="progressbarwizard">
        <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-3">
            <li class="nav-item" data-target-form="#basicInfo">
                <a href="#basic_info" data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                    <i class="mdi mdi-account me-1"></i>
                    <span class="d-none d-sm-inline">Basic Info</span> {# user, name, term, instrument, age #}
                </a>
            </li>
            <li class="nav-item" data-target-form="#learningGoals">
                <a href="#learning_goals" data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                    <i class="mdi mdi-book-open-variant me-1"></i>
                    <span class="d-none d-sm-inline">Learning Goals</span> {# learning level, learning goals, practice habits #}
                </a>
            </li>
            <li class="nav-item" data-target-form="#progressAssessment">
                <a href="#progress_assessment" data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                    <i class="mdi mdi-chart-line me-1"></i>
                    <span class="d-none d-sm-inline">Progress</span> {# progress assessment, strengths, weaknesses, performed? #}
                </a>
            </li>
            <li class="nav-item" data-target-form="#recommends">
                <a href="#recommendations" data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                    <i class="mdi mdi-bullhorn me-1"></i>
                    <span class="d-none d-sm-inline">Recommendations</span> {# recommendations #}
                </a>
            </li>
            <li class="nav-item" data-target-form="#thanks">
                <a href="#thank_you" data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                    <i class="mdi mdi-checkbox-marked-circle-outline me-1"></i>
                    <span class="d-none d-sm-inline">Finish</span>
                </a>
            </li>
        </ul>
    
        <div class="tab-content b-0 mb-0 pt-0">
    
            <div id="bar" class="progress mb-3" style="height: 7px;">
                <div class="bar progress-bar progress-bar-striped progress-bar-animated bg-success"></div>
            </div>
    
            <div class="tab-pane" id="basic_info">
                <form id="basicInfo">
                    <div class="row">
                        <div class="col-12">

                            <div class="alert alert-info" role="alert">
                                Here check / add the basic information of the pupil. The details will be shown in the report.
                            </div>
                            <div class="form-group mb-3">
                                <label class="col-md-12 col-form-label" for="name"> Name of the pupil</label>
                                <div class="col-md-12">
                                    <input type="text" id="name" required name="name" value="{{name}}" class="form-control" placeholder="Full name of the pupil">
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="col-md-12 col-form-label" for="age"> {{name}}'s age. (If unsure, write 'over 18' or 'under 18')</label>
                                <div class="col-md-12">
                                    <input type="text" id="age" required name="age" value="{{age}}" class="form-control" placeholder="Age of the pupil">
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="col-md-12 col-form-label" for="sex"> {{name}}'s gender. (male / female)</label>
                                <div class="col-md-12">
                                    <input type="text" id="sex" required name="sex" value="{{sex}}" class="form-control" placeholder="Gender of the pupil">
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="col-md-12 col-form-label" for="term"> Term</label>
                                <div class="col-md-12">
                                    <select class="form-control" required name="term" id="term">
                                        <option>Which Term?.</option>
                                        <option {% if reporting is defined and reporting != null and reporting.term == 'Term 1' %} selected {% endif %} value="Term 1">Term 1</option>
                                        <option {% if reporting is defined and reporting != null and reporting.term == 'Term 2' %} selected {% endif %} value="Term 2">Term 2</option>
                                        <option {% if reporting is defined and reporting != null and reporting.term == 'Term 3' %} selected {% endif %} value="Term 3">Term 3</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="col-md-12 col-form-label" for="instrument"> Instrument</label>
                                <div class="col-md-12">
                                    <input type="text" id="instrument" required name="instrument" value="{{instrument}}" class="form-control" placeholder="Which instrument?">
                                </div>
                            </div>
                            <input type="hidden" name="user_id" id="user_id" value="{{user_id}}" >
                            <input type="hidden" name="teacher_id" id="teacher_id" value="{{teacher_id}}" >
                            {% if reporting is defined and reporting != null %}
                            <input type="hidden" name="reporting_id" id="reporting_id" value="{{reporting.id}}" >
                            {% endif %}
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                    <ul class="list-inline mb-0 wizard">
                        <li class="previous list-inline-item">
                            <a href="javascript: void(0);" class="btn btn-secondary">Previous</a>
                        </li>
                        <li class="next list-inline-item float-right">
                            <a href="javascript: void(0);" id="save_new_stuff" class="btn btn-secondary">Next</a>
                        </li>
                    </ul>
                </form>
            </div>

            <div class="tab-pane" id="learning_goals">
                <form id="learningGoals">
            
                <div class="row">
                    <div class="col-12">

                        <div class="alert alert-info" role="alert">
                            Here we would like to know the {{name}}'s level and the goals you have for {{name}}.
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-md-12 col-form-label" for="pupil_level">What level is {{name}} at?</label>
                            <div class="col-md-12">
                                <select class="form-control" required name="pupil_level" id="pupil_level">
                                    <option>Choose a level: {{reporting.learningLevel}}</option>
                                    <option {% if reporting is defined and reporting.learningLevel != "" and reporting.learningLevel == 'beginner' %} selected {% endif %} value="beginner">Beginner</option>
                                    <option {% if reporting is defined and reporting.learningLevel != "" and reporting.learningLevel == 'grade 1' %} selected {% endif %} value="grade 1">Grade 1</option>
                                    <option {% if reporting is defined and reporting.learningLevel != "" and reporting.learningLevel == 'grade 2' %} selected {% endif %} value="grade 2">Grade 2</option>
                                    <option {% if reporting is defined and reporting.learningLevel != "" and reporting.learningLevel == 'grade 3' %} selected {% endif %} value="grade 3">Grade 3</option>
                                    <option {% if reporting is defined and reporting.learningLevel != "" and reporting.learningLevel == 'grade 4' %} selected {% endif %} value="grade 4">Grade 4</option>
                                    <option {% if reporting is defined and reporting.learningLevel != "" and reporting.learningLevel == 'grade 5' %} selected {% endif %} value="grade 5">Grade 5</option>
                                    <option {% if reporting is defined and reporting.learningLevel != "" and reporting.learningLevel == 'grade 6' %} selected {% endif %} value="grade 6">Grade 6</option>
                                    <option {% if reporting is defined and reporting.learningLevel != "" and reporting.learningLevel == 'grade 7' %} selected {% endif %} value="grade 7">Grade 7</option>
                                    <option {% if reporting is defined and reporting.learningLevel != "" and reporting.learningLevel == 'grade 8' %} selected {% endif %} value="grade 8">Grade 8</option>
                                    <option {% if reporting is defined and reporting.learningLevel != "" and reporting.learningLevel == 'advanced' %} selected {% endif %} value="advanced">Advanced</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-md-12 col-form-label" for="goals">What were your goals for {{name}} for this term?</label>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="5" required name="goals" id="goals" placeholder="Example: At the start of the learning period, {{name}}'s goals were to learn basic piano technique, read sheet music, and play simple songs with both hands.">{% if reporting is defined and reporting.learningGoals != null %}{{reporting.learningGoals}}{% endif %}</textarea>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-md-12 col-form-label" for="practice">Which of these best describes {{name}}'s practice habits</label>
                            <div class="col-md-12">
                                <select class="form-control" required name="practice" id="practice">
                                    <option>Choose one that best describes {{name}}'s practice habits.</option>
                                    <option {% if reporting is defined and reporting != null and reporting.practiceHabits == 5 %} selected {% endif %} value="5">Consistently exceeded required practice</option>
                                    <option {% if reporting is defined and reporting != null and reporting.practiceHabits == 4 %} selected {% endif %} value="4">Frequently exceeded required practice</option>
                                    <option {% if reporting is defined and reporting != null and reporting.practiceHabits == 3 %} selected {% endif %} value="3">Fully mets required practice</option>
                                    <option {% if reporting is defined and reporting != null and reporting.practiceHabits == 2 %} selected {% endif %} value="2">Partially met required practice</option>
                                    <option {% if reporting is defined and reporting != null and reporting.practiceHabits == 1 %} selected {% endif %} value="1">Didn't meet required practice</option>
                                </select>
                            </div>
                        </div>

                    </div> <!-- end col -->
                </div> <!-- end row -->
                <ul class="list-inline mb-0 wizard">
                    <li class="previous list-inline-item">
                        <a href="javascript: void(0);" class="btn btn-secondary">Previous</a>
                    </li>
                    <li class="next list-inline-item float-right">
                        <a href="javascript: void(0);" class="btn btn-secondary">Next</a>
                    </li>
                </ul>
                </form>
            </div>

            <div class="tab-pane" id="progress_assessment">
                <form id="progressAssessment">

                <div class="row">
                    <div class="col-12">

                        <div class="alert alert-info" role="alert">
                            let's now assess the student's progress. They'll be glad to know the manner of their progress.
                        </div>

                        <div class="form-group mb-3">
                            <label class="col-md-12 col-form-label" for="progress">In summary, but with clarity, please write the progress of the student.</label>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="5" required name="progress" id="progress" placeholder="Over the course of the learning period, {{name}} made significant progress toward her goals. She developed strong foundational piano technique, learned to read basic sheet music, and played several simple songs with both hands. She demonstrated steady progress in her weekly lessons, consistently practicing the exercises and songs assigned by the instructor.">{% if reporting is defined and reporting.progressAssessment != null %}{{reporting.progressAssessment}}{% endif %}</textarea>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-md-12 col-form-label" for="performed">Where/when did {{name}} get the opportunity to perform this term?</label>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="5" required name="performed" id="performed" placeholder="{{name}} also had the opportunity to perform in a school talent show and played a song for her family during a holiday gathering.">{% if reporting is defined and reporting.performed != null %}{{reporting.performed}}{% endif %}</textarea>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-md-12 col-form-label" for="strengths">What are {{name}}'s strengths?</label>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="5" required name="strengths" id="strengths" placeholder="{{name}}'s strengths include her commitment to regular practice, her ability to focus on specific exercises and songs, and her eagerness to learn. She showed excellent progress in her finger dexterity and hand coordination, which improved her overall technique.">{% if reporting is defined and reporting.strengths != null %}{{reporting.strengths}}{% endif %}</textarea>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-md-12 col-form-label" for="weaknesses">What are {{name}}'s areas of improvement?</label>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="5" required name="weaknesses" id="weaknesses" placeholder="{{name}}'s areas for improvement include more consistent hand positioning and note accuracy. Although {{name}} generally performed well during her weekly lessons and performances, she sometimes struggled with note accuracy and timing.">{% if reporting is defined and reporting.weaknesses != null %}{{reporting.weaknesses}}{% endif %}</textarea>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
                <ul class="list-inline mb-0 wizard">
                    <li class="previous list-inline-item">
                        <a href="javascript: void(0);" class="btn btn-secondary">Previous</a>
                    </li>
                    <li class="next list-inline-item float-right">
                        <a href="javascript: void(0);" class="btn btn-secondary">Next</a>
                    </li>
                </ul>
                </form>
            </div>

            <div class="tab-pane" id="recommendations">
                <form id="recommends">

                <div class="row">
                    <div class="col-12">

                        <div class="alert alert-info" role="alert">
                            What recommendations do you have for {{name}}?
                        </div>

                        <div class="form-group mb-3">
                            <label class="col-md-12 col-form-label" for="recommend">Write recommendations for {{name}} on what things you believe will make them better</label>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="5" required name="recommend" id="recommend" placeholder="To continue her progress, {{name}} should focus on consistent hand positioning and note accuracy. Specifically, she should work on playing simple exercises with both hands simultaneously and practice playing a wider range of songs. Additionally, {{name}} should continue to practice daily for at least 30 minutes and use a metronome to improve her timing. The instructor also recommends that {{name}} participate in more performance opportunities to build her confidence and experience">{% if reporting is defined and reporting.recommendations != null %}{{reporting.recommendations}}{% endif %}</textarea>
                            </div>
                        </div>

                    </div> <!-- end col -->
                </div> <!-- end row -->
                <ul class="list-inline mb-0 wizard">
                    <li class="previous list-inline-item">
                        <a href="javascript: void(0);" class="btn btn-secondary">Previous</a>
                    </li>
                    <li class="next list-inline-item float-right">
                        <a id="save_report" href="javascript: void(0);" class="btn btn-secondary">Next/Save</a>
                    </li>
                </ul>
                </form>
            </div>

            <div class="tab-pane" id="thank_you">
                
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <h2 class="mt-0"><i class="mdi mdi-check-all"></i></h2>
                            <h3 class="mt-0">Thank you ! The report has been saved</h3>

                            <p class="w-75 mb-2 mx-auto">Writing reports on a student's progress in learning a musical instrument is important for documenting, evaluating, communicating, and goal-setting purposes.</p>
                        </div>
                    </div> <!-- end col -->
                            <div class="row">
                                <div class="col-md-6 offset-md-3">
                                    
                                </div>
                            </div>

                </div> <!-- end row -->
                <ul class="list-inline mb-0 wizard">
                    <li class="previous list-inline-item">
                        <a href="javascript: void(0);" class="btn btn-secondary">Back</a>
                    </li>
                    <li class="next list-inline-item float-right">
                        <a href="#" class="btn btn-secondary">Finish</a>
                    </li>
                </ul>

            </div>


        </div> <!-- tab-content -->
    </div> <!-- end #progressbarwizard-->

{% else %}
   
<p>We're missing some important information to display your report. </p>

{% endif %}



