{% extends 'adm_base.html.twig' %}

{% block title %}Edit Report{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link href="{{asset('adm/assets/libs/rwd-table/rwd-table.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
{# 0736991179 Shopit #}
    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Edit Report for {{name}}</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Report</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">                            
                            <!-- item-->
                            <a href="{{ path('reporting_index', {'teacher_id': teacher_id}) }}" class="dropdown-item">back to list</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Edit Report </h4>
                    <div class="responsive-table-plugin">
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns">


                                {{ include('reporting/_form.html.twig', {'button_label': 'Update'}) }}

                                <a href="{{ path('reporting_index', {'teacher_id': reporting.teacher.id}) }}">back to list</a>

                                {{ include('reporting/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block javascripts %}

    <!-- Plugins js-->
    <script src="{{asset('adm/assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js') }}"></script>

    <!-- Init js-->
    <script src="{{asset('adm/assets/js/pages/form-wizard.init.js') }}"></script>

	<script>
	  $(document).on('click', '#save_report', function(){

            var user_id = {{user_id}};
            //var session_id = {'name': 'session_id', 'value': sess_id};

	  		var form1 = document.getElementById("basicInfo");
	  		var form2 = document.getElementById("learningGoals");
	  		var form3 = document.getElementById("progressAssessment");
	  		var form4 = document.getElementById("recommends");
            var form1_data = $( form1 ).serializeArray();
            var form2_data = $( form2 ).serializeArray();
            var form3_data = $( form3 ).serializeArray();
            var form4_data = $( form4 ).serializeArray();

            var allInputs = form1_data.concat(form2_data, form3_data, form4_data);

            const newObj = {};
            allInputs.forEach(obj => {
            newObj[obj.name] = obj.value;
            });

            console.log(newObj);

            // output input values
            // var allInputs = form1Inputs.concat(form2Inputs);
            // console.log(allInputs);
            $.ajax({
                url:'/reporting/ajax/edit/entry',
                type: "POST",
                dataType: "json",
                data: newObj,
                async: true,
                success: function (data)
                {
                    $("#results").html(data);
                    console.log(data);
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Lesson Plan Saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });

	  });
	</script>

    <script>
        
        $('[id^="send_lesson_plan-"]').click( function () {

            var id = jQuery(this).attr("id").split("-")[1];

            $.ajax({
                url:'{{ (path('send_lesson_plan')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "lesson_plan_id": id,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    //location.reload();
                    $("#send_report-"+id).hide();
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Sent!:', message: 'The report has been sent to '+data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>


{% endblock %}