{% extends 'adm_base.html.twig' %}

{% block title %}Students{% endblock %}
{% block stylesheets %}
   <!-- DataTables CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
   <!-- DataTables Responsive CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    <style>
        .btn-group {
        display: flex;
        }
    </style>
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Students List</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Students List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card-box">

                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'user-student'})}}" class="dropdown-item">Export Email list XLSX [All]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'phoneactiveuser-student'})}}" class="dropdown-item">Export Phone List XLSX [Active]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'pdf', 'entity': 'user-student'})}}" class="dropdown-item">PDF</a>
                            <a class="dropdown-item" href="{{path('show_balances')}}">Balances</a>

                        </div>
                    </div>
                    <table class="table" id="datatable" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Full Name</th>
                                <th>Learner Name</th>
                                <th>Email</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
{% for student in students %}
    <tr>
        <td>{{ student.id }}</td>
        <td>{{ student.fullname }}</td>
        <td>{{ student.studentdata and student.studentdata is not null ? student.studentdata.userInstruments|last : 'N/A' }}</td>
        <td>{{ student.email }}</td>
        <td>
            <a class="btn mb-1 btn-primary" href="{{ path('student_details_admin', {'student_id': student.id}) }}">Details</a> 
            <a class="btn mb-1 btn-info" href="{{ path('preview_invoice_user', {'user_id': student.id}) }}">Invoice</a>
            <!-- Button to trigger assessment modal with student details -->
            <button type="button" 
                    class="btn mb-1 btn-success open-assessment-modal" 
                    data-toggle="modal" 
                    data-target="#assessmentModal"
                    data-student-id="{{ student.id }}"
                    data-student-name="{{ student.fullname }}">
                Add Assessment
            </button>
        </td>
    </tr>
{% else %}
    <p>No records found</p>
{% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->



<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalLabel">Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="amount" class="col-form-label">Amount:</label>
            <input type="text" class="form-control amount" id="amount">
            <p id="uigidval" style="display:none;"></p>
          </div>
          <div class="form-group">
            <label for="amount" class="col-form-label">Receipt Number:</label>
            <input type="text" placeholder="Receipt Number" class="form-control receipt_number" id="receipt_number">
            <p id="uigidval" style="display:none;"></p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn mb-1 btn-primary" id="add_payment">Add Payment</button>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="holder" value="">
{% endblock %}
{% block javascripts %}
   <!-- DataTables JS -->
   <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
   <!-- DataTables Responsive JS -->
   <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script>
$(document).ready(function() {
    // When the assessment modal is triggered
    $('#assessmentModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var studentId = button.data('student-id'); // Extract student ID
        var studentName = button.data('student-name'); // Extract student name

        // Update the modal's form fields
        var modal = $(this);
        modal.find('.modal-title').text('Add Assessment for ' + studentName);
        modal.find('#student').val(studentId);
    });

    // Handle adding additional payloads
    $('#addPayload').on('click', function() {
        $('#payloadContainer').append(`
            <div class="form-group">
                <label for="category">Category:</label>
                <input type="number" class="form-control" name="category[]" required>
                <label for="description">Description:</label>
                <textarea class="form-control" name="description[]" required></textarea>
            </div>
        `);
    });

    // Submit assessment data via AJAX
    $('#submitAssessment').on('click', function() {
        // Collect payload entries
        let payload = [];
        $('#payloadContainer .form-group').each(function() {
            payload.push({
                category: $(this).find('input[name="category[]"]').val(),
                description: $(this).find('textarea[name="description[]"]').val()
            });
        });

        // Collect other form data
        const data = {
            student: $('#student').val(),
            term: $('#term').val(),
            year: $('#year').val(),
            payload: payload
        };

        $.ajax({
            url: '{{ path("submit_assessment") }}', // Symfony route for the endpoint
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function(response) {
                console.log(response);
                alert('Assessment submitted successfully');
                $('#assessmentModal').modal('hide');
                // Optionally reload or update the table with new data
                location.reload();
            },
            error: function(xhr, status, error) {
                console.error(error);
                alert('Failed to submit assessment');
            }
        });
    });
});
</script>

   <script type="text/javascript">
     $(document).ready(function() {
       $('#datatable').DataTable({
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate
                }
            }

       });
     });
   </script>
    <script src="{{asset('adm/assets/libs/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/vfs_fonts.js') }}"></script>
    <!-- Datatables init -->
    {# <script src="{{asset('adm/assets/js/pages/datatables.init.js') }}"></script> #}
    <script>
        $('#paymentModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var uigid = button.data('uigid') // Extract info from data-* attributes
            var from = button.data('from') // Extract info from data-* attributes
            var amttopay = button.data('amttopay') // Extract info from data-* attributes
            $("#holder").val(amttopay);
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            console.log('uigid: ' + uigid);
            modal.find('.modal-title').text('Payment from ' + from)
            modal.find('.modal-body p').text(uigid)
            modal.find('.modal-body input').val(amttopay)
            $("#add_payment").prop('disabled', true);
            $("#receipt_number").val("");
        })
    </script>
    <script>
        $("#add_payment").click( function () {

            $("#add_payment").prop('disabled', true);
            var uigid = $("#uigidval").text();
            var amount = $("#amount").val();
            var receipt_number = $("#receipt_number").val();

            $.ajax({
                url:'{{ (path('add_payment')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "uigid": uigid,
                    "amount": amount,
                    "receipt_number": receipt_number,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script>
        $(".amount").on('keyup', function() {
            var amount = parseInt($("#amount").val());
            var balance = parseInt($('#holder').val());

            if(amount > balance || !$("#receipt_number").val()){
                $("#add_payment").prop('disabled', true);
            } else {
                $("#add_payment").prop('disabled', false);
            }
            console.log('greater than? '+ amount > balance);
            console.log('empty? '+ $("#receipt_number").val());
        });
        $(".receipt_number").on('keyup', function() {
            var amount = parseInt($("#amount").val());
            var balance = parseInt($('#holder').val());

            if(amount > balance || !$(this).val()){
                $("#add_payment").prop('disabled', true);
            } else {
                $("#add_payment").prop('disabled', false);
            }
            console.log('greater than? '+ amount > balance);
            console.log('empty? '+ !$(this).val());
        })
    </script>
{% endblock %}

