{% extends 'adm_base.html.twig' %}

{% block title %}New Report{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link href="{{asset('adm/assets/libs/rwd-table/rwd-table.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
{# 0736991179 Shopit #}
    <!-- Start Content-->
{% if user_id is defined and teacher_id is defined %}
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Report for {{name}} </h4>
                    <button type="button" id="viewnotes-{{user_id}}" class="btn btn-sm mb-1 btn-info">View Notes</button>                    

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Reports</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">                            
                            <!-- item-->
                            {% if teacher_id is not null %}<a href="{{ path('reporting_index', {'teacher_id': teacher_id}) }}" class="dropdown-item">back to list</a>{% endif %}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">New report for {{name}} </h4>
                    <div class="responsive-table-plugin">
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns">

                                {{ include('reporting/_form.html.twig') }}

                                {% if teacher_id is not null %} <a href="{{ path('reporting_index', {'teacher_id': teacher_id}) }}">back to list</a>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->

        <!-- Modal -->
        <div class="modal fade" id="view_all_notes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notes for <span id="student"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="view_notes">
                ...+

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        
        
    </div> <!-- container-fluid -->
{% else %}
    <div class="alert alert-warning">
        The teacher and student aren't defined. This is an error.
    </div>
{% endif %}
{% endblock %}
{% block javascripts %}

    <!-- Plugins js-->
    <script src="{{asset('adm/assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js') }}"></script>

    <!-- Init js-->
    <script src="{{asset('adm/assets/js/pages/form-wizard.init.js') }}"></script>

	<script>
	  $(document).on('click', '#save_report', function(){

            var user_id = {{user_id}};
            //var session_id = {'name': 'session_id', 'value': sess_id};


	  		var form1 = document.getElementById("basicInfo");
	  		var form2 = document.getElementById("learningGoals");
	  		var form3 = document.getElementById("progressAssessment");
	  		var form4 = document.getElementById("recommends");
            var form1_data = $( form1 ).serializeArray();
            var form2_data = $( form2 ).serializeArray();
            var form3_data = $( form3 ).serializeArray();
            var form4_data = $( form4 ).serializeArray();

            var allInputs = form1_data.concat(form2_data, form3_data, form4_data);

            const newObj = {};
            allInputs.forEach(obj => {
            newObj[obj.name] = obj.value;
            });

            console.log(newObj);

            // output input values
            // var allInputs = form1Inputs.concat(form2Inputs);
            // console.log(allInputs);
            $.ajax({
                url:'/reporting/ajax/save/new',
                type: "POST",
                dataType: "json",
                data: newObj,
                async: true,
                success: function (data)
                {
                    $("#results").html(data);
                    console.log(data);
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Lesson Plan Saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });

	  });
	</script>
	<script>
	  $(document).on('click', '#update_lesson_plan', function(){

            var user_Id = {{user_id}};
            //var session_id = {'name': 'session_id', 'value': sess_id};


	  		var form1 = document.getElementById("assess");
	  		var form2 = document.getElementById("nextLesson");
            var form1_data = $( form1 ).serializeArray();
            var form2_data = $( form2 ).serializeArray();

            var allInputs = form1_data.concat(form2_data);

            const newObj = {};
            allInputs.forEach(obj => {
            newObj[obj.name] = obj.value;
            });

            console.log(newObj);

            // output input values
            // var allInputs = form1Inputs.concat(form2Inputs);
            // console.log(allInputs);
            $.ajax({
                url:'/lesson/plan/ajax/save/edit',
                type: "POST",
                dataType: "json",
                data: newObj,
                async: true,
                success: function (data)
                {
                    $("#results").html(data);
                    console.log(data);
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Lesson Plan Saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });

	  });
	</script>

    <script>
        
        $('[id^="send_report-"]').click( function () {

            var id = jQuery(this).attr("id").split("-")[1];

            $.ajax({
                url:'{{ (path('send_lesson_plan')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "lesson_plan_id": id,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    //location.reload();
                    $("#send_report-"+id).hide();
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Sent!:', message: 'The report has been sent to '+data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>

	<script>
      $(document).on('click', '[id^="viewnotes-"]', function(){


            var id = jQuery(this).attr("id").split("-")[1];
          
            $.ajax({
                url:'/view/student/user/notes',
                type: "POST",
                dataType: "json",
                data: {
                    "user_id": id,
                },
                async: true,
                success: function (data)
                {
                    $('#view_all_notes').modal('show')
                    console.log(data.message);
                    $("#view_notes").html(data.message);
                    $("#student").text(data.student);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });


	  });
	</script>

{% endblock %}