<!DOCTYPE html>
<html>
<head>
	<title>{{reporting.name}}'s Report</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<style>
        body {
            font-family: Arial, sans-serif;
        }

        header {
            overflow: auto;
        }

        .logo {
            float: right;
            margin-left: 10px;
        }

        h1 {
            font-size: 28px;
            margin-bottom: 10px;
            clear: right;
        }

        h2 {
            font-size:20px;

        }

        h3 {
            font-size: 18px;
            margin-bottom: 10px;
            clear: right;
        }

        hr {
            border: none;
            border-top: 1px solid #ccc;
            margin: 20px 0;
        }

        .grey-background {
            background-color: #eee;
            padding: 10px;
        }

        .grey-background h2 {
            font-size: 20px;
            color: #fff;
            margin-bottom: 5px;
            padding: 5px;
            background-color: #666;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 5px;
        }
        .container-fluid {
            margin-top: 20px;
        }

        .row {
            margin-bottom: 20px;
            clear: both;
        }

        .col-md-4 {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px!important;
        }

        .col-md-4 h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .col-md-6 h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .col-md-4 p {
            margin-bottom: 5px;
        }

        .col-md-12 {
            border: 1px solid #ccc;
            padding: 10px;
        }

        .col-md-6 {
            border: 1px solid #ccc;
            padding: 10px;
            width: 49%;
            float: left;
        }

        .col-md-12 h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .col-md-12 p {
            margin-bottom: 5px;
        }

        .container {
        width: 100%;
        }

        .left, .right {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        box-sizing: border-box;
        padding-right: 20px;
        }
        .right {
        padding-right: 0;
        }

        .logo {
            width:100%;
        }

        .text-right{
            text-align: right;
        }

        .height-200 {
            height:200px;
        }

        h4 {
            text-transform: uppercase;
            font-size: 1.1em;

        }
		.clear {
			clear:both;
		}
	</style>
</head>
<body>
    {% if reporting.user.uigGroups|length > 0 and null != reporting.user.photo %}
    {% set src = reporting.user.photo %}
    {% set styles = "max-height:150px;max-width:150px;" %}
    {% else %}
    {% set src = "/education/img/logos/chezanewlogowhitetransparent.png" %}
    {% set styles = "" %}
    {% endif %}
    {% if reporting.sex == 'male' %}
        {% set himorher = 'him' %}
        {% set hisorher = 'his' %}
        {% set heorshe = 'he' %}
    {% elseif reporting.sex == 'female' %}
        {% set himorher = 'her' %}
        {% set hisorher = 'her' %}
        {% set heorshe = 'she' %}
    {% endif %}
	<div class="row" id="bottom_row">
		<div class="col-md-6 right" style="border:none;">
			<h4>Report - {{reporting.term}}</h4>
			<h3>Student: {{reporting.name}}</h3>
			<h3>{{reporting.instrument}} - {{reporting.learningLevel}} | {{reporting.age}} | {{reporting.addedOn|date('jS M Y')}}</h3>
		</div>
		<div class="col-md-6 left" style="border:none;">
			<img class="img-fluid logo" style="{{styles}}" src="{{app.request.getSchemeAndHttpHost()}}{{src}}"> 
		</div>
	</div>
	<hr>
	<div class="clear"></div>
	<div class="grey-background">
		<h2>Introduction</h2>
		<p>This report assesses {{reporting.name|split(" ")[0]}}'s progress in learning the {{reporting.instrument}}. The report covers  {{hisorher}} learning goals, progress assessment, strengths and weaknesses and recommendations for continued progress.</p>
	</div>
	<div class="grey-background">
		<h2>Learning Goals</h2>
		<p>{{reporting.learningGoals}}</p>
	</div>
	<div class="grey-background">
		<h2>Progress Assessment</h2>
		<p>{{reporting.progressAssessment}}</p>
	</div>
	<div class="grey-background">
		<h2>Strengths & Areas for Improvement</h2>
		<p>{{reporting.strengths}}</p>
		<p>{{reporting.weaknesses}}</p>
	</div>
	<div class="grey-background">
		<h2>Practice & Performance</h2>
		<p>{{reporting.name|split(" ")[0]}}'s practice quality and quantity are rated {{reporting.practiceHabits}} out of 5, where 5 represents the best practice habits. {% if reporting.practiceHabits <= 3 %} {{heorshe|title}} needs to practice more. {% else %} That's a good rating! {% endif %}  {{reporting.performed}}</p>
	</div>
	<div class="grey-background">
		<h2>Recommendations</h2>
		<p>{{reporting.recommendations}}</p>
	</div>

</body>
</html>
