{% extends 'adm_base.html.twig' %}

{% block title %}New Attachment{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Attachment</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Attachment Details</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('attachment_new') }}" class="dropdown-item">Create new</a>
                            <!-- item-->
                            <a href="{{ path('attachment_index') }}" class="dropdown-item">Back to list</a>
                            <!-- item-->
                            <a href="{{ path('attachment_edit', {'id': attachment.id}) }}" class="dropdown-item">Edit this attachment</a>
                            <!-- item-->
                            <a href="{{ path('admin-communications') }}" class="dropdown-item">Back to communications</a>
                            {{ include('attachment/_delete_form.html.twig') }}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Attachment</h4>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ attachment.id }}</td>
                            </tr>
                            <tr>
                                <th>Filename</th>
                                <td>{{ attachment.filename }}</td>
                            </tr>
                            <tr>
                                <th>File</th>
                                <td><a href="/attachments/{{attachment.file}}">{{ attachment.file }}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}   

{% endblock %}