<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<title>Cart &#8211; Cheza Music School</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" id='chezaschool-font-google_fonts-style-css' type='text/css' media='all' href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i%7CLora:400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext">
	<link rel='stylesheet' id='woocommerce-layout-css' href='js/vendor/plugins/woocommerce/assets/css/woocommerce-layout.css' type='text/css' media='all' />
	<link rel='stylesheet' id='woocommerce-smallscreen-css' href='js/vendor/plugins/woocommerce/assets/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
	<link rel='stylesheet' id='woocommerce-general-css' href='js/vendor/plugins/woocommerce/assets/css/woocommerce.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-fontello-style-css' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-animation-style-css' href='js/vendor/fw/css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-shortcodes-style-css' href='js/vendor/shortcodes/theme.shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-theme-style-css' href='css/theme.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-plugin.woocommerce-style-css' href='css/plugin.woocommerce.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-custom-style-css' href='css/custom.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-responsive-style-css' href='css/responsive.css' type='text/css' media='all' />

</head>
<body class="page page-id-268 page-template-default woocommerce-cart woocommerce-page chezaschool_body body_style_wide body_filled article_style_stretch layout_single-standard template_single-standard scheme_original top_panel_show top_panel_above sidebar_hide sidebar_outer_hide vc_responsive">
	<a id="toc_home" class="sc_anchor" title="Home" data-description="&lt;i&gt;Return to Home&lt;/i&gt; - &lt;br&gt;navigate to home page of the site" data-icon="icon-home" data-url="http://melody.ancorathemes.com/" data-separator="yes"></a>
	<a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>
			<header class="top_panel_wrap top_panel_style_6 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
					<div class="top_panel_middle">
						<div class="content_wrap">
							<div class="contact_logo">
								<div class="logo">
									<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"><img src="images/Untitled-1.png" class="logo_fixed" alt="" width="169" height="43"></a>
								</div>
							</div>
							<div class="menu_main_wrap">
								<nav class="menu_main_nav_area">
									<ul id="menu_main" class="menu_main_nav">
										<li class="menu-item menu-item-has-children"><a href="#">Home</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
												<li class="menu-item"><a href="home-2.html">Home 2</a></li>
												<li class="menu-item"><a href="home-3.html">Home 3</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="shop.html">Shop</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="classic.html">Classic</a></li>
														<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
																<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
															</ul>
														</li>
														<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
																<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
															</ul>
														</li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="grid.html">Grid</a></li>
														<li class="menu-item"><a href="masonry.html">Masonry</a></li>
														<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
													</ul>
												</li>
												<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
												<li class="menu-item"><a href="typography.html">Typography</a></li>
												<li class="menu-item"><a href="404.html">Page 404</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="customization.html">Customization</a></li>
														<li class="menu-item"><a href="support.html">Support</a></li>
														<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">About</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="about.html">About style 1</a></li>
												<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classes.html">Classes</a></li>
												<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
											</ul>
										</li>
										<li class="menu-item"><a href="contact.html">Contact</a></li>
										<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="header_mobile">
				<div class="content_wrap">
					<div class="menu_button icon-menu"></div>
					<div class="logo">
						<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"></a>
					</div>
				</div>
				<div class="side_wrap">
					<div class="close">Close</div>
					<div class="panel_top">
						<nav class="menu_main_nav_area">
							<ul id="menu_mobile" class="menu_main_nav">
								<li class="menu-item menu-item-has-children"><a href="#">Home</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
										<li class="menu-item"><a href="home-2.html">Home 2</a></li>
										<li class="menu-item"><a href="home-3.html">Home 3</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="shop.html">Shop</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classic.html">Classic</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
														<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
														<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="grid.html">Grid</a></li>
												<li class="menu-item"><a href="masonry.html">Masonry</a></li>
												<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
											</ul>
										</li>
										<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
										<li class="menu-item"><a href="typography.html">Typography</a></li>
										<li class="menu-item"><a href="404.html">Page 404</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="customization.html">Customization</a></li>
												<li class="menu-item"><a href="support.html">Support</a></li>
												<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">About</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="about.html">About style 1</a></li>
										<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="classes.html">Classes</a></li>
										<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
									</ul>
								</li>
								<li class="menu-item"><a href="contact.html">Contact</a></li>
								<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
							</ul>
						</nav>
					</div>
					<div class="panel_bottom">
					</div>
				</div>
				<div class="mask"></div>
			</div>
			<div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
				<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
					<div class="content_wrap">
						<h1 class="page_title">Your cart</h1>
						<div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><a class="breadcrumbs_item all" href="shop.html">Shop</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Your cart</span></div>
					</div>
				</div>
			</div>
			<div class="page_content_wrap page_paddings_yes">
				<div class="content_wrap">
					<div class="content">
						<article class="itemscope post_item post_item_single post_featured_default post_format_standard post-268 page type-page hentry">
							<section class="post_content" itemprop="articleBody">
								<div class="woocommerce">
									<form action="#" method="post">
										<table class="shop_table shop_table_responsive cart" cellspacing="0">
											<thead>
												<tr>
													<th class="product-remove">&nbsp;</th>
													<th class="product-thumbnail">&nbsp;</th>
													<th class="product-name">Product</th>
													<th class="product-price">Price</th>
													<th class="product-quantity">Quantity</th>
													<th class="product-subtotal">Total</th>
												</tr>
											</thead>
											<tbody>
												<tr class="cart_item">
													<td class="product-remove">
														<a href="index65eb.html?remove_item=0e01938fc48a2cfb5f2217fbfb00722d&amp;_wpnonce=759c8a7837" class="remove" title="Remove this item" data-product_id="285" data-product_sku="">&times;</a> </td>
													<td class="product-thumbnail">
														<a href="product.html"><img width="180" height="180" src="images/product-7-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="product-7" srcset="images/product-7-180x180.jpg 180w, images/product-7-150x150.jpg 150w, images/product-7-300x300.jpg 300w, images/product-7.jpg 600w"
																			sizes="(max-width: 180px) 100vw, 180px" /></a>
													</td>
													<td class="product-name" data-title="Product">
														<a href="product.html">Impressed 6-Piece Drum Set</a> </td>
													<td class="product-price" data-title="Price">
														<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>129.99</span>
													</td>
													<td class="product-quantity" data-title="Quantity">
														<div class="quantity">
															<input type="number" step="1" min="0" max="" name="cart[0e01938fc48a2cfb5f2217fbfb00722d][qty]" value="2" title="Qty" class="input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric" />
														</div>
													</td>
													<td class="product-subtotal" data-title="Total">
														<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>259.98</span>
													</td>
												</tr>
												<tr class="cart_item">
													<td class="product-remove"><a href="#" class="remove" title="Remove this item">&times;</a> </td>
													<td class="product-thumbnail">
														<a href="product.html"><img width="180" height="180" src="images/product-8-180x180.jpg" alt="product-8" /></a>
													</td>
													<td class="product-name" data-title="Product">
														<a href="product.html">UJ5 5-Piece Drum Set</a> </td>
													<td class="product-price" data-title="Price">
														<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>99.99</span>
													</td>
													<td class="product-quantity" data-title="Quantity">
														<div class="quantity">
															<input type="number" step="1" min="0" max="" name="cart[918317b57931b6b7a7d29490fe5ec9f9][qty]" value="1" title="Qty" class="input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric" />
														</div>
													</td>
													<td class="product-subtotal" data-title="Total">
														<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>99.99</span>
													</td>
												</tr>
												<tr>
													<td colspan="6" class="actions">
														<div class="coupon">
															<label for="coupon_code">Coupon:</label> <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Coupon code" /> <input type="submit" class="button" name="apply_coupon" value="Apply Coupon" />
														</div>
														<input type="submit" class="button" name="update_cart" value="Update Cart" />
														<input type="hidden" id="_wpnonce" name="_wpnonce" value="759c8a7837" /><input type="hidden" name="_wp_http_referer" value="/cart/" /> </td>
												</tr>
											</tbody>
										</table>
									</form>
									<div class="cart-collaterals">
										<div class="cart_totals ">
											<h2>Cart Totals</h2>
											<table cellspacing="0" class="shop_table shop_table_responsive">
												<tr class="cart-subtotal">
													<th>Subtotal</th>
													<td data-title="Subtotal"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>5,599.88</span>
													</td>
												</tr>
												<tr class="order-total">
													<th>Total</th>
													<td data-title="Total"><strong><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>5,599.88</span></strong> </td>
												</tr>
											</table>
											<div class="wc-proceed-to-checkout">
												<a href="checkout.html" class="checkout-button button alt wc-forward">Proceed to Checkout</a>
											</div>
										</div>
									</div>
								</div>
							</section>
						</article>
						<section class="related_wrap related_wrap_empty"></section>
					</div>
				</div>
			</div>
			<div class="copyright_wrap copyright_style_socials  scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
						</div>
						<div class="copyright_text">
							<p>Ancora © 2016 All Rights Reserved <a href="http://ancorathemes.com/">Terms of Use</a> and <a href="http://ancorathemes.com/">Privacy Policy</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
	<div class="custom_html_section"></div>
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/photostack/modernizr.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/frontend/country-select.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/frontend/address-i18n.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/frontend/cart.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/frontend/woocommerce.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/superfish.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/jquery.slidemenu.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.utils.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.init.js'></script>
	<script type='text/javascript' src='js/vendor/theme.init.js'></script>
	<script type='text/javascript' src='js/custom/custom.js'></script>
	<script type='text/javascript' src='js/vendor/shortcodes/theme.shortcodes.js'></script>
</body>
</html>
