<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<title>Classes &#8211; Cheza Music School</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" id='chezaschool-font-google_fonts-style-css' type='text/css' media='all' href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i%7CLora:400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext">
	<link rel='stylesheet' id='chezaschool-fontello-style-css' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-animation-style-css' href='js/vendor/fw/css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-shortcodes-style-css' href='js/vendor/shortcodes/theme.shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-theme-style-css' href='css/theme.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-custom-style-css' href='css/custom.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-responsive-style-css' href='css/responsive.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-swiperslider-style-css' href='js/vendor/fw/js/swiper/swiper.css' type='text/css' media='all' />
</head>
<body class="page page-id-597 page-template-default chezaschool_body body_style_wide body_filled article_style_stretch layout_single-standard template_single-standard scheme_original top_panel_show top_panel_above sidebar_hide sidebar_outer_hide vc_responsive">
	<a id="toc_home" class="sc_anchor" title="Home" data-description="&lt;i&gt;Return to Home&lt;/i&gt; - &lt;br&gt;navigate to home page of the site" data-icon="icon-home" data-url="http://melody.ancorathemes.com/" data-separator="yes"></a>
	<a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>
			<header class="top_panel_wrap top_panel_style_6 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
					<div class="top_panel_middle">
						<div class="content_wrap">
							<div class="contact_logo">
								<div class="logo">
									<a href="{{path('default')}}"><img src="{{asset('publicsite/images/Untitled-1.png')}}" class="logo_main" alt="" width="169" height="43"><img src="{{asset('publicsite/images/Untitled-1.png')}}" class="logo_fixed" alt="" width="169" height="43"></a>
								</div>
							</div>
							<div class="menu_main_wrap">
								<nav class="menu_main_nav_area">
									<ul id="menu_main" class="menu_main_nav">
										<li class="menu-item menu-item-has-children"><a href="#">Home</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
												<li class="menu-item"><a href="home-2.html">Home 2</a></li>
												<li class="menu-item"><a href="home-3.html">Home 3</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="shop.html">Shop</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="classic.html">Classic</a></li>
														<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
																<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
															</ul>
														</li>
														<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
																<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
															</ul>
														</li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="grid.html">Grid</a></li>
														<li class="menu-item"><a href="masonry.html">Masonry</a></li>
														<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
													</ul>
												</li>
												<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
												<li class="menu-item"><a href="typography.html">Typography</a></li>
												<li class="menu-item"><a href="404.html">Page 404</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="customization.html">Customization</a></li>
														<li class="menu-item"><a href="support.html">Support</a></li>
														<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">About</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="about.html">About style 1</a></li>
												<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
											</ul>
										</li>
										<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">Classes</a>
											<ul class="sub-menu">
												<li class="menu-item current-menu-item page-item-59709"><a href="{{path('default')}}">Classes</a></li>
												<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
											</ul>
										</li>
										<li class="menu-item"><a href="contact.html">Contact</a></li>
										<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="header_mobile">
				<div class="content_wrap">
					<div class="menu_button icon-menu"></div>
					<div class="logo">
						<a href="{{path('default')}}"><img src="{{asset('publicsite/images/Untitled-1.png')}}" class="logo_main" alt="" width="169" height="43"></a>
					</div>
				</div>
				<div class="side_wrap">
					<div class="close">Close</div>
					<div class="panel_top">
						<nav class="menu_main_nav_area">
							<ul id="menu_mobile" class="menu_main_nav">
								<li class="menu-item menu-item-has-children"><a href="#">Home</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
										<li class="menu-item"><a href="home-2.html">Home 2</a></li>
										<li class="menu-item"><a href="home-3.html">Home 3</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="shop.html">Shop</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classic.html">Classic</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
														<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
														<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="grid.html">Grid</a></li>
												<li class="menu-item"><a href="masonry.html">Masonry</a></li>
												<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
											</ul>
										</li>
										<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
										<li class="menu-item"><a href="typography.html">Typography</a></li>
										<li class="menu-item"><a href="404.html">Page 404</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="customization.html">Customization</a></li>
												<li class="menu-item"><a href="support.html">Support</a></li>
												<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">About</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="about.html">About style 1</a></li>
										<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
									</ul>
								</li>
								<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">Classes</a>
									<ul class="sub-menu">
										<li class="menu-item current-menu-item page-item-59709"><a href="{{path('default')}}">Classes</a></li>
										<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
									</ul>
								</li>
								<li class="menu-item"><a href="contact.html">Contact</a></li>
								<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
							</ul>
						</nav>
					</div>
					<div class="panel_bottom">
					</div>
				</div>
				<div class="mask"></div>
			</div>
			<div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
				<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
					<div class="content_wrap">
						<h1 class="page_title">Classes</h1>
						<div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Classes</span></div>
					</div>
				</div>
			</div>
			<div class="page_content_wrap page_paddings_no">
				<div class="c_wrap">
					<div class="content">
						<article class="itemscope post_item post_item_single post_featured_default post_format_standard post-597 page type-page hentry">
							<section class="post_content" itemprop="articleBody">
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner block_1462966320193">
											<div class="wrap">
												<div class="sc_section">
													<div class="sc_section_inner">
														<h1 class="sc_section_title sc_item_title">Classes</h1>
														<h6 class="sc_section_subtitle sc_item_subtitle">and groups</h6>
														<div class="sc_section_content_wrap">
															<div id="sc_services_1477238865_wrap" class="sc_services_wrap">
																<div id="sc_services_1477238865" class="sc_services sc_services_style_services-2 sc_services_type_images  margin_top_large margin_bottom_large">
																	<div id="sc_services_1477238865_1" class="sc_services_item sc_services_item_1 odd first">
																		<div class="sc_services_item_featured post_featured">
																			<div class="post_thumb" data-image="{{asset('publicsite/images/services-3.jpg')}}" data-title="Kids">
																				<a class="hover_icon hover_icon_link" href="single-services.html"><img class="wp-post-image" width="370" height="250" alt="Kids" src="{{asset('publicsite/images/services-3-370x250.jpg')}}"></a>
																			</div>
																		</div>
																		<div class="sc_services_item_content">
																			<h2 class="sc_services_item_title"><a href="single-services.html">Kids</a></h2>
																			<div class="sc_services_item_description">
																				<p>
																					<p>Our school is a solution for families who would like to expose their children to the world of music.Lorem ipsum dolor sit amet, mel modus dicam eleifend at. His te alienum omittantur, vix an fugit saepe sensibus. Ei timeam perpetua
																						cum. Viderer scripserit usu eu. Labitur partiendo vix te, his congue intellegam necessitatibus in.<br/> Vim quod doming antiopam eu, te mea inermis epicurei reformidans. Id per appetere insolens constituam. Ea odio modo audiam duo,
																						ut wisi verear utroque eos. No eum option tibique constituam, vix no ipsum errem. Ut sed aeque essent, ei partiendo delicatissimi nec.</p>
																				</p><a href="single-services.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Register now</a> </div>
																		</div>
																	</div>
																	<div id="sc_services_1477238865_2" class="sc_services_item sc_services_item_2 even">
																		<div class="sc_services_item_featured post_featured">
																			<div class="post_thumb" data-image="{{asset('publicsite/images/services-2.jpg')}}" data-title="Teens">
																				<a class="hover_icon hover_icon_link" href="single-services.html"><img class="wp-post-image" width="370" height="250" alt="Teens" src="{{asset('publicsite/images/services-2-370x250.jpg')}}"></a>
																			</div>
																		</div>
																		<div class="sc_services_item_content">
																			<h2 class="sc_services_item_title"><a href="single-services.html">Teens</a></h2>
																			<div class="sc_services_item_description">
																				<p>
																					<p>Our classes help to develop the skills necessary for music learning and a lifelong enjoyment of music. Lorem ipsum dolor sit amet, mel modus dicam eleifend at. His te alienum omittantur, vix an fugit saepe sensibus. Ei timeam perpetua
																						cum. Viderer scripserit usu eu. Labitur partiendo vix te, his congue intellegam necessitatibus in.<br/> Vim quod doming antiopam eu, te mea inermis epicurei reformidans. Id per appetere insolens constituam. Ea odio modo audiam duo,
																						ut wisi verear utroque eos. No eum option tibique constituam, vix no ipsum errem. Ut sed aeque essent, ei partiendo delicatissimi nec.</p>
																				</p><a href="single-services.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Register now</a> </div>
																		</div>
																	</div>
																	<div id="sc_services_1477238865_3" class="sc_services_item sc_services_item_3 odd">
																		<div class="sc_services_item_featured post_featured">
																			<div class="post_thumb" data-image="{{asset('publicsite/images/services-1.jpg')}}" data-title="Adults">
																				<a class="hover_icon hover_icon_link" href="single-services.html"><img class="wp-post-image" width="370" height="250" alt="Adults" src="{{asset('publicsite/images/services-1-370x250.jpg')}}"></a>
																			</div>
																		</div>
																		<div class="sc_services_item_content">
																			<h2 class="sc_services_item_title"><a href="single-services.html">Adults</a></h2>
																			<div class="sc_services_item_description">
																				<p>
																					<p>We have programs for everyone. In addition to teaching music to children, we instruct adults and seniors. Lorem ipsum dolor sit amet, mel modus dicam eleifend at. His te alienum omittantur, vix an fugit saepe sensibus. Ei timeam perpetua
																						cum. Viderer scripserit usu eu. Labitur partiendo vix te, his congue intellegam necessitatibus in.<br/> Vim quod doming antiopam eu, te mea inermis epicurei reformidans. Id per appetere insolens constituam. Ea odio modo audiam duo,
																						ut wisi verear utroque eos. No eum option tibique constituam, vix no ipsum errem. Ut sed aeque essent, ei partiendo delicatissimi nec.</p>
																				</p><a href="single-services.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Register now</a> </div>
																		</div>
																	</div>
																	<div id="sc_services_1477238865_4" class="sc_services_item sc_services_item_4 even">
																		<div class="sc_services_item_featured post_featured">
																			<div class="post_thumb" data-image="{{asset('publicsite/images/image-7.jpg')}}" data-title="Private lessons">
																				<a class="hover_icon hover_icon_link" href="single-services.html"><img class="wp-post-image" width="370" height="250" alt="Private lessons" src="{{asset('publicsite/images/image-7-370x250.jpg')}}"></a>
																			</div>
																		</div>
																		<div class="sc_services_item_content">
																			<h2 class="sc_services_item_title"><a href="single-services.html">Private lessons</a></h2>
																			<div class="sc_services_item_description">
																				<p>
																					<p>Private music lessons provide one-on-one attention, so teachers can focus on an individual student’s needs. Lorem ipsum dolor sit amet, mel modus dicam eleifend at. His te alienum omittantur, vix an fugit saepe sensibus. Ei timeam
																						perpetua cum. Viderer scripserit usu eu. Labitur partiendo vix te, his congue intellegam necessitatibus in.<br/> Vim quod doming antiopam eu, te mea inermis epicurei reformidans. Id per appetere insolens constituam. Ea odio modo
																						audiam duo, ut wisi verear utroque eos. No eum option tibique constituam, vix no ipsum errem. Ut sed aeque essent, ei partiendo delicatissimi nec.</p>
																				</p><a href="single-services.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Register now</a> </div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row vc_row-no-padding">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="sc_parallax" data-parallax-speed="0.15" data-parallax-x-pos="50%" data-parallax-y-pos="50%">
													<div class="sc_parallax_content" style="background-image:url(images/bg3-Parallax.jpg); background-position:50% 50%;">
														<div class="sc_content content_wrap margin_top_huge margin_bottom_huge">
															<div id="sc_testimonials_922040954" class="sc_testimonials sc_testimonials_style_testimonials-1  no_image">
																<div class="sc_slider_swiper swiper-slider-container sc_slider_nopagination sc_slider_controls sc_slider_controls_side" data-interval="6128" data-slides-min-width="250">
																	<div class="slides swiper-wrapper">
																		<div class="swiper-slide">
																			<div id="sc_testimonials_922040954_1" class="sc_testimonial_item">
																				<div class="sc_testimonial_avatar"><img class="wp-post-image" width="184" height="184" alt="Louise Flores" src="{{asset('publicsite/images/testimonials-2-184x184.jpg')}}"></div>
																				<div class="sc_testimonial_content">
																					<p>My son has been taking piano and guitar lessons for more than a year. He loves his teachers and I can tell that they really care about my kid too. Your music school is wonderful and I highly recommend.</p>
																				</div>
																				<div class="sc_testimonial_author"><span class="sc_testimonial_author_name">Louise Flores</span><span class="sc_testimonial_author_position"> / parent</span></div>
																			</div>
																		</div>
																		<div class="swiper-slide">
																			<div id="sc_testimonials_922040954_2" class="sc_testimonial_item">
																				<div class="sc_testimonial_avatar"><img class="wp-post-image" width="184" height="184" alt="Diana Jones" src="{{asset('publicsite/images/testimonials-1-184x184.jpg')}}"></div>
																				<div class="sc_testimonial_content">
																					<p>The school has everything that children need for successful study: textbooks, daily assignments, planner, notebooks, music sheets, a staff who are very nice and kind, and ready to help at any time.</p>
																				</div>
																				<div class="sc_testimonial_author"><span class="sc_testimonial_author_name">Diana Jones</span><span class="sc_testimonial_author_position"> / parent</span></div>
																			</div>
																		</div>
																		<div class="swiper-slide">
																			<div id="sc_testimonials_922040954_3" class="sc_testimonial_item">
																				<div class="sc_testimonial_avatar"><img class="wp-post-image" width="184" height="184" alt="Martin Wood" src="{{asset('publicsite/images/testimonials-3-184x184.jpg')}}"></div>
																				<div class="sc_testimonial_content">
																					<p>I am most grateful that my son's guitar teacher not only makes learning fun and shares his knowledge, but his passion for music as well. I could not have found a better place for him to learn guitar.</p>
																				</div>
																				<div class="sc_testimonial_author"><span class="sc_testimonial_author_name">Martin Wood</span><span class="sc_testimonial_author_position"> / parent</span></div>
																			</div>
																		</div>
																	</div>
																	<div class="sc_slider_controls_wrap">
																		<a class="sc_slider_prev" href="#"></a>
																		<a class="sc_slider_next" href="#"></a>
																	</div>
																	<div class="sc_slider_pagination_wrap"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner block_1462871605781">
											<div class="wrap">
												<div class="sc_section">
													<div class="sc_section_inner">
														<h1 class="sc_section_title sc_item_title">Musical Instruments</h1>
														<h6 class="sc_section_subtitle sc_item_subtitle">classes</h6>
														<div class="sc_section_content_wrap">
															<div id="sc_services_1746019812_wrap" class="sc_services_wrap">
																<div id="sc_services_1746019812" class="sc_services sc_services_style_services-1 sc_services_type_icons  margin_top_medium margin_bottom_medium">
																	<div class="sc_columns columns_wrap">
																		<div class="column-1_4 column_padding_bottom">
																			<div id="sc_services_1746019812_1" class="sc_services_item sc_services_item_1 odd first">
																				<a href="single-services.html"><span class="sc_icon icon-icon1"></span></a>
																				<div class="sc_services_item_content">
																					<h3 class="sc_services_item_title"><a href="single-services.html">Piano</a></h3>
																					<div class="sc_services_item_description">
																						<p>It is a musical instrument played using a keyboard.</p>
																					</div>
																				</div>
																			</div>
																		</div><div class="column-1_4 column_padding_bottom">
																			<div id="sc_services_1746019812_2" class="sc_services_item sc_services_item_2 even">
																				<a href="single-services.html"><span class="sc_icon icon-icon2"></span></a>
																				<div class="sc_services_item_content">
																					<h3 class="sc_services_item_title"><a href="single-services.html">Guitar</a></h3>
																					<div class="sc_services_item_description">
																						<p>The guitar is classified as a string instrument.</p>
																					</div>
																				</div>
																			</div>
																		</div><div class="column-1_4 column_padding_bottom">
																			<div id="sc_services_1746019812_3" class="sc_services_item sc_services_item_3 odd">
																				<a href="single-services.html"><span class="sc_icon icon-icon3"></span></a>
																				<div class="sc_services_item_content">
																					<h3 class="sc_services_item_title"><a href="single-services.html">Voice</a></h3>
																					<div class="sc_services_item_description">
																						<p>It is a type of music performed by one or more singers.</p>
																					</div>
																				</div>
																			</div>
																		</div><div class="column-1_4 column_padding_bottom">
																			<div id="sc_services_1746019812_4" class="sc_services_item sc_services_item_4 even">
																				<a href="single-services.html"><span class="sc_icon icon-icon4"></span></a>
																				<div class="sc_services_item_content">
																					<h3 class="sc_services_item_title"><a href="single-services.html">Drums</a></h3>
																					<div class="sc_services_item_description">
																						<p>Can play by striking with the hand or two sticks.</p>
																					</div>
																				</div>
																			</div>
																		</div><div class="column-1_4 column_padding_bottom">
																			<div id="sc_services_1746019812_5" class="sc_services_item sc_services_item_5 odd">
																				<a href="single-services.html"><span class="sc_icon icon-icon5"></span></a>
																				<div class="sc_services_item_content">
																					<h3 class="sc_services_item_title"><a href="single-services.html">Violin</a></h3>
																					<div class="sc_services_item_description">
																						<p>The violin has four strings tuned in perfect fifths.</p>
																					</div>
																				</div>
																			</div>
																		</div><div class="column-1_4 column_padding_bottom">
																			<div id="sc_services_1746019812_6" class="sc_services_item sc_services_item_6 even">
																				<a href="single-services.html"><span class="sc_icon icon-icon6"></span></a>
																				<div class="sc_services_item_content">
																					<h3 class="sc_services_item_title"><a href="single-services.html">Cello</a></h3>
																					<div class="sc_services_item_description">
																						<p>The cello is used as a solo musical instrument.</p>
																					</div>
																				</div>
																			</div>
																		</div><div class="column-1_4 column_padding_bottom">
																			<div id="sc_services_1746019812_7" class="sc_services_item sc_services_item_7 odd">
																				<a href="single-services.html"><span class="sc_icon icon-icon7"></span></a>
																				<div class="sc_services_item_content">
																					<h3 class="sc_services_item_title"><a href="single-services.html">Double Bass</a></h3>
																					<div class="sc_services_item_description">
																						<p>The lowest-pitched bowed string instrument.</p>
																					</div>
																				</div>
																			</div>
																		</div><div class="column-1_4 column_padding_bottom">
																			<div id="sc_services_1746019812_8" class="sc_services_item sc_services_item_8 even">
																				<a href="single-services.html"><span class="sc_icon icon-icon8"></span></a>
																				<div class="sc_services_item_content">
																					<h3 class="sc_services_item_title"><a href="single-services.html">Saxophone</a></h3>
																					<div class="sc_services_item_description">
																						<p>The saxophone is a woodwind instrument.</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</article>
						<section class="related_wrap related_wrap_empty"></section>
					</div>
				</div>
			</div>
			<footer class="footer_wrap widget_area scheme_original">
				<div class="footer_wrap_inner widget_area_inner">
					<div class="content_wrap">
						<div class="columns_wrap">
							<aside id="text-2" class="widget_number_1 column-1_3 widget widget_text">
								<h5 class="widget_title">Address</h5>
								<div class="textwidget"><span class="sc_icon icon-location-1"></span><span>110 E 16th St<br>New York, NY</span></div>
							</aside><aside id="chezaschool_widget_twitter-2" class="widget_number_2 column-1_3 widget widget_twitter">
								<h5 class="widget_title">Twitter</h5>
								<ul>
									<li class="theme_text last">Investment Advisor Services is a modern, flexible and highly customizable theme for your financial, business, corporate, personal needs.<a href="#" class="username" target="_blank">@investadvisor_1</a></li>
								</ul>
							</aside><aside id="text-3" class="widget_number_3 column-1_3 widget widget_text">
								<h5 class="widget_title">Open hours</h5>
								<div class="textwidget"><span class="sc_icon icon-clock-empty"></span><span>Monday - Friday: 12pm - 8pm<br>Saturday: 10am - 2pm</span></div>
							</aside>
						</div>
					</div>
				</div>
			</footer>
			<div class="copyright_wrap copyright_style_socials  scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
						</div>
						<div class="copyright_text">
							<p>Ancora © 2016 All Rights Reserved <a href="http://ancorathemes.com/">Terms of Use</a> and <a href="http://ancorathemes.com/">Privacy Policy</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
	<div class="custom_html_section"></div>
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/superfish.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/jquery.slidemenu.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.utils.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.init.js'></script>
	<script type='text/javascript' src='js/vendor/theme.init.js'></script>
	<script type='text/javascript' src='js/vendor/shortcodes/theme.shortcodes.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/swiper/swiper.js'></script>
	<script type='text/javascript' src='js/custom/custom.js'></script>
</body>
</html>
