<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<title>Grid &#8211; Cheza Music School</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" id='chezaschool-font-google_fonts-style-css' type='text/css' media='all' href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i%7CLora:400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext">
	<link rel='stylesheet' id='essential-grid-plugin-settings-css' href='js/vendor/plugins/essential-grid/public/assets/css/settings.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-fontello-style-css' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-animation-style-css' href='js/vendor/fw/css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-shortcodes-style-css' href='js/vendor/shortcodes/theme.shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-theme-style-css' href='css/theme.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-custom-style-css' href='css/custom.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-responsive-style-css' href='css/responsive.css' type='text/css' media='all' />
	<link rel='stylesheet' id='themepunchboxextcss-css' href='js/vendor/plugins/essential-grid/public/assets/css/lightbox.css' type='text/css' media='all' />
</head>
<body class="page page-id-401 page-template-default chezaschool_body body_style_wide body_filled article_style_stretch layout_single-standard template_single-standard scheme_original top_panel_show top_panel_above sidebar_hide sidebar_outer_hide vc_responsive">
	<a id="toc_home" class="sc_anchor" title="Home" data-description="&lt;i&gt;Return to Home&lt;/i&gt; - &lt;br&gt;navigate to home page of the site" data-icon="icon-home" data-url="http://melody.ancorathemes.com/" data-separator="yes"></a>
	<a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>
			<header class="top_panel_wrap top_panel_style_6 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
					<div class="top_panel_middle">
						<div class="content_wrap">
							<div class="contact_logo">
								<div class="logo">
									<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"><img src="images/Untitled-1.png" class="logo_fixed" alt="" width="169" height="43"></a>
								</div>
							</div>
							<div class="menu_main_wrap">
								<nav class="menu_main_nav_area">
									<ul id="menu_main" class="menu_main_nav">
										<li class="menu-item menu-item-has-children"><a href="#">Home</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
												<li class="menu-item"><a href="home-2.html">Home 2</a></li>
												<li class="menu-item"><a href="home-3.html">Home 3</a></li>
											</ul>
										</li>
										<li class="menu-item current-menu-ancestor menu-item-has-children"><a href="#">Pages</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="shop.html">Shop</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="classic.html">Classic</a></li>
														<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
																<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
															</ul>
														</li>
														<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
																<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
															</ul>
														</li>
													</ul>
												</li>
												<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">Gallery</a>
													<ul class="sub-menu">
														<li class="menu-item current-menu-item page-item-401"><a href="{{path('default')}}">Grid</a></li>
														<li id="menu-item-420" class="menu-item"><a href="masonry.html">Masonry</a></li>
														<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
													</ul>
												</li>
												<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
												<li class="menu-item"><a href="typography.html">Typography</a></li>
												<li class="menu-item"><a href="404.html">Page 404</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="customization.html">Customization</a></li>
														<li class="menu-item"><a href="support.html">Support</a></li>
														<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">About</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="about.html">About style 1</a></li>
												<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classes.html">Classes</a></li>
												<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
											</ul>
										</li>
										<li class="menu-item"><a href="contact.html">Contact</a></li>
										<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="header_mobile">
				<div class="content_wrap">
					<div class="menu_button icon-menu"></div>
					<div class="logo">
						<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"></a>
					</div>
				</div>
				<div class="side_wrap">
					<div class="close">Close</div>
					<div class="panel_top">
						<nav class="menu_main_nav_area">
							<ul id="menu_mobile" class="menu_main_nav">
								<li class="menu-item menu-item-has-children"><a href="#">Home</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
										<li class="menu-item"><a href="home-2.html">Home 2</a></li>
										<li class="menu-item"><a href="home-3.html">Home 3</a></li>
									</ul>
								</li>
								<li class="menu-item current-menu-ancestor menu-item-has-children"><a href="#">Pages</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="shop.html">Shop</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classic.html">Classic</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
														<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
														<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">Gallery</a>
											<ul class="sub-menu">
												<li class="menu-item current-menu-item page-item-401"><a href="{{path('default')}}">Grid</a></li>
												<li class="menu-item"><a href="masonry.html">Masonry</a></li>
												<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
											</ul>
										</li>
										<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
										<li class="menu-item"><a href="typography.html">Typography</a></li>
										<li class="menu-item"><a href="404.html">Page 404</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="customization.html">Customization</a></li>
												<li class="menu-item"><a href="support.html">Support</a></li>
												<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">About</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="about.html">About style 1</a></li>
										<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="classes.html">Classes</a></li>
										<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
									</ul>
								</li>
								<li class="menu-item"><a href="contact.html">Contact</a></li>
								<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
							</ul>
						</nav>
					</div>
					<div class="panel_bottom">
					</div>
				</div>
				<div class="mask"></div>
			</div>
			<div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
				<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
					<div class="content_wrap">
						<h1 class="page_title">Grid</h1>
						<div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Grid</span></div>
					</div>
				</div>
			</div>
			<div class="page_content_wrap page_paddings_yes">
				<div class="content_wrap">
					<div class="content">
						<article class="itemscope post_item post_item_single post_featured_default post_format_standard post-401 page type-page hentry">
							<section class="post_content" itemprop="articleBody">
								<article class="myportfolio-container minimal-light" id="esg-grid-1-1-wrap">
									<div id="esg-grid-1-1" class="esg-grid">
										<ul>
											<li class="filterall filter-chamber-ensembles filter-music-technology filter-voice filter-group filter-kids eg-melody-wrapper eg-post-id-163" data-date="1451995244">
												<div class="esg-media-cover-wrapper">
													<div class="esg-entry-media"><img src="images/image-8.jpg" alt=""></div>
													<div class="esg-entry-cover esg-fade" data-delay="0">
														<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
														<div class="esg-center eg-post-163 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-163 esgbox" href="images/image-8.jpg" lgtitle="Viola and Composition departments collaborate"><i class="eg-icon-search"></i></a></div>


													</div>
												</div>
											</li>
											<li class="filterall filter-jazz-ensembles filter-piano-classes filter-voice filter-kids filter-private-lessons eg-melody-wrapper eg-post-id-174" data-date="1454674121">
												<div class="esg-media-cover-wrapper">
													<div class="esg-entry-media"><img src="images/image-7.jpg" alt=""></div>
													<div class="esg-entry-cover esg-fade" data-delay="0">
														<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
														<div class="esg-center eg-post-174 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-174 esgbox" href="images/image-7.jpg" lgtitle="Top List of World's best symphonies"><i class="eg-icon-search"></i></a></div>


													</div>
												</div>
											</li>
											<li class="filterall filter-jazz-ensembles filter-musicianship filter-orchestra filter-teenagers eg-melody-wrapper eg-post-id-169" data-date="1457179421">
												<div class="esg-media-cover-wrapper">
													<div class="esg-entry-media"><img src="images/image-9.jpg" alt=""></div>
													<div class="esg-entry-cover esg-fade" data-delay="0">
														<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
														<div class="esg-center eg-post-169 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-169 esgbox" href="images/image-9.jpg" lgtitle="Music Therapy: career and salary overview"><i class="eg-icon-search"></i></a></div>


													</div>
												</div>
											</li>
											<li class="filterall filter-jazz-ensembles filter-musicianship filter-group filter-orchestra filter-teenagers eg-melody-wrapper eg-post-id-189" data-date="1459859385">
												<div class="esg-media-cover-wrapper">
													<div class="esg-entry-media"><img src="images/image-5.jpg" alt=""></div>
													<div class="esg-entry-cover esg-fade" data-delay="0">
														<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
														<div class="esg-center eg-post-189 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-189 esgbox" href="images/image-5.jpg" lgtitle="Featuring School of Music in a concert of varied repertoire"><i class="eg-icon-search"></i></a></div>


													</div>
												</div>
											</li>
											<li class="filterall filter-chamber-ensembles filter-music-technology filter-kids filter-private-lessons eg-melody-wrapper eg-post-id-186" data-date="1462451422">
												<div class="esg-media-cover-wrapper">
													<div class="esg-entry-media"><img src="images/image-6.jpg" alt=""></div>
													<div class="esg-entry-cover esg-fade" data-delay="0">
														<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
														<div class="esg-center eg-post-186 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-186 esgbox" href="images/image-6.jpg" lgtitle="The Best Double bass performances"><i class="eg-icon-search"></i></a></div>


													</div>
												</div>
											</li>
											<li class="filterall filter-chamber-ensembles filter-voice filter-group filter-orchestra eg-melody-wrapper eg-post-id-195" data-date="1462451554">
												<div class="esg-media-cover-wrapper">
													<div class="esg-entry-media"><img src="images/image-4-1.jpg" alt=""></div>
													<div class="esg-entry-cover esg-fade" data-delay="0">
														<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
														<div class="esg-center eg-post-195 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-195 esgbox" href="images/image-4-1.jpg" lgtitle="Western Concert flute"><i class="eg-icon-search"></i></a></div>


													</div>
												</div>
											</li>
											<li class="filterall filter-music-technology filter-piano-classes filter-kids filter-teenagers eg-melody-wrapper eg-post-id-198" data-date="1462451627">
												<div class="esg-media-cover-wrapper">
													<div class="esg-entry-media"><img src="images/image-3.jpg" alt=""></div>
													<div class="esg-entry-cover esg-fade" data-delay="0">
														<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
														<div class="esg-center eg-post-198 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-198 esgbox" href="images/image-3.jpg" lgtitle="Festival of Flutes"><i class="eg-icon-search"></i></a></div>


													</div>
												</div>
											</li>
											<li class="filterall filter-chamber-ensembles filter-musicianship filter-voice filter-group filter-teenagers eg-melody-wrapper eg-post-id-201" data-date="1462451665">
												<div class="esg-media-cover-wrapper">
													<div class="esg-entry-media"><img src="images/image-2.jpg" alt=""></div>
													<div class="esg-entry-cover esg-fade" data-delay="0">
														<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
														<div class="esg-center eg-post-201 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-201 esgbox" href="images/image-2.jpg" lgtitle="Columbia Kids Week"><i class="eg-icon-search"></i></a></div>


													</div>
												</div>
											</li>
											<li class="filterall filter-jazz-ensembles filter-music-technology filter-piano-classes filter-kids filter-orchestra filter-private-lessons eg-melody-wrapper eg-post-id-203" data-date="1462451716">
												<div class="esg-media-cover-wrapper">
													<div class="esg-entry-media"><img src="images/image-1.jpg" alt=""></div>
													<div class="esg-entry-cover esg-fade" data-delay="0">
														<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
														<div class="esg-center eg-post-203 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-203 esgbox" href="images/image-1.jpg" lgtitle="International Piano Festival"><i class="eg-icon-search"></i></a></div>


													</div>
												</div>
											</li>
										</ul>
									</div>
								</article>
								<div class="clear"></div>
							</section>
						</article>
						<section class="related_wrap related_wrap_empty"></section>
					</div>
				</div>
			</div>
			<footer class="footer_wrap widget_area scheme_original">
				<div class="footer_wrap_inner widget_area_inner">
					<div class="content_wrap">
						<div class="columns_wrap">
							<aside id="text-2" class="widget_number_1 column-1_3 widget widget_text">
								<h5 class="widget_title">Address</h5>
								<div class="textwidget"><span class="sc_icon icon-location-1"></span><span>110 E 16th St<br>New York, NY</span></div>
							</aside><aside id="chezaschool_widget_twitter-2" class="widget_number_2 column-1_3 widget widget_twitter">
								<h5 class="widget_title">Twitter</h5>
								<ul>
									<li class="theme_text last">Investment Advisor Services is a modern, flexible and highly customizable theme for your financial, business, corporate, personal needs.<a href="#" class="username" target="_blank">@investadvisor_1</a></li>
								</ul>
							</aside><aside id="text-3" class="widget_number_3 column-1_3 widget widget_text">
								<h5 class="widget_title">Open hours</h5>
								<div class="textwidget"><span class="sc_icon icon-clock-empty"></span><span>Monday - Friday: 12pm - 8pm<br>Saturday: 10am - 2pm</span></div>
							</aside>
						</div>
					</div>
				</div>
			</footer>
			<div class="copyright_wrap copyright_style_socials  scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
						</div>
						<div class="copyright_text">
							<p>Ancora © 2016 All Rights Reserved <a href="http://ancorathemes.com/">Terms of Use</a> and <a href="http://ancorathemes.com/">Privacy Policy</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
	<div class="custom_html_section"></div>
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/essential-grid/public/assets/js/lightbox.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/essential-grid/public/assets/js/jquery.themepunch.tools.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/essential-grid/public/assets/js/jquery.themepunch.essential.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/superfish.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/jquery.slidemenu.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.utils.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.init.js'></script>
	<script type='text/javascript' src='js/vendor/theme.init.js'></script>
	<script type='text/javascript' src='js/vendor/shortcodes/theme.shortcodes.js'></script>
	<script type='text/javascript' src='js/custom/custom.js'></script>
	<script type='text/javascript' src='js/custom/esg-grid-1-1.js'></script>
</body>
</html>
