<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<title>Home 3 &#8211; Cheza Music School</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" id='chezaschool-font-google_fonts-style-css' type='text/css' media='all' href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i%7CLora:400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext">
	<link rel='stylesheet' id='essential-grid-plugin-settings-css' href='js/vendor/plugins/essential-grid/public/assets/css/settings.css' type='text/css' media='all' />
	<link rel='stylesheet' id='rs-plugin-settings-css' href='js/vendor/plugins/revslider/public/assets/css/settings.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-fontello-style-css' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-animation-style-css' href='js/vendor/fw/css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-shortcodes-style-css' href='js/vendor/shortcodes/theme.shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-theme-style-css' href='css/theme.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-custom-style-css' href='css/custom.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-responsive-style-css' href='css/responsive.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-magnific-style-css' href='js/vendor/fw/js/magnific/magnific-popup.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-swiperslider-style-css' href='js/vendor/fw/js/swiper/swiper.css' type='text/css' media='all' />
	<link rel='stylesheet' id='themepunchboxextcss-css' href='js/vendor/plugins/essential-grid/public/assets/css/lightbox.css' type='text/css' media='all' />
</head>
<body class="page page-id-477 page-template-default chezaschool_body body_style_wide body_filled article_style_stretch layout_single-standard template_single-standard scheme_original top_panel_show top_panel_above sidebar_hide sidebar_outer_hide vc_responsive">
	<a id="toc_home" class="sc_anchor" title="Home" data-description="&lt;i&gt;Return to Home&lt;/i&gt; - &lt;br&gt;navigate to home page of the site" data-icon="icon-home" data-url="http://melody.ancorathemes.com/" data-separator="yes"></a>
	<a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>
			<header class="top_panel_wrap top_panel_style_5 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_5 top_panel_position_above">
					<div class="top_panel_top">
						<div class="content_wrap clearfix">
							<div class="top_panel_top_contact_area icon-location">
								110 E 16th St, New York, NY </div>
							<div class="top_panel_top_open_hours icon-clock">Mon - Fri: 12pm - 8pm, Sat: 10am - 2pm</div>
							<div class="top_panel_top_user_area">
								<ul id="menu_user" class="menu_user_nav">
								</ul>
							</div>
						</div>
					</div>
					<div class="top_panel_middle">
						<div class="content_wrap">
							<div class="contact_logo">
								<div class="logo">
									<a href="{{path('default')}}"><img src="images/logo_dark.png" class="logo_main" alt="" width="169" height="43"><img src="images/logo_dark.png" class="logo_fixed" alt="" width="169" height="43"></a>
								</div>
							</div>
							<div class="menu_main_wrap clearfix">
								<nav class="menu_main_nav_area">
									<ul id="menu_main" class="menu_main_nav">
										<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">Home</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
												<li class="menu-item"><a href="home-2.html">Home 2</a></li>
												<li class="menu-item current-menu-item page-item-477"><a href="{{path('default')}}">Home 3</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="shop.html">Shop</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="classic.html">Classic</a></li>
														<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
																<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
															</ul>
														</li>
														<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
																<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
															</ul>
														</li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="grid.html">Grid</a></li>
														<li class="menu-item"><a href="masonry.html">Masonry</a></li>
														<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
													</ul>
												</li>
												<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
												<li class="menu-item"><a href="typography.html">Typography</a></li>
												<li class="menu-item"><a href="404.html">Page 404</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="customization.html">Customization</a></li>
														<li class="menu-item"><a href="support.html">Support</a></li>
														<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">About</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="about.html">About style 1</a></li>
												<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classes.html">Classes</a></li>
												<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
											</ul>
										</li>
										<li class="menu-item"><a href="contact.html">Contact</a></li>
										<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="header_mobile">
				<div class="content_wrap">
					<div class="menu_button icon-menu"></div>
					<div class="logo">
						<a href="{{path('default')}}"><img src="images/logo_dark.png" class="logo_main" alt="" width="169" height="43"></a>
					</div>
				</div>
				<div class="side_wrap">
					<div class="close">Close</div>
					<div class="panel_top">
						<nav class="menu_main_nav_area">
							<ul id="menu_mobile" class="menu_main_nav">
								<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">Home</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
										<li class="menu-item"><a href="home-2.html">Home 2</a></li>
										<li class="menu-item current-menu-item page-item-477"><a href="{{path('default')}}">Home 3</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="shop.html">Shop</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classic.html">Classic</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
														<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
														<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="grid.html">Grid</a></li>
												<li class="menu-item"><a href="masonry.html">Masonry</a></li>
												<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
											</ul>
										</li>
										<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
										<li class="menu-item"><a href="typography.html">Typography</a></li>
										<li class="menu-item"><a href="404.html">Page 404</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="customization.html">Customization</a></li>
												<li class="menu-item"><a href="support.html">Support</a></li>
												<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">About</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="about.html">About style 1</a></li>
										<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="classes.html">Classes</a></li>
										<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
									</ul>
								</li>
								<li class="menu-item"><a href="contact.html">Contact</a></li>
								<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
							</ul>
						</nav>
					</div>
					<div class="panel_bottom">
					</div>
				</div>
				<div class="mask"></div>
			</div>
			<section class="slider_wrap slider_fullwide slider_engine_revo slider_alias_slider_melody2">
				<div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
					<div id="rev_slider_2_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
						<ul>
							<li data-index="rs-4" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide"
											data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<img src="images/slide4.jpg" alt="" title="slide4" width="2050" height="813" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<div class="tp-caption BigWhiteText   tp-resizeme" id="slide-4-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="-68" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
												data-transform_out="opacity:0;s:300;" data-mask_in="x:0px;y:0px;" data-start="500" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 5; white-space: nowrap;">Awaken Possibility </div>
					<div class="tp-caption SmallWhiteText   tp-resizeme" id="slide-4-layer-2" data-x="center" data-hoffset="1" data-y="center" data-voffset="-8" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
									data-transform_out="opacity:0;s:300;" data-mask_in="x:0px;y:0px;" data-start="3240" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">Everyone should have access to music education. </div>
				<div class="tp-caption MelodyButton rev-btn " id="slide-4-layer-3" data-x="center" data-hoffset="" data-y="center" data-voffset="65" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
								data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(92, 200, 191, 1.00);" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="3510" data-splitin="none"
								data-splitout="none" data-responsive_offset="on" data-responsive="off" style="z-index: 7; white-space: nowrap;text-transform:uppercase;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Start Learning </div>
						</li>
						</ul>
						<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
					</div>
				</div>
	</section>
	<div class="page_content_wrap page_paddings_no">
		<div class="c_wrap">
			<div class="content">
				<article class="itemscope post_item post_item_single post_featured_default post_format_standard post-477 page type-page hentry">
					<section class="post_content" itemprop="articleBody">
						<div class="vc_row wpb_row">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner block_1462864288916">
									<div class="wrap">
										<div class="sc_promo margin_top_huge margin_bottom_huge sc_promo_size_large">
											<div class="sc_promo_inner">
												<div class="sc_promo_image" style="background-image:url(images/banner2.jpg);width:49%;left: 0;"></div>
												<div class="sc_promo_block sc_align_left" style="width: 51%; float: right;background-image:url(images/bg_1.png);">
													<div class="sc_promo_block_inner">
														<h1 class="sc_promo_title sc_item_title">Summer Arts Garden</h1>
														<div class="sc_promo_descr sc_item_descr">We offers full-day and half-day music camps for kids of all ages and skill levels – including beginners!<br/> Summer camps give students an opportunity to focus on one instrument or genre for a whole week.</div>
														<div class="sc_promo_button sc_item_button"><a href="{{path('app_register', {'usertype': 'student'})}}" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Register now</a></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="vc_row wpb_row accent1_bg">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner ">
									<div class="wrap">
										<div id="sc_call_to_action_1738050448" class="sc_call_to_action sc_call_to_action_accented sc_call_to_action_style_2 sc_call_to_action_align_left">
											<div class="columns_wrap">
												<div class="sc_call_to_action_info column-3_4">
													<h1 class="sc_call_to_action_title sc_item_title">Private Lessons</h1>
													<div class="sc_call_to_action_descr sc_item_descr">We offer music education for individuals of just about every age and skill level.</div>
												</div><div class="sc_call_to_action_buttons sc_item_buttons column-1_4">
													<div class="sc_call_to_action_button sc_item_button"><a href="single-course.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small style_color_dark_hover ">Learn More</a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="vc_row wpb_row block_1462865672215">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner block_1462867913397">
									<div class="wrap">
										<div class="sc_section">
											<div class="sc_section_inner">
												<h1 class="sc_section_title sc_item_title">Music Groups</h1>
												<h6 class="sc_section_subtitle sc_item_subtitle">for</h6>
												<div class="sc_section_content_wrap">
													<div id="sc_services_147520796_wrap" class="sc_services_wrap">
														<div id="sc_services_147520796" class="sc_services sc_services_style_services-1 sc_services_type_images  margin_top_medium">
															<div class="sc_columns columns_wrap">
																<div class="column-1_4 column_padding_bottom">
																	<div id="sc_services_147520796_1" class="sc_services_item sc_services_item_1 odd first">
																		<div class="sc_services_item_featured post_featured">
																			<div class="post_thumb" data-image="images/services-3.jpg" data-title="Kids">
																				<a class="hover_icon hover_icon_link" href="single-services.html"><img class="wp-post-image" width="370" height="370" alt="Kids" src="images/services-3-370x370.jpg"></a>
																			</div>
																		</div>
																		<div class="sc_services_item_content">
																			<h3 class="sc_services_item_title"><a href="single-services.html">Kids</a></h3>
																			<div class="sc_services_item_description">
																				<p>Our school is a solution for families who would like to expose their children to the world of music.Lorem ipsum dolor sit amet, mel modus dicam...</p>
																			</div>
																		</div>
																	</div>
																</div><div class="column-1_4 column_padding_bottom">
																	<div id="sc_services_147520796_2" class="sc_services_item sc_services_item_2 even">
																		<div class="sc_services_item_featured post_featured">
																			<div class="post_thumb" data-image="images/services-2.jpg" data-title="Teens">
																				<a class="hover_icon hover_icon_link" href="single-services.html"><img class="wp-post-image" width="370" height="370" alt="Teens" src="images/services-2-370x370.jpg"></a>
																			</div>
																		</div>
																		<div class="sc_services_item_content">
																			<h3 class="sc_services_item_title"><a href="single-services.html">Teens</a></h3>
																			<div class="sc_services_item_description">
																				<p>Our classes help to develop the skills necessary for music learning and a lifelong enjoyment of music. Lorem ipsum dolor sit amet, mel modus dicam...</p>
																			</div>
																		</div>
																	</div>
																</div><div class="column-1_4 column_padding_bottom">
																	<div id="sc_services_147520796_3" class="sc_services_item sc_services_item_3 odd">
																		<div class="sc_services_item_featured post_featured">
																			<div class="post_thumb" data-image="images/services-1.jpg" data-title="Adults">
																				<a class="hover_icon hover_icon_link" href="single-services.html"><img class="wp-post-image" width="370" height="370" alt="Adults" src="images/services-1-370x370.jpg"></a>
																			</div>
																		</div>
																		<div class="sc_services_item_content">
																			<h3 class="sc_services_item_title"><a href="single-services.html">Adults</a></h3>
																			<div class="sc_services_item_description">
																				<p>We have programs for everyone. In addition to teaching music to children, we instruct adults and seniors. Lorem ipsum dolor sit amet, mel modus...</p>
																			</div>
																		</div>
																	</div>
																</div><div class="column-1_4 column_padding_bottom">
																	<div id="sc_services_147520796_4" class="sc_services_item sc_services_item_4 even">
																		<div class="sc_services_item_featured post_featured">
																			<div class="post_thumb" data-image="images/image-7.jpg" data-title="Private lessons">
																				<a class="hover_icon hover_icon_link" href="single-services.html"><img class="wp-post-image" width="370" height="370" alt="Private lessons" src="images/image-7-370x370.jpg"></a>
																			</div>
																		</div>
																		<div class="sc_services_item_content">
																			<h3 class="sc_services_item_title"><a href="single-services.html">Private lessons</a></h3>
																			<div class="sc_services_item_description">
																				<p>Private music lessons provide one-on-one attention, so teachers can focus on an individual student’s needs. Lorem ipsum dolor sit amet, mel modus...</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="vc_row wpb_row vc_row-no-padding">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner ">
									<div class="wpb_wrapper">
										<div class="sc_parallax" data-parallax-speed="0.1" data-parallax-x-pos="50%" data-parallax-y-pos="50%">
											<div class="sc_parallax_content" style="background-image:url(images/bg1-Parallax.jpg); background-position:50% 50%;">
												<div id="sc_call_to_action_1364292416" class="sc_call_to_action sc_call_to_action_style_1 sc_call_to_action_align_center margin_top_huge margin_bottom_large color_style_light" style="margin: auto; max-width: 500px;width:100%;">
													<div class="sc_call_to_action_info">
														<h1 class="sc_call_to_action_title sc_item_title">Let's make art!</h1>
														<div class="sc_call_to_action_descr sc_item_descr">Explore several art forms as your child builds creativity and confidence in our new visual arts classes for ages 2-5!</div>
														<div class="sc_call_to_action_buttons sc_item_buttons">
															<div class="sc_call_to_action_button sc_item_button"><a href="all-courses.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small style_color_dark_hover ">See our art classes</a></div>
														</div>
													</div>
												</div>
												<div class="vc_empty_space" style="height: 1.7em"><span class="vc_empty_space_inner"></span></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="vc_row wpb_row block_1462868235830">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner block_1462870427941">
									<div class="wrap">
										<div class="sc_section">
											<div class="sc_section_inner">
												<h1 class="sc_section_title sc_item_title">Student band of High School</h1>
												<h6 class="sc_section_subtitle sc_item_subtitle">video</h6>
												<div class="sc_section_content_wrap">
													<div id="pop_video" class="sc_popup mfp-with-anim mfp-hide">
														<div class="sc_video_player">
															<div class="sc_video_frame" data-width="100%" data-height="659"><iframe class="video_frame" src="https://player.vimeo.com/video/55745039" width="100%" height="659" frameborder="0" webkitAllowFullScreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowFullScreen="allowFullScreen"></iframe></div>
														</div>
													</div>
													<div class="sc_section sc_section_block margin_top_medium margin_bottom_null aligncenter" style="max-width: 831px;background-image:url(images/banner1.jpg);background-repeat:no-repeat;background-size:cover;">
														<div class="sc_section_inner">
															<div class="sc_section_overlay" style="">
																<div class="sc_section_content padding_on" style="">
																	<div class="sc_section_content_wrap">
																		<a href="#pop_video" target="#pop_video" class="sc_button sc_button_round sc_button_style_filled sc_button_size_large  sc_button_iconed icon-play sc_popup_link" style="margin-top: 7rem; margin-bottom: 7rem;"></a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="vc_row wpb_row">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner block_1462871605781">
									<div class="wrap">
										<div class="sc_section">
											<div class="sc_section_inner">
												<h1 class="sc_section_title sc_item_title">Musical Instruments</h1>
												<h6 class="sc_section_subtitle sc_item_subtitle">classes</h6>
												<div class="sc_section_content_wrap">
													<div id="sc_services_1163374404_wrap" class="sc_services_wrap">
														<div id="sc_services_1163374404" class="sc_services sc_services_style_services-1 sc_services_type_icons  margin_top_medium margin_bottom_medium">
															<div class="sc_columns columns_wrap">
																<div class="column-1_4 column_padding_bottom">
																	<div id="sc_services_1163374404_1" class="sc_services_item sc_services_item_1 odd first">
																		<a href="single-services.html"><span class="sc_icon icon-icon1"></span></a>
																		<div class="sc_services_item_content">
																			<h3 class="sc_services_item_title"><a href="single-services.html">Piano</a></h3>
																			<div class="sc_services_item_description">
																				<p>It is a musical instrument played using a keyboard.</p>
																			</div>
																		</div>
																	</div>
																</div><div class="column-1_4 column_padding_bottom">
																	<div id="sc_services_1163374404_2" class="sc_services_item sc_services_item_2 even">
																		<a href="single-services.html"><span class="sc_icon icon-icon2"></span></a>
																		<div class="sc_services_item_content">
																			<h3 class="sc_services_item_title"><a href="single-services.html">Guitar</a></h3>
																			<div class="sc_services_item_description">
																				<p>The guitar is classified as a string instrument.</p>
																			</div>
																		</div>
																	</div>
																</div><div class="column-1_4 column_padding_bottom">
																	<div id="sc_services_1163374404_3" class="sc_services_item sc_services_item_3 odd">
																		<a href="single-services.html"><span class="sc_icon icon-icon3"></span></a>
																		<div class="sc_services_item_content">
																			<h3 class="sc_services_item_title"><a href="single-services.html">Voice</a></h3>
																			<div class="sc_services_item_description">
																				<p>It is a type of music performed by one or more singers.</p>
																			</div>
																		</div>
																	</div>
																</div><div class="column-1_4 column_padding_bottom">
																	<div id="sc_services_1163374404_4" class="sc_services_item sc_services_item_4 even">
																		<a href="single-services.html"><span class="sc_icon icon-icon4"></span></a>
																		<div class="sc_services_item_content">
																			<h3 class="sc_services_item_title"><a href="single-services.html">Drums</a></h3>
																			<div class="sc_services_item_description">
																				<p>Can play by striking with the hand or two sticks.</p>
																			</div>
																		</div>
																	</div>
																</div><div class="column-1_4 column_padding_bottom">
																	<div id="sc_services_1163374404_5" class="sc_services_item sc_services_item_5 odd">
																		<a href="single-services.html"><span class="sc_icon icon-icon5"></span></a>
																		<div class="sc_services_item_content">
																			<h3 class="sc_services_item_title"><a href="single-services.html">Violin</a></h3>
																			<div class="sc_services_item_description">
																				<p>The violin has four strings tuned in perfect fifths.</p>
																			</div>
																		</div>
																	</div>
																</div><div class="column-1_4 column_padding_bottom">
																	<div id="sc_services_1163374404_6" class="sc_services_item sc_services_item_6 even">
																		<a href="single-services.html"><span class="sc_icon icon-icon6"></span></a>
																		<div class="sc_services_item_content">
																			<h3 class="sc_services_item_title"><a href="single-services.html">Cello</a></h3>
																			<div class="sc_services_item_description">
																				<p>The cello is used as a solo musical instrument.</p>
																			</div>
																		</div>
																	</div>
																</div><div class="column-1_4 column_padding_bottom">
																	<div id="sc_services_1163374404_7" class="sc_services_item sc_services_item_7 odd">
																		<a href="single-services.html"><span class="sc_icon icon-icon7"></span></a>
																		<div class="sc_services_item_content">
																			<h3 class="sc_services_item_title"><a href="single-services.html">Double Bass</a></h3>
																			<div class="sc_services_item_description">
																				<p>The lowest-pitched bowed string instrument.</p>
																			</div>
																		</div>
																	</div>
																</div><div class="column-1_4 column_padding_bottom">
																	<div id="sc_services_1163374404_8" class="sc_services_item sc_services_item_8 even">
																		<a href="single-services.html"><span class="sc_icon icon-icon8"></span></a>
																		<div class="sc_services_item_content">
																			<h3 class="sc_services_item_title"><a href="single-services.html">Saxophone</a></h3>
																			<div class="sc_services_item_description">
																				<p>The saxophone is a woodwind instrument.</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="vc_row wpb_row vc_row-no-padding">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner ">
									<div class="wpb_wrapper">
										<div class="sc_parallax" data-parallax-speed="0" data-parallax-x-pos="50%" data-parallax-y-pos="50%">
											<div class="sc_parallax_content" style="background-image:url(images/bg2-Parallax.jpg); background-position:50% 50%;">
												<div class="sc_content content_wrap">
													<h1 class="sc_title sc_title_regular sc_align_center margin_top_huge" style="margin-bottom: 1.55rem;text-align:center;color:#ffffff;">Melody Music School</h1>
													<div class="sc_section aligncenter" style="max-width: 590px;">
														<div class="sc_section_inner">
															<div class="sc_section_content_wrap"><span class="sc_highlight" style="color:#ffffff;font-size:1.3846em; line-height: 1.4em;">We have talented and very experienced instructors who teach piano, violin, guitar, cello, and other instruments.</span></div>
														</div>
													</div>
													<div id="sc_skills_diagram_1153267198" class="sc_skills sc_skills_counter margin_bottom_large" style="margin-top: 1.5rem;" data-type="counter" data-caption="Skills">
														<div class="columns_wrap sc_skills_columns sc_skills_columns_4">
															<div class="sc_skills_column column-1_4">
																<div class="sc_skills_item sc_skills_style_2 odd first">
																	<div class="sc_skills_icon none"></div>
																	<div class="sc_skills_count"></div>
																	<div class="sc_skills_total" data-start="0" data-stop="231" data-step="2" data-max="231" data-speed="38" data-duration="4389" data-ed="">0</div>
																	<div class="sc_skills_info">
																		<div class="sc_skills_label">Students</div>
																	</div>
																</div>
															</div><div class="sc_skills_column column-1_4">
																<div class="sc_skills_item sc_skills_style_2 even">
																	<div class="sc_skills_icon none"></div>
																	<div class="sc_skills_count"></div>
																	<div class="sc_skills_total" data-start="0" data-stop="14" data-step="2" data-max="231" data-speed="28" data-duration="196" data-ed="">0</div>
																	<div class="sc_skills_info">
																		<div class="sc_skills_label">Teachers</div>
																	</div>
																</div>
															</div><div class="sc_skills_column column-1_4">
																<div class="sc_skills_item sc_skills_style_2 odd">
																	<div class="sc_skills_icon none"></div>
																	<div class="sc_skills_count"></div>
																	<div class="sc_skills_total" data-start="0" data-stop="32" data-step="2" data-max="231" data-speed="12" data-duration="192" data-ed="">0</div>
																	<div class="sc_skills_info">
																		<div class="sc_skills_label">Programmes</div>
																	</div>
																</div>
															</div><div class="sc_skills_column column-1_4">
																<div class="sc_skills_item sc_skills_style_2 even">
																	<div class="sc_skills_icon none"></div>
																	<div class="sc_skills_count"></div>
																	<div class="sc_skills_total" data-start="0" data-stop="21" data-step="2" data-max="231" data-speed="40" data-duration="420" data-ed="">0</div>
																	<div class="sc_skills_info">
																		<div class="sc_skills_label">Awards</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="vc_empty_space" style="height: 1.7em"><span class="vc_empty_space_inner"></span></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="vc_row wpb_row accent1_bg events">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner block_1462873683550">
									<div class="wrap">
										<div class="sc_section alignleft">
											<div class="sc_section_inner">
												<div class="sc_section_content_wrap">
													<h1 class="sc_title sc_title_regular" style="margin-top: 0.65rem;color:#ffffff;">Next Event</h1></div>
											</div>
										</div>
										<div class="sc_section margin_top_null margin_left_small alignleft">
											<div class="sc_section_inner">
												<div class="sc_section_content_wrap">
													<h1 class="sc_title sc_title_regular sc_align_center margin_bottom_null" style="margin-top: 1rem;text-align:center;color:#ffffff;font-size:3.23em;">03</h1>
													<h3 class="sc_title sc_title_regular" style="text-transform: uppercase; margin-top: -0.8em;color:#ffffff;font-size:1.077em;">Apr 2017</h3></div>
											</div>
										</div>
										<div class="sc_section margin_left_medium alignleft" style="max-width: 550px;">
											<div class="sc_section_inner">
												<div class="sc_section_content_wrap"><span class="sc_highlight" style="color:#ffffff;font-size:1.3846em; line-height: 1.4em;">Concert in the Park<br/>Come and visit with us, ask questions, try out a couple instruments and enjoy some great music!</span></div>
											</div>
										</div>
										<div class="sc_section alignleft">
											<div class="sc_section_inner">
												<div class="sc_section_content_wrap"><a href="{{path('app_register', {'usertype': 'student'})}}" class="sc_button sc_button_square sc_button_style_filled sc_button_size_medium style_color_dark_hover" style="margin-top: 0.85rem;">Learn More</a></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="vc_row wpb_row">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner block_1462874272918">
									<div class="wrap">
										<div class="sc_section">
											<div class="sc_section_inner">
												<h1 class="sc_section_title sc_item_title">Latest News</h1>
												<h6 class="sc_section_subtitle sc_item_subtitle">blog</h6>
												<div class="sc_section_content_wrap ">
													<div id="sc_blogger_476778391" class="sc_blogger layout_classic_3 template_masonry margin_top_medium margin_bottom_large  sc_blogger_horizontal">
														<div class="isotope_wrap" data-columns="3">
															<div class="isotope_item isotope_item_classic isotope_item_classic_3 isotope_column_3					">
																<div class="post_item post_item_classic post_item_classic_3				  post_format_standard odd">
																	<div class="post_featured">
																		<div class="post_thumb" data-image="images/image-1.jpg" data-title="International Piano Festival">
																			<a class="hover_icon hover_icon_link" href="single-post.html"><img class="wp-post-image" width="370" height="254" alt="International Piano Festival" src="images/image-1-370x254.jpg"></a>
																		</div>
																	</div>
																	<div class="post_content isotope_item_content">
																		<div class="post_info">
																			<span class="post_info_item post_info_posted"> <a href="single-post.html" class="post_info_date">May 5, 2016</a></span>
																		</div>
																		<h3 class="post_title"><a href="single-post.html">International Piano Festival</a></h3>
																		<div class="post_descr">
																			<p>Lorem ipsum dolor sit amet, mea nisl invenire at, nam ut wisi prima ullamcorper.</p>
																		</div>
																	</div>
																</div>
															</div>
															<div class="isotope_item isotope_item_classic isotope_item_classic_3 isotope_column_3					">
																<div class="post_item post_item_classic post_item_classic_3				  post_format_standard even">
																	<div class="post_featured">
																		<div class="post_thumb" data-image="images/image-2.jpg" data-title="Columbia Kids Week">
																			<a class="hover_icon hover_icon_link" href="single-post.html"><img class="wp-post-image" width="370" height="254" alt="Columbia Kids Week" src="images/image-2-370x254.jpg"></a>
																		</div>
																	</div>
																	<div class="post_content isotope_item_content">
																		<div class="post_info">
																			<span class="post_info_item post_info_posted"> <a href="single-post.html" class="post_info_date">May 5, 2016</a></span>
																		</div>
																		<h3 class="post_title"><a href="single-post.html">Columbia Kids Week</a></h3>
																		<div class="post_descr">
																			<p>Lorem ipsum dolor sit amet, mea nisl invenire at, nam ut wisi prima ullamcorper.</p>
																		</div>
																	</div>
																</div>
															</div>
															<div class="isotope_item isotope_item_classic isotope_item_classic_3 isotope_column_3					">
																<div class="post_item post_item_classic post_item_classic_3				  post_format_standard odd last">
																	<div class="post_featured">
																		<div class="post_thumb" data-image="images/image-3.jpg" data-title="Festival of Flutes">
																			<a class="hover_icon hover_icon_link" href="single-post.html"><img class="wp-post-image" width="370" height="254" alt="Festival of Flutes" src="images/image-3-370x254.jpg"></a>
																		</div>
																	</div>
																	<div class="post_content isotope_item_content">
																		<div class="post_info">
																			<span class="post_info_item post_info_posted"> <a href="single-post.html" class="post_info_date">May 5, 2016</a></span>
																		</div>
																		<h3 class="post_title"><a href="single-post.html">Festival of Flutes</a></h3>
																		<div class="post_descr">
																			<p>Lorem ipsum dolor sit amet, mea nisl invenire at, nam ut wisi prima ullamcorper.</p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="vc_row wpb_row vc_row-no-padding">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner ">
									<div class="wpb_wrapper">
										<div class="sc_parallax" data-parallax-speed="0.15" data-parallax-x-pos="50%" data-parallax-y-pos="50%">
											<div class="sc_parallax_content" style="background-image:url(images/bg3-Parallax.jpg); background-position:50% 50%;">
												<div class="sc_content content_wrap margin_top_huge margin_bottom_huge">
													<div id="sc_testimonials_62847156" class="sc_testimonials sc_testimonials_style_testimonials-1  no_image">
														<div class="sc_slider_swiper swiper-slider-container sc_slider_nopagination sc_slider_controls sc_slider_controls_side" data-interval="5082" data-slides-min-width="250">
															<div class="slides swiper-wrapper">
																<div class="swiper-slide">
																	<div id="sc_testimonials_62847156_1" class="sc_testimonial_item">
																		<div class="sc_testimonial_avatar"><img class="wp-post-image" width="184" height="184" alt="Louise Flores" src="images/testimonials-2-184x184.jpg"></div>
																		<div class="sc_testimonial_content">
																			<p>My son has been taking piano and guitar lessons for more than a year. He loves his teachers and I can tell that they really care about my kid too. Your music school is wonderful and I highly recommend.</p>
																		</div>
																		<div class="sc_testimonial_author"><span class="sc_testimonial_author_name">Louise Flores</span><span class="sc_testimonial_author_position"> / parent</span></div>
																	</div>
																</div>
																<div class="swiper-slide">
																	<div id="sc_testimonials_62847156_2" class="sc_testimonial_item">
																		<div class="sc_testimonial_avatar"><img class="wp-post-image" width="184" height="184" alt="Diana Jones" src="images/testimonials-1-184x184.jpg"></div>
																		<div class="sc_testimonial_content">
																			<p>The school has everything that children need for successful study: textbooks, daily assignments, planner, notebooks, music sheets, a staff who are very nice and kind, and ready to help at any time.</p>
																		</div>
																		<div class="sc_testimonial_author"><span class="sc_testimonial_author_name">Diana Jones</span><span class="sc_testimonial_author_position"> / parent</span></div>
																	</div>
																</div>
																<div class="swiper-slide">
																	<div id="sc_testimonials_62847156_3" class="sc_testimonial_item">
																		<div class="sc_testimonial_avatar"><img class="wp-post-image" width="184" height="184" alt="Martin Wood" src="images/testimonials-3-184x184.jpg"></div>
																		<div class="sc_testimonial_content">
																			<p>I am most grateful that my son's guitar teacher not only makes learning fun and shares his knowledge, but his passion for music as well. I could not have found a better place for him to learn guitar.</p>
																		</div>
																		<div class="sc_testimonial_author"><span class="sc_testimonial_author_name">Martin Wood</span><span class="sc_testimonial_author_position"> / parent</span></div>
																	</div>
																</div>
															</div>
															<div class="sc_slider_controls_wrap">
																<a class="sc_slider_prev" href="#"></a>
																<a class="sc_slider_next" href="#"></a>
															</div>
															<div class="sc_slider_pagination_wrap"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="vc_row wpb_row">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner block_1462879879894">
									<div class="wrap">
										<div class="sc_section aligncenter" style="max-width: 1020px;">
											<div class="sc_section_inner">
												<h1 class="sc_section_title sc_item_title">Featured Teachers</h1>
												<h6 class="sc_section_subtitle sc_item_subtitle">staff</h6>
												<div class="sc_section_content_wrap">
													<div id="sc_team_354833958_wrap" class="sc_team_wrap">
														<div id="sc_team_354833958" class="sc_team sc_team_style_team-1  margin_top_medium margin_bottom_medium">
															<div class="sc_columns columns_wrap">
																<div class="column-1_3 column_padding_bottom">
																	<div id="sc_team_354833958_1" class="sc_team_item sc_team_item_1 odd first">
																		<div class="sc_team_item_avatar"><img class="wp-post-image" width="370" height="370" alt="Tim Caroll" src="images/team-1-370x370.jpg"></div>
																		<div class="sc_team_item_info">
																			<h3 class="sc_team_item_title"><a href="single-member.html">Tim Caroll</a></h3>
																			<div class="sc_team_item_position">professional cellist</div>
																			<div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
																				<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
																				<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
																				<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
																			</div>
																		</div>
																	</div>
																</div><div class="column-1_3 column_padding_bottom">
																	<div id="sc_team_354833958_2" class="sc_team_item sc_team_item_2 even">
																		<div class="sc_team_item_avatar"><img class="wp-post-image" width="370" height="370" alt="Amanda Snow" src="images/team-2-370x370.jpg"></div>
																		<div class="sc_team_item_info">
																			<h3 class="sc_team_item_title"><a href="single-member.html">Amanda Snow</a></h3>
																			<div class="sc_team_item_position">professional pianist</div>
																			<div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
																				<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
																				<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
																				<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
																			</div>
																		</div>
																	</div>
																</div><div class="column-1_3 column_padding_bottom">
																	<div id="sc_team_354833958_3" class="sc_team_item sc_team_item_3 odd">
																		<div class="sc_team_item_avatar"><img class="wp-post-image" width="370" height="370" alt="Terry Barton" src="images/team-3-370x370.jpg"></div>
																		<div class="sc_team_item_info">
																			<h3 class="sc_team_item_title"><a href="single-member.html">Terry Barton</a></h3>
																			<div class="sc_team_item_position">professional violinist</div>
																			<div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
																				<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
																				<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
																				<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="vc_row wpb_row accent1_bg vc_row-no-padding">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner block_1462453368897">
									<div class="wrap">
										<div class="sc_content content_wrap">
											<div id="sc_clients_615850733_wrap" class="sc_clients_wrap">
												<div id="sc_clients_615850733" class="sc_clients sc_clients_style_clients-1  margin_top_small margin_bottom_small">
													<div class="sc_slider_swiper swiper-slider-container sc_slider_nopagination sc_slider_nocontrols" data-interval="9468" data-slides-per-view="6" data-slides-min-width="100">
														<div class="slides swiper-wrapper">
															<div class="swiper-slide">
																<div id="sc_clients_615850733_1" class="sc_clients_item sc_clients_item_1 odd first">
																	<div class="sc_client_image"><img class="wp-post-image" alt="Client1" src="images/example_logo_1.png"></div>
																</div>
															</div>
															<div class="swiper-slide">
																<div id="sc_clients_615850733_2" class="sc_clients_item sc_clients_item_2 even">
																	<div class="sc_client_image"><img class="wp-post-image" alt="Client2" src="images/example_logo_2.png"></div>
																</div>
															</div>
															<div class="swiper-slide">
																<div id="sc_clients_615850733_3" class="sc_clients_item sc_clients_item_3 odd">
																	<div class="sc_client_image"><img class="wp-post-image" alt="Client3" src="images/example_logo_4.png"></div>
																</div>
															</div>
															<div class="swiper-slide">
																<div id="sc_clients_615850733_4" class="sc_clients_item sc_clients_item_4 even">
																	<div class="sc_client_image"><img class="wp-post-image" alt="Client4" src="images/example_logo_6.png"></div>
																</div>
															</div>
															<div class="swiper-slide">
																<div id="sc_clients_615850733_5" class="sc_clients_item sc_clients_item_5 odd">
																	<div class="sc_client_image"><img class="wp-post-image" alt="Client5" src="images/example_logo_5.png"></div>
																</div>
															</div>
															<div class="swiper-slide">
																<div id="sc_clients_615850733_6" class="sc_clients_item sc_clients_item_6 even">
																	<div class="sc_client_image"><img class="wp-post-image" alt="Client6" src="images/example_logo_3.png"></div>
																</div>
															</div>
														</div>
														<div class="sc_slider_controls_wrap">
															<a class="sc_slider_prev" href="#"></a>
															<a class="sc_slider_next" href="#"></a>
														</div>
														<div class="sc_slider_pagination_wrap"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="vc_row wpb_row vc_row-no-padding">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner ">
									<div class="cwrap">
										<article class="myportfolio-container minimal-light" id="esg-grid-4-1-wrap">
											<div id="esg-grid-4-1" class="esg-grid">
												<ul>
													<li class="filterall filter-news eg-melody-wrapper eg-post-id-439" data-date="1462880506">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media"><img src="images/image-4-1.jpg" alt=""></div>
															<div class="esg-entry-cover esg-fade" data-delay="0">
																<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																<div class="esg-center eg-post-439 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-439 esgbox" href="images/image-4-1.jpg" lgtitle="The 9 Different Types of music degrees"><i class="eg-icon-search"></i></a></div>


															</div>
														</div>
													</li>
													<li class="filterall filter-news eg-melody-wrapper eg-post-id-441" data-date="1462880562">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media"><img src="images/image-18.jpg" alt=""></div>
															<div class="esg-entry-cover esg-fade" data-delay="0">
																<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																<div class="esg-center eg-post-441 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-441 esgbox" href="images/image-18.jpg" lgtitle="5 Secrets to Mastering music college audition"><i class="eg-icon-search"></i></a></div>


															</div>
														</div>
													</li>
													<li class="filterall filter-news eg-melody-wrapper eg-post-id-442" data-date="1462880562">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media"><img src="images/image-5.jpg" alt=""></div>
															<div class="esg-entry-cover esg-fade" data-delay="0">
																<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																<div class="esg-center eg-post-442 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-442 esgbox" href="images/image-5.jpg" lgtitle="The Top 8 Colleges for music education"><i class="eg-icon-search"></i></a></div>


															</div>
														</div>
													</li>
													<li class="filterall filter-news eg-melody-wrapper eg-post-id-443" data-date="1462880565">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media"><img src="images/image-17.jpg" alt=""></div>
															<div class="esg-entry-cover esg-fade" data-delay="0">
																<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																<div class="esg-center eg-post-443 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-443 esgbox" href="images/image-17.jpg" lgtitle="The World's Greatest orchestras"><i class="eg-icon-search"></i></a></div>


															</div>
														</div>
													</li>
													<li class="filterall filter-news eg-melody-wrapper eg-post-id-444" data-date="1462880567">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media"><img src="images/image-8.jpg" alt=""></div>
															<div class="esg-entry-cover esg-fade" data-delay="0">
																<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																<div class="esg-center eg-post-444 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-444 esgbox" href="images/image-8.jpg" lgtitle="How to Make a Career in an orchestra"><i class="eg-icon-search"></i></a></div>


															</div>
														</div>
													</li>
													<li class="filterall filter-news eg-melody-wrapper eg-post-id-461" data-date="1462883077">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media"><img src="images/image-16.jpg" alt=""></div>
															<div class="esg-entry-cover esg-fade" data-delay="0">
																<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																<div class="esg-center eg-post-461 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-461 esgbox" href="images/image-16.jpg" lgtitle="Classical and Contemporary compositions"><i class="eg-icon-search"></i></a></div>


															</div>
														</div>
													</li>
													<li class="filterall filter-news eg-melody-wrapper eg-post-id-462" data-date="1462883122">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media"><img src="images/image-15.jpg" alt=""></div>
															<div class="esg-entry-cover esg-fade" data-delay="0">
																<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																<div class="esg-center eg-post-462 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-462 esgbox" href="images/image-15.jpg" lgtitle="5 Popular Viola performances"><i class="eg-icon-search"></i></a></div>


															</div>
														</div>
													</li>
												</ul>
											</div>
										</article>
										<div class="clear"></div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</article>
				<section class="related_wrap related_wrap_empty"></section>
			</div>
		</div>
	</div>
	<footer class="footer_wrap widget_area scheme_original">
		<div class="footer_wrap_inner widget_area_inner">
			<div class="content_wrap">
				<div class="columns_wrap">
					<aside id="text-2" class="widget_number_1 column-1_3 widget widget_text">
						<h5 class="widget_title">Address</h5>
						<div class="textwidget"><span class="sc_icon icon-location-1"></span><span>110 E 16th St<br>New York, NY</span></div>
					</aside><aside id="chezaschool_widget_twitter-2" class="widget_number_2 column-1_3 widget widget_twitter">
						<h5 class="widget_title">Twitter</h5>
						<ul>
							<li class="theme_text last">Investment Advisor Services is a modern, flexible and highly customizable theme for your financial, business, corporate, personal needs.<a href="#" class="username" target="_blank">@investadvisor_1</a></li>
						</ul>
					</aside><aside id="text-3" class="widget_number_3 column-1_3 widget widget_text">
						<h5 class="widget_title">Open hours</h5>
						<div class="textwidget"><span class="sc_icon icon-clock-empty"></span><span>Monday - Friday: 12pm - 8pm<br>Saturday: 10am - 2pm</span></div>
					</aside>
				</div>
			</div>
		</div>
	</footer>
	<div id="sc_googlemap_900745307" class="sc_googlemap" style="width:100%;height:28.62em;" data-zoom="16" data-style="simple">
		<div id="sc_googlemap_900745307_1" class="sc_googlemap_marker" data-title="" data-description="110 E 16th St, New York, NY" data-address="London" data-latlng="" data-point="images/gmap.png"></div>
	</div>
	<div class="copyright_wrap copyright_style_socials  scheme_original">
		<div class="copyright_wrap_inner">
			<div class="content_wrap">
				<div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
					<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
					<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
					<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
				</div>
				<div class="copyright_text">
					<p>Ancora © 2016 All Rights Reserved <a href="http://ancorathemes.com/">Terms of Use</a> and <a href="http://ancorathemes.com/">Privacy Policy</a></p>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
	<div class="custom_html_section"></div>
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/essential-grid/public/assets/js/lightbox.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/essential-grid/public/assets/js/jquery.themepunch.tools.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/essential-grid/public/assets/js/jquery.themepunch.essential.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/superfish.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/jquery.slidemenu.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.utils.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.init.js'></script>
	<script type='text/javascript' src='js/vendor/theme.init.js'></script>
	<script type='text/javascript' src='http://maps.google.com/maps/api/js?key=AIzaSyBzpci4eemBfbOo2f8ZZbQFHDS9fNTMRc0&amp;rnd=2091510649'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.googlemap.js'></script>
	<script type='text/javascript' src='js/vendor/shortcodes/theme.shortcodes.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/magnific/jquery.magnific-popup.min.js'></script>
	<script type='text/javascript' src='js/vendor/lib/bower/isotope/dist/isotope.pkgd.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/swiper/swiper.js'></script>
	<script type='text/javascript' src='js/custom/custom.js'></script>
	<script type='text/javascript' src='js/custom/esg-grid-4-1.js'></script>
	<script type='text/javascript' src='js/custom/rev_slider_2_1.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/revslider/public/assets/js/extensions/revolution.extension.slideanims.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/revslider/public/assets/js/extensions/revolution.extension.navigation.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/revslider/public/assets/js/extensions/revolution.extension.layeranimation.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/revslider/public/assets/js/extensions/revolution.extension.video.min.js'></script>
</body>
</html>
