<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<title>Masonry 2 columns &#8211; Cheza Music School</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" id='chezaschool-font-google_fonts-style-css' type='text/css' media='all' href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i%7CLora:400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext">
	<link rel='stylesheet' id='chezaschool-fontello-style-css' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-animation-style-css' href='js/vendor/fw/css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-shortcodes-style-css' href='js/vendor/shortcodes/theme.shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-theme-style-css' href='css/theme.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-plugin.instagram-widget-style-css' href='css/plugin.instagram-widget.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-responsive-style-css' href='css/responsive.css' type='text/css' media='all' />

</head>
<body class="page page-id-254 page-template-default chezaschool_body body_style_wide body_filled article_style_stretch layout_single-standard template_single-standard scheme_original top_panel_show top_panel_above sidebar_show sidebar_right sidebar_outer_hide vc_responsive">
	<a id="toc_home" class="sc_anchor" title="Home" data-description="&lt;i&gt;Return to Home&lt;/i&gt; - &lt;br&gt;navigate to home page of the site" data-icon="icon-home" data-url="http://melody.ancorathemes.com/" data-separator="yes"></a>
	<a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>
			<header class="top_panel_wrap top_panel_style_6 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
					<div class="top_panel_middle">
						<div class="content_wrap">
							<div class="contact_logo">
								<div class="logo">
									<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"><img src="images/Untitled-1.png" class="logo_fixed" alt="" width="169" height="43"></a>
								</div>
							</div>
							<div class="menu_main_wrap">
								<nav class="menu_main_nav_area">
									<ul id="menu_main" class="menu_main_nav">
										<li class="menu-item menu-item-has-children"><a href="#">Home</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
												<li class="menu-item"><a href="home-2.html">Home 2</a></li>
												<li class="menu-item"><a href="home-3.html">Home 3</a></li>
											</ul>
										</li>
										<li class="menu-item current-menu-ancestor menu-item-has-children"><a href="#">Pages</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="shop.html">Shop</a></li>
												<li class="menu-item current-menu-ancestor menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="classic.html">Classic</a></li>
														<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">Masonry</a>
															<ul class="sub-menu">
																<li class="menu-item current-menu-item page-item-254"><a href="{{path('default')}}">Masonry 2 columns</a></li>
																<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
															</ul>
														</li>
														<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
																<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
															</ul>
														</li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="grid.html">Grid</a></li>
														<li class="menu-item"><a href="masonry.html">Masonry</a></li>
														<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
													</ul>
												</li>
												<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
												<li class="menu-item"><a href="typography.html">Typography</a></li>
												<li class="menu-item"><a href="404.html">Page 404</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="customization.html">Customization</a></li>
														<li class="menu-item"><a href="support.html">Support</a></li>
														<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">About</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="about.html">About style 1</a></li>
												<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classes.html">Classes</a></li>
												<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
											</ul>
										</li>
										<li class="menu-item"><a href="contact.html">Contact</a></li>
										<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="header_mobile">
				<div class="content_wrap">
					<div class="menu_button icon-menu"></div>
					<div class="logo">
						<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"></a>
					</div>
				</div>
				<div class="side_wrap">
					<div class="close">Close</div>
					<div class="panel_top">
						<nav class="menu_main_nav_area">
							<ul id="menu_mobile" class="menu_main_nav">
								<li class="menu-item menu-item-has-children"><a href="#">Home</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
										<li class="menu-item"><a href="home-2.html">Home 2</a></li>
										<li class="menu-item"><a href="home-3.html">Home 3</a></li>
									</ul>
								</li>
								<li class="menu-item current-menu-ancestor menu-item-has-children"><a href="#">Pages</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="shop.html">Shop</a></li>
										<li class="menu-item current-menu-ancestor menu-item-has-children"><a href="#">Blog</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classic.html">Classic</a></li>
												<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">Masonry</a>
													<ul class="sub-menu">
														<li class="menu-item current-menu-item page-item-254"><a href="{{path('default')}}">Masonry 2 columns</a></li>
														<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
														<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="grid.html">Grid</a></li>
												<li class="menu-item"><a href="masonry.html">Masonry</a></li>
												<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
											</ul>
										</li>
										<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
										<li class="menu-item"><a href="typography.html">Typography</a></li>
										<li class="menu-item"><a href="404.html">Page 404</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="customization.html">Customization</a></li>
												<li class="menu-item"><a href="support.html">Support</a></li>
												<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">About</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="about.html">About style 1</a></li>
										<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="classes.html">Classes</a></li>
										<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
									</ul>
								</li>
								<li class="menu-item"><a href="contact.html">Contact</a></li>
								<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
							</ul>
						</nav>
					</div>
					<div class="panel_bottom">
					</div>
				</div>
				<div class="mask"></div>
			</div>
			<div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
				<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
					<div class="content_wrap">
						<h1 class="page_title">Masonry 2 columns</h1>
						<div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Masonry 2 columns</span></div>
					</div>
				</div>
			</div>
			<div class="page_content_wrap page_paddings_yes">
				<div class="content_wrap">
					<div class="content">
						<article class="itemscope post_item post_item_single post_featured_default post_format_standard post-254 page type-page hentry">
							<section class="post_content" itemprop="articleBody">
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div id="sc_blogger_569307955" class="sc_blogger layout_masonry_2 template_masonry  sc_blogger_horizontal">
													<div class="isotope_wrap" data-columns="2">
														<div class="isotope_item isotope_item_masonry isotope_item_masonry_2 isotope_column_2					">
															<div class="post_item post_item_masonry post_item_masonry_2				  post_format_standard odd">
																<div class="post_featured">
																	<div class="post_thumb" data-image="images/image-1.jpg" data-title="International Piano Festival">
																		<a class="hover_icon hover_icon_link" href="single-post.html"><img class="wp-post-image" width="370" height="224" alt="International Piano Festival" src="images/image-1-370x224.jpg"></a>
																	</div>
																</div>
																<div class="post_content isotope_item_content">
																	<div class="post_info">
																		<span class="post_info_item post_info_posted"> <a href="single-post.html" class="post_info_date">May 5, 2016</a></span>
																	</div>
																	<h3 class="post_title"><a href="single-post.html">International Piano Festival</a></h3>
																	<div class="post_descr">
																		<p>Lorem ipsum dolor sit amet, mea nisl invenire at, nam ut wisi prima ullamcorper.</p><a href="single-post.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Read more</a> </div>
																</div>
															</div>
														</div>
														<div class="isotope_item isotope_item_masonry isotope_item_masonry_2 isotope_column_2					">
															<div class="post_item post_item_masonry post_item_masonry_2				  post_format_standard even">
																<div class="post_featured">
																	<div class="post_thumb" data-image="images/image-2.jpg" data-title="Columbia Kids Week">
																		<a class="hover_icon hover_icon_link" href="single-post.html"><img class="wp-post-image" width="370" height="246" alt="Columbia Kids Week" src="images/image-2-370x246.jpg"></a>
																	</div>
																</div>
																<div class="post_content isotope_item_content">
																	<div class="post_info">
																		<span class="post_info_item post_info_posted"> <a href="single-post.html" class="post_info_date">May 5, 2016</a></span>
																	</div>
																	<h3 class="post_title"><a href="single-post.html">Columbia Kids Week</a></h3>
																	<div class="post_descr">
																		<p>Lorem ipsum dolor sit amet, mea nisl invenire at, nam ut wisi prima ullamcorper.</p><a href="single-post.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Read more</a> </div>
																</div>
															</div>
														</div>
														<div class="isotope_item isotope_item_masonry isotope_item_masonry_2 isotope_column_2					">
															<div class="post_item post_item_masonry post_item_masonry_2				  post_format_standard odd">
																<div class="post_featured">
																	<div class="post_thumb" data-image="images/image-3.jpg" data-title="Festival of Flutes">
																		<a class="hover_icon hover_icon_link" href="single-post.html"><img class="wp-post-image" width="370" height="225" alt="Festival of Flutes" src="images/image-3-370x225.jpg"></a>
																	</div>
																</div>
																<div class="post_content isotope_item_content">
																	<div class="post_info">
																		<span class="post_info_item post_info_posted"> <a href="single-post.html" class="post_info_date">May 5, 2016</a></span>
																	</div>
																	<h3 class="post_title"><a href="single-post.html">Festival of Flutes</a></h3>
																	<div class="post_descr">
																		<p>Lorem ipsum dolor sit amet, mea nisl invenire at, nam ut wisi prima ullamcorper.</p><a href="single-post.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Read more</a> </div>
																</div>
															</div>
														</div>
														<div class="isotope_item isotope_item_masonry isotope_item_masonry_2 isotope_column_2					">
															<div class="post_item post_item_masonry post_item_masonry_2				  post_format_standard even">
																<div class="post_featured">
																	<div class="post_thumb" data-image="images/image-4-1.jpg" data-title="Western Concert flute">
																		<a class="hover_icon hover_icon_link" href="single-post.html"><img class="wp-post-image" width="370" height="279" alt="Western Concert flute" src="images/image-4-1-370x279.jpg"></a>
																	</div>
																</div>
																<div class="post_content isotope_item_content">
																	<div class="post_info">
																		<span class="post_info_item post_info_posted"> <a href="single-post.html" class="post_info_date">May 5, 2016</a></span>
																	</div>
																	<h3 class="post_title"><a href="single-post.html">Western Concert flute</a></h3>
																	<div class="post_descr">
																		<p>Lorem ipsum dolor sit amet, mea nisl invenire at, nam ut wisi prima ullamcorper.</p><a href="single-post.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Read more</a> </div>
																</div>
															</div>
														</div>
														<div class="isotope_item isotope_item_masonry isotope_item_masonry_2 isotope_column_2					">
															<div class="post_item post_item_masonry post_item_masonry_2				  post_format_standard odd">
																<div class="post_featured">
																	<div class="post_thumb" data-image="images/image-6.jpg" data-title="The Best Double bass performances">
																		<a class="hover_icon hover_icon_link" href="single-post.html"><img class="wp-post-image" width="370" height="250" alt="The Best Double bass performances" src="images/image-6-370x250.jpg"></a>
																	</div>
																</div>
																<div class="post_content isotope_item_content">
																	<div class="post_info">
																		<span class="post_info_item post_info_posted"> <a href="single-post.html" class="post_info_date">May 5, 2016</a></span>
																	</div>
																	<h3 class="post_title"><a href="single-post.html">The Best Double bass performances</a></h3>
																	<div class="post_descr">
																		<p>Lorem ipsum dolor sit amet, mea nisl invenire at, nam ut wisi prima ullamcorper.</p><a href="single-post.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Read more</a> </div>
																</div>
															</div>
														</div>
														<div class="isotope_item isotope_item_masonry isotope_item_masonry_2 isotope_column_2					">
															<div class="post_item post_item_masonry post_item_masonry_2				  post_format_standard even">
																<div class="post_featured">
																	<div class="post_thumb" data-image="images/image-5.jpg" data-title="Featuring School of Music in a concert of varied repertoire">
																		<a class="hover_icon hover_icon_link" href="single-post.html"><img class="wp-post-image" width="370" height="266" alt="Featuring School of Music in a concert of varied repertoire" src="images/image-5-370x266.jpg"></a>
																	</div>
																</div>
																<div class="post_content isotope_item_content">
																	<div class="post_info">
																		<span class="post_info_item post_info_posted"> <a href="single-post.html" class="post_info_date">April 5, 2016</a></span>
																	</div>
																	<h3 class="post_title"><a href="single-post.html">Featuring School of Music in a concert of varied repertoire</a></h3>
																	<div class="post_descr">
																		<p>Lorem ipsum dolor sit amet, mea nisl invenire at, nam ut wisi prima ullamcorper.</p><a href="single-post.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Read more</a> </div>
																</div>
															</div>
														</div>
														<div class="isotope_item isotope_item_masonry isotope_item_masonry_2 isotope_column_2					">
															<div class="post_item post_item_masonry post_item_masonry_2				  post_format_standard odd">
																<div class="post_featured">
																	<div class="post_thumb" data-image="images/image-9.jpg" data-title="Music Therapy: career and salary overview">
																		<a class="hover_icon hover_icon_link" href="single-post.html"><img class="wp-post-image" width="370" height="264" alt="Music Therapy: career and salary overview" src="images/image-9-370x264.jpg"></a>
																	</div>
																</div>
																<div class="post_content isotope_item_content">
																	<div class="post_info">
																		<span class="post_info_item post_info_posted"> <a href="single-post.html" class="post_info_date">March 5, 2016</a></span>
																	</div>
																	<h3 class="post_title"><a href="single-post.html">Music Therapy: career and salary overview</a></h3>
																	<div class="post_descr">
																		<p>Lorem ipsum dolor sit amet, mea nisl invenire at, nam ut wisi prima ullamcorper.</p><a href="single-post.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Read more</a> </div>
																</div>
															</div>
														</div>
														<div class="isotope_item isotope_item_masonry isotope_item_masonry_2 isotope_column_2					">
															<div class="post_item post_item_masonry post_item_masonry_2				  post_format_standard even">
																<div class="post_featured">
																	<div class="post_thumb" data-image="images/image-7.jpg" data-title="Top List of World&#8217;s best symphonies">
																		<a class="hover_icon hover_icon_link" href="single-post.html"><img class="wp-post-image" width="370" height="246" alt="Top List of World&#8217;s best symphonies" src="images/image-7-370x246.jpg"></a>
																	</div>
																</div>
																<div class="post_content isotope_item_content">
																	<div class="post_info">
																		<span class="post_info_item post_info_posted"> <a href="single-post.html" class="post_info_date">February 5, 2016</a></span>
																	</div>
																	<h3 class="post_title"><a href="single-post.html">Top List of World&#8217;s best symphonies</a></h3>
																	<div class="post_descr">
																		<p>Lorem ipsum dolor sit amet, mea nisl invenire at, nam ut wisi prima ullamcorper.</p><a href="single-post.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Read more</a> </div>
																</div>
															</div>
														</div>
														<div class="isotope_item isotope_item_masonry isotope_item_masonry_2 isotope_column_2					">
															<div class="post_item post_item_masonry post_item_masonry_2				  post_format_standard odd last">
																<div class="post_featured">
																	<div class="post_thumb" data-image="images/image-8.jpg" data-title="Viola and Composition departments collaborate">
																		<a class="hover_icon hover_icon_link" href="single-post.html"><img class="wp-post-image" width="370" height="246" alt="Viola and Composition departments collaborate" src="images/image-8-370x246.jpg"></a>
																	</div>
																</div>
																<div class="post_content isotope_item_content">
																	<div class="post_info">
																		<span class="post_info_item post_info_posted"> <a href="single-post.html" class="post_info_date">January 5, 2016</a></span>
																	</div>
																	<h3 class="post_title"><a href="single-post.html">Viola and Composition departments collaborate</a></h3>
																	<div class="post_descr">
																		<p>Lorem ipsum dolor sit amet, mea nisl invenire at, nam ut wisi prima ullamcorper.</p><a href="single-post.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Read more</a> </div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section class="related_wrap related_wrap_empty"></section>
						</article>
					</div>
					<div class="sidebar widget_area scheme_original" role="complementary">
						<div class="sidebar_inner widget_area_inner">
							<aside id="categories-2" class="widget_number_1 widget widget_categories">
								<h5 class="widget_title">Categories</h5>
								<ul>
									<li class="cat-item cat-item-6"><a href="classic.html">Chamber ensembles</a>
									</li>
									<li class="cat-item cat-item-5"><a href="classic.html">Jazz ensembles</a>
									</li>
									<li class="cat-item cat-item-7"><a href="classic.html">Music technology</a>
									</li>
									<li class="cat-item cat-item-4"><a href="classic.html">Musicianship</a>
									</li>
									<li class="cat-item cat-item-8"><a href="classic.html">Piano classes</a>
									</li>
									<li class="cat-item cat-item-3"><a href="classic.html">Voice</a>
									</li>
								</ul>
							</aside>
							<aside id="chezaschool_widget_recent_posts-2" class="widget_number_2 widget widget_recent_posts">
								<h5 class="widget_title">Recent posts</h5>
								<article class="post_item with_thumb first">
									<div class="widget_area_top">
										<div class="post_thumb"><img class="wp-post-image" width="75" height="75" alt="International Piano Festival" src="images/image-1-75x75.jpg"></div>
										<div class="post_content">
											<h6 class="post_title"><a href="single-post.html">International Piano Festival</a></h6>
										</div>
										<div class="post_info"><span class="post_info_item post_info_posted"><a href="single-post.html" class="post_info_date">May 5, 2016</a></span><span class="post_info_item post_info_counters"><a href="single-post.html#comments" class="post_counters_item post_counters_comments icon-comment"><span class="post_counters_number">3</span></a>
											</span>
										</div>
									</div>
									<div class="widget_area_bottom"></div>
								</article>
								<article class="post_item with_thumb">
									<div class="widget_area_top">
										<div class="post_thumb"><img class="wp-post-image" width="75" height="75" alt="Columbia Kids Week" src="images/image-2-75x75.jpg"></div>
										<div class="post_content">
											<h6 class="post_title"><a href="single-post.html">Columbia Kids Week</a></h6>
										</div>
										<div class="post_info"><span class="post_info_item post_info_posted"><a href="single-post.html" class="post_info_date">May 5, 2016</a></span><span class="post_info_item post_info_counters"><a href="single-post.html#respond" class="post_counters_item post_counters_comments icon-comment"><span class="post_counters_number">0</span></a>
											</span>
										</div>
									</div>
									<div class="widget_area_bottom"></div>
								</article>
							</aside>
							<aside id="calendar-2" class="widget_number_3 widget widget_calendar">
								<h5 class="widget_title">Calendar</h5>
								<div id="calendar_wrap" class="calendar_wrap">
									<table id="wp-calendar-102122588" class="wp-calendar">
										<thead>
											<tr>
												<th class="month_prev">
													<a href="#" data-type="post" data-year="2016" data-month="05" data-letter="1" title="View posts for May 2016"></a>
												</th>
												<th class="month_cur" colspan="5">February <span>2017</span></th>
												<th class="month_next">&nbsp;</th>
											</tr>
											<tr>
												<th class="weekday" scope="col" title="Monday">M</th>
												<th class="weekday" scope="col" title="Tuesday">T</th>
												<th class="weekday" scope="col" title="Wednesday">W</th>
												<th class="weekday" scope="col" title="Thursday">T</th>
												<th class="weekday" scope="col" title="Friday">F</th>
												<th class="weekday" scope="col" title="Saturday">S</th>
												<th class="weekday" scope="col" title="Sunday">S</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="2" class="pad"><span class="day_wrap">&nbsp;</span></td>
												<td class="day"><span class="day_wrap">1</span></td>
												<td class="day"><span class="day_wrap">2</span></td>
												<td class="today"><span class="day_wrap">3</span></td>
												<td class="day"><span class="day_wrap">4</span></td>
												<td class="day"><span class="day_wrap">5</span></td>
											</tr>
											<tr>
												<td class="day"><span class="day_wrap">6</span></td>
												<td class="day"><span class="day_wrap">7</span></td>
												<td class="day"><span class="day_wrap">8</span></td>
												<td class="day"><span class="day_wrap">9</span></td>
												<td class="day"><span class="day_wrap">10</span></td>
												<td class="day"><span class="day_wrap">11</span></td>
												<td class="day"><span class="day_wrap">12</span></td>
											</tr>
											<tr>
												<td class="day"><span class="day_wrap">13</span></td>
												<td class="day"><span class="day_wrap">14</span></td>
												<td class="day"><span class="day_wrap">15</span></td>
												<td class="day"><span class="day_wrap">16</span></td>
												<td class="day"><span class="day_wrap">17</span></td>
												<td class="day"><span class="day_wrap">18</span></td>
												<td class="day"><span class="day_wrap">19</span></td>
											</tr>
											<tr>
												<td class="day"><span class="day_wrap">20</span></td>
												<td class="day"><span class="day_wrap">21</span></td>
												<td class="day"><span class="day_wrap">22</span></td>
												<td class="day"><span class="day_wrap">23</span></td>
												<td class="day"><span class="day_wrap">24</span></td>
												<td class="day"><span class="day_wrap">25</span></td>
												<td class="day"><span class="day_wrap">26</span></td>
											</tr>
											<tr>
												<td class="day"><span class="day_wrap">27</span></td>
												<td class="day"><span class="day_wrap">28</span></td>
												<td class="pad" colspan="5"><span class="day_wrap">&nbsp;</span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</aside>
							<aside id="null-instagram-feed-2" class="widget_number_4 widget null-instagram-feed">
								<h5 class="widget_title">Instagram</h5>
								<ul class="instagram-pics instagram-size-large">
									<li class="">
										<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13129870_1728198570761597_1172591156_ne228.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
									</li>
									<li class="">
										<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13150775_1018598524889774_1388242671_nb27f.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
									</li>
									<li class="">
										<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13129145_1720399108173000_2090809450_nbf68.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
									</li>
									<li class="">
										<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13116786_1144877578876477_266188708_n0d6d.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
									</li>
									<li class="">
										<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13129660_660889660715453_1695863233_n5713.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
									</li>
									<li class="">
										<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13116553_603325526502238_1571230446_n46e6.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
									</li>
								</ul>
							</aside>
							<aside id="search-2" class="widget_number_5 widget widget_search">
								<form role="search" method="get" class="search_form" action="#"><input type="text" class="search_field" placeholder="SEARCH &hellip;" value="" name="s" title="Search for:" /><button type="submit" class="search_button icon-search" href="#"></button></form>
							</aside>
							<aside id="archives-2" class="widget_number_6 widget widget_archive">
								<h5 class="widget_title">Archive</h5>
								<ul>
									<li><a href='#'>May 2016</a></li>
									<li><a href='#'>April 2016</a></li>
									<li><a href='#'>March 2016</a></li>
									<li><a href='#'>February 2016</a></li>
									<li><a href='#'>January 2016</a></li>
								</ul>
							</aside>
							<aside id="meta-2" class="widget_number_7 widget widget_meta">
								<h5 class="widget_title">Meta</h5>
								<ul>
									<li><a href="#">Log in</a></li>
									<li><a href="#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
									<li><a href="#">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
									<li><a href="#" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
								</ul>
							</aside>
							<aside id="chezaschool_widget_recent_reviews-2" class="widget_number_8 widget widget_recent_reviews">
								<h5 class="widget_title">Rating</h5>
								<div class="recent_reviews">
									<article class="post_item with_thumb first">
										<div class="widget_area_top">
											<div class="post_thumb"><img class="wp-post-image" width="75" height="75" alt="Festival of Flutes" src="images/image-3-75x75.jpg"></div>
											<div class="post_content">
												<h6 class="post_title"><a href="single-post.html">Festival of Flutes</a></h6>
												<div class="post_rating reviews_summary blog_reviews">
													<div class="criteria_summary criteria_row">
														<div class="reviews_stars reviews_style_stars" data-mark="2.5">
															<div class="reviews_stars_wrap">
																<div class="reviews_stars_bg"><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span></div>
																<div class="reviews_stars_hover" style="width:50%"><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span></div>
															</div>
															<div class="reviews_value">2.5</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="widget_area_bottom">
											<div class="post_info"></div>
										</div>
									</article>
									<article class="post_item with_thumb">
										<div class="widget_area_top">
											<div class="post_thumb"><img class="wp-post-image" width="75" height="75" alt="Viola and Composition departments collaborate" src="images/image-8-75x75.jpg"></div>
											<div class="post_content">
												<h6 class="post_title"><a href="single-post.html">Viola and Composition departments collaborate</a></h6>
												<div class="post_rating reviews_summary blog_reviews">
													<div class="criteria_summary criteria_row">
														<div class="reviews_stars reviews_style_stars" data-mark="3.8">
															<div class="reviews_stars_wrap">
																<div class="reviews_stars_bg"><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span></div>
																<div class="reviews_stars_hover" style="width:76%"><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span></div>
															</div>
															<div class="reviews_value">3.8</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="widget_area_bottom">
											<div class="post_info"></div>
										</div>
									</article>
								</div>
							</aside>
							<aside id="rss-2" class="widget_number_9 widget widget_rss">
								<h5 class="widget_title"><a class="rsswidget" href="#"></a> <a class="rsswidget" href="http://www.reuters.com/">RSS Feed</a></h5>
								<ul>
									<li><a class='rsswidget' href='#'>Angelina Jolie slams Trump travel ban, calls for &#039;compassionate America&#039;</a> <span class="rss-date">February 3, 2017</span></li>
									<li><a class='rsswidget' href='#'>Parents of Canadian &#039;Sharkwater&#039; filmmaker have hope for missing son</a> <span class="rss-date">February 2, 2017</span></li>
								</ul>
							</aside>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer_wrap widget_area scheme_original">
				<div class="footer_wrap_inner widget_area_inner">
					<div class="content_wrap">
						<div class="columns_wrap">
							<aside id="text-2" class="widget_number_1 column-1_3 widget widget_text">
								<h5 class="widget_title">Address</h5>
								<div class="textwidget"><span class="sc_icon icon-location-1"></span><span>110 E 16th St<br>New York, NY</span></div>
							</aside><aside id="chezaschool_widget_twitter-2" class="widget_number_2 column-1_3 widget widget_twitter">
								<h5 class="widget_title">Twitter</h5>
								<ul>
									<li class="theme_text last">Investment Advisor Services is a modern, flexible and highly customizable theme for your financial, business, corporate, personal needs.<a href="#" class="username" target="_blank">@investadvisor_1</a></li>
								</ul>
							</aside><aside id="text-3" class="widget_number_3 column-1_3 widget widget_text">
								<h5 class="widget_title">Open hours</h5>
								<div class="textwidget"><span class="sc_icon icon-clock-empty"></span><span>Monday - Friday: 12pm - 8pm<br>Saturday: 10am - 2pm</span></div>
							</aside>
						</div>
					</div>
				</div>
			</footer>
			<div class="copyright_wrap copyright_style_socials  scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
						</div>
						<div class="copyright_text">
							<p>Ancora © 2016 All Rights Reserved <a href="http://ancorathemes.com/">Terms of Use</a> and <a href="http://ancorathemes.com/">Privacy Policy</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
	<div class="custom_html_section"></div>
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/superfish.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/jquery.slidemenu.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.utils.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.init.js'></script>
	<script type='text/javascript' src='js/vendor/theme.init.js'></script>
	<script type='text/javascript' src='js/vendor/shortcodes/theme.shortcodes.js'></script>
	<script type='text/javascript' src='js/vendor/lib/bower/isotope/dist/isotope.pkgd.min.js'></script>
	<script type='text/javascript' src='js/custom/custom.js'></script>
</body>
</html>
