<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<title>Products &#8211; Cheza Music School</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" id='chezaschool-font-google_fonts-style-css' type='text/css' media='all' href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i%7CLora:400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext">
	<link rel='stylesheet' id='woocommerce-layout-css' href='js/vendor/plugins/woocommerce/assets/css/woocommerce-layout.css' type='text/css' media='all' />
	<link rel='stylesheet' id='woocommerce-smallscreen-css' href='js/vendor/plugins/woocommerce/assets/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
	<link rel='stylesheet' id='woocommerce-general-css' href='js/vendor/plugins/woocommerce/assets/css/woocommerce.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-fontello-style-css' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-animation-style-css' href='js/vendor/fw/css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-shortcodes-style-css' href='js/vendor/shortcodes/theme.shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-theme-style-css' href='css/theme.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-plugin.woocommerce-style-css' href='css/plugin.woocommerce.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-custom-style-css' href='css/custom.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-responsive-style-css' href='css/responsive.css' type='text/css' media='all' />


</head>
<body class="archive post-type-archive post-type-archive-product woocommerce woocommerce-page chezaschool_body body_style_wide body_filled article_style_stretch layout_excerpt template_excerpt scheme_original top_panel_show top_panel_above sidebar_show sidebar_left sidebar_outer_hide vc_responsive">
	<a id="toc_home" class="sc_anchor" title="Home" data-description="&lt;i&gt;Return to Home&lt;/i&gt; - &lt;br&gt;navigate to home page of the site" data-icon="icon-home" data-separator="yes"></a>
	<a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>
			<header class="top_panel_wrap top_panel_style_6 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
					<div class="top_panel_middle">
						<div class="content_wrap">
							<div class="contact_logo">
								<div class="logo">
									<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"><img src="images/Untitled-1.png" class="logo_fixed" alt="" width="169" height="43"></a>
								</div>
							</div>
							<div class="menu_main_wrap">
								<nav class="menu_main_nav_area">
									<ul id="menu_main" class="menu_main_nav">
										<li class="menu-item menu-item-has-children"><a href="#">Home</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
												<li class="menu-item"><a href="home-2.html">Home 2</a></li>
												<li class="menu-item"><a href="home-3.html">Home 3</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
											<ul class="sub-menu">
												<li class="menu-item current-menu-item"><a href="{{path('default')}}">Shop</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="classic.html">Classic</a></li>
														<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
																<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
															</ul>
														</li>
														<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
																<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
															</ul>
														</li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="grid.html">Grid</a></li>
														<li class="menu-item"><a href="masonry.html">Masonry</a></li>
														<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
													</ul>
												</li>
												<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
												<li class="menu-item"><a href="typography.html">Typography</a></li>
												<li class="menu-item"><a href="404.html">Page 404</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="customization.html">Customization</a></li>
														<li class="menu-item"><a href="support.html">Support</a></li>
														<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">About</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="about.html">About style 1</a></li>
												<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classes.html">Classes</a></li>
												<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
											</ul>
										</li>
										<li class="menu-item"><a href="contact.html">Contact</a></li>
										<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="header_mobile">
				<div class="content_wrap">
					<div class="menu_button icon-menu"></div>
					<div class="logo">
						<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"></a>
					</div>
				</div>
				<div class="side_wrap">
					<div class="close">Close</div>
					<div class="panel_top">
						<nav class="menu_main_nav_area">
							<ul id="menu_mobile" class="menu_main_nav">
								<li class="menu-item menu-item-has-children"><a href="#">Home</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
										<li class="menu-item"><a href="home-2.html">Home 2</a></li>
										<li class="menu-item"><a href="home-3.html">Home 3</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
									<ul class="sub-menu">
										<li class="menu-item current-menu-item"><a href="{{path('default')}}">Shop</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classic.html">Classic</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
														<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
														<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="grid.html">Grid</a></li>
												<li class="menu-item"><a href="masonry.html">Masonry</a></li>
												<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
											</ul>
										</li>
										<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
										<li class="menu-item"><a href="typography.html">Typography</a></li>
										<li class="menu-item"><a href="404.html">Page 404</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="customization.html">Customization</a></li>
												<li class="menu-item"><a href="support.html">Support</a></li>
												<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">About</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="about.html">About style 1</a></li>
										<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="classes.html">Classes</a></li>
										<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
									</ul>
								</li>
								<li class="menu-item"><a href="contact.html">Contact</a></li>
								<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
							</ul>
						</nav>
					</div>
					<div class="panel_bottom">
					</div>
				</div>
				<div class="mask"></div>
			</div>
			<div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
				<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
					<div class="content_wrap">
						<h1 class="page_title">Shop</h1>
						<div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Shop</span></div>
					</div>
				</div>
			</div>
			<div class="page_content_wrap page_paddings_no">
				<div class="content_wrap">
					<div class="header_text">
						<div class="vc_row wpb_row">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner ">
									<div class="wpb_wrapper">
										<div class="sc_section margin_top_large margin_bottom_large" style="background-image:url(images/banner.jpg);background-repeat:no-repeat;background-size:cover;">
											<div class="sc_section_inner">
												<div class="sc_section_overlay" style="">
													<div class="sc_section_content padding_on" style="">
														<div class="sc_section_content_wrap">
															<div id="sc_call_to_action_464498678" class="sc_call_to_action sc_call_to_action_style_1 sc_call_to_action_align_center margin_top_huge margin_bottom_huge color_style_light" style="margin: auto; max-width: 380px;width:100%;">
																<div class="sc_call_to_action_info">
																	<h1 class="sc_call_to_action_title sc_item_title">Musical Instruments</h1>
																	<div class="sc_call_to_action_descr sc_item_descr">Never miss our latest products and sales Deals of the Week - Up to 80% Off</div>
																	<div class="sc_call_to_action_buttons sc_item_buttons">
																		<div class="sc_call_to_action_button sc_item_button"><a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small style_color_dark_hover ">shop now</a></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="content_wrap">
					<div class="content">
						<div class="list_products shop_mode_thumbs">
							<nav class="woocommerce-breadcrumb"><a href="{{path('default')}}">Home</a>&nbsp;&#47;&nbsp;Shop</nav>
							<div class="mode_buttons">
								<form action="#" method="post"><input type="hidden" name="chezaschool_shop_mode" value="thumbs" />
									<a href="#" class="woocommerce_thumbs icon-th" title="Show products as thumbs"></a>
									<a href="#" class="woocommerce_list icon-th-list" title="Show products as list"></a>
								</form>
							</div>
							<p class="woocommerce-result-count">Showing all 9 results</p>
							<form class="woocommerce-ordering" method="get">
								<select name="orderby" class="orderby">
								<option value="menu_order" selected='selected'>Default sorting</option>
								<option value="popularity">Sort by popularity</option>
								<option value="rating">Sort by average rating</option>
								<option value="date">Sort by newness</option>
								<option value="price">Sort by price: low to high</option>
								<option value="price-desc">Sort by price: high to low</option>
								</select>
								<input type="hidden" name="q" value="/shop/" />
							</form>
							<ul class="products">
								<li class="post-277 product type-product has-post-thumbnail column-1_3 first">
									<div class="post_item_wrap">
										<div class="post_featured">
											<div class="post_thumb">
												<a class="hover_icon hover_icon_link" href="product.html">
													<img width="300" height="300" src="images/product-3-300x300.jpg" alt="product-3" title="product-3" /> </a>
											</div>
										</div>
										<div class="post_content">
											<h3><a href="product.html">6-String Acoustic Guitar</a></h3>
											<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>799.99</span>
											</span>
											<a rel="nofollow" href="cart.html" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a> </div>
									</div>
								</li>
								<li class="post-279 product type-product has-post-thumbnail  column-1_3 ">
									<div class="post_item_wrap">
										<div class="post_featured">
											<div class="post_thumb">
												<a class="hover_icon hover_icon_link" href="product.html">
													<img width="300" height="300" src="images/product-4-300x300.jpg" alt="product-4" title="product-4"  /> </a>
											</div>
										</div>
										<div class="post_content">
											<h3><a href="product.html">Celviano Piano</a></h3>
											<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>399.99</span>
											</span>
											<a rel="nofollow" href="cart.html" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a> </div>
									</div>
								</li>
								<li class="post-283 product type-product has-post-thumbnail  column-1_3 last">
									<div class="post_item_wrap">
										<div class="post_featured">
											<div class="post_thumb">
												<a class="hover_icon hover_icon_link" href="product.html">
													<img width="300" height="300" src="images/product-6-300x300.jpg" alt="product-6" title="product-6" /> </a>
											</div>
										</div>
										<div class="post_content">
											<h3><a href="product.html">Code61 USB MIDI Controller</a></h3>
											<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>999.99</span>
											</span>
											<a rel="nofollow" href="cart.html" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a> </div>
									</div>
								</li>
								<li class="post-271 product type-product has-post-thumbnail  column-1_3 first">
									<div class="post_item_wrap">
										<div class="post_featured">
											<div class="post_thumb">
												<a class="hover_icon hover_icon_link" href="product.html">
													<img width="300" height="300" src="images/product-1-300x300.jpg" alt="product-1" title="product-1" /> </a>
											</div>
										</div>
										<div class="post_content">
											<h3><a href="product.html">Dreadnought Acoustic Guitar</a></h3>
											<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>349.99</span>
											</span>
											<a rel="nofollow" href="cart.html" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a> </div>
									</div>
								</li>
								<li class="post-285 product type-product has-post-thumbnail  column-1_3 ">
									<div class="post_item_wrap">
										<div class="post_featured">
											<div class="post_thumb">
												<a class="hover_icon hover_icon_link" href="product.html">
													<img width="300" height="300" src="images/product-7-300x300.jpg" alt="product-7" title="product-7" /> </a>
											</div>
										</div>
										<div class="post_content">
											<h3><a href="product.html">Impressed 6-Piece Drum Set</a></h3>
											<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>129.99</span>
											</span>
											<a rel="nofollow" href="cart.html" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a> </div>
									</div>
								</li>
								<li class="post-281 product type-product has-post-thumbnail  column-1_3 last">
									<div class="post_item_wrap">
										<div class="post_featured">
											<div class="post_thumb">
												<a class="hover_icon hover_icon_link" href="product.html">
													<img width="300" height="300" src="images/product-5-300x300.jpg" alt="product-5" title="product-5" /> </a>
											</div>
										</div>
										<div class="post_content">
											<h3><a href="product.html">Popular Digital Piano</a></h3>
											<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>999.99</span>
											</span>
											<a rel="nofollow" href="cart.html" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a> </div>
									</div>
								</li>
								<li class="post-289 product type-product has-post-thumbnail  column-1_3 first">
									<div class="post_item_wrap">
										<div class="post_featured">
											<div class="post_thumb">
												<a class="hover_icon hover_icon_link" href="product.html">
													<img width="300" height="300" src="images/product-9-300x300.jpg" alt="product-9" title="product-9" /> </a>
											</div>
										</div>
										<div class="post_content">
											<h3><a href="product.html">Red 4-Piece Drum Set</a></h3>
											<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>129.99</span>
											</span>
											<a rel="nofollow" href="cart.html" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a> </div>
									</div>
								</li>
								<li class="post-275 product type-product has-post-thumbnail  column-1_3 ">
									<div class="post_item_wrap">
										<div class="post_featured">
											<div class="post_thumb">
												<a class="hover_icon hover_icon_link" href="product.html">
													<img width="300" height="300" src="images/product-2-300x300.jpg" alt="product-2" title="product-2" /> </a>
											</div>
										</div>
										<div class="post_content">
											<h3><a href="product.html">Series Full-Size Acoustic</a></h3>
											<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>209.99</span>
											</span>
											<a rel="nofollow" href="cart.html" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a> </div>
									</div>
								</li>
								<li class="post-287 product type-product has-post-thumbnail  column-1_3 last">
									<div class="post_item_wrap">
										<div class="post_featured">
											<div class="post_thumb">
												<a class="hover_icon hover_icon_link" href="product.html">
													<img width="300" height="300" src="images/product-8-300x300.jpg" alt="product-8" title="product-8" /> </a>
											</div>
										</div>
										<div class="post_content">
											<h3><a href="product.html">UJ5 5-Piece Drum Set</a></h3>
											<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>99.99</span>
											</span>
											<a rel="nofollow" href="cart.html" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a> </div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="sidebar widget_area scheme_light" role="complementary">
						<div class="sidebar_inner widget_area_inner">
							<aside id="woocommerce_widget_cart-2" class="widget_number_1 widget woocommerce widget_shopping_cart">
								<h5 class="widget_title">SHOPPING CART</h5>
								<div class="widget_shopping_cart_content">
									<ul class="cart_list product_list_widget ">
										<li class="mini_cart_item">
											<a href="#" class="remove" title="Remove this item">×</a>
											<a href="product.html"><img width="180" height="180" src="images/product-3-180x180.jpg" alt="product-3" />6-String Acoustic Guitar</a>
											<span class="quantity">1 × <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>799.99</span></span>
										</li>
									</ul><!-- end product list -->
									<p class="total"><strong>Subtotal:</strong> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>799.99</span></p>
									<p class="buttons">
										<a href="cart.html" class="button wc-forward">View Cart</a>
										<a href="checkout.html" class="button checkout wc-forward">Checkout</a>
									</p>
								</div>
							</aside><aside id="woocommerce_price_filter-2" class="widget_number_2 widget woocommerce widget_price_filter">
								<h5 class="widget_title">PRICE FILTER</h5>
								<form method="get" action="#">
									<div class="price_slider_wrapper">
										<div class="price_slider" style="display:none;"></div>
										<div class="price_slider_amount">
											<input type="text" id="min_price" name="min_price" value="" data-min="99" placeholder="Min price" />
											<input type="text" id="max_price" name="max_price" value="" data-max="999" placeholder="Max price" />
											<button type="submit" class="button">Filter</button>
											<div class="price_label" style="display:none;">
												Price: <span class="from"></span> &mdash; <span class="to"></span>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</form>
							</aside><aside id="woocommerce_product_categories-2" class="widget_number_3 widget woocommerce widget_product_categories">
								<h5 class="widget_title">CATEGORIES</h5>
								<ul class="product-categories">
									<li class="cat-item"><a href="#">Cello</a></li>
									<li class="cat-item"><a href="#">Double Bass</a></li>
									<li class="cat-item"><a href="#">Drums</a></li>
									<li class="cat-item"><a href="#">Guitar</a></li>
									<li class="cat-item"><a href="#">Piano</a></li>
									<li class="cat-item"><a href="#">Violin</a></li>
									<li class="cat-item"><a href="#">Voice</a></li>
								</ul>
							</aside>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright_wrap copyright_style_socials  scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
						</div>
						<div class="copyright_text">
							<p>Ancora © 2016 All Rights Reserved <a href="http://ancorathemes.com/">Terms of Use</a> and <a href="http://ancorathemes.com/">Privacy Policy</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
	<div class="custom_html_section"></div>
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/photostack/modernizr.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/frontend/woocommerce.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/superfish.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/jquery.slidemenu.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.utils.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.init.js'></script>
	<script type='text/javascript' src='js/vendor/theme.init.js'></script>
	<script type='text/javascript' src='js/vendor/shortcodes/theme.shortcodes.js'></script>
	<script type='text/javascript' src='js/vendor/ui/core.min.js'></script>
	<script type='text/javascript' src='js/vendor/ui/widget.min.js'></script>
	<script type='text/javascript' src='js/vendor/ui/mouse.min.js'></script>
	<script type='text/javascript' src='js/vendor/ui/slider.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/jquery-ui-touch-punch/jquery-ui-touch-punch.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/frontend/price-slider.min.js'></script>
	<script type='text/javascript' src='js/custom/custom.js'></script>
</body>
</html>
