<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<title>Shorcodes &#8211; Cheza Music School</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" id='chezaschool-font-google_fonts-style-css' type='text/css' media='all' href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i%7CLora:400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext">
	<link rel='stylesheet' id='chezaschool-fontello-style-css' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-animation-style-css' href='js/vendor/fw/css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-shortcodes-style-css' href='js/vendor/shortcodes/theme.shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-theme-style-css' href='css/theme.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-custom-style-css' href='css/custom.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-plugin.instagram-widget-style-css' href='css/plugin.instagram-widget.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-responsive-style-css' href='css/responsive.css' type='text/css' media='all' />
	<link rel='stylesheet' id='mediaelement-css' href='js/vendor/mediaelement/mediaelementplayer.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-swiperslider-style-css' href='js/vendor/fw/js/swiper/swiper.css' type='text/css' media='all' />
</head>
<body class="page page-id-61 page-template-default chezaschool_body body_style_wide body_filled article_style_stretch layout_single-standard template_single-standard scheme_original top_panel_show top_panel_above sidebar_show sidebar_right sidebar_outer_hide vc_responsive">
	<a id="toc_home" class="sc_anchor" title="Home" data-description="&lt;i&gt;Return to Home&lt;/i&gt; - &lt;br&gt;navigate to home page of the site" data-icon="icon-home" data-url="http://melody.ancorathemes.com/" data-separator="yes"></a>
	<a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>
			<header class="top_panel_wrap top_panel_style_6 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
					<div class="top_panel_middle">
						<div class="content_wrap">
							<div class="contact_logo">
								<div class="logo">
									<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"><img src="images/Untitled-1.png" class="logo_fixed" alt="" width="169" height="43"></a>
								</div>
							</div>
							<div class="menu_main_wrap">
								<nav class="menu_main_nav_area">
									<ul id="menu_main" class="menu_main_nav">
										<li class="menu-item menu-item-has-children"><a href="#">Home</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
												<li class="menu-item"><a href="home-2.html">Home 2</a></li>
												<li class="menu-item"><a href="home-3.html">Home 3</a></li>
											</ul>
										</li>
										<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">Pages</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="shop.html">Shop</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="classic.html">Classic</a></li>
														<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
																<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
															</ul>
														</li>
														<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
																<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
															</ul>
														</li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="grid.html">Grid</a></li>
														<li class="menu-item"><a href="masonry.html">Masonry</a></li>
														<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
													</ul>
												</li>
												<li class="menu-item current-menu-item page-item-619"><a href="{{path('default')}}">Shorcodes</a></li>
												<li class="menu-item"><a href="typography.html">Typography</a></li>
												<li class="menu-item"><a href="404.html">Page 404</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="customization.html">Customization</a></li>
														<li class="menu-item"><a href="support.html">Support</a></li>
														<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">About</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="about.html">About style 1</a></li>
												<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classes.html">Classes</a></li>
												<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
											</ul>
										</li>
										<li class="menu-item"><a href="contact.html">Contact</a></li>
										<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="header_mobile">
				<div class="content_wrap">
					<div class="menu_button icon-menu"></div>
					<div class="logo">
						<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"></a>
					</div>
				</div>
				<div class="side_wrap">
					<div class="close">Close</div>
					<div class="panel_top">
						<nav class="menu_main_nav_area">
							<ul id="menu_mobile" class="menu_main_nav">
								<li class="menu-item menu-item-has-children"><a href="#">Home</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
										<li class="menu-item"><a href="home-2.html">Home 2</a></li>
										<li class="menu-item"><a href="home-3.html">Home 3</a></li>
									</ul>
								</li>
								<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">Pages</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="shop.html">Shop</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classic.html">Classic</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
														<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
														<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="grid.html">Grid</a></li>
												<li class="menu-item"><a href="masonry.html">Masonry</a></li>
												<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
											</ul>
										</li>
										<li class="menu-item current-menu-item page-item-619"><a href="{{path('default')}}">Shorcodes</a></li>
										<li class="menu-item"><a href="typography.html">Typography</a></li>
										<li class="menu-item"><a href="404.html">Page 404</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="customization.html">Customization</a></li>
												<li class="menu-item"><a href="support.html">Support</a></li>
												<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">About</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="about.html">About style 1</a></li>
										<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="classes.html">Classes</a></li>
										<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
									</ul>
								</li>
								<li class="menu-item"><a href="contact.html">Contact</a></li>
								<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
							</ul>
						</nav>
					</div>
					<div class="panel_bottom">
					</div>
				</div>
				<div class="mask"></div>
			</div>
			<div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
				<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
					<div class="content_wrap">
						<h1 class="page_title">Shorcodes</h1>
						<div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Shorcodes</span></div>
					</div>
				</div>
			</div>
			<div class="page_content_wrap page_paddings_yes">
				<div class="content_wrap">
					<div class="content">
						<article class="itemscope post_item post_item_single post_featured_default post_format_standard post-61 page type-page hentry">
							<section class="post_content" itemprop="articleBody">
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="sc_section" data-animation="animated fadeInUp normal">
													<div class="sc_section_inner">
														<div class="sc_section_content_wrap">
															<h1 class="sc_title sc_title_regular margin_top_tiny-">Accordion</h1>
															<div class="sc_accordion margin_top_small" data-active="0">
																<div class="sc_accordion_item odd first">
																	<h5 class="sc_accordion_title"><span class="sc_accordion_icon sc_accordion_icon_closed icon-down"></span><span class="sc_accordion_icon sc_accordion_icon_opened icon-right"></span>TITLE 1</h5>
																	<div class="sc_accordion_content">
																		<div class="wpb_text_column wpb_content_element ">
																			<div class="wpb_wrapper">
																				<p>Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo condre. Gruitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hic estrogen. Glorious
																					baklava ex librus hup hey ad infinitum.</p>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="sc_accordion_item even">
																	<h5 class="sc_accordion_title"><span class="sc_accordion_icon sc_accordion_icon_closed icon-down"></span><span class="sc_accordion_icon sc_accordion_icon_opened icon-right"></span>TITLE 2</h5>
																	<div class="sc_accordion_content">
																		<div class="wpb_text_column wpb_content_element ">
																			<div class="wpb_wrapper">
																				<p>Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo condre. Gruitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hic estrogen. Glorious
																					baklava ex librus hup hey ad infinitum.</p>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="sc_accordion_item odd">
																	<h5 class="sc_accordion_title"><span class="sc_accordion_icon sc_accordion_icon_closed icon-down"></span><span class="sc_accordion_icon sc_accordion_icon_opened icon-right"></span>TITLE 3</h5>
																	<div class="sc_accordion_content">
																		<div class="wpb_text_column wpb_content_element ">
																			<div class="wpb_wrapper">
																				<p>Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo condre. Gruitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hic estrogen. Glorious
																					baklava ex librus hup hey ad infinitum.</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="sc_line sc_line_position_center_center"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="sc_section" data-animation="animated fadeInUp normal">
													<div class="sc_section_inner">
														<div class="sc_section_content_wrap">
															<h1 class="sc_title sc_title_regular margin_top_null margin_bottom_small">Tabs</h1>
															<div id="sc_tabs_2092802533" class="sc_tabs sc_tabs_style_1" data-active="0">
																<ul class="sc_tabs_titles">
																	<li class="sc_tabs_title first"><a href="#sc_tab_1453389873_1_9" class="theme_button" id="sc_tab_1453389873_1_9_tab">TAB 1 </a></li>
																	<li class="sc_tabs_title"><a href="#sc_tab_1453389873_2_6" class="theme_button" id="sc_tab_1453389873_2_6_tab">TAB 2</a></li>
																	<li class="sc_tabs_title last"><a href="#sc_tab_1457772835588_1" class="theme_button" id="sc_tab_1457772835588_1_tab">TAB 3</a></li>
																</ul>
																<div id="sc_tab_1453389873_1_9" class="sc_tabs_content odd first">
																	<div class="wpb_text_column wpb_content_element ">
																		<div class="wpb_wrapper">
																			<p>Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo condre. Gruitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hic estrogen. Glorious
																				baklava ex librus hup hey ad infinitum.</p>
																		</div>
																	</div>
																</div>
																<div id="sc_tab_1453389873_2_6" class="sc_tabs_content even">
																	<div class="wpb_text_column wpb_content_element ">
																		<div class="wpb_wrapper">
																			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
																				nisl ut aliquip ex ea commodo consequat. </p>
																		</div>
																	</div>
																</div>
																<div id="sc_tab_1457772835588_1" class="sc_tabs_content odd">
																	<div class="wpb_text_column wpb_content_element ">
																		<div class="wpb_wrapper">
																			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
																				nisl ut aliquip ex ea commodo consequat.</p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="sc_line sc_line_position_center_center"></div>
												<div class="sc_section" data-animation="animated fadeInUp normal">
													<div class="sc_section_inner">
														<div class="sc_section_content_wrap">
															<h1 class="sc_title sc_title_regular margin_top_null margin_bottom_small">Table</h1>
															<div class="sc_table">
																</p>
																<table>
																	<tbody>
																		<tr>
																			<th width="7%">#</th>
																			<th width="22.5%">Name</th>
																			<th style="text-align: left;">Description</th>
																			<th width="19%">Price</th>
																		</tr>
																		<tr align="center">
																			<td><span class="theme_color">1</span></td>
																			<td><span class="theme_color2">Item #1</span></td>
																			<td align="left">Lorem ipsum dolor sit amet, consectetur</td>
																			<td><span class="theme_color3">$10</span></td>
																		</tr>
																		<tr align="center">
																			<td><span class="theme_color">2</span></td>
																			<td><span class="theme_color2">Item #2</span></td>
																			<td align="left">Ut enim ad minim veniam</td>
																			<td><span class="theme_color3">$20</span></td>
																		</tr>
																		<tr align="center">
																			<td><span class="theme_color">3</span></td>
																			<td><span class="theme_color2">Item #3</span></td>
																			<td align="left">eiusmod tempor incididunt</td>
																			<td><span class="theme_color3">$70</span></td>
																		</tr>
																		<tr align="center">
																			<td><span class="theme_color">4</span></td>
																			<td><span class="theme_color2">Item #4</span></td>
																			<td align="left">Lorem ipsum dolor sit amet, consectetur</td>
																			<td><span class="theme_color3">$100</span></td>
																		</tr>
																		<tr align="center">
																			<td><span class="theme_color">5</span></td>
																			<td><span class="theme_color2">Item #5</span></td>
																			<td align="left">Lorem ipsum dolor sit amet, consectetur</td>
																			<td><span class="theme_color3">$350</span></td>
																		</tr>
																		<tr>
																			<td style="padding: 0 1em;" colspan="3">Total</td>
																			<td align="center">$11.110</td>
																		</tr>
																	</tbody>
																</table>
																<p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="sc_line sc_line_position_center_center"></div>
												<div class="sc_section" data-animation="animated fadeInUp normal">
													<div class="sc_section_inner">
														<div class="sc_section_content_wrap">
															<h1 class="sc_title sc_title_regular margin_top_null margin_bottom_small">Audio Player</h1>
															<div class="sc_audio_player sc_audio sc_audio_image" data-width="" data-height="" style="background-image: url(images/gitara.jpg)">
																<div class="sc_audio_header">
																	<h6 class="sc_audio_title">Geef mij maar Amsterdam</h6>
																	<div class="sc_audio_author"><span class="sc_audio_author_by">by </span><span class="sc_audio_author_name">Johnny Jordaan</span></div>
																</div>
																<div class="__sc_audio_container"><audio class="__sc_audio" src="http://leaf.dv.ancorathemes.com/wp-content/uploads/2016/03/sample-melody.mp3" width="" height="" data-title="Geef mij maar Amsterdam" data-author="Johnny Jordaan" data-image="images/gitara.jpg"></audio></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="sc_line sc_line_position_center_center"></div>
												<div class="sc_section" data-animation="animated fadeInUp normal">
													<div class="sc_section_inner">
														<div class="sc_section_content_wrap">
															<h1 class="sc_title sc_title_regular margin_top_null margin_bottom_small">Video Player</h1>
															<div class="sc_video_player">
																<div class="sc_video_frame" data-width="100%" data-height="659"><iframe class="video_frame" src="https://player.vimeo.com/video/95412997" width="100%" height="659" frameborder="0" webkitAllowFullScreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowFullScreen="allowFullScreen"></iframe></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="sc_line sc_line_position_center_center"></div>
												<div class="sc_section" data-animation="animated fadeInUp normal">
													<div class="sc_section_inner">
														<div class="sc_section_content_wrap">
															<h1 class="sc_title sc_title_regular margin_top_null margin_bottom_small">Slider</h1>
															<div id="sc_slider_1045913591" class="sc_slider sc_slider_swiper swiper-slider-container sc_slider_height_auto sc_slider_controls sc_slider_nopagination sc_slider_bg" data-interval="6448">
																<div class="slides swiper-wrapper" style="">
																	<div class="swiper-slide" style="background-image:url(images/image-15.jpg);width:100%;"></div>
																	<div class="swiper-slide" style="background-image:url(images/image-16.jpg);width:100%;"></div>
																	<div class="swiper-slide" style="background-image:url(images/image-8.jpg);width:100%;"></div>
																	<div class="swiper-slide" style="background-image:url(images/image-17.jpg);width:100%;"></div>
																	<div class="swiper-slide" style="background-image:url(images/image-18.jpg);width:100%;"></div>
																	<div class="swiper-slide" style="background-image:url(images/image-5.jpg);width:100%;"></div>
																	<div class="swiper-slide" style="background-image:url(images/image-4-1.jpg);width:100%;"></div>
																	<div class="swiper-slide" style="background-image:url(images/image-1.jpg);width:100%;"></div>
																	<div class="swiper-slide" style="background-image:url(images/image-2.jpg);width:100%;"></div>
																	<div class="swiper-slide" style="background-image:url(images/image-3.jpg);width:100%;"></div>
																</div>
																<div class="sc_slider_controls_wrap">
																	<a class="sc_slider_prev" href="#"></a>
																	<a class="sc_slider_next" href="#"></a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="sc_line sc_line_position_center_center"></div>
												<h1 class="sc_title sc_title_regular margin_top_null margin_bottom_medium">Inputs &amp; Buttons</h1>
												<div class="sc_section sc_section_block ">
													<div class="sc_section_inner">
														<div class="sc_section_content_wrap">
															<div class="wpb_raw_code wpb_content_element wpb_raw_html">
																<div class="wpb_wrapper">
																	<div class="input_field"><select><option value="">Dropdown input field example</option></select></div>
																</div>
															</div>
															<div class="wpb_raw_code wpb_content_element wpb_raw_html">
																<div class="wpb_wrapper">
																	<div class="input_field dropdown"><input type="text" placeholder="Input field example"></div>
																</div>
															</div>															
															<div class="wpb_raw_code wpb_content_element wpb_raw_html">
																<div class="wpb_wrapper">
																	<div class="input_field hovered required"><input type="text" placeholder="Focused input field example"></div>
																</div>
															</div>
															<div class="wpb_raw_code wpb_content_element wpb_raw_html">
																<div class="wpb_wrapper">
																	<div class="input_field valid required"><input type="text" placeholder="Hovered input field example">
																		<div class="input_err">Please enter a valid email</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="sc_section sc_section_block ">
													<div class="sc_section_inner">
														<div class="sc_section_content_wrap"><a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small red">Normal Button</a></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="sc_line sc_line_position_center_center"></div>
												<div class="sc_section" data-animation="animated fadeInUp normal">
													<div class="sc_section_inner">
														<div class="sc_section_content_wrap">
															<h1 class="sc_title sc_title_regular margin_top_null margin_bottom_small">Alert message</h1>
															<div class="sc_infobox sc_infobox_style_regular sc_infobox_closeable sc_infobox_iconed icon-cogs"><span class="infobox_title">General message</span> Defacto lingo est igpay atinlay.</div>
															<div class="sc_infobox sc_infobox_style_success sc_infobox_closeable sc_infobox_iconed icon-ok"><span class="infobox_title">Success message</span> Defacto lingo est igpay atinlay.</div>
															<div class="sc_infobox sc_infobox_style_result sc_infobox_closeable custom_infobox sc_infobox_iconed icon-warning-empty"><span class="infobox_title">Warning message</span>Defacto lingo est igpay atinlay.</div>
															<div class="sc_infobox sc_infobox_style_info sc_infobox_closeable sc_infobox_iconed icon-info-circled-alt"><span class="infobox_title">Information message</span> Defacto lingo est igpay atinlay.</div>
															<div class="sc_infobox sc_infobox_style_error sc_infobox_closeable margin_bottom_null sc_infobox_iconed icon-attention-1"><span class="infobox_title">Error message</span> Defacto lingo est igpay atinlay.</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="sc_line sc_line_position_center_center"></div>
												<div class="sc_section" data-animation="animated fadeInUp normal">
													<div class="sc_section_inner">
														<div class="sc_section_content_wrap">
															<h1 class="sc_title sc_title_regular margin_top_null margin_bottom_small">Google Map</h1>
															<div id="sc_googlemap_46116255" class="sc_googlemap" style="width:100%;height:28.62em;" data-zoom="16" data-style="simple">
																<div id="sc_googlemap_46116255_1" class="sc_googlemap_marker" data-title="" data-description="110 E 16th St, New York, NY" data-address="London" data-latlng="" data-point="images/gmap.png"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
					<div class="vc_row wpb_row">
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="sc_line sc_line_position_center_center"></div>
									<div class="sc_section" data-animation="animated fadeInUp normal">
										<div class="sc_section_inner">
											<div class="sc_section_content_wrap">
												<h1 class="sc_title sc_title_regular margin_top_null margin_bottom_medium">Progress bar</h1>
												<div id="sc_skills_diagram_515274559" class="sc_skills sc_skills_pie sc_skills_compact_on progress_bar " style="max-width: 565px;" data-type="pie" data-caption="Skills">
													<div class="sc_skills_legend">
														<div class="sc_skills_legend_item"><span class="sc_skills_legend_marker" style="background-color:#59c6bc"></span><span class="sc_skills_legend_title">Annual audit preparation</span><span class="sc_skills_legend_value">35</span></div>
														<div class="sc_skills_legend_item"><span class="sc_skills_legend_marker" style="background-color:#77e5db"></span><span class="sc_skills_legend_title">Coaching and advising</span><span class="sc_skills_legend_value">35</span></div>
														<div class="sc_skills_legend_item"><span class="sc_skills_legend_marker" style="background-color:#3ba399"></span><span class="sc_skills_legend_title">Results reporting</span><span class="sc_skills_legend_value">17</span></div>
														<div class="sc_skills_legend_item"><span class="sc_skills_legend_marker" style="background-color:#207870"></span><span class="sc_skills_legend_title">Write-up work</span><span class="sc_skills_legend_value">13</span></div>
													</div>
													<div id="sc_skills_diagram_515274559_pie" class="sc_skills_item"><canvas id="sc_skills_diagram_515274559_pie_canvas" class="sc_skills_pie_canvas"></canvas>
														<div class="sc_skills_data" style="display:none;">
															<div class="pie" data-start="0" data-stop="35" data-step="1" data-steps="100" data-max="100" data-speed="33" data-duration="1155" data-color="#59c6bc" data-bg_color="#ffffff" data-border_color="#d6d7da" data-cutout="70" data-easing="easeOutCirc"
																			data-ed="%"><input type="hidden" class="text" value="Annual audit preparation" /><input type="hidden" class="percent" value="35" /><input type="hidden" class="color" value="#59c6bc" /></div>
														<div class="pie" data-start="0" data-stop="35" data-step="1"
																		data-steps="100" data-max="100" data-speed="10" data-duration="350" data-color="#77e5db" data-bg_color="#ffffff" data-border_color="#d6d7da" data-cutout="70" data-easing="easeOutCirc" data-ed="%"><input type="hidden" class="text" value="Coaching and advising" /><input type="hidden" class="percent" value="35" /><input type="hidden" class="color" value="#77e5db" /></div>
													<div class="pie" data-start="0" data-stop="17" data-step="1" data-steps="100"
																	data-max="100" data-speed="24" data-duration="408" data-color="#3ba399" data-bg_color="#ffffff" data-border_color="#d6d7da" data-cutout="70" data-easing="easeOutCirc" data-ed="%"><input type="hidden" class="text" value="Results reporting" /><input type="hidden" class="percent" value="17" /><input type="hidden" class="color" value="#3ba399" /></div>
												<div class="pie" data-start="0" data-stop="13" data-step="1" data-steps="100"
																data-max="100" data-speed="24" data-duration="312" data-color="#207870" data-bg_color="#ffffff" data-border_color="#d6d7da" data-cutout="70" data-easing="easeOutCirc" data-ed="%"><input type="hidden" class="text" value="Write-up work" /><input type="hidden" class="percent" value="13" /><input type="hidden" class="color" value="#207870" /></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="vc_row wpb_row">
		<div class="wpb_column vc_column_container vc_col-sm-12">
			<div class="vc_column-inner ">
				<div class="wpb_wrapper">
					<div class="sc_line sc_line_position_center_center"></div>
					<div class="sc_section" data-animation="animated fadeInUp normal">
						<div class="sc_section_inner">
							<div class="sc_section_content_wrap">
								<h1 class="sc_title sc_title_regular margin_top_null margin_bottom_small">Skills</h1>
								<div id="sc_skills_diagram_1252661482" class="sc_skills sc_skills_bar sc_skills_horizontal" style="max-width: 370px;" data-type="bar" data-caption="Skills" data-dir="horizontal">
									<div class="sc_skills_info">
										<div class="sc_skills_label">Content Submission</div>
									</div>
									<div class="sc_skills_item sc_skills_style_1 odd first">
										<div class="sc_skills_count" style="background-color:#59c6bc; border-color:#59c6bc"></div>
										<div class="sc_skills_total" data-start="0" data-stop="98" data-step="1" data-max="100" data-speed="24" data-duration="2352" data-ed="%">0%</div>
									</div>
									<div class="sc_skills_info">
										<div class="sc_skills_label">Web Design</div>
									</div>
									<div class="sc_skills_item sc_skills_style_1 even">
										<div class="sc_skills_count" style="background-color:#59c6bc; border-color:#59c6bc"></div>
										<div class="sc_skills_total" data-start="0" data-stop="66" data-step="1" data-max="100" data-speed="39" data-duration="2574" data-ed="%">0%</div>
									</div>
									<div class="sc_skills_info">
										<div class="sc_skills_label">Keywords</div>
									</div>
									<div class="sc_skills_item sc_skills_style_1 odd">
										<div class="sc_skills_count" style="background-color:#59c6bc; border-color:#59c6bc"></div>
										<div class="sc_skills_total" data-start="0" data-stop="87" data-step="1" data-max="100" data-speed="28" data-duration="2436" data-ed="%">0%</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="vc_row wpb_row">
		<div class="wpb_column vc_column_container vc_col-sm-12">
			<div class="vc_column-inner ">
				<div class="wpb_wrapper">
					<div class="sc_line sc_line_position_center_center"></div>
					<div class="sc_section" data-animation="animated fadeInUp normal" style="max-width: 370px;">
						<div class="sc_section_inner">
							<div class="sc_section_content_wrap">
								<h1 class="sc_title sc_title_regular margin_top_null margin_bottom_small">Separators</h1>
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<p>Solid grey</p>
									</div>
								</div>
								<div class="sc_line sc_line_position_center_center" style="margin-top: 0.45em; margin-bottom: 1.15em;border-top-style:solid;border-top-color:#efeeed;"></div>
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<p>Solid turquoise</p>
									</div>
								</div>
								<div class="sc_line sc_line_position_center_center" style="margin-top: 0.45em; margin-bottom: 1.15em;border-top-style:solid;border-top-color:#59c6bc;"></div>
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<p>Solid yellow</p>
									</div>
								</div>
								<div class="sc_line sc_line_position_center_center" style="margin-top: 0.45em; margin-bottom: 1.15em;border-top-style:solid;border-top-color:#fff568;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="vc_row wpb_row">
		<div class="wpb_column vc_column_container vc_col-sm-12">
			<div class="vc_column-inner ">
				<div class="wpb_wrapper">
					<div class="sc_line sc_line_position_center_center"></div>
					<h1 class="sc_title sc_title_regular margin_top_null margin_bottom_medium">Team</h1>
					<div id="sc_team_1224474715_wrap" class="sc_team_wrap">
						<div id="sc_team_1224474715" class="sc_team sc_team_style_team-1  margin_bottom_small-">
							<div class="sc_columns columns_wrap">
								<div class="column-1_3 column_padding_bottom">
									<div id="sc_team_1224474715_1" class="sc_team_item sc_team_item_1 odd first">
										<div class="sc_team_item_avatar"><img class="wp-post-image" width="370" height="370" alt="Amanda Snow" src="images/team-2-370x370.jpg"></div>
										<div class="sc_team_item_info">
											<h3 class="sc_team_item_title"><a href="single-member.html">Amanda Snow</a></h3>
											<div class="sc_team_item_position">professional pianist</div>
											<div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
												<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
												<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
												<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
											</div>
										</div>
									</div>
								</div><div class="column-1_3 column_padding_bottom">
									<div id="sc_team_1224474715_2" class="sc_team_item sc_team_item_2 even">
										<div class="sc_team_item_avatar"><img class="wp-post-image" width="370" height="370" alt="Terry Barton" src="images/team-3-370x370.jpg"></div>
										<div class="sc_team_item_info">
											<h3 class="sc_team_item_title"><a href="single-member.html">Terry Barton</a></h3>
											<div class="sc_team_item_position">professional violinist</div>
											<div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
												<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
												<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
												<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
											</div>
										</div>
									</div>
								</div><div class="column-1_3 column_padding_bottom">
									<div id="sc_team_1224474715_3" class="sc_team_item sc_team_item_3 odd">
										<div class="sc_team_item_avatar"><img class="wp-post-image" width="370" height="370" alt="Tim Caroll" src="images/team-1-370x370.jpg"></div>
										<div class="sc_team_item_info">
											<h3 class="sc_team_item_title"><a href="single-member.html">Tim Caroll</a></h3>
											<div class="sc_team_item_position">professional cellist</div>
											<div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
												<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
												<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
												<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
	<section class="related_wrap related_wrap_empty"></section>
	</article>
	</div>
	<div class="sidebar widget_area scheme_original" role="complementary">
		<div class="sidebar_inner widget_area_inner">
			<aside id="categories-2" class="widget_number_1 widget widget_categories">
				<h5 class="widget_title">Categories</h5>
				<ul>
					<li class="cat-item cat-item-6"><a href="classic.html">Chamber ensembles</a></li>
					<li class="cat-item cat-item-5"><a href="classic.html">Jazz ensembles</a></li>
					<li class="cat-item cat-item-7"><a href="classic.html">Music technology</a></li>
					<li class="cat-item cat-item-4"><a href="classic.html">Musicianship</a></li>
					<li class="cat-item cat-item-8"><a href="classic.html">Piano classes</a></li>
					<li class="cat-item cat-item-3"><a href="classic.html">Voice</a></li>
				</ul>
			</aside>
			<aside id="chezaschool_widget_recent_posts-2" class="widget_number_2 widget widget_recent_posts">
				<h5 class="widget_title">Recent posts</h5>
				<article class="post_item with_thumb first">
					<div class="widget_area_top">
						<div class="post_thumb"><img class="wp-post-image" width="75" height="75" alt="International Piano Festival" src="images/image-1-75x75.jpg"></div>
						<div class="post_content">
							<h6 class="post_title"><a href="single-post.html">International Piano Festival</a></h6>
						</div>
						<div class="post_info"><span class="post_info_item post_info_posted"><a href="single-post.html" class="post_info_date">May 5, 2016</a></span><span class="post_info_item post_info_counters"><a href="single-post.html#comments" class="post_counters_item post_counters_comments icon-comment"><span class="post_counters_number">3</span></a>
							</span>
						</div>
					</div>
					<div class="widget_area_bottom"></div>
				</article>
				<article class="post_item with_thumb">
					<div class="widget_area_top">
						<div class="post_thumb"><img class="wp-post-image" width="75" height="75" alt="Columbia Kids Week" src="images/image-2-75x75.jpg"></div>
						<div class="post_content">
							<h6 class="post_title"><a href="single-post.html">Columbia Kids Week</a></h6>
						</div>
						<div class="post_info"><span class="post_info_item post_info_posted"><a href="single-post.html" class="post_info_date">May 5, 2016</a></span><span class="post_info_item post_info_counters"><a href="single-post.html#respond" class="post_counters_item post_counters_comments icon-comment"><span class="post_counters_number">0</span></a>
							</span>
						</div>
					</div>
					<div class="widget_area_bottom"></div>
				</article>
			</aside>
			<aside id="calendar-2" class="widget_number_3 widget widget_calendar">
				<h5 class="widget_title">Calendar</h5>
				<div id="calendar_wrap" class="calendar_wrap">
					<table id="wp-calendar-86403040" class="wp-calendar">
						<thead>
							<tr>
								<th class="month_prev">
									<a href="#" data-type="post" data-year="2016" data-month="05" data-letter="1" title="View posts for May 2016"></a>
								</th>
								<th class="month_cur" colspan="5">February <span>2017</span></th>
								<th class="month_next">&nbsp;</th>
							</tr>
							<tr>
								<th class="weekday" scope="col" title="Monday">M</th>
								<th class="weekday" scope="col" title="Tuesday">T</th>
								<th class="weekday" scope="col" title="Wednesday">W</th>
								<th class="weekday" scope="col" title="Thursday">T</th>
								<th class="weekday" scope="col" title="Friday">F</th>
								<th class="weekday" scope="col" title="Saturday">S</th>
								<th class="weekday" scope="col" title="Sunday">S</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="2" class="pad"><span class="day_wrap">&nbsp;</span></td>
								<td class="day"><span class="day_wrap">1</span></td>
								<td class="day"><span class="day_wrap">2</span></td>
								<td class="today"><span class="day_wrap">3</span></td>
								<td class="day"><span class="day_wrap">4</span></td>
								<td class="day"><span class="day_wrap">5</span></td>
							</tr>
							<tr>
								<td class="day"><span class="day_wrap">6</span></td>
								<td class="day"><span class="day_wrap">7</span></td>
								<td class="day"><span class="day_wrap">8</span></td>
								<td class="day"><span class="day_wrap">9</span></td>
								<td class="day"><span class="day_wrap">10</span></td>
								<td class="day"><span class="day_wrap">11</span></td>
								<td class="day"><span class="day_wrap">12</span></td>
							</tr>
							<tr>
								<td class="day"><span class="day_wrap">13</span></td>
								<td class="day"><span class="day_wrap">14</span></td>
								<td class="day"><span class="day_wrap">15</span></td>
								<td class="day"><span class="day_wrap">16</span></td>
								<td class="day"><span class="day_wrap">17</span></td>
								<td class="day"><span class="day_wrap">18</span></td>
								<td class="day"><span class="day_wrap">19</span></td>
							</tr>
							<tr>
								<td class="day"><span class="day_wrap">20</span></td>
								<td class="day"><span class="day_wrap">21</span></td>
								<td class="day"><span class="day_wrap">22</span></td>
								<td class="day"><span class="day_wrap">23</span></td>
								<td class="day"><span class="day_wrap">24</span></td>
								<td class="day"><span class="day_wrap">25</span></td>
								<td class="day"><span class="day_wrap">26</span></td>
							</tr>
							<tr>
								<td class="day"><span class="day_wrap">27</span></td>
								<td class="day"><span class="day_wrap">28</span></td>
								<td class="pad" colspan="5"><span class="day_wrap">&nbsp;</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</aside>
			<aside id="null-instagram-feed-2" class="widget_number_4 widget null-instagram-feed">
				<h5 class="widget_title">Instagram</h5>
				<ul class="instagram-pics instagram-size-large">
					<li class="">
						<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13129870_1728198570761597_1172591156_ne228.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
					</li>
					<li class="">
						<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13150775_1018598524889774_1388242671_nb27f.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
					</li>
					<li class="">
						<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13129145_1720399108173000_2090809450_nbf68.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
					</li>
					<li class="">
						<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13116786_1144877578876477_266188708_n0d6d.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
					</li>
					<li class="">
						<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13129660_660889660715453_1695863233_n5713.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
					</li>
					<li class="">
						<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13116553_603325526502238_1571230446_n46e6.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
					</li>
				</ul>
			</aside>
			<aside id="search-2" class="widget_number_5 widget widget_search">
				<form role="search" method="get" class="search_form" action="#"><input type="text" class="search_field" placeholder="SEARCH &hellip;" value="" name="s" title="Search for:" /><button type="submit" class="search_button icon-search" href="#"></button></form>
			</aside>
			<aside id="archives-2" class="widget_number_6 widget widget_archive">
				<h5 class="widget_title">Archive</h5>
				<ul>
					<li><a href='#'>May 2016</a></li>
					<li><a href='#'>April 2016</a></li>
					<li><a href='#'>March 2016</a></li>
					<li><a href='#'>February 2016</a></li>
					<li><a href='#'>January 2016</a></li>
				</ul>
			</aside>
			<aside id="meta-2" class="widget_number_7 widget widget_meta">
				<h5 class="widget_title">Meta</h5>
				<ul>
					<li><a href="#">Log in</a></li>
					<li><a href="#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
					<li><a href="#">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
					<li><a href="#" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
				</ul>
			</aside>
			<aside id="chezaschool_widget_recent_reviews-2" class="widget_number_8 widget widget_recent_reviews">
				<h5 class="widget_title">Rating</h5>
				<div class="recent_reviews">
					<article class="post_item with_thumb first">
						<div class="widget_area_top">
							<div class="post_thumb"><img class="wp-post-image" width="75" height="75" alt="Festival of Flutes" src="images/image-3-75x75.jpg"></div>
							<div class="post_content">
								<h6 class="post_title"><a href="single-post.html">Festival of Flutes</a></h6>
								<div class="post_rating reviews_summary blog_reviews">
									<div class="criteria_summary criteria_row">
										<div class="reviews_stars reviews_style_stars" data-mark="2.5">
											<div class="reviews_stars_wrap">
												<div class="reviews_stars_bg"><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span></div>
												<div class="reviews_stars_hover" style="width:50%"><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span></div>
											</div>
											<div class="reviews_value">2.5</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="widget_area_bottom">
							<div class="post_info"></div>
						</div>
					</article>
					<article class="post_item with_thumb">
						<div class="widget_area_top">
							<div class="post_thumb"><img class="wp-post-image" width="75" height="75" alt="Viola and Composition departments collaborate" src="images/image-8-75x75.jpg"></div>
							<div class="post_content">
								<h6 class="post_title"><a href="2016/single-post.html">Viola and Composition departments collaborate</a></h6>
								<div class="post_rating reviews_summary blog_reviews">
									<div class="criteria_summary criteria_row">
										<div class="reviews_stars reviews_style_stars" data-mark="3.8">
											<div class="reviews_stars_wrap">
												<div class="reviews_stars_bg"><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span></div>
												<div class="reviews_stars_hover" style="width:76%"><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span></div>
											</div>
											<div class="reviews_value">3.8</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="widget_area_bottom">
							<div class="post_info"></div>
						</div>
					</article>
				</div>
			</aside>
			<aside id="rss-2" class="widget_number_9 widget widget_rss">
				<h5 class="widget_title"><a class="rsswidget" href="#"></a> <a class="rsswidget" href="#">RSS Feed</a></h5>
				<ul>
					<li><a class='rsswidget' href='#'>Angelina Jolie slams Trump travel ban, calls for &#039;compassionate America&#039;</a> <span class="rss-date">February 3, 2017</span></li>
					<li><a class='rsswidget' href='#'>Parents of Canadian &#039;Sharkwater&#039; filmmaker have hope for missing son</a> <span class="rss-date">February 2, 2017</span></li>
				</ul>
			</aside>
		</div>
	</div>
	</div>
	</div>
	<footer class="footer_wrap widget_area scheme_original">
		<div class="footer_wrap_inner widget_area_inner">
			<div class="content_wrap">
				<div class="columns_wrap">
					<aside id="text-2" class="widget_number_1 column-1_3 widget widget_text">
						<h5 class="widget_title">Address</h5>
						<div class="textwidget"><span class="sc_icon icon-location-1"></span><span>110 E 16th St<br>New York, NY</span></div>
					</aside><aside id="chezaschool_widget_twitter-2" class="widget_number_2 column-1_3 widget widget_twitter">
						<h5 class="widget_title">Twitter</h5>
						<ul>
							<li class="theme_text last">Investment Advisor Services is a modern, flexible and highly customizable theme for your financial, business, corporate, personal needs.<a href="#" class="username" target="_blank">@investadvisor_1</a></li>
						</ul>
					</aside><aside id="text-3" class="widget_number_3 column-1_3 widget widget_text">
						<h5 class="widget_title">Open hours</h5>
						<div class="textwidget"><span class="sc_icon icon-clock-empty"></span><span>Monday - Friday: 12pm - 8pm<br>Saturday: 10am - 2pm</span></div>
					</aside>
				</div>
			</div>
		</div>
	</footer>
	<div class="copyright_wrap copyright_style_socials  scheme_original">
		<div class="copyright_wrap_inner">
			<div class="content_wrap">
				<div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
					<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
					<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
					<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
				</div>
				<div class="copyright_text">
					<p>Ancora © 2016 All Rights Reserved <a href="http://ancorathemes.com/">Terms of Use</a> and <a href="http://ancorathemes.com/">Privacy Policy</a></p>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
	<div class="custom_html_section"></div>
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/photostack/modernizr.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/superfish.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/jquery.slidemenu.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.utils.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.init.js'></script>
	<script type='text/javascript' src='js/vendor/theme.init.js'></script>
	<script type='text/javascript' src='js/vendor/mediaelement/mediaelement-and-player.min.js'></script>
	<script type='text/javascript' src='js/vendor/shortcodes/theme.shortcodes.js'></script>
	<script type='text/javascript' src='js/vendor/ui/core.min.js'></script>
	<script type='text/javascript' src='js/vendor/ui/widget.min.js'></script>
	<script type='text/javascript' src='js/vendor/ui/accordion.min.js'></script>
	<script type='text/javascript' src='js/vendor/ui/tabs.min.js'></script>
	<script type='text/javascript' src='js/vendor/ui/effect.min.js'></script>
	<script type='text/javascript' src='js/vendor/ui/effect-fade.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/swiper/swiper.js'></script>
	<script type='text/javascript' src='http://maps.google.com/maps/api/js?key=AIzaSyBzpci4eemBfbOo2f8ZZbQFHDS9fNTMRc0&amp;rnd=676097854'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.googlemap.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/diagram/chart.min.js'></script>
	<script type='text/javascript' src='js/custom/custom.js'></script>
</body>
</html>
