<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<title>International Piano Festival &#8211; Cheza Music School</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" id='chezaschool-font-google_fonts-style-css' type='text/css' media='all' href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i%7CLora:400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext">
	<link rel='stylesheet' id='chezaschool-fontello-style-css' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-animation-style-css' href='js/vendor/fw/css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-shortcodes-style-css' href='js/vendor/shortcodes/theme.shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-theme-style-css' href='css/theme.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-plugin.instagram-widget-style-css' href='css/plugin.instagram-widget.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-plugin.learndash-style-css' href='css/plugin.learndash.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-responsive-style-css' href='css/responsive.css' type='text/css' media='all' />
	<link rel='stylesheet' id='mediaelement-css' href='js/vendor/mediaelement/mediaelementplayer.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='wp-mediaelement-css' href='js/vendor/mediaelement/wp-mediaelement.min.css' type='text/css' media='all' />
	<link property="stylesheet" rel='stylesheet' id='chezaschool-prettyphoto-style-css' href='js/vendor/fw/js/prettyphoto/css/prettyPhoto.css' type='text/css' media='all' />
</head>
<body class="single single-post postid-203 single-format-standard chezaschool_body body_style_wide body_filled article_style_stretch layout_single-standard template_single-standard scheme_original top_panel_show top_panel_above sidebar_show sidebar_right sidebar_outer_hide vc_responsive">
	<a id="toc_home" class="sc_anchor" title="Home" data-description="&lt;i&gt;Return to Home&lt;/i&gt; - &lt;br&gt;navigate to home page of the site" data-icon="icon-home" data-url="http://melody.ancorathemes.com/" data-separator="yes"></a>
	<a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>
			<header class="top_panel_wrap top_panel_style_6 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
					<div class="top_panel_middle">
						<div class="content_wrap">
							<div class="contact_logo">
								<div class="logo">
									<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"><img src="images/Untitled-1.png" class="logo_fixed" alt="" width="169" height="43"></a>
								</div>
							</div>
							<div class="menu_main_wrap">
								<nav class="menu_main_nav_area">
									<ul id="menu_main" class="menu_main_nav">
										<li class="menu-item menu-item-has-children"><a href="#">Home</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
												<li class="menu-item"><a href="home-2.html">Home 2</a></li>
												<li class="menu-item"><a href="home-3.html">Home 3</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="shop.html">Shop</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="classic.html">Classic</a></li>
														<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
																<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
															</ul>
														</li>
														<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
																<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
															</ul>
														</li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="grid.html">Grid</a></li>
														<li class="menu-item"><a href="masonry.html">Masonry</a></li>
														<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
													</ul>
												</li>
												<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
												<li class="menu-item"><a href="typography.html">Typography</a></li>
												<li class="menu-item"><a href="404.html">Page 404</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="customization.html">Customization</a></li>
														<li class="menu-item"><a href="support.html">Support</a></li>
														<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">About</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="about.html">About style 1</a></li>
												<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classes.html">Classes</a></li>
												<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
											</ul>
										</li>
										<li class="menu-item"><a href="contact.html">Contact</a></li>
										<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="header_mobile">
				<div class="content_wrap">
					<div class="menu_button icon-menu"></div>
					<div class="logo">
						<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"></a>
					</div>
				</div>
				<div class="side_wrap">
					<div class="close">Close</div>
					<div class="panel_top">
						<nav class="menu_main_nav_area">
							<ul id="menu_mobile" class="menu_main_nav">
								<li class="menu-item menu-item-has-children"><a href="#">Home</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
										<li class="menu-item"><a href="home-2.html">Home 2</a></li>
										<li class="menu-item"><a href="home-3.html">Home 3</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="shop.html">Shop</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classic.html">Classic</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
														<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
														<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="grid.html">Grid</a></li>
												<li class="menu-item"><a href="masonry.html">Masonry</a></li>
												<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
											</ul>
										</li>
										<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
										<li class="menu-item"><a href="typography.html">Typography</a></li>
										<li class="menu-item"><a href="404.html">Page 404</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="customization.html">Customization</a></li>
												<li class="menu-item"><a href="support.html">Support</a></li>
												<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">About</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="about.html">About style 1</a></li>
										<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="classes.html">Classes</a></li>
										<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
									</ul>
								</li>
								<li class="menu-item"><a href="contact.html">Contact</a></li>
								<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
							</ul>
						</nav>
					</div>
					<div class="panel_bottom">
					</div>
				</div>
				<div class="mask"></div>
			</div>
			<div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
				<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
					<div class="content_wrap">
						<h1 class="page_title">International Piano Festival</h1>
						<div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><a class="breadcrumbs_item cat_post" href="classic.html">Jazz ensembles</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">International Piano Festival</span></div>
					</div>
				</div>
			</div>
			<div class="page_content_wrap page_paddings_yes">
				<div class="content_wrap">
					<div class="content">
						<article class="itemscope post_item post_item_single post_featured_default post_format_standard post-203 post type-post format-standard has-post-thumbnail hentry category-jazz-ensembles category-music-technology category-piano-classes tag-kids tag-orchestra tag-private-lessons">
							<div class="post_info">
								<span class="post_info_item post_info_posted"> <a href="{{path('default')}}" class="post_info_date date updated" itemprop="datePublished" content="2016-05-05 12:35:16">May 5, 2016</a></span>
								<span class="post_info_item post_info_posted_by icon-user-light vcard" itemprop="author">by <a href="author/admin/{{path('default')}}" class="post_info_author">Mike Newton</a></span>
								<span class="post_info_item post_info_counters"> <a class="post_counters_item post_counters_comments icon-comment" title="Comments - 3" href="{{path('default')}}#comments"><span class="post_counters_number">3 comments</span></a>
								</span>
							</div>
							<section class="post_featured">
								<div class="post_thumb" data-image="images/image-1.jpg" data-title="International Piano Festival">
									<a class="hover_icon hover_icon_view" href="images/image-1.jpg" title="International Piano Festival"><img class="wp-post-image" width="1170" height="659" alt="International Piano Festival" src="images/image-1-1170x659.jpg" itemprop="image"></a>
								</div>
							</section>
							<section class="post_content" itemprop="articleBody">
								<p>Lorem ipsum dolor sit amet, ei has idque malorum indoctum. Discere blandit consectetuer sea eu. Eos porro constituam et, no pro regione dolores. Eligendi tractatos sententiae quo an, aliquam eligendi dissentiet quo ea. Nec no utamur pertinacia.
									In delenit volumus his, vix at nobis graece. An mea voluptua eloquentiam.</p>
								<p>Nec magna tacimates assueverit ei. Cetero utamur accumsan no sea. Te movet pertinax pri, pri dicam delectus appellantur in, ea eripuit apeirian lobortis mei. Sumo omnes erroribus ex sea, idque deserunt recteque nam ex, sit eros aeque probatus
									ne. Moderatius definitionem mea id, vel ea lorem molestie accusamus.</p>
								<p>Eam fastidii adversarium ex. Quodsi dolorum theophrastus ei pri, mea suas habeo tation ne, cum ea iriure nonumes percipitur. Nam te delectus gubergren democritum, id autem ridens malorum eos. An vel ancillae copiosae, at volumus phaedrum sea.
									Cum laoreet inciderint id, eum oratio aliquid at.</p>
								<p>Per veritus perpetua scribentur ne, per ad dicunt animal, ne mei idque regione. Quaeque senserit eos ei. Ei his nostrum torquatos vituperata. Minim oblique quaestio no vim. Cu nec wisi petentium voluptatibus, eirmod ceteros eam ne. Epicurei maluisset
									ex vel, vix denique expetendis no.</p>
								<p>Eius assentior eu est. Nec eu purto porro instructior. Hinc consetetur dissentiet sed at. Natum cetero oporteat no his, legere assentior mea et. Ut vitae platonem adversarium eam, ne noluisse delectus cum. Unum vide eu qui.</p>
								<div class="post_info post_info_bottom">
									<span class="post_info_item post_info_tags">Tags: <a class="post_tag_link" href="tag/kids/{{path('default')}}">Kids</a>, <a class="post_tag_link" href="tag/orchestra/{{path('default')}}">Orchestra</a>, <a class="post_tag_link" href="tag/private-lessons/{{path('default')}}">Private lessons</a></span>
								</div>
							</section>
							<div class="post_info post_info_bottom post_info_share post_info_share_horizontal">
								<div class="sc_socials sc_socials_size_small sc_socials_share sc_socials_dir_horizontal"><span class="share_caption">Share:</span>
									<div class="sc_socials_item social_item_popup"><a href="#" class="social_icons social_facebook" data-link="#" data-count="facebook"><span class="icon-facebook"></span></a></div>
									<div class="sc_socials_item social_item_popup"><a href="#" class="social_icons social_twitter" data-link="#" data-count="twitter"><span class="icon-twitter"></span></a></div>
									<div class="sc_socials_item social_item_popup"><a href="#" class="social_icons social_gplus" data-link="#" data-count="gplus"><span class="icon-gplus"></span></a></div>
								</div>
							</div>
							<section class="post_author author vcard" itemprop="author" itemtype="http://schema.org/Person">
								<div class="post_author_avatar">
									<a href="author/admin/{{path('default')}}" itemprop="image"><img alt='' src='http://2.gravatar.com/avatar/8979720d3c48d311027d086f6e15c72b?s=78&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/8979720d3c48d311027d086f6e15c72b?s=156&amp;d=mm&amp;r=g 2x' class='avatar avatar-78 photo' height='78'
														width='78' /></a>
								</div>
								<h6 class="post_author_title">About author <span itemprop="name"><a href="author/admin/{{path('default')}}" class="fn">Mike Newton</a></span></h6>
								<div class="post_author_info" itemprop="description">
									Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo condre. Gruitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic tempus. </div>
							</section>
							<section class="related_wrap related_wrap_empty"></section>
						</article>
						<section class="comments_wrap">
							<div id="comments" class="comments_list_wrap">
								<h1 class="section_title comments_list_title">3 Comments</h1>
								<ul class="comments_list">
									<li id="comment-4" class="comment even thread-even depth-1 comment_item">
										<div class="comment_author_avatar"><img alt='' src='http://2.gravatar.com/avatar/54e4e56ab413e126437d9f90ebc3826b?s=78&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/54e4e56ab413e126437d9f90ebc3826b?s=156&amp;d=mm&amp;r=g 2x' class='avatar avatar-78 photo' height='78'
															width='78' /></div>
										<div class="comment_content">
											<div class="comment_info">by <span class="comment_author">John Snow</span>
												<span class="comment_date"><span class="comment_date_label">Posted</span> <span class="comment_date_value">May 11, 2016</span></span>
												<span class="comment_time">11:15 am</span>
											</div>
											<div class="comment_text_wrap">
												<div class="comment_text">
													<p>Finding this blog made my day. Thanks for spreading the joy of music.</p>
												</div>
											</div>
											<div class="comment_reply"><a rel='nofollow' class='comment-reply-link' href='index21b4.html?replytocom=4#respond' onclick='return addComment.moveForm( "comment-4", "4", "respond", "203" )' aria-label='Reply to John Snow'>Reply</a></div>
										</div>
										<ul class="children">
											<li id="comment-5" class="comment odd alt depth-2 comment_item">
												<div class="comment_author_avatar"><img alt='' src='http://1.gravatar.com/avatar/469c83f03b07853b77dc3e7d65fb4964?s=78&amp;d=mm&amp;r=g' srcset='http://1.gravatar.com/avatar/469c83f03b07853b77dc3e7d65fb4964?s=156&amp;d=mm&amp;r=g 2x' class='avatar avatar-78 photo' height='78'
																	width='78' /></div>
												<div class="comment_content">
													<div class="comment_info">by <span class="comment_author">Martha Stewart</span>
														<span class="comment_date"><span class="comment_date_label">Posted</span> <span class="comment_date_value">May 11, 2016</span></span>
														<span class="comment_time">11:16 am</span>
													</div>
													<div class="comment_text_wrap">
														<div class="comment_text">
															<p>I love piano, it is a gorgeous musical instrument. It is a music of my soul!</p>
														</div>
													</div>
													<div class="comment_reply"><a rel='nofollow' class='comment-reply-link' href='index8e42.html?replytocom=5#respond' onclick='return addComment.moveForm( "comment-5", "5", "respond", "203" )' aria-label='Reply to Martha Stewart'>Reply</a></div>
												</div>
											</li>
										</ul>
									</li>
									<li id="comment-6" class="comment even thread-odd thread-alt depth-1 comment_item">
										<div class="comment_author_avatar"><img alt='' src='http://2.gravatar.com/avatar/ee0eb16a7121e24ef8ffb79c5a067174?s=78&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/ee0eb16a7121e24ef8ffb79c5a067174?s=156&amp;d=mm&amp;r=g 2x' class='avatar avatar-78 photo' height='78'
															width='78' /></div>
										<div class="comment_content">
											<div class="comment_info">by <span class="comment_author">Jessica Brown</span>
												<span class="comment_date"><span class="comment_date_label">Posted</span> <span class="comment_date_value">May 11, 2016</span></span>
												<span class="comment_time">11:17 am</span>
											</div>
											<div class="comment_text_wrap">
												<div class="comment_text">
													<p>Just what I needed, thanks you!</p>
												</div>
											</div>
											<div class="comment_reply"><a rel='nofollow' class='comment-reply-link' href='index267f.html?replytocom=6#respond' onclick='return addComment.moveForm( "comment-6", "6", "respond", "203" )' aria-label='Reply to Jessica Brown'>Reply</a></div>
										</div>
									</li>
								</ul>
								<div class="comments_pagination"></div>
							</div>
							<div class="comments_form_wrap">
								<h1 class="section_title comments_form_title">Add Comment</h1>
								<div class="comments_form">
									<div id="respond" class="comment-respond">
										<h3 id="reply-title" class="comment-reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="{{path('default')}}#respond" style="display:none;">Cancel reply</a></small></h3>
										<form action="http://melody.ancorathemes.com/wp-comments-post.php" method="post" id="commentform" class="comment-form">
											<p class="comments_notes">Your email address will not be published. Required fields are marked *</p>
											<div class="comments_field comments_author"><label for="author" class="required">Name</label><input id="author" name="author" type="text" placeholder="Name *" value="" size="30" aria-required="true" /></div>
											<div class="comments_field comments_email"><label for="email" class="required">Email</label><input id="email" name="email" type="text" placeholder="Email *" value="" size="30" aria-required="true" /></div>
											<div class="comments_field comments_site"><label for="url" class="optional">Website</label><input id="url" name="url" type="text" placeholder="Website" value="" size="30" aria-required="true" /></div>
											<div class="comments_field comments_message"><label for="comment" class="required">Your Message</label><textarea id="comment" name="comment" placeholder="Comment *" aria-required="true"></textarea></div>
											<p class="form-submit"><input name="submit" type="submit" id="send_comment" class="submit" value="Post Comment" /> <input type='hidden' name='comment_post_ID' value='203' id='comment_post_ID' />
												<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
											</p>
										</form>
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="sidebar widget_area scheme_original" role="complementary">
						<div class="sidebar_inner widget_area_inner">
							<aside id="categories-2" class="widget_number_1 widget widget_categories">
								<h5 class="widget_title">Categories</h5>
								<ul>
									<li class="cat-item cat-item-6"><a href="classic.html">Chamber ensembles</a></li>
									<li class="cat-item cat-item-5"><a href="classic.html">Jazz ensembles</a></li>
									<li class="cat-item cat-item-7"><a href="classic.html">Music technology</a></li>
									<li class="cat-item cat-item-4"><a href="classic.html">Musicianship</a></li>
									<li class="cat-item cat-item-8"><a href="classic.html">Piano classes</a></li>
									<li class="cat-item cat-item-3"><a href="classic.html">Voice</a></li>
								</ul>
							</aside><aside id="chezaschool_widget_recent_posts-2" class="widget_number_2 widget widget_recent_posts">
								<h5 class="widget_title">Recent posts</h5>
								<article class="post_item with_thumb first">
									<div class="widget_area_top">
										<div class="post_thumb"><img class="wp-post-image" width="75" height="75" alt="International Piano Festival" src="images/image-1-75x75.jpg"></div>
										<div class="post_content">
											<h6 class="post_title"><a href="{{path('default')}}">International Piano Festival</a></h6>
										</div>
										<div class="post_info"><span class="post_info_item post_info_posted"><a href="{{path('default')}}" class="post_info_date">May 5, 2016</a></span><span class="post_info_item post_info_counters"><a href="{{path('default')}}#comments" class="post_counters_item post_counters_comments icon-comment"><span class="post_counters_number">3</span></a>
											</span>
										</div>
									</div>
									<div class="widget_area_bottom"></div>
								</article>
								<article class="post_item with_thumb">
									<div class="widget_area_top">
										<div class="post_thumb"><img class="wp-post-image" width="75" height="75" alt="Columbia Kids Week" src="images/image-2-75x75.jpg"></div>
										<div class="post_content">
											<h6 class="post_title"><a href="single-post.html">Columbia Kids Week</a></h6>
										</div>
										<div class="post_info"><span class="post_info_item post_info_posted"><a href="single-post.html" class="post_info_date">May 5, 2016</a></span><span class="post_info_item post_info_counters"><a href="single-post.html#respond" class="post_counters_item post_counters_comments icon-comment"><span class="post_counters_number">0</span></a>
											</span>
										</div>
									</div>
									<div class="widget_area_bottom"></div>
								</article>
							</aside><aside id="calendar-2" class="widget_number_3 widget widget_calendar">
								<h5 class="widget_title">Calendar</h5>
								<div id="calendar_wrap" class="calendar_wrap">
									<table id="wp-calendar-47452144" class="wp-calendar">
										<thead>
											<tr>
												<th class="month_prev">
													<a href="#" data-type="post" data-year="2016" data-month="04" data-letter="1" title="View posts for April 2016"></a>
												</th>
												<th class="month_cur" colspan="5"><a href="{{path('default')}}" title="View posts for May 2016">May <span>2016</span></a></th>
												<th class="month_next">&nbsp;</th>
											</tr>
											<tr>
												<th class="weekday" scope="col" title="Monday">M</th>
												<th class="weekday" scope="col" title="Tuesday">T</th>
												<th class="weekday" scope="col" title="Wednesday">W</th>
												<th class="weekday" scope="col" title="Thursday">T</th>
												<th class="weekday" scope="col" title="Friday">F</th>
												<th class="weekday" scope="col" title="Saturday">S</th>
												<th class="weekday" scope="col" title="Sunday">S</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="6" class="pad"><span class="day_wrap">&nbsp;</span></td>
												<td class="day"><span class="day_wrap">1</span></td>
											</tr>
											<tr>
												<td class="day"><span class="day_wrap">2</span></td>
												<td class="day"><span class="day_wrap">3</span></td>
												<td class="day"><span class="day_wrap">4</span></td>
												<td class="day"><a class="day_wrap" href="{{path('default')}}" title="5 items">5</a></td>
												<td class="day"><span class="day_wrap">6</span></td>
												<td class="day"><span class="day_wrap">7</span></td>
												<td class="day"><span class="day_wrap">8</span></td>
											</tr>
											<tr>
												<td class="day"><span class="day_wrap">9</span></td>
												<td class="day"><span class="day_wrap">10</span></td>
												<td class="day"><span class="day_wrap">11</span></td>
												<td class="day"><span class="day_wrap">12</span></td>
												<td class="day"><span class="day_wrap">13</span></td>
												<td class="day"><span class="day_wrap">14</span></td>
												<td class="day"><span class="day_wrap">15</span></td>
											</tr>
											<tr>
												<td class="day"><span class="day_wrap">16</span></td>
												<td class="day"><span class="day_wrap">17</span></td>
												<td class="day"><span class="day_wrap">18</span></td>
												<td class="day"><span class="day_wrap">19</span></td>
												<td class="day"><span class="day_wrap">20</span></td>
												<td class="day"><span class="day_wrap">21</span></td>
												<td class="day"><span class="day_wrap">22</span></td>
											</tr>
											<tr>
												<td class="day"><span class="day_wrap">23</span></td>
												<td class="day"><span class="day_wrap">24</span></td>
												<td class="day"><span class="day_wrap">25</span></td>
												<td class="day"><span class="day_wrap">26</span></td>
												<td class="day"><span class="day_wrap">27</span></td>
												<td class="day"><span class="day_wrap">28</span></td>
												<td class="day"><span class="day_wrap">29</span></td>
											</tr>
											<tr>
												<td class="day"><span class="day_wrap">30</span></td>
												<td class="day"><span class="day_wrap">31</span></td>
												<td class="pad" colspan="5"><span class="day_wrap">&nbsp;</span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</aside><aside id="null-instagram-feed-2" class="widget_number_4 widget null-instagram-feed">
								<h5 class="widget_title">Instagram</h5>
								<ul class="instagram-pics instagram-size-large">
									<li class="">
										<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13129870_1728198570761597_1172591156_ne228.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
									</li>
									<li class="">
										<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13150775_1018598524889774_1388242671_nb27f.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
									</li>
									<li class="">
										<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13129145_1720399108173000_2090809450_nbf68.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
									</li>
									<li class="">
										<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13116786_1144877578876477_266188708_n0d6d.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
									</li>
									<li class="">
										<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13129660_660889660715453_1695863233_n5713.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
									</li>
									<li class="">
										<a href="#" target="_self" class=""><img src="http://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13116553_603325526502238_1571230446_n46e6.jpg" alt="Instagram Image" title="Instagram Image" class="" /></a>
									</li>
								</ul>
							</aside><aside id="search-2" class="widget_number_5 widget widget_search">
								<form role="search" method="get" class="search_form" action="#"><input type="text" class="search_field" placeholder="SEARCH &hellip;" value="" name="s" title="Search for:" /><button type="submit" class="search_button icon-search" href="#"></button></form>
							</aside><aside id="archives-2" class="widget_number_6 widget widget_archive">
								<h5 class="widget_title">Archive</h5>
								<ul>
									<li><a href='#'>May 2016</a></li>
									<li><a href='#'>April 2016</a></li>
									<li><a href='#'>March 2016</a></li>
									<li><a href='#'>February 2016</a></li>
									<li><a href='#'>January 2016</a></li>
								</ul>
							</aside><aside id="meta-2" class="widget_number_7 widget widget_meta">
								<h5 class="widget_title">Meta</h5>
								<ul>
									<li><a href="#">Log in</a></li>
									<li><a href="#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
									<li><a href="#">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
									<li><a href="#" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
								</ul>
							</aside><aside id="chezaschool_widget_recent_reviews-2" class="widget_number_8 widget widget_recent_reviews">
								<h5 class="widget_title">Rating</h5>
								<div class="recent_reviews">
									<article class="post_item with_thumb first">
										<div class="widget_area_top">
											<div class="post_thumb"><img class="wp-post-image" width="75" height="75" alt="Festival of Flutes" src="images/image-3-75x75.jpg"></div>
											<div class="post_content">
												<h6 class="post_title"><a href="single-post.html">Festival of Flutes</a></h6>
												<div class="post_rating reviews_summary blog_reviews">
													<div class="criteria_summary criteria_row">
														<div class="reviews_stars reviews_style_stars" data-mark="2.5">
															<div class="reviews_stars_wrap">
																<div class="reviews_stars_bg"><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span></div>
																<div class="reviews_stars_hover" style="width:50%"><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span></div>
															</div>
															<div class="reviews_value">2.5</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="widget_area_bottom">
											<div class="post_info"></div>
										</div>
									</article>
									<article class="post_item with_thumb">
										<div class="widget_area_top">
											<div class="post_thumb"><img class="wp-post-image" width="75" height="75" alt="Viola and Composition departments collaborate" src="images/image-8-75x75.jpg"></div>
											<div class="post_content">
												<h6 class="post_title"><a href="single-post.html">Viola and Composition departments collaborate</a></h6>
												<div class="post_rating reviews_summary blog_reviews">
													<div class="criteria_summary criteria_row">
														<div class="reviews_stars reviews_style_stars" data-mark="3.8">
															<div class="reviews_stars_wrap">
																<div class="reviews_stars_bg"><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span></div>
																<div class="reviews_stars_hover" style="width:76%"><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span><span class="reviews_star"></span></div>
															</div>
															<div class="reviews_value">3.8</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="widget_area_bottom">
											<div class="post_info"></div>
										</div>
									</article>
								</div>
							</aside><aside id="rss-2" class="widget_number_9 widget widget_rss">
								<h5 class="widget_title"><a class="rsswidget" href="#"><img class="rss-widget-icon" style="border:0" width="14" height="14" src="wp-includes/images/rss.png" alt="RSS"/></a> <a class="rsswidget" href="http://www.reuters.com/">RSS Feed</a></h5>
								<ul>
									<li><a class='rsswidget' href='#'>Angelina Jolie slams Trump travel ban, calls for &#039;compassionate America&#039;</a> <span class="rss-date">February 3, 2017</span></li>
									<li><a class='rsswidget' href='#'>Parents of Canadian &#039;Sharkwater&#039; filmmaker have hope for missing son</a> <span class="rss-date">February 2, 2017</span></li>
								</ul>
							</aside>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer_wrap widget_area scheme_original">
				<div class="footer_wrap_inner widget_area_inner">
					<div class="content_wrap">
						<div class="columns_wrap">
							<aside id="text-2" class="widget_number_1 column-1_3 widget widget_text">
								<h5 class="widget_title">Address</h5>
								<div class="textwidget"><span class="sc_icon icon-location-1"></span><span>110 E 16th St<br>New York, NY</span></div>
							</aside><aside id="chezaschool_widget_twitter-2" class="widget_number_2 column-1_3 widget widget_twitter">
								<h5 class="widget_title">Twitter</h5>
								<ul>
									<li class="theme_text last">Investment Advisor Services is a modern, flexible and highly customizable theme for your financial, business, corporate, personal needs.<a href="#" class="username" target="_blank">@investadvisor_1</a></li>
								</ul>
							</aside><aside id="text-3" class="widget_number_3 column-1_3 widget widget_text">
								<h5 class="widget_title">Open hours</h5>
								<div class="textwidget"><span class="sc_icon icon-clock-empty"></span><span>Monday - Friday: 12pm - 8pm<br>Saturday: 10am - 2pm</span></div>
							</aside>
						</div>
					</div>
				</div>
			</footer>
			<div class="copyright_wrap copyright_style_socials  scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
						</div>
						<div class="copyright_text">
							<p>Ancora © 2016 All Rights Reserved <a href="http://ancorathemes.com/">Terms of Use</a> and <a href="http://ancorathemes.com/">Privacy Policy</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
	<div class="custom_html_section"></div>
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/photostack/modernizr.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/superfish.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/jquery.slidemenu.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.reviews.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.utils.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.init.js'></script>
	<script type='text/javascript' src='js/vendor/theme.init.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/social/social-share.js'></script>
	<script type='text/javascript' src='js/vendor/shortcodes/theme.shortcodes.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/prettyphoto/jquery.prettyPhoto.min.js'></script>
	<script type='text/javascript' src='js/custom/custom.js'></script>
</body>
</html>
