<form method="post" action="{{ path('uig_group_delete', {'id': uig_group.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ uig_group.id) }}">
    <button class="btn mb-1 btn-danger">Delete</button>
</form>
