{% extends 'adm_base.html.twig' %}

{% block title %}Edit UigGroup{% endblock %}

{% block body %}
    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Show Group Member</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">{{uig_group}}</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('uig_group_index', {'user_id': uig_group.user.id }) }}" class="dropdown-item">Back to list</a>
                            <!-- item-->
                            <a href="{{path('student-edit-admin', {'studentid': uig_group.user == null ? 1 : uig_group.user.id})}}" class="dropdown-item">Back to Student Details</a>
                            <a href="{{ path('uig_group_edit', {'id': uig_group.id, 'uig_group_id': uig_group.id}) }}" class="dropdown-item">edit</a>
                            <span class="dropdown-item">{{ include('uig_group/_delete_form.html.twig') }}</span>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Show Group Member</h4>


                    {{ include('uig_group/_form.html.twig', {'button_label': 'Update'}) }}

                    <a href="{{ path('uig_group_index', {'user_id': uig_group.user.id }) }}">back to list</a>

                    {{ include('uig_group/_delete_form.html.twig') }}

                </div>
            </div>


        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
