{% extends 'adm_base.html.twig' %}

{% block title %}UigGroup index{% endblock %}
{% block stylesheets %}
   <!-- DataTables CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
   <!-- DataTables Responsive CSS -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
{% endblock %}

{% block body %}
    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">List Groups</h4>
                            {% for term in terms %}
                                <a class="btn btn-primary btn-sm" href="{{ path('app_simple_report_index', {'term': term.termnumber | replace({ ' ' : '_' }), 'year': "now"|date('Y'), 'user': user.id } ) }}" class="dropdown-item">{{ term.termnumber }} {{ "now"|date('Y') }} Simple Reports</a>
                            {% endfor %}

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">{{user}}</a></li>
                            <li class="breadcrumb-item active">Groups</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('uig_group_new', {'user_id': user.id } ) }}" class="dropdown-item">New Group</a>
                            <!-- item-->
                            <a href="{{path('student-edit-admin', {'studentid': user == null ? 1 : user.id})}}" class="dropdown-item">Back to Student Details</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">List Groups</h4>


                    <table class="table" id="datatable">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>No. Of Students</th>
                                <th>Manage</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for uig_group in uig_groups %}
                            <tr>
                                <td>{{ uig_group.title }}</td>
                                <td>{{ uig_group.groupMembers|length }}</td>
                                <td><a class="btn btn-success btn-sm" href="{{ path('group_member_index', {'uig_group_id': uig_group.id}) }}">Members</a></td>
                                <td>
                                    <a class="btn btn-info btn-sm" href="{{ path('uig_group_edit', {'id': uig_group.id}) }}">Edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ path('uig_group_new', {'user_id': user.id } ) }}">Create new</a>

                </div>
            </div>


        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block javascripts %}
   <!-- DataTables JS -->
   <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
   <!-- DataTables Responsive JS -->
   <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#datatable').DataTable({
                "order": [[ 0, "asc" ]],
                "pageLength": 100,
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.childRowImmediate
                    }
                }

            });

        } );
    </script>
{% endblock %}
