{% extends 'adm_base.html.twig' %}

{% block title %}New Group Member{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">New Group For {{user}}</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">{{user}}</a></li>
                            <li class="breadcrumb-item active">+ Group Member</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('uig_group_index', {'user_id': user.id }) }}" class="dropdown-item">Back to list</a>
                            <!-- item-->
                            <a href="{{path('student-edit-admin', {'studentid': user == null ? 1 : user.id})}}" class="dropdown-item">Back to Student Details</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Add A New Group to {{user}}</h4>

                        {{ include('uig_group/_form.html.twig') }}

                </div>
            </div>
            <div class="col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('uig_group_index', {'user_id': user.id }) }}" class="dropdown-item">Back to list</a>
                            <!-- item-->
                            <a href="{{path('student-edit-admin', {'studentid': user == null ? 1 : user.id})}}" class="dropdown-item">Back to Student Details</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Add A New Group to {{user}}</h4>

                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                
                        {% for uig_group in user.uigGroups %}
                            <tr>
                                <td>{{ uig_group.id }}</td>
                                <td>{{ uig_group.title }}</td>
                                <td>
                                    <a class="btn btn-sm mb-1 btn-info" href="{{ path('group_member_index', {'uig_group_id': uig_group.id}) }}">Members</a>
                                    <a class="btn btn-sm btn-success" href="{{path('group_member_new', {'uig_group_id': uig_group.id })}}">Add Member</a>
                                    <a class="btn btn-sm mb-1 btn-info" href="{{ path('uig_group_show', {'id': uig_group.id}) }}">Show</a>
                                    <a class="btn btn-sm mb-1 btn-info" href="{{ path('uig_group_edit', {'id': uig_group.id}) }}">Edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    <table>
                        {# {% if app.user is defined and app.user.usertype == 'admin' %}
                        {% endif %} #}

                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}   

{% endblock %}
