<form method="post" action="{{ path('comment_reply_delete', {'id': comment_reply.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment_reply.id) }}">
    <button class="btn mb-1 btn-danger">Delete</button>
</form>
