{% extends 'base.html.twig' %}

{% block title %}Edit CommentReply{% endblock %}

{% block body %}
    <h1>Edit CommentReply</h1>

    {{ include('comment_reply/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comment_reply_index') }}">back to list</a>

    {{ include('comment_reply/_delete_form.html.twig') }}
{% endblock %}
