{% extends 'base.html.twig' %}

{% block title %}CommentReply index{% endblock %}

{% block body %}
    <h1>CommentReply index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Created_at</th>
                <th>R_name</th>
                <th>R_email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment_reply in comment_replies %}
            <tr>
                <td>{{ comment_reply.id }}</td>
                <td>{{ comment_reply.content }}</td>
                <td>{{ comment_reply.createdAt ? comment_reply.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment_reply.rName }}</td>
                <td>{{ comment_reply.rEmail }}</td>
                <td>
                    <a href="{{ path('comment_reply_show', {'id': comment_reply.id}) }}">show</a>
                    <a href="{{ path('comment_reply_edit', {'id': comment_reply.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comment_reply_new') }}">Create new</a>
{% endblock %}
