{% extends 'base.html.twig' %}

{% block title %}New CommentReply{% endblock %}

{% block body %}
    <h1>Create new CommentReply</h1>

    {{ include('comment_reply/_form.html.twig') }}

    <a href="{{ path('comment_reply_index') }}">back to list</a>
{% endblock %}
