{% extends 'base.html.twig' %}

{% block title %}CommentReply{% endblock %}

{% block body %}
    <h1>CommentReply</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment_reply.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ comment_reply.content }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ comment_reply.createdAt ? comment_reply.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>R_name</th>
                <td>{{ comment_reply.rName }}</td>
            </tr>
            <tr>
                <th>R_email</th>
                <td>{{ comment_reply.rEmail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comment_reply_index') }}">back to list</a>

    <a href="{{ path('comment_reply_edit', {'id': comment_reply.id}) }}">edit</a>

    {{ include('comment_reply/_delete_form.html.twig') }}
{% endblock %}
