<form method="post" action="{{ path('group_member_delete', {'id': group_member.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ group_member.id) }}">
    <button class="btn mb-1 btn-danger">Delete</button>
</form>
