{{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="form-group">
        {{ form_label(form.fullname) }}
        {{ form_widget(form.fullname, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.age) }}
        {{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.gender) }}
        {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.school_id) }}
        {{ form_widget(form.school_id, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.uigGroup) }}
        {{ form_widget(form.uigGroup, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button class="btn mb-1 btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
