{% extends 'adm_base.html.twig' %}

{% block title %}Group Members{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
{# 0736991179 Shopit #}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Added Group Members</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">{{uig_group}}</a></li>
                            <li class="breadcrumb-item active">Group Members</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('group_member_index', {'uig_group_id': uig_group.id }) }}" class="dropdown-item">Back to list</a>
                            <!-- item-->
                            <a href="{{path('student-edit-admin', {'studentid': uig_group.user == null ? 1 : uig_group.user.id})}}" class="dropdown-item">Back to Student Details</a>
                            <a href="{{path('uig_group_index', {'user_id': uig_group.user == null ? 1 : uig_group.user.id})}}" class="dropdown-item">Back to groups</a>
                            <a href="{{ path('group_member_new', {'uig_group_id': uig_group.id}) }}" class="dropdown-item">New Member</a>

                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">List of all {{uig_group}} members</h4>

                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Gender</th>
                                    <th>Age</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for group_member in group_members %}
                                <tr>
                                    <td>{{ group_member.fullname }}</td>
                                    <td>{{ group_member.gender }}</td>
                                    <td>{{ group_member.age }}</td>
                                    <td>
                                        <a class="btn btn-sm btn-success" href="{{ path('group_member_show', {'id': group_member.id}) }}"> {% if app.user is defined and app.user.usertype == 'admin' %} Manage {% else %} Details {% endif %}</a>
                                        <button type="button" id="viewnotes-{{group_member.id}}" class="btn btn-sm mb-1 btn-info">View Notes</button>
                                        <a class="btn btn-sm mb-1 btn-info" href="{{ path('group_member_edit', {'id': group_member.id}) }}">edit</a>
                                        <a href="{{path('reporting_new', {'name': group_member.fullname, 'age': group_member.age, 'term': 'Edit this and input the term', 's': group_member.gender, 't': group_member.uigGroup.user.studentSessions|first.teacher.id, 'u': group_member.uigGroup.user.id, 'instrument': 'Which instrument?' })}}" style="white-space: nowrap;" class="btn btn-sm mb-1 btn-primary" id="print-form" >New Report</i></a>
                                        <a href="{{path('app_simple_report_new', {'name': group_member.fullname, 't': group_member.uigGroup.user.studentSessions|first.teacher.id, 'u': group_member.uigGroup.user.studentSessions|first.student.id, 'instrument': 'Which Instrument?' })}}" style="white-space: nowrap;" class="btn btn-sm mb-1 btn-primary" id="print-form" >New Simple Report</i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

    
                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

        <!-- Modal -->
        <div class="modal fade" id="view_all_notes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notes for <span id="member"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="view_notes">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn mb-1 btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('.datatable').DataTable();
        } ); 
    </script>
	<script>
      $(document).on('click', '[id^="viewnotes-"]', function(){


            var id = jQuery(this).attr("id").split("-")[1];

            $.ajax({
                url:"/groupmember/view/member/notes/for/" + id,
                type: "POST",
                dataType: "json",
                data: {
                    "emailAddress": 'emailAddress',
                },
                async: true,
                success: function (data)
                {
                    $('#view_all_notes').modal('show')
                    console.log(data.message);
                    $("#view_notes").html(data.message);
                    $("#member").text(data.member);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
          
	  });
	</script>

{% endblock %}
