{% extends 'adm_base.html.twig' %}

{% block title %}New Group Member{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">New Group Member . {{uig_group}} </h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">{{uig_group}}</a></li>
                            <li class="breadcrumb-item active">+ Group Member</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('group_member_index', {'uig_group_id': uig_group.id }) }}" class="dropdown-item">Back to list</a>
                            <!-- item-->
                            <a href="{{path('student-edit-admin', {'studentid': uig_group.user == null ? 1 : uig_group.user.id})}}" class="dropdown-item">Back to Student Details</a>
                            <a href="{{path('uig_group_index', {'user_id': uig_group.user == null ? 1 : uig_group.user.id})}}" class="dropdown-item">Back to groups</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Add A New Group Member to {{uig_group}}</h4>

                        {{ include('group_member/_form.html.twig') }}

                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}   

{% endblock %}
