{% extends 'adm_base.html.twig' %}

{% block title %}Notes List{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
{# 0736991179 Shopit #}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Added Notes for {{member}}</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Notes</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('group_member_index', {'uig_group_id': uig_group.id }) }}" class="dropdown-item">Back to list</a>
                            <!-- item-->
                            <a href="{{path('student-edit-admin', {'studentid': uig_group.user == null ? 1 : uig_group.user.id})}}" class="dropdown-item">Back to Student Details</a>
                            <a href="{{path('uig_group_index', {'user_id': uig_group.user == null ? 1 : uig_group.user.id})}}" class="dropdown-item">Back to groups</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">List of all notes</h4>


                        <table class="table">
                            <thead>
                                <tr>
                                    <th>CreatedOn</th>
                                    <th>Message</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for note in notes %}
                                <tr>
                                    <td>{{ note.addedOn ? note.addedOn|date("jS M Y \\a\\t g:i a") : '' }}</td>
                                    <td><div contenteditable="true" id="note-{{note.id}}">{{ note.message }}</div></td>
                                    <td>
                                        <a href="{{ path('member_notes_show', {'id': note.id}) }}">show</a>
                                        <a href="{{ path('member_notes_edit', {'id': note.id}) }}">edit</a>
                                        <button class="btn btn-sm mb-1 btn-primary" id="save_edit-{{note.id}}">Save</button>
                                        
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if app.user.usertype == "teacher" %}
                        <a href="{{ path('group_member_show', {'id': member.id }) }}">Back to member</a>
                        {% endif %}
                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('.datatable').DataTable();
        } );
    </script>
	<script>

      $('[id^="save_edit-"]').click( function () {
        var note_id = jQuery(this).attr("id").split("-")[1];
        var editedmsg = $("#note-"+note_id).text();

        $.ajax({
            url:'{{ (path('editmembernote')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "note_id": note_id,
                "editedmsg": editedmsg,
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: 'Saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	  });
	</script>

{% endblock %}
