{% extends 'adm_base.html.twig' %}

{% block title %}Show Group Member{% endblock %}
{% block stylesheets %}
<style>
    .notes {
        background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
        background-image: -moz-linear-gradient(left, white 10px, transparent 10px), -moz-linear-gradient(right, white 10px, transparent 10px), -moz-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
        background-image: -ms-linear-gradient(left, white 10px, transparent 10px), -ms-linear-gradient(right, white 10px, transparent 10px), -ms-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
        background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
        background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
        background-size: 100% 100%, 100% 100%, 100% 31px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        line-height: 31px;
        font-family: Arial, Helvetica, Sans-serif;
        padding: 8px;
    }

    .notes:focus {
        outline: none;
    }

</style>
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Show Group Member</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">{{group_member.uigGroup}}</a></li>
                            <li class="breadcrumb-item active">{{group_member.fullname}}</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('group_member_index', {'uig_group_id': group_member.uigGroup.id }) }}" class="dropdown-item">Back to list</a>
                            <!-- item-->
                            <a href="{{path('student-edit-admin', {'studentid': group_member.uigGroup.user == null ? 1 : group_member.uigGroup.user.id})}}" class="dropdown-item">Back to Student Details</a>
                            <a href="{{ path('group_member_edit', {'id': group_member.id, 'uig_group_id': group_member.uigGroup.id}) }}" class="dropdown-item">edit</a>
                            <a href="{{path('uig_group_index', {'user_id': group_member.uigGroup.user == null ? 1 : group_member.uigGroup.user.id})}}" class="dropdown-item">Back to groups</a>
                            <span class="dropdown-item">{{ include('group_member/_delete_form.html.twig') }}</span>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Show Group Member</h4>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Fullname</th>
                                <td>{{ group_member.fullname }}</td>
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td>{{ group_member.gender }}</td>
                            </tr>
                            <tr>
                                <th>Age</th>
                                <td>{{ group_member.age }}</td>
                            </tr>
                            <tr>
                                <th>Group</th>
                                <td>{{ group_member.uigGroup }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('group_member_index', {'uig_group_id': group_member.uigGroup.id }) }}" class="dropdown-item">Back to list</a>
                            <!-- item-->
                            <a href="{{path('student-edit-admin', {'studentid': group_member.uigGroup.user == null ? 1 : group_member.uigGroup.user.id})}}" class="dropdown-item">Back to Student Details</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">{{ app.user is defined and app.user.usertype == 'student' ? 'Notes for ' : 'Make a note for ' }} {{ group_member.fullname }}</h4>
                    {% if app.user is defined and app.user.usertype == 'student' %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Added On</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for member_note in member_notes %}
                            <tr>
                                <td>{{ member_note.addedOn ? member_note.addedOn|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ member_note.message }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <form id="note-{{group_member.id}}">
                        <div class="form-group">
                            <label for="note_for{{group_member.id}}">Notes (<span id="noteslength-{{group_member.id}}">{{group_member.memberNotes|length}}</span>) <small>Last note: <span id="lastnotedate-{{group_member.id}}"> {{ group_member.memberNotes is defined and group_member.memberNotes|length > 0 ? group_member.memberNotes|last.addedOn|date('jS M Y') : ''}}</span></small></label>
                            <textarea name="note_for_{{group_member.id}}" class="form-control notes" id="note_for_{{group_member.id}}" rows="4"></textarea>
                        </div>
                        <input type="hidden" name="member_id" value="{{group_member.id}}" />
                        <div class="widget-49-meeting-action">
                            <button type="button" id="viewnotes-{{group_member.id}}" class="btn btn-sm mb-1 btn-info">View Notes</button>
                            <a style="text-transform: capitalize" href="{{path('member_notes_index', {'member': group_member.id})}}" id="managenotes-{{group_member.id}}" class="btn btn-sm mb-1 btn-info">Manage</a>
                            <button type="button" id="savenote-{{group_member.id}}" class="btn btn-sm mb-1 btn-primary">Save Note</button>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>


        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->
        <!-- Modal -->
        <div class="modal fade" id="view_all_notes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notes for <span id="member"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="view_notes">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn mb-1 btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
                


{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}

	<script>
      $(document).on('click', '[id^="savenote-"]', function(){

            var id = jQuery(this).attr("id").split("-")[1];
          
	  		var form = document.getElementById("note-"+id);
            var form_data = $( form ).serializeArray();
            var valid = validateForm(form_data);
            
            $.ajax({
                url:'/groupmember/save/member/note',
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType: "json",
                data: new FormData(form),
                async: true,
                    success: function (data)
                    {
                        //form.reset()
                        console.log(data);
                        $("#noteslength-"+id).html(data.noteslength);
                        $("#lastnotedate-"+id).html('{{"now"|date("jS M Y")}}');
                        $.notify({ icon: 'glyphicon glyphicon-success-sign', message: 'Saved', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
            });

	  });
	</script>

	<script>
      $(document).on('click', '[id^="viewnotes-"]', function(){


            var id = jQuery(this).attr("id").split("-")[1];
          
	  		var form = document.getElementById("note-"+id);

            $.ajax({
                url:'/groupmember/view/member/notes',
                type: "POST",
                contentType:false,
                processData:false,
                cache:false,
                dataType: "json",
                data: new FormData(form),
                async: true,
                    success: function (data)
                    {
                        $('#view_all_notes').modal('show')
                        console.log(data.message);
                        $("#view_notes").html(data.message);
                        $("#member").text(data.member);
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
            });

	  });
	</script>

{% endblock %}