{% extends 'base.html.twig' %}

{% block title %}Report index{% endblock %}

{% block body %}
    <h1>Report index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Practice</th>
                <th>Rhythm</th>
                <th>Dexterity</th>
                <th>Tone</th>
                <th>Intonation</th>
                <th>Literacy</th>
                <th>Exercises</th>
                <th>Musicianship</th>
                <th>Comments</th>
                <th>Timevalues</th>
                <th>Barlinesntimesig</th>
                <th>Notesonstave</th>
                <th>Resttiesndots</th>
                <th>Scalesnkeysig</th>
                <th>Degreesnintervals</th>
                <th>Tonictriads</th>
                <th>Perfdirections</th>
                <th>Cadences</th>
                <th>Figuredbass</th>
                <th>Partwriting</th>
                <th>Harmonizing</th>
                <th>Composition</th>
                <th>Scoreanalysis</th>
                <th>Instruments</th>
                <th>Ornaments</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>{{ report.id }}</td>
                <td>{{ report.practice }}</td>
                <td>{{ report.rhythm }}</td>
                <td>{{ report.dexterity }}</td>
                <td>{{ report.tone }}</td>
                <td>{{ report.intonation }}</td>
                <td>{{ report.literacy }}</td>
                <td>{{ report.exercises }}</td>
                <td>{{ report.musicianship }}</td>
                <td>{{ report.comments }}</td>
                <td>{{ report.timevalues }}</td>
                <td>{{ report.barlinesntimesig }}</td>
                <td>{{ report.notesonstave }}</td>
                <td>{{ report.resttiesndots }}</td>
                <td>{{ report.scalesnkeysig }}</td>
                <td>{{ report.degreesnintervals }}</td>
                <td>{{ report.tonictriads }}</td>
                <td>{{ report.perfdirections }}</td>
                <td>{{ report.cadences }}</td>
                <td>{{ report.figuredbass }}</td>
                <td>{{ report.partwriting }}</td>
                <td>{{ report.harmonizing }}</td>
                <td>{{ report.composition }}</td>
                <td>{{ report.scoreanalysis }}</td>
                <td>{{ report.instruments }}</td>
                <td>{{ report.ornaments }}</td>
                <td>
                    <a href="{{ path('report_show', {'id': report.id}) }}">show</a>
                    <a href="{{ path('report_edit', {'id': report.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="27">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('report_new') }}">Create new</a> #}
{% endblock %}
