{% extends 'adm_base.html.twig' %}

{% block title %}Students{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                    Students
            </div>
            <div class="panel-body">
                <div class="table-responsive">
					<div width="631">
						<p style="font-family:Cambria;mso-fareast-font-family:'Times New Roman';"><img src="THEORY REPORT TEMPLATE.files/THEORY REPORT TEMPLATE0.png" width="208" height="80" />Individual Music Report</p>
							<table border="1" cellspacing="0">
								<tbody>
									<tr>
										<td colspan="3" width="631">
										<p><strong>Term 1 Year 2021</strong></p>
									</td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Name of Student</strong></p>
										</td>
										<td colspan="2" width="489">&nbsp;</td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Theory Grade</strong></p>
										</td>
										<td colspan="2" width="489">&nbsp;</td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>No. of Lessons</strong></p>
										</td>
										<td colspan="2" width="489">&nbsp;</td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Lesson Duration</strong></p>
										</td>
										<td colspan="2" width="489">&nbsp;</td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Name of Tutor</strong></p>
										</td>
										<td colspan="2" width="489">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="2" width="540">
											<p>Time Values</p>
										</td>
										<td width="90">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="2" width="540">
											<p>Bar-lines and time signatures</p>
										</td>
										<td width="90">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="2" width="540">
											<p>Notes on the Stave</p>
										</td>
										<td width="90">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="2" width="540">
											<p>Rests, Ties and Dots</p>
										</td>
										<td width="90">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="2" width="540">
											<p>The scales and key signatures</p>
										</td>
										<td width="90">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="2" width="540">
											<p>Degrees of the scale and intervals</p>
										</td>
										<td width="90">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="2" width="540">
											<p>The Tonic Triad</p>
										</td>
										<td width="90">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="2" width="540">
											<p>Composing an answering rhythm</p>
										</td>
										<td width="90">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="2" width="540">
											<p>Performance Directions</p>
										</td>
										<td width="90">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="3" width="631">&nbsp;</td>
									</tr>
								</tbody>
							</table>
						<p>Key: <strong>A</strong>- Excellent<strong>B</strong>- Good <strong>C</strong>- Satisfactory <strong>D</strong>-Needs Improvement <strong>NA</strong>-Not Applicable</p>
					</div>
                </div>
                
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
    <!-- /. ROW  -->
{% endblock %}
{% block javascripts %}

{% endblock %}					