{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ report.id }}</td>
            </tr>
            <tr>
                <th>Practice</th>
                <td>{{ report.practice }}</td>
            </tr>
            <tr>
                <th>Rhythm</th>
                <td>{{ report.rhythm }}</td>
            </tr>
            <tr>
                <th>Dexterity</th>
                <td>{{ report.dexterity }}</td>
            </tr>
            <tr>
                <th>Tone</th>
                <td>{{ report.tone }}</td>
            </tr>
            <tr>
                <th>Intonation</th>
                <td>{{ report.intonation }}</td>
            </tr>
            <tr>
                <th>Literacy</th>
                <td>{{ report.literacy }}</td>
            </tr>
            <tr>
                <th>Exercises</th>
                <td>{{ report.exercises }}</td>
            </tr>
            <tr>
                <th>Musicianship</th>
                <td>{{ report.musicianship }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ report.comments }}</td>
            </tr>
            <tr>
                <th>Timevalues</th>
                <td>{{ report.timevalues }}</td>
            </tr>
            <tr>
                <th>Barlinesntimesig</th>
                <td>{{ report.barlinesntimesig }}</td>
            </tr>
            <tr>
                <th>Notesonstave</th>
                <td>{{ report.notesonstave }}</td>
            </tr>
            <tr>
                <th>Resttiesndots</th>
                <td>{{ report.resttiesndots }}</td>
            </tr>
            <tr>
                <th>Scalesnkeysig</th>
                <td>{{ report.scalesnkeysig }}</td>
            </tr>
            <tr>
                <th>Degreesnintervals</th>
                <td>{{ report.degreesnintervals }}</td>
            </tr>
            <tr>
                <th>Tonictriads</th>
                <td>{{ report.tonictriads }}</td>
            </tr>
            <tr>
                <th>Perfdirections</th>
                <td>{{ report.perfdirections }}</td>
            </tr>
            <tr>
                <th>Cadences</th>
                <td>{{ report.cadences }}</td>
            </tr>
            <tr>
                <th>Figuredbass</th>
                <td>{{ report.figuredbass }}</td>
            </tr>
            <tr>
                <th>Partwriting</th>
                <td>{{ report.partwriting }}</td>
            </tr>
            <tr>
                <th>Harmonizing</th>
                <td>{{ report.harmonizing }}</td>
            </tr>
            <tr>
                <th>Composition</th>
                <td>{{ report.composition }}</td>
            </tr>
            <tr>
                <th>Scoreanalysis</th>
                <td>{{ report.scoreanalysis }}</td>
            </tr>
            <tr>
                <th>Instruments</th>
                <td>{{ report.instruments }}</td>
            </tr>
            <tr>
                <th>Ornaments</th>
                <td>{{ report.ornaments }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('report_index') }}">back to list</a>

    <a href="{{ path('report_edit', {'id': report.id}) }}">edit</a>

    {{ include('report/_delete_form.html.twig') }}
{% endblock %}
