            <div class="panel-body">
                <div class="table-responsive">
					<div width="631" style="padding-top:50px;">
						<p style="font-family:Cambria;mso-fareast-font-family:'Times New Roman';color:rgb(23,54,93);letter-spacing:0.2500pt;font-size:26.0000pt;mso-font-kerning:14.0000pt;">
                            Individual Music Report
                            {# <img class="d-block d-sm-none" style="margin-top:-50px;" src="{{asset('assets/img/cheza-logo-letterhead.png')}}" width="208" height="80" /> #}
                        </p>
                          <form role="form" id="report-form-{{report is defined and report is not null ? report.id : 0}}">
							<table border="1" cellspacing="0">
								<tbody>
									<tr>
										<td colspan="3" width="631">
										<p><strong>{{ key }} Year {{report is defined and report is not empty ? report.addedOn|date('Y') : 'YYYY' }}</strong></p>
									</td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Name of Student</strong></p>
										</td>
										<td colspan="2" width="489">
                                            <p>{{session.userInstrumentGrade|split("-")[0]|upper}}</p>
                                            <button id="change_student" type="button" class="btn mb-1 btn-info" style="display:inline" data-toggle="modal" data-target="#change_studentModal" data-sib="{{session.userInstrumentGrade.siblingname}}" data-uig="{{session.userInstrumentGrade.id}}">Quick Student List</button>   </p>                                         
                                        </td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Theory Grade</strong></p>
										</td>
										<td colspan="2" width="489"><p>{{session.userInstrumentGrade|split("-")[1]|upper}} {{session.userInstrumentGrade.grade.name|upper}}</p></td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Lesson Duration</strong></p>
										</td>
										<td colspan="2" width="489"><p>{{session.package.duration}}</p></td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Name of Tutor</strong></p>
										</td>
										<td colspan="2" width="489"><p>{{session.teacher.fullname|upper}}</p></td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Time Values</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            {% if report is defined and report is not null %} {{report.timevalues}} {% endif %}
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Bar-lines and time signatures</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            {% if report is defined and report is not null %} {{report.barlinesntimesig}} {% endif %}
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Notes on the Stave</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            {% if report is defined and report is not null %} {{report.notesonstave}} {% endif %}
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Rests, Ties and Dots</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            {% if report is defined and report is not null %} {{report.resttiesndots}} {% endif %}
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>The scales and key signatures</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            {% if report is defined and report is not null %} {{report.scalesnkeysig}} {% endif %}
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Degrees of the scale and intervals</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            {% if report is defined and report is not null %} {{report.degreesnintervals}} {% endif %}
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>The Tonic Triad</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            {% if report is defined and report is not null %} {{report.tonictriads}} {% endif %}
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Cadences</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            {% if report is defined and report is not null %} {{report.cadences}} {% endif %}
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Performance Directions</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            {% if report is defined and report is not null %} {{report.perfdirections}} {% endif %}
                                        </td>
									</tr>
									<tr>
										<td colspan="3" width="631">
                                            <span style="margin:5px; margin-top:10px;"><strong>COMMENTS</strong></span>
                                            <button type="button" id="viewnotes-{{session.userInstrumentGrade.id}}" class="btn btn-sm mb-1 btn-info">View Notes</button>
                                            <textarea id="comments" name="comments" placeholder="Your comments will be here" class="form-control" rows="3">{{report is defined and report is not null and report.comments != "" ? report.comments : ''}}</textarea>
                                        </td>
									</tr>
								</tbody>
							</table>
                          </form>
						<p>Key: <strong>A</strong>- Excellent <strong>B</strong>- Good <strong>C</strong>- Satisfactory <strong>D</strong>-Needs Improvement <strong>NA</strong>-Not Applicable (NA)</p>
                        <button type="button" id="save-report-{{report is defined and report is not null ? report.id : 0}}" class="btn mb-1 btn-primary">Save Report</a>
					</div>
                </div>
                
            </div>
