<form method="post" action="{{ path('feedback_delete', {'id': feedback.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ feedback.id) }}">
    <button class="btn mb-1 btn-danger">Delete</button>
</form>
