{% extends 'adm_base.html.twig' %}

{% block title %}Feedback index{% endblock %}

{% block body %}
    <h1>Feedback index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comment</th>
                <th>Improvement</th>
                <th>Subscription</th>
                <th>Contact</th>
                <th>Contact Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback in feedback %}
            <tr>
                <td>{{ feedback.id }}</td>
                <td>{{ feedback.comment|slice(0,20) }}...</td>
                <td>{{ feedback.improvement|slice(0,20) }}...</td>
                <td>{{ feedback.subscription }}</td>
                <td>{{ feedback.contact }}</td>
                <td>{{ feedback.contact.email }}</td>
                <td>
                    <a href="{{ path('feedback_show', {'id': feedback.id}) }}">show</a>
                    <a href="{{ path('feedback_edit', {'id': feedback.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('feedback_new') }}">Create new</a> #}
{% endblock %}
