

    

    {# <a href="{{ path('feedback_index') }}">back to list</a> #}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Leave a feedback</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{asset('wizard/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{asset('wizard/assets/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{asset('wizard/assets/css/fontawesome-all.css') }}">
    <link rel="stylesheet" href="{{asset('wizard/assets/css/style.css') }}">

    <link rel="stylesheet" type="text/css" href="{{asset('wizard/assets/css/colors/switch.css') }}">

</head>

<body>
{# {{ include('feedback/_form.html.twig') }} #}

    <div class="wrapper wizard d-flex clearfix multisteps-form position-relative">
        <div class="steps order-2 position-relative w-25">
            <div class="multisteps-form__progress">
                <span class="multisteps-form__progress-btn js-active" title="How was it?"><i class="far fa-user"></i><span>Your Comment</span></span>
                <span class="multisteps-form__progress-btn" title="Where can we improve?"><i class="far fa-user"></i><span>Your Input</span></span>
                <span class="multisteps-form__progress-btn" title="Do you want to keep learning?"><i class="far fa-user"></i><span>Get more?</span></span>
                <span class="multisteps-form__progress-btn" title="Document download"><i class="far fa-user"></i><span>Finish</span></span>
            </div>
        </div>
        {# <form class="multisteps-form__form w-75 order-1" action="#" id="wizard"> #}
        {{ form_start(form, {'attr': {'id': 'wizard', 'class': 'multisteps-form__form w-75 order-1'}}) }}
        
        {# <a href="{{asset(contact.wshop.document)}}">Download Document</a> #}

            <div class="form-area position-relative">
                <!-- div 1 -->
                <div class="multisteps-form__panel js-active" data-animation="slideHorz">
                    <div class="wizard-forms">
                        <div class="inner pb-100 clearfix">
                            <div class="wizard-title text-center">
                                <h3>Please give us a quick feedback</h3>
                                <p>How was the workshop helpful to you? Did we touch on topics that will improve your teaching?  </p>
                            </div>
                            <div class="wizard-note-subject">
                                <div class="wizard-form-input pb-100">
                                    <label>Write Your Comment</label>
                                    {{ form_widget(form.comment) }}
                                </div>
                            </div>
                        </div>
                        <!-- /.inner -->
                        <div class="vector-img-one">
                            <img src="{{asset('wizard/assets/img/vb1.png') }}" alt="">
                        </div>
                        <div class="actions">
                            <ul>
                                <li><span class="js-btn-next" title="NEXT">NEXT <i class="fa fa-arrow-right"></i></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- div 2 -->
                <div class="multisteps-form__panel" data-animation="slideHorz">
                    <div class="wizard-forms section-padding">
                        <div class="inner pb-100 clearfix">
                            <div class="wizard-title text-center">
                                <h3>Please tell us where we can improve</h3>
                                <p>Do you have suggestions on what we can do better? What would you like us to include next time? </p>
                            </div>
                            <div class="wizard-note-subject pb-100">
                                <div class="wizard-form-input">
                                    <label>Your input</label>
                                    {{ form_widget(form.improvement) }}
                                </div>
                            </div>
                        </div>
                        <!-- /.inner -->
                        <div class="vector-img-one">
                            <img src="{{asset('wizard/assets/img/vb2.png') }}" alt="">
                        </div>
                        <div class="actions">
                            <ul>
                                <li><span class="js-btn-prev" title="BACK"><i class="fa fa-arrow-left"></i> BACK </span></li>
                                <li><span class="js-btn-next" title="NEXT">NEXT <i class="fa fa-arrow-right"></i></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- div 3 -->
                <div class="multisteps-form__panel" data-animation="slideHorz">
                    <div class="wizard-forms">
                        <div class="inner pb-100 clearfix">
                            <div class="wizard-title text-center">
                                <h3>Would you like to keep learning.</h3>
                                <p>We write articles on how to teach music effectively. Would you like to receive them in your email? </p>
                            </div>
                            <div class="wizard-duration mb-60">
                                <span class="wizard-sub-text">Keep learning?</span>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="duration-option">
                                            <input type="radio" name="keep_learning" value="yes" class="d-checkbox">
                                            <span class="checkbox-circle-tick"></span>
                                            <span class="duration-box text-center">
                                                <span class="title">Yes</span>
                                                <span>Please</span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="duration-option">
                                            <input type="radio" name="keep_learning" value="no" class="d-checkbox">
                                            <span class="checkbox-circle-tick"></span>
                                            <span class="duration-box text-center">
                                                <span class="title">No</span>
                                                <span>Kindly</span>
                                            </span>
                                        </label>
                                    </div>
                                    {{ form_widget(form.subscription, {'attr': {'style': 'display:none;'}}) }}
                                </div>
                            </div>
                            <div class="wizard-form-input mb-60 mt-60">
                                <div class="line line2"></div>
                            </div>
                        </div>
                        <!-- ./inner -->
                        <div class="vector-img-one">
                            <img src="{{asset('wizard/assets/img/vb3.png') }}" alt="">
                        </div>
                        <div class="actions">
                            <ul>
                                <li><span class="js-btn-prev" title="BACK"><i class="fa fa-arrow-left"></i> BACK </span></li>
                                <li><span class="js-btn-next" title="NEXT">NEXT <i class="fa fa-arrow-right"></i></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- div 4 -->
                <div class="multisteps-form__panel" data-animation="slideHorz">
                    <div class="wizard-forms">
                        <div class="inner pb-100 clearfix">
                            <div class="wizard-title text-center">
                                <h3>You are now done!.</h3>
                                <p>Send us this feedback and you will automatically receive the document "Teaching methods and lesson quality" in your email. </p>
                            </div>
                        </div>
                        <div class="actions">
                            <ul>
                                <li><span class="js-btn-prev" title="BACK"><i class="fa fa-arrow-left"></i> BACK </span></li>
                                <li>
                                    <button title="NEXT" type="submit" class="btn">{{ button_label|default('SAVE FEEDBACK ') }}<i class="fa fa-arrow-right"></i></button>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- div 5 -->
            </div>
        {# </form> #}
        {{ form_end(form) }}
    </div>
    <script src="{{asset('wizard/assets/js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{asset('wizard/assets/js/popper.min.js')}}"></script>
    <script src="{{asset('wizard/assets/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('wizard/assets/js/slick.min.js')}}"></script>
    <script src="{{asset('wizard/assets/js/main.js')}}"></script>
    <script src="{{asset('wizard/assets/js/switch.js')}}"></script>
    <script>

      $('input:radio[name="keep_learning"]').change(function(){

            console.log($(this).val());
            var selectedval = $(this).val();

            $("#feedback_subscription").val(selectedval);

	  });

    </script>
    
</body>

</html>
