{% extends 'adm_base.html.twig' %}

{% block title %}Feedback{% endblock %}

{% block body %}
    <h1>Feedback</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ feedback.id }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ feedback.comment }}</td>
            </tr>
            <tr>
                <th>Improvement</th>
                <td>{{ feedback.improvement }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ feedback.contact }}</td>
            </tr>
            <tr>
                <th>Contact Email</th>
                <td>{{ feedback.contact.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('feedback_index') }}">back to list</a>

    <a href="{{ path('feedback_edit', {'id': feedback.id}) }}">edit</a>

    {{ include('feedback/_delete_form.html.twig') }}
{% endblock %}
