<form method="post" action="{{ path('configuration_delete', {'id': configuration.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ configuration.id) }}">
    <button class="btn mb-1 btn-danger">Delete</button>
</form>
