<div class="panel-body">
{{ form_start(form, {'attr': {'role': 'form'}}) }}
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Company Name</label>
                {{ form_widget(form.companyName, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Name of your company.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Company Email</label>
                {{ form_widget(form.siteEmail, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The company's email address.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Alternative Company Email</label>
                {{ form_widget(form.emailAlt, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The company's alternative email address.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Address</label>
                {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The company's postal address.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>City</label>
                {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The city where your company is in.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>State</label>
                {{ form_widget(form.state, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The state where your company is in.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Country</label>
                {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The country where your company is in.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Company Phone Number</label>
                {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The company's phone number.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Alternative Phone Number</label>
                {{ form_widget(form.telephoneAlt, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The company's alternative phone number.</span>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="panel-body">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label>Company Facebook URL</label>
                {{ form_widget(form.facebookId, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The company's facebook page link.</span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Company Twitter URL</label>
                {{ form_widget(form.twitterId, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The company's twitter page link.</span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Company Instagram URL</label>
                {{ form_widget(form.instagramId, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The company's Instagram page link.</span>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="panel-body">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Company Website Theme</label>
                {{ form_widget(form.websiteTheme, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The company's website theme.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Company Logo</label>
                {{ form_widget(form.companyLogo, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The company's company logo.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Company Invoice Logo</label>
                {{ form_widget(form.invoiceLogo, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The company's invoice logo.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>News Count Home Page</label>
                {{ form_widget(form.newsLength, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The number of news bulletins to appear in home page.</span>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="panel-body">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Short Date</label>
                {{ form_widget(form.shortDate, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The preferred shord date format.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Long Date Format</label>
                {{ form_widget(form.longDate, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The preferred long date format.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Time Format</label>
                {{ form_widget(form.timeFormat, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The preferred time format.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Default Time Zone</label>
                {{ form_widget(form.defTimeZone, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Default time zone.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Default Locale</label>
                {{ form_widget(form.defLocale, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Default locale for time.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Week Starts ON</label>
                {{ form_widget(form.weekStartsOn, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Which day should be first day of the week.</span>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="panel-body">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Invoice Header</label>
                {{ form_widget(form.invoiceHeader, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The text displayed on top of the invoice.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Invoice Footer</label>
                {{ form_widget(form.invoiceFooter, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The text displayed at the bottom of the invoice.</span>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="panel-body">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>List Items Per Page</label>
                {{ form_widget(form.itemsPerPage, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">Number of items in lists per page.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Invoice Page Format</label>
                {{ form_widget(form.invoicePageFormat, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The page format for invoices.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Default Currency</label>
                {{ form_widget(form.defaultCurrency, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">What will be shown before money figures.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="checkbox">
            {{ form_widget(form.siteOffline, {'attr': {'class': 'form-check-input'}}) }}
                <label for="configuration_siteOffline">
                    Put Site Offline
                </label>
                <span class="help-block">Put the whole site offline.</span>                
            </div>
        </div>
    </div>
</div>
<hr />
<div class="panel-body">
    <div class="row">
        <div class="col-lg-6">
            <div class="checkbox">
            {{ form_widget(form.showSlider, {'attr': {'class': 'form-check-input'}}) }}
                <label for="configuration_showSlider">
                    Show Slider
                </label>
                <span class="help-block">Show the sliders in home page.</span>                
            </div>
        </div>
        <div class="col-lg-6">
            <div class="checkbox">
            {{ form_widget(form.showNews, {'attr': {'class': 'form-check-input'}}) }}
                <label for="configuration_showNews">
                    Show News in Homepage
                </label>
                <span class="help-block">Show news with the sliders at home page.</span>                
            </div>
        </div>
    </div>
</div>
<hr />
<div class="panel-body">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Site Meta Keywords</label>
                {{ form_widget(form.siteMetaKeywords, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The site's meta keywords for SEO.</span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Site Meta Description</label>
                {{ form_widget(form.siteDescription, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block">The site's description for SEO.</span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-lg">{{ button_label|default('Save Configuration Settings') }}</button>

</div>
<hr />

{{ form_end(form) }}

