{% extends 'adm_base.html.twig' %}

{% block title %}Edit Configuration{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Edit Configuration</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            {# <a href="{{ path('configuration_index') }}" class="dropdown-item">Back to list</a> #}
                            {# <a href="{{ path('configuration_new') }}" class="dropdown-item">Add New</a> #}
                            {# {{ include('configuration/_delete_form.html.twig') }} #}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Edit Configurations</h4>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>CompanyName</th>
                                    <th>SiteEmail</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for configuration in configurations %}
                                <tr>
                                    <td>{{ configuration.id }}</td>
                                    <td>{{ configuration.companyName }}</td>
                                    <td>{{ configuration.siteEmail }}</td>
                                    <td>
                                        <a href="{{ path('configuration_show', {'id': configuration.id}) }}">show</a>
                                        <a href="{{ path('configuration_edit', {'id': configuration.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="31">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}