{% extends 'adm_base.html.twig' %}

{% block title %}New Configuration{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">New configuration</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">+ Configuration</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            {# <!-- item-->
                            <a href="{{ path('attachment_new') }}" class="dropdown-item">Create new</a>
                            <!-- item-->
                            <a href="{{ path('admin-communications') }}" class="dropdown-item">Back to communications</a>
                            <a href="{{path('assignment_index', {'teacher_id': teacher.id, 'student_id': student.id} )}}" class="dropdown-item">Back to assignments</a>                             #}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Configurations</h4>

                    {{ include('configuration/_form.html.twig') }}

                    <a href="{{ path('configuration_index') }}">back to list</a>
                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}