{% extends 'adm_base.html.twig' %}

{% block title %}Edit Configuration{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Edit Configuration</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('configuration_index') }}" class="dropdown-item">Back to list</a>
                            {{ include('configuration/_delete_form.html.twig') }}
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">Edit Configurations</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ configuration.id }}</td>
                                </tr>
                                <tr>
                                    <th>Company Name</th>
                                    <td>{{ configuration.companyName }}</td>
                                </tr>
                                <tr>
                                    <th>SiteEmail</th>
                                    <td>{{ configuration.siteEmail }}</td>
                                <tr>
                                    <th>Email Alternative</th>
                                    <td>{{ configuration.emailAlt }}</td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td>{{ configuration.address }}</td>
                                </tr>
                                <tr>
                                    <th>City</th>
                                    <td>{{ configuration.city }}</td>
                                </tr>
                                <tr>
                                    <th>State</th>
                                    <td>{{ configuration.state }}</td>
                                </tr>
                                <tr>
                                    <th>Country</th>
                                    <td>{{ configuration.country }}</td>
                                </tr>
                                <tr>
                                    <th>Telephone</th>
                                    <td>{{ configuration.telephone }}</td>
                                </tr>
                                <tr>
                                    <th>Alternative Telephone</th>
                                    <td>{{ configuration.telephoneAlt }}</td>
                                </tr>
                                <tr>
                                    <th>FacebookId</th>
                                    <td>{{ configuration.facebookId }}</td>
                                </tr>
                                <tr>
                                    <th>TwitterId</th>
                                    <td>{{ configuration.twitterId }}</td>
                                </tr>
                                <tr>
                                    <th>WebsiteTheme</th>
                                    <td>{{ configuration.websiteTheme }}</td>
                                </tr>
                                <tr>
                                    <th>CompanyLogo</th>
                                    <td>{{ configuration.companyLogo }}</td>
                                </tr>
                                <tr>
                                    <th>InvoiceLogo</th>
                                    <td>{{ configuration.invoiceLogo }}</td>
                                </tr>
                                <tr>
                                    <th>ShortDate</th>
                                    <td>{{ configuration.shortDate }}</td>
                                </tr>
                                <tr>
                                    <th>TimeFormat</th>
                                    <td>{{ configuration.timeFormat }}</td>
                                </tr>
                                <tr>
                                    <th>LongDate</th>
                                    <td>{{ configuration.longDate }}</td>
                                </tr>
                                <tr>
                                    <th>DefTimeZone</th>
                                    <td>{{ configuration.defTimeZone }}</td>
                                </tr>
                                <tr>
                                    <th>DefLocale</th>
                                    <td>{{ configuration.defLocale }}</td>
                                </tr>
                                <tr>
                                    <th>WeekStartsOn</th>
                                    <td>{{ configuration.weekStartsOn }}</td>
                                </tr>
                                <tr>
                                    <th>InvoiceHeader</th>
                                    <td>{{ configuration.invoiceHeader }}</td>
                                </tr>
                                <tr>
                                    <th>InvoiceFooter</th>
                                    <td>{{ configuration.invoiceFooter }}</td>
                                </tr>
                                <tr>
                                    <th>SiteOffline</th>
                                    <td>{{ configuration.siteOffline ? 'Yes' : 'No' }}</td>
                                </tr>
                                <tr>
                                    <th>ItemsPerPage</th>
                                    <td>{{ configuration.itemsPerPage }}</td>
                                </tr>
                                <tr>
                                    <th>InvoicePageFormat</th>
                                    <td>{{ configuration.invoicePageFormat }}</td>
                                </tr>
                                <tr>
                                    <th>DefaultCurrency</th>
                                    <td>{{ configuration.defaultCurrency }}</td>
                                </tr>
                                <tr>
                                    <th>ShowSlider</th>
                                    <td>{{ configuration.showSlider ? 'Yes' : 'No' }}</td>
                                </tr>
                                <tr>
                                    <th>ShowNews</th>
                                    <td>{{ configuration.showNews ? 'Yes' : 'No' }}</td>
                                </tr>
                                <tr>
                                    <th>SiteMetaKeywords</th>
                                    <td>{{ configuration.siteMetaKeywords }}</td>
                                </tr>
                                <tr>
                                    <th>SiteDescription</th>
                                    <td>{{ configuration.siteDescription }}</td>
                                </tr>
                                <tr>
                                    <th>NewsLength</th>
                                    <td>{{ configuration.newsLength }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <a href="{{ path('configuration_index') }}">back to list</a>

                        <a href="{{ path('configuration_edit', {'id': configuration.id}) }}">edit</a>

                        {{ include('configuration/_delete_form.html.twig') }}
                </div>
            </div>

        </div>
        <!-- end row -->
        
    </div>        
{% endblock %}
{% block footer %}   

{% endblock %}